[2018-04-27 20:11] greysteil opened #1 "Display details of updates remaining"
When a user has configured Dependabot to bump dependencies on a timely basis, there is no way to know how many dependency updates are left. I think it would be useful to know this number so that you can estimate when you will have everything up to date.

[2018-04-27 20:14] greysteil opened #2 "Link existing PRs to recreated update configs when possible"
Can lead to surprising results otherwise (particularly automerges).

[2018-04-27 20:15] greysteil opened #3 "Limit number of open PRs"
Currently we rate-limit to 5 PRs an update run. It would be better to limit the number of open PRs.

[2018-04-27 20:18] greysteil opened #4 "API / UI to batch add projects"
Some users have very large number os projects they would like Dependabot to run on. A batch UI, or an API for adding projects, would make installing Dependabot much easier for them.

[2018-04-27 20:19] greysteil opened #5 "Support grouping of pull requests"
See https://github.com/dependabot/dependabot-core/issues/376 for more detail.

[2018-04-27 20:20] greysteil opened #6 "Badges!"
Badges provide a great way to see whether a projects dependencies are up-to-date at a glance. With Gemnasium no longer operating, it would be particularly nice to provide them.

[2018-04-27 21:40] styfle commented on #6
Beyond badges, it would be good to link to a page showing which dependencies are out of date. This could replace https://david-dm.org

[2018-04-28 20:10] dylanharrington opened #7 "Support for yarn-offline-mirror?"
Hey, nice product!

I have a project with a `.yarnrc` at the root containing:
[code]

This causes each yarn command (e.g. add, remove) to update `npm-packages-offline-cache` with the necessary .tgz files to do an `--offline` installation, and we keep it in version control.

Does Dependabot currently support this? If not, would you consider it?

Thanks

[2018-04-29 12:03] greysteil commented on #7
censoring -> vendoring in the above comment. Rather amusing autocorrect!

[2018-05-02 12:01] tsufeki opened #8 "Bumping indirect dependencies in lock files"
From what I observed so far, dependadot creates PR only for direct dependencies of a package. Indirect ones only gets bumps as a part of direct dependency bump. However, from security standpoint, keeping up-to-date is just as important for indirect as is for direct deps.

Please consider implementing such bumping.

Thank you.

[2018-05-02 12:03] greysteil commented on #8
Thanks for getting in touch @tsufeki.

You're exactly right, however, we *do* create PRs for sub-dependencies if there's a security vulnerability in them. Does that cover your need?

[2018-05-08 09:15] hauke-altmann-as opened #9 "Javascript: Access issue with public repository"
When trying to let Dependabot scan Javascript dependencies in a private project, I get an error:

I wonder if this is a bug as the repository _glasse_ is public (https://github.com/aboutsource/glasse) or if it is necessary to change the way the dependency is added to package.json

[code]

[2018-05-08 09:19] greysteil commented on #9
Thanks for the heads up - I’ll take a look

[2018-05-08 09:31] greysteil commented on #9
Ah, I think this is going to be because it's using ssh - if you change that to use ssl it will work.

However, Dependabot ought to be able to do better here - I'll get this fixed.

[2018-05-08 20:49] greysteil commented on #9
Should now be fixed. 🎉

[2018-05-08 20:49] #9 closed

[2018-05-09 04:00] mkj28 opened #10 "Add reviewers"
Would be nice to be able to specify default reviewers for each repo.

[2018-05-09 07:31] hauke-altmann-as commented on #9
Works. Thanks a lot!

[2018-05-09 11:35] hauke-altmann-as opened #11 "How to configure access to registry.npmjs.org"
Hi there when trying to scan a Javascript project, I get this error:

I then tried to create an access Token at npmjs.com and used that one with the Dependabot config variables for Javascript. However, the error stays the same and I don't have a clue what exactly fails.

Is there documentation for this feature? Any hints?

[2018-05-09 11:53] greysteil commented on #11
This one's probably easier to debug over email - can you ping me on support@dependabot.com with the name of the repo?

Assuming nothing buggy is happening, Dependabot would raise that issue if it tried to authenticate with npm to get a private package but the authentication failed.

[2018-05-09 12:08] greysteil commented on #11
Digging into this on the most likely repo, it looks like this could be a combination of problems:
1. the token I think you entered was wrapped in quote characters. Dependabot ought to do a better job of stripping these
2. the token you entered doesn't appear to have access to the package in question, even once the quote characters are stripped
3. Dependabot could serve a better error message here

[2018-05-09 12:38] greysteil commented on #11
FYI, 1) and 3) are now implemented. Can you let me know if you have any more trouble with 2)?

[2018-05-09 12:41] hauke-altmann-as commented on #11
Thanks for the quick answer. I think the issue lies in the two affected projects, as they reference project dependencies that are private repositories and not published at all registry.npmjs.org.

A clearer error message might help here. But after all, it's a problem with our project setup, not with dependabot.

The issue can be closed. Thanks for your help!

[2018-05-09 12:42] greysteil commented on #11
👍 - feedback was still really helpful. We've now got a slightly nicer error message and some better validations 🙂

[2018-05-09 12:42] #11 closed

[2018-05-09 17:53] greysteil commented on #10
Sounds sensible to me - I've done the groundwork [here](https://github.com/dependabot/dependabot-core/commit/678a042e1b97abcb280818791bc4c78ee61bd1eb) and will add a command to Dependabot this evening. Thanks for the feedback!

[2018-05-09 18:21] davidgoate opened #12 "Option to set assignees for PR's that are created"
It'd be great if the PR's can be configured to be assigned so that we are notified about them and they appear on the https://github.com/pulls/assigned tab.

[2018-05-09 18:30] davidgoate opened #13 "Update to the latest minor / patch release if a major bump isn't desired"
would be good to be able to configure a version constraint as one suggest right now with maven is to update

e.g. Bump org.springframework.boot:spring-boot-starter-parent from 1.5.12.RELEASE to 2.0.2.RELEASE for us would have been great if it was able to suggest `1.5.13` as our code can't support `2.x` yet but `1.x` is fine and desirable.

Should we change our POM syntax from:

[code]

to use http

[2018-05-09 19:00] greysteil commented on #13
👍 , and thanks for the ping on the PR, too.

You shouldn't need to change your POM syntax for this - it would be better if Dependabot would figure it out automatically if you `@dependabot ignore this major version`, or if it tried to update you to the latest minor before jumping a major. I'll have a look at getting one of those set up, although it's not trivial so might not happen immediately.

Th

[2018-05-09 23:59] greysteil commented on #10
Deployed and documented in the `Dependabot commands and options` details object that is included on all new PRs. Thanks for the feedback!

[2018-05-09 23:59] #10 closed

[2018-05-10 00:02] mkj28 commented on #10
Thanks @greysteil !! As far as process works - when / how does it show up on https://app.dependabot.com/accounts/ourcompany/repos ?

[2018-05-10 00:05] greysteil commented on #10
I opted for making it a comment option on PRs instead - it won't show up in the Dependabot dashboard for now, but hopefully that's OK as it will be pretty obvious from the PRs what it's doing.

The process is:
- Tag a reviewer in a PR
- Comment `@dependabot use these reviewers` on that PR
- Dependabot will comment in confirming that from now on it will tag those reviewers

Does the above work for

[2018-05-10 00:14] mkj28 commented on #10
YEAH!

[2018-05-10 09:50] chrvadala opened #14 "Avoid unnecessary PR"
Hi guys,
I think that when there's a new bump release on a package that has an already open PR, you can just upgrade that PR avoiding to open a new one.

Let's see this history, that happened in just 3 days:
Bump webpack from 4.1.1 to 4.6.0 https://github.com/chrvadala/react-svg-pan-zoom/pull/99
Superseded by https://github.com/chrvadala/react-svg-pan-zoom/pull/101

Bump webpack from 4.1.1 to 4.7.

[2018-05-10 09:52] greysteil commented on #14
Makes sense to me - I don't think anyone's particularly attached to the old PRs. It's not a totally trivial change, but I should be able to get to it pretty quickly.

Thanks for the feedback!

[2018-05-10 09:58] davidgoate opened #15 "Per repo daily bump scan"
If the org has a large number of repos and all the bumps happen at the same time (e.g. 05:00 UTC) then the CI such as jenkins gets immediately hit with a large number of PR's which causes the executors to get very busy. Would be good to stagger them, perhaps per repo or some delay between opening PR's.

[2018-05-10 12:18] davidgoate commented on #13
@greysteil thanks for the advice, I used `@dependabot ignore this major version` and dependabot closed the PR. However, I then triggered a rebump and it has not suggested an upgrade to the latest version of 1.x. Currently we have `1.5.12.RELEASE` and I was hoping after ignoring the major version it would then suggest on the next rebump the `1.5.13.RELEASE` but this doesn't seem to be the case.

[2018-05-10 23:45] greysteil commented on #12
Shipped! There's an example of this in use [here](https://github.com/dependabot/dependabot-core/pull/472), and instructions on the command will be included in the helper text on all new PRs.

Thanks for the feedback!

[2018-05-10 23:45] #12 closed

[2018-05-13 10:34] xRahul opened #16 "Android Gradle Update Not updating Properties"
https://github.com/xRahul/Android-Logs/pull/1

com.android.tools.build:gradle from 2.2.3 to 2.3.3
requires

[2018-05-15 06:42] simondel opened #17 "Ask for confirmation before deleting a language from a project"
Right now, when I delete a language from a project, I don't get any confirmation and it would be nice to get one.

[2018-05-15 06:44] simondel opened #18 "Show directory path on the website"
When a language has been configured using a directory path, it would be nice to be able to see it (instead of having to hover over the `i` sign).

Since there is plenty of whitespace, I don't think space would be an issue:
![image](https://user-images.githubusercontent.com/4221997/40040832-1dd67bdc-581c-11e8-9060-ad58eea59b39.png)

[2018-05-15 06:50] ianwremmel opened #19 "Is there a list of the comment commands @dependabot can interpret?"

[2018-05-15 06:53] rosolko opened #20 "Check also plugins version for java gradle projects."
For example I'm adding versioned plugin to project:
[code]
And I will be nice if bot can check this version also.
Like [gradle versions plugin](https://github.com/ben-manes/gradle-versions-plugin) does.

[2018-05-15 07:57] greysteil commented on #19
Yes - it’s in the `Dependabot commands and options` details tag on each Dependabot PR 🎉

[2018-05-15 07:57] #19 closed

[2018-05-15 12:12] greysteil commented on #17
You mean an "Are you sure you want to delete this language" modal?

I'm 👍 on that - too easy to accidentally click `delete` when you mean `edit` at the moment/

[2018-05-15 12:32] simondel commented on #17
Amazing as always!

[2018-05-15 13:34] greysteil commented on #18
That looks really non-ideal!

I *think* a better solution would be for me to finish up adding Lerna support, so that all of the above could be combined into a single update config. That would mean getting a single PR to bump a version in all of your packages, though - would that work? If not I'll have a think about a nicer way to show diretory.

[2018-05-15 13:35] simondel commented on #18
Sounds good!

[2018-05-15 13:35] #18 closed

[2018-05-15 15:27] greysteil commented on #20
Thanks for the feedback. Our Gradle support is pretty rough at the moment, but getting it perfect is my next big priority. 🙂

[2018-05-15 15:28] greysteil commented on #15
Interesting, thanks for the feedback David (and sorry for the slow reply).

For your use case, is it not enough to be able to set the update run time to be in the middle of the night? It would totally be possible for me to add per-repo config, but I don't want to add the complexity if it can be avoided.

[2018-05-15 15:53] greysteil commented on #15
👍 - I'm going to keep this open but not prioritise it in that case. I'll keep trying to mull over a simple solution to it, too.

[2018-05-15 16:51] davidgoate commented on #13
@greysteil is this on the roadmap. I know maven support is beta. It'd be super useful for us in particular - most of our projects are maven based and there are quite a few alternatives for our JS based projects some of which are free. But this seems to be one of the few that look good with maven support so having this type of support would be really valuable for us. We're about 1/2 way though our

[2018-05-15 17:43] greysteil commented on #13
It's absolutely on the roadmap. Which languages are you most interested in it for? For Java I ought to be able to get it done tomorrow. (It's *much* harder for some languages than others.)

[2018-05-15 18:43] ianwremmel commented on #19
Oh, nice. Thanks! Honestly, that's the last place I would think to look; I expect automated posts to have very little useful detail and lots of cruft :)

Maybe these commands could also go on the website somewhere?

[2018-05-15 18:49] ianwremmel commented on #19
no problem, thanks for the great tool!

[2018-05-15 18:51] ianwremmel opened #21 "trackable configs?"
The controls available via comment commands are pretty great, but once I set a particular option (e.g. label ruby deps with `backend`), I'm not aware of that decision being retrievable. I'd love to be able to set assignees, labels, etc via e.g. `.config/dependabot.yml` (yml because json doesn't support comments in general).

[2018-05-15 18:52] ianwremmel commented on #21
As an additional enhancement, it might be handy if dependabot could manipulate that config file.

[2018-05-15 21:33] davidgoate commented on #13
@greysteil just java for us!

[2018-05-16 11:55] greysteil commented on #13
OK, this is done and deployed for Java. (I tested it against one of your repos, noticed a bug, and fixed it - sorry for the incorrect 2.0.0.RELEASE pull request generated.)

Please do let me know how you get on with this. I'm going to keep it Java-only initially to check the flow doesn't confuse anyone, but assuming it doesn't I'll roll it out to other languages.

Thanks for the feedback!

[2018-05-16 11:55] #13 closed

[2018-05-16 12:32] greysteil commented on #3
Initial design:
![image](https://user-images.githubusercontent.com/1144873/40117016-9019a61e-590d-11e8-9c26-c6105231d66d.png)

[2018-05-16 13:42] davidgoate commented on #13
@greysteil thanks, we will give it a try. I forced a bump just now on 5 repos and on one of those it was worked while the others continue to show the 2.x version. How should this work, should I go to each PR and ask `@dependabot to ignore the major version` and then ask for a re-bump manually at which point it'll suggest the latest 1.x version?

[2018-05-16 13:53] greysteil commented on #13
Yes exactly - once Dependabot knows you’re avoiding a version it will generate PRs for lower ones

[2018-05-16 16:35] greysteil commented on #3
Shipped! cc @bustikiller @chrvadala

[2018-05-16 16:35] #3 closed

[2018-05-16 17:20] bustikiller commented on #3
Thanks @greysteil !

[2018-05-16 17:26] greysteil commented on #21
I'm up for this in the long term, but in the short term I want to keep iterating the UI and setting for Dependabot, and committing to a `dependabot.yml` would slow down the iteration cycle.

I'm going to close this for now, but I'll keep it in mind - I can totally see the use case. Thanks for the feedback all the same. ❤️

[2018-05-16 17:26] #21 closed

[2018-05-16 17:52] ianwremmel commented on #21
no problem, makes sense. maybe in the shorter term: can there be a comment command for request that config?

[2018-05-17 10:52] sjoerdtalsma opened #22 "Support projects without requiring write-access"
Since _dependabot_  already creates pull requests, it could do so in its own `dependabot` space.
I tried the bot just now on my Java project and absolutely love it, but will remove it again because it requires **write** access to the repository.

Instead I think the :robot: should behave like any decent open source user and create pull-requests from its own repository. Giving out write access shou

[2018-05-17 11:03] greysteil commented on #22
Thanks for the feedback!

Unfortunately Dependabot is between a rock and a hard place on this one - for private repos we really don’t want to clone your repo and create PRs from a fork (there are security concerns, and it’s not the expected flow). GitHub’s app permissions are one-size-fits-all, so while it would be ideal for us to treat public and private projects differently there’s no straightfo

[2018-05-17 11:11] sjoerdtalsma commented on #22
I see. Maybe create a `dependabot-os` variant that clones repo's and keep the current bot as it is?
I agree that is an unwanted situation though that _really_ should be handled by GitHub. Is there any ticket I can upvote? :wink:

[2018-05-17 16:43] davidgoate opened #23 "Maven Wrapper Feature Suggestion"
Some projects in the java maven world make use of the maven wrapper: https://github.com/takari/maven-wrapper

which lets a developer set the version of maven and have the build more consistently.

Updating the version requires automatic updating of the folder `.mvn/wrapper/maven-wrapper.properties`

e.g. `distributionUrl=https://repo1.maven.org/maven2/org/apache/maven/apache-maven/3.5.2/apache-mav

[2018-05-17 16:48] davidgoate opened #24 "Feature Suggestion OWASP Scan"
dependabot could perhaps provide reports on java maven projects after analysing the dependencies in `pom.xml` with the OWASP scanner https://www.owasp.org/index.php/OWASP_Dependency_Check and provide badges or PR status checks for PR's being created by developers in their normal workflow

[2018-05-18 08:36] greysteil commented on #23
Interesting. Looks like this would be similar to the vendoring requests for Ruby, PHP, and pretty much every other language 😓. It's another reason for me to add vendoring support to Dependabot in general - I'll definitely get to it.

[2018-05-18 08:39] greysteil commented on #23
Closed in favour of https://github.com/dependabot/dependabot-core/issues/485 (because this is a Dependabot Core issue).

[2018-05-18 08:39] #23 closed

[2018-05-18 08:40] greysteil commented on #24
Thanks @davidgoate. I'm really keen to add security checking for Java - will take a look at this in the next couple of weeks.

[2018-05-22 05:26] simondel commented on #15
In my case, the project we're working is mainly a spare time project. Right now, I sometimes have time to merge some Dependabot PRs during breakfast but not always because the builds may still be running. (We cannot automerge due to branch policies)

Either scheduling all jobs earlier or allowing set a time to schedule a repo's jobs would both work for us.

[2018-05-22 08:17] davidgoate commented on #15
@simondel you can set a global time for all repos to run already in the advanced settings, so you could change all of your bumps to run 3/4 hours earlier for example I think this would solve your issue. I think the default is 05:00 UTC but you can modify this in your org settings.

[2018-05-22 08:25] simondel commented on #15
@davidgoate Awesome! I didn't look at the settings there. I only looked at the settings in the repo. Thanks :)

[2018-05-23 10:41] sobolevn opened #25 "Make requirement update style configurable"
This is a question mostly.

For some reason in my `js` packages dependabot does not update `package.json`.
Link: https://github.com/wemake-services/eslint-config-flowtype-essential/pulls?q=is%3Apr+is%3Aclosed

This has actually resolved in this bug: https://travis-ci.org/wemake-services/wemake-vue-template/builds/382561571

Dependency tree:
- wemake-vue-template (@dependabot is active)
- - eslint-

[2018-05-23 10:47] greysteil commented on #25
This is by design, but it causes a bit of confusion - I should probably make it configurable.

For libraries, Dependabot tries to keep the version range in the `package.json` as wide as possible. If a new version is already covered, that means leaving the `package.json` alone and just updating the lockfile. The thinking here is that some people might be doing a flat install, so the library should

[2018-05-23 10:51] sobolevn commented on #25
Yeap, that's confusing.

I would prefer to have a setting for this. Personally, I would switch it to `update both`.

[2018-05-24 08:55] davidgoate commented on #24
@greysteil not indeed not! I think our card fraud system kicked in a didn't like the sudden payment so it failed! We will contact the card company today and see if we can resolve. I'm hoping all of our repos are still configured in dependabot and I don't have to start from scratch again adding them all and configuring reviewers and assignees and ignored major versions etc. Love the product and wil

[2018-05-24 08:57] greysteil commented on #24
That’s great news.

Dependabot will continue to work as normal in the meantime - you’ll just get a note on any PRs that it creates warning you that your private repos would be deactivated in a week or so if payment wasn’t set up again.

Thanks for all your feedback over the last couple of weeks!

[2018-05-24 08:59] davidgoate commented on #24
@greysteil on that note it would be awesome to be able to configure a team or people as reviewers and assignees globally for the organisation per technology, e.g. java pulls, docker pulls, JS pulls for ALL repos in the org. I really love the innovative chat bot nature of just tagging `@dependabot` in the PR but the downside is for each repo i need to first wait for the first PR to arrive, manually

[2018-05-24 09:01] greysteil commented on #24
Interesting. I'm planning to release an API today or tomorrow that would make that possible, but having a "defaults" section at the account level sounds sensible, too. I'll have a think about how to implement it.

[2018-05-24 14:09] floretan opened #26 "Update php packages with --with-dependencies"
We had an issue where a PR created by dependabot updated one of the packages, but didn't update the dependent package which caused an error. In this specific case there were some issues with a missing stability requirement in the package's composer.json, but in general it would be nice to run composer updates with the `--with-dependencies` parameter, or at least to make that an option.

[2018-05-24 16:40] greysteil commented on #26
Done in https://github.com/dependabot/dependabot-core/commit/7f1097a5bc2be85cd79d036a7454a4dd8f5be1a8, which is now live. I'm relatively confident this is an option that everyone will want enabled, but will revisit making it configurable if it causes any trouble.

Thanks for the feedback!

[2018-05-24 16:40] #26 closed

[2018-05-28 03:12] adriens commented on #6
Yes, please, badges and dashboard for reports on dependencies

[2018-05-28 03:40] adriens opened #28 "PR that did totally override my pom.xml dependency versions"
See https://github.com/adriens/schemacrawler-deb/commit/ad8ad1c958553f407a56c5aed7a119980a915270

see https://github.com/adriens/schemacrawler-deb/pull/16

Dependabot did replace all properties with the project.version properties, injecting a value instead of a variable...and not the good one :

![selection_016](https://user-images.githubusercontent.com/5235127/40596177-f77adaa0-6284-11e8-814d-96e

[2018-05-28 05:04] adriens opened #29 "Be able to mute dependencies upgrades"
As it was possible on versioneye, be able to mute dependencies upgrade.

[2018-05-28 06:45] greysteil commented on #29
Thanks for the feedback @adriens. You can mute dependencies by commenting `@dependabot ignore this dependency`, and there are details of all of the Dependabot commands possible in the "Dependabot commands and options" section included on each PR. Does that cover your use case?

[2018-05-28 07:45] greysteil commented on #28
Oh dear, sorry about that! The underlying issue here was that Dependabot's file-updating code was too permissive - it was trying to update the `${project.version}` code, but instead picked up all `<version>` nodes. I've fixed that in https://github.com/dependabot/dependabot-core/commit/e7468e4b6211a647394c5330e7f335905229c326, which is being released now.

Apologies for the bug, and thanks for rep

[2018-05-28 07:45] #28 closed

[2018-05-28 07:49] #29 closed

[2018-05-29 00:26] adriens commented on #29
Hi @greysteil , thanks for very quick answer. you mean that i should comment

```@dependabot ignore this dependency```

directly in the PR ?...and it will do the job ?

[2018-05-29 00:29] adriens commented on #28
great, for now we are evualating dependabot which seems to cover our needs.

happy to have contributed to a bug finding :smile_cat:

By chance, Travis Ci did tell it to me on the PR :+1:

[2018-05-29 00:35] greysteil commented on #29
Yes, exactly!

[2018-05-29 00:39] adriens commented on #29
LOL, this is excellent, i trully <3 the code based approach :+1:

Thanks a lot for answer :pray:

[2018-05-29 14:22] kmoe opened #30 "Request: stop asking about labels"
Whenever the label of a dependabot PR changes, dependabot posts two comments on the PR reminding me how to set a default label.

![dependabot_label](https://user-images.githubusercontent.com/5575356/40664918-e7642804-6353-11e8-8041-724476296572.png)

Is there a way to stop it from doing this?

[2018-05-29 14:31] greysteil commented on #30
Ack, that's an annoying race condition. I reckon we can probably do away with that comment entirely now that Dependabot lists its help commands in the PR text, though - I'll do that now.

[2018-05-29 14:35] greysteil commented on #30
Change deploying now. Thanks for the feedback!

[2018-05-29 14:35] #30 closed

[2018-05-29 14:38] kmoe commented on #30
Thanks for the quick response!

[2018-05-29 21:30] adriens commented on #29
Sorry for last minute question : how do you ```un-ignore``` dependency please ?

[2018-05-29 21:31] greysteil commented on #29
If you re-open the PR, or make a change to it yourself, then Dependabot will unignore it. 😄

[2018-05-29 23:53] adriens opened #31 "Versions not respecting maven release version schema"
Hi,

some deps do not respect the release schema like ```xstream``` :

```Bump xstream from 1.4.10 to 1.4.10-java7```

See, the one without ```1.4.10-java7``` is the old one while the ```1.4.10``` is the good one.

On the dependabot, would it possible, on you side (versioneye was doing the job), not to report this dependency upgrade ?

Use case : see https://github.com/adriens/schemacrawler-deb/pu

[2018-05-29 23:57] greysteil commented on #31
Ah, interesting, I've been wondering about these for a while.

In theory (according to Maven's version number progression details) the `-java7` release is a higher number, but I can full see why we'd want to treat it specially. Perhaps I could put together an exhaustive list of such suffixes to handle specially? I've seen `-android` and `-jre` - what other ones should I be aware of?

[2018-05-30 00:39] greysteil commented on #29
Good shout - I need to get around to writing an FAQ for Dependabot!

[2018-05-30 00:43] greysteil commented on #4
Done! https://github.com/dependabot/api-docs 🎉

[2018-05-30 00:43] #4 closed

[2018-05-30 01:39] adriens commented on #6
You can get a kind of dashboard by using advanced Github issue earch, for example, in my case :

The closed PR i had from dependabot on all my repos :

`org:adriens is:pr author:app/dependabot is:closed`

[2018-05-30 01:41] adriens commented on #31
Hmmm, i saw some some few other one i think. Let me search for them. I'll let you know ASAP. :+1:

[2018-05-30 01:56] dwieeb commented on #5
I would love to have `@dependabot group with #123`.

Could it support multiple PR #'s? i.e. `@dependabot group with #123 #124 #125`

[2018-05-30 21:28] adriens commented on #6
Sure we do ! :smile_cat:

[2018-05-30 22:15] adriens commented on #31
I got a new one : see https://github.com/adriens/schemacrawler-deb/pull/19

```Bump mssql-jdbc from 6.4.0.jre8 to 6.5.2.jre9-preview```

see https://mvnrepository.com/artifact/com.microsoft.sqlserver/mssql-jdbc :

[code]

you get these ones :

- `6.5.2.jre9-preview`
- `6.5.2.jre8-preview`
- `6.3.6.jre7-preview`

[2018-05-30 22:36] greysteil commented on #31
I'll add special casing for all of these tomorrow. Thanks for the feedback, and hunting some down!

[2018-05-30 22:41] adriens commented on #31
I love :gun:  :duck: :rofl:

[2018-05-30 23:30] greysteil commented on #31
First version of a fix is https://github.com/dependabot/dependabot-core/commit/ecc5c86892b54d9f9869418e8b83054699ea9784. I'll deploy that tomorrow (internet isn't good enough where I am right now).

[2018-05-30 23:30] #31 closed

[2018-05-30 23:38] adriens commented on #31
Great news ! Thanks a lot !

[2018-05-31 09:28] davidgoate opened #32 "Maven bill of materials in milestore repo question."
In my pom.xml i have

[code]

2 days ago `Finchley.RC2` was released but dependabot hasn't suggested the upgrade. I was wondering whether this was because it's not yet on maven central or is there another reason this didn't get bumped?

[2018-05-31 09:39] greysteil commented on #32
Hmmm, that sounds like a bug - Dependabot should have found that. Let me take a look.

[2018-05-31 09:47] davidgoate commented on #32
Ok thanks! Let me know if it's something wrong we have done in our POM!

[2018-05-31 09:50] greysteil commented on #31
Deployed!

[2018-05-31 10:38] davidgoate opened #33 "Feature suggestion for Java source files"
We have uses cases where we reference docker image tags inside java source files. the main usecase for this is in integration tests as we use docker junit and a file might look like:

[code]

I'd be great if `.java` files could be scanned - I understand that it could be tricky to look for docker image tags inside strings of source files and perhaps costly.

What if there were either a source reten

[2018-05-31 20:58] adriens commented on #31
Thanks a lot !

[2018-05-31 21:49] greysteil commented on #32
Update: I don't think Dependabot can handle non-numeric versions like this at all. I'll have a look at fixing that.

[2018-05-31 22:14] davidgoate commented on #32
Thanks, would be a great feature. In the spring cloud ecosystem this is really common 🎉

[2018-06-02 21:56] greysteil commented on #32
Fixed in https://github.com/dependabot/dependabot-core/commit/9c86c57088b428cb8ced4834c8f9f8f4643563fe, which will be deployed tomorrow (evening). 🎉

[2018-06-02 21:56] #32 closed

[2018-06-02 21:58] davidgoate commented on #32
@greysteil awesome thanks!

[2018-06-04 09:06] greysteil opened #34 "Feature: Option to receive notification when a PR rebase finishes"
See https://github.com/dependabot/dependabot-core/issues/522 for details.

[2018-06-04 16:22] rdunlop opened #35 "Unable to add github repo which is dependent upon private gem in another organization"
On SuperBetterLabs/SuperBetter-iPhone we are dependent upon tablexi/mobile-deploy (a private repo), but we are unable to grant access via the marketplace configuration (apparently because it's a different organization?).

Is there a way to resolve this?

[2018-06-04 17:47] rogerhu opened #36 "Change From name"
The brackets in "dependabot[bot]" can't be filtered by Gmail.  Is there a way to provide an option to change the From name?

[2018-06-04 18:04] greysteil commented on #36
I think we *might* be able to change this to `dependabot-bot` without too much trouble - would that make gmail filtering easier?

[2018-06-04 18:05] rogerhu commented on #36
Yes assuming the filters are ok with the dashes! (Which I think they are)

[2018-06-04 18:12] greysteil commented on #36
👍 - do you want to check, before I try to make the change?

[2018-06-05 00:27] rogerhu commented on #36
Tested by sending myself emails with dashes.  It appears to work fine.

[2018-06-05 01:43] adriens opened #37 "Microsoft acquisition"
According to Microsoft latest news,...will anything change for dependabot ?
![selection_002](https://user-images.githubusercontent.com/5235127/40950321-01ad4230-68be-11e8-97db-b08ce6878757.jpg)

[2018-06-05 05:42] jacobwgillespie opened #38 "Edited by someone other than Dependabot"
I sometimes get this message, for instance at https://github.com/jacobwgillespie/styled-icons/pull/122.  As far as I know, nothing other than Dependabot has updated that PR.

[2018-06-05 06:58] greysteil commented on #37
It shouldn’t do - Microsoft have said they’re committed to continuing to build GitHub as a platform for other apps, so I don’t see any reason anything will change with Dependabot.

If we see a large number of people moving to GitLab it will increase the priority that we add support for that, though.

[2018-06-05 06:58] #37 closed

[2018-06-05 07:00] greysteil commented on #38
Thanks for the head up - I’ll dig into it.

[2018-06-05 10:10] greysteil commented on #36
Frustratingly, on closer inspection it looks like there's no way for us to change the From name in the emails you get from GitHub - it's determined by the user who creates the PR, and for GitHub integrations is always suffixed with `[bot]`. All I can suggest is speaking to GitHub themselves 😞

[2018-06-05 10:10] #36 closed

[2018-06-05 15:25] rdunlop opened #39 "Feature: Auto-merge certain gems"
It would be really nice if I could mark certain gems as auto-merge. (a whitelist of gems to auto-merge)

On a daily basis, I get dependabot PRs against gems which make frequent releases....and don't need any manual review/evaluation (like aws-sdk, rspec, etc).

I also get PRs for gems which require much more involve evaluation (and may not cause my CI suite to fail, because the "failure" may be mo

[2018-06-05 16:35] greysteil commented on #38
@jacobwgillespie - have you definitely seen this before? Dependabot has a different commit SHA stored against that PR, but I can't think of any reason how it could have got that wrong...

[2018-06-05 16:51] greysteil commented on #38
Ah, actually, I think I get it. The registry went a little haywire and sent Dependabot a *lot* of hooks about that particular release, which triggered a lot of contemporaneous update runs. This is going to be race-condition related. I'll keep digging...

[2018-06-05 17:51] greysteil commented on #38
OK, race condition is now fixed so this can't happen again. I'll update the head commit for that PR on Dependabot's side manually now, too.

Thanks for reporting this!

[2018-06-05 17:51] #38 closed

[2018-06-05 22:19] jacobwgillespie commented on #38
Awesome, thanks!  Yeah, this is the 2nd or 3rd time I'd seen this, so nice to have it fixed!  🎉

[2018-06-05 22:21] greysteil commented on #39
I'm definitely 👍 on that. I'm powering through a bunch of small bug fixes right now (was on holiday last week), but adding a bunch of merge settings is the next big change I'd like to make.

[2018-06-06 17:31] suhlig opened #40 "Private repos for education?"
I am teaching a university course and I host the sources in a _private_ GitHub repo that I got through their "GitHub Education" programme. I'd like to use Dependabot for that project, too. But with the free plan I cannot use private GitHub repos.

Does Dependabot offer a free plan for educational institutions?

[2018-06-06 17:34] greysteil commented on #40
I'd really like to get Dependabot included in the GitHub Education programme - fancy dropping education@github.com an email suggesting it?

In the meantime, if you sign up for a free account and ping me the organisation name then I'll set your account to have full access to private repos 🙂.

[2018-06-06 21:35] suhlig commented on #40
Awesome; thanks! The org is uhlig-it.

I‘ll be writing to education@github.com too.

[2018-06-06 23:45] greysteil commented on #40
Great - you're all set up! 🎉

[2018-06-06 23:45] #40 closed

[2018-06-07 14:09] exactlyaron opened #41 "Feature: Deeper control over bumping frequency"
Hi,

It would be really nice to have a deeper control over bumping frequency.

For example, we've started doing weekly & bi-weekly Friday show and tells.  It would be nice to have the ability to set a specific day for bumping to happen.  The magic happens and a show and tell build is ready with the latest and greatest to show off to our customers.

Rather than having to remember to manually bump,

[2018-06-07 14:11] greysteil commented on #41
Did you check out the account settings in your dashboard (drop down on the top right)? If you've got a repo set for weekly bumping you can choose the day of the week that that happens in there 🙂.

[2018-06-07 14:19] exactlyaron commented on #41
Yeah I have, that effects all repos...?  If it could be defined on a repo basis that would be good. 😄   I probably should have clarified, at the moment it's Friday for one customer, another it's probably going to be a Wednesday.

[2018-06-07 15:06] #35 closed

[2018-06-07 15:07] greysteil commented on #41
Ah, OK, that makes sense. I'm going to mark this as a dup of https://github.com/dependabot/feedback/issues/15, but I agree we could do better on this one.

[2018-06-07 15:07] #41 closed

[2018-06-07 17:53] ssbarnea opened #42 "How to configure it for open-source organisations?"
The Python project I maintain are almost always hosted under organisations on GitHub and so far I was not able to find the option to select them.

The current option is to pick only from repositories under my own account, which is pretty useless as these are usually only forks.

What is the trick that we need to do to configure organizations?

Update: I  was able to figure it out, is named "add bi

[2018-06-07 19:17] greysteil commented on #42
Sorry about that! The interface is controllled by GitHub, but if you go to the drop down in the top right of your account and try to add a new organisation you should be able to see all of the pegs GitHub will give you access to. It *may* be that you need to ask an org owner to add Dependabot - sorry about that if so, I’d change it if I could.

[2018-06-07 19:17] greysteil commented on #42
Just saw your update - glad you were able to figure it out, and apologies for the GutHub UI!

[2018-06-07 19:17] #42 closed

[2018-06-07 19:19] greysteil commented on #42
Cc @chobberoni - I get feedback like the above a lot!

[2018-06-07 23:03] adriens opened #43 "Our organization is interested in subscribing an Unlimited Plan"
Our [organization](https://github.com/DSI-Ville-Noumea) , Nouméa TownHall is interested un subscribing to an unlimited account.
You will be contacted i nthe next days by people from AgileSoft , probably [Thomas Lemaire](https://github.com/ThomasLemaire) or  or [Pascal Leléannec](https://github.com/leleannec)  as it is diffcult for us to pay by credit card as a public organisation.
So, at the end,

[2018-06-07 23:08] greysteil commented on #43
Hi Adrien,

That's great news - please ask them to contact me on support@dependabot.com and I'm sure we'll be able to figure something out.

Best,

Grey

[2018-06-07 23:08] #43 closed

[2018-06-08 01:01] adriens commented on #43
Great, thanks for answer !

[2018-06-08 03:00] adriens commented on #43
I've just dropped you an :email:

[2018-06-08 14:30] greysteil commented on #33
Sorry for the slow reply on this one - somehow missed it.

This is a good idea, but will be tricky with the current Dependabot setup. Specifically, Dependabot doesn't clone your repo so it would be hard for it to know which files to pull down. Definitely solvable, but I think one for the backburner for now.

Thanks for the feedback!

[2018-06-10 03:28] l0s opened #44 "Publish PGP Key"
I'm glad to see that Dependabot is [signing commits](https://dependabot.com/blog/signed-commits). When browsing commits through GitHub, I see that the signatures are verified. However, when browsing commits from the command line using `git log --show-signature`, I see the following message:

    commit bf52ced07e44c9cda73e3bfc0f8b7c83d3dbff51
    gpg: Signature made Sun Apr 15 14:43:12 2018 PDT

[2018-06-10 20:52] doughsay opened #45 "Elixir: consider running `mix deps.unlock --unused` when bumping"
When bumping a dependency that changes sub-dependencies, the sub dependencies will linger in your `mix.lock` unless you run `mix deps.unlock --unused`.

Here's an example: https://github.com/peek-travel/tipalti-elixir/pull/13

excoveralls from 0.8.2 to 0.9.0 swapped out their use of `jsx` with `jason`.  `jsx` is now no longer a transitive dependency of my project, but it's going to remain in the l

[2018-06-10 20:57] doughsay commented on #45
(note that I checkout out the PR branch, manually ran the command and updated the PR after I opened this issue)

[2018-06-10 20:59] greysteil commented on #45
Great shout - we should do this. Fancy taking a look at the Elixir code [here](https://github.com/dependabot/dependabot-core/blob/master/helpers/elixir/bin/do_update.exs) to make that change? I can do it, but contributions are always welcome 🙂.

[2018-06-10 22:53] greysteil commented on #45
Relevant `mix` code is at https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/tasks/deps.unlock.ex

[2018-06-11 09:42] greysteil commented on #45
Fixed in https://github.com/dependabot/dependabot-core/commit/90e62bf7b6eba0260591bae7e725d06c88c2cf74

[2018-06-11 09:42] #45 closed

[2018-06-11 11:22] ssbarnea opened #46 "urls going to empty pages"
Apparently clicking on package named points to  something that looks like
https://app.dependabot.com/accounts/pycontribs/https://github.com/pycontribs/jira

See http://s3.sbarnea.com/ss/Dependabot_2018-06-11_12-22-05.png

[2018-06-11 11:31] greysteil commented on #46
Fix deploying now. Thanks for the heads up!

[2018-06-11 11:31] #46 closed

[2018-06-11 13:51] greysteil commented on #45
Update: I've had to revert that commit as it was causing some errors. I'll dig into them and try to figure out the cause.

[2018-06-11 14:29] greysteil commented on #44
Thanks for the heads up! I've pushed the public key and verified that `git log --show-signature` now shows good signatures.

[2018-06-11 14:29] #44 closed

[2018-06-11 18:49] l0s commented on #44
Thanks!

[2018-06-12 12:57] jvdlaar opened #47 "Elasticsearch docker image needs authentication"
I have a docker image that contains:
[code]
Which is the official elasticsearch docker image. But dependabot says:

But as far as I know the elasticsearch docker image is open for everyone without authentication. What to do?

[2018-06-12 12:58] greysteil commented on #47
Hmmm, this could be due to a transitory timeout issue on the part of the registry. Let me dig into it and get back to you.

[2018-06-12 17:13] RoryO opened #48 "Feature Suggestion: multiple tags per PR"
When a project has multiple languages in one repo you cannot tell from the PR list what language the dependency belongs to. For instance, in a Rails or Django app there are both Ruby/Python and NPM  dependencies. Adding a tag with the language helps quickly sorting and routing to the right people.

[2018-06-12 17:53] greysteil commented on #48
There's an option to set this up manually (just comment `@dependabot uses these labels` on a Ruby PR with the right labels, and then the same on a Python one using different labels), but I quite like the idea of doing it by default - I'll have a look at getting that setup 🙂.

[2018-06-12 17:54] greysteil commented on #48
(And thanks for the feedback!)

[2018-06-12 19:07] greysteil commented on #47
This is definitely a bug on our side. I’ll fix it today

[2018-06-12 23:39] greysteil commented on #47
Fixed. Thanks so much for the bug report, and sorry you ran into this. (You're already on the latest version of that container, so Dependabot didn't bump your version, but it will if/when a new one is released.)

[2018-06-12 23:39] #47 closed

[2018-06-12 23:40] greysteil commented on #47
(And just FYI, the fix was [this commit](https://github.com/dependabot/dependabot-core/commit/9d8bf59c1d1073f1a70f5b2076c23625145dd53a).)

[2018-06-13 06:55] jvdlaar commented on #47
Thanks this seems to solve the error in our situation :+1:

[2018-06-13 13:53] matiaskorhonen opened #49 "Conservative security updates"
Please support a mode that creates PRs with the minimum update required to solve security issues.

e.g. if rails 4.2.7.1 has a security issue that's solved by 4.2.7.2, don't try to bump the version all the way up to 5.2.0.

[2018-06-13 22:23] adriens opened #50 "Support for jitpack repos"
Hi guys, is dependabot supporting [jitpack](https://jitpack.io/) repos ? We are using jitpack, and it's a very conevenient way to publish artefacts.

Thank you in advance for your help.

[2018-06-13 23:36] adriens opened #51 "REST API to add dependabot to a repo"
It would be very useful to be able to call the API (REST or python) to add dependabot to a repo by running a script.

[2018-06-13 23:37] adriens opened #52 "Add dependabot by default on a repo that is tagged as Java"
...or add it by default to any freshly created repo on a given organization.

[2018-06-14 03:28] greysteil commented on #51
https://github.com/dependabot/api-docs 🎉  (I should advertise this better.)

[2018-06-14 03:28] #51 closed

[2018-06-14 03:30] greysteil commented on #52
I'm 👍 on this as a setting. Needs careful thought, and to be a setting, but I think Dependabot's onboarding experience for new repos could be better.

[2018-06-14 14:01] exactlyaron opened #53 "Improvement of conventional commit messages"
Hello, (yes, me again)

I've done a bit of a search;

https://github.com/dependabot/dependabot-core/issues/246
https://github.com/dependabot/dependabot-core/issues/192

Because of the way things are going we're moving away from the monorepo approach and having things separate to make it easier for publishing and building.

So we're using [semantic-release](https://github.com/semantic-release/seman

[2018-06-14 16:28] dwieeb opened #54 "Feature: Peer Dependencies for node/npm"
I'm not sure the best way to handle this, but dependabot does not seem to look at peer dependencies.

Because peer dependencies are often added as dev dependencies as well (so that the package exists during development), a possible additional feature (perhaps when https://github.com/dependabot/feedback/issues/5 is accomplished), is to group the peer dep with the dev dep.

References:
- https://doc

[2018-06-14 17:54] greysteil commented on #49
Interesting. I'm totally +1 on this, and will add it to my backlog.

[2018-06-14 21:21] styfle opened #55 "Feature: show change in npm install size"
I really like dependabot, and I use it regularly with [Package Phobia](https://github.com/styfle/packagephobia/pulls?q=is%3Apr+sort%3Aupdated-desc+is%3Aclosed).

I think it would be cool to use data from Package Phobia when submitting the PR to update an npm dependency.

Maybe something like, "an increase of x MB" or "a decrease of x kB".

## Mockup

[2018-06-14 23:07] netzulo commented on #6
i need this for my python projects :'(

[2018-06-15 16:07] greysteil commented on #6
I'm working on it! Starting out with a badge for viewing the SemVer compliance of a dependency - check it out [here](https://dependabot.com/compatibility-score.html?dependency-name=puma&package-manager=bundler&version-scheme=semver). PR to shields.io [here](https://github.com/badges/shields/pull/1734). Once that's working I'll start thinking about a badge to show whether you have any out-of-date d

[2018-06-15 19:37] etrepum opened #56 "Bug: Commits entries need escaping to prevent unwanted modifications to local issues"
The PRs that Dependabot generates do not properly escape the Commits entries, such that if they contain text such as `#1234` these issues will reference local issues, causing unwanted and confusing noise on those issues. It gets worse when the commit messages contain actions such as `Fixes #1234` and then closing the Dependabot PR will close some unrelated local issue.

The attached screenshot is

[2018-06-15 19:40] greysteil commented on #56
Eek, hadn't seen that before - will fix right away.

[2018-06-15 19:43] greysteil commented on #56
Can you link me an example PR with the ref spam in it, please?

[2018-06-15 19:48] etrepum commented on #56
It's in a private repo, would that still be helpful? https://github.com/playfig/website/pull/6227

[2018-06-15 19:49] etrepum commented on #56
Here's a gist with the text from the PR https://gist.github.com/etrepum/7c4f0370b03fa0fe7da2bf72a8b8d44b

[2018-06-15 19:50] greysteil commented on #56
👍, thanks.

[2018-06-15 20:07] greysteil commented on #56
Fixed in https://github.com/dependabot/dependabot-core/commit/ceb2fc635451b9bcef9fcb711c670d2cc09c9ce5, which is deploying right now.

Very sorry about that - looks like this was an edge case that we missed. I'll add tests for it so it can't regress later, but wanted to get this deployed straight away.

[2018-06-15 20:07] #56 closed

[2018-06-15 20:20] etrepum commented on #56
Thanks! The speed at which you acknowledged and fixed this issue is truly impressive :)

[2018-06-16 07:49] adriens commented on #6
Hey @greysteil , this is even around 1000 times much better than expected dude !!!

![2018-06-16 18_47_39-dependabot compatibility score](https://user-images.githubusercontent.com/5235127/41496900-e4af09da-7195-11e8-81ea-16e1c7c521fd.png)

[2018-06-16 18:31] sobolevn opened #57 "pyproject.toml support"
There's a new thing in `python` world to manage dependencies: `pyproject.toml` and [`poetry`](https://github.com/sdispater/poetry).

Dependabot currently does not support this format of dependencies, do you have any plans on supporting it?

[2018-06-16 20:09] greysteil commented on #55
Interesting, thanks for the feature request.

First up, I really like what you've done with Package Phobia. It's a great idea and looks really nicely implemented. Nice work.

However, I'm not sure this should live in Dependabot right now. In particular, it would be hard to include it in a way that isn't overly prominent, and I don't feel that would be right for all JS Dependabot users. My hunch is

[2018-06-16 20:36] styfle commented on #55
Hi Grey, thank you for the kind words 😄

I don't believe that bot already exists, but I understand your hesitation to rely on a third party tool (that's actually kind of in the nature of Package Phobia 👽)

Anywho, the reason why I think it makes sense to add package size in the Dependabot PR, is that this information is not easy to find AND it is relevant to the person who may or may not merge the

[2018-06-17 20:59] adriens commented on #57
Ths would be great to get .NET/NUGET support...we could hence monitor [chocolatey](https://chocolatey.org/packages/schemacrawler) source packages :+1:

[2018-06-18 02:31] greysteil commented on #57
.NET support is shipped! Merged PR is [here](https://github.com/dependabot/dependabot-core/pull/212) - feel free to comment there, but let's leave this issue to `poetry` comments.

[2018-06-18 02:35] greysteil commented on #50
Great - that should just work. Let me know if you have any trouble!

[2018-06-18 02:35] #50 closed

[2018-06-18 08:29] davidgoate opened #58 "How does CI detection for compatibility work?"
I understand from [this](https://dependabot.com/compatibility-score.html) page that dependabot looks at CI results and excludes repos with no CI.

My question is how does dependabot classify a repo as having CI?

All of my repos are built with a Jenkins instance which triggers on webhooks for each PR or commit to a feature branch, master or develop. Very occasionally I see badges for 100% compatib

[2018-06-18 13:44] greysteil commented on #58
Hmmm, Dependabot should be picking up those CI runs. Can you give me an example repo name (either here or via email) and I'll check that it is?

The CI score excludes any cases where tests were failing prior to the PR being created, so it could be that, too.

[2018-06-18 17:07] greysteil commented on #53
Thanks for the feedback!

On conventional commits, it looks like it was just a case of Dependabot recognising that your repo had switched over. I can see that https://github.com/wmfs/food-hygiene-blueprint/pull/8 uses angular style.

On scoping, what's your use case for it? I removed it a few months ago because Angular themselves don't use it for package upgrades ([Angular commits here](https://gi

[2018-06-18 17:32] davidgoate commented on #58
@greysteil i referenced you on one PR, i'll try to find another. As I said, i think it's rare. Perhaps I'm wrong that the base branch (in my case develop) had a passing CI status at the time the PR was created. I'll try to keep a closer eye out.

[2018-06-18 17:33] greysteil commented on #58
Just saw - taking a look now!

[2018-06-18 17:41] davidgoate opened #59 "Global GitHub Organisation Settings"
I did perviously mention this in another PR: https://github.com/dependabot/feedback/issues/24

This is becoming a slightly bigger issue for me with a growing number of repos.

In addition, it'd be great if there were a way to do this so that dependabot would just start doing this for all repos in my org (if i give it permission). It's a small step -  but it adds friction each time a new repo is cr

[2018-06-18 17:42] davidgoate commented on #52
maybe some overlap here on https://github.com/dependabot/feedback/issues/59

[2018-06-18 17:42] davidgoate commented on #59
May be some feature overlap here with: https://github.com/dependabot/feedback/issues/52

[2018-06-18 17:44] greysteil commented on #59
Thanks @davidgoate. @petehamilton - food for thought in terms of re-designing onboarding!

[2018-06-18 21:36] adriens commented on #52
Yes, for newly created would make the job for sure :+1:

[2018-06-18 23:40] adriens opened #60 "php/Syphony/drupal support"
Hi,

i wonder if there could be some guidelines on how to monitor drupal modules/dependencies ?...especially for security updates. As it is based on php i guess something could be done ?

[2018-06-18 23:41] adriens commented on #60
...or map it on drush commands ?

[2018-06-19 10:40] davidgoate opened #61 "Linked Dependency Requirements"
Does dependabot's internal model allow for dependences to be linked somehow?

I have encountered a problem today where dependabot has suggested two distinct updates to my maven java repos:

1. Spring Cloud Dependency Finchley.RC2 to Finchley.RELEASE
2. spring-cloud-aws-version from 1.2.2.RELEASE to 2.0.0.RELEASE

Independently as separate PR's they both fail CI due to class path issues. When combi

[2018-06-19 10:56] davidgoate commented on #61
Actually, looking at https://projects.spring.io/spring-cloud/ suggests that perhaps the `BOM `ought to be handling this. Perhaps I was wrong to have my version explicitly set in my `pom.xml`

If I remove the explicit version from `spring-cloud-aws` the correct version will be used as a result of Spring Cloud Dependency BOM.

[2018-06-19 10:56] #61 closed

[2018-06-19 11:23] davidgoate opened #62 "Ignore major version question"
Hi there,

In some of our java repos we depend on `Edgware.SR3` for

[code]

Today `Finchley.RELEASE` was released and dependabot diligently recommends the update.

Sadly, this repo is a spring boot 1.x app which means that it can't use Finchely (it's spring boot 2+). However, I would want dependabot to recommend `Edgware.SR4` if/when it becomes available.

So I don't want to entirely ignore the d

[2018-06-19 13:28] greysteil commented on #62
OK, fix deployed - can you try commenting `@dependabot ignore this major version` on that PR again?

[2018-06-19 14:09] greysteil commented on #60
If you're using Composer to manage your drupal dependencies then everything should just work. There's an article on how to do so [here](https://www.drupal.org/docs/develop/using-composer/using-composer-to-manage-drupal-site-dependencies).

[2018-06-20 00:14] adriens commented on #60
Thanks a lot for your guidelines : this is really very interesting, i'm taking a closer look at it. :+1: This cloud allow us to make a big step forward in security !

[2018-06-20 00:22] adriens commented on #60
@greysteil : i close the issue. I'll let you know if we need some guidelines on how to set it up.

[2018-06-20 00:22] #60 closed

[2018-06-20 09:54] JayH5 opened #63 "Auto-merge seems flaky"
Hi there 👋

We use Dependabot to keep some Python requirements files up-to-date for [this repo](https://github.com/praekeltfoundation/debian-wheel-mirror). We have auto-merge switched on for all patches.

Sometimes Dependabot will merge its PRs once the build is green, e.g. praekeltfoundation/debian-wheel-mirror#185.

Sometimes it won't and I have to do it manually, e.g. praekeltfoundation/debian-

[2018-06-20 11:50] greysteil commented on #63
Hi @JayH5, and thanks for the kind words!

We generally include a reason in the PR description if, for some reason, Dependabot isn't going to automerge a PR. In the case of praekeltfoundation/debian-wheel-mirror#186 it looks like the cause was that that dependency follows CalVer, not SemVer, and so there's this line in the PR description:

For dependencies that don't follow SemVer there's no guara

[2018-06-20 13:11] JayH5 commented on #63
Right... I should learn to read properly, thanks 🤦‍♂️

Yes please! In this case we aren't managing requirements for a particular application--all we care about is building packages into wheels. Should I create a separate issue for a feature request?

[2018-06-20 13:11] #63 closed

[2018-06-20 13:13] greysteil commented on #63
Nah - I've got a bit of time this morning so I'll just get it done 🙂

[2018-06-20 14:20] greysteil commented on #63
OK, you can now select "All updates" as an automerge strategy. Use with care!

![image](https://user-images.githubusercontent.com/1144873/41664328-7cc8ec42-7473-11e8-9e96-2c908fc8d5d0.png)

[2018-06-21 08:33] simondel opened #64 "Merge conficts in csproj when updating multiple dependencies"
I just merged a PR for a .NET Core project to upgrade the Moq dependenency from 4.8.2 to 4.8.3.

After the merge, another PR has a merge confict (Microsoft.NET.Test.Sdk from 15.5.0 to 15.7.2)

![image](https://user-images.githubusercontent.com/4221997/41707335-23dfb6f8-753e-11e8-9f53-55782636e30e.png)

Doing a rebase has fixed the conflict, however I would not expect a merge conflict to occur in t

[2018-06-21 11:27] greysteil commented on #64
We can't control when git decides there's a conflict (that's down to git's internals), but we can ensure Dependabot rebases files automatically when it should. Just updated the list of files it will look for potential issue with in https://github.com/dependabot/dependabot-core/commit/02ae4de4792c20991d676dd14fa82f2168fdb27e.

Thanks for the prompt on this, and for testing out Dependabot on .NET!

[2018-06-21 11:27] #64 closed

[2018-06-21 11:41] simondel commented on #64
Awesome, I can see it rebasing now :)
![image](https://user-images.githubusercontent.com/4221997/41717055-c0eb0d02-7558-11e8-9d64-61548d0492b2.png)

[2018-06-21 12:41] rdunlop opened #65 "Feature: Be able to subscribe to notices about new features"
Yesterday I read through the dependabot blog again (I try to do this every month...), and I noticed that there's a new feature which allows limiting the number of dependabot PRs to 10.

I decided that I didn't want this feature, so I went and disabled it. This morning I woke up to about a
hundred dependabot PRs. (I'm happy about this). Until now, I didn't know that my projects were getting out of

[2018-06-21 16:51] greysteil commented on #65
Interesting, thanks for the feedback.

I totally agree we should have a mailing list - I've heard a couple of others comment the same. I'll take a look at setting something up with https://mailchimp.com/features/rss-to-email/ (there's an RSS feed for the blog at https://dependabot.com/blog/atom.xml).

[2018-06-21 20:38] asherf opened #66 "anchor tags to projects/repos in dashboard page"
Hi,
 Can we get anchor tags so we can link directly to specific projects/repos in the dashboard page?
 i.e. something like: `https://app.dependabot.com/accounts/<org name>/repos#my-app-repo`

[2018-06-21 20:39] greysteil commented on #66
Great idea! Should be easy, too - I'll do it now.

[2018-06-21 20:49] greysteil commented on #66
Done! I'll tweak the display a bit (currently non-existent), but every repo now uses its name as an anchor.

[2018-06-21 20:49] #66 closed

[2018-06-21 21:26] zeke opened #67 "The flash message duration is a bit short."
I'm not able to fully read most of these before they disappear:

![screen shot 2018-06-21 at 2 24 58 pm](https://user-images.githubusercontent.com/2289/41746372-f34ab846-755e-11e8-9560-f3754525fb12.png)

It would be good to make them display for longer, or make them stay on the screen until dismissed.

[2018-06-21 21:35] zeke commented on #53
I'm also using semantic-release and would love for dependency update to be able to trigger releases.

[2018-06-21 22:21] greysteil commented on #67
👍 - thanks for the feedback, I'll increase the display time.

[2018-06-21 22:22] greysteil commented on #53
@zeke - do you have an idea of how exactly you would want that to work?

[2018-06-21 22:36] greysteil commented on #67
Updated, just for that notification (it's no 8 seconds for that one and still 5 seconds for the shorter ones).

Thanks again for the feedback!

[2018-06-21 22:36] #67 closed

[2018-06-21 22:58] zeke commented on #53
I think the way Greenkeeper does it works well. I think for runtime deps they do a `fix: ` prefix and for dev deps they do `chore: `

I know configuration is kind of a last resort, but maybe a configurable prefix would be good?

Just to throw a wrench in things here, I'm working on a new project https://github.com/electron/algolia-indices which should ideally be (semantically) released when _any_

[2018-06-22 07:14] exactlyaron commented on #53
Okay that makes sense, I've removed the old monorepo and setting up the new repos individually now.

It's just a nice thing isn't it really.  We're trying to get into the habit of writing better commits and making this easier to read.

Right bare with me here, (@jezhiggins could probably explain better than I can) but basically Tymly is very modular in it's make up, with [plugins](https://wmfs.git

[2018-06-22 13:51] exactlyaron commented on #53
This may interest you as well @zeke

I've just had a go with commit-analyzer plugin and it's worked rather nicely and simply as well.

[code]

So when dependabot comes a long with a [commit](https://github.com/wmfs/building-blueprint/commit/e2f3ff6f73d13631e43cbf38e6d633a5e3a483f9) and it's merged the commit message having 'build:' will trigger a minor release.  Party time!   🎉🎉

If dependencies a

[2018-06-22 13:57] greysteil commented on #53
Interesting. I can see an argument for using the `scope` to differentiate between dev and production dependencies - that would allow you to customise the logic on your side, which I'm 100% onboard with.

What I don't like is changing the commit type itself to `fix` or whatever for production dependencies. I know Greenkeeper does it, but it's not accurate - a lot of those changes will be `build` ch

[2018-06-22 14:07] exactlyaron commented on #53
Yeah that's understandable in the world of conventional commits.  Scoping would be perfect actually as that can be defined in the release rules of the commit analyzer.

There is no emoji to show my appreciation for this @greysteil !  👍  Thanks a lot!

[2018-06-22 14:08] greysteil commented on #53
Haha, awesome, I'll get it shipped today 🙂

[2018-06-22 17:50] greysteil commented on #53
Shipped! https://github.com/dependabot/dependabot-core/commit/ef1b3218c3a28c676a8131cb07cf1b8312a19a4c.

If there's a backlash from people who know more than me about scopes then I may have to revert, but I think it should be fine, and is definitely worth trying. Thanks for the feedback @exactlyaron!

[2018-06-22 17:50] #53 closed

[2018-06-23 12:16] #62 closed

[2018-06-23 12:17] greysteil commented on #58
Debugged with @davidgoate - in this case it was because CI was erroring on the base branch on the PR.

[2018-06-23 12:17] #58 closed

[2018-06-24 01:33] zeke commented on #53
Thanks, @greysteil 👏

[2018-06-25 22:10] dwieeb commented on #5
Any way to follow progress on this? I'm subscribed to this issue, but do you use milestones or some form of public prioritization? 🙂

Just really excited for this 😄

[2018-06-26 10:14] JayH5 opened #68 "[Python]: Distributions uploaded at slightly different times can lead to build failures"
Hi there 👋,

One problem we are occasionally encountering is when Dependabot opens a new PR for an updated Python package but only some distributions have been uploaded for that package to PyPI.

If a Python package contains native extensions then the binary distributions (a.k.a. wheels) are platform-specific. If you try to install a package on a platform for which the correct wheel is not availab

[2018-06-26 11:50] greysteil commented on #68
Hi @JayH5,

Oh, interesting, I had no idea.

OK, so the two possible fixes:
1. I'm guessing you're using live-updating, and that's (part of) what's causing this problem? Currently we're getting live update data by polling [this endpoint](https://pypi.org/rss/updates.xml) every 10 minutes and kicking off update runs immediately if we see new packages. There's already a small delay built in to creat

[2018-06-26 20:54] nesl247 opened #70 "Use a config file instead of relying entirely on dependabot.com"
I was looking at several issues, and the one thing that kept coming to mind was it would be easier if there was simply a `.dependabot.json` file in each repo. This would allow us to copy the file between repos, and configure dependabot on a fresh repo as well.

I would imagine something like this (based only on the features I've used so far, I know there are more):

[code]

Doing this, I would mak

[2018-06-26 21:47] connorshea opened #71 "List projects with Pull Requests for a given dependency update"
For example, I have the selenium-webdriver gem and it was upgraded from 3.12.0 to 3.13.0: https://dependabot.com/compatibility-score.html?dependency-name=selenium-webdriver&package-manager=bundler&previous-version=3.12.0&new-version=3.13.0

It has a 95% success rate, but for my repository it [is failing](https://github.com/connorshea/mdn-compat-data-explorer/pull/91). Since 57 projects have upgrad

[2018-06-26 21:49] greysteil commented on #71
I'm super keen on this - I want to make it available to maintainers, too, so they can debug issues more easily too.

The work we've done on comaptibility scores recently with [this page](https://dependabot.com/compatibility-score.html?dependency-name=selenium-webdriver&package-manager=bundler) should dovetail into this nicely. cc @petehamilton.

[2018-06-26 21:50] connorshea commented on #71
👍 glad to hear it, thanks for all your work on dependabot!

[2018-06-27 03:16] greysteil commented on #70
I've been holding back on this because I want Dependabot's configurability to stabilise in the dashboard before introducing a file format. I definitely agree that a configuration file will be a good idea at some point, though. 🙂

[2018-06-27 03:19] greysteil commented on #5
Subscribing to this issue is the way to go - I don't have a public (or private) prioritization at the moment, but will let you know if/when I do. Hopefully I'll get to this before that's necessary 🙂

[2018-06-27 11:30] JayH5 commented on #68
@greysteil I do prefer (2), but technically there is nothing stopping someone from *not* uploading an sdist 😕.

I should also note that a bunch of what I said I'm pretty sure is happening but I haven't 100% confirmed everything. What we have is a Travis CI build where some jobs are Debian-based and can use wheels, and some jobs are Alpine-based and need the source. They all run at roughly the same

[2018-06-27 14:37] nesl247 commented on #70
One thing that may make it easier to do it now, rather than waiting (and I say this because of how annoying it is to configure the 200 repos that my company has, and thus I know others experience this), is to add a version to the config file.

[code]

etc. If you look at docker-compose, they do this pretty nicely. This way you can have a different parser per version, and support older versions wit

[2018-06-27 16:37] richardowen opened #72 "Feature request: view of ignored dependencies / versions"
The ability to ignore dependencies or certain versions of dependencies is great if you can't upgrade to a certain version right now. However they then get lost.

It would be great if there was a way to see (perhaps in the Dependabot dashboard) the currently-ignored dependencies so they can be reviewed and ignore rules removed as required.

[2018-06-27 16:39] greysteil commented on #72
Totally up for this. That dashboard is going to get an overhaul that allows you to see details of each dependency soon, and at that point I'll definitely implement this.

Thanks for the feedback!

[2018-06-28 09:56] avokhmin opened #73 "Update ruby version in Gemfile"
Hello.

Will be good to add the ability for update a ruby version in:

- `Gemfile`;
- `Gemfile.lock`;
- `.ruby-version`.

Thanks.

[2018-06-28 12:43] greysteil commented on #73
Thanks @avokhmin. I agree this would be awesome. Tough to do right (probably need to update the Travis or CircleCI config files, too), but not impossible. I'll add it to my backlog.

[2018-06-29 21:13] chobberoni commented on #42
@greysteil Thanks for pinging me here. Adding this to our issue internally.

[2018-06-29 21:18] greysteil commented on #42
Rad - people miss that dropdown all the time, would be awesome to make the flow their clearer 🙂

Always happy to help if I can!

[2018-07-02 05:50] ianwremmel opened #74 "build(devDeps): bump ... violates config-conventional"
The capital "D" in "devDeps" violates the all-lowercase scope rule specified by [config-conventional](https://www.npmjs.com/package/@commitlint/config-conventional) and, I believe, [config-angular](https://www.npmjs.com/package/@commitlint/config-angular).

[2018-07-02 07:32] exactlyaron commented on #74
This was fixed in here - https://github.com/dependabot/dependabot-core/issues/560   😃

[2018-07-02 09:12] greysteil commented on #74
Yep, sorry about this one! New commits will use the `deps-dev` scope.

[2018-07-02 09:12] #74 closed

[2018-07-02 16:51] connorshea opened #75 "Opt-out of compatibility scores"
I actually don't want this for privacy reasons, but because one of my projects, [ouija-bot](https://github.com/connorshea/ouija-bot/pull/24), doesn't really have any test suite to speak of due to Discord bots not really being very easy to test. If it passes the CI, that just means rubocop is still passing. I don't want to add useless data to the compatibility score, so I'd like to be able to opt-o

[2018-07-02 17:58] greysteil commented on #75
Interesting, thanks for the feedback. That makes sense to me - I'll look at adding it as an option at the update config level.

[2018-07-03 04:35] rarous opened #76 "Clojure support - Leiningen"
It would be nice to have Clojure support. From `project.clj` you can generate Maven `pom.xml` by calling `lein pom` and then use the Maven machinery you already have in place.

[2018-07-03 17:01] ianwremmel commented on #74
Awesome, thanks!

[2018-07-03 17:14] connorshea opened #77 "Auto-merge updates based on compatibility score"
This might be too complicated to be worth implementing, but I was thinking about how to handle dependency updates for something like [ouija-bot](https://github.com/connorshea/ouija-bot). The problem is that there's not really a good way to write tests for Discord bots because no one has made a proper scaffold for the whole of Discord's API and something like VCR to replay API requests would probab

[2018-07-04 13:08] vandrijevik opened #78 "Change “bump” to “update”"
I believe that the word update is more familiar and reads better than bump, and I suggest changing the use of bump to update. Dependabot already uses the word update in several places:

- The dropdown menu for frequency contains *Live updates* (and not live bumps)
- The modal for a repository’s configuration is titled *Edit Update Config*, and all of the language in this modal uses update
- The mo

[2018-07-04 15:44] greysteil commented on #77
I'm totally 👍 on this - I had it in mind when I first added automerging, but left it out because it complicated the code a little. (Compatibility scores change over time, and are calculated on the fly, so it wasn't obvious when to check them and trigger merges.)

That complexity isn't a deal breaker, and I'll definitely implement this in future. I'm doing a little push on automerge options at the

[2018-07-05 03:44] greysteil commented on #78
Thanks for this @vandrijevik - really interesting feedback.

There's some history behind Dependabot's use of the word `bump`: in the very early days of the project the whole app was called Bump. It's also the term I used to use when I was creating dependency update PRs myself ages ago. I'm slightly sentimental about it as a result, and quite like that it gives Dependabot a bit of character.

That

[2018-07-05 09:39] vandrijevik commented on #78
Thanks for the quick and thoughtful reply, @greysteil! I like the changes, and agree with you that the contexts in which you left _bump_ make sense :) Cheers and thanks for your work—we’re very fond of Dependabot and use it every day!

[2018-07-05 09:51] #78 closed

[2018-07-06 04:04] christopherthielen opened #79 "feature request: auto-merge in-range updates"
I'm using dependabot for javascript.

### Feature Request:
I'd like the ability to auto-merge any in-range updates.  It would be even better if those in-range updates could be consolidated into a single PR.

I want to have two workflows with dependabot:

- In range updates: auto-merge (assuming CI passes).  I assume the changes will not break my app.  However, I'd like CI to run to verify this. Af

[2018-07-06 04:11] greysteil commented on #79
Thanks for the feedback @christopherthielen!

Did you already see the automerge options Dependabot currently has? If you click to edit one of your update configs, or look in the advanced options section when adding a new language, you can ask Dependabot to automerge patch, security, minor or all updates, differentiating between dev and runtime dependencies. You can also specify working hours to do

[2018-07-06 15:52] greysteil commented on #79
Interesting, thanks for the extra detail.

I think this is a good idea - I'll take a look at implementing it.

BTW, Dependabot won't automerge pre-1.0.0 dependencies or anything else that clearly doesn't follow SemVer (like CalVer dependencies), but tricky deps like `typescript` do pose a problem.

[2018-07-06 17:39] greysteil commented on #79
Shipped! 🚢

![image](https://user-images.githubusercontent.com/1144873/42392781-f8d05dd8-8121-11e8-93a1-070ef8df0a53.png)

[2018-07-06 17:39] #79 closed

[2018-07-09 02:29] bradleypriest opened #80 "Auto-merge set to minor updates should also merge patch updates"
I'm not sure if I'm misunderstanding something, but I have a bunch of projects with auto-merge set at different levels.

When a new patch update of a Rubygem comes in the projects with auto-merge set to patch get merged, but the projects with auto-merge set to minor do not.
Surely, auto-merge of minor should encompass patch changes as well.

Does this sound correct, or is there something else goin

[2018-07-09 02:30] greysteil commented on #80
Huh, that doesn't sound correct - the ones set to minor should be getting merged, too. Can you @-mention dependabot on a PR where that's happened and I'll take a look?

[2018-07-09 02:31] bradleypriest commented on #80
So looking a bit closer, the PR says it will be auto-merged, but then doesn't.

![image](https://user-images.githubusercontent.com/167215/42427815-33c41ca2-8363-11e8-9cf2-bf5e6c7de858.png)

[2018-07-09 02:33] greysteil commented on #80
Ah, do you not have any CI on that repo? Automerge only works if you've got some tests. I could change that but it's a bit risky...

[2018-07-09 02:33] bradleypriest commented on #80
Ok, it's completely unrelated and a coincidence.
The projects I've set to auto-merge minor patches are the less important ones, turns out they also just don't have a CI set up, they're that unimportant.

Seems like if there are no status checks it doesn't auto-merge, which seems like a good call, but maybe you can tweak the message to explain that?

[2018-07-09 02:33] #80 closed

[2018-07-09 02:34] greysteil commented on #80
👍

[2018-07-09 11:48] davidgoate opened #81 "Feature Suggestion: Signed Commits"
Is there any way that Dependabot could create the PR's with signed commits?

We utilise GitHub branch protection that requires signed commits.

It's not a huge problem as a regular merge commit from an author who is signing their commits works just fine via the GitHub UI.

However, it'd be great if dependabot did sign the commit:

1. For extra comfort
2. For a cleaner tree on the base branch since

[2018-07-09 12:21] greysteil commented on #81
Hey @davidgoate,

I'm probably missing something here, but I'm pretty sure Dependabot already signs its commits. What would you want to be different about, say, the commit in [this PR](https://github.com/dependabot/dependabot-core/pull/578)? Is that `verified` badge not showing up on PRs to your repo?

[2018-07-09 12:32] davidgoate commented on #81
@greysteil sorry, you're quite right. I jumped to this conclusion and I should have checked - sorry.

What I have noticed is that after I turn on branch protection in the base branch which requires signed commits I can no longer rebase dependabot PR's. An error message appears saying that GitHub can't sign the commit.

[2018-07-09 12:52] #81 closed

[2018-07-09 12:56] greysteil commented on #81
👍 and no worries!

[2018-07-10 15:14] jvdlaar opened #82 "docker-compose support"
Are there any plans to support docker-compose and version numbers inside the docker-compose.yml file?

Up till now we created a Dockerfile for each image we used, just for dependabot.

This is the format:
[code]
So for cli how we currently do it with Dockerfiles and deptrac with the version direct in the docker-compose.yml

[2018-07-10 20:43] adriens commented on #82
That would be great !

[2018-07-10 20:49] greysteil commented on #82
I'm definitely 👍 on adding docker-composer support. I've got a couple of other features to ship (Lerna support for JS, peer dependency handling for JS, Java version detection for Maven) before getting to it, though.

[2018-07-10 21:16] adriens commented on #82
You rock @greysteil

[2018-07-11 02:20] greysteil commented on #18
@simondel - Lerna support is now live. Should mean you can delete all of the update configs for stryker except the base one. 🎉

[2018-07-11 06:53] jvdlaar commented on #82
Awesome, looking forward for it! Thanks for a great service!

[2018-07-11 14:29] kornelski opened #83 "Being a member of a GitHub org seems to prevent access to all repositories outside that org"
My account (@kornelski) belongs to Mozilla GitHub org, among many others. However, when I log in to dependabot website using my GitHub account, I can *only* see Mozilla org, and nothing else. I can't switch to any other org. I don't see any of my personal public repositories.

It seems that Mozilla has set up a dependabot account previously, and that has completely hijacked my login.

[2018-07-11 14:31] greysteil commented on #83
It looks like you don't have Dependabot set up on your personal account, so I think that's the correct behaviour. If you click `add account` from the dropdown in the top right of your Dependabot dashboard you should be able to add your personal account from there.

Sorry if the UI on this was confusing - I'll have a think about improving it.

[2018-07-11 14:37] kornelski commented on #83
I've tried Add Account before filing the issue, but it gave me impression that it's not the right solution because:

* it goes to GitHub marketplace. I've never used the marketplace. I think of it as a place to buy Enterprise Software, not anything for personal use.

* The page in the marketplace contains a warning:

  so I was scared that if I proceed, I'll mess up my account even worse by having

[2018-07-11 14:41] greysteil commented on #83
Huh, that message looks wrong to me - I've checked on our backend and we don't have any record of your personal account (@kornelski). Can you take a screenshot and ping it to me so I can forward it to GitHub support?

On using the marketplace, that's interesting, I didn't realise people had that impression. We direct people to the marketplace, with a plan called "Open source / personal account" an

[2018-07-11 15:23] kornelski commented on #83
![screenshot 2018-07-11 at 16 22 50](https://user-images.githubusercontent.com/72159/42582332-bd9a4e64-8526-11e8-8c37-40496879e471.png)
![screenshot 2018-07-11 at 16 23 01](https://user-images.githubusercontent.com/72159/42582333-bdb90bb0-8526-11e8-93f2-f51a490ab758.png)

[2018-07-11 15:24] greysteil commented on #83
Thanks - always looking to improve the UI, so feedback like this is really valuable.

[2018-07-11 16:06] hairyhenderson opened #84 "Support for bumping Go vendoring tool configs (dep, vgo, etc)"
Support would likely end up being a little different from other languages, but it'd be nice if dependabot could tell me when my dependencies managed by [dep](https://github.com/golang/dep) or [vgo](https://github.com/golang/dep) have changed.

Thanks!

[2018-07-11 16:07] greysteil commented on #84
I'm super up for adding Go support - issue tracking it on dependabot-core [here](https://github.com/dependabot/dependabot-core/issues/449). Might be a little while yet, but I'll definitely get to this!

[2018-07-11 16:07] #84 closed

[2018-07-11 16:09] hairyhenderson commented on #84
Awesome, thank you @greysteil!

[2018-07-12 08:13] JayH5 opened #85 "Auto-merge seems to be broken?"
Hi again 👋

I have some PRs that weren't merged by Dependabot, for example [this one](https://github.com/praekeltfoundation/debian-wheel-mirror/pull/195), which says:
[code]

All status checks did pass, but ~13 hours later the PR still hadn't been merged and I had to do so manually.

This issue _seems_ to have appeared around the time that Dependabot asked for access to GitHub's Checks API. This p

[2018-07-12 12:20] greysteil commented on #85
Thanks for flagging this - taking a look now.

[2018-07-12 12:35] greysteil commented on #85
Ack, this is indeed checks related. Here's the problem:
- TravisCI had some auto-enrol logic that went a bit wrong (see [this issue](https://platform.github.community/t/feature-request-opt-out-list-for-github-app-repository-access/6022))
- GitHub's UI for checks is a little weird. Pending checks don't show up with a number in the checks tab, but if you click through to the checks tab on your PR yo

[2018-07-12 12:35] #85 closed

[2018-07-12 12:52] JayH5 commented on #85
@greysteil thanks. Unfortunately, I can't find a way to disable those phantom queued Travis builds from within their UI 😢

Settings for the project on travis-ci.com don't seem to stick or have any effect. Until Travis provides a way to transfer open source projects from travis-ci.org to travis-ci.com we might be stuck.

[2018-07-12 13:00] greysteil commented on #85
Interesting. I've just done a bit more research and I think Dependabot can actually ignore checks that are in this "queued" state - confusingly, I think they might be created by GitHub rather than Travis CI, and then they just sit there if Travis doesn't respond. I'm going change Dependabot so that it ignore them for now - will get things working in the short term at least.

[2018-07-12 18:07] nesl247 commented on #39
Isn't this already possible?

![image](https://user-images.githubusercontent.com/1037526/42651251-e0c0d41a-85dc-11e8-8d35-77c639feb807.png)

Or is this just recently added after you spoke @greysteil?

[2018-07-12 18:08] greysteil commented on #39
Ah, that was added very recently and I forgot to mention it on this issue. Yes - now possible! 🎉

[2018-07-12 18:08] #39 closed

[2018-07-12 18:29] nesl247 opened #86 "Auto-merge support with "restrict who can push to this branch""
Currently auto-merge is not possible for any branch that has "restrict who can push to this branch" enabled in branch protections.

Unfortunately GitHub does not currently allow adding bots to the list.

Is there any way to communicate with GitHub, especially since Dependabot is a Marketplace app?

[2018-07-12 18:31] greysteil commented on #86
There's an issue on the GitHub platform forum, which is their preferred way to receive app-related feedback. Adding your voice there might help:

https://platform.github.community/t/repositories-which-have-protected-branches-with-push-restrictions-have-no-ability-to-grant-push-rights-to-integrations/1376/48

[2018-07-12 18:51] nesl247 commented on #86
I've gone ahead and replied and asked for an update. Unfortunately GitHub is slow as can be to do the most basic of things.

[2018-07-12 20:58] adriens opened #88 "Feature Request > Vulnerabilities detection even without remediation"
When i did benchmark dependencies monitoring services, i did give a try for my open source projects. Still today, the service is running on some.

Still we did subscribe ```dependabot``` as it was better matching our requirements.

This morning i got an interesting alert on this service which is [Snyk](https://snyk.io/):

![selection_002](https://user-images.githubusercontent.com/5235127/42658889-

[2018-07-13 07:28] exactlyaron opened #89 "Feature: Docker commit message scoping | multi stage support(?)"
Hi,

Would it be possible to add scoping to the commit message for Docker updates.  Similar to [this](https://github.com/dependabot/feedback/issues/53) request?

We have a base image of [Tymly](https://github.com/wmfs/tymly-base) that contains the [stuff](https://github.com/wmfs/tymly-base#what) to make a runnable Tymly.  I'm using the above scoping request [here](https://github.com/wmfs/tymly-bas

[2018-07-13 11:02] exactlyaron commented on #89
Actually...

So this was all based on the [example](https://github.com/ulgens/ubuntu-python3-nodejs/pull/2) you sent me, and not using a conventional commit message... I'm guessing now this was because Dependabot bot didn't recognise the repo used that format?

As tymly-base was just updated and on a build Dependabot did the following commit...

[code]

:tada:

And it even did both images in the D

[2018-07-13 11:02] #89 closed

[2018-07-13 11:27] gotcha opened #90 "Python dependencies failing"
I get the message below from dependabot on
https://github.com/collective/collective.redirectacquired/blob/master/requirements.txt

even though ```pip install -R requirements.txt``` works perfectly (I have tried only with pip 10.0.1)

[2018-07-13 13:09] rwjblue opened #91 "Javascript Dependencies: Update package.json minimum version for in-range updates."
When a dependency of a javascript pacakge with a lock file is released dependabot will send a pull request to update the lock file to use that new version. This has proven to be quite valuable (to ensure that packages are tested against the most recent versions and whatnot).

Unfortunately, the current behavior (updating only the lock file) causes some problems when the package is released since c

[2018-07-13 13:17] greysteil commented on #89
🤖

[2018-07-13 14:23] greysteil commented on #90
Huh, that looks very wrong. I'll take a look!

[2018-07-13 14:54] greysteil commented on #90
Fixed by https://github.com/dependabot/dependabot-core/commit/281abd125a50cb5e17816ed29db721bcd7bd4c1e.

[2018-07-13 14:54] #90 closed

[2018-07-13 15:57] greysteil commented on #91
Thanks for this writeup @rwjblue. It makes perfect sense.

Historically, Dependabot has favoured lockfile-only updates for JS libraries, whist performing lockfile and manifest updates for JS applications. The thinking was that libraries would prefer to keep their dependency requirements wide, even for a language that mainly uses nested dependency resolution, because some users might be using Yarn'

[2018-07-13 16:42] greysteil commented on #88
Interesting. Dependabot really only has its toe in the water of the security world at the moment, and I agree there's lots more we could do here. I want to integrate with a couple more vulnerability alert services first, but once that's done I'm 👍 on creating issues for unremediated security vulnerabilities.

Watch this space!

[2018-07-13 16:54] rwjblue commented on #91
Yes, exactly my thoughts as well.

This is a hard one to answer, my gut feeling is that it probably doesn't need to be configurable. The footguns that I laid out in the main issue description are just too hard to avoid with the current system.

No, I'm not aware of packages doing this (keeping a very lenient dependency range to allow easier/better deduplication by the package manager) for dependen

[2018-07-14 07:43] gotcha commented on #90
Thanks for the quick fix.

@greysteil Do you support parsing `requirements.txt` which includes with `-r other_req.txt` ?

[2018-07-14 12:42] greysteil commented on #90
Yep, absolutely - looks like some of the PRs generated were to your `nitpicker.txt` file because it was required in (it wouldn't have been picked up otherwise). We also support updating `pip-compile` files (and will regenerate your `requirements.txt` from them) and Pipenv.

[2018-07-15 23:42] adriens commented on #88
Sute i keep watching this space. I know that customers always ask for more. But just to let you know : we're really happy with this service, constantly improving and providing great and positive feedback on our feature requests...even sometimes with rocket time implementations !

Thanks a lot guys !

[2018-07-16 07:59] JayH5 commented on #85
Thanks. Seems to be working again for that repo 😄

[2018-07-17 06:20] AndreaGiardini commented on #14
It makes perfect sense to me too, one of the advantages is also that the assignee/reviewer are kept

[2018-07-17 07:54] Jym77 commented on #70
Config file as suggested would allow a nice granularity at the package level.

Typically, I can totally allow the auto-merged deps (whitelisted) to be bumped daily but the other ones are kinda spamming me with PR so weekly or monthly bump is better for my workflow…
And of course, versioning the config API allows to still evolve the code. At the same time, it also kinda force to maintain legacy cod

[2018-07-17 08:23] Jym77 opened #92 "Avoid notifications on automerged deps"
Hmm. Not sure how much of this is within dependabot hands, and how much is Github config or stuff…

Anyway, I'm watching my repos and thus get notifications when stuff happens on them. When dependabot automerges something, It still creates a PR (to run the tests), and merges it. Which in turn means that I'm getting notification mails for something that is not that important.

Especially, it's some

[2018-07-17 17:21] nesl247 opened #93 "Use a "status" on PRs to block merging when rebasing"
When dependabot detects a rebase is needed, it only updates the PR description with the message. Unfortunately, this can mean that `composer.lock` for example is outdated when doing multiple merges, as the `content-hash` is different. Dependabot doesn't detect the PRs need a rebase quick enough, so a status update while it is being determined and or rebased would be great.

[2018-07-17 18:01] haven-gr opened #94 "Feature Suggestion: add a report of the dependency map"
As Dependabot must inventory all the dependencies, let users take advantage by offering a map of the dependency tree

[2018-07-17 18:03] greysteil commented on #94
I'm totally 👍 on this. Planning to add a show view for repos / update configs soon which will let you see your dependencies, any that Dependabot is ignoring (on request) etc.

Cc @petehamilton.

[2018-07-17 18:05] greysteil commented on #93
Oh, interesting. I don't know why I'd never thought of writing statuses for this.

It will require us to ask for additional permissions from all Dependabot users, but really easy to explain why we want it so I'm 👍.

Not 100% sure when I'll get to this, but it's a neat little feature and I've got a plane flight coming up in the next couple of days. Definitely a candidate to power through.

[2018-07-17 18:08] nesl247 commented on #93
Awesome, thanks!

[2018-07-17 18:08] greysteil commented on #93
One question, if you have an opinion on it (I'll dig into it otherwise): should this use statuses of the new checks feature?

[2018-07-17 18:13] nesl247 commented on #93
I'm not sure if they are planning to migrate to the Checks API at some point. I don't see the need for anything special at the moment requiring the Checks API.

It's mostly just a status update:

**Dependabot** awaiting rebase
**Dependabot** success (or something)

[2018-07-18 07:02] ferrarimarco opened #95 "Ruby: pre release gems"
Hi!

I added a project on dependabot: https://github.com/ferrarimarco/docker-github-changelog-generator

Dependabot watches the Dockerfile and the Gemfile for updates.

Here are the contents of the Gemfile:

[code]

For the github_changelog_generator gem there are three new pre-release versions, as you can see from https://rubygems.org/gems/github_changelog_generator

Why is Dependabot not proposi

[2018-07-18 12:33] greysteil commented on #95
Hey @ferrarimarco 👋.

Dependabot won't propose updates from a non-pre-release version to a pre-release version, but it *will* update you between pre-release versions.

For your repo, since you don't have a `Gemfile.lock` committed, Dependabot is looking at the Gemfile and seeing that it doesn't currently want pres (because the version in the requirement isn't a pre). As a result, it's not trying t

[2018-07-18 12:33] #95 closed

[2018-07-18 19:06] matthewmcgarvey opened #96 "Process to whitelist dependencies should be language specific"
The only option, currently, is to fill in a comma separated list.  This might work for ruby where dependencies are only one word like rails, or puma, but this doesn't work for every language.  Maven, for example (and java in general because they follow maven's naming scheme), separates dependencies into a two part naming scheme, a group id and an artifact id and there is no clear instruction for w

[2018-07-18 19:09] greysteil commented on #96
Ah, good point. It will work for Maven, but you'd need to downcase the name and link the group id and artefact id with a colon.

I totally agree on making this a select, or something like that, rather than plan text. I'll add it to the roadmap, and in the meantime will change the help text on that field.

[2018-07-18 19:33] greysteil commented on #96
The following update is deploying now:

![image](https://user-images.githubusercontent.com/1144873/42903482-f5a94a70-8a9f-11e8-8178-a793938b69cc.png)

Thanks for the feedback!

[2018-07-18 19:33] #96 closed

[2018-07-18 20:17] matthewmcgarvey opened #97 "Requested merge didn't happen after auto-merge failure"
<img width="908" alt="screen shot 2018-07-18 at 3 13 44 pm" src="https://user-images.githubusercontent.com/17329408/42905296-3740286c-8a9d-11e8-8b71-29bdcfc3f17e.png">
We are still messing around with how we want our flow with dependabot to be and we tried out automerging.  It didn't work because of some of our settings on the repo.  We updated the repo and just wanted to see if it could merge so

[2018-07-18 20:38] greysteil commented on #97
Hmmm, in that case it should have been listening for webhooks from GitHub saying the CI status was passing. Can you give me the PR URL, or mention @dependabot in the comments so I get it from that?

[2018-07-19 07:03] ferrarimarco commented on #95
@greysteil I don't know if it's related but it's not bumping bundler.

Here is my Gemfile:

[code]

Bundler is at 1.16.3: https://rubygems.org/gems/bundler

[2018-07-19 08:46] greysteil commented on #95
Huh, that’s weird. Bundler’s handling of itself is slightly different to other gems - it never locks itself in the Gemfile.lock. That shouldn’t be stopping it from updating the Gemfile requirements, though - I’ll take a look.

[2018-07-19 09:22] ferrarimarco commented on #95
Here is what I'm doing:

1. Put bundler version in Gemfile
1. Fetch this version in the Dockerfile: `gem install bundler --version $(cat Gemfile | grep bundler | awk -F "'" '{print $4}')`

With this trick I keep not only the gems but also bundler updated as Dependabot should take care of that as well.

[2018-07-19 15:22] greysteil commented on #95
Good spot - turns out that Dependabot wasn't updating `bundler` in your repo because of a weird edge case. Because it was wrapped in a source blog, Dependabot was tapping into Bundler itself to ask it to fetch its latest version. There's a special case in the current version of Bundler that in the Bundler codebase [here](https://github.com/bundler/bundler/blob/1e3c630d3f968c9b4c9b8996b940be4694d58

[2018-07-19 15:38] matthewmcgarvey opened #98 "Dependabot dashboard difficulties when managing large # of repos"
- The button to add a repo is at the very bottom.  Could it be added to the top?  The best solution might be making the navbar fixed to the top of the screen despite scrolling so that the button could go there.
- When adding a repo, the dropdown menu to pick a repo seems to be loaded fresh.  That takes quite a while to load when working with large numbers of repos.  That menu should be cached and

[2018-07-19 16:25] omnibs opened #99 "Feature Request: Delete branches when closing PRs"
Scenario:
* Dependabot opens a PR to update a dependency
* You leave it there untouched
* Dependabot finds a new update that supersedes the update in that PR
* Dependabot closes the old PR and opens a new one
* The branch for the old PR will stay open

Can we change behavior so Dependabot also deletes the branch when closing the old PR?

[2018-07-19 16:29] omnibs commented on #99
Oh, nevermind, sorry for bothering!

My local git's view of the remote that's stale ☺️

[2018-07-19 16:29] #99 closed

[2018-07-19 16:30] omnibs commented on #99
btw, such a fast response time omg =o

[2018-07-19 16:31] greysteil commented on #99
Haha, well I was just working on another small issue so was easy to jump on this. Thanks for giving Dependabot a try! 😄

[2018-07-20 14:18] nesl247 opened #100 "Don't allow manual additions/changes to use unqualified releases"
I'm not sure if this is something Dependabot would ever want to do, but the name itself doesn't imply it couldn't be done.

What I am thinking is to have Dependabot check all PRs for changes to a package manager's config file, like `composer.json`, and stop a PR from being merged if it uses unqualified releases like `dev-master`.

It's highly unrecommended to use versions like that, and unless it'

[2018-07-22 21:18] adriens opened #101 "Open source plans ?"
Hi, it seems like for open source plans, we are limited to a single project : am i right ?

Thank you in advance for your feedback.

[2018-07-22 21:58] greysteil commented on #101
You should be able to add as many repos as you like - ping me more details if there’s something I’m missing!

[2018-07-23 11:20] killercup opened #102 "Support two sets of intervals: security updates live, other updates {daily,weekly,monthly}"
Would it be possible to a separate configuration for security updates?

I've just added dependabot to a Rust project of mine and talked with the maintainers about the settings to use. We have two requirements: We'd like to get security updates quickly, and we don't want to get a huge bunch of PRs for non-critical updates.

If dependabot had a setting "Create PRs for security critical updates immed

[2018-07-23 11:22] greysteil commented on #102
Thanks for getting in touch and for giving Dependabot a try.

If you set your update setting to monthly that should do the trick. For security updates we *always* create the PRs immediately (because we can't imagine a use case where you wouldn't want that), so Dependabot should do exactly what you want with that setup.

[2018-07-23 13:11] greysteil commented on #102
Agreed - we could make the frontend way clearer on some of these things.

[2018-07-23 14:31] dmabamboo opened #103 "Avoid bumping Node.JS versions which are not LTS"
Hi,

Is there a way to avoid dependabot offering non-LTS versions of Node.JS? We don't want to run any non-LTS versions but don't want to miss out on updates to the LTS version.

Regards,
Daniel

[2018-07-23 15:45] connorshea opened #104 "Dependabot bumped a subdependency from 8.x to 9.0 when updating a gem"
Dependabot updated bootstrap from 4.1.1 to 4.1.2, but in the process also updated autoprefixer-rails from 8.6.5 to 9.0.0.

https://github.com/connorshea/mdn-compat-data-explorer/pull/117

I think this just might be a limitation of bundler (IIRC it updates the subdependencies of any gems that are updated, not sure if there's a flag you can pass to stop this?). But I feel like this isn't the ideal b

[2018-07-23 15:50] connorshea commented on #104
This also, presumably, has the side effect of poisoning the compatibility score for this bootstrap version update. Since this autoprefixer-rails update had [a 72% pass rate](https://dependabot.com/compatibility-score.html?dependency-name=autoprefixer-rails&package-manager=bundler&previous-version=8.6.5&new-version=9.0.0), this bootstrap upgrade had a lower score than it otherwise would have, [an 8

[2018-07-23 16:36] greysteil commented on #104
Interesting. I *think* Dependabot / Bundler is doing the right thing here, but it's not totally uncontroversial.

Basically, Dependabot is running the equivalent of a normal `bundle update bootstrap` here, which means all of bootstraps sub-dependencies *which aren't listed in the Gemfile* get unlocked and will update if they can. The idea (on Bundler's side, as well as Dependabot's) is that bumpin

[2018-07-23 16:43] connorshea commented on #104
I have the separate subdependency updates enabled which is why I noticed this in the first place :D

[2018-07-23 16:43] greysteil commented on #104
Haha, goes to show how little trouble it's caused on my side that I'd forgotten that! How's it working out for you?

[2018-07-23 16:44] connorshea commented on #104
Quite well, no problems that I've noticed so far. It might cause too many PRs if I had a larger project, but for my use case it's great.

[2018-07-23 16:48] connorshea commented on #104
Also, I think it should be emphasized that this behavior makes the compatibility score less relevant. It means that bootstrap has a patch update with very minimal changes that also bring with it a major version bump for autoprefixer-rails. This causes failures to be attributed to bootstrap when they're actually problems with autoprefixer-rails.

I don't know what the correct solution is here, but

[2018-07-23 16:54] connorshea commented on #104
At the least, I think the PR should mention that autoprefixer-rails was also updated. For example, the PR title could be changed from `Bump bootstrap from 4.1.1 to 4.1.2` to `Bump bootstrap from 4.1.1 to 4.1.2 (+1 sub-dependency)`. It'd also be nice to have autoprefixer-rails' changelog in the PR description.

(also, apologies for the number of comments! I keep thinking of things I want to add 😄)

[2018-07-23 18:57] douglasrlee opened #105 "Slack Integration"
I might have missed this somewhere but it would be awesome if you could get dependabot to notify you of PRs created via slack.

[2018-07-23 20:22] adriens commented on #105
...and even better, integrate @dependabot commands into [slash commands](https://api.slack.com/slash-commands) :smiley_cat:

[2018-07-23 22:29] #101 closed

[2018-07-23 22:37] adriens commented on #101
Thanks a lot, hence i'll let you know if i do encounter any issue on limitation.
Thanks a lot for these great news.

[2018-07-24 07:47] greysteil commented on #105
I think we probably want to leave this to the folks at GitHub - have you seen https://slack.github.com/?

[2018-07-24 13:51] codebycliff opened #106 "Project specific configuration for "Automatic PR rebases""
I would like to turn on "Automatic PR rebases" for specific projects, not at the global level. Automatic rebasing fits some of our project workflows, but not all. Because of that, we have it disable across the board. I would really like to be able to enable this at the project level.

[2018-07-25 20:34] dmitry-timofeev opened #107 "Allow selecting merge strategy in auto-merge"
## Overview
It would be great to be able to set up a merge strategy for the auto-merge feature, so that the merge strategy that the bot uses matches the one that is normally used in the repository.

I'd like to be able to set up this option for the whole repository, so that any automatic merges use the same strategy.

[2018-07-25 20:45] greysteil commented on #107
Hey @dmitry-timofeev, thanks for giving Dependabot a try.

We already adjust to any setting you've made disallowing certain merge styles in GitHub, but you can also set it at the account level from your dashboard - it's in the dropdown menu at the top right under settings.

This is definitely one we could move down to the per-repo level if it would make a difference to people, but so far everyone'

[2018-07-25 21:08] dmitry-timofeev commented on #107
I see, found it, thank you!

We have several projects in the organization, each uses its own merge strategy (depending on the team working on it). The ones that are enabled in the bot use the same though, so the setting at the account level will work for us unless some repository requires distinct merging strategy.

[2018-07-25 21:09] greysteil commented on #107
Awesome. Get back to me if/when you need this setting at the repo level - I'm not opposed to it, just don't want to add it until there's an actual need. 🙂

[2018-07-25 21:09] #107 closed

[2018-07-26 02:13] simlu commented on #6
Very much looking forward to this!

[2018-07-26 02:31] simlu commented on #6
I'm the creator and maintainer of [js-gardener](https://github.com/simlu/js-gardener). Currently in the process of switching from greenkeeper to dependabot. It would be super nice to have even just a simple "enabled" badge. Outdated dependency check would be awesome as well obviously as it would replace [david-dm](https://david-dm.org/). Looking forward to your upcoming work here!

[2018-07-26 05:33] simlu opened #108 "Feature Request: Automerge with delay"
I love the auto merge feature and it is extremely useful for me as I maintain a lot of repos.

However after the recent [eslint fiasco](https://github.com/npm/npm/issues/21202), I'm a little hesitant wrt auto merging. Ideally there would be an option to only auto merge prs that are open for longer than x hours/days.

What are your thoughts on this?

[2018-07-26 05:34] simlu commented on #6
@davidkassa I'm not sure I understand. Can you clarify?

[2018-07-26 05:37] simlu commented on #70
Would be very interested in this as well. I'm currently switching a lot of repos from greenkeeper to dependabot and a config file would make it so much easier!

[2018-07-26 07:09] adriens commented on #6
Where should we pass the

[code]

to get the job done ?

[2018-07-26 07:13] greysteil commented on #6
If you comment that on any Dependabot PR then it will give you the code to add an "enabled" badge to your README 🙂.

(Sorry, should have commented that here a while ago - was waiting until I'd got a badge for outdated dependencies, too, but then got pulled onto something else!)

[2018-07-26 07:15] greysteil commented on #70
👍, and sorry it's manual at the moment @simlu!

[2018-07-26 07:17] greysteil commented on #108
Interesting. I think that's legit, and there are a couple of other potential automerge configurations I want to add, too (e.g., only automerge if compatibility score is above a certain number). Leave it with me.

[2018-07-26 11:05] styfle commented on #6
@greysteil You might want to submit a PR to Badgen too which is a newer, faster version of shields https://github.com/amio/badgen-service

[2018-07-26 11:08] greysteil commented on #6
Will do - no harm in being covered there, and if it's quicker it might be worth me switching. Thanks for the heads up.

[2018-07-26 11:25] MindTooth opened #109 "Project don't get pulls even when npm outdated show five updates"
Hi,

I'm not sure why this happens.  Is this because I have no `package-lock.json`?

This is the [`package.json`](https://github.com/srcery-colors/srcery/blob/master/package.json) in question.  It did in fact [submit some](https://github.com/srcery-colors/srcery/pulls?q=is%3Apr+is%3Aclosed), but I rejected the last one.  May there be a grumpy bot that don't like my any more?
I were unable to find

[2018-07-26 12:04] greysteil commented on #109
Ah, interesting - because you don't have a lockfile Dependabot is assuming that your application is a library. As such, it doesn't want to change the ranges in your `package.json` unless it has to.

Is there are reason you haven't committed a `package-lock.json`. The Dependabot logic could definitely be better here either way - I'll take a look at improving it.

[2018-07-26 12:18] MindTooth commented on #109
As they are just build tools, I want the latest.  Having a `package-lock.json` doesn't fit with me.  I'm kind of a up-to-date fellow, and don't care about backward compatibility.

[2018-07-26 12:43] simlu opened #110 "Feature Request: Set target branch"
Would be great if we could specify the merge target branch. Right now I'm assuming it's the default branch configured in github.

Use case here is that we have staging. The master branch is still our default that displays on the github page. However merges happen into a staging branch first and are then propagated using git-ally (gally) and ci.

[2018-07-26 12:45] greysteil commented on #110
You can! 🎉

Annoyingly, you have to specify it when you add an update config - you can't edit it later. It's in the "advanced options" in the "add language" dialogue.

[2018-07-26 12:45] #110 closed

[2018-07-26 12:50] simlu commented on #110
Sweet! Another reason why a config file would be super handy (all config in one place). Thank you very much! Really love this project!

[2018-07-26 20:44] greysteil commented on #106
That makes sense to me, and shouldn't be too hard to shift down to the per repo level. I've been swamped getting Go support out, but should have some time to implement it over the next couple of weeks.

[2018-07-27 07:21] greysteil commented on #6
I opted against repo name as the identifier as it would create a minor security issue (you could use it to find the names of private repos an organisation that was using Dependabot owned). Instead the identifier in there is the GitHub repo ID, which you can get from the https://api.github.com/repos/your/repo. Apologies it’s a faff for non-enabled repos - I couldn’t think of anything more convenien

[2018-07-27 08:15] liiight opened #111 "Add ability to scan dev-requirements.txt for python project"
A common pattern for python projects is to hold dev-requirements.txt for dev dependencies. It would be great to support this file as well.

[2018-07-27 08:37] greysteil commented on #111
Dependably should be automatically picking up any file with `requitements` in its name, or in a directory with that name - is it not?

[2018-07-27 08:53] liiight commented on #111
Oops, my bad. It's working as expected. Sorry for the false report...

[2018-07-27 09:03] greysteil commented on #111
No worries! Always feel free to get in touch!

[2018-07-27 09:03] #111 closed

[2018-07-27 09:11] Jym77 commented on #15
Another use case where a per-repo bump time would be useful:
I have dependabot on many repos, currently on a weekly bump. Since they are all using Python, when there are several updates in a given week, I spend my Monday morning swamped in going through dependabot (and manually `@dependabot rebase` because auto rebase was just killing our CI which has only 5 concurrent builds…) That is quite a lot

[2018-07-27 16:45] simlu commented on #6
I think the main problem I have with this is that:
(1) it is impossible to figure out if a badge actually belongs to a given repo by looking at the code only
(2) you can't predict the badge url for public repos (required for my use case)

I agree with your reasoning, however the **industry standard** seems to be to use an api key for private repos (travis and circle both do this). This is way more

[2018-07-27 16:52] simlu opened #112 "Offline Cache: Custom hooks?"
We have a special use case and I'm trying to figure out how to best solve this:

We use [npm-manager](https://github.com/simlu/npm-manager) which persists npm dependencies and then allows installation from local cache without require internet connection.

When dependencies are updated though dependabot, we need to re-persist the dependencies again, otherwise our tests will fail since offline insta

[2018-07-27 17:33] simlu commented on #112
Sound good! Thank you for the quick response!

I'm closing this as to not clutter this issue tracker, but feel free to reply if you think of anything else!

[2018-07-27 17:33] #112 closed

[2018-07-27 17:35] simlu commented on #98
@matthewmcgarvey We hacked together a quick script that talks to the api directly for this purpose. It's very raw, but should get us through until the ui improves (and ideally we have config files inside the repos at some point!). Reverse engineering wasn't too bad, but it really depends where your pain point is :)

[2018-07-27 17:43] greysteil commented on #6
Hmmm, I don't have an obvious answer for this.

Adding API keys to Dependabot would be quite a lot of work - I appreciate CircleCI and Travis do it, but they're both teams of 50+ people and I'm one guy! Unless there are other compelling reasons for Dependabot to have them I'm not sure it's worth it for just this case.

Can you think of any other way we could get around the security issue here? One

[2018-07-27 19:15] simlu commented on #6
@greysteil

I think a good solution would be
(1) use the repo name for the badge instead of the repo id
(2) when the repo is private require the repo id as an "api key"

This would allow you to later replace the repo id with a proper api key as well as solve my two issues I mentioned above.

E.g. circle is doing it as `https://circleci.com/gh/COMPANY/REPO.png?style=shield&circle-token=TOKEN_HERE`

[2018-07-28 16:03] davidkassa commented on #6
Great addition. Will worth the four hours, if you ask me.

[2018-07-28 17:54] greysteil commented on #6
@styfle - FYI, I switched to Badgen and am super happy with it. Thanks for the recommendation!

[2018-07-29 17:30] sloria opened #113 "Python: Scan for requirements in nested directories"
I usually put requirements for building docs in `docs/requirements.txt`. Dependabot does not seem to find this file. It'd be great if Dependabot automatically scanned all directories for requirements files (this is the behavior in pyup).

[2018-07-29 18:31] sloria commented on #113
This is also a blocker to adopting Dependabot for [cookiecutter-flask](https://github.com/sloria/cookiecutter-flask), which has its requirements nested within the `{{cookiecutter.app_name}}` directory.

[2018-07-29 19:48] greysteil commented on #113
Thanks for the feedback - super helpful.

Dependabot doesn't ever clone your repo, so scanning all directories for requirements files is a little tricky for us. Currently we pick up any files with `requirements` in their name in whatever directory you're specified to Dependabot (by default the root), and any files in any 1st-level subdirectories named `requirements`. You can see to code [here](htt

[2018-07-29 19:51] greysteil commented on #6
Glad you like it! And yeah, I wouldn't dream of creating a dependencies badge that isn't backed by a status page - getting that status page built is the blocker, but I'll get the one it!

[2018-07-29 20:02] sloria commented on #113
Thanks for the quick reply.

That would certainly address most use cases, including the two I posted about. 👍

[2018-07-29 20:02] greysteil commented on #113
Cool, that's what I figured. I'll get it done!

[2018-07-29 22:46] greysteil commented on #113
OK, I've just deployed that change. However, there's still a check that there's some kind of requirements file, or a folder called `requirements` at the level at which you add Dependabot . For `cookiecutter-flask` that means you'd need to set the directory (in the advanced options when adding a repo / language) as `{{cookiecutter.app_name}}` - I've tried it on a fork and with that set everything w

[2018-07-30 00:37] sloria opened #114 "Bug: Automatic merge after adding a commit fails"
I added a commit to a dependabot branch to fix a compatibility issue then added the `@dependabot merge` comment so that it would get automatically merged after tests passed.

https://github.com/sloria/jrnl-parse/pull/5

However, the PR did not automatically get merged--I had to manually merge the PR.

Not a huge deal--just thought I'd report the bug.

[2018-07-30 07:53] greysteil commented on #114
Ah, good catch. Dependabot is listening for webhooks from GitHub telling it when CI passes, but it's only listening for hooks which reference the original commit SHAs 🤦‍♂️. I'll get that fixed.

[2018-07-30 09:53] AndreaGiardini opened #115 "Feature: When a PR is superseeded, assign the new one automatically"
Example:

 - I have PR1 that bumps libraryX from 1.2 to 1.3 and is assigned by the team to JohnDoe
 - New version of libraryX comes out
 - Dependabot closes PR1
 - Dependabot opens PR2 that bumps libraryX from 1.2 to 1.4 _without an assignee_

I think it makes sense to assign the new PR to the assignee of the original PR

What do you think? :)

[2018-07-30 09:59] greysteil commented on #115
Oh, that's definitely a good idea!

[2018-07-30 10:31] AndreaGiardini commented on #115
I would appreciate a pointer in the good direction if that's something I can implement myself :)

[2018-07-30 11:33] sloria opened #116 "Python: scan for requirements in setup.py"
It would be great if Dependabot were able to bump dependencies declared in setup.py, i.e. `setup_requires` and `extras_require`.

[2018-07-30 11:58] greysteil commented on #115
Sadly this one lives in the main backend, rather than Dependabot Core. Should be really quick, though, so I'll get it done today. 🙂

[2018-07-30 13:41] greysteil commented on #114
Now fixed - thanks for the bug report!

[2018-07-30 13:41] #114 closed

[2018-07-30 13:58] sloria commented on #113
Actually, I am evaluating Dependabot for use with one of my work projects, [osf.io](https://github.com/CenterForOpenScience/osf.io). It has a number of "addons", which are pluggable Django apps which have their requirements in their own directory, which is two deep, e.g. [`addons/dropbox/requirements.txt`](https://github.com/CenterForOpenScience/osf.io/blob/develop/addons/dropbox/requirements.txt)

[2018-07-30 14:37] greysteil commented on #116
Dependabot *should* be doing this already - the relevant parsing code is [here](https://github.com/dependabot/dependabot-core/blob/master/helpers/python/lib/parser.py#L53-L125) (and yes, OMG it's ugly). Is there a repo you're running it on where they're not being picked up?

[2018-07-30 14:39] greysteil commented on #113
Looks like a good solution there would be to be able to install Dependabot on the `addons` directory and have it pick up all of the requirements.txt files one level deep. Would that work?

I'll have to remove the requirement of having some kind of requirement file/folder at the top level, but I'm happy to do that if it'll make a difference to you.

[2018-07-30 14:41] greysteil commented on #116
(Sometimes we fail at the parsing stage here, or for Pipenv at the updating stage. I've got a plan to fix that at the updating stage, and am happy to keep whacking moles at the parsing stage if/when they come up.)

[2018-07-30 14:43] sloria commented on #116
Ah, my bad. I thought I had enabled Dependabot on a project using setup.py with pinned requirements but I hadn't. After I enabled, it does seem to be working.

Sorry for the noise.

[2018-07-30 14:43] #116 closed

[2018-07-30 14:44] greysteil commented on #116
No worries - these are my favourite bug reports! 😉

[2018-07-30 14:45] sloria commented on #113
Yeah, I would need a way for Dependabot to scan two deep, `/addons/*/requirements.txt` and at the top level, `/requirements/*.txt`.

[2018-07-30 14:53] greysteil commented on #113
Would you be happy adding Dependabot twice for Python for that repo? Once at the root level and one at the `addons/` level? It will mean you get PRs separately for updates to the files in `/requirements/*.txt` and those in `/addons/*/requiments.txt`, but hopefully that's fine?

For example, here's the setup we have for keeping Dependabot core's JS requirements up-to-date in two different repos:

!

[2018-07-30 15:01] sloria commented on #113
Oh, I didn't realize you could add a language twice for the same repo. Yeah, that will probably be fine for our use case. I'll give it a shot when I get time to do this in earnest.

Thanks!

[2018-07-30 17:19] connorshea opened #117 "Open an issue instead of a PR when a new release of a package comes out"
So I have a project called [mdn-compat-data-explorer](https://github.com/connorshea/mdn-compat-data-explorer), and it uses an npm package called [mdn-browser-compat-data](https://github.com/mdn/browser-compat-data).

The package is heavily integrated into the project, so dependabot opening a PR isn't very useful as simply updating the package won't work and the tests will fail. When I update the p

[2018-07-30 18:37] greysteil commented on #117
I've had this suggested before, and I like the idea of a `@dependabot convert to issue` command. Shouldn't take too long to implement, although I have a few bugs to crush first.

Thanks for the feedback.

[2018-07-30 21:28] osterman opened #118 "Support for HCL (Terraform Modules and Providers)"
## what
* Open PRs against terraform repos when terraform modules have new releases
* Open PRs against terraform repos when terraform providers have new releases

## why
* It's an extremely diverse ecosystem with many modules
* We have [100+ terraform modules](https://github.com/cloudposse/?q=terraform-) and keeping them up to date is a nightmare. Anyone doing a lot with Terraform will have the sa

[2018-07-30 21:33] greysteil commented on #118
Interesting, and looks like this wouldn't be too difficult. I'm crunching through a bunch of maintenance tasks this week and next, have shipped Go last week, but will take a look at this once that's done.

Is there any concept of version resolution for terraform files (like in Bundler)?

[2018-07-30 21:56] sundarpsm1986 commented on #88
+1

[2018-07-30 22:40] osterman commented on #118
@greysteil not that I've been able to find so far. It's a big gap in the terraform ecosystem.

One of our [community members](https://slack.cloudposse.com) created [this script](https://gist.github.com/mike-zipit/fa936438c1edbb5f26ba68eec1cffaf8), but it's in bash. It does more than just update versions, but perhaps serves as a starting point to see how to do it.

[2018-07-30 22:49] osterman commented on #118
Also, there's an official registry site now for Terraform: https://registry.terraform.io, but don't know if it will be of much help.

There are a few ways to specify versions in terraform which may complicate it.

I think you could roll this out in phases.

1. First support git remotes (biased as this is most important to us and possibly the easiest to implement)
2. Support `version` parameter

I'

[2018-07-31 04:17] ConnorRigby opened #119 "Configurable mix.exs and lock files"
Projects using [Nerves Framework](https://nerves-project.org/) or possibly [any project](https://hexdocs.pm/mix/Mix.Project.html#module-configuration) aren't able to use dependabot because they expect project file to be `mix.exs` and `mix.lock`

[2018-07-31 06:37] osterman commented on #105
The GitHub slack integration is far too noisy. That said, we love and pay for https://pullreminders.com/

[2018-07-31 09:04] greysteil commented on #119
Thanks for the feedback Connor - should be relatively easy for me to fix today.

Would love your advice on a couple of things:
1) Dependabot has a [`required files` check](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/file_fetchers/elixir/hex.rb#L9-L11) that it does when someone adds a project. It's meant to be a very quick check that this project could possible support

[2018-07-31 09:04] greysteil commented on #119
cc @stevedomin

[2018-07-31 10:27] greysteil commented on #119
Update: I've just relaxed the requirement that a lockfile is present for Dependabot to work, as I'm pretty sure that's a requirement here.

[2018-07-31 12:25] lorengordon opened #120 "CodeCommit support?"
This project is fantastic, thanks! We use CodeCommit for private repos... Any chance you're thinking about extending support to providers other than GitHub?

[2018-07-31 13:16] greysteil commented on #120
Thanks @lorengordon! I definitely want to add support for more source code hosts. I'll probably start with GitLab, but once that's done additional providers should be relatively straightforward to add. I'll kep this open to remind me of CodeCommit.

[2018-07-31 14:59] nesl247 commented on #117
I haven't tested the "lock file updates only" feature yet, but if it doesn't do this, this may be a great way to support that feature, while also letting engineers know about newer releases.

[2018-07-31 16:21] styfle opened #121 "Add support for monorepos such as DefinitelyTyped"
Some projects are published to npm as multiple packages but use a single github repository.

I didn't dig into details to see npm has a way to detect this, but I can tell you how it works for DefinitelyTyped 😄

Basically, if the package `@types/node` is bumped, I would expect to see a link to commits pointing to [/commits/master/types/node](https://github.com/DefinitelyTyped/DefinitelyTyped/commit

[2018-07-31 23:23] mbarre opened #122 "Handle parent version in pom.xml"
Dependabot doesn't check parent version in pom.xml

We use Spring Boot, so the pom.xml is written this way :

[code]
Spring Boot just released the 2.0.4.RELEASE, I didn't received any PR.

It should be nice, if you could do it.
Thanks

[2018-07-31 23:28] adriens commented on #122
This could be very useful as Spring Boot is widely used....

[2018-08-01 00:36] greysteil commented on #122
Fixed by https://github.com/dependabot/dependabot-core/commit/e7de4d5bba558ce4fe7232f10955dceffa11979c.

[2018-08-01 00:36] #122 closed

[2018-08-01 06:10] afeld opened #123 "add an "Only security updates" option for Python"
Hello! Interested in adding dependabot to a Python project, but only looking for security updates. [This blog post](https://dependabot.com/blog/automatically-respond-to-security-advisories) indicates that dependabot now "pull[s] security advisory data...for Python", but I'm not seeing the corresponding "Only security updates" filter option when adding a Python project. Thanks!

[2018-08-01 07:34] greysteil commented on #123
Ooh, I forgot I needed to flick the switch on that. Done!

[2018-08-01 07:34] #123 closed

[2018-08-01 17:24] rolandasb opened #124 "Scan files for fixme's and notify inside PR"
There are cases when I have to implement workarounds before new version of a libraries get released. To annotate these, I add comments like this:

[code]

What if dependabot could notify me about this after Stimulus update? For example, I could write something like this...
[code]
... and dependabot would add a note inside a PR, that in `app/javascript/packs/application.js#L18` there are code that

[2018-08-01 22:42] mbarre commented on #122
Great ! I received the PR for spring-boot-starter-parent.
Thanks

[2018-08-01 22:46] adriens commented on #122
awesome @greysteil !!! ...and released so fast !!! :clap:

[2018-08-01 22:47] adriens commented on #122
Don't forget to add this feature to your feature list, it's really great !!!

[2018-08-01 23:09] greysteil commented on #124
That would be really cool. It's a little out of reach for Dependabot just yet, and I want to make sure we've got our core functionality nailed before expanding to use cases like the above, but I can see the value of us adding it at some point.

I'm going to close this for now as I can't put the above on the short-term roadmap for Dependabot, but will keep it in mind. Thanks for the feedback!

[2018-08-01 23:09] #124 closed

[2018-08-02 08:42] davidgoate opened #125 "Did dependabot recently change the email under which it commits?"
I thought dependabout used to commit as `support@dependabot.com`, e.g:

<img width="436" alt="screen shot 2018-08-02 at 09 36 10" src="https://user-images.githubusercontent.com/8789912/43572474-8fbec908-9637-11e8-9bde-51524a7753d0.png">

Now I think it's changed to `dependabot[bot]@users.noreply.github.com`, e.g:

<img width="1069" alt="screen shot 2018-08-02 at 09 37 04" src="https://user-images.

[2018-08-02 08:43] greysteil commented on #125
That shouldn't have happened - let me take a look.

[2018-08-02 08:46] greysteil commented on #125
Do you have a PR I can look at that's got this issue?

Nothing related to this has changed on our side, so I'm wondering if it's a GitHub issue.

[2018-08-02 08:54] davidgoate commented on #125
@greysteil I'm actually wondering if this is a false alarm (sorry).

I see one from today that worked: https://github.com/marshmallow-insurance/uk-auto-quoting/pull/312
And one from today that did not: https://github.com/marshmallow-insurance/uk-auto-quoting/pull/313

The difference between the two is that the latter I think was updated via the GitHub UI's `Update Branch` button and merged via a s

[2018-08-02 09:08] greysteil commented on #125
I'm not sure what could have happened there either.

One thing worth mentioning is that Dependabot supplies GitHub with the author details to use for its commits (we tell it to use `{ name: "dependabot[bot]", email: "support@dependabot.com" }`), BUT the default email address associated with our bot account, which I believe we're unable to change, is `dependabot[bot]@users.noreply.github.com`. Henc

[2018-08-02 09:08] #125 closed

[2018-08-02 09:10] drewpterry opened #126 "Feature Request: Assign a random reviewer from a given list of users or a team"
Currently you can use `@dependabot use these reviewers` to add reviewers automatically for a Dependabot PR.

I'm working on a larger team and don't want to tag a whole bunch of people and have them be bombarded with Dependabot review requests. It would be really great to have a command that would allow me to automatically assign one reviewer from a group automatically forever.

So for example say

[2018-08-02 11:49] georgemcg opened #127 "[Bug] Wrong title on PR"
Recently I got a PR to update a dependency, where the title of the PR was different to the actual dependency being updated.

The title claimed to be updating react from `16.4.1 to 16.4.2`, but was in fact updating from `16.3.1 to 16.4.2`.

As well as being a bit misleading, this spooked me a bit, as not sure if dependabot knows it's not just a patch version for the purposes of automatic PR merging

[2018-08-02 11:53] greysteil commented on #127
Would you mind just checking what the version is in your lockfile for this update? That's where Dependabot will have been reading the current version from, and whilst it looks from your `package.json` that it should be `16.3.1` I'd like to be sure. Better yet, if you email me a link to the PR then I can dig into it from my side.

[2018-08-02 11:58] georgemcg commented on #127
I think as it's a private repo I can't email a link, sorry about that.

Here's another screenshot showing the yarn.lock file, looks like it is 16.3.1 as well.

<img width="1241" alt="screen shot 2018-08-02 at 12 57 11" src="https://user-images.githubusercontent.com/28559436/43582246-af53b032-9653-11e8-84b9-00e6491e4d13.png">

[2018-08-02 12:00] greysteil commented on #127
Ah man, that's definitely a bug. Looking at the `yarn.lock` I can see how Dependabot has got confused - you *did* already have React 16.4.1 in the lockfile, but it wasn't the version that corresponded to the requirement in your `package.json`. I'll put together a failing test for this case now, and get it fixed.

[2018-08-02 12:46] georgemcg commented on #127
Awesome, thanks!

[2018-08-02 13:31] georgemcg commented on #127
Sure sent 😄

[2018-08-02 13:32] greysteil commented on #127
Got it. Please leave that PR open whilst I diagnose and fix. 🙂

[2018-08-02 14:26] greysteil commented on #127
Ah, I see what's going on here:
- The repo being updated is a monorepo, containing a bunch of different packages
- The repo uses Yarn workspaces, and some of the packages have React at `16.4.1`. The top-level `package.json`, however, has a requirement that pins its version of React to `16.3.1`
- Dependabot is creating a PR to update the top-level package and all sub-level packages to `16.4.2`. In

[2018-08-02 14:26] #127 closed

[2018-08-02 14:30] georgemcg commented on #127
Thanks for the speedy resolution!

[2018-08-02 20:57] gauravhub opened #128 "Integration with Azure DevOps (previously Visual Studio Team Services)"
We use Microsoft VSTS Git repositories in our organization. Does dependabot support VSTS or is there any future plans?

[2018-08-02 21:05] adriens commented on #128
I don't see the link between IDE and dependabot. I would say that if the IDE has git support, then it supports dependabot. :smile_cat:

[2018-08-02 21:08] greysteil commented on #128
VSTS is more than an IDE - it's a source code hosting provider, too.

We do have plans to support more source code hosting providers, starting with GitLab. I hope to have support by the end of the year, although can't promise anything on this one.

[2018-08-02 21:43] gauravhub commented on #128
Thanks @greysteil for quick response. Looking forward to support for VSTS Git repositories. Will check again at the end of year.

[2018-08-02 21:47] greysteil commented on #128
Awesome - sorry I can't offer support sooner.

[2018-08-02 22:11] chris5287 commented on #128
@greysteil is there any way that “we” (ie: open source community) could speed up the implementation of other hosting providers? I would love to have VSTS and Bitbucket Server support (both of which have marketplaces), but it looks like the open source community cannot help as the code isn’t in the core repo :(

[2018-08-02 22:17] greysteil commented on #128
Thanks for the offer @chris5287.

There's open-source work to be done for both VSTS and Bitbucket - Dependabot Core doesn't work fully with either yet.
- For Bitbucket, what's needed is extension of [this method](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator.rb#L47-L53) and [this method](https://github.com/dependabot/dependabot-core/blob/master/lib/d

[2018-08-02 22:27] greysteil commented on #128
There's no reason Dependabot shouldn't be able to support on-prem - Dependabot Core can already do it for GHE 🙂. If you take a look at the `Dependabot::Source` class, basically it works by providing a custom `api_endpoint` and/or `hostname`.

[2018-08-02 22:28] greysteil commented on #128
And thanks! 🙏

[2018-08-02 23:41] greysteil commented on #126
That's a really neat idea. I'm going to hold off on it while I polish and fix a few things, but I really like it.

[2018-08-07 19:07] lorengordon opened #129 "How does the docker support recognize new versions?"
This is really just a usage question... Just ran into an issue with a slow-moving project where some update to an underlying docker image in the last 10 months is causing the tests to fail. Figured I'd try to better pin the docker image and enable dependabot to check and update things, so we get a heads up when this happens. But, I can't figure out how to specify the image in a way that will resul

[2018-08-07 19:43] lorengordon commented on #129
Yeah, but that represents the centos 7.5 image of the install media, with only packages from the original ISO. It does not include any updates.

[2018-08-07 19:45] lorengordon commented on #129
If that's my only option, I can do that, and run the updates in the Dockerfile. Was just hoping to avoid it.

[2018-08-07 20:18] greysteil commented on #129
At the moment it's the only option 😢.

I think a really nice improvement would be for Dependabot to update digest SHAs for you if you pin to a digest SHA. That shouldn't be too hard for me to implement - I'll take a look this week.

[2018-08-07 20:25] greysteil commented on #129
I'm pretty sure you can use the format `ubuntu:12.04.5@sha256:18305429afa14ea462f810146ba44d4363ae76e4c8dfc38288cf73aa07485005`, which would do it. Otherwise yes - there'd be no way for us to look up the tag from the now outdated SHA.

[2018-08-07 20:33] lorengordon commented on #129
Ahh, nice, that does work! :D

[2018-08-07 23:30] osterman opened #130 "Feature Request: Auto Merge Upon Approval"
## what
* Merge after PR approval

## why
* We require an approval on all PRs

[2018-08-08 09:01] greysteil commented on #130
Interesting. Is there a reason the person giving the approval wouldn't click merge?

You've probably seen that at the moment Dependabot comments on the PR if it's been asked to auto-merge but GitHub permissions prevent it from doing so. I think doing this would mean losing that comment, which might make the auto-merge behaviour unclear for some folks (I think most people expect it to not require a

[2018-08-08 13:42] greysteil commented on #119
@ConnorRigby - would love your feedback on the comments above. I'd really like to make Dependabot work for projects using Nerves.

[2018-08-08 14:44] ConnorRigby commented on #119
Thanks for the quick turnaround! I'll give this a try again today

[2018-08-08 14:47] greysteil commented on #119
No worries. Happy to keep iterating to get support as close to perfect as possible.

[2018-08-08 16:06] Floppy opened #131 "Composer: changed ssh github URLs to https"
Bit of a strange one. We had a composer update a few days ago  that changed the github URLs of unrelated packages from `git@github.com:` style to `https://github.com/` style. The ssh urls were still the same in the composer.json file. Any ideas why that might have happened?

[2018-08-08 23:14] greysteil commented on #131
Ah, that does sound like something we'd do. It's related to how Composer deals with credentials for git repos, but I *think* we might be able to avoid the change now. Let me test and get back to you. Nudge me if I don't get to in this week.

[2018-08-09 11:13] greysteil commented on #131
@Floppy - any chance you could ping me the URL of the PR? You can email support@dependabot.com if you don't want to put it here.

[2018-08-09 12:13] greysteil commented on #121
This has been sitting in my inbox as a "good question, needs thought" issue for the last week. Finally getting to it now!

[2018-08-09 13:15] styfle commented on #121
Thanks for the response!

I see now how tricky this is to make a pattern that will work for any arbitrary monorepo since they all handle publishing differently.

DefinitelyTyped is kind of the exception to most npm packages because they don't deal with JS source code so they don't bother maintaining a bunch of `package.json` files in a `packages` directory.

Maybe you can look at how often Dependa

[2018-08-09 13:31] greysteil commented on #121
Yeah, this one is definitely tricky, but I'm not giving up on it yet.

I think there's a bigger problem here that there's currently no way for monorepos to specify the directory that their code lives in in their `package.json`. That affects `react`, `angular`, etc., and is a bit sad. I'm chatting with the npm folks to make sure I'm not missing anything, and will make a proposal to fix it if need b

[2018-08-09 15:29] styfle commented on #121
Yeah I could see that being part of the [repository](https://docs.npmjs.com/files/package.json#repository) field. Something like:

[code]

I found the npm team is pretty good at entertaining ideas.
Did you create an idea on their community page? https://npm.community/c/ideas
Or just tweet at them?

[2018-08-09 15:30] greysteil commented on #121
Asked in the discord app ([here](https://discordapp.com/channels/317475976369930241/317477684999487489)). I'll create an idea on the community page if I don't hear back.

[2018-08-09 15:45] sloria commented on #57
@greysteil Now that .NET support is shipped, are there plans for pyproject.toml/poetry support?

I am evaluating package managers (pipenv vs. poetry) for a project at work, and support in dependency updater services (I'd love to use Dependabot!) will play into the discussion.

I don't mean to add pressure to implement this. We'd just like to make as informed decision as possible when choosing our

[2018-08-09 15:55] greysteil commented on #57
Yes - I want to add poetry next.

FWIW, I'm a bit worried about the fractured Python ecosystem on this one. I'd really like to dive in and help the Pipenv team write a resolver, which is the critical advantage that poetry has over Pipenv at the moment, but I'm not well placed to do so.

I'll try to add Poetry support over the next week, and let you know if I hit any issues.

[2018-08-09 16:06] sloria commented on #57
Same. The ecosystem is a bit in flux ATM, and there's still a lot of work to do (and not enough time!).

Good on you if you decide to contribute; seems like a major gap with pipenv.

FWIW, the reason I'm considering poetry is for other reasons: https://github.com/sdispater/poetry#install-command (see the last three subsections in the "What about Pipenv?" section).

Thanks so much for your work on

[2018-08-10 04:03] osterman commented on #130
We usually have the person opening the PR, merge the PR.

This leads to my follow up request, to have dependabot merge and tag a new patch release. =)

e.g. https://github.com/cloudposse/testing.cloudposse.co/releases

[2018-08-10 12:56] cabello opened #132 "Can't get it to work because of private repo"
Hi 👋 , I just started a trial and I am trying to get Dependabot to work with a Ruby/Rails project, we use Sidekiq pro. I configured the Config Variables to the same setup I have in my local and production but it did not work.

What else can I do to debug, understand what's going on?

Thanks

[2018-08-10 13:38] greysteil commented on #132
Oh, sorry about that. We dont offer much self serve debugging for config variables, but I’ll take a look when I’m at my computer and get this fixed for you

[2018-08-10 14:27] cabello commented on #132
Just a moment... I may have a typo in the address.

[2018-08-10 14:39] cabello commented on #132
🤦‍♂️ it was my mistake, all good for now, thanks for the prompt reply ❤️

[2018-08-10 14:39] #132 closed

[2018-08-10 14:41] greysteil commented on #132
Haha, perfect - had just got to my computer!

[2018-08-12 22:29] greysteil commented on #57
@sloria, @sobolevn - just finished working on this, check out dependabot/dependabot-core#635. Will get it merged and deployed tonight / tomorrow morning.

[2018-08-13 02:13] mike-north commented on #101
@greysteil what about open-source orgs? I've set up dependabot for personal repos, but can't seem to find where I'd update the bot's github access so it can see OSS repos in orgs I'm an admin of

[2018-08-13 08:03] sobolevn commented on #57
@greysteil awesome! You can use https://github.com/mimesis-lab/mimesis-factory for integration tests, if needed.

Will be happy to be an early adopter.

[2018-08-13 08:51] greysteil commented on #101
@mike-north to give Dependabot access to OSS repos in a org you're and admin of you'll need to install it on that org (for free, of course). You can do so from the "add account" link in the Dependabot menu (drop-down in the top-right of your Dependabot dashboard), or alternatively can do so directly from https://github.com/apps/dependabot/installations/new.

(We don't control GitHub's UI on this o

[2018-08-13 09:18] #57 closed

[2018-08-13 16:44] mike-north commented on #101
@greysteil this totally solved my problem. Thanks! FWIW I wasn't able to find my way to this screen through either Github or Dependabot's UI. The "add account" link in the Dependabot UI takes me to

https://github.com/marketplace/dependabot which is less helpful than the link you provided

[2018-08-13 16:53] greysteil commented on #101
Awesome! Yeah, unfortunately the /apps like is only really relevant for free accounts, as it bypasses the marketplace. I’m trying to work with GitHub on improving the main flow - we’ll get there!

[2018-08-14 11:28] caiofbpa opened #134 "Add labels for major, minor and patch bumps for better filtering"
Scenario: We have lots of (50+) dependency updates.

Given that:
- A patch bump is non-brainer merge if all tests pass.
- A minor bump is easy to merge given all tests pass and a quick check on the release notes.
- A major bump is very likely to break tests or require changes in client code.

It would be really handy if we could filter the bumps by `major`, `minor` and `patch`, which would be poss

[2018-08-14 13:48] sobolevn commented on #57
Merged! https://github.com/mimesis-lab/mimesis-factory/pull/26

@greysteil thank you for making this, you are awesome!

[2018-08-14 14:17] avokhmin opened #135 "Allow to customize a name of branches"
Hello.

Is possible to add an extra config for project and allow to customize the name of branches?

See: [gcloud functions deploy](
https://cloud.google.com/sdk/gcloud/reference/functions/deploy)

![screen shot 2018-08-14 at 17 14 43](https://user-images.githubusercontent.com/422109/44097093-9e638946-9fe5-11e8-8546-b04cfbc61a7c.PNG)

They forbid to use `/` char in the branches name.

Best regards

[2018-08-14 15:02] greysteil commented on #135
Ah man, that is really annoying. Why would they do that?!?!

I'm sure I can fix that. What an annoying setting to need, though!

[2018-08-14 16:26] JacobEvelyn opened #136 "Automerge questions"
I've been playing around in a dummy repo to try to see how Dependabot's automerging works. I set up the repo in Dependabot to automerge everything (and don't have any business-hours-only limitation set up), and yet I haven't actually seen any of Dependabot's PRs merge automatically.

- First I had Dependabot create [this PR](https://github.com/panorama-ed/dummy-repo/pull/4)
  - At this time the re

[2018-08-14 16:28] greysteil commented on #135
Just deployed the backend - if you give me the name of the account you want the prefix changing on then I can do that for you manually in console.

Working on the frontend now.

[2018-08-14 17:16] greysteil commented on #135
Front end deployed! Second setting under "Pull request options".

![image](https://user-images.githubusercontent.com/1144873/44107055-183a24ca-9fee-11e8-97e0-266070eefef4.png)

[2018-08-14 17:16] #135 closed

[2018-08-14 17:35] greysteil commented on #136
Hey Jacob,

Thanks for giving Dependabot a try, and for getting in touch.

You're right - the reason Dependabot hasn't automerged any of those is because there's no CI on them. Here's what would have happened if there were CI:
- In the first case, assuming CI passed, Dependabot would attempt to automerge but fail (because of the approval requirement and restriction on pushing to master). As a resu

[2018-08-14 17:35] #136 closed

[2018-08-14 17:54] tooomm opened #137 "dependabot conflicts with `npm audit --fix`"
The `npm audit --fix` command added `^` to most (every?) version in my `package-lock.json` file.
With todays "Bump eslint-plugin-react from 7.10.0 to 7.11.0" this got all reverted and ends in conflicts for the package-lock file in other branches which I have to resolve manually.

[2018-08-14 17:56] JacobEvelyn commented on #136
Great, thanks for all the info @greysteil !

[2018-08-14 17:56] greysteil commented on #137
Interesting. Can you point me to the PR, so I can take a look at what happened here? (Feel free to email to support@dependabot.com if it's private.)

Dependabot tries to detect whether you're using npm5 or npm6 (the later adds the `^`), so perhaps that's the cause.

[2018-08-14 18:44] greysteil commented on #137
👍 and no problem!

[2018-08-14 22:53] marcotc opened #138 "Listen to approval messages for bot commands"
My current usage pattern for @dependabot-bot is:
[code]

It would be great if either of these two things were true:
* Dependabot interprets approved PRs as "ready to merge".
* Dependabot listens to the message inside the approval event, so that we can write `@dependabot merge` in the approval message itself.

[2018-08-15 00:43] greysteil commented on #138
(2) is deploying now. Thanks again for the suggestion!

[2018-08-15 00:43] #138 closed

[2018-08-15 07:00] avokhmin commented on #135
Wow, so fast, thanks @greysteil !

[2018-08-15 07:14] avokhmin commented on #135
@greysteil , is possible to do it per project? Not per account?

![screen shot 2018-08-15 at 10 13 32](https://user-images.githubusercontent.com/422109/44136038-f3268f3a-a073-11e8-98a2-5e0ee8303cae.PNG)

[2018-08-15 08:05] greysteil commented on #135
Not for now - is there a particular downside to having it at the account level? I'm all for increased granularity in general, but I thought this one was the least likely to receive requests to move - I've never though the separator mattered to people very much unless it blocked other tools.

[2018-08-15 08:06] greysteil commented on #135
And you're welcome! Always looking to improve the product so feedback like this, particularly when it's blocking you using Dependabot, is always welcome 🙂

[2018-08-15 09:48] avokhmin commented on #135
Thanks @greysteil

Yeah, we deploy only few projects to Google cloud. This `/` issue is really strange. I wrote to Google about it, but 0 response 😕
For all other projects we like to use `/` char in the name, because it helps to use other tools and etc.

[2018-08-15 09:51] greysteil commented on #135
My guess is that it just makes their life a little easier with URLs. If others can manage it I don't see why they can't though, and like you said, using a `/` is preferred for other tools.

I'll have a think about moving down to the repo level, but can't promise that in the short term. Longer term I want to introduce an (optional) config file, at which point there'll be no downside to pushing this

[2018-08-15 13:38] greysteil commented on #134
Sorry for the slow reply on this. I think it makes a tonne of sense, I'm just thinking through the best way to do it.

I'm not sure everyone would want `minor`, `major` and `patch` labels applied to their PRs (mainly because those labels don't make sense stand-alone). However, it would be pretty straightforward for me to check if you've got those labels declared on your side and use them if you do

[2018-08-15 14:17] caiofbpa commented on #134
I would be happy with creating the labels and dependabot using them if they exist.

But I also have some suggestions for alternatives:

1. Make the labels be `patch-dependency-bump`, `minor-dependency-bump` and `major-dependency-bump`, so they make sense standalone, and maybe they can be the default for everyone.

2. Make this labelling optional in dependabot settings page.

3. Add an option to `@

[2018-08-15 20:56] asherf opened #139 "Allow adding custom labels"
When we have multiple languages in the same repo (python & JS for example)
it will be useful to customize those in Depandabot so it will add custom labels.
this way we can filter by the dependencies and by the language (custom) label.
also allows adding other tags (team association, for example) across multiple repos.

[2018-08-15 21:43] RohanNagar commented on #139
You can add labels to a Dependabot PR, then comment `@dependabot use these labels` on a PR and it will use those labels in the future for that repo and language.

[2018-08-15 21:48] asherf commented on #139
ah. good to know.

[2018-08-15 21:50] #139 closed

[2018-08-15 21:54] greysteil commented on #139
Thanks @RohanNagar! ❤️

[2018-08-15 23:14] chekalskiy commented on #26
@greysteil Please take a look — we have same issue and it still persists. I've just run `composer update` in our master branch and it shows a lot of outdated dependencies. Thanks

[2018-08-16 08:47] greysteil commented on #26
@chekalskiy that option is still enabled, and should be working, but if there are sub-dependencies that have received an update when their top-level dependency hasn't then Dependabot won't yet have updated them for you.

Can you confirm that none of the outdated dependencies are top-level? (i.e., that they don't appear in your `composer.json`)? Happy to take a look at the repo myself if that's eas

[2018-08-16 12:49] php-coder opened #140 "A wrong label is assigned"
The issues created by Dependabot has a wrong label -- `dependency/spring`. I'm using this label for marking issues that are related to Spring Framework. If Dependabot need some particular label, it should be stated as a requirement in the installation manual. Also, it should be configurable in UI.

Examples:
https://github.com/php-coder/mystamps/pull/936
https://github.com/php-coder/mystamps/pull/

[2018-08-16 12:50] greysteil commented on #140
Ah, oops! Dependabot looks for labels in your repo that includes `dependency` and uses them in place of its own `dependencies` label if they exist, in an attempt to match your style. Obviously its made the wrong decision here! I'll get that fixed.

[2018-08-16 12:55] php-coder commented on #140
@greysteil Thank you for the fast reply! How it will work after fix? Do I need to create a dedicated label myself or Dependabot will create it? Or it will create issues without label if it doesn't exist in a repo?

[2018-08-16 13:00] greysteil commented on #140
I think the fix here is for Dependabot to explicitly ignore that label when looking at labels users might prefer to Dependabot's default `dependencies` label. Once I've deployed that Dependabot will correctly create a `dependencies` label and start labelling its PRs with that. If you'd prefer it use a different label, or no label at all, you can just label up a Dependabot PR how you'd like it and

[2018-08-16 13:01] greysteil commented on #140
The code is [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/labeler.rb) btw.

[2018-08-16 13:02] php-coder opened #141 "Q: How to exclude some dependency from update?"
I'd like to exclude Spring Boot from automatic updates as I'm updating it manually. Is there a way to get such behavior? Thanks!

[2018-08-16 13:05] greysteil commented on #141
Yep! Just comment `@dependabot ignore this dependency` on the relevant Dependabot PR. (There are details of all the commands you can use included in the footer of each PR.)

[2018-08-16 13:05] #141 closed

[2018-08-16 13:06] php-coder commented on #141
Yeah, I already found it. Thank you!

[2018-08-16 13:29] php-coder commented on #70
I'd prefer having YAML file (like TravisCI and others).

[2018-08-16 13:31] greysteil commented on #140
Fixed in https://github.com/dependabot/dependabot-core/commit/063f67f53be5f2875801edfa19561870de0ca1c4. Thanks for reporting!

[2018-08-16 13:31] #140 closed

[2018-08-16 13:39] php-coder opened #142 "Dependabot doesn't recognoze multiple commands in a single comment"
I tried to teach Dependabot about default labels and assignes. I put 2 commands to a single comment, but a bot recognized only the first one.

Here is a comment: https://github.com/php-coder/mystamps/pull/936#issuecomment-413540182
Here is a PR that was created after that comment: https://github.com/php-coder/mystamps/pull/941 (it isn't assigned to me)

[2018-08-16 13:41] greysteil commented on #142
I happened to look through the PRs and noticed that.

This is a tricky one. The regexes on my side for picking up commands are as conservative as possible, to avoid Dependabot accidentally picking things up when it shouldn't do.

In this case, however, I think it's super clear what the intention was because you've put a linebreak in. I'll have a look at getting Dependabot to pick up multiple comma

[2018-08-16 14:00] php-coder commented on #14
@greysteil Is it already fixed?

[2018-08-16 14:03] greysteil commented on #14
It's not - this is probably a full day's work on my side. I'll get to it, but have had a bunch of other higher priorities.

In the meantime, assignees and reviewers are now copied over from the old PRs. 😎

[2018-08-16 14:09] greysteil commented on #142
Change is deploying now. 🍸

[2018-08-16 14:09] #142 closed

[2018-08-16 15:10] nesl247 commented on #70
@php-coder That's good too. I don't really care what the format is, I just want a config file of some sort.

[2018-08-16 16:16] simlu commented on #92
FYI We use a gmail filter. It works reasonably well, but has it's limit.

[2018-08-16 16:19] cabello opened #143 "I :heart: dependabot"
Such a joy ❤️
Looking forward to see this product evolve!

[2018-08-16 16:19] #92 closed, assigned to nobody

[2018-08-16 17:17] greysteil commented on #130
Sorry for the slow reply - got dragged into another couple of things.

I've just shipped a solution to https://github.com/dependabot/feedback/issues/138, which I think fixes this, too. If you comment `@dependabot merge` when approving a pull request the bot will get it done for you.

One tagging a new patch release, I'm afraid that's a little beyond humble Dependabot for now! I'd suggest having a

[2018-08-17 04:33] osterman commented on #130
@greysteil I will check it out. Thanks!

[2018-08-17 04:33] #130 closed

[2018-08-17 06:08] StefanWallin opened #144 "Links to pull requests in changelog linking to local repo instead of dependency"
When updating the activerecord-import gem I noticed that they, [in their changelog](https://github.com/zdennis/activerecord-import/blob/master/CHANGELOG.md) have scribbled PR-references without links such as `#527`. These would link to our inspected repo instead of the dependencies repo(probably because of github autolinking).

Could we maybe change this to function like the commit reference logs

[2018-08-17 07:53] greysteil commented on #144
Good catch! Fixed in https://github.com/dependabot/dependabot-core/commit/ac4eddb28937692effc14961681fc2353c792ff4.

The issue here was that `activerecord-import` was attempting to backslash-escape its issue references (which GitHub ignores, so Dependabot still needs to sanitize).

Thanks for flagging this one!

[2018-08-17 07:53] #144 closed

[2018-08-17 18:21] danmaas opened #145 "Custom Dockerfile name / multiple Dockerfiles per repo"
Hi - I have a repo with a couple of Dockerfiles named something other than "`Dockerfile`", e.g.

[code]

I would like there to be an option in Dependabot's Docker configuration to specify a custom Dockerfile name.

Also, it would be nice to handle multiple Dockerfiles within a single repo, either by registering them as separate "languages", or by managing them as a group.

[2018-08-17 21:27] php-coder opened #146 "Reduce duplication in a commit message"
Commit that has been created by Dependabot could have duplicated lines (example: https://github.com/php-coder/mystamps/pull/936/commits/35d9046d39c54ffcf73add5f6b70af60ff16f081):

I don't see how the 2nd line is useful in this case. Could commit message be improved?

[2018-08-17 21:28] php-coder opened #147 "Idea: teach bot about changelogs"
When bot don't have links to the changelogs, users could teach a bot with a special command. WDYT?

[2018-08-17 21:30] php-coder opened #148 "Q: how to edit bot commits?"
I'd like to include links to the changelogs in commit messages. How I can do that? (And these links not the same as bot includes in PR.)

[2018-08-17 22:12] php-coder commented on #147
Perhaps, users can also teach a bot that some additional changes is required for update. For example: https://github.com/php-coder/mystamps/pull/944 -- native2ascii plugin was fully-rewritten and configuration has been changed, so it's impossible to just update its version.

[2018-08-17 22:31] greysteil commented on #134
OK, to get things started I've just shipped https://github.com/dependabot/dependabot-core/commit/fb3d263054ecf4bf0602968f4c3526453c1fbe98, which will use the `major`, `minor`, `patch` labels if all three already exist on a repo. If you create the labels in your repo then Dependabot should start including them on PRs. 🎉

I'm going to mark this as resolved given the above, but wouldn't be too surpri

[2018-08-17 22:31] #134 closed

[2018-08-17 22:49] greysteil commented on #148
Dependabot should already be including those, if it can find them. The relevant code is [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/message_builder.rb#L54-L60).

Is there an example PR it should have got a changelog for?

[2018-08-17 22:51] greysteil commented on #147
Learning how to apply additional changes is on my "very long term" plan for Dependabot. I think it could be awesome, and with enough users I don't see why it shouldn't be possible.

Learning about links to changelogs might be a bit simpler, but often there's something rules-based that Dependabot could be doing better. What repos has it missed?

[2018-08-17 22:54] greysteil commented on #146
I can see where you're coming from on that one!

Currently the commit message mirrors the GitHub PR title, and then also the first line of the PR (roughly). The relevant code is [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/message_builder.rb#L154-L175), and it's not *always* a straight duplication, so I'm inclined to keep it how it is...

[2018-08-17 23:11] php-coder commented on #148
There are plenty of them:
* https://github.com/php-coder/mystamps/pull/946
* https://github.com/php-coder/mystamps/pull/936 (this plugin lives together with surefire plugin -- https://github.com/apache/maven-surefire)
* https://github.com/php-coder/mystamps/pull/942
* https://github.com/php-coder/mystamps/pull/943
* https://github.com/php-coder/mystamps/pull/938

[2018-08-17 23:11] greysteil commented on #134
Out of interest, are you planning to automate something based on this? Looking at the work I had to do to add it I'm slightly wondering whether it is, in fact, more complicated than it needs to be. Dependabot already puts the updated and previous versions into the PR title - is a quick scan of those not enough? I'm tempted to remove this if so - feels kinda imperfect and I don't like that. 🤔

[2018-08-17 23:41] greysteil commented on #148
OK, I reckon I've got a way for Dependabot to find links to the repos for `togglz`, `maven-failsafe-plugin` and `liquibase`. `commons-lang3` is harder, because the GitHub repo for it is a mirror and isn't mentioned anywhere in the POM, and it looks like Dependabot *did* find the repo for `groovy-all`, it's just that there wasn't a changelog there (unless it's looking in the wrong place?).

Will ge

[2018-08-18 10:35] greysteil commented on #148
OK, I've just deployed https://github.com/dependabot/dependabot-core/commit/1c404423a93646a5483d47319ceb78aa9e1ab338, which should improve things here. It won't be perfect, but finding changelogs is something of a whack-a-mole issue!

If you see others that Dependabot has missed / could do better one, please do tag me in the PR (you can just mention @dependabot to do so).

[2018-08-18 10:35] #148 closed

[2018-08-18 12:58] caiofbpa commented on #134
Thanks @greysteil! 🌷

I don't plan on doing any automation for the foreseeable future, our use case is really being able to filter out PRs based on the semver change level so we can manually merge first the easy ones.

We were doing the "filtering" manually, going through all PRs and spotting the patch and minor ones, and giving preference to those, which is quite tedious work when you have 50+ de

[2018-08-18 13:08] greysteil commented on #134
👍 - let me know how you get on, and I'll keep thinking on whether there's something better we could do.

[2018-08-18 15:54] greysteil commented on #48
Just implemented this in https://github.com/dependabot/dependabot-core/commit/c540f5ca58b932e3b393c596c227a548ac0d5349. Will take effect on Monday.

Thanks again for the feedback!

[2018-08-18 15:54] #48 closed

[2018-08-18 15:56] greysteil commented on #121
FYI, I've created an RFC for npm on this - it's [here](https://github.com/npm/rfcs/pull/19).

[2018-08-19 12:15] nesl247 commented on #145
I too have multiple in almost all of my repos. We have one for ngoni, pho-fpm, etc.

[2018-08-20 11:20] TorrentKatten opened #149 "More error output when a project fails"
When we added a few of our ruby projects they failed, and dependabot gave some useful error output so we could fix it. But one of our Docker builds fails and all we get is:

"
Error bumping dependencies

Dependabot encountered an unknown error.

We've been notified of the problem, and are working to fix it.
"

Sure the error is unknown, but there must be something?
Or are you that sure that the is

[2018-08-20 13:16] sloria opened #150 "Feature request: Ignore dependencies using code comments"
It would be great if dependencies could be conditionally ignored using a code comment.

Something like:

[code]

Related to #72
See pyup: https://pyup.io/docs/bot/filter/

[2018-08-20 14:08] RohanNagar opened #151 "Label Change today"
Today I got 3 PRs using a new label scheme. Before today, I got PRs from dependabot using the label `Type: Dependencies`, which is the label I would like to be used.

Ex: RohanNagar/thunder#251

Today, I got PRs using the label `dependencies`. It looks like this label was just created.

Ex: RohanNagar/thunder#255, RohanNagar/thunder#256, RohanNagar/thunder#257

Can Dependabot continue to use the c

[2018-08-20 14:15] greysteil commented on #151
Ah crap, sorry about that.

On using the incorrect `dependencies` tag, I've just fixed that in https://github.com/dependabot/dependabot-core/commit/69c0ec6a11eccbf6bceab00a5d07adfc0ff6cb68, but you'll also need to delete the `dependencies` label that Dependabot has created for you.

On not using a `js` / other language tag - yes, if you comment `@dependabot use these labels` on a PR having removed

[2018-08-20 14:15] #151 closed

[2018-08-20 14:16] RohanNagar commented on #151
No worries, I really appreciate the quick fix!

[2018-08-20 16:39] greysteil commented on #149
Error message should be a lot clearer now - this was a permissions issue and you can enter credentials in your dashboard. Let me know if you have any trouble!

[2018-08-20 16:39] #149 closed

[2018-08-21 14:02] greysteil commented on #145
On easy start here would be for Dependabot to fetch and update all files with the word `dockerfile` in them. I'll implement that now and have it deployed in the next couple of hours.

After that adding support for arbitrary names shouldn't be too tricky. I'll try to get to that today, too.

[2018-08-21 16:33] greysteil commented on #145
OK, Dependabot will now update all files with the word `dockerfile` in them (commits are [here](https://github.com/dependabot/dependabot-core/compare/v0.67.1...v0.67.2)).

Are either of you using names that it would miss, given the above? I'll close this if not.

[2018-08-21 16:43] nesl247 commented on #145
I just use `Dockerfile` in different directories.

[2018-08-21 17:04] greysteil commented on #145
Ah cool - Dependabot should already be able to handle that if you just add multiple update configs, one for each language. I *think* that's probably the best long-term solution there - I could set Dependabot up to trawl your repo for any files called Dockerfile, but can see that being the wrong behaviour for some people.

[2018-08-21 17:13] nesl247 commented on #145
I actually didn't know we could add the same language multiple times. That works for me.

[2018-08-21 17:14] greysteil commented on #145
Yeah, I could definitely clean up the UI on that...

@danmaas - does the current change work for you, too?

[2018-08-21 17:49] peol opened #152 "Configuring dependabot to rebase smarter?"
Hi!

Thanks for this project, it has been working great for us in our open source efforts. We are currently running dependabot on 18 repositories in our organization. So now to my thinking:

Right now, when there are multiple pull requests in one repository dependabot rebases _all_ PRs after one has been merged. This triggers _a lot_ of CI builds, increasing the time it takes to get PRs merged.

M

[2018-08-21 17:53] danmaas commented on #145
Yes, a case-insensitive match against `dockerfile` in the filename should work fine.

[2018-08-21 18:27] greysteil commented on #145
Awesome - going to close for now, and will revisit if other need even more custom names. Thanks for the feedback!

[2018-08-21 18:27] #145 closed

[2018-08-21 19:37] caiofbpa opened #153 "Create a "rebase on bump" option"
Scenario: We have lots of (50+) dependencies, and we have disabled auto-rebase because our CI would be flooded with builds on every bump merge. We have also configured dependabot to run daily bumps at night (3AM) so all builds get plenty of time to run before we get back to work the next day.

Problem: New bumps work great, but old ones that got conflicts need to be rebased manually (by asking dep

[2018-08-21 19:51] greysteil commented on #153
That's a really great idea. I'm not sure it even needs to be an option - I'm not sure why anyone *wouldn't* want that.

[2018-08-21 19:54] greysteil commented on #152
Hi!

Interesting! I like that idea, but think it might be harder for Dependabot to figure out which PR to target after a merge, and could be noisy for it to communicate it.

Have you seen the option to turn off auto-rebases in your settings? It's here:

![image](https://user-images.githubusercontent.com/1144873/44425613-406dbd80-a584-11e8-9f04-a05ae0e038fb.png)

Would switching the auto-rebases of

[2018-08-21 19:54] greysteil commented on #152
And finally, thanks for using Dependabot, and particularly for using it on open source repos! :octocat:

[2018-08-21 19:56] caiofbpa commented on #153
I suggested as an option because I'm not sure about other people's use cases, but indeed it makes sense to be the default. If I can also add one more thing: when going through all the PRs, dependabot should relabel them. This would make a `@dependabot use these labels` be applied to old PRs overnight, which is very nice for organising a repo with a lot of dependencies and old PRs.

[2018-08-21 20:01] greysteil commented on #153
I'm totally 👍 on that. Pretty easy to implement, so I should have it done in the next day or so.

[2018-08-21 20:17] peol commented on #152
Thanks for the quick reply :)

I saw the settings, but unfortunately turning off auto-rebase would instead introduce _a lot_ of manual overhead but it's certainly an option we might consider. Another "workaround" would be to be allowed to adjust how many open PR:s there can be per repository, so if we could set that to 1, it would probably work as expected as well (unfortunately, the option is har

[2018-08-22 15:52] matfax opened #154 "Allow Custom Regex Patterns and Rules"
### Problem
There are various scenarios in which you specify dependency versions in **variables** that are passed over. For instance, Docker meanwhile allows you to reference ARGs in FROMs so that you can pass the dependency versions to the Dockerfile. As another example, there are dependencies that you may define as environment variables in Dockerfiles or shell scripts. Such versions are currentl

[2018-08-22 16:18] greysteil commented on #153
OK, the `@dependabot use these labels` change is live - it applies immediately to all open PRs when you make a label change.

Working on rebasing open PRs as part of the Dependabot overnight job now.

[2018-08-22 17:15] greysteil commented on #153
Overnight rebases are now implemented too, and will happen automatically for any accounts that have automatic rebases disabled - thanks for the feedback!

[2018-08-22 17:15] #153 closed

[2018-08-22 18:46] ms-ati commented on #73
How about in `Dockerfile`?

[2018-08-22 18:49] greysteil commented on #73
Will already do it in your Dockerfile, if you add an update config for Docker to your repo. Trouble is that Ruby versions also get specified in `.ruby_verison`, `Gemfile`, `Gemfile.lock`, `.travis.yml` files (and more).

If you have a Dockerfile you'll at least get a PR when new Ruby versions are release, it's just that your tests are likely to fail. We can do better than that at some point...

[2018-08-22 23:32] greysteil commented on #152
Just had a play around with adding a UI for the number of open PRs allowed and finding it slightly tricky to implement something nice. I've also just implemented the suggestion in #153, which should make working with auto-rebasing switched off less painful.

Would you mind giving things a try with auto-rebase turned off, and report back on how you find it? If it introduces a lot of manual work the

[2018-08-23 01:36] osterman commented on #118
This feature was discussed today in our "Town Hall" meeting (slack.cloudposse.com). Concensus was "gimme"! =)

https://cloudposse.com/meetup/sweetops-town-hall-meeting/

[2018-08-23 07:53] greysteil commented on #154
Sounds like the way to go about this would be to add a new "language" to Dependabot Core ([code here](https://github.com/dependabot/dependabot-core)) that allowed highly configurable input.

Whilst I like this idea, I think it would be a *lot* of work - it's not the way that Dependabot is set up at the moment, and likely to require a lot of changes to the architecture of Dependabot Core (to allow

[2018-08-23 07:53] #154 closed

[2018-08-23 07:55] greysteil commented on #118
Haha, OK, I've got a relatively clear day today - let's do this!

[2018-08-23 08:52] greysteil commented on #118
Moving discussion to https://github.com/dependabot/dependabot-core/pull/648

[2018-08-23 08:52] #118 closed

[2018-08-25 09:44] yoshuawuyts opened #155 "Auto add repositories for an organization"
It'd be great if new repositories could automatically be added for any organization. I would love it if dependabot only required setting up once, and then it just works.

Similarly I still haven't been able to figure out how to batch import projects (even with https://github.com/dependabot/feedback/issues/4). It'd be great if that was possible in the UI.

Thanks heaps!

[2018-08-25 09:49] greysteil commented on #155
Thanks for the feedback @yoshuawuyts. I'd love to add a UI for this, and the ability to auto-add projects, and will in future.

In the meantime, the API endpoint you want for setup is [this one](https://github.com/dependabot/api-docs#create-an-update-config-for-a-repo), with the `repo-id` and `account-id` being IDs from GitHub (you can get them by hitting `https://api.github.com/repos/your/repo`).

[2018-08-25 09:55] yoshuawuyts opened #156 "Label description"
I noticed dependabot adds labels to my project -- I like it a lot!

A small nit however is that the label doesn't have a description, which kind of gives away it was added later (see below). I reckon it'd be cool if it could come with a description. Perhaps something like:

---

Thanks!

## Screenshot

![screenshot_2018-08-25 update sparse-bitfield requirement from 0 4 0 to 0 8 0 by dependabot pul

[2018-08-25 09:59] greysteil commented on #156
Oh, that is weird! Definitely a bug. The code is [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/labeler.rb#L232-L241) - it should be adding a description. I'll dig into it.

[2018-08-25 10:05] yoshuawuyts commented on #155
@greysteil thanks heaps for the quick reply! - that should def do the trick for me  for now :sparkles: :grin:

[2018-08-25 10:07] greysteil commented on #156
I think this might be a bug on GitHub's side - we've got tests that we're passing through the description correctly. I'll test end-to-end and get in touch with them if it is.

[2018-08-25 11:47] greysteil commented on #156
Fixed in https://github.com/dependabot/dependabot-core/commit/0be3cd07fa3008cc240c47df3ff3aa67fec5f116.

[2018-08-25 11:47] #156 closed

[2018-08-25 22:06] yoshuawuyts commented on #156
@greysteil awesome thanks for fixing! Glad I could be of help! :sparkles:

[2018-08-27 01:50] sloria commented on #42
I'm still lost as to how to add an organization. Here's what I've tried:

1. Click "Add account" in the Dependabot UI. This takes me to https://github.com/marketplace/dependabot .
2. Click "Set up new plan".
3. Click "Install it for free"

This takes me to this page.

<img width="535" alt="image" src="https://user-images.githubusercontent.com/2379650/44636477-fae13400-a979-11e8-8b5c-f734bfb93f9d.p

[2018-08-27 08:25] greysteil commented on #42
The easiest was is to bypass the marketplace altogether - if you go to https://github.com/apps/dependabot then things should be a lot clearer from there.

I’m in touch with GitHub about improving this, and have even sent them mockups for a design that could work better. They obviously have a lot of other issues to prioritise this against, and I’m not sure I’ve convinced them exactly how confusing

[2018-08-27 12:56] sloria commented on #42
Ah, thanks @greysteil ! https://github.com/apps/dependabot was definitely the way to go. I wonder if it would make sense for the "Add account" link in the Dependabot UI to link to that instead of the Marketplace, at least until the GitHub UI is improved?

[2018-08-27 15:38] chobberoni commented on #42
@greysteil @sloria This is now fixed and currently in our deploy pipeline.

Updates be live on the site by 12PM PST. Our apologies for the inconvenience.

[2018-08-27 20:42] kapso opened #157 "Rails app: Does not run an update on dependent gems?"
My daily bump ran, after which I did `bundle update` I noticed - that updated some of the dependent gems. Why did dependabot miss them?

[2018-08-27 21:59] mscoutermarsh commented on #42
@greysteil @sloria The "Switch billing account" drop down now works on this page. Sorry for the trouble!

[2018-08-27 22:57] kapso commented on #157
Yea lets try that, thanks @greysteil

[2018-08-27 22:58] greysteil commented on #157
Awesome - one your `kapso` account, or a different one?

[2018-08-27 22:59] kapso commented on #157
Its my github user, but on my company a/c - boxbotinc

[2018-08-27 23:01] greysteil commented on #157
Done. Let me know if you have any trouble with it - I'm planning to make the option available to everyone, but am waiting to hear feedback from people who have it switched on first.

[2018-08-27 23:01] #157 closed

[2018-08-27 23:05] kapso commented on #157
Sounds good, thanks.

[2018-08-27 23:57] greysteil commented on #131
Now fixed - sorry about this one!

[2018-08-27 23:57] #131 closed

[2018-08-28 06:56] StuartMorrisAU opened #158 "Cannot bump dependencies in a public repo that's dependent on a private repo"
Hi there,

I have a public repo that's dependent on another private repo, for which I have a read-only ssh key but I'm not a member of. If I create a personal access token (per #35) using the `repo` scope and add it to the Dependabot dashboard variables using Git source, host `github.com`, username `x-access-token`, I get an error back when I bump the repo that states:

After I get this error, the

[2018-08-28 12:33] greysteil commented on #158
Hmmm, let me look into that for you.

[2018-08-28 13:07] greysteil commented on #158
Oh huh, this looks like a tricky one.

I've just taken a look at https://hydejack.com/docs/install/#pro-version and it looks like it only works with ssh - giving Dependabot a GitHub access token won't help here. I'll ping the author and see if we can work out a solution.

[2018-08-28 13:43] greysteil commented on #158
OK, the only workaround that I can think of here is for you to push the repo that you're pulling down from hydejack to a (private) GitHub repo of your own, and then use that as your source instead of the hydejack URL. Would that work?

[2018-08-28 16:32] jewilmeer opened #159 "Docker: Support for build images"
We noticed only our build image within the dockerfile gets updated. The actual image isn't. Would be great if both of these would be monitored / updated.

Here is an example docker file:

[code]

[2018-08-29 07:20] torkiljohnsen opened #160 "Support for multiple composer.json-files [PHP]"
I have a repo, which holds multiple PHP packages. Structured something like this:

[code]

The root `composer.json` uses `packages` as a repository, so when I `composer require foopackage`, the files from `packages/foopackage` are just symlinked to the vendor folder by Composer.

So basically a monorepo.

The issue is that only the dependencies in the root composer.json file are kept up to date by

[2018-08-29 07:28] greysteil commented on #160
Ah, interesting - let me take a look. Can you ping the repo to support@dependabot.com

Dependabot *does* support adding multiple projects per repo, as long as you select a different directory for each one when you add it (in the advanced settings section of the add language dialog). I'm going to work on making the UI around that clearer, too.

[2018-08-29 08:02] torkiljohnsen commented on #160
Yeah, on the project overview though, you only see the directory if you mouseover the info icon, so the overview page would be a bit hard to read, since it would just see 20 identical repo names when scrolling down.

Also I think you are mistaken…? I have granted access to two repos from our github org, and added one dependabot project for each of those two repos. When I try to add a new project n

[2018-08-29 08:05] torkiljohnsen commented on #160
I have sent you an e-mail 👍

[2018-08-29 14:32] welkie opened #161 "Docker language sent in PR for image not tagged "latest""
I added the Docker language to one of my .NET Core repos last night. Today, I got a pull request for the image tag "2.2-sdk". While it is true that version 2.2-sdk was added 2 days ago, it has not yet been tagged as "latest", meaning the image creator doesn't yet consider it ready to go. Dependabot sent in a PR for this version though.

You can see here what I mean, that the 2.1-sdk image is the o

[2018-08-29 14:35] greysteil commented on #161
Interesting. I think the behaviour should be changed here. I'm going to do a big push on Docker in the next couple of days, and will incorporate this then - thanks for the feedback!

[2018-08-29 14:38] welkie commented on #161
No problem. Thanks for the amazing service and for keeping it free for FOSS.

I have a suggestion for a TypeScript related feature. Is this issue board the appropriate place to make feature requests?

[2018-08-29 14:40] greysteil commented on #161
Sure is - got right ahead!

[2018-08-30 09:21] dpursehouse opened #162 "Python: pbr is removed from Pipfile.lock when upgrading other dependency"
See for example https://github.com/dpursehouse/pygerrit2/pull/33 where `pytest` is upgraded.  This in itself is a welcome update, but the same change also seems to be removing the `pbr` dependency from the `Pipfile.lock`.  If I run `pipenv upgrade` manually, it does not remove `pbr.`

I've previously also seen this problem on https://github.com/dpursehouse/pygerrit2/pull/30 and https://github.com/

[2018-08-30 13:29] greysteil commented on #162
Taking a look now - thanks for flagging this.

[2018-08-30 13:37] greysteil commented on #162
Ah, this is going to be due to https://github.com/dependabot/dependabot-core/commit/e114262cbd31a65d67fdb13037a588aaabe594ba. That's *definitely* a bug on my side - fixing now.

[2018-08-30 13:59] welkie opened #163 "Feature request: Remove "@types" dependencies when they are deprecated because package maintainers start including type defs"
Currently, the situation with DefinitelyTyped is that they are a stopgap between a library having no TypeScript support at all and the library maintainers choosing to embrace TypeScript and including their own types with the NPM package. This can be because they took on the responsibility of writing separate type definition files themselves or because they migrated completely over to TypeScript, a

[2018-08-30 21:53] greysteil commented on #162
Fixed! Took a few hours to get to the bottom of, but Dependabot's setup.py sanitization is a lot better now. Thanks so much for flagging this.

[2018-08-30 21:53] #162 closed

[2018-08-30 23:31] dpursehouse commented on #162
Thanks for the quick fix 🍺

[2018-08-31 06:38] peol commented on #152
Sorry for the late reply. That sounds like it could work! We'll give that a try and I'll get back to you if we're still getting stuck in a tedious workflow. Thanks again for this project, it's a lifesaver :)

[2018-08-31 06:38] #152 closed

[2018-08-31 13:44] greysteil commented on #163
Thanks for the feature request @welkie. I'm 👍 on this in principle, and npm provides a deprecated tag that should make it straightforward to identify dependencies that have been deprecated, at least.

For now, I think the first step towards this would be for Dependabot to notify you in the PR that a dependency version you're updating to has been deprecated. It's obviously not perfect (if you updat

[2018-08-31 13:46] welkie commented on #163
@greysteil Makes sense. That's a great start.

[2018-08-31 15:26] welkie commented on #163
Ah that's a shame. I have some experience with Ruby and with working on larger projects. I wouldn't mind diving in and seeing if I can help soon. Do you have a place where detailed work is documented on issues, like a JIRA board, etc?

[2018-08-31 18:16] aldendaniels commented on #72
+1, greenkeeper lets you specifiy the ignore rules in `package.json`:
[code]

[2018-08-31 22:48] greysteil commented on #159
Sorry about that, and about the slow reply. I'll look into this tomorrow and get it fixed.

[2018-09-04 00:07] greysteil commented on #129
A couple of improvements!
1) Dependabot now checks the digest of `centos:centos7` and `centos:7.5.1804`, notices they're the same, and doesn't try to "update" you between then
2) Dependabot will now update the digest of your Docker image, even if the tag hasn't changed

Between the two of the above, Docker support should be a bunch better now!

[2018-09-04 00:07] #129 closed

[2018-09-04 00:08] greysteil commented on #24
We're integrated with Sonatype's OSS Index now, which provides Java vulnerability data 🎉

[2018-09-04 00:08] #24 closed

[2018-09-04 07:04] greysteil commented on #159
I did, and that's great news! 🎉

[2018-09-04 08:39] mreinsch commented on #157
@greysteil I'd be interested in this as well - also for our javascript app.

[2018-09-04 09:15] greysteil commented on #157
Ah, the one language it doesn't work for yet is JavaScript. I need to do a bit more thinking about how sub-dependency updating should work there (given nested resolution). Sorry!

[2018-09-04 09:17] mreinsch commented on #157
@greysteil we also have Ruby projects, would love to see how it works for that!

[2018-09-04 13:46] Isaacpm opened #164 "Terraform doesn't detect tf files in folders"
The terraform option doesn't detect terraform configuration files in folders, just in the root directory.
Given how Terraform is usually used, configurations in different folders, it would be very useful if dependabot would recursively looked for terraform files.

[2018-09-04 13:54] greysteil commented on #164
Interesting, thanks for the feedback. Would you then want Dependabot to create a single PR that updated the version of a particular module everywhere, or want one PR per file?

[2018-09-04 14:47] Isaacpm commented on #164
good question, I guess a PR per file would be better as it follows the isolation philosophy in which the initial split in folders is based on.
Does that make sense?

[2018-09-04 15:58] greysteil commented on #157
👍 - I've set all of the Ruby configs for xapix-io to update sub-dependencies, too.

Getting to the point where enough people are using this, and none of them finding any issue with it, that I'll make it configurable in the dashboard.

[2018-09-04 20:58] ianwremmel opened #165 "Some dependabot commit messages violate @commitlint/config-conventional length rules"
`@commitlint/config-conventional` specifies a maximum line length of 72 characters. The following commit message is 74 characters.

[code]

It seems to me that "requirement" is extraneous, but for even more safety, perhaps something like the following might work?

[code]

[2018-09-04 21:03] ianwremmel opened #166 "dependabot cannot automerge in repos configured to require code reviews"
Is there a way around this with just github settings? or does some kind of automation need to be setup to auto approve dependabot PRs? If the latter, would you consider operating a second dependabot user with that ability?

[2018-09-05 00:45] lorengordon commented on #129
@greysteil Thanks, I'll test it out tomorrow morning.

Regarding point 1... Would you mind explaining that a bit more?

What I'm worried about is that `centos:centos7` and `centos:7.5.1804` should almost never have the same digest... `centos:7.5.1804` ought not really change, I don't think. My understanding of their approach is that tag will be generated once, when the ISO is released. Though I su

[2018-09-05 09:11] greysteil commented on #129
Great!

Yep, that's what we're envisaging. I'm expecting the digest of `centos:centos7` to change regularly, but to always be the same as the most up-to-date `centos:7.x.x`. Dependabot will then realise that `centos:centos7` is up-to-date, and won't try to update you to any `centos:7.x.x` releases.

Hope that clarifies. Basically, Dependabot will now only update you if the change would actually be

[2018-09-05 10:10] greysteil commented on #166
This is a frustrating one. There's a long running thread of people asking GitHub to add a way to approve bots to work with protected branches [here](https://platform.github.community/t/repositories-which-have-protected-branches-with-push-restrictions-have-no-ability-to-grant-push-rights-to-integrations/1376/53), and it would be great if you could add your voice to it.

In the meantime, an approval

[2018-09-05 10:10] #166 closed

[2018-09-05 10:17] greysteil commented on #165
Interesting. We can definitely do better here - taking a look now.

[2018-09-05 11:27] greysteil commented on #165
Fixed in https://github.com/dependabot/dependabot-core/commit/6eb9d546265a4243c9d4dd7b64342c906bd0711a.

Long names will now be truncated at the `from` point, so this would become

[code]

I think that's a nice improvement, and for version updates the new version is included in the next line anyway (for requirement updates it says that it's updating to allow the latest version, which I also think

[2018-09-05 11:27] #165 closed

[2018-09-05 14:27] ianwremmel commented on #165
Awesome, thanks!

[2018-09-05 18:31] lorengordon commented on #129
Hmm, so I'm not seeing a way of looking up an older digest. I'm updating one of our projects with the current digest, but it'll probably be a week or two before CentOS pushes new images.

[2018-09-05 21:32] marcotc opened #167 "[Ruby] AWS SDK gem custom directory structure"
Since version 3.0, the [AWS SDK for Ruby](https://github.com/aws/aws-sdk-ruby) has been broken down into smaller gems.
The problem here is that they all live under the same repository, under different directories.

This causes @dependabot-bot to not be able to provide meaningful Changelogs.
Here's an example I got recently:

Amazon does provide [information on how to find the specific changelog fo

[2018-09-06 00:13] greysteil commented on #167
Ah, oops, we can totally do better here. I was the one that got Amazon to link up their changelogs on Rubygems, but a change to Dependabot means we're not using that information 🤦‍♂️.

I'll get this fixed tomorrow. Thanks for flagging it!

[2018-09-06 08:27] greysteil commented on #167
Fixed in https://github.com/dependabot/dependabot-core/commit/a6ea7a5d8757ce4d02d9bbf9e26f55e63721e4e2. 🎉

[2018-09-06 08:27] #167 closed

[2018-09-07 06:30] kemitix opened #168 "Can't login to dashboard in mobile"
When figuring the website on a mobile browser there is no login option, only a signup link. The signup link only leads, after a Signup with Github, to a page showing just "Authentication failure".

[2018-09-07 08:33] greysteil commented on #168
Good spot! I've added a login button for small screens at the bottom of the menu (which is where you'd expect it, I think).

On the authentication failure, I'm not sure what could have caused that. I'll dig into it separately.

Thanks for the feedback.

[2018-09-07 08:33] #168 closed

[2018-09-07 13:22] paddycarey opened #169 "Github personal access token permissions"
Hey,

I'm creating a new personal access token so that dependabot can pull dependencies from private Github sources (`dep` in this case) but I'm unsure what the minimal set of permissions i need to give the token is.

Is this documented anywhere or does anyone know the answer? I'd like to give the token as few permissions as possible to allow dependabot to operate.

[2018-09-07 13:38] paddycarey commented on #169
That did the trick, thank you! Is is worth documenting somewhere?

[2018-09-07 13:40] greysteil commented on #169
Yes! Hopefully folks will find this issue, but I'll append the text in the dashboard with `(which needs read permission to your private repos)`.

Thanks for giving Dependabot a try!

[2018-09-07 13:40] #169 closed

[2018-09-07 17:35] josesimoes opened #170 ".NET dependecy check PR missing project file contents"
Hi,

I've just setup dependabot in one of our repos to give it a try. It's a .NET solution.
It seems that it updates the contents of the packages.config file, but it misses the references in the csproj files.

[2018-09-07 17:36] greysteil commented on #170
Hey @josesimoes,

Hmmm, it should be picking those up. Can you give me the name of the repo (or email it to support@dependabot.com if it's private)?

[2018-09-07 17:37] josesimoes opened #171 ".NET alternative nuget feeds"
I'm guessing that dependabot relies on nuget.org feed to determine if there are new versions of the package.
It's common to use other Nuget feeds, specially for development, like https://www.myget.org

The settings for a repo should allow choosing/enter alternative nuget feeds to use on the checking.

[2018-09-07 17:42] josesimoes commented on #170
Here's the [PR](https://github.com/nanoframework/lib-Windows.Devices.Gpio/pull/25)

Actually I just realize that there was nothing to bump, because there was no new package... still dependabot has created this PR bumping to a non-existing package....

Looking at the PR comment I can see that it's picking up and linking to another unrelated repo: nf-class-libraries.... I don't know from here that c

[2018-09-07 17:49] josesimoes commented on #170
On the wrong bump and and repo link: I think I've found the reason.
There is a package in nuget for [version 1.0.0](https://www.nuget.org/packages/nanoFramework.CoreLibrary/1.0.0) _but_ it's unlisted so it's supposed to be _hidden_. Guess it's showing on the collection that dependabot receives from nuget API and it's considering that as a new version.

I would suggest that if a package is hidden t

[2018-09-07 17:51] greysteil commented on #170
Awesome - I'll make that improvement tonight. It's a little late on a Friday evening here so I won't be responsive for the next couple of hours, but I'll get this fixed up when I'm back.

Thanks for giving Dependabot a try!

[2018-09-08 09:21] sobolevn opened #173 "Development dependency is ignored while peer dependency is bumped"
I have faced this situation. I have the following `package.json`:

[code]

After dependabot bumped my dependencies it became:

[code]

But that's not what I expect. These versions should be in sync.
Related PR: https://github.com/wemake-services/eslint-config-flowtype-essential/pull/57

Thanks!

[2018-09-08 10:54] greysteil commented on #170
OK, https://github.com/dependabot/dependabot-core/commit/24f3458b9bb5a62e61adfcc355a11465cd1af346 and https://github.com/dependabot/dependabot-core/commit/93ab6693696fc3e2b53b5d3971d804458a956790 are deploying now, which will fix the unlisted version problem. 🎉

Thanks for flagging this!

[2018-09-08 10:54] #170 closed

[2018-09-08 13:57] greysteil commented on #171
We'll automatically pick up these up if you have them in a `nuget.config` file, or if you enter them as repositories in the `Config variables` section of your Dependabot dashboard. Is there anywhere else we should be picking them up from?

[2018-09-09 13:18] MindTooth commented on #109
I'll close this for now.  Solved it as said before.  Thanks for the help 👍

[2018-09-09 13:18] #109 closed

[2018-09-09 15:08] greysteil commented on #164
👍 - OK, in that case I'm going to close this as a dup of https://github.com/dependabot/dependabot-core/issues/649. We'll get to this in the next few weeks, and the fix is likely to be an improved frontend.

Thanks again for the feedback.

[2018-09-09 15:08] #164 closed

[2018-09-09 15:09] #146 closed

[2018-09-09 15:10] greysteil commented on #146
Closing - I've recently updated the logic to change that first line in cases where it would be longer than 72 characters, so there's less duplication now.

[2018-09-09 15:16] josesimoes commented on #170
Thank YOU for the quick fix!

[2018-09-10 12:47] josesimoes commented on #171
That's is quite all right! ✔️

I totally missed that option...

Just a couple of comments on the config vars for a .NET "repo" :
- I believe the name is "Nuget feed" is more common and widely use than .NET repository
- For public feeds there is no need to enter a credential, right now, the dialog requires this in order to continue. I would suggest that this is made clear in the field comments ther

[2018-09-10 13:15] greysteil commented on #171
Awesome. I've done the rename - very useful feedback!

One repos without credentials, what's your thinking on adding them as config variables rather than specifying them in a `nuget.config`? How are they specified on your local machine / servers? If that's not in a `nuget.config` then it seems pretty clear Dependabot will need to support specifying them without credentials, but are there other thi

[2018-09-10 15:44] paddycarey opened #174 "Support for Helm chart dependencies"
Hi,

Just adding a request for support for Helm chart repositories. I realise you have a full roadmap/workload already, but just wanted to write the request down somewhere.

https://docs.helm.sh/developing_charts/#chart-dependencies

Thanks!

[2018-09-10 17:27] greysteil commented on #174
I'm 👍 on this, and the implementation shouldn't be too tricky (parsing will be trivial, and there's no concept of version conflicts so the update checker should be simple, too).

[2018-09-10 18:39] greysteil commented on #171
👌 - will report back when it’s done

[2018-09-11 00:42] josesimoes commented on #171
Forgot to answer about the last bit: when several feeds exists, none is supposed to replace the other. The listing from each of them are "combined" and the highest version is found, then processed from whatever source where it is.

[2018-09-11 10:16] greysteil commented on #171
Done! You can now add NuGet feeds without a token. Thanks again for the feedback and advice!

[2018-09-11 10:16] #171 closed