[2018-09-11 10:35] josesimoes opened #175 "[.NET] Specifying option to include preview packages"
It's common to have Nuget feeds with preview packages along with official versions.
It would be great to have the ability to specify in the project settings if preview packages should be included when evaluating if there is a new version.

(I'm assuming that currently, the default follows the default Nuget behaviour of _not_ including preview packages)

[2018-09-11 19:50] JacobEvelyn opened #176 "Pull license data?"
There's a good chance that this doesn't make sense as a Dependabot feature, but here goes! 😃

I noticed that Snyk (which works slightly differently but I consider it in the same space as Dependabot) [scans for dependency licenses](https://snyk.io/features/enterprise#licenses) to help ensure an organization uses licenses they know they comply with.

I can't really figure out a good way for Dependab

[2018-09-12 09:14] josesimoes commented on #175
This seems to be working out of the box. Closing now.

[2018-09-12 09:14] #175 closed

[2018-09-12 09:19] greysteil commented on #175
Yep! We include pre-releases, and will update you to them if you're already using one (i.e., `4.2.3-alpha.1` will happily update to `4.2.3-alpha.2`) but not if you're not (so `4.2.3` won't update to `4.2.4-alpha.1`).

[2018-09-12 09:28] josesimoes commented on #170
This is not a _standard_ .NET extension (being standard something coming from Microsoft). It's part of a .NET project system that, despite being C#, it's derived from the regular CPS.

I guess this can happen with other folks using their own project systems/extensions...
Maybe if there was a new setting on the dependabot project on which one could enter the file extension(s) to the processed as th

[2018-09-12 09:29] greysteil commented on #170
I think Dependabot ought to be able to figure it out by parsing your `.sln` file better - at the moment it just looks for `.(cs|fs|vb)proj` files in there, but it should be taking the filename of anything that's declared as a project.

[2018-09-12 09:30] josesimoes commented on #170
Makes sense!

[2018-09-12 09:53] greysteil commented on #170
Deploying the fix now - should be live in about 10 mins.

[2018-09-12 10:38] josesimoes commented on #170
That was fast! 👏

For some reason that is not working... You can use [this PR](https://github.com/nanoframework/lib-Windows.Storage.Streams/pull/24) for debugging if you want.

[2018-09-12 10:51] greysteil commented on #170
Ah, it looks like this is a separate issues. Dependabot expects packages to be declared using `PackageReference` tags, but you're using a `Dependency` tag. Can you point me to any information about the difference?

[2018-09-12 10:52] josesimoes commented on #166
Just added my comment and up vote [there](https://platform.github.community/t/repositories-which-have-protected-branches-with-push-restrictions-have-no-ability-to-grant-push-rights-to-integrations/1376/56?u=josesimoes)

[2018-09-12 11:19] josesimoes commented on #170
Understood!

I was looking into this early today. The "new and shiny" version relies on [packagereferences](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files).
Those have been added very recently as you can read from there.
They don't cover all .NET projects (see the all list of exceptions). I would dare to say that at this point in time, very few projects

[2018-09-12 11:46] greysteil commented on #170
Makes sense.

I'll take a look at supporting NuGet 2 syntax when I have a moment, but in the meantime I've added support for the `Dependency` tag, which appears to be bespoke to `.nuproj` files, because I think even those using the latest version of VS might have those!

[2018-09-12 12:23] josesimoes opened #178 "add the option to squash+merge"
This is useful when there are several commits in the PR (because of fixes, manual edits, etc) and it's intended that the repo history is kept "clean".

[2018-09-12 12:50] BrentWheeldon opened #179 "Asking dependabot to request review from a team doesn't seem to work"
We have a GitHub team set up and we'd like dependabot to request review from that team. We've tried a few times to manually request review from that team, and comment `@dependabot use these reviewers` but the team isn't set as a reviewer on subsequent PRs. If we request review from an individual it all works as expected.

Is this a feature we can have added?

[2018-09-12 12:53] greysteil commented on #179
This is a really frustrating one - as far as I can tell it's a GitHub permissioning bug, but so far they're refusing to acknowledge or fix it. 😢

Would you mind adding a comment [here](https://platform.github.community/t/setting-a-team-reviewer-requires-unexpected-permissions/6288/7) suggesting that GitHub look into this, and saying that you wouldn't expect Dependabot to need to have members read

[2018-09-12 12:56] greysteil commented on #179
No worries, I just wish I could just fix it. I'm almost tempted to ask for the additional permission from all 4,000 Dependabot users, but it just doesn't make any sense to me.

[2018-09-12 13:33] josesimoes opened #180 "Option to have a PR combining all version updates"
It looks like that dependabot submits a PR for each package that has it's version updated, instead of a single one.

This is far less than ideal in particular when the update triggers a new version on the package build from the PRs being merged. If there are three dependent packages updates, that would bump the component version by 3, when all that could (should?) be a single version bump.

[2018-09-12 13:42] josesimoes opened #181 ".NET package update is not checking dependencies"
Just noticed that the version update on Nugets is not checking the dependencies of the updated package, which will result inevitably on a build failure.

Example:
[This repo/project](https://github.com/nanoframework/lib-Windows.Devices.Gpio/blob/develop/source/packages.config) depends on `nanoFramework.CoreLibrary` and `nanoFramework.Runtime.Events`.

After triggering a bump I've received 2 PRs up

[2018-09-12 14:36] greysteil commented on #178
Are you thinking this should be a new Dependabot comment command - something like `@dependabot squash and merge`? I think in most cases the GitHub UI has what you need here, so I'm slightly reticent to add it.

[2018-09-12 14:37] greysteil commented on #180
This is a dupe of https://github.com/dependabot/feedback/issues/5, which is a feature I'd (still) love to add!

[2018-09-12 14:37] #180 closed

[2018-09-12 14:39] greysteil commented on #181
Interesting. Can you move the discussion of this one over to https://github.com/dependabot/dependabot-core/issues/541, please? I'd love to add proper resolution to Dependabot's .NET support.

[2018-09-12 14:39] #181 closed

[2018-09-12 14:44] josesimoes commented on #178
That is correct! In the same spirit of `@dependabot merge` which is already there.
In the end it's a command to dependabot with the GitHub option one wishes to use to merge the PR just like the merge. Actually a variation of merge 😉 .

(and yes, of course it's there on the UI, again, like merge)

[2018-09-12 15:18] cabello opened #182 "[feature request] Tabular view"
Hi 👋

We have 21 repos added to Dependabot and I feel they would be better presented in table form.

Things I would like to do:
- sort by language
- sort by last checked
- sort by weekly, daily
- turn on/off extra columns like the ones that are hidden behind "Edit button", for example "Only security patches"
- maybe filter/search some of the entries

Thanks for considering it.

[2018-09-12 15:41] greysteil commented on #182
This is really well timed - we're overhauling the frontend now. CC @feelepxyz - useful feedback for the redesign.

[2018-09-12 15:58] feelepxyz commented on #182
@cabello awesome, thanks for the feedback! Just started thinking about this, will ping you some designs when I have something to show 🎨

[2018-09-13 12:57] feelepxyz commented on #100
@nesl247 yes interesting idea, think this would have to be implemented as a CI step that checks all commits and makes sure the dependency versions are legit releases. We don't have any immediate plans on adding this, but will keep this open as a reminder. Keen to figure out if there are more commit level checks we could bundle together in a CI step. Any ideas welcome!

[2018-09-13 13:10] ream88 commented on #182
I would suggest to also show the subdirectory in the list. We're using a monorepo and the list currently is a little bit confusing:

![screen shot 2018-09-13 at 15 08 00](https://user-images.githubusercontent.com/14321/45490318-12386380-b767-11e8-92e2-e3222c3fbb5f.png)

[2018-09-13 13:28] feelepxyz commented on #71
@connorshea 👋we now show failing PRs on the compatibility page: https://dependabot.com/compatibility-score/?dependency-name=selenium-webdriver&package-manager=bundler&previous-version=3.12.0&new-version=3.13.0
Would love to hear if you find this helpful!

[2018-09-13 13:28] #71 closed

[2018-09-13 14:19] connorshea commented on #71
Is kind of like to see all PRs even if they succeeded (maybe being a button to decrease the performance impact?) but regardless this feature is great! Thanks :D

[2018-09-13 14:34] nesl247 commented on #100
If you need more ideas for CI steps:

* Check if file is valid - the files usually work even though they don't pass the package manager's validator. For example, composer has `composer validate` but even if you are missing `description`, it doesn't stop it from working.

* We update dependencies manually sometimes, because it requires complicated updates, such as php-cs-fixer requiring new rules,

[2018-09-13 14:36] greysteil commented on #100
He does! Sort that out Phil! 😉

[2018-09-13 14:40] greysteil commented on #178
Cool - shouldn't be too hard to implement. I might not document it at first, as I don't want to overwhelm folks with too many commands, but I'll let you know here if/when it's implemented :-)

[2018-09-13 14:48] feelepxyz commented on #100
@nesl247 nice catch, fixed my org visibility
Also great suggestions, there's definitely something we can do here.

[2018-09-13 15:08] feelepxyz commented on #71
@connorshea ah interesting, anything specific you'd like to figure from this data?

Currently the table will show all updates that failed CI, even if it later went green and merged. Our initial thinking was that the succeeded builds won't give you that much interesting information, but keen to hear if we've missed something!

[2018-09-13 20:56] feelepxyz commented on #96
@matthewmcgarvey we've just added a dropdown with available dependencies to the whitelist 🎉

[2018-09-16 19:21] jandockx opened #183 "dependabot does not update `npm-shrinkwrap.json`?"
Node projects that support both Node 6 / npm 3 and Node 8 or later (npm 5 or later), call `package-lock.json` the old name, `npm-shrinkwrap.json`. That way, both `npm install` on Node 6, and `npm ci` on Node 8 and later work. Travis uses this, e.g.

It seems dependabot does not update `npm-shrinkwrap.json` though. Or am I missing something?

See , e.g., https://travis-ci.org/Toryt/dns-sd-lookup/jo

[2018-09-16 20:00] greysteil commented on #183
Sadly that's right - Dependabot doesn't have support for `npm-shrinkwrap.json` at the moment.

I hadn't realised that the format was identical, though - should be relatively straightforward for me to add support. I'll take a look tomorrow.

Thanks for the feedback!

[2018-09-16 20:12] greysteil commented on #183
FYI, I've started a PR for this [here](https://github.com/dependabot/dependabot-core/pull/669).

[2018-09-17 08:59] greysteil commented on #183
Fixed! 🎉

[2018-09-17 08:59] #183 closed

[2018-09-17 13:52] niels-s opened #184 "PR isn't merged after CI finishes"
I tried to use the `@dependabot merge` command to get a PR merged while CI was still running.
Dependabot notifies us that it will merge the PR once CI has finished but after almost waiting a day the PR is still not merged. I watched this behaviour before that's why I waited a day this time around to see if I wasn't too eager after all which doesn't seem to be the case.

I'm also sure all other che

[2018-09-17 13:55] greysteil commented on #184
Merging should be pretty quick, so something's definitely gone wrong here. Can you email the URL of the PR to support@dependabot.com? I can use that to find it in our backend and see what's happened.

Sorry about this one!

[2018-09-17 15:08] niels-s commented on #184
Thanks for fast response, I've mailed you the PR and a screenshot

[2018-09-17 16:17] greysteil commented on #184
Looks almost certain that this was due to GitHub's downtime this morning. Have followed up over email, and added some additional retry logic to Dependabot so it *should* be able to handle GitHub issues more gracefully if/when they occur again.

[2018-09-17 16:17] #184 closed

[2018-09-17 17:00] ianwremmel opened #185 "Support batching of Pull Requests"
Similar to #5, but far more automated and far less intelligent.

I had to remove lock files from all of my projects because doing a live bump for every lockfile update lead my Circle CI usage to go from 4 hours a month to 60. I'd like to propose the following algorithm for batching PRs when anything other than live bumping is chosen:

1. On whatever schedule the user chooses, do the following:
  1

[2018-09-17 18:30] dwaynebailey opened #186 "Custom specification of PR titles"
It would be great to control the content of the PR title.  I know labels is probably a better approach but we have some pipeline steps that look at strings in the title to determine if it should build a test deployment.  Would be useful to always build test deployments for depdendabot PRs.

[2018-09-17 22:00] ryanking opened #187 "update vendored Go code"
For Go projects that use vendoring, the vendored code should be updated in addition to the Gopkg.toml.

Example PR where it doesn't get updated https://github.com/chanzuckerberg/czecs/pull/8/files

[2018-09-17 22:05] greysteil commented on #187
Thanks for the feedback @ryanking. I totally agree on this, and adding support for vendoring to Dependabot is the next big project on my list. I've moved this issue to the [dependabot-core](http://github.com/dependabot/dependabot-core) repo and will pick it up there.

(Out Go support is still pretty new - we added support for Go modules on Saturday - so please bear with us on this one.)

[2018-09-17 22:05] #187 closed

[2018-09-18 08:27] greysteil commented on #186
Thanks for the request @dwaynebailey.

We've been cautious about this one because Dependabot's PR title logic isn't totally trivial - you can see the code [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/message_builder.rb#L45-L49). As a result, full customisation could be quite complicated for users.

Do you have access to anything else in your

[2018-09-18 08:30] dwaynebailey commented on #186
@greysteil the most likely candidate I started to explore is indeed labels and I'll look at that.  Currently users prefix PRs with `[PREVIEW]` if they need a preview build.  They could potentially do the same with labels, if I can change the pipeline.

[2018-09-18 08:41] greysteil commented on #185
Thanks for the suggestion. The above sounds like a good approach to me.

The blocker on this is the same as on #5 - there's a bunch of work I need to get Dependabot to handle multi-commit PRs / PRs that update multiple dependencies. I'll definitely get to that, but have some work on monorepos and vendoring to do first.

[2018-09-18 08:43] greysteil commented on #176
Interesting, thanks @JacobEvelyn.

I was hoping some inspiration would come to me over the last week on this, but it hasn't. I'll continue chewing it over. We're about to overhaul the Dependabot dashboard, so there'll be a show pay for each repo that has details of all your dependencies. Appending license information to that show page, and telling you in the PR if the dependency's license has *cha

[2018-09-18 08:44] greysteil commented on #173
Sorry for the slow reply on this one. That's a bug, and I'll take a look!

[2018-09-18 10:39] greysteil commented on #173
Fixed in https://github.com/dependabot/dependabot-core/commit/de53ec1a3a17685f46d9c13e0fb3d703a087d8cd, which is something of a hack but a better stopgap than the current behaviour. Thanks for flagging.

[2018-09-18 10:39] #173 closed

[2018-09-18 18:26] ydnar opened #188 "incorrect parsing of Go module or package paths"
We tried out Dependabot Go support and it failed with an odd error, mangling a package URL:

This doesn’t appear in our `go.mod` or `go.sum` files, nor does it match any repo under https://github.com/GoogleCloudPlatform .

[2018-09-18 18:43] greysteil commented on #188
I’ve just seen the error report for this and will get it fixed this evening. We only added support for `go.mod` files on Saturday so when we say it’s alpha we really mean it, I’m afraid! That said it’s a big focus for us right now so we should be able to respond to feedback really fast.

[2018-09-18 20:13] kierenj opened #189 "Changed default branch - PRs still hanging around on old one"
I have a `release/2.0.0` branch which was the default branch, and set up dependabot to scan the default repo (left the box blank).

The default repo has now changed to `develop`, but the PRs are hanging around on the old one, and no new PRs are raised.

(P.S. I found another issue - if you type in the repo box then clear it out, it doesn't pick up the default one anymore.  I don't remember what ha

[2018-09-18 22:37] greysteil commented on #188
OK, slightly embarrassing one - the issue here was a bug in Dependabot's regex for parsing GitHub URLs. Fixed [here](https://github.com/dependabot/dependabot-core/commit/29d0584c86b9c9cc6cb782a3bed43e5ef21b0286) and I'll re-run Dependabot on your repo now, which should close the issue.

Separately, I'm going to add some additional protections so that Dependabot will raise an error on my side, rath

[2018-09-18 22:37] #188 closed

[2018-09-19 16:43] ydnar commented on #188
Wow, thanks for the quick turnaround!

[2018-09-19 16:59] ydnar commented on #188
@greysteil now it blew up with a new issue, attempting to bump a module dependency to something that doesn’t exist:

[code]

From what I can tell in your [source](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/file_updaters/go/modules/go_mod_updater.rb), Dependabot writes the `go.mod` file directly. You *really* should use the go tools directly (e.g. `go get -u <package>`

[2018-09-19 17:03] ydnar commented on #188
We just added Dependabot to an open-source Go repo we manage, ZoneDB: https://github.com/zonedb/zonedb

You’re welcome to use that to debug.

[2018-09-19 17:06] greysteil commented on #188
Awesome, thanks!

On the v5 update, it looks like there *is* a v5.0 of that dependency [here](https://github.com/maciekmm/messenger-platform-go-sdk/tree/v5.0), but Dependabot needs to get smarter about how it does major version updates. For now I'm tempted to disable them.

On the file updating, the code is [here](https://github.com/dependabot/dependabot-core/blob/master/helpers/go/updater/main.go

[2018-09-19 17:17] ydnar commented on #188
The Facebook package doesn’t appear to be module-aware (go `go.mod` file), and a v5 would necessitate a package path revision e.g. `github.com/maciekmm/messenger-platform-go-sdk/v5`. Since neither are true, Go 1.11 module-aware `go get` can’t resolve that package.

Our repo’s `go.mod` file currently points to `fe24182d420d`, which is the current `HEAD` on `master`.

[2018-09-19 22:20] lucas-nelson opened #190 "Auto-merge on PR approval"
Our workflow is for developers to create a PR, then seek approval using the built-in github review / approval feature. Once approved, the developer is free to merge and delete the branch.

Would be nice if this could be automated for dependabot.

As it is now, because I can never remember the command, I need to move from the `Files changed` tab to the `Conversation` tab; expand the `Dependabot com

[2018-09-19 23:58] lucas-nelson opened #191 "Seeing different github authors, messing with our CI"
I'm seeing some commits authored by `dependabot[bot]` and some authored by `dependabot-bot`. It's hard to tell, but we think the first is associated with the email address `dependabot[bot]@users.noreply.github.com` and the latter with email `support@dependabot.com`.

If I link through from a commit on the author name in github the URL is either:

* `https://github.com/org/repo/commits?author=depen

[2018-09-20 08:10] dekode-deployment opened #192 "Dependabot runs updates any time it wants"
Hi!
User: DekodeInteraktiv
We have specified that Dependabot run updates at 5 CEST. However just now it started a whole bunch of updates. (It is now 10:00 CEST). Why doesn't it adhere to our rules?

![image](https://user-images.githubusercontent.com/24959526/45804810-68ecf280-bcbd-11e8-8141-1db89243d719.png)

[2018-09-20 08:19] greysteil commented on #192
Thanks for getting in touch. I've just taken a look through all of the update runs Dependabot created for your account today and they all ran at 3am UTC (5am CEST). It looks like that's also when your last batch of pull requests were created.

Can you link me to a PR that Dependabot created today when it shouldn't have done (if it's private you can email me on support@dependabot.com)? According to

[2018-09-20 10:10] greysteil commented on #191
Hey @lucas-nelson,

It's just those two auth names you'll ever see from Dependabot, and just those two email addresses (the noreply one is a GitHub bug that we're hoping they'll fix).

Long story short, it's not possible for the `dependabot[bot]` user to sign commits and have them show up as verified on GitHub, because GitHub doesn't allow us to upload a public key for it. To get around that we us

[2018-09-20 10:10] #191 closed

[2018-09-20 10:13] greysteil commented on #190
Interesting feedback. I can definitely see how for your flow an automatic merge would be great, but for other users, who like to have multiple approvals on a single PR (we see this quite often) the above would cause problems.

I think the ideal solution here would be to make the above configurable, but it got me thinking that you presumably have the same issue (having to hit "approve" and then lat

[2018-09-20 10:27] greysteil commented on #189
Thanks for the feedback @kierenj.

Looks like our backend wasn't treating empty string branch names correctly, which probably explains the second issue you mentioned. I've just pushed a fix for that.

On the first issue, I'm going to do some work to fix this today. Basically, you *should* be able to say `@dependabot rebase` to those PRs and have it have the correct result (i.e., realise the base b

[2018-09-20 10:40] dekode-deployment commented on #192
Yeah, sorry. My fault. These were PRs that were just then approved by a colleague. I am so sorry for blaming Dependabot. Hope he doesn't bear a grudge!

[2018-09-20 11:07] greysteil commented on #192
Haha, no worries, he's a friendly sort and knows full well that he makes his own mistakes, too! 🤖

[2018-09-20 11:07] #192 closed

[2018-09-20 11:19] greysteil commented on #189
OK, fix is deployed - you should now be able to ask those PRs for a rebase and they'll switch to the correct branch. 🤖

[2018-09-20 11:19] #189 closed

[2018-09-20 17:11] davidgoate opened #193 "Questiomn: Is it possible to give read only access to organisation or repository settings?"
Is it possible to grant read only access to other users?

# Context
* We have many repositories which are managed and some settings (such as the automatic merging of PR's security vs patch vs minor vs all etc) and JavaScript `package.json` options are defined per repository and not globally.
* Also when new repos are created these settings need to be applied manually individually, which can be eas

[2018-09-20 19:17] ydnar commented on #188
I think the *right* option is cloning the repo and using the `go` tooling directly to manipulate the `go.mod` file.

The problem here is that `github.com/maciekmm/messenger-platform-go-sdk/v5` doesn’t have a `go.mod` file, and so it’s “v5” isn’t a `v5` that Go 1.11 can understand. According to the Go docs, a major semver release should force a package path change.

Maybe detect if there’s a `go.mo

[2018-09-20 23:43] lucas-nelson commented on #190
For us, the merge is the responsibility of the author of the PR, not the reviewer. The reviewer just needs to hit the approval button and move on.

Thank you for the tip about the github bot. I'll look into it!

[2018-09-21 13:53] greysteil commented on #190
OK, I've added a setting for the behaviour described above. From now on, when you approve a Dependabot PR it will work the same as saying `@dependabot merge` to it. I've only enabled it for @blake-education, and haven't added it to the frontend yet, but assuming everything goes well I'll make it generally available.

Can you let me know how you get on? And thanks for using Dependabot!

[2018-09-21 13:53] #190 closed

[2018-09-24 08:15] Floppy opened #194 "NPM update strips https off package-lock.json entries"
In some updates, `https` is removed and replaced with `http` on `registry.npmjs.org` entries in the lockfile. It's odd though, because I've seen this happen *and* not happen on the *same* repository. Any idea why this might be happening? It's causing a lot of back-and-forth...

![screenshot 2018-09-24 at 09 09 29](https://user-images.githubusercontent.com/3565/45942417-36533a80-bfda-11e8-8902-c335

[2018-09-24 22:08] lucas-nelson commented on #190
@greysteil - tried it just now, worked flawlessly, thanks!

[2018-09-25 10:38] Floppy commented on #194
Oh, interesting, I'd assumed it was an npm versioning thing (we've had plenty of edit fights over those too). I'll see what happens with a local update as you suggest, but I'll close this as not a dependabot issue.

[2018-09-25 10:38] #194 closed

[2018-09-25 11:33] davidgoate opened #195 "Is there a known reason why sometimes the automatic merging doesn't happen"
Sometimes, we have a PR like this: https://github.com/marshmallow-insurance/uk-auto-quoting/pull/421 which doesn't get auto merged. The PR was created and review checks passed within the time window that PR auto-merging is enabled for.

![screen shot 2018-09-25 at 12 30 51](https://user-images.githubusercontent.com/8789912/46011891-36793600-c0bf-11e8-91b2-96e5c2fb5be5.png)
![screen shot 2018-09-25

[2018-09-25 11:34] #195 closed

[2018-09-25 11:34] davidgoate commented on #195
Ignore me, that's a major update and our config is for minor. Sorry - my mistake.

[2018-09-25 11:35] greysteil commented on #195
Haha, phew - thanks for the feedback all the same 🙂

[2018-09-25 17:09] Pomax opened #196 "add a "force" or "redo" command?"
Sometimes someone new to dependabot PRs will update a file in its commit, without a way to undo that, so dependabot will go "sorry, someone else edited my files, I can't rebase anymore now" even though we don't care about whether or not it "can", just that it "does" =)

Would it be possible to add a new command like `@dependabot force-rebase` or `@dependabot redo`, to make it throw away any change

[2018-09-25 17:16] greysteil commented on #196
That's a really good suggestion. I'll try to get it added today.

[2018-09-25 22:44] greysteil commented on #193
Not yet, but it's something we plan to change in future.

For now, your Dependabot permissions are based entirely on your GitHub permissions. If you have write access to a repo, you can make changes to its Dependabot setup. If you have read access, you can view it, and if you have no access you can't even see it.

[2018-09-26 06:51] davidgoate commented on #193
@greysteil thanks for that, I actually hadn't realised that. So other members of the team who have write access to a Git Repo can also configure dependabot for that repo?

[2018-09-26 08:17] greysteil commented on #193
Yep, exactly!

[2018-09-27 08:04] Floppy opened #197 "npm 'optional' fights"
I've noticed that we get a lot of change in our `package-lock.json` files around `optional` settings for various packages (see https://github.com/apolitical/styleguide/pull/122/files for an example).

I think it's caused by https://github.com/npm/npm/issues/17722, which is that the file will be different if it's generated on MacOS or Linux, because of system dependencies of those packages.

We're

[2018-09-27 11:08] greysteil commented on #196
Took a little longer than I though but I've just shipped this as `@dependabot recreate` (I couldn't think of a perfect name for it, as recreate suggests that Dependabot would close the PR and open a new one, but I think that's closest to what's happening. If folks get confused I may change it so that it actually *does* close the PR and open a new one).

Thanks for the feedback!

[2018-09-27 11:08] #196 closed

[2018-09-28 01:55] ydnar commented on #188
On further reflection, that won’t work. You need to update the `go.sum` file as well, otherwise builds modify it, creating a dirty `git` tree. Our CI fails a build if anything modifies the tree during the test/build process.

[2018-09-28 12:13] greysteil commented on #188
You're totally right - I'm waiting on @hmarr to get back from holiday and implement that one!

[2018-09-28 16:58] ydnar commented on #188
Great thanks. Should this issue be reopened?

[2018-09-28 17:45] greysteil commented on #188
The go.sum work is a separate issue, but wouldn’t hurt to have one open to keep track of it. I’m away from my computer but will open one when I get back.

[2018-09-28 19:54] greysteil opened #198 "Update go.sum when updating go.mod"
If a go.sum exists, we need to update it.

[2018-09-28 19:54] greysteil commented on #188
Created: https://github.com/dependabot/feedback/issues/198

[2018-09-28 21:17] joma74 opened #199 "git target branch name is neither viewable nor editable after Add Project"
E.g. https://app.dependabot.com/accounts/joma74/repos with ts-in-js-1 gives list of two "projects" aka master and one branch. Guess which list item is which branch? From the interface onyl i may only guess which is which (because of the timestamp?). May have forgotten tomorrow :sleepy:

![selection_008](https://user-images.githubusercontent.com/5314859/46233831-8b91a200-c374-11e8-833a-98f899b644a4

[2018-09-28 21:32] joma74 commented on #199
Uh, missed that it is on (i). Thanks,  should I close this issue?

[2018-09-28 21:47] greysteil commented on #199
Let's close because Phil's aware, and because we have a couple of other issues for the (badly needed) dashboard v2, but this is still really valid feedback - thanks for it, and thanks for using Dependabot!

[2018-09-28 21:47] #199 closed

[2018-09-29 16:07] michaelglass commented on #176
we use `license_finder` to the same end

[2018-10-01 08:02] jbelien opened #200 "GitHub PR language labels (php, javascript, ...)"
Hello,

On new(?) repositories, everytime @dependabot-bot makes a Pull Request, I have a label with the language ( `php`, `javascript`, ...) (see https://github.com/geo6/upload-geojson/pulls) but I don't have these labels on old(?) repositories (see https://github.com/jbelien/MapFile-Generator/pulls).

Is there a way to enable those language labels on all my repositories ?

Thanks a lot :)

[2018-10-01 08:43] greysteil commented on #200
The difference here is whether a repo has Dependabot enabled for multiple languages or not
- If you're using Dependabot for multiple languages on a single repo then it will label each PR with the language
- If you're only using it for one language, it won't label the PRs with the language

If you want the language label then for now the easiest ways to get it on that repo would be either
- Get Dep

[2018-10-01 08:47] jbelien commented on #200
That makes **complete** sense !
I didn't realised that only one language was enabled 😝

Thanks a lot :)

[2018-10-01 08:47] #200 closed

[2018-10-02 18:31] greysteil commented on #197
Sorry for the slow reply on this one from me - I've been a bit rushed for the last couple of days.

This one is tricky. There might be something that Dependabot can do in post-processing lockfiles to avoid the npm bug, but it's dangerous for us to meddle with the lockfile too much (in case we introduce our own bugs).

I'm guessing there's a reason you're sticking to `npm`, rather than `yarn`?

[2018-10-02 23:27] droanr commented on #5
+1

[2018-10-03 04:02] lopezm1 commented on #5
+1

[2018-10-03 09:53] adriens commented on #5
That would also be great for Travis CI queuing 🙄

[2018-10-03 13:12] cabello opened #201 "[Feature request] Define pattern, list allowing dependency updates"
We use a micro-app architecture, so one main Javascript project depends on many other internal Javascript projects, at this moment we don't want the main Javascript project to update dependencies at will.

It would be nice to be able to define a pattern for which dependencies are allowed to be updated.

For example: "Include only: `@megacorp/*`" would update `@megacorp/foo` but it would not update

[2018-10-03 13:18] benjyblack commented on #201
If the pattern solution is difficult to achieve, an alternative would be the ability to whitelist specific dependencies that Dependabot will look for. For instance:

[code]

etc.

[2018-10-03 13:20] greysteil commented on #150
Oh man, sorry I never replied to this.

This is tricky for Dependabot because we deal with so many different file types. What works for `requirements.txt` wouldn't work for a `Pipfile`, etc.

We're about to overhaul our dashboards and add a show view for repositories, from which you'll be able to specify ignores. Hopefully that will alleviate this problem (and of course there's already `@dependabo

[2018-10-03 13:21] greysteil commented on #201
Interesting, thanks for the feedback. I'm cc-ing @feelepxyz who's doing a redesign of our dashboards right now which should make specifying ignores a bunch easier.

[2018-10-04 04:49] davidwessman opened #202 "Follow symbolic links for e.g. Gemfile.lock"
Hello!

I have been experimenting a bit with running rails development in Docker and for one thing I tested I put the files required for building in a specific docker directory (to make the Docker build context smaller).

Therefore I put `Gemfile` and `Gemfile.lock` in a folder called `docker`.
I put symbolic links to both files in the app root directory.

However when Dependabot updated my ruby d

[2018-10-04 07:31] feelepxyz commented on #201
Yes thanks for the feedback! Planning on adding a page on the dashboard showing a list of all dependencies for a project, from which you would be able to select which ones to ignore. We have some loose future plans on adding a config file which could make specifying these a bit easier, but can't promise anything on this yet.

@cabello how have you architected your setup? Separate repos for each mi

[2018-10-04 13:04] feelepxyz commented on #182
@ream88 you now see the monitored dependency file (e.g. package.json) along with the directory for each project. Hope this helps!

Will keep this open, we're still planning to add filtering and sorting to the list of repos.

[2018-10-04 13:05] ream88 commented on #182
Perfect, this will work for me 😊

[2018-10-04 15:52] RohanNagar opened #203 "Some Languages not showing dependency file paths"
Hi - I noticed this morning that the dashboard now shows which dependency files it is monitoring which is awesome! Just wanted to report what appears to be a bug - not all languages in a repo that I have set up multiple languages are showing the files that it is monitoring:

![](https://i.imgur.com/gy4xRm9.png)

Java and Javascript are not showing the dependency files that it is monitoring, but in

[2018-10-04 16:11] feelepxyz commented on #203
@RohanNagar great that you're enjoying the feature! The dependency file path gets set from the last update run, since we just added this feature and those two projects are on a weekly schedule we haven't set those files yet. They should show up once the updater runs!

[2018-10-04 16:11] #203 closed

[2018-10-04 16:16] RohanNagar commented on #203
Got it, thanks!

[2018-10-04 16:36] feelepxyz commented on #203
Oops, just fixed that weird display bug where the last bracket around `(Maven)` shows up front 🐛

[2018-10-05 13:19] Floppy commented on #197
Same, we've not needed to change yet, but perhaps it's sensible to do so.

[2018-10-07 09:08] greysteil commented on #202
Interesting! I've never seen that setup before.

I've just been investigating the way the GitHub API present symlinked files, and it makes it difficult for Dependabot to detect them. To do so we'd have to make a separate request to the GitHub API to check the file type *in all cases*, which isn't ideal.

It looks like you've switched your setup away from the above, so there's no urgent need for De

[2018-10-07 09:38] 123georgesteve opened #204 "Access bot"
'Data subject access request

[2018-10-07 09:41] greysteil commented on #204
@123georgesteve can you elaborate please?

[2018-10-07 09:41] #204 closed

[2018-10-07 09:41] #119 closed

[2018-10-07 09:42] #147 closed

[2018-10-07 09:43] greysteil commented on #160
New dashboard makes this *much* clearer by showing the names of all of the files covered in each update config 🎉

[2018-10-07 09:43] #160 closed

[2018-10-08 00:07] TheBiggerGuy opened #205 "Cargo.toml dependency with both git and path"
I get a _"Dependabot couldn't find a Cargo.toml for this project"_ due to a Cargo.toml dependency with both git and path properties.

Example TOML line:
[code]

Repo files;
* Issue: https://github.com/TheBiggerGuy/photooxide/issues/3
* Cargo.toml: https://github.com/TheBiggerGuy/photooxide/blob/1692eb98745bc09a490cbaef156732bf609ddff0/Cargo.toml

[2018-10-08 07:14] greysteil commented on #205
Ah, interesting, I haven't seen a situation like this where you have both path and it sources. How does Cargo choose between them?

If Cargo is happy with the project then it's definitely a bug that Dependabot isn't and I'll get it sorted.

[2018-10-08 16:53] TheBiggerGuy commented on #205
Thanks, everything seems to work fine now.

Please not there is a warning from Cargo that this is a soon to be a deprecated feature. I am unsure if you should support this if it is about to be removed.
```warning: dependency (google-photoslibrary1) specification is ambiguous. Only one of `git` or `path` is allowed. This will be considered an error in future versions```

From https://github.com/rus

[2018-10-08 16:54] greysteil commented on #205
👍 - I did wonder! We'll remove support when Cargo do.

[2018-10-08 18:30] mkj28 opened #206 "Customize bump time/after hours"
Can the bump time be customized? I think our daily bump started 11am PST? I wonder if we could change it to be something like 11PM PST instead? Or in the 11PM - 5AM PST?

[2018-10-08 18:33] greysteil commented on #206
It can! If you click the drop down in the top right of your account and then go to "settings" you can customise it from there.

[2018-10-08 18:33] #206 closed

[2018-10-08 18:35] mkj28 commented on #206
LOL thanks! You rock!

[2018-10-09 04:38] davidwessman commented on #202
😄 Might not be super useful, but I kind of assumed it would work.

Yes, I switched solution - so no rush! Thank you for responding.

[2018-10-10 09:54] lorengordon commented on #129
This is working perfectly, thanks! Centos just published new images, and dependabot opened a PR with the new SHA. Very nice!

[2018-10-10 09:56] greysteil commented on #129
Awesome! 🎉

[2018-10-10 14:04] smithtopher opened #207 "Automerge to non default branch"
First thanks for making dependabot, it's awesome!

My organisation makes heavy use of dependabot, we have over 60 services that receive many PRs from dependabot each week.

Automerging to master is too risky. We want to manually merge and verify dependabot updates which we try to do on a weekly basis.

Sometimes these PRs have conflicts, which means waiting for dependabot to rebase (and our tests

[2018-10-10 17:16] smithtopher commented on #207
Actually think this is already doable, the target branch is just only visible when _creating_ a project, not when _editing_...

[2018-10-10 21:06] madoar opened #208 "Multi-language projects"
I have a project, where I'm combining multiple programming languages (https://github.com/Spielekreis-Darmstadt/lending).
In my case, I combine scala, maven (which both use maven for dependency management) and javascript (which uses npm for dependency management).
As far as I know, it is currently only possible for dependabot to create PRs, containing either maven or npm dependency updates and not

[2018-10-10 21:09] greysteil commented on #208
Hi @madoar,

Thanks for getting in touch, and apologies for the confusion. Dependabot can already support multi-language projects - all you have to do is click the "add project" button for an existing repo to add an additional language. Here's what the update configs for Dependabot Core look like, for example:

![image](https://user-images.githubusercontent.com/1144873/46766171-18275300-ccd9-11e8-

[2018-10-10 21:09] #208 closed

[2018-10-10 21:13] madoar opened #209 "Limit monitored subprojects/submodules"
Some project managements tools, like maven and gradle, allow for subprojects/submodules.
As far as I understand dependabot it is currently only possible to either have dependabot monitor a project including all its subprojects or none.
In some cases it may be useful to have dependabot monitor only a subset of the subprojects contained in a project.

Therefore my question/suggestion:
Is it possible

[2018-10-10 21:15] greysteil commented on #209
@madoar - yes! You can specify a `directory` when adding a project (it's in the advanced options). If you do so, Dependabot will only update the project at that directory, rather than the whole thing.

[2018-10-10 21:15] #209 closed

[2018-10-10 21:20] madoar commented on #209
Thanks for your answer, but this doesn't fully solve my issue.
My suggestion requires a more detailed adjustability, where you can select one or multiple projects/folders which you want to have monitored or excluded from monitoring.

Let's assume you have a project consisting of multiple subprojects which you currently want/need to overhaul by replacing certain modules, with new modules you're cur

[2018-10-10 21:28] madoar commented on #209
You're right I've forgotten, that you can add a project multiple times (like you have commented in #208).
Still it would be nice if you had a list of directories, which you can edit for a single project, instead of a list of projects, which each allow for a single directory.
I don't have a project yet, where I need this, it's just a thought I had, which I wanted to share.

[2018-10-10 21:31] greysteil commented on #209
👍 awesome, well thanks for the feedback - always useful to hear user opinions, and makes it clear to me what is/isn't obvious about the dashboard!

[2018-10-12 00:25] segiddins opened #210 "Disable Emails"
I dont want to get emails, I already get github notifications. Is there a way for me to disable the emails?

[2018-10-12 09:02] greysteil commented on #98
@feelepxyz - you've probably already seen this, but relevant to the recent dashboard changes

[2018-10-12 09:19] feelepxyz commented on #98
@matthewmcgarvey @simlu 🎉 we just launched a new view for adding repos in bulk on the
[dashboard](https://app.dependabot.com/) ("Add Repositories" in the top nav)

Let me know if you run into any issues!

[2018-10-12 09:20] #98 closed

[2018-10-12 11:45] Leh2 opened #211 "Ip-addresses used to access nuget"
Can we get the ip-addresses that are used to access custom nuget feeds?

[2018-10-12 17:38] danpalmer opened #212 ""@dependabot merge" merged before CI passed"
The documentation for the command says:

`@dependabot merge will merge this PR after your CI passes on it`

It actually just merged a PR before CI had passed on it. Thankfully we did this on a low impact repo, but we do continuous deployment on other repos and this could have been fairly bad there.

[2018-10-12 17:57] greysteil commented on #212
Oh wow, that is not cool - can you ping the URL for the PR to support@dependabot.com? I'll be able to look in our logs to see what's happend.

[2018-10-12 17:59] greysteil commented on #212
My guess is that you *might* have said the command before your CI kicked off? If you say `@dependabot merge` on a PR when there is no CI then Dependabot will merge it straight away, and if none of your CI providers have notified GitHub that they're working on the PR then there's no way for Dependabot to tell that it should expect CI to run at some point.

[2018-10-12 18:05] greysteil commented on #212
FYI, that automerging functionality (e.g., automerge patch releases) doesn't behave in that way - it just refuses to merge full-stop unless your repo has CI on it.

[2018-10-12 18:09] danpalmer commented on #212
The PR was https://github.com/thread/thread-ios/pull/75

This was my guess too. I suspect it might have happened, but I think that's still a bug. I don't really think about my PRs as having an "unknown CI" state as all our PRs are run through CI and we don't merge without it. I'm not sure what the solution is, but it feels dangerous at the moment.

Not sure what happened, but would be great to get

[2018-10-12 18:13] greysteil commented on #212
Sounds like the best solution here is for Dependabot to do better detection of whether you're using CI or not - if you're not then the way Dependabot behaved on this PR is correct, but if you are and your CI provider is playing up (taking a long time to send a notice to GitHub saying that it's running) then I agree this is a bug.

I'll have a think about exactly how we do that and try to get somet

[2018-10-12 18:14] danpalmer commented on #212
Cool. For clarity, we're using Travis (paid plan) on this repo, so it's likely as fast as a CI is typically going to be.

[2018-10-12 18:57] Hypnosphi commented on #185
Ideally, I would like a batch PR for in-range updates and a separate PR for each out-of-range update

[2018-10-12 19:49] Hypnosphi opened #213 "yarn.lock gets updated incorrectly"
After running `yarn install` on a dependabot's PR branch, `yarn.lock` gets changed, which shouldn't be the case

E.g. https://github.com/storybooks/storybook/pull/4391

This commit shows the diff that I get when running `yarn install`:
https://github.com/storybooks/storybook/pull/4391/commits/0809ec3ada32a741bc01df8b2d4876c9d5f34264#diff-8ee2343978836a779dc9f8d6b794c3b2

[2018-10-12 22:30] greysteil commented on #91
It will, yes. I've kept this open because I still intend to switch it to the default (but need to manage the process to not affect existing users.

[2018-10-12 22:59] greysteil commented on #213
That's definitely a bug! Thanks for flagging it - I'll look into it and get it fixed ASAP.

[2018-10-13 00:12] segiddins commented on #210
They were from github 🤦‍♂️ . I have them disabled on my main account, but not on a bot account.

[2018-10-13 00:12] #210 closed

[2018-10-13 06:05] yoshuawuyts commented on #155
@feelepxyz that's fantastic to hear! -- excited for more automation on this front! :D

[2018-10-13 09:18] greysteil commented on #212
I've just added an additional safeguard here - Dependabot will now check whether the last PR that was created over an hour ago also has no CI on it before deciding that the PR it is considering has no CI. That means if a provider is a little slow to update a PR it won't matter.

Thanks for flagging this one!

[2018-10-13 09:18] #212 closed

[2018-10-13 09:29] danpalmer commented on #212
Amazing, thanks for such a quick response!

[2018-10-15 00:47] greysteil commented on #213
Fixed in https://github.com/dependabot/dependabot-core/commit/0e923f172f97b7159c53e3de548ec327d0eccc69, which is deploying now. Thanks again for reporting this, and for using Dependabot!

[2018-10-15 00:47] #213 closed

[2018-10-16 17:18] JacobEvelyn opened #214 "Improve (??) compatibility score"
So this may already be the way the compatibility score is computed under the hood, but I'm wondering if it would be possible for _broader_ version changes that _pass tests_ to contribute to a score somehow. Concretely, something like this:

1. Dependabot opens a PR to bump gem `foogem` from `0.2.1` to `1.0.3` in a repo.
2. Dependabot has seen 40 out of 50 other repos have tests pass when bumping `

[2018-10-16 17:19] #214 closed

[2018-10-16 17:48] TheRedSpy15 opened #215 "Run `go mod tidy` in Go projects"
This would be awesome to have as a Go developer

[2018-10-16 20:23] php-coder opened #216 "Q: how to disable dependabot for a repository?"
I've [decided to not use dependabot](https://github.com/php-coder/mystamps/commit/dfebf4d9c05a6f0b0628b89532ad9f35810a74da) any more but I couldn't find in the UI how to turn it off for my repository?

Thanks!

[2018-10-16 20:27] #216 closed, assigned to nobody

[2018-10-17 08:11] davidgoate opened #217 "Can Maven automatic merging support service releases"
Some dependencies, e.g.

[code]

Do not use the semver notation for `x.x.x` with numerics. When Dependabot encounters these PR's and auto-merging is switched on the message is:

I think these service releases are considered to be more stable than a pre 1.0 dependency. Is there any way dependabot could look to add support for this or enable an option that we could opt into if we'd like it. Example

[2018-10-17 08:59] pythoninja opened #218 "Dependabot new Poetry lock file support"
As it was in #57, Poetry has been added but now they are changing pyproject.lock to poetry.lock.

More information about these changes is available here: sdispater/poetry#444 (not in the master atm but will be soon)

Do you have any plans to support it?

[2018-10-17 09:43] bsideup commented on #20
Hi @greysteil! The Gradle support got improved a lot since May, but the plugins are still not supported.

There are strict limitations on the format of `plugins {}` block ( https://docs.gradle.org/4.9/userguide/plugins.html#sec:plugins_block ), and it is not really a code (e.g. values can't be dynamic, only static constant strings are accepted).

Maybe you could have another look?
(given that you

[2018-10-17 10:15] bsideup opened #219 "Add UI for adding many nested projects for a single repo"
Hi!

We have a few modules per repo, and our Dockerfile is usually located in `/app/Dockerfile`, but Dependabot does not detect it automatically :(

Is it possible to make it scan the repo for the Dockerfiles? At least on 1st level :)
Or, alternatively, maybe we can hint the Dependabot (with some `.dependabot.yml` file in the repo) where to look for it (the reason why we prefer a file because we c

[2018-10-17 12:43] JayH5 opened #220 "[python]: Missed update"
Hi again 👋,

I have a missing update for a dependency and I'm not sure why. In [this file](https://github.com/praekeltfoundation/debian-wheel-mirror/blob/develop/requirements.txt) the dependency `Twisted==18.7.0` is listed, but version `18.9.0` was released on October 15th. I have this repo set to live updates and even pressed the "Bump Now" button, but there has been no Dependabot PR. Any idea wh

[2018-10-17 12:47] feelepxyz commented on #219
@bsideup thanks for the suggestion! We're thinking about automatically adding dependency manifests at the root level and then showing you a list of detected manifests within the entire repo to make it easy to add them in bulk.

You can still ad these nested manifests manually by specifying a `Directory` when adding a Project:
<img width="532" alt="screen shot 2018-10-17 at 14 40 02" src="https://u

[2018-10-17 12:49] bsideup commented on #219
@feelepxyz yes, thanks for the workaround, that's actually what we already did (works great btw).
 The problem is that we have 30+ microservices in our organization and adding it manually takes quite some time :D

Looking forward to the automated solution 👍

[2018-10-17 13:05] feelepxyz commented on #219
@bsideup good to hear! We're hoping to help with exactly that use case.

We've also been thinking about bundling updates for microservices. Would love to get your thoughts on this. Would it be helpful for your project if you got one PR/commit updating the same dependency across all your microservices in one go (to the latest version)? Or is the current setup of one PR per dependency and microservi

[2018-10-17 13:20] bsideup commented on #219
@feelepxyz we have different teams working on different services and it will not help too much :)
Also, we have different tiers. E.g. we first update deps on non-critical, internal services, and only then continue with public facing mission critical ones :)

but a command to merge two PRs into one would be amazing 👍

E.g. we receive PR#1 and it updates "foo" but we know that without "bar" it will

[2018-10-17 13:32] feelepxyz commented on #219
@bsideup great! Very good to know 🙌
Merging PRs has come up quite a few times and something we're thinking about adding! Sounds like we should prioritise this before cross-project bundling options.

[2018-10-17 13:39] bsideup commented on #219
@feelepxyz 💯 since you're so open to feedback ( :D ), here is a few more things we had in our mind when started with Dependabot:

1) When you add a Gradle project, it detects it as "Maven", even tho there is no `pom.xml` or anything else
2) would be amazing if Dependabot will have a setting to automatically add projects (blacklist instead of whitelist) with the type automatically detected (after 1

[2018-10-17 13:47] feelepxyz commented on #217
@davidgoate we currently only support automerging on SemVer releases. Can't seem to find much about this versioning scheme, is it specific to Spring? Don't think we want to add support custom versioning schemes without a defined standard as there would be no guarantee that the semantics would be kept.

Probably not what you want in this case but you can whitelist specific dependencies to always au

[2018-10-17 14:49] feelepxyz commented on #215
Pinging @hmarr who's currently rewriting our go mod support!

[2018-10-17 15:50] greysteil commented on #20
This should be pretty straightforward - sorry for letting it drop! I'll try to get it shipped today.

[2018-10-17 15:52] hmarr commented on #215
@TheRedSpy15 - I'm with you, I'd love to add `go mod tidy` support. It's a bit tricky currently, as we'd need to clone the entire repo (`go mod tidy` looks at your source code to determine what should be present in the `go.mod`), and Dependabot is currently only set up to fetch individual dependency files.

However, (optionally) cloning the whole repo is something we'd like to do at some point, as

[2018-10-17 15:54] bsideup commented on #20
@greysteil OMG! What are you?! A magician?! 😂 💯

[2018-10-17 16:03] greysteil commented on #20
Haha, hmm, well I might have spoken slightly too soon - didn't realise plugins have a different format to dependencies (i.e., they don't have a group). Will require a bit more work, but still totally doable. Give me a few days, as am at GitHub Universe at the moment without much time to code.

[2018-10-17 16:05] bsideup commented on #20
@greysteil ofc, take your time (and enjoy the Universe) 👍
Thanks for prioritizing it anyway, really happy to hear :)

Let me know if I can help somehow!

[2018-10-17 21:55] davidgoate commented on #217
@greysteil  thanks for the feedback. I can see your point of view clearly and agree it'd be bad to do something so specific. Spring do have some different names for versioning, especially around their cloud released. I like the dependency whitelist idea but I do have 2 questions:

1. With over 15 repos is there any way to whitelist at the organisation level?
2. given maven coordinates below, what

[2018-10-17 22:06] greysteil commented on #218
Thanks for the heads up! I've just pushed https://github.com/dependabot/dependabot-core/pull/704, which will add support.

[2018-10-17 22:51] #218 closed

[2018-10-17 22:54] greysteil commented on #220
Ooh, that is weird! Takinga  look now.

[2018-10-17 23:06] greysteil commented on #220
Fixed in https://github.com/dependabot/dependabot-core/commit/4aeb19824beb2a79dbf11eee84b869a600371361. Thanks for the heads up @JayH5!

[2018-10-17 23:06] #220 closed

[2018-10-18 07:48] feelepxyz commented on #217
@davidgoate ah yeah unfortunately no way to whitelist at the org level yet (Good suggestion though! Will have a think about this)

You'll have to whitelist each one separately for now, the dependency should be pre-populated in the dropdown as `org.springframework.cloud:spring-cloud-dependencies`.

**Note:** I've just spotted a bug where the whitelist dropdown keeps scrolling to the top making sele

[2018-10-18 09:33] leogiertz opened #221 "Support for Cocoapods"
We ❤️ Dependabot and it would be great if we could also let it update our iOS dependencies.

[2018-10-18 13:55] sobolevn opened #222 "New `poetry` version now uses `poetry.lock`"
Hi!

Just to be sure you have not missed this important update: https://poetry.eustace.io/blog/poetry-0-12-0-is-out.html

And it will still work with new `poetry` versions.
It now uses `poetry.lock` file instead of `pyproject.lock`.

[2018-10-18 14:06] feelepxyz commented on #222
@sobolevn yes! @greysteil just added support https://github.com/dependabot/dependabot-core/pull/704 ✌️

[2018-10-18 14:06] #222 closed

[2018-10-18 14:42] greysteil commented on #217
FYI, I've also just updated the message that will appear on the PRs for dependency versions like this so that it says "does not follow SemVer" rather than "is pre-1.0.0".

Thanks for the feedback @davidgoate!

[2018-10-18 14:46] greysteil commented on #222
I do need to get https://github.com/dependabot/dependabot-core/pull/705 over the line, though. That's on my list for today 🙂

[2018-10-18 15:17] davidgoate commented on #217
thanks both, keep up the excellent work on dependabot - it's truly making life much easier.

[2018-10-18 15:30] RohanNagar commented on #221
There is also some discussion about CocoaPods over at dependabot/dependabot-core#416

[2018-10-18 17:35] feelepxyz commented on #221
@RohanNagar nice one!
@leogiertz The main blocker on this is that Cocoapods still relies on activesupport 4.x to support Ruby 2.0 (we're on Rails 5 which requires activesupport 5.x). I've raised this issue again (hopefully time to move on soon) https://github.com/CocoaPods/CocoaPods/issues/7885

[2018-10-19 09:16] leogiertz commented on #221
Great! I'm closing this one.

[2018-10-19 09:16] #221 closed

[2018-10-19 13:27] davidgoate commented on #70
@greysteil one thing that might help IMO would be to consider the ability via the dashboard to link the org to a single repo containing the config.

it is true that i can copy and pasta a file or use git submodules to do this. But, if i have 30 repos in one org all following similar structures it'b be cool to allow  for having a single config file in version control via a link to the repo where i

[2018-10-19 15:07] feelepxyz commented on #70
@davidgoate I hear you, definitely want to get to a point where you don’t need to do lots of repeated tasks to use dependabot!

I’d want to start by  building this for individual repos and get that solid before adding shared/global configs but definitely something we need to consider when managing lots of repos.

Currently the config is applied per repo/project so we need to start by doing it at t

[2018-10-19 15:11] simlu commented on #70
@davidgoate While I understand your use case, I don't think it is the responsibility of dependabot to do this. All other tools (circle, travis, greenkeeper, gally, etc) don't allow you to do that and if you have thirty repos in one organization you hopefully enforce structure already by other means. That's where the dependabot config should be managed.

As an example, we use js-gardener (disclaime

[2018-10-19 15:15] simlu commented on #70
@davidgoate Honestly, I'd consider disabling the dashboard if a config is present. Dashboard is the "quick and easy way" to get started, but once you use a config that should be your source of truth. Don't mix, it would just cause a lot of confusion. I also wouldn't mind requiring config and disabling the dashboard options entirely (I'm suprised you didn't go that way initially since Gui maintenan

[2018-10-19 18:04] davidgoate commented on #70
@simlu I do take you point, I think it's fair overall but I'm also keen to learn more about specifically the workflow in the dependabot case for:

Assuming I have 30 repos a few ways I can think of enforcing structure:

* have all repos referring to a git submodule which holds the config. - would require 30 submodule updates (granted can be automated in a CI or via a bash script etc..., but does r

[2018-10-20 15:56] greysteil commented on #219
I think (4) should be relatively straightforward, so have started work on it over at https://github.com/dependabot/dependabot-core/pull/712.

On (3), there's a separate issue, and I'm going to work on it when I can (hopefully this weekend).

On (1), yeah, that's kind of annoying isn't it? Phil's explanation is spot on, though, so no fix available for now.

I'm going to close this as I think everyt

[2018-10-20 16:16] pythoninja opened #223 "Error bumping dependencies"
[code]

This project is managed by Poetry, so dependabot look into pyproject.toml. Could you look at that error?

**Dependabot url:**  https://app.dependabot.com/accounts/pythoninja/repos
**Repo url:** https://github.com/pythoninja/adarklib

[2018-10-20 16:56] greysteil commented on #223
I've seen it and it's on my list - should have it fixed by the end of today :octocat:

[2018-10-20 18:38] bsideup commented on #219
@greysteil
Amazing progress! 👍

Also, I would keep the issue open because it was about a different thing (Dockerfile in non-root), but I guess I confused everyone by adding more feedback into the same issue, sorry about it ☺️

[2018-10-20 18:45] greysteil commented on #219
Yeah, the Dockerfile in non-root is solved by specifying a directory though, right? We've got plans for a project detection feature that will make it easy to add nested projects, too, though - I'll rename to make it clearer this now related to that.

[2018-10-20 18:46] bsideup commented on #219
@greysteil I see. Ok, thanks 👍

[2018-10-21 10:29] atherdon commented on #49
I want badge too!

[2018-10-21 13:41] greysteil commented on #223
Fixed in https://github.com/dependabot/dependabot-core/commit/752f729107cb5fa326cbb700db6649ba4760dced.

[2018-10-21 13:41] #223 closed

[2018-10-22 07:45] davidgoate commented on #70
Two areas where we, as users of dependabot, feel pain using it right now are:

1. Every time we create a new repository, waiting for the first PR of each "type", e.g. Docker, Maven and then on each one add reviewers and assignees (which for us right now are always the same) and then tag dependabot with

Then after that do the same for the automerge config per repo & type again, e.g. Maven allow pa

[2018-10-22 09:47] feelepxyz commented on #70
@davidgoate great feedback! I'm currently working on a page in the dashboard where you'll be able to view and edit the reviewers, assignees, labels (and ignored deps) which would slightly improve the situation.

I like your idea of allowing either a global config defined in the dashboard or a config file per repo. We have a couple of projects lined up before we get to this so hang in there!

[2018-10-22 13:42] mbernard commented on #128
Can't wait for that feature :D

[2018-10-23 09:46] RXminuS opened #224 "Python: parse conda.env in addition to requirements.txt"
Right now Depandabot can only deal with requirement.txt files from PyPy but a lot of our repositories use Anaconda yaml files because of the performance increase with the Tensorflow installation. Thus, adding Conda yaml support would be essential for us!

[2018-10-23 09:59] vip32 commented on #6
can we somehow test drive the new badges?

[2018-10-23 10:11] greysteil commented on #6
Yes! @feelepxyz is doing the status page work over the next week or so - we'll let you know when it's done.

[2018-10-23 10:35] greysteil commented on #224
Interesting - are there any open source repos you can point me to that use that setup (that I can use as fixtures when I write this)?

[2018-10-23 15:43] nesl247 opened #225 "Feature: Create issues when a new non-lockfile only update is available"
When a non-lockfile only update is available, it would be great to create an issue for this. This way we can investigate if we want to upgrade. Lockfile only updates are generally done as we don't want to have to deal with breaking changes. However, it would still be good to be notified about these.

I would do it as an issue instead of a PR as it's more of an issue. In a lot of cases, it may not

[2018-10-23 16:00] RXminuS commented on #215
Actually, maybe there's a more overarching need to run any command as part of generating the PR? I would love to run a certain Makefile command if a submodule updates for instance (Re-generate the GRPC code when the submodule with .proto files is updated for instnace). Seems that his would also fit within that

[2018-10-23 16:01] RXminuS commented on #224
https://github.com/fastai/fastai the environment.yml (or environment.yaml) It's fairly popular in ML/AI communities to do it like this

[2018-10-23 16:14] hmarr commented on #215
Sounds like a great use case for [GitHub Actions](https://blog.github.com/2018-10-17-action-demos/). You could run an action to regenerate the GRPC code and push a new commit to any PR that touches a .proto file, or run `go mod tidy` on PRs tagged with `dependencies`.

[2018-10-23 17:53] greysteil commented on #225
I'd love to do something to solve the underlying problem here (not wanting PRs hanging around, but not wanting to lose the detail that they're not up-to-date, either.

One solution I've heard suggested before is a "convert to issue" flow - would that help here, too? I'm thinking you could:
- turn on out-of-range updates in Dependabot, so you get PRs for them
- comment `@dependabot convert to issue

[2018-10-23 18:32] nesl247 commented on #225
The underlying problem here though actually isn't the issue vs PR. It's that with lockfile only updates we don't get notified about newer major versions for example.

Handling this via an issue makes more sense than a PR since if you specify lockfile only, we don't want a PR to upgrade it, we just want to be notified we are out of date due to our selected constraint.

[2018-10-23 18:52] greysteil commented on #225
Sorry, it sounds like I wasn’t clear - my idea above would be that you’d switch to get PRs for out of range updates, too.

Creating issues directly would be quite a lot of work on the Dependabot side, and this is the first request I’ve heard for it. In comparison I know others have asked for the ability to convert PRs to issues. If you switched to create PRs for manifest changes too would the abov

[2018-10-24 00:59] nesl247 commented on #225
I think I was a bit confused by your earlier message as you said. I'm not sure if creating PRs would be better since at least in our case we try to keep PRs down. We only have PRs open for what is going to get merged (we have a very low close rate).

I can't speak to everything, but I do know in the case of Symfony for example, they maintain long term support versions with frequent updates, even w

[2018-10-24 09:28] RehanSaeed opened #226 "Incorrectly Identified Language & Multiple Languages"
My [project](https://github.com/Ummati-com/Ummati) has been incorrectly identified as a Ruby app when in fact it is a .NET Core app which also contains an NPM packages.json file.

I can't see a way to change that or tell dependabot that there are two languages in the project that I'd like dependabot looking at.

[2018-10-24 10:31] jraoult opened #227 "Would dependabot keep working with yarn's "frozen-lockfile" option on?"
I want to run `yarn install --frozen-lockfile` by default to make sure no-one is messing with the lockfile when installing. After all, this is one of the reason for having dependabot :) I'm about to follow the advice here https://github.com/yarnpkg/yarn/issues/4147#issuecomment-420769373: adding `--install.frozen-lockfile true` in my `.yarnrc.

I was wondering if dependabot would still work or wil

[2018-10-24 10:32] RehanSaeed commented on #226
Cool, thanks.

[2018-10-24 10:32] #226 closed

[2018-10-24 10:39] tjrobinson opened #228 "Support .NET assembly binding redirects"
I ran into an issue with one of my repositories where the `.csproj` file was updated with a new version but the `.config` file, which contained [assembly binding redirects](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/redirect-assembly-versions) wasn't.

This is probably quite a tricky one to solve unfortunately, but might be worth at least flagging in the PR, e.g. if a `web.co

[2018-10-24 10:43] greysteil commented on #227
Good question. If it doesn't then it definitely should. I'll double check for you, but will have it working either way within the hour.

[2018-10-24 10:46] greysteil commented on #227
Can confirm that Dependabot will continue to work just fine with that setup. ✌️

[2018-10-24 10:46] #227 closed

[2018-10-24 10:54] greysteil commented on #227
(And for good measure, I've just added a test, so you can be sure this won't break in future. https://github.com/dependabot/dependabot-core/commit/6573b80880677acdba15cb3c9c6a17956461782b.)

[2018-10-24 13:53] cabello commented on #70
This would be very useful for us as well, use case: we have a micro-services infra-structure and we use separate repos, like we generate continuous integration configuration in the service generator script, it would be nice to also be able to configure dependabot out of the box.

[2018-10-24 16:55] greysteil commented on #228
Interesting! Looks like I need to read up on .NET assembly binding redirects, as I have no idea what Dependabot should be doing here. Thanks for flagging it, and for the link.

[2018-10-24 19:27] davidgoate opened #229 "Feature: Support private Maven repositories"
Sometimes we use internal private dependencies that are not published to Maven Central. For example, we use a hosted jFrog Artifactory.

Our `pom.xml` would have

[code]

and we would reference some dependencies that are resolved to that repository in the `pom.xml` `<dependencies/>`

Is there "some way" (as if by magic) that dependabot can work with these? I presume ultimately besides the possibly

[2018-10-24 20:21] RohanNagar commented on #229
Private repos are supported if you go to the Dependabot dashboard. In the top right, click on your username, then click on "Config Variables". From there you can add a Maven repository.

[2018-10-24 20:35] davidgoate commented on #229
@RohanNagar thanks for letting me know. Is there a way I can debug this?

What I've just done:

1. Create a new user in artifactory.
1. Add my repo in the config variables
1. Manually triggered a bump of pom.xml in a couple of repos that depend on packages which have newer semver versions published in my private repo
1. Waited until bumping was done
1. Observed no new PR's

My first thought are, i

[2018-10-24 20:38] RohanNagar commented on #229
Not sure about the internals here - someone on the Dependabot team will have to answer 😄

[2018-10-24 20:45] davidgoate commented on #229
@RohanNagar I have found an access log in artifactory which shows access denied errors for the user.  The strange thing is I can login via the UI ok with that password. I've tried both the UI password and encrypted password token that the jFrog UI generates for maven auth. I'll keep digging. thanks for your help

[2018-10-24 21:12] davidgoate commented on #229
In case anypne else finds into this, my issue was that it seems that artifactory doesn't allow BASIC auth using the login password or encrypted password.

I solved this by finding [this](https://www.jfrog.com/confluence/display/RTF/Access+Tokens#AccessTokens-BasicAuthentication) which suggested I [create a token ](https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI

[2018-10-24 21:13] #229 closed

[2018-10-24 22:28] hmarr commented on #188
@ydnar a quick update on this - I'm working on our Go modules support at the minute, so it should be quite a bit more solid before long.

The update checking logic is already more sophisticated, so you'll no longer (erroneously) be taken to new major versions - particularly those that don't even follow the Go modules versioning scheme.

Next up will be support for updating the `go.sum` file.

[2018-10-25 01:59] dstufft opened #230 "AutoRebase PRs"
If you have your Github repository setup to require branches to be up to date before merging, that makes it somewhat harder to use dependabot because you have to ask dependabot to rebase the PR before it is able to be merged.

It would be great if there was a setting that would have dependabot keep the PRs up to date with the master branch so that PRs are always ready to be merged. It might make s

[2018-10-25 07:56] davidgoate opened #231 "Debugging Private Maven Repo Bumping"
Hi,

I have an issue with `pom.xml` bumping with a private maven repo.

* We use a hosted jFrog artifactory.
* I have configured what I believe to be the right credentials and URL in the config variables from the dashboard.
* I have one [successful example of a PR which bumped](https://github.com/marshmallow-insurance/uk-auto-policies/pull/260).
* I have plenty of other repos that I expected to al

[2018-10-25 07:59] greysteil commented on #231
I'm slightly swamped today (still catching up from being at a conference last week) but will try to get to this today or tomorrow. Thanks for creating such a clear issue @davidgoate.

[2018-10-25 07:59] davidgoate commented on #231
Thanks @greysteil hope the conference was good 🎉

[2018-10-25 08:24] AndreaGiardini opened #232 "Compatibility score is calculated only considering PR that are closed and not merged"
In this case: https://dependabot.com/compatibility-score/?dependency-name=enzyme&package-manager=npm_and_yarn&previous-version=3.3.0&new-version=3.7.0

The compatibility score is lower than 100% because a pull request has been closed and not merged. On the other hand if we open the PR we can see that enzyme has actually been updated and dependabot closed the PR because it did not make sense anymor

[2018-10-25 10:28] greysteil commented on #232
Hmm, it sounds like we need to make the statuses for failing pull requests clearer on that page. The score is lower than 100% because the tests failed on that update, not because it was closed. In particular, it looks like `yarn test` failed in [this test run](https://travis-ci.org/WikiEducationFoundation/WikiEduDashboard/jobs/439874939).

@feelepxyz - worth taking another look at the design here,

[2018-10-25 10:28] #232 closed

[2018-10-25 10:29] greysteil commented on #232
(And thanks for the feedback @AndreaGiardini!)

[2018-10-25 11:45] greysteil commented on #230
Interesting. I can see this making sense, but only for repos that are very diligent about merging Dependabot PRs, or where commits are never made directly to master. Otherwise it could cause a *lot* of additional CI runs, which would be pretty frustrating.

There would also be an impact on the Dependabot infrastructure here - under the hood a rebase is actually a recreation of the PR, which for ca

[2018-10-25 11:49] dstufft commented on #230
Yea its not really a big issue (and it's roughly equivalent to our current solution, which is hitting the update branch button). Which speaking of that, if I hit the "Update Branch" button, which will merge in `master`, will that break dependabot's conflict resolution since it will see something else made a change to the branch?

[2018-10-25 11:50] greysteil commented on #230
It will - you can use the `@dependabot recreate` command to get Dependabot to recreate (essentially rebase) the PR if that's happened, though.

[2018-10-25 13:18] wvh-shanee opened #233 "Feature Request: Blacklist Dependencies"
It would be great if we could list (simple string or REGEX) dependencies that dependabot should ignore when checking for updates.  This would allow us to intentionally ignore specific fast moving dependencies that are causing us to have daily PRs that aren't useful.

[2018-10-25 13:21] wvh-shanee opened #234 "Feature Request: dependabot.yml configuration"
Please consider implementing a configuration parser that looks for a dependabot.yml file inside the repo that we can use to specify settings, whitelists, blacklists, project users to be requested on PRs, etc.  This would make it very easy to set up multiple projects that have similar requirements by copying the YML file between projects.  It may also make it faster to develop new features since a

[2018-10-25 13:49] greysteil commented on #198
Shipped by @hmarr!

[2018-10-25 13:49] #198 closed

[2018-10-25 14:21] hmarr commented on #188
@ydnar if you didn't see it in #198, `go.sum` support just shipped  🎉

We still can't handle major version bumps or run `go mod tidy` as we don't clone the repo, but I'm keen to add that option in the future.

[2018-10-25 14:57] greysteil commented on #234
Thanks for the feedback @wvh-shanee! We've got an issue tracking this one at https://github.com/dependabot/feedback/issues/70.

[2018-10-25 14:57] #234 closed

[2018-10-25 15:00] greysteil commented on #233
Thanks @wvh-shanee. @feelepxyz is actually working on the beginning of a dashboard view that will make this easier right now, but in the meantime I presume you've already seen that you can use `@dependabot ignore this dependency` to ignore a single dependency?

[2018-10-25 15:05] feelepxyz commented on #232
@AndreaGiardini @greysteil yes cheers! We can definitely make that more obvious! Will have a think 🤔

[2018-10-25 15:32] wvh-shanee commented on #70
Thanks, @greysteil for linking to #234--I searched for 'yml' before creating it and missed this one because it was a .json suggestion.  Looking forward to a config file!

[2018-10-25 15:34] wvh-shanee commented on #233
I had not seen that, but I'll go have a look now and set that up on our repos.  Thanks!

[2018-10-26 04:08] dstufft opened #235 "Include *all* hashes for a project Python project"
It appears you're using pip-compile here, which is great... but it has one sort of less than ideal behavior. Whenever you're pinning hashes (like pypa/warehouse is doing) it will only include the hashes for files that match the current target environment. What would be great is if instead dependabot included *all* available hashes in the PR.

There is a Python library/tool that implements this cal

[2018-10-26 13:04] mynkow opened #236 "Unable to add a project"
https://gyazo.com/b5e7e29d0fe92eb725b7815923a649ce

The screenshot show the error. Here is the project. There is a csproj file inside

https://github.com/mynkow/DotNetCore.WindowsService

What am I missing?

[2018-10-26 13:19] feelepxyz commented on #236
Ah looks your file isn’t in the root folder. You’ll need to change the directory to ‘/src/WindowsServiceHost’ for that repo by clicking the cog icon.

Thanks for getting in touch and sorry for the not so helpful error message! We have some improvements planned for this page.

[2018-10-26 13:19] #236 closed

[2018-10-28 10:32] greysteil commented on #235
Interesting, thanks for the heads up @dstufft.

I've just taken a look through how pip-tools [generates its hashes](https://github.com/jazzband/pip-tools/blob/master/piptools/repositories/pypi.py#L230-L255) and I can't find that filter - any idea of a package I can use to reproduce the behaviour? Once I've got that I can set Dependabot to pull in additional hashes from hashin.

On generating addit

[2018-10-28 11:48] greysteil commented on #229
Sorry for the delay picking this up - just getting to it now.

Dependabot does indeed scan your `pom.xml` to figure out all of the registries it might want to use. It then authenticates using basic auth in requests like [this one](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/update_checkers/java/maven/version_finder.rb#L111-L117).

It looks like you've got things workin

[2018-10-28 13:56] greysteil commented on #231
Finally got a chance to dig into this - turns out a bug in Dependabot was preventing it from using the config variable credentials if the repo was also specified in the `pom.xml` 🤦‍♂️
- That's fixed [here](https://github.com/dependabot/dependabot-core/commit/429e99206acc7ea3ba8e28299a2b9bc646d80c34)
- Separately, [this](https://github.com/dependabot/dependabot-core/commit/bf53acedabbbc0159fc021e4a

[2018-10-28 13:56] #231 closed

[2018-10-28 18:34] dstufft commented on #235
The filter is in the ``PackageFinder`` class, which will ignore files that don't match the current environment. One example of this is docutils, which has 3 files:

- a ``.tar.gz`` that will show up on all environments.
- a ``py3`` wheel that will only show up when run under Python 3.
- a ``py2`` wheel that will only show up when run under Python 2.

Also pretty much any project that ships compile

[2018-10-28 18:37] dstufft commented on #235
Just as an FYI, the biggest issue with not updating if additional files are uploaded, is that it can cause spurious errors. This is sort of a pip bug though.

Basically, pip works by selecting the file it wants to install, then comparing that against the list of hashes present in the file. If it doesn't match any of them, it errors out. The problem comes if someone uploads a file that pip prefers,

[2018-10-29 05:55] skjnldsv commented on #54
@greysteil any clue for this?

[2018-10-29 15:57] greysteil commented on #54
Yes! We're spinning work on it back up this week. I have a branch that half does it, and we should be able to get it over the line this week. 🤞

[2018-10-29 16:13] skjnldsv commented on #54
You're awesome! :tada:

[2018-10-29 16:40] feelepxyz commented on #197
@Floppy @prymitive just confirmed that this issue has been fixed in this pr: https://github.com/npm/cli/pull/76
Discussed here: https://npm.community/t/package-lock-json-is-not-complete-on-first-run-for-some-modules/1817

If I understand this issue correctly, once this lands in npm `optional: true` will be added to all sub-dependencies that have an optional parent, currently it will only be set to

[2018-10-30 01:51] rahulsom opened #237 "Add support for updating gradle wrapper"
Hi!

This is an amazing way to manage dependencies.

It would be awesome if it could also send PRs for gradle wrapper updates.
Typically this involves

1. Find the latest version of gradle published at

[code]

2. Run

[code]

3. Send a PR.

Some projects using maven also use a wrapper - https://github.com/takari/maven-wrapper but that can be a separate issue.

[2018-10-30 01:55] rahulsom opened #238 "Support Gradle lockfiles"
Since gradle 4.9, or 4.10, Gradle has been supporting dependency locking through lock files.
It would be nice if the dependabot supported those lockfiles instead of updating the build.gradle.

[2018-10-30 12:08] Floppy commented on #197
@feelepxyz superb! Thanks for the update :)

[2018-10-30 15:04] bustikiller opened #239 "Opt-out PR closing"
I would like to prevent Dependabot from closing PRs when a newer version of the dependency exists. This PR has sometimes gone through QA processes, and is merged to several branches, so just closing the PR for the old dependency leaves the rest of the branches in an inconsistent status, usually with merge conflicts against the new version of the dependency.

I don't know what would be the ideal fl

[2018-10-30 15:19] greysteil commented on #239
Interesting. Dependabot already has logic to leave PRs open if they've been edited in any way so this wouldn't be that tricky to add, but I think it would need to be a label, or be configurable, since for the majority of users the new PR is what they want.

Is there a public repo you can point to this having happened on? It would help me understand exactly how it's causing problems, why the pull r

[2018-10-30 15:31] JacobEvelyn opened #240 "Creation of security PRs for sub-dependencies is only attempted once"
For [this repo](https://github.com/panorama-ed/rainbow-backend), we've noticed that Dependabot only ever seems to have one PR open for security fixes, despite GitHub telling us that there are multiple vulnerabilities. This might be related to the fact that when we initially added Dependabot for that repo, the first "scan" resulted in an error message in the Dependabot UI.

[2018-10-30 15:46] greysteil commented on #240
That's odd. Looking through our logs I can see that Dependabot is occasionally timing out when trying to update that repo, which might lead to some security fix PRs not being created (for sub-dependencies, Dependabot will only attempt to create the PR once and if it fails to do so won't try again).

Let me see what I can do about fixing that. For vulnerable dependencies Dependabot should repeatedl

[2018-10-30 16:02] bustikiller commented on #239
@greysteil thanks for the quick response. Unfortunately there is no public repository where I can show this happening.

I know that when a PR has been edited (for example, manually merging master to the Dependabot branch), the branch is no longer updated by Dependabot. However, in this case I would still want Dependabot to rebase the PR using `@dependabot rebase` command.

We have a semi-automated

[2018-10-30 19:16] davidgoate commented on #229
@greysteil everything's been working for the last couple of days. What I noticed before was that when I added the password as the "encrypted password" as jfrog calls it (the same one I would add to my `~/.m2/settings.xml`) nothing would happen in dependabot when i triggered a bumb and in the artifactory logs I would see:

in the `access.log`

What I ended up finding after googling for a while was:

[2018-10-30 22:36] Floppy opened #241 "Support gems.rb"
I've just added a couple of repos that use `gems.rb` instead of `Gemfile`, expecting it to work (as it does in bundler 1.17.1 on the command line), but it didn't like it :(

Is this something you're intending to add in future, or should I stick to `Gemfile` for now?

[2018-10-30 22:38] greysteil commented on #241
Oh, I didn't realise we'd shipped that with 1.17.0 - is it not still behind a feature switch?

We're absolutely planning to support it, but you'd the first to need it!

[2018-10-30 23:25] edahlseng opened #242 "Additional labels"
In addition to the `dependencies` label that dependabot adds, it would be awesome if other labels (`patch`, `minor`, `major`, etc.) were added! Our team would like to use this information to trigger other pieces of our workflow, which differ based on the type of dependency update.

[2018-10-30 23:28] greysteil commented on #242
On `patch`, `minor`, `major` you're in luck - if you've already got those labels (all three of them) then Dependabot will use them. Logic is [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/labeler.rb#L177-L179).

Any others you'd like to see?

[2018-10-30 23:57] edahlseng commented on #242
Ah, that's awesome! We didn't have the labels created ahead of time – will try that out now, thanks!

Those are the only three that we're looking for right now!

[2018-10-30 23:57] #242 closed

[2018-10-31 00:36] greysteil commented on #237
Thanks for the kind words @rahulsom!

Looking through [these docs](https://docs.gradle.org/current/userguide/gradle_wrapper.html#sec:upgrading_wrapper) it does look like it would be pretty straightforward for Dependabot to update Gradle wrapper versions. I'm not going to add it straight away (I'm swamped with a few other updates) but I'll leave this open and come back to it.

[2018-10-31 00:39] greysteil commented on #238
This is going to be a big one, but I'm definitely 👍 on tackling it. The best docs I've seen on it are in https://docs.gradle.org/current/userguide/userguide.pdf.

Note, in order to achieve this Dependabot will either have to shift to cloning Gradle repos *or* get very good at writing sanitized `build.gradle` files. Either should be achievable, but this is a medium sized project.

Thanks for the fe

[2018-10-31 01:29] greysteil commented on #229
OK, let's leave this for now, but if anyone else finds this and is / was confused let me know and I'll dig into whether there's a way Dependabot can do better here.

[2018-10-31 12:37] kimadactyl commented on #86
Plus one, is it possible for us to add `dependabot-bot` as a user on the protected branch? It would require the bot responding to "add to team" requests. That's how Rultor does it :)

[2018-10-31 15:18] greysteil commented on #86
Good question. Sadly not at the moment - we'd need to build a bunch of automation around `dependabot-bot` to make that work. It doesn't sound *too* hard, though, and is definitely the best workaround I've heard so far. I'm a little underwater with other requests, but will try to come back to this - ping me if I don't (and if there's no progress from GitHub - we're still pushing them).

[2018-11-01 07:36] iCrawl opened #243 "yarn.lock breaks for github commits updates"
At a glance this looks very similar to #213

But I am a bit unsure since this was supposed to be fixed almost 20 days ago and deployed too (regarding the last comment)

As you can see here:
https://github.com/Naval-Base/yukikaze/commit/f0c2348800fe28e93ab990c0557531c6f2e74d74#diff-8ee2343978836a779dc9f8d6b794c3b2R484

I had to delete my yarn.lock file and reinstall deps listed in the package.json

[2018-11-01 09:39] feelepxyz commented on #243
@iCrawl thanks for reporting this! Looks like we're not dealing with installs using the github shorthand, e.g. `yarn add discord.js@discordjs/discord.js` - looking into it now.

A current workaround is to install from the git url, e.g. `yarn add https://github.com/discordjs/discord.js`

[2018-11-01 10:36] iCrawl commented on #243
I get by just ignoring the dependencies for now (it's not a lot, actually just 2 where I should, like a good developer does, pin the commits anyway 😄 ), thanks for the fast answer!

[2018-11-01 13:33] paultyng commented on #215
`go mod vendor` would be another command that would be useful, but it looks like similar problem to tidy, you don't have the whole repo. Maybe something we can do with an action as well in the meantime.

[2018-11-01 13:56] rdunlop opened #244 "Close PR if the Gem is yanked"
This morning, I had a dependabot PR opened for concurrent-ruby 1.1.0.
I merged it, and my build failed, because concurrent-ruby 1.1.0 doesn't exist in rubygems.

It appears that the gem was yanked.

Would it be possible to update the PR (maybe even close it) if the gem is yanked from the rubygems repo?

[2018-11-01 14:11] hmarr commented on #215
Vendoring is on my list, too. Once we're able to make larger changes across the repo, we should be able to handle vendoring as well as `go mod tidy`.

[2018-11-01 16:05] feelepxyz commented on #243
@iCrawl just got this fixed, the lockfile should update correctly on the next run. Should I unignore the deps for you?

The fix for reference: https://github.com/dependabot/dependabot-core/pull/735/commits/32f68c8745c756fbe77cd4a650bd0331c162b7dc

[2018-11-01 16:05] #243 closed

[2018-11-01 16:17] davidgoate opened #245 "Maven multi module parent"
Dependabot appears to have missed an update with a Maven multi-module project.

Recently all of my non multi module projects got a PR for a Spring Boot update (such as [this one](https://github.com/marshmallow-insurance/uk-auto-legal-add-on/pull/52)) for `2.0.6.RELEASE` -> `2.1.0.RELEASE` of `spring-boot-starter-parent`.

[This particular repo](https://github.com/marshmallow-insurance/uk-auto-poli

[2018-11-01 16:35] rdunlop commented on #244
Thanks Grey

[2018-11-01 16:45] Hypnosphi opened #246 "When new version is out, update current PR instate of creating a new one"
At least, I'd like to have it as an option. Often there are some discussions on migrating strategy which are kinda lost when PR is recreated

[2018-11-01 17:03] greysteil commented on #245
Just checked, and in this case it's because at some point (our DB says on the 16th of May) someone asked Dependabot to ignore v2.x.x of `spring-boot-starter-parent` on that repo.

Do you want me to remove that ignore condition for you? (We're planning a new version of the Dependabot dashboard that will make it *much* easier to see what dependencies you're ignoring.)

[2018-11-01 17:03] #245 closed

[2018-11-01 17:19] davidgoate commented on #245
@greysteil wow, thanks for the update. Yes please that'd be amazing if you could. Is there any self service way to do this? I fear there might be other repos that could have a similar issue for me.

[2018-11-01 18:40] greysteil commented on #245
Done, and I've removed the ignores on other repos, too.

At the moment there's no view to see what you're ignoring in Dependabot - it's something @feelepxyz is planning to work on soon, though.

[2018-11-01 21:07] iCrawl commented on #243
Damn you guys work fast 👍

@feelepxyz if thats a possbility yes, that would be very nice!

[2018-11-02 00:06] greysteil commented on #54
FYI, the first version of this is going to be deployed tomorrow. At first it will just block Dependabot from creating updates that break peer dependencies. From there the next step is for Dependabot to update multiple dependencies at once if/when necessary, and to be able to add peer dependencies to your `package.json` if doing an update requires doing so. It's quite a lot of extra complexity, but

[2018-11-02 09:39] feelepxyz commented on #243
@iCrawl removed the ignores for `discord-akairo` and `discord.js` ✌️

[2018-11-02 15:43] paultyng commented on #215
I have about 80+ repositories in this org alone I'd like to use this on: https://github.com/terraform-providers but we still vendor until we get a module proxy setup.

[2018-11-04 10:49] GeorgeMAKULU opened #247 "Gmrightkenja"
Why dependabot it doesn't want me to sign in

[2018-11-04 10:50] greysteil commented on #247
Can you provide a little more context, please?

[2018-11-04 10:54] #247 closed

[2018-11-04 11:49] greysteil commented on #241
Support added in https://github.com/dependabot/dependabot-core/pull/747. Do you have a repo to test it on? I'll deploy the change now.

[2018-11-04 11:49] #241 closed

[2018-11-05 10:49] mtparet opened #248 "Support to target only minor docker version"
Hello,

We are using LTS version of some tools and we'll like to get update of the docker image base only for minor version and not major.

Is it already available or do you plan something like that in the future ?

[2018-11-05 12:38] mtparet commented on #248
Thanks for you answer. It makes sense. We will try this way and let you know if we have more use cases.

[2018-11-05 13:32] greysteil commented on #240
Fix deployed - Dependabot will check for insecure sub-dependencies every time it does an update run, so it won't matter (as much) if it encounters an error during the initial check. Thanks for reporting this!

[2018-11-05 13:32] #240 closed

[2018-11-05 14:46] ffflorian opened #249 "Typo in the app overview"
Hi there,

in the [app overview](https://app.dependabot.com) it says "Add Langauge" instead of "Add Language".
In the modal it also says "Add a **langauge** to `<repo name>`".

[2018-11-05 14:53] greysteil commented on #249
Nice catch, thanks! @feelepxyz I’m on the road, can you push a fix?

[2018-11-05 15:08] feelepxyz commented on #249
@ffflorian yes nice catch, fixed!

[2018-11-05 15:08] #249 closed

[2018-11-05 15:09] ffflorian commented on #249
That was quick, thanks :slightly_smiling_face:

[2018-11-05 18:05] JacobEvelyn commented on #240
Thanks!

[2018-11-05 18:47] idris opened #250 "Wrong versions shown in PR title"
See screenshot below.  It updated `cryptiles` from `3.1.2` to `3.1.3`, but the PR title says "from 2.0.5 to 4.1.3".  _Neither the "from" nor the "to" are correct!_

<img width="1642" alt="screen shot 2018-11-05 at 1 46 12 pm" src="https://user-images.githubusercontent.com/13989/48019317-2d897480-e101-11e8-81b2-48dfb3c19e49.png">

[2018-11-05 19:21] greysteil commented on #250
That doesn’t look right! Can you link to the PR, or email it’s address to support@dependabot.com, so I can debug? Thanks!

[2018-11-06 10:07] davidread opened #251 "Settings get lost when it runs a check"
1. In [my repo](https://app.dependabot.com/accounts/ministryofjustice/projects/15919) I changed the Automatic PR merging settings e.g. to merge patches automatically:
![screen shot 2018-11-06 at 10 05 25](https://user-images.githubusercontent.com/307612/48057270-80b80180-e1ab-11e8-990c-0e475f1de643.png)
2. Click "Update settings" to save them.
![screen shot 2018-11-06 at 10 03 03](https://user-ima

[2018-11-06 10:10] greysteil commented on #251
Hmmm, Dependabot will only do that if it tries to automerge a PR and fails because of a permissions issue, in which case it will leave a comment on the PR it attempted to automerge explaining what's happened.

Let me take a look at that repo and see what's happening here. Thanks for reporting this!

[2018-11-06 12:17] davidread commented on #251
@greysteil Many thanks for the detailed explanation! We'll decide on whether to remove the branch protection.

[2018-11-06 16:01] greysteil commented on #250
Fixed in https://github.com/dependabot/dependabot-core/commit/b917ac195748f2d2812071c3cffaf7b77b6b5489 - thanks for reporting this!

[2018-11-06 16:01] #250 closed

[2018-11-06 16:50] Tenzer opened #252 "Handling of local Python dependencies"
Hi

I have just got Dependabot set up on a Python project of ours, but it's giving us an error saying:

    InstallationError('liblearn/python should either be a path to a local project or a VCS url beginning with svn+, git+, hg+, or bzr+',)

I've tried to reproduce the problem locally via the code in https://github.com/dependabot/dependabot-core/tree/master/helpers/python, and I am able to do so.

[2018-11-06 18:02] marcotc opened #253 "Auto-merge with approving reviews required"
For our `master` branch, we have "Require pull request reviews before merging", with "Require review from Code Owners" and "Required approving reviews: 1".
These settings have been working pretty well for our organization.

At the same time, we'd like Dependabot to be able to auto-merge (in our case only "Patch updates").
But because of these restrictions, we get this error in our repositories:

[

[2018-11-06 18:25] #253 closed, assigned to nobody

[2018-11-06 19:05] greysteil commented on #252
I think this is just a case of Dependabot not fetching path dependencies properly, which should be fixed by https://github.com/dependabot/dependabot-core/commit/fc79abee4dfd6575966803ca5d3c8b3750959477. I'm deploying that now and will trigger a re-run on your repo once it's out.

On the `.txt` issue, I thought I had some handling for that, but perhaps not! We have a few folks use surprising names

[2018-11-06 19:06] #252 closed

[2018-11-06 19:11] greysteil commented on #252
Just found the handling: it's [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/file_fetchers/python/pip.rb#L218-L231). Knew I'd written something around that (and that Dependabot wouldn't be working for lots of folks without it)!

[2018-11-06 19:12] Tenzer commented on #252
Thanks for the quick turnaround, it seems to be working. There's now PRs made for me to look at. Thanks again :)

[2018-11-06 19:14] greysteil commented on #252
Great! Apologies for the bug getting started. Do let me know any feedback as/when you have any.

[2018-11-06 20:56] Kocal commented on #186
This would be really nice to have this kind of feature.

For my own case, I'm maintaining an app (a CLI tool for our projects at work) by updating dependencies through Dependabot pull requests.

I'm using [semantic-release](https://github.com/semantic-release/semantic-release) for automatic releases, but sometimes it doesn't release anything because every commits (squashed dependabot pull requests

[2018-11-07 06:55] pascalberger opened #254 ".NET dependency not checked"
I setup dependabot to monitor https://github.com/bbtsoftware/TfsUrlParser/tree/develop/src. The `packages.config` in both projects contain several outdated dependencies (e.g. XUnit), but dependabot doesn't create PRs for them.

[2018-11-07 10:07] Kocal opened #255 "Use commit type `build` instead of `chore`"
Hello, I'm opening this issue following #53.
How can we configure Dependabot to **always** use `build` commit type?

By reading [message_builder.rb](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/message_builder.rb#L650-L658), it seems that use recent commits and last Dependabot commit to determine `build` or `chore` right?

In my case I don't underst

[2018-11-07 10:15] greysteil commented on #255
Ah, interesting, and slightly tricky. Dependabot is trying to work around the fact that there are two Angular guides for commit messages: one that allows `chore` but disallows `build`, and another that allows `build` but disallows `chore`. Sounds like we're not doing a good job for people who use both `chore` and `build`!

I'm going to rejig the logic so that Dependabot always prioritises its last

[2018-11-07 11:59] greysteil commented on #254
Looks like Dependabot isn't finding those files for some reason - let me dig into what's going on there. Thanks for reporting it!

[2018-11-07 12:05] greysteil commented on #254
Ah, I see what the issue is here. Will have a fix deployed today.

[2018-11-07 13:02] bustikiller opened #256 "[Feature request] Opt out minor and patch versions"
For organizations with many projects sometimes it is hard to keep track of all the dependency updates. I would like to get only updates for major & security releases (opt-out from minor and patch versions), configurable per project.

[2018-11-07 13:35] feelepxyz commented on #256
@bustikiller ah yeah there's currently no way to disable all minor and patch releases. From experience upgrading to major releases without going through minor/patch releases usually makes the transition more painful as the minors sometimes introduce deprecations to make the update easier.

Not ideal but you could reduce some noise by ignoring minor versions of the most frequently updated dependenc

[2018-11-07 14:29] SteveMarshall opened #257 "Can't add new repositories to dependabot for large GitHub orgs"
It doesn't appear to be possible to add new repositories to dependabot for users in the @ministryofjustice GitHub org. When we try to do so, we are met by the error `GET https://api.dependabot.com/repos`. I *assume* this is because we have ~770 public repos (and ~1300 repos total) and something is timing out? Is there any way we could get this fixed: we'd really like to use dependabot more widely,

[2018-11-07 14:31] SteveMarshall commented on #257
Oh, I've just managed to get to the “add repo” page… But it seems inconsistently accessible. How odd.

[2018-11-07 14:33] hmarr commented on #257
You're right - we did just get alerted about a timeout. We'll get it fixed
ASAP. Sorry about that!

On Wed, Nov 7, 2018 at 2:31 PM Steve Marshall <notifications@github.com>
wrote:

[2018-11-07 16:18] JacobEvelyn opened #258 "Missing security PRs?"
I added a comment after #240 was closed, but I think it might've been missed. (In any event, I have more info on the issue now.) Basically what I'm seeing is that the Dependabot security PRs that have been opened in [this repo](https://github.com/panorama-ed/rainbow-backend) do not fully match GitHub's listed [security alerts](https://github.com/panorama-ed/rainbow-backend/network/alerts) for that

[2018-11-07 16:21] greysteil commented on #258
Hey, sorry, I still have that comment in my emails to deal with!

Let me try to take a look into this now. Quite a busy period here, and I (tried to) take a day's holiday on Monday!

[2018-11-07 17:00] greysteil commented on #258
No worries!

OK, so digging into this, it looks like you have quite a few out-of-date Dependencies on that repo, and have quite a few Dependabot PRs open. As a result, when Dependabot is cycling through your repo to create PRs it's timing out before checking all of the dependencies.

When a new security vulnerability is announced Dependabot kicks off a custom update run for just that vulnerability

[2018-11-07 17:00] #258 closed

[2018-11-07 17:10] greysteil commented on #254
Fixed! Thanks for your patience.

[2018-11-07 17:10] #254 closed

[2018-11-07 18:55] pascalberger commented on #254
@greysteil That was fast! Thanks 👍

[2018-11-07 19:16] JacobEvelyn commented on #258
Thanks for all the information, @greysteil! That's super helpful.

We adopted Dependabot to try to get our dependencies under control, and we've been hoping that a "slow and steady" approach would let us slowly dig our way out of the dependency hole we're in. It seems like we might not be digging fast enough though, so I'll see if on our end we can at least prioritize this repo's Dependabot PRs a

[2018-11-07 20:37] pascalberger opened #259 ".NET project file not updated"
While `packages.config` file was updated the `csproj` file was not updated in this PR: https://github.com/bbtsoftware/TfsUrlParser/pull/25/files

[2018-11-07 21:17] GeorgeMAKULU opened #260 "Gmright."
I'm gmright organization  and I have issues on #4/#5 I don't know where to look

[2018-11-08 08:53] SteveMarshall commented on #257
That’s great, thanks! 🎉🎉🎉

[2018-11-08 08:53] #257 closed

[2018-11-09 11:34] hmarr commented on #257
We just deployed this change, so you should be able to see all your repos now :-)

Thanks for bearing with us! And please let us know if you spot anything else acting up.

[2018-11-09 15:14] davidgoate opened #261 "Possible production issue?"
Is Dependabot down? I get asked to install dependabot again and if i click that it says that my account is already on the unlimited plan. If i try to navigate to my repo list I see:

![screenshot 2018-11-09 at 15 12 57](https://user-images.githubusercontent.com/8789912/48270484-1ebcfd80-e432-11e8-9300-3ad39f86f85d.png)

[2018-11-09 15:15] greysteil commented on #261
Yes, sorry, we're working to bring it back up right now. We've been down for around 5 minutes.

[2018-11-09 15:15] greysteil commented on #261
We're back up. Sorry about that!

[2018-11-09 15:15] #261 closed

[2018-11-09 16:14] dependabot[bot] opened #262 "Dependabot couldn't find a Gemfile for this project"
Dependabot couldn't find a Gemfile for this project.

Dependabot requires a Gemfile to evaluate your project's current Ruby dependencies. It had expected to find one at the path: `/Gemfile`.

If this isn't a Ruby project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in the comments below to contact

[2018-11-09 16:16] feelepxyz commented on #262
Oops! 🙈

[2018-11-09 16:16] #262 closed

[2018-11-11 11:12] Rsl1122 commented on #178
How is the implementation going? :)
As a new user, I would love this feature.

[2018-11-11 13:02] kaidowei commented on #237
This would be awesome!

[2018-11-12 11:37] greysteil commented on #178
Deploying now! If you commend `@dependabot squash and merge` then that's what Dependabot will do.

(Give it 5-10 minutes to deploy first, though).

Thanks for the feedback!

[2018-11-12 11:37] #178 closed

[2018-11-12 18:56] bsamuel-ui opened #263 "[Python] [Pipenv] Extraneous markers cause dependencies to be ignored"
The relevant part of the Pipfile is:

[code]

And what we're seeing is that `Pipfile.lock` is updated like so:

[code]

And similarly, the subdependencies for `requests[security]` get unnecessary markers added.

This causes in our build:

[code]

Once it's ignoring those dependencies, of course, the build fails after that. (I tried mentioning dependabot in a specific branch that was failing, for s

[2018-11-12 19:01] bsamuel-ui commented on #263
On further investigation, this may be an upstream problem, because I can reproduce the same behavior just by running `pipenv lock -d`...

[2018-11-12 19:06] bsamuel-ui commented on #263
Looks like [it's fixed in master](https://github.com/pypa/pipenv/issues/3079); you might consider downgrading to 2018.10.9 until the next release is out.

[2018-11-12 22:35] greysteil commented on #263
Thanks @bsamuel-ui (and apologies for the slow reply on this issue today).

I believe Dan is planning a Pipenv release for today or tomorrow, so we should be able to have this fixed ASAP. If we don't get that then I'll pin to a commit on master.

[2018-11-12 23:01] bsamuel-ui commented on #263
No worries, you have high standards for responsiveness.

[2018-11-13 10:06] AndreaGiardini opened #264 "Update Docker image on kubernetes deployment files"
It would be nice to have the possibility to have the docker image update logic also for Kubernetes deployment files.

Dependabot will have to scan all yml/yaml files, get the `image` field and check for updates of the docker image.

[2018-11-13 14:50] greysteil commented on #263
FYI, I put together https://github.com/dependabot/dependabot-core/pull/775 with the intention of switching Dependabot to the latest Pipenv commit, but found an issue in Pipenv. I've raised an issue for that bug [here](https://github.com/pypa/pipenv/issues/3216) and will pin us to a commit once it's fixed. 🙂

[2018-11-13 19:24] greysteil commented on #264
Agreed! @hmarr - any thoughts on what this would look like as a "package manager"?

[2018-11-13 20:15] jklukas opened #265 "Misformatting of --hash in requirements.txt"
We have pip requirements files that include hashes like:

[code]

But Dependabot seems to be getting tripped up ~~by whitespace~~ and is issuing PRs where
~~a blank line is inserted, and then~~ the new hash ends up concatenated with the old hash:

[code]

Example: https://github.com/mozilla/gcp-ingestion/pull/177/files

[2018-11-13 20:18] jklukas commented on #265
We're moving hashes to the same line, which will likely cause a rebase. Here's the specific commit:

https://github.com/mozilla/gcp-ingestion/pull/177/commits/01e7df3f9861f041bbfc9fccd1a921bc2efaa42d

[2018-11-13 21:35] jklukas commented on #265
Looks like this was not a whitespace issue as I originally thought. We moved hashes to the same line as dependency declarations, but are still seeing multiple `--hash=` entries being concatenated together without whitespace separating them. See updated https://github.com/mozilla/gcp-ingestion/pull/177

[2018-11-13 22:55] greysteil commented on #265
Taking a look into this now - thanks for flagging it.

[2018-11-13 23:33] RohanNagar commented on #264
Along these lines, support for `docker-compose` would be awesome as well! This is also described in #82

The images are defined in the same way as in the Kubernetes files: `docker-compose` is a `yaml` file and the images are defined in `image` fields.

[2018-11-13 23:48] greysteil commented on #265
OK, I've just pushed https://github.com/dependabot/dependabot-core/commit/9c275b2dd3577e2b711d2d8ee28626ad6dc9e758 which I think is the right solution here.

However, with the new logic Dependabot will continue to add multiple hashes to your requirements.txt file if multiple hashes are available. I can see that you're using a single hash for each dependency - how are you choosing which to use?

[2018-11-14 02:16] jklukas commented on #265
Adding multiple hashes sounds reasonable.

cc @relud who may be able to add more context on our existing strategy for choosing hashes

[2018-11-14 04:00] relud commented on #265
I was choosing the hash that pip reported as missing. That worked because our docker image is consistent enough for pip to choose the same hash every time, and docker is our only supported environment. I'm not attached to that process, adding multiple hashes is also fine with me.

[2018-11-14 04:52] nwtgck opened #266 "Support for Scala and sbt"
Hi, developers!

Thank you for your wonderful bot! Do you have a plan to support for Scala and sbt project?

[2018-11-14 07:48] Floppy commented on #241
Hey @greysteil, sorry, I missed the notification on this one. It looks like it's working fine, thank you!

[2018-11-14 09:19] greysteil commented on #266
Yes! We're polishing existing languages right now, but keen to add Scala support in future. There's an issue tracking it [here](https://github.com/dependabot/dependabot-core/issues/352) if you want to hear update.

[2018-11-14 09:19] #266 closed

[2018-11-14 10:11] greysteil commented on #265
I'll wait for your decision on https://github.com/mozilla/gcp-ingestion/pull/174 before closing this. If having a single hash is important to you I should be able to add some logic to
1) Detect that you're using single hashes
2) Figure out details of the hash that you were using before
3) Use that to pick a hash from the range returned by hashin

It'll be quite a bit of work on my side, but if it'

[2018-11-14 10:57] hmarr commented on #257
I noticed the request to view currently _active_ repos (as opposed to repos that haven't yet been activated) was also looking a little slow for large organisations. So, apologies if you've had any issues with that. I've just rewritten the endpoint to make it a fair bit quicker and I'll continue to keep an eye on the metrics to make sure we avoid hitting any timeouts.

[2018-11-14 13:34] jodastephen opened #267 "Wildcards for auto-merge in Java"
I'd like to have dependabot automatically merge all version updates from the AWS Java SDK, but that consists of many separate jar files. These jar files are all released together, so there is actually only one version number to be updated in the Maven `pom.xml`. The closest I can get at present is to navigate the UI and add each one separately:

![dependabot1](https://user-images.githubusercontent

[2018-11-14 14:02] greysteil commented on #257
Just found another place in our codebase (on bulk create) that was paging through all repos and caused a timeout when someone from MoJ tried to add a couple of repos today. I've moved that endpoint across to the new strategy and you shouldn't see timeouts there (or anywhere else) anymore.

[2018-11-14 18:18] greysteil commented on #267
Thanks for the feedback @jodastephen. We're planning to work on config files over the next week, so should at least have an easier interface for this soon.

[2018-11-14 19:41] jklukas commented on #265
We're fine with the multiple hashes.

Thanks for the quick response on fixing this!

[2018-11-14 19:41] #265 closed

[2018-11-14 21:10] greysteil commented on #265
My pleasure - thanks for using Dependabot :octocat:

[2018-11-15 11:03] SteveMarshall commented on #257
Wow, thanks gang! This is great!

[2018-11-15 22:13] JacobEvelyn opened #268 "Graphs or statistics!"
We'd find it **enormously** helpful if Dependabot's web UI could give us some insight into some basic statistics for our apps. We're thinking of things like either a graph or just raw stats on:

- the amount of time Dependabot PRs are left open before merging
    - This would be especially useful if we could see it along any of these dimensions:
        - min. time left open, max. time left open,

[2018-11-16 00:46] mizhi commented on #268
I would personally love to simply have a statistic of how many PRs are opened each week.

Or, given a project's dependencies, what is the rate of expected version bumps for that project given historical data.

[2018-11-16 00:48] greysteil commented on #268
I want to comment on this properly tomorrow (it's late in the UK right now), but I really like the idea of the above!

[2018-11-16 12:05] greysteil commented on #25
This is configurable now! 🎉

[2018-11-16 12:05] #25 closed

[2018-11-16 20:08] dstufft opened #269 "Not picking up updates for setuptools"
It appears that Dependabot does not notice updates for setuptools, even if setuptools is currently being pinned as pypa/warehouse has it.

[2018-11-16 20:11] greysteil commented on #269
Looks that way - I had no idea. Will dig into it now.

[2018-11-16 22:32] greysteil commented on #269
Fixed in https://github.com/dependabot/dependabot-core/commit/5aaca13ac45472a83002a77e60a105b739f05877, which is deploying now. Thanks for reporting this one!

[2018-11-16 22:32] #269 closed

[2018-11-17 01:45] antonyggvzvmnxxcx opened #270 "Bank transfer"
Bank transfer

[2018-11-17 03:35] antonyggvzvmnxxcx commented on #270
£1000. To be sent to
Mr a s downey
09-01-27
23119334

[2018-11-17 03:37] antonyggvzvmnxxcx commented on #270
Just a normal transfer

[2018-11-17 09:32] #270 closed

[2018-11-18 11:38] thcp opened #271 "Any plans for Shellcheck integration"
Any plans for integrating this awesome product with https://www.shellcheck.net/ ?

[2018-11-18 11:40] greysteil commented on #271
None for the moment - what kind of an integration would you want there? PRs for spellcheck fixes?

[2018-11-18 11:50] thcp commented on #271
From [ShellCheck github](https://github.com/koalaman/shellcheck) page:

**The goals of ShellCheck are**

- To point out and clarify typical beginner's syntax issues that cause a shell to give cryptic error messages.

- To point out and clarify typical intermediate level semantic problems that cause a shell to behave strangely and counter-intuitively.

- To point out subtle caveats, corner cases an

[2018-11-18 12:07] greysteil commented on #271
Thanks for the feedback. I don't think this is something we'll integrate into Dependabot - if we go into the CI space more broadly I'll definitely keep it in mind, though.

[2018-11-18 12:07] #271 closed

[2018-11-18 14:29] nwtgck opened #272 "Search input for repositories"
Hi, developers!

Thank you very much for your wonderful project. I'd like to search for repositories by their name. Do you have a plan to create a search form for it?

[2018-11-19 09:43] kitop opened #273 "Failing with `uninitialized constant` in vendored gem"
We're trying dependabot, and can't get it to run because of the following error:
[code]

At the top of the `gemspec` file, there's a
[code]
that defines
[code]

I can reproduce the error locally when cloning `dependabot-scritps` and running it against the  repo, but wasn't able to figure out exactly why it happened. In that script, it happens when calling `checker.can_update?(requirements_to_unloc

[2018-11-19 09:44] greysteil commented on #273
Ah, this is going to be a problem with sanitization. Let me take a look.

[2018-11-19 09:46] kitop commented on #273
Thanks!! Let me know if you need any other information, happy to help.
We really want to use dependabot, but this is currently blocking us 😞

[2018-11-19 11:14] greysteil commented on #273
This should be fixed by https://github.com/dependabot/dependabot-core/commit/1b22e5661343a30eae5583cf1e807945b8451133, which is deploying now. I'll re-run Dependabot on the affected repos as soon as it's out.

[2018-11-19 11:14] #273 closed

[2018-11-19 11:44] kitop commented on #273
That was fast! Thanks @greysteil!!

[2018-11-19 12:35] smithtopher opened #274 "If target branch gets rebased dependabot will not re-open PRs"
If a target branch gets force pushed to after a dependency has been merged in and that dependency update got lost, is it possible to tell dependabot to reopen PRs for lost updates? Currently it seems to wait for the next version before opening another PR.

[2018-11-19 12:39] greysteil commented on #274
Ah, that won't work at the moment because Dependabot will see that the PR is merged and therefore ignore the `@dependabot reopen` request. Is this something you need? It's the first time I've heard that request!

[2018-11-19 13:49] smithtopher commented on #274
It would potentially be useful as we are experimenting with a workflow that batches dependabot changes on a separate branch so that we can manually deploy all dependabot changes together on a periodic basis.

However in the rare case where there is a conflict with master (e.g. someone else has modified dependencies on master) we could almost completely automate on our side if we could just hard re

[2018-11-19 17:46] bsamuel-ui commented on #263
The latest release of Pipenv fixes this.

[2018-11-19 17:46] #263 closed

[2018-11-19 17:52] greysteil commented on #263
Yes! Sorry, should have resolved this 🙂

[2018-11-19 18:52] JacobEvelyn opened #275 "Dependabot should close GitHub gem bumps when superseded by RubyGems version"
Dependabot recently created [a PR to bump a gem dependency that was pinned to a GitHub commit](https://github.com/panorama-ed/rainbow-backend/pull/133). We no longer needed to pin it to a commit so we changed the dependency to [pull from RubyGems](https://github.com/panorama-ed/rainbow-backend/pull/448). I expected Dependabot to close its PR (and maybe it would have if I'd waited a bit longer?) bu

[2018-11-19 20:12] JacobEvelyn opened #276 "Dependabot force-pushing unnecessarily?"
This might be related to #152 and #153, but I noticed that Dependabot created [this PR](https://github.com/panorama-ed/rainbow-backend/pull/136), and if I'm reading GitHub's new UI correctly Dependabot has rebased the commit several times to remain current (see [0e7dacb](https://github.com/panorama-ed/rainbow-backend/commit/0e7dacb0e3ee04161b3357dfc1dea9d680ef854c), [ca5bab9](
https://github.com/p

[2018-11-20 11:55] feelepxyz commented on #272
👋 thanks for the kind words! We're definitely keen on adding a search for repos, we're currently doing a bunch of work on robustness across our languages so won't be able to jump on this just yet, but will keep this open until we do.

[2018-11-20 18:59] dav-is opened #277 "Email Reply Runs all Commands"
If I directly reply to an email it appends the dependabot message to the bottom of it automatically. For some reason it will run all the commands that were listed in the Commands section.

This is where it happened to me: https://github.com/dav-is/connordav.is/pull/34

[2018-11-20 19:01] greysteil commented on #277
Woah, that's the first time I've ever seen that. I'll get it fixed right away.

Out of interest what email client are you using?

[2018-11-20 19:06] dav-is commented on #277
Zoho but this behavior is common in any email client I've used. It's easier to just reply to a notification email than to open GitHub.

Thanks again!

[2018-11-20 19:08] greysteil commented on #277
Thanks. GitHub has logic that removes the previous email bodies from the comment, but it looks like it's not being applied for some reason, so Dependabot is getting the full previous email text back. I'm guessing that's due to a transformation that Zoho applies, but Dependabot should be more robust to this regardless!

[2018-11-20 19:17] greysteil commented on #277
It definitely looks different to me coming from your email - the email notification I got for you last comment, for example, included the full text of my previous post. That doesn’t normally happen (probably isn’t happening for you for this email reply, for example.).

Either way, Dependabot needs fixing here!

[2018-11-20 19:18] greysteil commented on #277
I mean, unless GitHub just changed something and broke this, which is also possible.

[2018-11-20 19:29] greysteil commented on #277
FYI, you can see the difference in comment style between our two email clients by looking at the API response [here](https://api.github.com/repos/dependabot/feedback/issues/277/comments). It looks like Zoho doesn't insert `>` characters, which is what's tripping Dependabot up.

[2018-11-20 19:33] dav-is commented on #277
It looks like your email client revealed your mute thread link 🤔 looks like GitHub has some work to do

[2018-11-20 20:08] greysteil commented on #277
Indeed! In the meantime I've added some sanitization logic on our side that should ensure this doesn't happen again. Thanks for reporting this, and apologies for the bug!

[2018-11-20 20:08] #277 closed

[2018-11-22 01:20] guitarrapc commented on #186
I've also using [semantic-release](https://github.com/semantic-release/semantic-release) and merging pull request by change dependabot's PR title. It would be nice if I can set to insert `Prefix` of the PR title.

[2018-11-22 07:58] kierenj opened #278 "Suggesting updates to unreleased .NET libraries"
Hi, I'm getting update PRs opened for pretty much all of the .NET Core packages to 2.2.0, but it's not released yet.

`Microsoft.Extensions.Configuration`
`Microsoft.Extensions.FileProviders.Embedded`
`Microsoft.Extensions.Logging.EventLog`

etc ..

MyGet only shows `2.2.0-preview*` packages.

What's stranger, they do appear to install OK.  What's going on?

[2018-11-22 23:38] greysteil commented on #275
Thanks for the heads up! Looking through the transition history for that PR it looks like Dependabot was in the process of checking whether it still needed updating. It started checking that at 18:44:46 UTC, and the PR was closed at 18:46:11 UTC. My hunch is that means that you were just a bit too quick for Dependabot.

We're planning to do some work to speed up updates like the above - the lag is

[2018-11-22 23:38] #275 closed

[2018-11-22 23:55] greysteil commented on #276
Thanks for the feedback @JacobEvelyn.

This one's a little tricky, but I don't think we can easily reduce the number of rebases Dependabot does much, if at all here. The current setup is:
- Dependabot will always rebase if there's a merge conflict
- If you have a branch protection that requires PRs are always up-to-date before being merged, Dependabot will always rebase (you might want to switch a

[2018-11-24 04:30] AraHaan commented on #274
@smithtopher @greysteil why not try the ``@dependabot recreate`` command?

[2018-11-26 10:04] niels-s opened #279 "Using Google Container Registry"
Hey,

I noticed support was added to use private docker registries and I was giving it a try with the [Google Container Registry](https://cloud.google.com/container-registry) we use in our company.
I tried the approach explained in the documentation here: https://cloud.google.com/container-registry/docs/advanced-authentication#json_key_file. That means adding the service account as password but wh

[2018-11-26 10:06] hmarr commented on #279
Sorry about this - we'll bump the limit for you :-)

Could you run a `wc -c` on the file to give us a rough sense of what limit you'd need?

[2018-11-26 10:58] niels-s commented on #279
I examined a couple service account secrets they are around 2344 - 2346 characters. So 2350 would be sufficient for us right now.

[2018-11-26 11:12] hmarr commented on #279
Thanks – I've bumped the limit to 3000. It'll be out in 10-15 mins once it's made its way through the CI & deploy pipeline.

[2018-11-26 11:12] #279 closed

[2018-11-26 11:49] kevinbader opened #280 "Check fails for Elixir umbrella project"
Hi,

I get the following error when checking my [Elixir umbrella project](/Accenture/reactive-interaction-gateway):

[code]

Is this an issue with the project's mix file?

[2018-11-26 11:50] greysteil commented on #280
Looks more likely to be a problem with Dependabot's sanitization processes. Let me take a look.

[2018-11-26 12:05] greysteil commented on #280
OK, this is definitely caused by the `Code.eval_file` pattern used in the project's mix file. Dependabot isn't fetching that file (it only fetches dependency files, rather than cloning the repo) so is then unable to evaluate the mix file.

I haven't seen the `Code.eval_file` pattern used in a mix file before. Dependabot has some sanitization to handle `File.read` calls, but it's going to be harder

[2018-11-26 12:50] greysteil commented on #280
FYI, I've just pushed that change. I'll re-run Dependabot on your repo as soon as it's deployed (in about 10 minutes time), and close this assuming everything runs as expected.

[2018-11-26 13:45] greysteil commented on #280
Looks like this is now working. Thanks for the report! https://github.com/kevinbader/reactive-interaction-gateway/pulls

[2018-11-26 13:45] #280 closed

[2018-11-26 13:46] kevinbader commented on #280
Thanks a lot!

[2018-11-26 15:59] JacobEvelyn commented on #268
@greysteil any further thoughts?

[2018-11-26 19:05] simlu commented on #108
Serious exploit happened again. This feature would have prevented damage.

https://github.com/bitpay/copay/issues/9346
https://github.com/dominictarr/event-stream/issues/116
https://github.com/hugeglass/flatmap-stream/issues/2

I would really, really like to see this implemented.

[2018-11-27 11:07] Turbo87 opened #281 "Display forked projects differently"
When I open the "Add Repos" page I see a lot of projects, but most of them are personal forks of other projects where I would want dependabot on the upstream project, but not my personal repo. I would prefer it if the list would show the forks in a separate list so that I could focus on enabling dependabot on the non-forked repos.

[2018-11-27 13:10] greysteil commented on #281
Thanks for the feedback @Turbo87. We're planning to show an icon for forked projects on that screen imminently, which will help a little, at least.

@feelepxyz - one for you!

[2018-11-28 09:47] feelepxyz commented on #281
@Turbo87 I've just added an icon to indicate which repos are forked, hopefully makes it a bit easier to scan the list!

[2018-11-28 09:47] #281 closed

[2018-11-28 09:51] Turbo87 commented on #281
hmm, it's a little better yeah, though the grey icon kinda fades away in the background, especially because of the "external link" icons right next to them. maybe a different color might highlight the non-forks better?

[2018-11-28 09:52] feelepxyz commented on #281
@Turbo87 good point, will make it stand out a bit more!

[2018-11-29 04:07] mattr- opened #282 "Respond differently if dependabot is told to do something it can't do"
Dependabot opened https://github.com/TracksApp/tracks/pull/2155 which I approved and merged roughly five hours after opening. When checking email, I told dependabot to merge it because I had forgotten I'd done it myself the previous day and I don't have GitHub set to send me notifications for my own actions, and dependabot happily told me it would merge the PR after it passed CI again.  Of course,

[2018-11-29 08:56] feelepxyz commented on #282
@mattr- thanks for reporting this! You're right, this is definitely what should happen! Looking into it 👌

[2018-11-29 11:21] #282 closed

[2018-11-29 14:31] greysteil commented on #264
Totally is - I can think of two ways:
1) all of the work on this one will be in [dependabot-core](https://github.com/dependabot/dependabot-core). Happy to talk you through what needs doing there - maybe take a look at the readmes (particularly [this section](https://github.com/dependabot/dependabot-core#architecture)) first? Actually adding the code yourself would be quite a big undertaking - it's

[2018-11-29 15:45] Floppy opened #283 "Auto-merge after review"
I *think* this is a little different to #253 and #86, but if I'm repeating stuff please close this.

I'd like to be able to have dependabot automerge PRs after we've done a human review, much like it auto-deletes the branch after merging.

I know Dependabot can auto-merge when status checks pass, but the "requires review before merge" option doesn't seem to work quite the same. Would it be possibl

[2018-11-29 16:33] feelepxyz commented on #54
Dependabot can now update multiple dependencies at once when required by a major version upgrade, for example updating both `react` and `react-dom` from version `15.x` to `16.x` 🎉

This should work for most common cases of peer dependency requirements. We haven't yet dealt with the case when a new version adds a new peer dependency requirement. For example, when using `react-apollo@1.x` Dependabot

[2018-11-29 17:23] greysteil commented on #283
I quite like this, and now that Dependabot adds details of its automerge strategy to the PR body I don't see why we shouldn't make it an option. No promises, but I'll have a look at implementing :-)

[2018-11-29 18:46] EricByers opened #284 "Gopkg major version updates"
A few vendor libraries we use, make use of gopkg (for instance launch darkly says to use `go get gopkg.in/launchdarkly/go-client.v4`).  In these cases, because the URL itself changes based on major packages, we're never alerted to the changes on dependabot (specifically because the last package would have been `go get gopkg.in/launchdarkly/go-client.v3`)

Was wondering if there could be specific s

[2018-11-29 18:53] EricByers commented on #284
After writing this I realized that we do not have to use gopkg, and can just use GitHub directly avoiding this issue.

[2018-11-29 19:55] greysteil commented on #284
This is one for @hmarr, but we *are* planning to support major version update for Go in future. The tricky thing is that Dependabot will need to learn to update import statements to do so, which will likely mean cloning your repo (rather than just fetching the dependency files).

[2018-11-30 00:10] AraHaan opened #285 "Dependabot cannot be told to use a certain project for issues and pull requests it opens."
A ``@dependabot use this project`` would be perfect to have.

[2018-11-30 08:57] Floppy commented on #283
Fantastic @greysteil, thanks for the positive feedback :)

I guess ideally it should be able to automerge whenever the github button goes green - so if reviews or status checks are required, it should wait for them but then do so.

[2018-11-30 08:59] Floppy commented on #256
@bustikiller perhaps you might reduce the noise while still getting the benefit of the updates by letting dependabot auto-merge minor updates? That's configurable per project, and separately for dev/production dependencies too.

[2018-11-30 10:43] niels-s commented on #279
@hmarr I've been testing several different approaches to get a Private GCP Container Registry working without any luck so far. Putting the service account json file in as password like mentioned here https://cloud.google.com/container-registry/docs/advanced-authentication#json_key_file didn't really work. I've also tried another approach by using the password secret generated by `gcloud auth confi

[2018-11-30 11:32] greysteil commented on #285
Thanks for the suggestion! Unfortunately it doesn't look like there's a GitHub API endpoint for this yet. I've pinged their support team asking if I'm missing anything, or if they've planning to add one. I'll keep you posted!

[2018-11-30 11:43] greysteil commented on #279
Hey @niels-s,

Huh, sounds like there's some more work to be done on our side on this one then.

For testing, check out https://github.com/dependabot/dependabot-script/blob/master/update-script.rb. You'll need to add your credentials to the credentials array at the top - they'll look something like:

[code]

The code that Dependabot is running to do the lookup is all at https://github.com/dependab

[2018-11-30 11:58] greysteil commented on #279
Digging into this, I'm pretty use that all that's required is for you to change the username on your credentials to `_json_key`, as described at https://cloud.google.com/container-registry/docs/advanced-authentication#json_key_file. Everything should work perfectly then.

[2018-11-30 15:59] greysteil commented on #285
Update from GitHub:

[2018-11-30 16:22] bennyn commented on #186
@greysteil We saw that Dependabot changed the prefixes from being `build(deps)` & `build(deps-dev)` to `chore(deps)` & `chore(deps-dev)`. At Wire we have some automation in place which checks for the commit prefix to determine if a version should be build or not. When a prefix changes then this can confuse our build logic. Is it possible to have the prefix customizable? Would be great if it could

[2018-11-30 16:38] bennyn commented on #186
Here you can see the Dependabot PRs to update the `styled-components` package:
- October, 31st it used **build(deps)**: https://github.com/wireapp/wire-web-packages/pull/1271
- November, 29th it used **chore(deps)**: https://github.com/wireapp/wire-web-packages/pull/1345

I think it would be great to have it user-defined so you can choose to use "build" or "chore" or something else.

[2018-11-30 19:22] greysteil commented on #186
OK, I'm shipping https://github.com/dependabot/dependabot-core/commit/694dfe841fb20c03e806fbf33db57dcf626d4a7b how which should help with this. It means that if you edit the commit message on the most recent Dependabot PR then Dependabot will fall in line and use that. Not perfect if you have multiple Dependabot PRs open (it's always going to pick up the most recent Dependabot commit), but hopeful

[2018-12-03 04:31] leroiellem opened #286 "We Produce Legit documents, fake money for the following countries"
WE OFFER HIGH QUALITY COUNTERFEIT BILLS FOR THE FOLLOWING CURRENCIES;
EUR - Euro
USD - US Dollar
GBP - British Pound
INR - Indian Rupee
AUD - Australian Dollar
CAD - Canadian Dollar
AED - Emirati Dirham
ZAR - Rand
CHF - Swiss Franc
CNY - Chinese Yuan Renminbi
MYR - Malaysian Ringgit
THB - Thai Baht
Buy passports,express work permits IELTS certificate,TOIC ETC
express canadian citizenship docu
veri

[2018-12-03 08:21] #286 closed

[2018-12-03 22:56] JacobEvelyn opened #287 "Feature request: PR templates for Dependabot PRs"
Similar to how GitHub lets me define a `pull_request_template.md` or `.github/pull_request_template.md` file in my repo that it uses for the body of a new PR description, it would be extremely helpful if there was something like `dependabot_pull_request_message.md` that we could define and Dependabot would add that Markdown to the top or bottom of its PR descriptions.

For context, our use case is

[2018-12-04 01:40] leroiellem commented on #286
Hello Mr Phillip glad to hear from you and you should know as well that we
are able to help you in anyway we can and with the best of what you may
want so all you need do is let us know what you may want...thanks

On Mon, Dec 3, 2018 at 9:21 AM Philip Harrison <notifications@github.com>
wrote:

[2018-12-05 03:00] shimbaco opened #289 "Ability to prevent to auto-update temporarily"
Hi, can I disable to auto-update temporarily? My team reviews PR by 2 people. Even if first reviewer approves PR, we can't merge PR until second reviewer reviews it. If PR is auto-updated before second reviewer reviews, first reviewer needs to review again. So we would like to prevent to auto-update in that case.

Thanks!

[2018-12-05 11:52] feelepxyz commented on #287
@JacobEvelyn thanks for the suggestion! Always great to see a good practices around dependency mgmt 😃

Keen to hear if others have a similar workflow/need before adding something like this. We've just started working on a first version of config files so focusing on getting that over the line and stable over the next few weeks.

Also, have you considered doing this with GitHub Actions? You could f

[2018-12-05 12:02] konstin opened #290 "Please auto-merge pre-1.0 rust dependencies"
While semver itself allows any breaking changes in `0.x.y` release, cargo treats `0.x.y` as if `x` was the major version and `y` was the minor version. This means that in the rust ecosystem, `0.5.2` is considered to be compatible to `0.5.1`.

Currently, pre-1.0 rust dependencies are not automatically merged, even though most crates are `0.x.y` versions and behave according to the cargo semver rule

[2018-12-05 12:04] greysteil commented on #290
Thanks for the feedback @konstin. Do you know if that setup is formally recorded anywhere? Other languages take the same approach informally, but I don't think that's enough for Dependabot to enable automerging - some authors might not be following that approach.

[2018-12-05 12:20] konstin commented on #290
I haven't found anything for the semver rules themselves, but [this capter in the official cargo book](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-dependencies-from-cratesio) say that `0.x.y` is understood as `^0.x.y` with e.g. `^1.2.3 := >=1.2.3 <2.0.0`

[2018-12-05 16:04] feelepxyz commented on #289
@shimbaco thanks for getting in touch! Want to make I get this right, are you currently requiring 2 pull request reviews and dismissing stale pull request approvals when new commits are pushed?
How would you want to tell Dependabot to temporarily disable auto-rebases?

Not ideal but you could work around this by disabling automatic PR rebases on the account level (under account/settings in the das

[2018-12-06 08:57] StephanBijzitter opened #291 "@dependabot recreate... re-created a merge commit"
This is what happened:
* Dependabot created a pull request
* A co-worker merged master into the pull request after a while
* I typed `@dependabot recreate` to get rid of that awful merge commit
* Dependabot decided this was a good idea:

![screenshot 2018-12-06 at 09 53 48](https://user-images.githubusercontent.com/1649903/49573018-4b830880-f93d-11e8-8282-a0e0919044cc.png)

[2018-12-06 09:23] greysteil commented on #291
🤦‍♂️. Let me get that fixed!

[2018-12-06 09:52] feelepxyz commented on #70
Oops, not done yet! FYI, we've started working on config files so should have something to try out in the coming weeks.

[2018-12-06 12:35] StephanBijzitter commented on #291
Wow, that was fast!

[2018-12-06 12:50] greysteil commented on #291
Haha, well I try and jump on big fixes for Dependabot immediately. Feature requests take a little longer, but there’s never an excuse for it being buggy!

[2018-12-07 19:11] shimbaco commented on #289
Thank you for your reply! And sorry for delayed response.

Yes!

I don't want to disable automatic PR rebases on the account level if it's possible. I want to disable it each PRs because I want other PRs to rebase automatically.
But if it's difficult, I'll do the workaround you taught me. So I'll close this issue for now. 😃

Thanks!

[2018-12-07 19:11] #289 closed

[2018-12-07 22:41] bjeanes commented on #5
By way of comparison to Renovate, it has a way to define groups (e.g. React + ReactDOM) that should always be opened together (vs opening 2+ PRs, then manually grouping each time, then opening a 3rd PR, etc) and also ships with common groups.

I think for JS in particular, you could use peerDependency definitions to infer this, but for other languages it would still be nice to define groups.

[2018-12-07 22:43] greysteil commented on #5
Sorry for the slow progress on this one. We've actually just implemented grouping based on peer dependencies (when a peer requirement would be broken).

Right now we're working on config files and want to get that shipped before picking anything else up, but once that's out this is really high up our list.

[2018-12-08 08:41] pascalberger commented on #283
@Floppy In the meantime [mergify](https://mergify.io) can help you. An example how to auto merge PRs created by dependabot is available [here](https://doc.mergify.io/examples.html#automatic-merge-for-automatic-pull-requests).

[2018-12-08 18:47] ianwremmel opened #292 "commit messages break conventional commit rules"
It looks like sometime about two weeks ago, `build` became `Build` which violates conventional-commits.

[2018-12-08 18:48] greysteil commented on #292
Can you ping me the repo on which that happened? We now have a bunch of users who want capitalisation, but should be automatically detecting your preference.

[2018-12-08 18:49] ianwremmel commented on #292
The repo in question was https://github.com/ianwremmel/relayhook (recently renamed from https://github.com/ianwremmel/displace).

I didn't realize I can configure the messages, so happy to do that if that's the best solution.

[2018-12-08 21:05] greysteil commented on #292
I am at a total loss here. I've re-run the logic locally and it doesn't capitalise, and reading through I can't see any way how it accidentally would. The logic in question is [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/message_builder.rb#L760-L796). What's incredible to me is that one of the PRs that I can see Dependabot got this wrong on w

[2018-12-08 23:04] ianwremmel commented on #292
no worries, thanks for looking into it!

It looks like two of my repos have had this happening for about week. That logic looks sound, so it didn't make sense, but I've now looked at my commit history and I have a theory.

GitHub merge commits are of the form `Merge pull request #496 from ianwremmel/tf-h`. If they get included in the set of `semantic_messages`, that may drag down the average enoug

[2018-12-08 23:41] greysteil commented on #292
I thought it could be that, but Dependabot is smart about what commits it looks at when considering whether semantic commits are being capitalised. I just can't reproduce, which is maddening! I'll take another look in the morning and see if I can figure anything out.

[2018-12-09 18:15] ianwremmel commented on #292
Sounds good, will do. Thanks for looking into it!

[2018-12-10 08:38] Floppy commented on #283
Oh, superb @greysteil! I love it when past-me has already done things, so I know the feeling. Happy to test it out for you if you want to turn it on, yeah - can you enable it on the 'apolitical' organisation please?

[2018-12-10 13:04] feelepxyz commented on #289
@shimbaco great! I'm stil going to add this to our config wishlist. We're currently working on config files and this could be a candidate for a future advanced option.

[2018-12-10 17:09] ndelangen commented on #5
Awesome work @greysteil !

[2018-12-10 20:58] shepmaster opened #294 "Rails 5.2.1.1 and Rails 5.2.2 not suggested as an update"
The [Rails gem](https://rubygems.org/gems/rails) has a few recent releases:

Our Gemfile allows these newer versions:

[code]

But we are still at version 5.2.1:

[code]

A `bundle update rails` does perform the upgrade, so it doesn't seem like there are other gems preventing the update:

[code]

[2018-12-10 21:01] greysteil commented on #294
Thanks for the feedback @shepmaster. Can you link to your repo? Dependabot has generated a few thousand updates for that Rails version, so it's not a general problem, but I'd like to debug whatever's happening here specifically!

[2018-12-10 21:18] shepmaster commented on #294
Oh yes, that would be important, wouldn't it?

https://github.com/jetpackworkflow/checklistpro

[2018-12-10 21:35] greysteil commented on #294
👌 I'll dig into this in the next couple of hours.

[2018-12-10 21:41] greysteil commented on #294
Looks like the cause of this was that you asked for an ignore of Rails on this PR https://github.com/jetpackworkflow/checklistpro/pull/6627. However, Dependabot should have picked up that you'd updated it yourself and started creating PRs again - let me dig into why that didn't happen here...

[2018-12-10 22:22] greysteil commented on #294
FYI, the eventual bug in this want that after I moved the logic for honouring ignore conditions into Dependabot Core, the old logic for deleting outdated ignores was no longer being called. I've just fixed that, and Dependabot will now kick back into life when you update a dependency yourself (as it says it will do in the PR comments it generates).

Thanks for flagging this!

[2018-12-10 22:22] #294 closed

[2018-12-10 23:08] greysteil commented on #283
Sure thing - done!

[2018-12-10 23:12] #54 closed

[2018-12-11 00:43] shepmaster commented on #294
Thank you for the quick resolution!

[2018-12-12 15:05] mizhi commented on #268
@greysteil I'm curious on your thoughts on this issue. One area where this would be very useful is in capacity planning across an engineering organization or justifying a certain cadence of maintenance work.

As an engineering manager, I can say, "Look, we're >500 dependencies out of date across all of our repositories. Dependabot tells us that we can expect roughly 10 new PRs per week, therefore

[2018-12-13 13:35] alferpal opened #296 "Dependabot on a nodejs monorepo adds packages to root package-lock that should not be there"
Hello everyone.

Yesterday I got this PR from dependabot: https://github.com/alferpal/calcifer/commit/78b321e2d9326baafbb5169d620767536e02ef49

The problem with this is that it has added pino to the root package-lock.json, even when pino is not on the root package.json. This pino dependency is only on packages/calcifer-utils/package.json

[2018-12-13 15:33] alferpal commented on #296
Happened again here:
https://github.com/alferpal/calcifer/pull/63/files

[2018-12-13 15:51] greysteil commented on #296
Thanks for reporting this, and for the linked PRs. If you could leave https://github.com/alferpal/calcifer/pull/63/files open while I look into it that would be 👌.

[2018-12-13 16:02] alferpal commented on #296
Sure, I'll keep it open as long as you need

[2018-12-13 20:08] joma74 opened #297 "Certain caret ^ and tilde ~ versions according to semver npmjs do not get bumped"
As of https://github.com/joma74/tailwind-spa-ws/commit/f3c9efded259a1e0557d093cfc4bdd9332959ad8 i am of the opinion that that some dependencies did not recieve an expected depdendebot bump/pull request.

On checkout you will see
[code]
Upon these i recieved bumps/pull requests for vue and vue-template-compiler.

But for tailwindcss and @types/webpack i did not, what this issue is about. I checked

[2018-12-13 20:30] joma74 commented on #297
On your agreement i would like to retract only @types/webpack from this issue.
yarn itself seems to mix resolutions version of `~3` with hard coded dev dep of `3.8.16`. :open_mouth:

[2018-12-13 21:23] sylr commented on #215
Also really keen to have `go mod vendor`

[2018-12-13 22:31] Floppy commented on #283
@greysteil this seems to be working nicely, great stuff!

[2018-12-14 16:11] greysteil commented on #283
Ah yeah, that's a bugger.

Dependabot uses the `dependabot[bot]` account, which is attached to our app, to perform merges. Whilst that accounts has push access (because those are the permissions you grant it when you authorize Dependabot), it *can't* be specified as an admin user in the GitHub protected branches UI 🙁

[2018-12-14 22:44] codebycliff opened #298 "Support for NPM configuration options"
We use Font Awesome Pro which requires that an NPM configuration value be set to authenticate the pro version. Currently, I can't figure out a way to support this functionality within dependabot. We have an `.npmrc` set up to read from the environment. If we could set a general environment variable that would be read when updating NPM packages, that would also solve our issue. Here is the document

[2018-12-15 14:06] greysteil commented on #298
Thanks for the feedback @codebycliff.

We have quite a few users using Font Awesome Pro - you can configure Dependabot to use your auth token for it by logging into your Dependabot [dashboard](https://app.dependabot.com), selecting "config variables" from the dropdown in the top right, and then adding your details as an auth token for a JS registry as shown in the pic below:

![image](https://user

[2018-12-15 18:28] majormoses opened #299 "on ruby gems inspect gemspec required ruby versions before suggesting an upgrade"
In https://github.com/sensu-plugins/sensu-plugins-chef/pull/47 it suggests bumping versions to a version 14 which requires dropping support for ruby 2.3 which is a supported version of ruby, rather than creating an ignore rule for the version which someone may forget about later it would be better if dependabot instead inspected and only proposed changes that are safe based on the ruby version. I

[2018-12-15 23:07] Floppy commented on #283
Interesting - the bot should be able to merge as long as the review is passed, it shouldn't need to be an admin... I'll have a look at the settings with that in mind.

[2018-12-16 08:35] pascalberger opened #300 "Closing issue without command"
Dependabot just closed a PR without that the corresponding command was given. Instead I updated the branch manually and by mistake pushed a version where no changes were included.

PR is https://github.com/cake-contrib/Cake.Issues.Reporting.Generic/pull/109

[2018-12-16 19:50] greysteil commented on #300
Thanks for the heads up. From looking at the events in the stream on that PR it looks like GitHub thinks you closed that PR, rather than Dependabot:

![image](https://user-images.githubusercontent.com/1144873/50058113-d64cda00-016b-11e9-8fe0-1d64d3c93666.png)

Is that possible? I can't see anything in the logic on Dependabot's side that would cause this.

[2018-12-16 20:08] pascalberger commented on #300
You're right. Seems like GitHub closes PRs without commits and depandabot reacted to this. Sorry, I missed the info that GitHub closed it (in my name).

Btw. underlying issue why I needed to modify the PR in the first place was this: https://github.com/dependabot/feedback/issues/259. Depandabot only updated packages.config file, but not csproj.

[2018-12-16 20:08] #300 closed

[2018-12-16 20:43] greysteil commented on #300
👍 and thanks for the push on that issue.

In the meantime, I've updated Dependabot's logic so it *won't* comment about re-opening the PR if the close occurred because you pushed over Dependabot's commit (as it was a little unclear).

[2018-12-16 21:34] kaidowei commented on #20
@greysteil is there any progress for this one? :)

[2018-12-16 21:37] JustArchi opened #301 ""Live" support for git submodules"
I've set up dependabot today for several of my open-source projects and I'm loving it so far, thank you a lot! ❤️

I'm wondering if it could be possible to ask about potential enhancement to submodules feature by giving it "live" updates if dependabot can receive proper webhooks.

Let me explain my setup, I have a core repo C that includes several submodules:
- reference to wiki of repo C (on GitH

[2018-12-16 22:07] greysteil commented on #299
I'm looking into this now. Dependabot already has a bunch of logic that should have stopped it trying to create an update that would require you to drop Ruby support for old versions, given that you already specify a `required_ruby_version` in your gemspec. I'll try to reproduce and get this fixed.

[2018-12-16 22:27] #299 closed, assigned to nobody

[2018-12-16 22:30] greysteil commented on #268
Sorry for the slow reply on this one - got swamped last week.

I'm still really keen on this. We've been working on adding support for config files for the last couple of weeks, which has taken up most of my time (and show ship next week). Next on the list are looking at PR grouping and then expanding the dashboard so that it has a proper show view for a repo.

Once we've got that show view I'm su

[2018-12-16 22:34] greysteil commented on #297
Sorry for the slow reply on this one - got swamped last week. I'm going to try to dig into it tomorrow (and definitely next week).

[2018-12-16 22:35] greysteil commented on #20
Not yet, sorry! Things have been a little crazy. I'll try to get to it in the next couple of weeks. :-)

[2018-12-17 13:33] greysteil commented on #301
I'm not sure I understand what you mean by "it's a wiki of the project" - any chance you can link me to an example?

For the case where Dependabot has been given GitHub access to a repo it shouldn't be that hard for us to listen for webhooks. For public repos that don't have Dependabot installed it will be a bit trickier...

[2018-12-17 15:14] JustArchi commented on #301
Sure I can, take a look at my ASF repo: https://github.com/JustArchiNET/ArchiSteamFarm

I'm using GitHub wiki of the project to the maximum degree, so I've also included it as a git submodule. I have it fully localized in several languages, so right now I have a pretty neat setup of dependabot doing wiki submodule bump once wiki is edited, then merging the PR, then my CI building the commit and as

[2018-12-17 17:47] lanwen opened #302 "Java dependencies are not updating since beginning of the December 2018"
We use dependabot for bunch of private repos and didn't get the latest updates of the `com.amazonaws:aws-java-sdk-bom` for 2 weeks already.

Current version is `1.11.470` when the latest update was `1.11.461`.

Actually we didn't get any java updates for last 2 weeks.

[2018-12-17 17:48] greysteil commented on #302
Huh, that's no good. Can you ping me a repo name to support@dependabot.com so I can debug?

[2018-12-17 19:13] feelepxyz commented on #296
@alferpal sorry for the slow response on this one! I've just deployed the fix and added a test case to prevent this from happening in future.

If you're curious, here's [the code](https://github.com/dependabot/dependabot-core/pull/854/commits/3918fd6c821c88d475f0435ee4f95b83cc0704ff).

[2018-12-17 19:13] #296 closed

[2018-12-17 20:05] greysteil commented on #302
Debugging over email.

[2018-12-17 20:05] #302 closed

[2018-12-17 23:49] greysteil commented on #301
I had no idea wikis worked like that. That's pretty awesome.

I'm 👍 on your suggestion of listening for webhooks on repos (and wikis) we have access to. I'll try to get this done tomorrow, but it might slip a few days. Pester me if I haven't shipped it by the end of the week.

Thanks for the feedback!

[2018-12-18 02:08] jcjones1515 commented on #212
FWIW, I saw this behavior tonight:

![image](https://user-images.githubusercontent.com/6596226/50127600-715eb600-0237-11e9-9344-95740969f027.png)

[2018-12-18 13:53] jcjones1515 commented on #212
@greysteil the PR description did not get changed, it is still "chore(deps): bump coverage from 4.5 to 4.5.2"

We are on the (paid version) of Travis CI using checks, not statuses

[2018-12-18 14:01] greysteil commented on #212
Cool, I think I know what's happened here. Was this on an initial batch of Dependabot PRs?

[2018-12-18 14:22] jcjones1515 commented on #212
yes, it was on the initial batch

[2018-12-18 14:50] cabello opened #303 "Unable to fetch changelog for private gems"
Hi 👋

We just got our private Ruby gem server up & running and published our first gem there and configured Dependabot accordingly, this morning we got our first PR, it bumped the minor version but there are no links to commits, changelog, repo or anything, what can we do to improve this PR automatically? In that project we do keep a changelog, maybe we are not including in the gem package?

For o

[2018-12-18 16:30] greysteil commented on #303
(FYI, this is sitting in my inbox, but I'm gonna look at it before I finish for the day. Sorry for the delay)

[2018-12-18 21:02] EricByers opened #304 "Dependency Update Being Missed"
We are using go, and using dep for dependency management.

The package in question is https://github.com/bugsnag/bugsnag-go -- We had version 1.3.1 installed, but did not get notified for 1.3.2 or 1.4.0.

Please let me know if I can provide more information.

[2018-12-19 00:05] greysteil commented on #212
@jcjones1515 - OK, here's what happened on that PR:
- Dependabot created the PR, along with a few others
- GitHub asked Travis to kick of a check suite run. This check suite was assigned the status "queued"
- A few minutes later, you asked Dependabot to merge the PR
- Dependabot checked whether it had any reason to believe CI was present on the PR, and decided it didn't
  - it disregarded the queu

[2018-12-19 00:53] greysteil commented on #303
Just dug into this.

The reason Dependabot isn't finding those changelog details is because the registry you're using doesn't implement the Rubygems JSON API. As a result, Dependabot's metadata isn't getting any info about the gem from Nexus, so can't figure out its GitHub repo.

I have a fix for the above - we can use an internal Bundler API to get a binary dump of the gemspec. We can't unmarshal

[2018-12-19 01:01] jcjones1515 commented on #212
@greysteil that totally makes sense, thanks for responding so fast.  I'll be adding other repos soon so I'll try this scenario again and see if it re-occurs.

[2018-12-19 16:45] greysteil commented on #290
FYI, we're planning to add this as a setting once we ship config files. I haven't forgotten about it!

[2018-12-19 23:17] greysteil commented on #304
Sorry about that Eric! I'll take a look at this tomorrow. I've seen a couple of errors come in for dep today and yesterday, so can well believe that one of those is blocking the update - apologies for that.

[2018-12-21 12:35] feelepxyz commented on #70
Hey, we now have a first version of config files ready for beta testing 🎉

We would love your feedback on usability before we roll this out to everyone.

We're focused on improving usability before adding any new config features,
so extra keen to hear any issues around ease of use for the current set of options.

To get started, add the following file to the root of your repo: `.dependabot/config.

[2018-12-21 15:07] amureki opened #305 "[python]: `install -e .` in requirements.txt fails"
Hi,

thank you for the great project!

I am currently testing it with pipenv (works great) and with old-fashioned requirements files:

So, I have a package repository. My `requirements_test.txt` that is being used by CI includes this line:
`-e .`

which in Travis install the package itself from the given repository.
Dependabot proposes to replace this line with some temporary dependabot folder lik

[2018-12-21 15:16] greysteil commented on #305
I’ll take a look. What’s the URL of the repo? (You can email support@dependabot.com if it’s private.)

The code for this is all at https://github.com/dependabot/dependabot-core btw.

[2018-12-21 15:48] exactlyaron commented on #292
Hi @greysteil I have just realised this is happening too.

This one is "build" - https://github.com/wmfs/pg-model/pull/81

Whereas this one is "Build" - https://github.com/wmfs/pg-model/pull/82

Or you can see some here which I haven't merged in yet or any of our other repos actually.

https://github.com/wmfs/tymly-solr-plugin/pulls

[2018-12-21 15:55] exactlyaron commented on #292
Just thinking back the only thing I have done recently to the config of dependabot, a couple of weeks a go I started adding our scoped @wmfs packages to the whitelist on dependabot to be merged automatically.

[2018-12-21 15:55] greysteil commented on #292
Thanks @exactlyaron. I’m pretty sure this is from an old version of Dependabot. If you previously merged a PR with the capital then future PRs would be picking that up and using it.

The fix is to amend the commit message on a Dependabot PR to use lowercase when merging it - Dependabot will use the latest commit message when determining what to use for future PRs.

[2018-12-21 18:09] greysteil commented on #305
Fixed in https://github.com/dependabot/dependabot-core/commit/1c630f0e6453fe5943995979fb5dde1378910791, which is deploying now. Thanks for flagging this!

[2018-12-21 18:09] #305 closed

[2018-12-21 18:37] greysteil commented on #292
Anywhere where you’re getting the bad capitalisation. Sorry! 😞

[2018-12-21 18:42] exactlyaron commented on #292
Okay no worries.  Better get opening some tabs!  😆

[2018-12-21 22:33] amureki commented on #305
@greysteil thank you, mate, that was quick! 🥇

[2018-12-22 04:40] RohanNagar commented on #70
@feelepxyz - a quick suggestion I had after reading about the config files. Would it be possible to also look for a Dependabot config file in the `.github/` directory instead of only in the root? Something like `.github/.dependabot/config.yaml`? I only ask because I know a lot of Github apps allow for this already, it would be nice to be able to keep more in the `.github/` folder.

[2018-12-22 10:58] greysteil commented on #70
I"m 👍 on that I think. Any reason to use `.github/.dependabot/config.yml` rather than just `.github/dependabot.yml`? (We nest in a directory to allow you to use submodules, but that doesn't seem necessary if already in a `.github` directory.

Also, look like we should support `.yaml` as well as `.yml`...

[2018-12-22 15:46] RohanNagar commented on #70
Good point, `.github/dependabot.yml` would be better since it is already nested.

And yes, I didn't even catch that I used `.yaml` instead of `.yml`, would be nice if both were supported!

[2018-12-23 20:35] bsideup commented on #70
Hi @greysteil! Any plans to support wildcards? Would be super useful for the multi-module projects like this one:
https://github.com/testcontainers/testcontainers-java/blob/7740a4635df2de978bf9560d153d4a39648004a8/.dependabot/config.yml#L8

[2018-12-23 21:32] feelepxyz commented on #70
@bsideup oh nice one! Yeah we’ve done a bunch of thinking on your use case when designing the config file and wildcards is definitely one of the options but haven’t decided approach yet. We’ve also been investigating jsonnet as a way to template the config.

Definitely something I want to get back to once we finalise the current config format!

[2018-12-23 21:35] feelepxyz commented on #70
@RohanNagar didn’t know apps supported config in .github but makes sense! Also keen to finalise the current format before supporting more load paths, would also require persisting the file location for linking back to it from the dashboard, which we probably should do anyway, but adds some complexity.

[2018-12-23 22:41] connorshea commented on #70
This name took me a bit of time to understand, and I'd say I understand how dependabot works better than most users. FWIW I think you should change this (I think `subdependency_updates` would be a better name).

[code]

Also, I'm not sure I understand why the option exists in the config if `"all"` is the only available choice right now?

Unrelated, and I know it's still in beta, but for future ref

[2018-12-23 22:49] connorshea commented on #70
My other piece of feedback is pretty subjective, but it's been bugging me since I first saw the `config.yaml` in the core repo a few days ago, so I figured I'd share it.

The current format uses hyphens to list each package manager type:

[code]

This is fine, but personally I think it'd be much easier to follow - especially for big configs - if it was formatted like this:
[code]

My reasoning is

[2018-12-23 23:32] connorshea commented on #70
FWIW it'd be nice to have some way to see the errors _before_ merging the config into master ;)

https://github.com/connorshea/mdn-compat-data-explorer/issues/226

[2018-12-24 00:02] connorshea opened #306 "Page for adding repos is broken"
I hit "Add Repos" in the top left of the site and I see this:

<img width="1435" alt="screen shot 2018-12-23 at 4 59 41 pm" src="https://user-images.githubusercontent.com/2977353/50388463-5d520300-06d4-11e9-892a-38d0b81f54f1.png">

I don't see any errors in the browser console.

macOS Mojave 10.14.2, Firefox Nightly 66.0a1 (2018-12-22)

[2018-12-24 11:00] greysteil commented on #306
That definitely looks like a CSS issue, at the very least! @feelepxyz can you take a quick look after Christmas?

On adding access, my guess is that you've added all your repos within Dependabot but haven't granted Dependabot access to everything from within GitHub. That's what that massive blue octocat is supposed to be linking to!

[2018-12-24 11:32] feelepxyz commented on #306
@connorshea thanks for reporting! Had forgotten to set width and height on the Octocat svg! 🙈

[2018-12-24 15:49] austince commented on #255
Apologies if this is elsewhere, but has there been talk of supporting custom commit messages (see [the Greenkeeper feature](https://greenkeeper.io/docs.html#custom-commit-messages)) so you wouldn't have to jump around trying to support everyone?

[2018-12-24 15:58] Kocal commented on #255
That would be awesome, thanks for the share! 🎉

Dependabot supports a lot of different languages, maybe it would be nice to have a `dependabot.json` (or even better: `.dependabot.json`) configuration file?

[2018-12-25 00:44] zeke commented on #108
Hi @greysteil 👋 What is "compatibility score"?

[2018-12-25 09:07] bsideup commented on #70
Hi @feelepxyz! So far so good! I just have a couple of questions:

1) do you think it's possible to also document default values? e.g. `update_schedule`, or `automerged_updates->match->kind`.
2) Is it possible to specify `automerged_updates: true` to auto-merge everything?

[2018-12-25 09:30] greysteil commented on #108
@zeke - https://dependabot.com/compatibility-score/

We calculate them based on the CI of all users doing a given update.

[2018-12-25 19:09] #278 closed

[2018-12-25 19:09] #276 closed

[2018-12-25 19:13] greysteil commented on #255
We'll probably eventually support fully custom messages, but as you can imagine it's complicated, and people want very different things. Most folks are focussed on configuring only the first line, but not everyone (some care about commit message line length throughout, for example).

In the meantime we've just introduced support for config files - the relevant issue is [here](https://github.com/de

[2018-12-26 16:59] JacobEvelyn commented on #276
Sorry for the radio silence on this one. I'm not really sure what the best solution is here; we'll keep our eye on it and let you know if we get any ideas. `@dependabot rebase and merge` here might be a nice stopgap but I don't know how often we'd use it with a big green Merge button that we're used to clicking. :)

[2018-12-26 19:14] zeke commented on #108
@greysteil is there a public API for those scores?

[2018-12-27 10:31] greysteil commented on #108
FYI, the current API endpoint (about which I make no guarantees!) is http://api.dependabot.com/badges/compatibility_score. Errors should be descriptive enough for you to add the right parameters, and you'll get JSON back if you ask for it.

[2018-12-27 11:07] feelepxyz commented on #70
@connorshea thank you for your detailed and thoughtful feedback!

We struggled quite a bit with the naming of this one! 🤠
Annoyingly every package manager has a different naming convention for indirect/transitive/sub-dependency/package updates, so I think any one we pick we'll have this problem 😞

For the value we opted for the enum (`all`, `security`) over a boolean as the default boolean case wa

[2018-12-27 11:13] feelepxyz commented on #70
@bsideup thanks!

Yes we're working on better documentation for all options. Currently `update_schedule` is required so doesn't have a default setting, same goes for `automerged_updates` - where no updates are automerged if you don't specify this.

You can automerge all updates with the following config:

[code]

[2018-12-27 11:15] bsideup commented on #70
@feelepxyz thanks :) What's the config [we ended up with](https://github.com/testcontainers/testcontainers-java/blob/c8a6050841788c79b587e1eadeeb1681c5229d7a/.dependabot/config.yml#L86) but I was hoping that there is an "alias" for it. So, here comes a suggestion: `automerged_updates: true` which is essentially the same as the lines you mentioned but much shorter

[2018-12-27 11:31] feelepxyz commented on #70
@bsideup nice! Keen to stabilise the current format first but I'm up for something like your suggestion to automerge all updates. I'm thinking something like `automerged_updates: "all"` might be a bit clearer.

[2018-12-28 01:57] L1ghtn1ng opened #307 "Dependabot does not want to add a repo"
I am trying to import the following

![image](https://user-images.githubusercontent.com/3628354/50499716-b9ee4e80-0a43-11e9-8545-dd1ff936bc43.png)

But I keep getting Repo must contain a requirements.txt, setup.py, pyproject.toml, or a Pipfile. even though it does and dependabot auto-detects it as javascript so I have to change it to python

[2018-12-28 02:12] zeke commented on #108
Just curious, really. But maybe something like https://github.com/nice-registry/sourceranks? That would require a lot of requests though. 😛

Thanks for sharing that URL! I promise not to abuse it. ✋

I assembled this URL: https://api.dependabot.com/badges/compatibility_score?dependency-name=express&package-manager=npm_and_yarn&target-version=4.16.4

And i see this error:

What is a `version-scheme

[2018-12-28 10:00] greysteil commented on #307
That definitely looks like a bug. Thanks for reporting - looking into it now.

[2018-12-28 11:08] greysteil commented on #307
Just dug into this and it looks like you've got a unicode blankspace at the end of the filename for `requirements.txt`. As a result Dependabot isn't recognising that as a `.txt` file.

I don't think the above is a Dependabot bug so I'm not going to make any changes on our side, but I will put in a PR to your repo to fix the file for you 🙂.

[2018-12-28 11:08] #307 closed

[2018-12-28 19:59] Stanzilla opened #308 "Renamed repo, no longer in the list"
I renamed a repo and it now no longer shows up in the dependabot list, also would be nice if you had an option to trigger a resync with the GitHub account.

[2018-12-28 20:02] greysteil commented on #308
Hmmm, that's odd. Did you already have your Dependabot dashboard open when you renamed the repo? I can see how that would cause issues, but otherwise this should already be handled.

If you point me to your account and give me details of the repo name before and after then I can dig into it.

[2018-12-28 21:35] Stanzilla commented on #308
I could have had it open already, don't really remember, sorry.

The repo I renamed is https://github.com/Stanzilla/WeakAuras-Companion and it was called https://github.com/Stanzilla/wa-update before.

[2018-12-29 12:43] greysteil commented on #308
Just dug into this and it's a little tricky. Dependabot uses the GitHub GraphQL API to check which repos a user has access to, and unfortunately the only way to specify repos in this request is using organization and name, rather than GitHub ID. That's causing problems when a repo is renamed, particularly when combined with GitHub not sending webhooks for renamings.

Dependabot *does* automaticall

[2018-12-29 16:55] Stanzilla commented on #308
Thanks for the help, do we want to keep the ticket open as long as you investigate?

[2018-12-29 19:46] greysteil commented on #308
Let’s keep it open - I should have this fixed tonight

[2018-12-29 22:12] greysteil commented on #308
OK, this should be fixed properly now - we now store the GitHub `node_id` as well as the normal ID, which means we can use that to fetch repos that are accessible to a user, rather than relying on the repo name.

Thanks for the feedback on this one!

[2018-12-29 22:12] #308 closed

[2018-12-30 20:11] ianwremmel opened #309 "Couldn't convince dbot to close an obsolete PR"
As far as I can tell, there's no longer any need for [https://github.com/ianwremmel/http-server-exceptions/pull/98](this pr), but dbot didn't autoclose it and didn't produce a version that didn't have conflicts. I closed the PR manually.

[2018-12-31 00:43] greysteil commented on #309
Ah, it's sometimes tricky to tell with sub-dependency updates like this one, but I *think* dependabot is still making an update there. [This line](https://github.com/ianwremmel/http-server-exceptions/pull/98/files#diff-32607347f8126e6534ebc7ebaec4853dL8335) looks like it's updating the version of `sshpk` that's being pulled in as a sub-dependency.

[2018-12-31 00:44] greysteil commented on #309
Oh, hang on, it looks like it never got back to you on those rebases, though. Let me take a look into that...

[2018-12-31 00:54] greysteil commented on #309
Hmmm, I'm not sure what's happened here and it's tricky to reproduce because the PR is closed - if you see this behaviour again can you ping me with the PR still open and I'll dig into it? Keen to get to the bottom of it!

[2018-12-31 00:54] #309 closed

[2018-12-31 14:07] yildiz-online opened #310 "GET https://api.dependabot.com/active_repos"
Displayed on the dashboard instead of the repositories

[2018-12-31 14:08] greysteil commented on #310
I'm just looking into that error on our side - it looks like a change we made to the repos endpoint means it's not working for those who have more that 100 repos active - yours is the first account that's run into that since it was deployed two days ago.

I'll have a fix out in the next hour.

[2018-12-31 14:12] yildiz-online commented on #310
Thank you for the quick reply.

[2018-12-31 14:31] greysteil commented on #310
I've just deployed the fix - everything should be working normally now. Apologies for the bug!

[2018-12-31 14:31] #310 closed

[2018-12-31 14:36] yildiz-online commented on #310
Working as expected, thank you very much for reactiveness

Have a happy 2019 year

[2018-12-31 14:38] greysteil commented on #310
Good to hear, and happy new year!

[2018-12-31 17:19] ianwremmel commented on #309
Ah, gotcha. Didn't think to open this issue til after I closed the PR. Will send you more details if I see it again. Thanks for looking!

[2019-01-01 19:17] greysteil commented on #235
Fixed in https://github.com/dependabot/dependabot-core/commit/15c08c7f4c2b3dc7a32ed54bbf57a7edfac993ec. Dependabot will now look for all hashes when it updates a dependency, if all hashes were included in the compiled `requirements.txt` file previously. Apologies for the delay getting to this one!

[2019-01-01 19:17] #235 closed

[2019-01-02 12:34] greysteil commented on #70
Very minor update: we've just renamed the `semver:in_range` automerge rule to just `in_range`.

[2019-01-02 18:13] cihati opened #311 "Whitelisting dependencies"
I am exploring dependabot for our private repository. What I'm trying to achieve:

1) Whitelist some dependencies that I want to keep updated
2) Some tool (in this case, hopefully dependabot) sends PR to upgrade package.json and yarn.lock (also, I'd ideally only want changes to both package.json and yarn.lock, not just yarn.lock)

Hopefully, over time I'll add more and more stuff to this whitelist

[2019-01-02 18:17] greysteil commented on #311
Thanks for getting in touch @cihati.

For now this isn't possible with Dependabot. You can ask Dependabot to ignore dependencies, but only after it's created an initial PR for them - there's no way to add ignores in advance, or to whitelist (as opposed to blacklist). Support for both is coming in the next month as part of the config files work we're doing.

Dependabot can do this bit just fine. Wh

[2019-01-02 18:30] cihati commented on #311
Got it -- then I'll probably start using dependabot next month once you have this feature.

What I mean is that whenever dependabot opens a PR, it should touch both package.json and yarn.lock (so I do *not* want changes that only affect yarn.lock but not package.json)

[2019-01-02 18:38] greysteil commented on #311
Interesting, there's a chance that Greenkeeper might be a better fit for you in that case:
- You an configure Dependabot to update your `package.json` as well as your `yarn.lock` whenever it's making an update (so a `^1.0.1` requirement would get bumped to `^1.0.2` in your `package.json`, even though the new version was covered by the old requirement).
- What you *can't* currently do easily with D

[2019-01-02 18:54] cihati commented on #311
what do you mean by "ignoring all intermediate dependencies"? I am fine with Dependabot upgrading other dependencies of the main package being upgraded (i.e. the one in package.json), so they can be in yarn.lock

Also, on a seperate topic:
What version of yarn does dependabot use? is it possible to specify it? because the generated yarn.lock differs from version to version sometimes (i.e. one vers

[2019-01-02 18:59] greysteil commented on #311
Sorry, but "intermediate dependencies I meant intermediate updates. So in this example, 1.0.2 would be an intermediate update - would you want that ignored (i.e., no PR for it) or would you want a PR that updates both the `package.json` and the `yarn.lock` for it?

We use 1.12.3. We have a bunch of code to clean up the lockfile and ensure there are no style changes, though 🙂

[2019-01-02 19:01] cihati commented on #311
@greysteil Ideally, I'd want a PR that updates both package.json and the yarn.lock for that upgrade, yes

[2019-01-02 19:02] greysteil commented on #311
Ah cool, Dependabot can handle that just fine. Thought you were asking for something weird for a minute there - keeping the `package.json` and `yarn.lock` in sync is easy. 🙂

[2019-01-03 01:58] jcjones1515 opened #312 "configurable commit messages"
Most of the time using `chore(...): ...` for commit messages is what we want but there are some dependencies/repos where I would like to be able to use `fix(...): ...` to trigger a semantic release in a downstream dependency too.

Is there some way to configure commit messages used?

Thanks!

[2019-01-03 11:54] smithtopher commented on #274
That would still be a manual process of finding the merged PRs and issuing that command for each one after rebasing though, right?

[2019-01-03 12:25] jacobpgn opened #313 "Update and minimise transitive JS dependencies"
👋 💙 🤖

I've found that when you upgrade a package with yarn it won't upgrade transitive dependencies of that package if the existing transitive dep is in range (even if a newer version is available and also in range). This means that you can end up with loads of old versions of a package that could be replaced by fewer new versions.

Reading a few threads on the issue (e.g. https://github.com/yarn

[2019-01-03 13:10] feelepxyz commented on #260
Sorry for the slow response on this. Going to close this, if you're having specific issues on the tickets your referenced please let us know.

[2019-01-03 13:10] #260 closed

[2019-01-03 13:32] feelepxyz commented on #313
@jacobpgn 👋

I've been thinking about this too! I've done this in the past by periodically removing my lockfile and re-installing to update transitive dependencies. Definitely something Dependabot should be doing 😃

Dependabot can update transitive dependencies but it's specifically disabled for JS because it would definitely cause lots of noise if we open PRs for each update.

One way I've been t

[2019-01-03 13:47] feelepxyz commented on #313
@jacobpgn actually forgot we already do de-duping for yarn lockfiles and find the maximum satisfied version. Have you found some cases where this didn't happen?

[2019-01-03 14:18] jacobpgn commented on #313
Sure! [Here's](https://github.com/personably/lazy-hippopotamus/pull/495/commits/1067341bfadefd979aa9e81ef26eeae81012a3ab) an example from a few hours ago (lmk if you can't see that and would need to!), and rimraf has a version which could/should have been dropped.

Before, we required:
`rimraf@^2.2.8, rimraf@^2.5.4, rimraf@^2.6.1, rimraf@^2.6.2` -> satisfied by `2.6.2`
`rimraf@~2.4.0` -> satisfied

[2019-01-03 14:39] feelepxyz commented on #313
@jacobpgn oh yeah that does look suspicious! Looking into it.

[2019-01-03 15:11] davidgoate opened #314 "Java Maven Artifact Migration"
When running my build, spotbugs appears to have suggested:

I'm not sure internally how spotbugs knows this, but I think it'd be awesome if dependabot were able to handle this type of PR. We were using:

[code]

and now we can use instead

[code]

[2019-01-03 17:20] connorshea commented on #70
@feelepxyz I'm not super familiar with YAML validation so I don't know what's easy/hard to do, but as long as there's a `package_manager` key/value pair for an object I'd think it would still be relatively easy to validate?

Like so:

[code]

[2019-01-04 09:34] guillaumechervetaxa opened #315 "PR not created"
Hi,

I do not know why, but PR are not created by dependabot on this repository :
https://github.com/AxaGuilDEv/react-toolkit

PR are well created on this one with exactly the same configuration :
https://github.com/AxaGuilDEv/react-oidc

![image](https://user-images.githubusercontent.com/43414465/50681500-06212c00-100c-11e9-8361-4e9913b1b3a9.png)

Do you have an idea why?

Regards,

Guillaume.

[2019-01-04 10:54] feelepxyz commented on #313
@jacobpgn just got a fix in for de-duping transitive deps for yarn - [code is here](https://github.com/dependabot/dependabot-core/commit/c78332a687c325d3993b78aec0b71516a3320810)

Going to close this and keep pondering updating transitive deps, still not sure if/how we should do this for JS.

[2019-01-04 10:54] #313 closed

[2019-01-04 11:00] Jym77 opened #316 "Handling of mutually conflicting automerged updates"
So, one of my main issues with dependabot so far is when several automergeable updates on the same repo happen to conflict with each other, thus actually preventing automerging… I'm not sure whether I'm doing something wrong in the way I use dependabot and I'm not sure either how to solve this… So I'm open for suggestions :-D

---
The problem I have:
---
dependabot is set on weekly bumps. So, many

[2019-01-04 11:49] feelepxyz commented on #316
@Jym77 thanks for putting this together! Just been discussing this with @greysteil and thought of another way of doing this.

4/ Sequential automatic rebasing
We could add a setting to limit number of active rebases, so you could set this to one to get sequential rebasing. The strategy would be to start with the automerge-able ones that where passing before, jumping over the ones that fail.

This

[2019-01-04 11:52] greysteil commented on #312
Thanks for the question. The honest answer is "not at the moment".

In the long term I can see this being something we potentially add support for in config files, but we're a way away from that just yet. Before doing so we'd probably want to add support for custom commit messages, and then make this a special case of those.

In the meantime, you might want to take a look at [Renovate](https://ren

[2019-01-04 11:52] #312 closed

[2019-01-04 11:57] Jym77 commented on #316
Yes, this is essentially the same idea as my 2/ but being a bit more clever ("one PR at a time" rather than "wait hopefully long enough before next one").

I feel there might be some gain in handling differently automerge bumps and others. Which probably requires a more granular `update_schedule` than the current one (which is at `package_manager` level only, afaict). So that might be too much cha

[2019-01-04 12:07] feelepxyz commented on #316
@Jym77 yes nice one! Think we'll start with just doing sequential auto rebases before potentially doing more to reduce the initial batch of PRs being created. Should be somewhat alleviated by running the batch at night.

There's definitely stuff we could do to reduce the initial number of PRs created. Like you suggested, one way would be to create them sequentially waiting for for CI to pass/fail

[2019-01-04 12:11] feelepxyz commented on #315
@guillaumechervetaxa ouch looked into this and the update timed out due to the large number of package files being checked (trying to check 99 package json files).
Sorry for not handling this better! Looking into a solution.

[2019-01-04 12:19] jacobpgn commented on #313
Cheers Phil, looks good!

For transitive deps, maybe it makes sense to update them when updating a package dep?

That way it wouldn't increase the frequency of bump PRs. You would be less up-to-date than updating transitive dependencies independently and regularly, but more up-to-date than the current approach. The behaviour would be similar to what you get if you `yarn remove pkg && yarn add pkg`

[2019-01-04 14:57] feelepxyz commented on #70
@connorshea yes validation isn't to bad, we're currently validating against a JSON schema and match the specific schema based on the package_manager.

Been thinking this through and pretty sure I want to keep the current format to make it easy to convert existing dashboards configs to a config file, which don't have a good value to use for the key. Once we've implemented this I'm up for revisiting

[2019-01-04 15:11] feelepxyz commented on #313
@jacobpgn oh yeah that would be nice! Think the only way is doing what you suggested, so `yarn remove pkg && yarn add pkg@v` - maybe I'm missing something? This will require quite a few changes to the way we update things as it would rewrite the package json which we currently do separately to make sure you can configure the strategy.

How keen are you on this? 🤠

[2019-01-04 15:20] feelepxyz commented on #315
@guillaumechervetaxa going to take some time to get this properly fixed so will tackle this from Monday and start by adding better caching around npm installs. Will keep you posted on progress ✌️

[2019-01-04 15:42] nesl247 commented on #5
If this could also be in the configuration file, or be a company wide setting, that would be awesome.

For example, we have a LOT of projects based on the Symfony framework. It's a modular framework, so we tend to have 5-15 dependencies that get updated once a week sometimes as they release patch versions. This is a PITA to approve when we have ~20ish projects that each have a lot of these depende

[2019-01-04 16:05] jacobpgn commented on #313
Yeah from reading around it looks like there's nothing built in to yarn for this (but people want it!)

I'm wondering what happens if you `remove` in https://github.com/dependabot/dependabot-core/blob/7518ba0e97bc2b5237786e85f48269ea90525ce1/helpers/yarn/lib/updater.js#L181 before the (lightweight) `add`, but I haven't tried that out yet.

I think it'd be pretty good for keeping the world more up

[2019-01-04 16:22] connorshea commented on #70
A status check sounds good to me!

[2019-01-04 17:02] feelepxyz commented on #313
Yep feel like this should be built into yarn as the default (also de-duping) when updating individual packages. Going to see if yarn team would be open to this change.

[2019-01-04 20:15] AraHaan commented on #274
yes, sadly.

[2019-01-06 03:12] camillevilla opened #317 "Feature request: scrub release notes for GitHub automation keywords ("fix", "close", etc.)"
It would be great if dependabot could scrub GitHub's [issue closing keywords](https://help.github.com/articles/closing-issues-using-keywords/), such as "fixes" and "closes" from dependabot comments. Or maybe you could use regex to inject org + repo name before issue numbers (e.g. `rubocop-hq/rubocop-rspec#719`).

A [recent dependabot PR](https://github.com/ifmeorg/ifme/pull/1331) included a commit

[2019-01-06 09:35] xRahul commented on #6
Hey @greysteil Is the status page done?

[2019-01-06 11:56] greysteil commented on #70
Another update: you can now specify `ignored_updates` in your config file. Doing so will override any ignores that you've specified by commenting `@dependabot ignore this dependency` (or similar) in the past, and disable those commands.

[2019-01-06 19:11] greysteil commented on #70
Another update: you can now specify a whitelist of dependencies in your config file using the `allowed_updates` attribute:

[code]

The above config would create PRs for security updates to any dependencies, and non-security updates for the `dependabot-core` and `sinatra` dependencies.

[2019-01-06 19:13] greysteil commented on #311
Whitelisting is now possible! 🎉

It has to be done through a config file rather than your dashboard (we'll probably extend it to the dashboard in future), and the docs are [here](https://github.com/dependabot/feedback/issues/70#issuecomment-449377695).

Config files are brand new, so if anything's unclear just let us know. We're working to improve them, and to add more documentation and linting fo

[2019-01-06 19:13] #311 closed

[2019-01-06 19:15] greysteil commented on #201
Not perfect yet, but some level of whitelisting is now possible! 🎉

It has to be done through a config file rather than your dashboard (we'll probably extend it to the dashboard in future), and the docs are [here](https://github.com/dependabot/feedback/issues/70#issuecomment-449377695).

Config files are brand new, so if anything's unclear just let us know. We're working to improve them, and to ad

[2019-01-06 21:09] greysteil commented on #6
Not yet - we crunched on config files in the end. Show pages for update configs (with all their dependency details) likely to be the next thing we work on, though 🙂

[2019-01-07 10:34] evenh commented on #314
This would be awesome!

[2019-01-07 10:35] greysteil commented on #314
Agreed - need to look into how spotbugs does that!

[2019-01-07 13:55] tomyan opened #318 "Option to group all updates into a single PR for a repo"
This is similar to #5, but would be an option to raise a single PR (or update a PR if there is one open already) whenever there are updates available for a repo. Making this tradeoff for a repo would have the advantage of having fewer PRs to deal with, so less time dealing with dependency updates - particularly if you manage a lot of repos.

[2019-01-07 13:58] greysteil commented on #318
Ack, was about to point you to [deppbot](https://www.deppbot.com/) but can see they've now shut down. Grouping everything together was exactly their service.

Grouping is still high up on our list but we're a tiny team. We'll get to it :-)

[2019-01-07 16:33] feelepxyz commented on #70
Few more breaking changes before finalising the current version:

- Rename: `kind` to `update_type`
- Rename: `dependency_group` to `dependency_type`
  - Change value: `runtime` to `production`

Example using the new keys and values:

[code]

[2019-01-07 16:37] nesl247 commented on #70
Is there any plan to auto-generate the config file from the current configuration in the dashboard?

[2019-01-07 16:40] feelepxyz commented on #70
@nesl247 yes planning exactly this!

[2019-01-07 19:41] cabello commented on #70
I just tried this in one of our repos and it seems... to have worked? 🙈 I am not sure, I've configured weekly updates so I will have to wait, but while trying to add the repo by visiting app.dependabot.com it said I couldn't because I was using a config file already, so that kind of validated that my config file is good, I would like to verify my file is correct by:
- triggering a bump now and get

[2019-01-07 19:43] greysteil commented on #70
Hmmm, you should be seeing the repo in the UI in read-only mode, exactly as you describe. If you email me the name of the repo I'll look into why it's not showing up.

[2019-01-07 20:40] greysteil commented on #70
Just took a look. Dependabot should have created an issue on that repo saying it couldn't process the config file because you've used the key `automerge_updates` instead of `automerged_updates`.

@feelepxyz - we should have a look at making that clearer in the dashboard (showing repos with no active update configs that have a config file with errors).

[2019-01-08 06:08] kapso opened #319 "Seems to be broken for me"
Keep seeing this `checking now, hold tight`

Don't think it has ran for the past few days, though I just noticed this. I clicked the `Bump now` button, but nothing.

[2019-01-08 06:58] alcaeus commented on #319
Noticed that as well. This is what it looks like for us:
![image](https://user-images.githubusercontent.com/383198/50814735-f3b03680-131a-11e9-9079-15a95bd7da90.png)

This affects Docker, JavaScript and PHP projects, across multiple repositories. The last updates came in at the scheduled time (22:00 UTC) on January 4th, nothing after that.

[2019-01-08 09:32] kapso commented on #319
@greysteil Saw a couple of PRs and thats it (should have been more gems updated), so pretty sure the issue still persists.

[2019-01-08 09:34] greysteil commented on #319
I'm watching the queues and can guarantee it's fixed. Underlying issue is fixed in https://github.com/mperham/sidekiq/pull/4076 (in Sidekiq).

[2019-01-08 09:36] greysteil commented on #319
We have a 12 hour backlog we're now processing as fast as possible, but we're throttled by Heroku so can only be creating / updating 200 PRs at a time. The queue will take a couple of hours to clear as a result. 😢

Once I've alerted all Dependabot users who use Sidekiq of the regression in the latest version, and seen that PR over the line, my last follow-up on this one is going to be to add some

[2019-01-08 17:40] greysteil commented on #201
New location for docs: https://dependabot.com/blog/introducing-config-files/

I'll keep this open until we support pattern matching.

[2019-01-08 17:46] greysteil commented on #233
Update: with config files you can now add a blacklist (`ignored_updates`) and a whitelist (`allowed_updates`) of dependencies. 🎉

https://dependabot.com/blog/introducing-config-files/

[2019-01-08 17:46] #233 closed

[2019-01-08 17:48] #158 closed

[2019-01-08 17:49] greysteil commented on #150
We've just shipped support for config files, which can include a list of `ignored_updates` - that should give you exactly what you need here 🙂

https://dependabot.com/blog/introducing-config-files/

[2019-01-08 17:49] #150 closed

[2019-01-08 17:54] greysteil commented on #59
We've just shipped support for [config files](https://dependabot.com/blog/introducing-config-files/), which I think a good solution here. 🎉

[2019-01-08 17:54] #59 closed

[2019-01-08 17:54] greysteil commented on #52
We've just shipped support for [config files](https://dependabot.com/blog/introducing-config-files/), which I think a good solution here. 🎉

[2019-01-08 17:54] #52 closed

[2019-01-08 23:50] beaugunderson opened #320 "Missing security PRs?"
These two, for example show up in GitHub but had no Dependabot PR created:

![screenshot](https://i.imgur.com/i4zjSyp.png)

This is on `canvas-medical/canvas`.

[2019-01-09 00:00] RohanNagar commented on #320
I have the same security alert for `pyyaml`, but no Dependabot PR (I'm using Pipenv)

[2019-01-09 00:56] greysteil commented on #320
I'm guessing this is because `pyyaml` is an indirect dependency in `canvas-medical/canvas`, and is currently at v3.13. Bumping it to v4.1.0 would probably require a non-security update to a top-level dependency, and Dependabot doesn't realise that it should make that update to enable this one (since you've got Dependabot in security-only mode.

We could do better here, but it's hard! For Python we

[2019-01-09 00:56] #320 closed

[2019-01-09 01:02] beaugunderson commented on #320
Thanks @greysteil, appreciate the thorough explanation!

Since starting to use Dependabot I've begun to pay less attention to the GitHub emails/alerts, but given the limitations you mentioned it makes sense to continue to be diligent about them.

[2019-01-09 01:03] greysteil commented on #320
Yes! I’d also like to have Dependabot create issues for vulnerabilities it can’t resolve - we have a separate issue for that I believe.

[2019-01-09 06:43] alcaeus commented on #319
It's working for us, we got plenty of PRs since the issue was fixed yesterday.

[2019-01-09 08:52] gr33ndata commented on #224
I second that, it would be useful to update both `requirements.txt` and `environment.yml`

[2019-01-09 08:56] greysteil commented on #319
@kapso no problems with queues. Want to move this to emails (support@dependabot.com) and let me know details of the repo you're not seeing PRs for so I can investigate?

[2019-01-10 12:58] #297 closed

[2019-01-10 13:03] feelepxyz commented on #297
@joma74 sorry for the slow response on this! Just fixed this issue and getting it deployed now.

[2019-01-10 17:37] tielur opened #321 "Workflow"
We have a git workflow where we merge branches into a QA and Staging pre-prod environment for testing before we merge to master.

What would be the appropriate workflow to bring that into dependabot? I basically want to merge dependabot branches into our QA branch, test it, merge it into our staging branch, test it, then eventually just merge the branch into master.

[2019-01-10 17:39] greysteil commented on #321
Would just changing the branch that Dependabot targets to whatever you use for staging work? That's possible from the dashboard (under advanced settings when adding a repo) or via a config file.

[2019-01-10 17:50] tielur commented on #321
I'd have to constantly change it through right? I don't merge the QA or Staging environment into master.

My initial thinking was just to keep it opening PRs against master, then just manually merge the dependabot branches into the other two branches. Once testing is all done then go back to the PR and merge it into master.