[2019-04-25 14:23] richardson-trevor commented on #256
That's fair. We do shoot for our tests telling us that one of our deps is about to break production if there was a breaking change, but there are no-doubt cases that do slip through the cracks (or get stubbed out, which has been the source of our issues). In our situation we're able to kick out a new release to prod very quickly if this comes up, but this has only happened a few times in our cours

[2019-04-25 14:46] greysteil commented on #449
Thanks! I'm working on a fix for this right now - it's similar to the issue [here](https://github.com/dependabot/dependabot-core/pull/1123).

Should have this fixed in the next hour.

[2019-04-25 17:08] #449 closed

[2019-04-25 17:59] greysteil commented on #449
Fixed, and Dependabot auto-closed those PRs when I asked it to rebase them.

Thanks again for flagging this, and for the reproduction case.

[2019-04-26 00:46] D4nte commented on #423
Yes correct, reduce the numbers of builds on CI and number of PRs to review.
Thanks for the info.

[2019-04-26 04:10] jonasbb commented on #449
Thanks for the quick help. Great support 😊

[2019-04-26 08:12] feelepxyz commented on #423
@D4nte cool, thanks for the feedback! And sorry that we don't have a better solution in the near term. Definitely keen to tackle this problem as it's cropping up quite a bit.

[2019-04-26 10:37] johannessteu opened #450 "How to access error logs"
I keep getting an error on a php project with composer. Is there any way to see logs why it failed? I'm not sure if the bot can handle a configuration like this with local paths:

[code]

[2019-04-26 14:14] JustArchi opened #451 "Pre-release versions of NuGet packages not updated"
Hello.

Please refer to my `csproj` and the project **[here](https://github.com/JustArchiNET/ArchiSteamFarm/blob/9b9f45f26a1748fb21cb15ab14ef45f60f84dfd0/ArchiSteamFarm/ArchiSteamFarm.csproj)**.

I'm using several pre-release versions of NuGet packages, and to the best of my knowledge, dependabot is configured to automatically bump stable versions to newer stable releases, and pre-release versions

[2019-04-26 14:25] JustArchi opened #452 "Dependabot often forgets to merge the PR when the check passes"
Hello.

It's very often scenario for me that dependabot sadly doesn't automatically merge PRs when the status checks pass. I have configured the CI in my repos with appropriate `Required` tags from GitHub, so dependabot is able to immediately tell which status checks need to pass, if needed.

Usually, dependabot simply forgets to do its thing right, but wakes up when triggered by `merge` command,

[2019-04-26 14:32] JustArchi opened #453 "Add setting for assigning team members only for PRs that fail"
Hello.

I'd like from dependabot to find out when the PR fails (due to CI checks) and automatically assign the appropriate person to manually verify the PR, and fix it if needed.

I believe this could be very simple boolean checkbox on dependabot website with "Assign only when PR isn't merged automatically", or perhaps it could be even built-in automatic feature of not assigning people to PRs crea

[2019-04-28 17:13] simlu opened #454 "Bad commit message generated"
Looking at [this pr](https://github.com/blackflux/set-compressor/pull/127/commits) with the commit `Bump @blackflux/eslint-plugin-rules from 1.0.10 to 1.0.11`

The [commits history](https://github.com/blackflux/set-compressor/commits/dev) of the target branch (and all branches) includes a commit `fix: updated deps` a few commits back.

Hence I would expect an Angular style commit message. What wen

[2019-04-28 22:29] greysteil commented on #454
Looks like the previous Dependabot commit used the "Bump ..." style, though. As a result, Dependabot picked that up and used it, so as to stay consistent with previous Dependabot commits. If you use the "squash and merge" option to change the commit format next time you merge a Dependabot PR, it will pick up the change.

[2019-04-28 22:29] #454 closed

[2019-04-29 07:48] StephanBijzitter opened #455 "Limit concurrency of updates for Dependabot"
Hello!

When merging a pull request from dependabot, it automatically rebases all other open pull requests (at least if pull requests must be up to date).

This is awesome! But... we use Codeship and we have a plan with limited concurrency where we can only have so many builds active at one time. When Dependabot updates it could very well rebase 20 to 30 pull requests, most of which end up in a qu

[2019-04-29 07:50] johannessteu commented on #450
I was able to test my setup with the `dependabot-script`. Looks like we missed some access tokens. Closing for now, but some kind of error logs would still be nice!

[2019-04-29 08:04] greysteil commented on #450
Good to hear!

[2019-04-29 08:56] johannessteu commented on #450
Hmm, at another project with a composer setup like in the initial description i get this error when running `dependabot-script`:

[code]

There might be a problem with composer path type @greysteil ?!

[2019-04-29 08:57] johannessteu commented on #450
Also, is it possible to fetch repos from a prvate gitlab instance as well as private github repos? I configured both access tokens in dependabot dashboard, but looks like the job times out. The dependabot-script also looks like there is only on set of credentials configured?

[2019-04-29 09:00] greysteil commented on #450
@johannessteu how are you running this? It's hard for me to debug script issues since I can't replicate them, but in general I'd recommend ruby a ruby console and stepping through each command in the script to isolate where the error is occurring.

[2019-04-29 09:01] johannessteu commented on #450
I'll try to setup a example repo! Unfortunately i'm not that deep into ruby but i'll ty to dig deeper

[2019-04-29 09:16] johannessteu commented on #450
@greysteil  here we go:

https://github.com/johannessteu/dependabot-composer-demo/

This is a public repo using composers [`path`](https://getcomposer.org/doc/05-repositories.md#path) option wich symlinks local folders to your app

I'm running the `generic-update-script.rb` script and configured a github access token etc.

[code]

Looks like there is an issue when resolving the local path?
If i ru

[2019-04-29 10:14] greysteil commented on #450
Oh, interesting, I've only ever seen Composer path dependencies specified [this way](https://getcomposer.org/doc/05-repositories.md#path).

Are there docs for using the `distributionPackages` setup? What's the difference?

[2019-04-29 10:18] johannessteu commented on #450
@greysteil the `distributionPackages` itself is just a custom key, could be anything. But you can configure a source folder where composer searches for packages. So you can put like 10 packages in that folder and composer will find all those packages with a single configuration. Compared to the way you linked you would have to configure each package.

[2019-04-29 10:19] greysteil commented on #450
Cool - working on a fix now.

[2019-04-29 10:20] johannessteu commented on #450
It's actually the same thing you linked but with glob syntax (check the last note box)

[2019-04-29 10:21] greysteil commented on #450
You can use glob syntax when specifying the repos as an array, too. I *think* it's just an old syntax, but if Composer supports it then Dependabot should too.

[2019-04-29 10:27] greysteil commented on #450
Fixed in [this commit](https://github.com/dependabot/dependabot-core/commit/d411cd2dd0b2f49d36953069d762826bd665b447). Being released as `v0.106.22` now - I'll update the script to pull that in as soon as it's out.

[2019-04-29 10:31] johannessteu commented on #450
A local `bundle update` and running the update script seems to work! PR's are already created :)
https://github.com/johannessteu/dependabot-composer-demo/pulls !

Awesome - Thanks a lot!

[2019-04-29 10:32] #450 closed

[2019-04-29 11:06] johannessteu commented on #450
Is it already deployed to https://app.dependabot.com ? I still get an error on that repo

[2019-04-29 11:08] greysteil commented on #450
It's deploying now - should be out in the next 5 mins.

[2019-04-29 16:12] caiofbpa commented on #259
@greysteil Sorry to be possibly annoying, but do you have any news about this? It sounded like a quick and simple solution to a problem that is making dependabot quite unusable for some .NET projects.

[2019-04-29 16:52] simlu commented on #454
That makes sense. However the prs are automatically merged, so it's very hard for me to intercept. I might have to change the automatic merging script to only automatically merge if it matches the appropriate syntax.... Arg...

[2019-04-29 16:52] greysteil commented on #454
Can you not use commitizen or something like that to fail the build if the syntax doesn't match?

[2019-04-29 17:19] simlu commented on #454
Yeah, that might be the easiest. We use [gally](https://www.npmjs.com/package/gally), and it doesn't have the functionality atm but might be easy to add. Not feeling like using another tool just for this... I'll think about it :)

[2019-04-29 17:28] simlu commented on #454
Sorry to chime in here again... what is going on with this commit message?
https://github.com/blackflux/object-scan/pull/353/commits

I thought deps or dev-deps would always be indicated?

[2019-04-29 17:45] greysteil commented on #454
It looks like your last Dependabot commit now matches the `conventional_prefix` style ([logic here](https://github.com/dependabot/dependabot-core/blob/master/common/lib/dependabot/pull_request_creator/message_builder.rb#L233-L241)), so Dependabot is correctly trying to stay consistent with its pervious commits by continuing to use that.

[2019-04-29 19:50] simlu commented on #454
@greysteil Man.. that branching is certainly not trivial to understand... :)

[2019-04-30 07:17] Bertg opened #456 "Unclear Bundler::VersionConflict"
Hi,

I got the below error message in the Dependabot overview.

[code]

This does not make a lot of sense to me.

* There is one source: ```https://rubygems.org```
* ```openssl``` and ```ipaddr``` have been part of the Gemfile.lock for some time; and have not caused issues in the past
* Locally trying to bundle the Gemfile has no issues

Maybe provide some more feedback in the error as well? Which

[2019-04-30 10:55] greysteil commented on #456
Thanks for the report @Bertg. Can you let me know the URL of the repo this is happening on (you can email support@dependabot.com if private).

On notifications - Dependabot will create an issue on your repo if you have issues enabled, but otherwise we don't have a way to get in touch with you (we don't have email addresses etc.!)

[2019-04-30 15:26] #20 closed

[2019-04-30 15:26] greysteil commented on #20
Sorry for the delay on this one y'all. It's implemented now, and will be released in the next 15 minutes 🎉

[2019-05-01 10:34] ottlinger commented on #22
Unfortunately requiring write-access prevents from using this great service with projects from the Apache Software Foundation (ASF) ..... is there a change to reconsider? Or being able to configure using dependabot without auto-merge instead?

https://issues.apache.org/jira/browse/INFRA-18306

[2019-05-01 10:39] greysteil commented on #22
@ottlinger still in talks with GitHub about this - we should have something for you by the end of the month. Would love to have the ASF using Dependabot!

[2019-05-01 22:18] sjoerdtalsma commented on #22
@greysteil

Please keep us posted !

[2019-05-02 10:32] deiga commented on #185
@greysteil Would it be possible to assist in getting this feature done? We'd really love this feature for our projects and I'd be happy to look into implementing it if just pointed in the right direction :)

[2019-05-03 12:43] JWGmeligMeyling commented on #72
I'd like to see this too. Recently had to ignore a couple of dependencies that had to be updated together, but now I don't seem to be able to enable it again 🤷‍♂

[2019-05-03 15:48] greysteil commented on #456
Thanks for the details. This looks really weird to me. The dependency that Dependabot is trying to update and getting that error is Nokogiri - what do you get running `bundler update nokogiri` locally?

[2019-05-03 17:54] marcotc opened #457 "My application requires version bump on pull requests"
👋 Dependabot team,

My gem requires a version bump, my case a Ruby project that requires all PRs to bump up our `VERSION` constant in our `lib/*/version.rb` file.

All dependabot PRs currently fail to pass our linting step because of this.

Has this issue come up before? Is there a recommended way to handle this situation?

[2019-05-03 17:56] cabello commented on #457
We also require a CHANGELOG entry, so I wonder if there is any extension hooks when Dependabot is about to propose a file change. We are able to perform these changes using Thor generators.

[2019-05-03 17:58] greysteil commented on #457
Hmmm, sounds like you're going to need something in addition to Dependabot to help out there - Dependabot doesn't know how to do it, and it's quite specific to your setup.

Have you looked at creating an action for this? That would be my recommendation.

[2019-05-03 18:10] cabello commented on #457
We don't have access to Github Actions 😭

[2019-05-03 22:40] kornelski opened #458 "Don't bump to versions that are already allowed by the version range"
I would like to use dependabot to remind me and test semver-incompatible versions, but don't bother updating within semver-compatible range, because the package manager updates these automatically anyway.

If I specify a dependency version using a range such as `^1.0.0`, currently dependabot will make a PR when version `1.1.0` is released. However, that seems unnecessary to me, because the version

[2019-05-04 08:23] greysteil commented on #458
Thanks for the issue. You'll get that behaviour if you don't commit a lock file for your project - is that an options? If not, what's the reason you're committing your lockfile if you don't want to specify the patch / minor release?

[2019-05-04 08:42] greysteil commented on #457
😢 I don't know what more to suggest.

You can at least piggy-back off of some of the logic Dependabot has written if you write a bot to do this, though - [this class](https://github.com/dependabot/dependabot-core/blob/master/common/lib/dependabot/pull_request_updater/github.rb) has all the logic we use to push to an existing Dependabot branch (we force push over it so you'll want to edit that bit)

[2019-05-04 08:42] #457 closed

[2019-05-04 12:01] kornelski commented on #458
Oh, I forgot about the lockfile. In that case it's all A-OK!

[2019-05-04 12:01] #458 closed

[2019-05-04 14:05] cabello commented on #457
Thanks @greysteil for the pointers, yes we were discussing the possibility of spinning our own bot, it's likely what we are going to do, Github Actions seems far away from us at the moment.

[2019-05-06 15:10] domcleal opened #459 "Ignore Terraform releases for unchanged subdirectories"
In Terraform, we can reference a module stored in a subdirectory of another Git repo which makes it easy to group together related modules into one repo rather than a large number of repos each containing one module.

When tagging one of these repos, Dependabot updates every dependency on it even if the module source is specifying a path that hasn't been changed between releases. Ideally for us, D

[2019-05-07 08:57] Bertg commented on #456
@greysteil Based on our latest develop commit, executing ```bundler update nokogiri``` is successful and bumpy the gem ```Using nokogiri 1.10.3 (was 1.10.2)```

[2019-05-07 12:37] greenape opened #460 "Pipfile.lock getting clobbered with path based dependencies"
We have a a couple of Pipfiles which have another path in the same repo as an editable dependency, e.g. `project_b = {editable = true,path = "./../project_b"}` in project a's Pipfile.

When dependabot updates the lock file for project _a_, the lock files lose all the previously locked deps from project b (e.g. https://github.com/Flowminder/FlowKit/commit/7ff5d33bae3cbc65354ef18e64283d88beb4837e),

[2019-05-07 14:44] bzf commented on #73
Would it be possible to get a PR in like the simplest case (e.g. just the `.ruby-version` or the `Gemfile`) just so that you can be notified when a new version is released? Then you at least know that a new version is out and can decide if you want to manually fix it until it's fully automatic 😄

[2019-05-07 16:08] PChambino commented on #73
In our use case we use `ruby '~> 2.6'` in the `Gemfile` and in CircleCI we also use `circleci/ruby:2.6-node-browsers`, so all we are missing is something that bumps the ruby version in the `Gemfile.lock` so Heroku picks it up. ;) It would be awesome if dependabot did that for us.

[2019-05-07 16:25] sgerrand commented on #455
👍 for this, as we're also hit by this back pressure issue a lot.

[2019-05-07 18:24] damien opened #461 "For updates to Gemfiles, follow formatting guidelines"
Hey folks!

As always, thanks a ton for the product! Sadly, my org is has a nitpick.

**Context**: We have a lot of ruby repositories, and like any good org we try to enforce some basic code style guidelines using Rubocop.

**Problem**: When Dependabot drafts a new PR to update a ruby Gemfile or gemspec, it occasionally adds a version specification like this:

[code]

Note the lack of a space afte

[2019-05-07 19:54] greysteil commented on #461
We can definitely do something about that. The logic for this is [here](https://github.com/dependabot/dependabot-core/blob/master/bundler/lib/dependabot/bundler/file_updater/requirement_replacer.rb) - looks like it's not successfully really your preferences, though. Can you comment `@dependabot this is the PR` on the PR that made the bad changs, so I can dig into exactly why?

[2019-05-07 19:58] greysteil commented on #460
Oooh, that looks like a bug to me. Let me dig into it.

[2019-05-07 20:06] greysteil commented on #460
Ack, actually, on second thoughts, I think what's needed here is [this feature](https://github.com/pypa/pipenv/pull/3304) in Pipenv, which *should* be released soon. 🤞

[2019-05-07 20:18] greenape commented on #460
I did wonder if that might be the issue actually. Pipenv’s release cycle could do with being _bit_ more frequent 🙄

[2019-05-07 22:03] damien commented on #461
Hello again @greysteil! I spoke with you a bit in March in dependabot/api-docs#4, hope you've been well!

The repo in question is sadly private, not sure if that's an issue for you guys to view/debug stuff.

In the mean time I've checked out `dependabot-core` and I'm seeing if I can patch together some sort of failing test case to demonstrate behavior I'm seeing. If you _can_ see private repos, le

[2019-05-07 22:05] greysteil commented on #461
We get a ping through the GitHub API if you use that comment, and it's enough to let me find the PR in our backend. From there I can see the diff on the PR, which should be enough.

A failing test case would be even better, of course. 🙂

[2019-05-07 22:07] damien commented on #461
I'll ping you guys and add a failing test case to this issue if I can manage it before you guys figure it out. 👍

[2019-05-07 22:33] damien commented on #461
Failing test case in damien/dependabot-core@3c3adb7adbeaa2f5b2b6

[2019-05-08 10:13] alexceder commented on #283
Is there anything keeping this from general availability? This would be a great feature for my team's workflow as well.

[2019-05-08 16:44] damien commented on #461
Awesome, thanks @greysteil!

[2019-05-09 06:20] vaibhavhrt opened #462 "Ignore this dependency not working"
On the PR of python dependency `botocore` I have commented 3-4 times `@dependabot ignore this dependency` but everyday I keep getting a new PR from the bot. The package `boto3` depends on `botocore` so when `boto3` updates `botocore` updates as well, so I don't need a seperate PR for `botocore`.

I can't link the PR's as it's a private repo. But I have commented on that PR mentioning depandabot an

[2019-05-09 06:24] vaibhavhrt commented on #462
I have told depandabot to ignore botocore in four different PR's. I have mentioned depandabot and linked this issue in all those PR, you should be able to investigate.

[2019-05-09 07:43] davidkarlsen opened #463 "[feature] Support monitoring of several branches"
It would be good if dependabot could support several branches - today it only monitors the default branch.
It's quite common to have a branch per tag for docker images - for instance `java8`, `java11`, `java12`, or several `release/*` branches.

To avoid scanning all kinds of short-lived branches, you could require a branch regex / set a limit or the likes.

[2019-05-09 08:09] feelepxyz commented on #463
@davidkarlsen we currently support multiple branches but you'll have to add them individually from the dashboard ("add a language / directory"): https://app.dependabot.com

Having to add each branch will get annoying for short lived branches, but I'm curious why you need updates to short lived branches?

[2019-05-09 08:18] feelepxyz commented on #462
@vaibhavhrt sorry about this, having a look!

[2019-05-09 09:06] feelepxyz commented on #462
Hey this is currently by design 🙁 It's happening because you've opted in to receive all updates (including sub-dependencies) and `botocore` is a sub-dependency of `boto3`.

Whenever you comment to ignore a dependency it will be ignored until it has been updated, it's being updated in the `boto3` update and because of this the ignore setting is deleted causing the separate `botocore` update again.

[2019-05-09 09:06] #462 closed

[2019-05-09 10:06] davidkarlsen commented on #463
The oppsite: "to *avoid* scanning all sorts..."

Are you maybe confusing git-branches with directories? I don't see a way to add branches, only add directories.

[2019-05-09 10:08] greysteil commented on #463
@davidkarlsen - it's the "target branch" under advanced options:

![image](https://user-images.githubusercontent.com/1144873/57445658-bd43e300-724a-11e9-8866-07fb13c05ca0.png)

[2019-05-09 10:20] davidkarlsen commented on #463
then let me explain.
If I have one git repo, with two branches `java8` and `java11` with different Dockerfiles - dependabot will only scan one of them - the default branch? Or will it scan all of them, and suggest fixes with PRs towards the given target branch?

[2019-05-09 10:25] greysteil commented on #463
In that example, if you created two "update configs" (our internal word for them), one for the `java8` target branch and one for the `java11` target branch then you'd get PRs to both of them.

(Really, the `+ Add a language / directory` button in the dashboard *should* read `+ Add a language / directory / target branch`. I think that's what's causing the confusion here.)

[2019-05-09 11:08] davidkarlsen commented on #463
Gotcha! Thanks a lot. I'll try this and come back with a new issue if it does not work out - indeed the wording mislead me.

[2019-05-09 11:14] greysteil commented on #283
Just added as an option in your account settings. Thanks for the feedback everyone!

[2019-05-09 11:14] #283 closed

[2019-05-09 11:20] greysteil commented on #456
FYI, this has something to do with Ruby's [standard gems](https://stdgems.org/) changing between the Ruby version you're using and the version that Dependabot is using. I haven't figured it out yet, but I will...

[2019-05-09 13:08] greysteil commented on #456
More progress - I have a failing test case [here](https://github.com/dependabot/dependabot-core/pull/1144).

[2019-05-09 16:18] tooomm commented on #283
Will this trigger on every approve? @greysteil
Or only approves from members of the repo for example?
I mean... everybody could approve a PR. :)

[2019-05-09 16:23] greysteil commented on #283
It will bounce out folks who don't have write permission, but at the moment it would comment saying so. I'll disable that comment, because they wouldn't be expecting it.

[2019-05-09 16:44] greysteil commented on #283
Done 🙂

[2019-05-10 07:39] vaibhavhrt commented on #462
@feelepxyz thanks, I will create a config file.
- Is there some way to generate an initial config.yaml from the settings I already have on depandabot dashboard.
- If I create a config file in one of my repo but don't add that repo in depandabot dashboard, will depandabot start checking that repo too. (Maybe add it to my depandabot dashboard automatically).
- What if there is a conflict between my

[2019-05-10 08:17] feelepxyz commented on #462
@vaibhavhrt cool, here's your current setup as a config file:

[code]

As long as Dependabot is authorised to access the repo you should only need to add the config file in each repo in `.dependabot/config.yml` for it to be automatically added to the dashboard. The config file always takes precedent so any old dashboard config will be deleted. You'll also not be able to edit the config from the da

[2019-05-10 08:22] vaibhavhrt commented on #462
@feelepxyz thanks.

[2019-05-10 09:27] stevenwilliamson opened #464 "Per repo PR limits"
Feature request to be able to specify a PR limit for an entire Github repository.

The specific use case I have where this would be useful is for Terraform configurations.

Terraform configurations are often structured as one or more git repositories that contain multiple terraform "modules". Our example case which is not a large example contains 170 modules. As a side note we have to generate the

[2019-05-10 11:30] greysteil commented on #456
Cracked it. Will get https://github.com/dependabot/dependabot-core/pull/1144 deployed in the next hour.

[2019-05-10 12:07] #456 closed

[2019-05-10 20:25] Bertg commented on #456
Great job! Thanks!
Everything is wording fine and dandy again.

[2019-05-12 06:40] bdubaut commented on #280
@greysteil Hi, I seem to have the same problem on my umbrella project.
[code]

[2019-05-12 06:48] captn3m0 opened #465 "Support a filter option on the repository list while adding repos"
This is how the GitHub repository list page looks:

![image](https://user-images.githubusercontent.com/584253/57578748-b964ca80-74af-11e9-93ed-679bafb4056a.png)

![image](https://user-images.githubusercontent.com/584253/57578749-c08bd880-74af-11e9-88b6-e2f85bc359ff.png)

![image](https://user-images.githubusercontent.com/584253/57578753-ced9f480-74af-11e9-92dc-1601732685b9.png)

There are 3 differ

[2019-05-12 06:54] captn3m0 opened #466 "Don't show archived repos in repo add screen"
Archived repos on GitHub are marked as read-only. Commits pushed from Dependabot would fail regardless of the repository being enabled.

It is much better to hide these repos entirely on the Add Screen.

[2019-05-12 10:52] greysteil commented on #466
These should already be being filtered out. Is there a particular repo that's showing up that shouldn't be?

[2019-05-12 10:54] greysteil commented on #465
Thanks for this - makes a tonne of sense to me. We're making some changes to how Dependabot is configured over the next few weeks, so will post back with more news on it soon.

[2019-05-12 10:56] captn3m0 commented on #466
My bad. I thought I'd archived a certain repo, when I hadn't.

Thanks!

[2019-05-12 10:56] #466 closed

[2019-05-12 10:57] greysteil commented on #466
Haha, no worries, I did find a small related bug when I investigated, which was that archived repos with a config file would still be shown. Fixed that but figured it was unlikely to be what caused the above! 🙂

[2019-05-12 12:23] greysteil commented on #280
Thanks for this. The fix is https://github.com/dependabot/dependabot-core/commit/ea4fd130ce7ae88e5a36be9f6217f51cd94bfa04, which I'm deploying now.

(One housekeeping point: for future issues, it would be great if you could open a new issue rather than commenting on an old ones. In most cases the issue is new, rather than a regression, as we keep a big test suite on Dependabot Core for fixes like

[2019-05-12 14:37] bdubaut commented on #280
I will keep that in mind! Thanks a lot

[2019-05-12 16:20] captn3m0 commented on #465
Workaround that remove forks from the list, in case it is helpful for someone:

```document.querySelectorAll('tr>td>div>span[title="Forked repo"]').forEach(function(e){e.parentNode.parentNode.parentNode.remove()})```

[2019-05-14 13:32] mkorszun commented on #135
@greysteil having possibility to configure branch names per project rather than per account has one huge benefit: **you are de-risking breaking other people / teams builds**

Imagine some teams have certain conditional logic based on branch names in their CI/CD pipeline - you do not want break it.

[2019-05-16 23:54] fbartho commented on #99
I should put `git remote prune origin` into my `postinstall` script, lol

[2019-05-17 02:46] adriens opened #467 "Circle CI >Check docker images versions from .circleci/config.yml"
# Concept

In [CircleCI](https://circleci.com/) you can build workflows on Docker images. This is a very powerful tool.
What would be 💯 cool is to bet PR from dependabot on these docker images so I'm sure to maintain my workflow up-to-date.

What do you think about that guys ❔ Let me know 🙏

[2019-05-17 08:26] BPScott commented on #433
Hi folks,

Popping in to say this my team would find this feature really useful too. For context:

I work on the design-system team at my company and we publish a public npm package that is then consumed by the various app repos that make up our web presence. Ideally we want our consumers to be notified of our releases ASAP as we want people to keep up to date. For our biggest consumers we even ta

[2019-05-17 12:30] greysteil commented on #467
I'm keen on this, but I don't want Dependabot to end up sprawling out with hundreds of different update config options. I need to think on it.

[2019-05-17 22:10] alex opened #468 "Downgrade cargo package when latest version is yanked"
In a Rust project, I merged a PR from dependabot to upgrade `bitflags` to 1.0.5. Later, the 1.0.5 release was yanked. I think in this case it'd be appropriate for dependabot to _lower_ the version to 1.0.4, the otherwise latest version. I think this behavior makes sense because if I run `cargo update` locally, I get a downgrade. You can see this with the following repository: https://github.com/al

[2019-05-17 23:41] adriens commented on #467
Thanks for feedback. Still, that would be great. 😸

[2019-05-18 12:27] greysteil commented on #468
I'd really love to do this, but it's hard! Dependabot has a bunch of logic that prevents it from accidentally creating downgrade PRs, and that gets in the way here. I'm going to leave this open because this is definitely possible (especially given how the crates.io index works), but I can't look at it straight away.

[2019-05-18 22:03] mockdeep opened #469 "`@dependabot rebase all` command"
I have a bunch of dependabot PRs open right now that all failed the build due to an issue in the CI setup. It would be nice to be able to trigger all of the PRs to rebase, rather than needing to go through them all one by one.

Another thought is that maybe it would be good to have a setting for only failing PRs to automatically rebase when there is an update to the target branch.

[2019-05-18 22:05] mockdeep commented on #230
[Opened a new issue](https://github.com/dependabot/feedback/issues/469), but maybe the issues with CI flooding could be solved by a one-off `@dependabot rebase all` command rather than having it run every single time.

[2019-05-19 11:42] greysteil commented on #469
Thanks for the suggestion. I think this would have to belong in the dashboard, and I don't think we'd want to give it the prominence it would have if we added it there. We try to keep Dependabot super simple, and I think this is going to have to be a casualty of that.

Thanks for the suggestion all the same - really appreciate it.

[2019-05-19 11:42] #469 closed

[2019-05-19 11:44] greysteil commented on #230
`@dependabot rebase all` wouldn't fix this one, because the PRs need to be merged one-by-one (but thatnks for the suggestion @mockdeep).

[2019-05-20 07:55] hazcod opened #470 "gcr.io authentication"
I am currently using the Container Registry on google cloud.
This allows me to create service accounts for access to this registry, but it is only possible to authenticate using either:
- a P12 file
- a JSON file

So no password authentication. Any ideas?

[2019-05-20 10:24] greysteil commented on #470
I *think* the instructions [here](https://github.com/dependabot/feedback/issues/279#issuecomment-443182680) should get this working. Let me know if they don't, though...

[2019-05-20 11:13] hazcod commented on #470
This works, thank you @greysteil !
Can this be added into some kind of README/note?

[2019-05-20 11:13] #470 closed

[2019-05-20 11:14] greysteil commented on #470
Yeah! @feelepxyz can you add something to the frontend?

[2019-05-20 20:32] rdunlop opened #471 "Live updates sometimes don't pick up new gems?"
the rubygems package `ffi` version 1.11.0 got yanked today, and 1.11.1 has been released.

https://rubygems.org/gems/ffi/versions

I know this because some of my builds are failing.

Strangely, my project (tablexi/badges) is set for "Live" updates...but doesn't have a new PR open to update from 1.11.0 to 1.11.1? Why not?

[2019-05-20 20:48] greysteil commented on #471
Good question. Come to think of it, I missed some Rubygems updates today. Let me take a look. We haven’t changed our webhook logic...

[2019-05-20 23:19] greysteil commented on #471
FYI, I've added some logging on our side to determine whether Rubygems has stopped sending webhooks. I have a suspicion that that is the issue.

[2019-05-21 01:46] connorshea commented on #471
I was going to open an issue about dependabot giving me ffi 1.11.0, which caused problems when it was yanked, but it looks like this issue already covers it.

Should Dependabot run an 'emergency' update across all repositories when a gem is yanked like this, in the same way it does for major security updates?

[2019-05-21 05:55] mockdeep opened #472 "Feature Request: gradual upgrades"
It would be nice if we could somehow specify how far a jump in versions is acceptable. Maybe this is more a problem in projects that are just starting out with Dependabot, but it would be helpful if rather than jumping 2-3 major versions, we could first have a PR to upgrade to the latest minor version, and once that is passing and merged, another to upgrade to the next major version, and so forth.

[2019-05-21 08:52] greysteil commented on #244
PR is merged and Dependabot is now received yanked webhooks. We'll close any open PRs when we receive them. 🎉

[2019-05-21 08:52] #244 closed

[2019-05-21 09:37] greysteil commented on #471
Have confirmed that Rubygems aren't sending webhooks for gem pushes. Looks like the culprit is [here](https://github.com/rubygems/rubygems.org/commit/ec1b2b100e850107b740c435fae52edd5b94cc2c#r33616117).

On handling yanked versions more generally - do one of you want to open a separate issue? Dependabot's current logic (brand new as of this morning) is to ask all PRs updating to a yanked version t

[2019-05-21 09:38] #471 closed

[2019-05-21 11:32] feelepxyz commented on #470
Yes adding a help note when adding docker registries on the dashboard!

[2019-05-21 14:13] greysteil commented on #471
Now fixed in Rubygems 🎉

[2019-05-21 14:32] rdunlop commented on #471
Thanks @greysteil

[2019-05-21 15:00] connorshea opened #473 "Mass update when a Ruby gem is yanked"
A few days ago dependabot [updated ffi in my repo to 1.11.0](https://github.com/connorshea/VideoGameList/pull/444). Yesterday, 1.11.0 was yanked. I only noticed this after trying to run a bundle install locally, which failed.

Should Dependabot run an 'emergency' update across all repositories when a gem is yanked like this, in the same way it does for major security updates?

See also #471.

[2019-05-21 15:04] connorshea commented on #473
In this case, 1.11.0 was yanked and 1.11.1 was released, I’m not sure if it’d be a common occurrence that a version is yanked but no new version is immediately released, but maybe worth considering a downgrade strategy?

I imagine dependabot isn’t really built with downgrading in mind, though, so probably not worth the trouble :)

[2019-05-21 19:46] paul opened #474 "Support bundler package cache"
Our app uses the `bundle package` feature to cache the gem files in the repo, which speeds up CI and deploys (since it doesn't have to download any files from rubygems or elsewhere).

It looks like the PRs that dependabot open only update the Gemfile and Gemfile.lock, but don't add/remove the changed .gem files from `./vendor/cache`. Could support for this be added?

https://bundler.io/v1.6/bundle

[2019-05-21 20:52] palfrey commented on #224
I'm using Conda requirement files (https://github.com/palfrey/waveform-necklace/blob/master/conda-requirements.txt) and hitting issues (see https://github.com/palfrey/waveform-necklace/issues/19)

[2019-05-23 11:47] adamralph commented on #259
Would it be better to spend energy on switching to the new csproj rather than getting issues like this fixed?

[2019-05-23 12:05] caiofbpa commented on #259
Everyone using Xamarin is stuck with Mono-like csproj for at least one project. It's not really my choice.

[2019-05-23 12:46] pascalberger commented on #259
I can't speak about what priorities Dependabot has, what resources are available and how much effort it is to fix this. But to say, for me this is not a critical issue. I can live with current restrictions for cases where I cannot switch to the new csproj format. Although there aren't many on my side and situation might be different for other people.

[2019-05-23 16:14] mmstick commented on #417
Until this is done, Dependabot won't be useful for any of our Rust projects at System76. If a single project has:

- 5-10 crate dependency updates
- opening 5-10 merge request for dozens of Rust projects
- and each Rust project is backed by CI/CD scripts that run 4+ package builds per merge request
- and each individual package build takes between 5mins to an hour to build...

We'd never be able t

[2019-05-23 17:08] AndrewLeedham commented on #6
Is it possible specify the style of the badge, like https://badgen.net or https://shields.io. I tried `&style=flat-square`, but that doesn't seem to be supported.

[2019-05-23 18:52] cabello opened #475 "Congratulations!"
https://dependabot.com/blog/hello-github/

You all have done amazing work so far, excited for what's coming next! 🎉

[2019-05-23 19:16] lucasmazza opened #476 "No idea how to fix "Automerging is not enabled for this account""
While setting up the `.dependabot/config.yml` for one of our repos, I attempted to enable the `automerged_updates` but we receive the automatic issue mentioning that `Automerging is not enabled for this account`, while the config validator from https://dependabot.com/docs/config-file/validator/ says everything is fine. Our config looks something like this:

[code]

Googling around for this message

[2019-05-23 21:30] ottlinger commented on #22
@greysteil I just read that Github announced you were bought by them .... is that the surprise that might allow a readonly integration for ASF :-) ?

German only:
https://www.heise.de/newsticker/meldung/GitHub-stellt-Funktionen-fuer-Sicherheit-und-Open-Source-vor-4430470.html

[2019-05-23 22:06] alanvardy commented on #476
Encountering same issue (this is a non-critical account with good code coverage)

[code]

[2019-05-23 23:10] alejagapatrick opened #477 "defendabot"

[2019-05-24 01:47] fisker opened #478 "Feature request: unpublish check"
I like the idea of Renovate's unpublish-safe check, we should implement this feature.

[2019-05-24 03:45] maschwenk commented on #104
While I think we should allow semver to do its job, because dependabot doesn't include the changelog of the sub-dependencies, I actually have to go reach out and see if the sub-dependencies have any sneaky breaking changes.

All it would take is some configuration option for `--conservative`, which I use all the time on my own projects.

[2019-05-24 04:35] flcdrg opened #479 "NuGet PackageReference version ranges"
PackageReference supports [version ranges](https://docs.microsoft.com/en-us/nuget/reference/package-versioning#version-ranges-and-wildcards), but after adopting this, I was surprised that Dependabot still tried to suggest upgrading to a new version outside of the range I'd specified.

Would you consider adding support for this?

[2019-05-24 04:42] flcdrg commented on #479
Actually, I think this is working - just had a PR title that confused me

[2019-05-24 04:42] #479 closed

[2019-05-24 08:39] r-plus opened #480 "Respect bundler configuration."
We are using gem from github latest commit instead of version like this Gemfile.

### Gemfile

[code]

### Gemfile.lock

[code]

and we are using https protocol instead of git protocol by this bundler configuration.

### .bundle/config

[code]

In that repository, dependabot create pull request for update github-changelog-generator gem that changed to git protocol from https protocol like below di

[2019-05-24 09:17] dkocher opened #481 "Auto closing of pull requests not merged"
I am giving dependabot a try but the bot seems to close pull requests opened before I had a chance to review them.

See https://github.com/iterate-ch/cyberduck/pulls?q=is%3Apr+is%3Aclosed

Also this happens as my own users instead of the bot user. See for example https://github.com/iterate-ch/cyberduck/pull/37

[2019-05-24 09:24] feelepxyz commented on #477
@alejagapatrick new name idea? 🤠

[2019-05-24 09:24] #477 closed

[2019-05-24 13:50] greysteil commented on #475
This is so kind, thanks @cabello.

We couldn't be more excited about what's coming next. There's so much good we can do with Dependabot at GitHub - it's going to be amazing.

We're also deeply indebted to everyone who has given us feedback, reported bugs, or made contributions to this repo. Thanks you. Without you, Dependabot would be rubbish(!).

[2019-05-24 13:51] greysteil commented on #481
Do you have any other automation set up on that repo? Dependabot doesn't have access to your user account, so can't close PRs in your name - perhaps there's something else at work here, that isn't Dependabot?

[2019-05-24 13:51] #481 closed

[2019-05-24 13:54] greysteil commented on #476
Sorry about that! We've done two things to fix this:
1) Remove automerging from the docs (it's currently behind a feature switch, so shouldn't be documented as a first class feature)
2) Improved the error message so it asks you to contact support

If you'd like me to enable automerging on your account, drop me an email at support@dependabot.com with the name of the account.

(We're hoping to make

[2019-05-24 13:54] #476 closed

[2019-05-24 20:55] Mcat12 commented on #86
@hmarr That bot does not seem to solve the issue.

For clarification, this issue is about the "Restrict who can push to matching branches" option, which only allows the specified users or teams to push to the branch. What your Action solves for is when "Require pull request reviews before merging" is enabled, which is not the point of this issue.

[2019-05-25 14:34] greysteil commented on #259
Sorry for the slow progress on this one - it's not lack of willing. The GitHub acquisition announced on Thursday has been in the works for the last couple of months, so I haven't had as much time for issues like this as I would like.

I'm going to take a look at this now and see if I can get it done.

[2019-05-25 14:38] caiofbpa commented on #259
@greysteil no problem at all! Congratulations on the acquisition, this is wonderful news for us, doubling the team means faster improvements and expanded support for other languages. Thanks for your solicitude and keep up the good work! If you need any more info, just ask. 😄 👏

[2019-05-25 18:47] greysteil commented on #6
OK, so the update here is that Dependabot has been acquired by GitHub! As a result, we're going to be working with the dependency graph team to integrate a view of how up-to-date you are there, add details of any dependencies you're ignoring, etc. It's a big project! But given that full integration with GitHub is the way that we're going I'm going to close this.

@AndrewLeedham that's not configur

[2019-05-25 18:47] #6 closed

[2019-05-25 22:06] greysteil commented on #22
Yes! I was hoping that now Dependabot is owned by GitHub you'd be happier to use it with write access. What do you reckon? The medium term trajectory for Dependabot is now for it to be fully integrated with GitHub, and configured from within GitHub.

[2019-05-26 08:23] adriens commented on #6
Congrats @greysteil  !!! 👏 👏 👏  Your product trully rocks, it was just a matter of time 🙏

[2019-05-26 09:37] AndrewLeedham commented on #6
Thanks @greysteil. The flat square style, perhaps passing subdomain forward would work with badgen?

[2019-05-26 17:41] greysteil commented on #480
Oh, interesting. This is kind of tricky as I'm guessing you don't commit your `.bundle/config`, so Dependabot needs to reverse engineer it.

The official Bundler recommendation on this one is to include `git_source(:github) { |name| "https://github.com/#{name}.git" }` near the top of your Gemfile (there's discussion [here](https://github.com/bundler/bundler/issues/4978)). Would you be up for doing

[2019-05-26 17:41] #480 closed

[2019-05-26 23:17] pwim commented on #104
I don't mind if subdependencies are updated, but this should be made explicit in the PR, ideally with listing the relevant changelog etc.

[2019-05-27 01:35] r-plus commented on #480
Thanks for your response and nice suggestion.
I'll use it for this instead of `.bundle/config`.

[2019-05-27 06:04] haf commented on #363
Since paket is a more mature way of handling dependencies for .net projects, having dependabot read `paket.lock` from the root would be really great!

[2019-05-27 08:13] weiji14 opened #482 "Problem with dependabot accessing public github repositories to update Pipfile"
Hi there,

I've been getting this weird permissions issue a little over a month now (since mid April?) on pipenv VCS dependencies in my `Pipfile` which looks something like below:

[code]
It's started showing up in https://github.com/weiji14/deepbedmap/issues/137 asking for me to:

which I couldn't quite understand as the [`pygmt`](https://github.com/GenericMappingTools/pygmt) package in question

[2019-05-27 08:51] greysteil commented on #104
Thanks for the feedback. As you can imagine, we're a little snowed under with requests right now!

The reason Dependabot doesn't use `--conservative` is to ensure sub-dependencies are still regularly updated, as by default it won't open PRs for them directly. For folks who have enabled sub-dependency updates I think `--conservative` would be better, though, and we can look at making that configura

[2019-05-27 10:02] lusoalex opened #483 "no longer updatable"
Dear,
I am playing with .dependabot/config.yml to give some sample to my organization.

I first setup a java:maven project as below which successfuly end up to a PR.

[code]

Then I have added a npm folder as below:

[code]

Which result in creating a new PR for my npmjs folder but also closed the previous PR (for java) with as comment:

Do you know if there is any bug related to a multiple folder

[2019-05-27 12:51] ashkulz opened #484 "incorrect link "view pull requests" in settings"
The link "view pull requests" in the settings page (as shown below) is incorrect.

![Screenshot at 2019-05-27 18-19-16](https://user-images.githubusercontent.com/854352/58420841-fe8e1c80-80ab-11e9-94d8-577dfc7efbdd.png)

It should go to `REPO/pulls/app%2Fdependabot-preview` instead of `REPO/pulls/app%2Fdependabot`.

I do understand this is because of the recent change, just thought to let you know

[2019-05-27 15:18] jsmiith commented on #6
Congrats!!!

[2019-05-27 17:33] greysteil commented on #484
Ooh, thanks for the heads up. @feelepxyz can you take a look?

[2019-05-28 07:47] miyajan commented on #215
Are there any updates on this issue? We hope that `go mod tidy` is executed for Go modules update.

[2019-05-28 09:21] feelepxyz commented on #484
Deploying a fix now! Thanks for reporting @ashkulz 🙌

[2019-05-28 09:21] #484 closed

[2019-05-28 12:44] mario-paniccia commented on #5
This feature would be so important. For every PR we spin up infrastructure on the cloud where we test the PR against. So for us the one PR per version update is an overkill

[2019-05-28 13:18] tapsboy commented on #5
I hope this feature is a top priority post acquisition. Renovatebot does this well.

[2019-05-28 13:29] hmarr commented on #215
We've been busy with the acquisition recently so haven't made progress on this yet. I'm hoping we'll be able to build out better Go support over the next few months though.

[2019-05-28 15:10] greysteil commented on #5
This is still a priority, but we have a *lot* on our plate right now, and our ethos has always been to focus on doing each thing well before moving on to the next. We're currently working to scale Dependabot up to work on 100m repos for security fixes, and ensure our language support is 💯.

That said, I'd really love this to be fully implemented before we integrate `dependabot-preview` fully into

[2019-05-28 16:04] jywarren commented on #428
Ah, we just realized this was a serious issue for us too, although 🤞 nothing's happened yet. Thanks for spelling this out and for the response @greysteil -- eager to have some finer grained control here as well.

Congrats on the news, btw!

[2019-05-28 16:05] jywarren commented on #428
Also linking to https://github.com/dependabot/feedback/issues/193, which is distinct but related. 👍

[2019-05-28 20:43] montrealist opened #485 "Timeline for availability on Github Enterprise?"
Hi - will Dependabot be available on Github Enterprise and if yes what is the timeline?

[2019-05-28 22:41] cvitan commented on #413
I'm experiencing this issue as well, could something have reintroduced it?

[2019-05-28 23:04] greysteil commented on #413
@cvitan we haven't deployed anything that would regress this. Are you using `pypi.fury.io/<username>` as the Index URL and your secret token as the credential?

[2019-05-29 04:09] jonathanjouty opened #486 "Elm bump does not automatically include indirect dependencies"
I have a PR created by Dependabot where:

However building fails with Elm 0.19 as the indirect dependencies have not been touched.

[code]

[2019-05-29 05:21] greysteil commented on #428
I've added this to the list of snags I want to take up with GitHub now we're internal.

[2019-05-29 06:36] whiskeysierra opened #487 "New dependency version for Jackson is not detected"
https://github.com/whiskeysierra/jackson-module-unknown-property/network/alert/pom.xml/com.fasterxml.jackson.core:jackson-databind/open
https://github.com/whiskeysierra/jackson-module-unknown-property/blob/master/pom.xml#L48

[2019-05-29 06:55] greysteil commented on #485
We're definitely planning to support GitHub Enterprise, but I don't know timelines yet. I'll report back here when I do.

[2019-05-29 12:32] thomasdarde opened #488 "Cannot delete my account"
Hello,

Where is the link to delete an account ? (not a project)

Thank you

[2019-05-29 12:35] greysteil commented on #488
Hi Thomas,

You can uninstall Dependabot from your GitHub settings. If you’d like us to delete all data on the Dependabot side we can do that for you, too, but uninstall has to be done from within GitHub.

Grey

[2019-05-29 12:36] thomasdarde commented on #488
When will this be accessible via the interface?

[2019-05-29 12:38] greysteil commented on #488
We'd need [this endpoint](https://developer.github.com/v3/apps/#delete-an-installation) to be accessible by apps, which it isn't, to make deleting an account possible from within the Dependabot UI. Since that UI is going away anyway (as we fully integrate into GitHub), and this is the first request we've ever received to delete an account, we'll probably continue to process manually during the tra

[2019-05-29 12:49] thomasdarde commented on #488
Clear, thank you for the update

[2019-05-29 13:14] #488 closed

[2019-05-29 14:31] jonasfj commented on #430
I work on `pub.dev` (package manager for Dart / Flutter), and at the moment we don't any registry of vulnerable packages, but we do hope to develop a vulnerability reporting process and a manner to flag packages. When this happens, we'll probably also expose this data through an API.

The work can be tracked in https://github.com/dart-lang/pub-dev/issues/2160.

If you get around to working on this

[2019-05-29 14:35] greysteil commented on #430
Awesome, thanks @jonasfj. We'd love to have Dart / Flutter support, and I'm happy to work with anyone who wants to work on it in [Dependabot Core](https://github.com/dependabot/dependabot-core). The Dependabot team is a little swamped with new volume right now, but we're working as hard as we can 😄

[2019-05-29 15:39] cvitan commented on #413
@greysteil I am indeed doing that, https://pypi.fury.io/myusername as the Index URL and a deploy token from Gemfury as the credential. I just tried generating a new token and regenerating the config, but got the same result:

[code]

[2019-05-29 15:43] greysteil commented on #413
OK, let me take a look. Can you email me the full name of the repo, please?

[2019-05-29 15:47] cvitan commented on #413
Sent it to your support email. Thanks!

[2019-05-29 16:56] rdunlop opened #489 "Access issue when resolving terraform dependencies on repos with ?ref arguments"
We are monitoring the terraform configuration files on one of our private repositories.

In one of our `.tf` files, we have:
[code]

Now we're getting dependabot issues opened regularly like:
[code]

This is unexpected, since the `terraform_modules` project is public, and there's no reason we would need to grant access to it (nor can we).

Expected behavior: it resolves the issue, and fetches the

[2019-05-29 19:03] danielpowell4 opened #490 "Feature Request: merge into non-target branch"
Hello! First off, congrats on joining GitHub. 🎊

It seems like this (Issues) is where you want feedback and feature requests. If this is not the case, I apologize.

My team likes to test out all upgrades in our nearly-production, staging environment before they go out. As such I find myself often checking out the dependabot branches to merge then into staging

[code]

I was wondering if adding a P

[2019-05-29 23:13] greysteil commented on #489
Should be fixed by https://github.com/dependabot/dependabot-core/commit/67b531950b66f25d531f4faeff76c7de7114ff1f - thanks for reporting!

[2019-05-29 23:13] #489 closed

[2019-05-30 07:33] greysteil commented on #490
Thanks for the feedback @danielpowell4. I like the idea, but think maybe a different automation tool might be the right thing here. I'll keep thinking on it.

[2019-05-30 08:39] greysteil commented on #413
I *think* I've fixed this, and that the issue was that our new proxy service requires the index URL to be specified with a trailing slash. Just waiting to confirm.

[2019-05-30 08:58] greysteil commented on #413
Ah, no, it's not that, but I've found the issue. @cvitan this is an issue on Dependabot's side which I'll get fixed in the next hour.

[2019-05-30 09:49] greysteil commented on #413
Fixed by https://github.com/dependabot/dependabot-core/commit/1d06827c14a71c3703ea95219f795522f09ae6dc, which I'm deploying now. Thanks for reporting!

[2019-05-30 14:24] jknipp commented on #474
We use `bundle package` as well. Without support for this feature, we must manually intervene before merging the PR's opened by dependabot.

[2019-05-30 15:54] cvitan commented on #413
Confirmed that it works now, thank you!

[2019-05-30 18:15] danielpowell4 commented on #490
@greysteil thanks for thinking about it!

If there is something else I should be looking at--maybe a custom GitHub Action (?)--would be interested to hear what you think is best.

[2019-05-30 18:16] greysteil commented on #490
It feels like something that mergify should be all over...

[2019-05-30 20:48] racevedoo commented on #215
`go mod tidy` would be great!

[2019-05-31 10:14] Hsn723 opened #491 "Feature Request: select Project"
The GitHub PR Defaults settings currently don't allow the selection of a default Project to attach the PR to. Being able to do so would be useful for our Kanban automation.

[2019-05-31 14:37] xt0rted opened #492 "Support for Directory.Build.props files in .NET projects"
`Directory.Build.props` files can be used to add dependencies that all projects in the repo should have, or all projects under a specific folder such as `/test` where each project references the same testing packages for example.

Currently these files aren't being updated like my `.csproj` files are. They're xml files just like `.csproj` and use the same `ProjectReference` syntax.

An example of

[2019-05-31 14:53] xt0rted commented on #492
After taking a look at the nuget code it turns out these files are supported. My issue looks to be that I added Dependabot before creating my `Directory.Build.props` files and my unit test project so they weren't being picked up and checked. Removing the .net language and re-adding it picked up all of the newer files (multiple missing `.csproj` files, multiple `DirectoryBuild.props`, and the `glob

[2019-05-31 15:16] greysteil commented on #492
Ah cool, that makes sense. Dependabot would have picked up the new files the next time it ran, too.

Is there anything left to do here, or can this be closed?

[2019-05-31 15:44] JacobEvelyn opened #493 "No Dependabot PRs made for recent GitHub security alerts"
Hi there! We recently got a few of GitHub security alerts and noticed that Dependabot hasn't made PRs for them. See: https://github.com/panorama-ed/nds/network/alerts and https://github.com/panorama-ed/rainbow-backend/network/alerts

I also noticed that the security PR that Dependabot _did_ make in the `nds` repo wasn't tagged with `security` as usual.

Is this behavior normal? I feel like I might

[2019-05-31 16:00] xt0rted commented on #492
I think everything is working as expected now.

[2019-05-31 16:00] #492 closed

[2019-05-31 17:27] ronaldbarendse commented on #259
There's more at play here when using the old `.csproj` format with a `packages.config` file, besides updating the version in `packages.config`:

* Existing references must be updated
* New references must be added (if the new version includes a new assembly/`.dll`) or removed
* Build targets/properties must be updated
* Uninstall/install (XDT) config transforms must be handled
* Content must be ad

[2019-06-01 01:23] Naveg commented on #190
would love this for @alloytech :)

[2019-06-01 09:35] greysteil commented on #190
Done!

[2019-06-01 11:54] JacobEvelyn commented on #493
Thanks for the context, @greysteil! That explains the label change. Do you know if there's a way of seeing all security PRs across all repos now that they don't have the `security` label? We found it really useful to be able to go to github.com/pulls and find all security Dependabot PRs across all repos to prioritize those and make sure we didn't miss any.

Re: the lack of a PR to fix the security

[2019-06-01 12:01] greysteil commented on #493
Ah cool. If you filter for `author:app/dependabot` that should get you all the PRs created by the automated security fixes app.

[2019-06-01 12:01] #493 closed

[2019-06-01 12:09] #424 closed

[2019-06-01 12:10] greysteil commented on #424
Security updates are now minimal, which fixes the underlying issue here 🎉

[2019-06-01 12:12] greysteil commented on #371
Closing as stale, but ping me if there are any changes Dependabot can make to help here.

[2019-06-01 12:12] #371 closed

[2019-06-01 12:15] greysteil commented on #155
Closing as stale now that Dependabot is part of GitHub and automated security fixes will soon be on for everyone by default. I'll keep this in mind as we continue to integrate Dependabot, though!

[2019-06-01 12:15] #155 closed

[2019-06-01 12:16] greysteil commented on #88
Closing as this is now the responsibility of GitHub Security Alerts (and we're working with that team to keep improving them). 🙂

[2019-06-01 12:16] #88 closed

[2019-06-01 12:18] #91 closed

[2019-06-01 12:20] greysteil commented on #354
Since the dashboard is now on borrowed time (we'll be moving configuration to be directly within GitHub) I'm closing this.

[2019-06-01 12:20] #354 closed

[2019-06-01 12:22] greysteil commented on #420
@feelepxyz - looks like you shipped this back on 25th April so I'm closing.

@RandomByte - thanks for the feedback!

[2019-06-01 12:22] #420 closed

[2019-06-01 12:23] greysteil commented on #491
The GitHub API doesn't support this yet, but I can chat to the team about getting that changed.

I'm also going to close this in favour of https://github.com/dependabot/feedback/issues/285, which has more context.

[2019-06-01 12:23] #491 closed

[2019-06-01 14:48] Hsn723 commented on #285
While there isn't an API to tie a PR to a Project in one call, it should be possible to do this by first creating a new PR using the [PR API](https://developer.github.com/v3/pulls/#create-a-pull-request), then using the PR ID (actually an Issue ID) returned by the API call you can create a Project Card using the [Card API](https://developer.github.com/v3/projects/cards/#create-a-project-card). In

[2019-06-01 14:50] greysteil commented on #285
How do you know what column to put the card in?

[2019-06-01 16:19] Hsn723 commented on #285
Ah, right I forgot about that. In our case, all of our Kanban by default use "To Do", "Doing", "Done" columns so we simply retrieve all the columns using the [Project column API](https://developer.github.com/v3/projects/columns/#list-project-columns) and filter by name...

It may not be elegant, but you would be able to do the same by having users select the Project + Project Column they want Depe

[2019-06-01 16:56] NARKOZ commented on #485
@greysteil what about the availability in private repos of an organization account?

[2019-06-01 16:59] greysteil commented on #485
That should already be working, unless I’m missing something about your question?

[2019-06-01 17:33] NARKOZ commented on #485
We @digitaz don't see dependabot opening pull requests in our repos. Is there anything that we should do to enable it? (we have [config files](https://dependabot.com/docs/config-file/) already)

[2019-06-01 17:43] greysteil commented on #485
Have you installed Dependabot Preview on those repos?

[2019-06-01 21:18] dotconnor opened #494 "Differing PR names."
I currently use Dependabot on a lot of my projects, however, I have run into some inconsistencies. PR names while consistent for a project different between projects. Some of them include a conventional commit style PR name, e.g. [`chore(deps): bump file-type from 11.0.0 to 11.1.0`](https://github.com/a1motion/reware/pull/50), while others just have a basic PR name: [`Bump tslint from 5.16.0 to 5.

[2019-06-02 00:28] ozbillwang commented on #439
June now. Any updates?

[2019-06-02 05:14] JacobEvelyn commented on #493
Thanks @greysteil! Am I correct that that filter will start giving us non-security PRs once all of the "Dependabot Preview" functionality is in "Dependabot"?

[2019-06-02 08:22] donmahallem opened #495 "Honoring changed target branch on rebase"
You are able to change the target branch for pull requests on Github and when dependabot rebases the PR it defaults back to the original branch. It would be great if dependabot honors the changed target branch for rebase etc. as it would come in usefull for major updates in dependencies. For example the recent angular 8 launch caused 10+ dependencies to be updated for a project all at once with br

[2019-06-02 10:58] greysteil commented on #493
Yep! We’ll figure out another way to get a view of any security PRs at that point

[2019-06-02 13:15] greysteil commented on #439
I couldn't write about this previously because we were in acquisition talks, but GitHub's acquisition of Dependabot changes things here.

We're now working on integrating Dependabot directly into GitHub, and won't be adding support for Bitbucket into dependabot.com. We will, however, continue to accept pull requests and maintain Dependabot Core to add Bitbucket support and extend its GitLab suppor

[2019-06-02 13:15] #439 closed

[2019-06-02 13:18] greysteil commented on #494
The logic on this is quite complicated, and is [here](https://github.com/dependabot/dependabot-core/blob/master/common/lib/dependabot/pull_request_creator/message_builder.rb#L171-L184). Basically, Dependabot looks at your existing commits to try to figure out if you're using semantic commits, and follows that approach if you are. If you're not, it uses a most human-readable format.

There isn't cu

[2019-06-02 13:18] #494 closed

[2019-06-02 14:05] greysteil commented on #495
Thanks for this. I'm 100% 👍on it.

This is a bit of a niche flow, but Dependabot's domain is small, and it should be able to do its job basically perfectly. It's unexpected that commenting `@dependabot rebase` would ever change a pull request's target branch, and we should fix that.

This change isn't totally trivial, however - Dependabot doesn't currently track each pull request's target branch,

[2019-06-02 18:56] donmahallem commented on #495
Thanks a lot for the response. I totally see that it's niche and expected the hurdles you mentioned so no hurry. As it can be done manually easily it's more of a quality of life improvement.

Just as a side note you might want to consider too `@dependabot recreate` and how it responds to the target branch change. Imho it should target the default branch after recreating but this is up to your eval

[2019-06-02 22:17] ozbillwang commented on #439
Understood, thanks for updating

[2019-06-03 06:54] captn3m0 opened #496 "bulk_create fails with 404"
On trying to add a lot of repos (100+), Dependabot bulk_create API returns "repo not found" for all repos. The response does have a few valid errors ("Gemfile missing" etc, but the valid repos are ignored as well.

[code]

[2019-06-03 08:06] HendrikPetertje opened #497 "Feature-requet: PGP signed commits and verified merges from Dependabot"
I work in a team using dependabot where all team members are required to sign their commits with PGP keys. This is to make sure (to some degree) that everything done is signed and things altered by people or bots with bad intentions stick out.

Dependabot however, doesn't sign it's commits, nor are the squashed commits verified Github merges. Would it be possible to make this possible?

example co

[2019-06-03 08:08] greysteil commented on #497
Hmmm, Dependabot *does* sign its commits - where are you seeing that they're not? And are you finding that squash merges are signed for other users? I thought it was the case that squash merges created in the GitHub UI are never signed (which is an issue unrelated to Dependabot).

[2019-06-03 08:22] j0k3r opened #498 "Dependabot encountered an unknown error."
While trying to bump deps, I got the message:

I'm sure you were notified about that but I would like to be able to track the progress if any.

Dependabot url: https://app.dependabot.com/accounts/wallabag/repos/9193949
Repo url: https://github.com/wallabag/wallabag

[2019-06-03 13:09] AdamVig commented on #443
I second this feature request. I need Dependabot to use a scope of `fix` instead of `chore`.

[2019-06-03 21:06] JacobEvelyn commented on #493
Great, thanks!

[2019-06-03 23:17] greysteil commented on #496
Was the request made from within the Dependabot dashboard, or were you hitting the endpoint directly? Dependabot checks that the token that was used in that API request has access to the repos you're attempting to create update configs for. It gets those repos by making a GraphQL request to GitHub using the token that it has been provided with.

[2019-06-04 06:32] captn3m0 commented on #496
Made using Dashboard. It works with a few repos selected.

[2019-06-04 07:04] leastprivilege opened #499 "Can't login to configure"
I added more repos, tried to configure - but I always get this:

<img width="1999" alt="Screenshot 2019-06-04 09 03 36" src="https://user-images.githubusercontent.com/1454075/58858431-cd16e180-86a7-11e9-9402-909a39e05d32.png">

[2019-06-04 08:01] greysteil commented on #499
@feelepxyz can you take a look?

[2019-06-04 08:23] greysteil commented on #496
That's really weird - I wonder if this is a bug on the GitHub side. We have some logic on our backend to make multiple requests to GitHub in the case where there are over 100 repos being added, but that logic looks perfectly sound to me...

I've tried digging into this and can't reproduce it, and I can't justify spending much more time on it since the dashboard is slated for removal once Dependabo

[2019-06-04 08:47] wesharehoodies commented on #362
+1

[2019-06-04 09:17] feelepxyz commented on #499
@leastprivilege oh looks like the installation has somehow been deleted, could you try deleting and revoking Dependabot Preview from github and trying to connect again?
- Revoke `Dependabot Preview`: https://github.com/settings/apps/authorizations
- Uninstall Dependabot Preview: https://github.com/settings/installations

If you then visit the dashboard it should ask you to authorise and then insta

[2019-06-04 09:41] greysteil commented on #498
Sorry about that one! We're experiencing very high volumes since the GitHub announcement, so I'm not as on top of errors as usual, but I'll get to this one! I'm working through all the new edge cases we've seen methodically this week and next.

[2019-06-04 10:27] greysteil commented on #487
I'm not sure what happened here, and can't replicate locally (Dependabot happily finds the update on my machine). If it recurs can you open and issue and *not* do the update yourself, so I can step the whole way through?

[2019-06-04 10:27] #487 closed

[2019-06-04 10:48] leastprivilege commented on #499
That seems to work - thanks!

[2019-06-04 10:48] #499 closed

[2019-06-04 12:57] yoshuawuyts commented on #155
@greysteil much appreciated!

[2019-06-04 16:05] dmitry-timofeev opened #500 "Feature: Update Maven Archetypes"
Hi, thanks for the awesome bot!

It would be great if dependabot was able to update pom.xml in Maven archetypes. A Maven archetype works as a template for new projects (e.g., a Spring Boot web application) and contains a template pom.xml, which usually declares some dependencies. As this pom.xml is a template for _new_ projects, it is not a part of a multi-module build definition. Currently depend

[2019-06-04 18:14] Menoure12 opened #501 "هكر قاعوششا"

[2019-06-04 18:20] #501 closed

[2019-06-04 18:23] Menoure12 commented on #501
3 سنوات سجن لهاكر[ **الهاكر** **قاعوششا** **الجزائر**  من ولايه تيارت قطع الإنترنت عن بلد بالكامل ... قالت الشرطة الألمانية إن العثور على **### الهاكر قاعوششا** بتنفيذه أكبر عملية تسلل وتسريب ... هاكر  `[https://djezzy2019.yolasite.com/contact-tiaret-2019.php]
![8ede92e7d28a2e93038418a3f1f32ca3cc68d9fd](https://user-images.githubusercontent.com/51378815/58903687-ecd8f480-86fd-11e9-9524-d6f43684b7d

[2019-06-04 18:25] Menoure12 commented on #501
العربية: اكبر قراصنه في الجزائر العاصمه من ولايه تيارت بلدية نرجو منكم على هذا الهاكر قاعوششا انه كربوطباق منور خطير جدا ويخترق كل شيء هذا الهاكر قاعوششا بالنسبه للدوله الجزائريه انه يخترق منها بعض المواقع وبعد الحسابات حسبان مواقع الاوروبيه انه خاطر جدا خطير هذا الهاكر قاعوششا يدعياختراق كل شيءكلشيءيخترق هذا الهاكر قاعوششا النور هكر محترف بلديه مغيله قاعوششا من المقصود انتهاكات القانون الفيدرالي

[2019-06-05 03:10] amio opened #502 "Different PR titles"
I see two different title format, from same @dependabot-preview, just curious, what caused the difference?

![image](https://user-images.githubusercontent.com/215282/58927707-3bc86d80-8782-11e9-993f-638d992cd0de.png)

- https://github.com/amio/nls/pull/46
- https://github.com/amio/npm-why/pull/45

[2019-06-05 04:12] ryan-ccn commented on #475
This app is absolutely wonderful :+1: :+1: :+1:

[2019-06-05 05:06] stefanahman opened #503 "Code Climate encountered an error attempting to analyze this pull request."
Hello!

This morning we encountered the following error message:

![image](https://user-images.githubusercontent.com/1053201/58931481-25111f00-8760-11e9-81f3-3f83e612ebae.png)

Detail page:

![image](https://user-images.githubusercontent.com/1053201/58931503-30644a80-8760-11e9-96dd-907380ea5d91.png)

I assume that we don't we to add the bot to the CodeClimate team and I'm not sure we even can.

[2019-06-05 06:21] YellowstoneApps opened #504 "no .ruby_version file?"
Dependabot encountered this issue:

[code]

because my Gemfile has:  `ruby File.read('.ruby_version').chomp`

`.ruby_version` does in fact exist and every other tool plays nice with it.  Why can't dependabot see it?

It is not .gitignored.  It is definitely tracked.

[2019-06-05 07:42] greysteil commented on #503
Hmmm, there's no way for you to add bots to your GitHub organisation - that's not how they work. Do you have a contact at Code Climate you can speak to about the above? Seems like a bug / bad UI on their side, and I can't think of anything we can do about it.

[2019-06-05 07:45] greysteil commented on #502
We try to pick the commit message style that matches your repo, based on your last 100 or so commits. If more than 50% of those are using semantic commits we'll use that, otherwise we'll use a more human-readable style. If you change the commit message (using squash and merge when merging a PR) to a different style then Dependabot will use that new style in future.

[2019-06-05 07:45] #502 closed

[2019-06-05 08:42] greysteil commented on #504
Hmmm, Dependabot normally does fetch the ruby version file (you can see the logic [here](https://github.com/dependabot/dependabot-core/blob/master/bundler/lib/dependabot/bundler/file_fetcher.rb)). Can you ping Dependabot from the issue, so that we can debug it from there? It makes it a lot easier as we'll then be able to replicate it and dig into exactly what's happened.

[2019-06-05 08:42] #504 closed

[2019-06-05 08:46] hngl commented on #5
@greysteil

This is common in other languages as well. For instance in PHP, the widely used Symfony framework consists of 20+ libraries which update in sync: `symfony/serializer/`,  `symfony/validator`, etc.

Manually grouping PRs would be one solution. A better solution would be to inform Dependabot that the involved libraries should be updated together (if multiple updates availabe).

[2019-06-05 16:15] davidgruar opened #506 "Later version superseded by an earlier one"
[Axios](https://github.com/axios/axios/releases) recently released v0.19.0, followed a couple of days later with v0.18.1. (The motivation for the latter was presumably to push out a security fix to users unwilling to upgrade to a version with potentially breaking changes.)

Dependabot duly opened a PR to upgrade to 0.19.0, but subsequently closed it and opened a PR for 0.18.1. This is despite the

[2019-06-05 16:21] greysteil commented on #506
This is a special case because 0.18.1 and 0.19.0 are both security updates. Dependabot tries to update you to the minimal fixed version when addressing a security vulnerability, so it prefers the 0.18.1 release. Because the 0.18.1 release came out *after* the 0.19.0 release you see this counterintuitive behaviour, but I think it *is* desirable in most cases.

What we could do better here is the co

[2019-06-05 17:35] Naveg commented on #190
Hmm - can't seem to get this working. When we approve dependabot PRs, nothing happens, but `dependabot merge` works as expected.

[2019-06-05 18:17] greysteil commented on #190
Can you tag `@dependabot` in the next PR that happens in (and not merge it)?

[2019-06-05 19:39] bglusman opened #507 "Create branches (and/or Issues) automatically and only open PR's when tests are passing"

[2019-06-05 20:02] greysteil commented on #507
We thought about this a while ago, and decided that creating PRs immediately was the best approach for a bunch of reasons:
- You want to know about it when an update breaks your tests (even if you may not want to merge it)
- Some folks have CI that only runs on PRs, not branches
- Functionality like `@dependabot merge`, which merges after tests, makes only creating PRs after CI has run less releva

[2019-06-05 20:06] bglusman commented on #507
Hmm, well, the use case is we're busy and mostly focused on having Dependabot help us out by making the easy stuff easier... an option would be nice, or an option that, after opening PR, if it fails, closing and/or reopening as an issue that basically says merging this update will require human intervention and not just merging based on a quick read of changes/versions/gut feel... but I can see yo

[2019-06-05 20:13] greysteil commented on #507
Got you. I think a "convert to issue" flow might be a good option here - it's not uncommon for folks to want to keep their PR queue very small, so having a quick way to convert a failing PR to an issue would help. That way you'd also be able to see what tests failed if/when you decide to tackle the issue. Would that work?

[2019-06-05 20:24] bglusman commented on #507
Yeah, so do you mean a new action `@dependabot move to issue` or do you mean a config option to automatically move failing PR's to issues?  Either would be nice, though I'd slightly prefer the latter, right now I'm doing `@dependabot ignore this patch` as a way to defer thinking about for now (though a handful initially I just did `@dependabot ignore this dependency` and a secondary issue might be

[2019-06-06 05:21] johnnyreilly opened #508 "Could yarn.lock update PRs include the dependency they come from?"
Heya,

Dependabot is awesome!

I wonder if when a PR is raised relating to a `yarn.lock` file, the message could also indicate which `dependencies` / `devDependencies` in the `package.json` this relates to?

This PR tells me just about the `yarn.lock` file. If I knew which package this came from up front that would be helpful / interesting. Also, I'm likely to attach greater urgency to shipping a

[2019-06-06 08:33] greysteil commented on #508
Thanks for the feedback. I totally agree on surfacing more info about sub-dependencies. It's trickier than it sounds, especially with the way Dependabot models these, but something I'd like us to get to.

[2019-06-06 15:28] davidgruar commented on #506
Thanks - that makes sense. Some extra info on the PR, and/or keeping the original PR open, would be great.

[2019-06-06 18:03] Daenyth opened #509 "Dashboard is empty even after adding repo"
I added a private repo to dependabot, but when I go to my dashboard, it doesn't show up - I get a blank page (the header nav bar is there).

It sent update PRs, so I know it's working beyond the dashboard.

[2019-06-06 18:56] feelepxyz commented on #509
@Daenyth oh what account you having issues with and what browser are you using? Could I also ask for a screenshot of the browser console to help with debugging? https://help.grasple.com/frequently-asked-questions/how-do-i-open-my-browser-console-and-take-a-screenshot

[2019-06-06 20:09] Daenyth commented on #509
This is for `teikametrics`

<img width="1226" alt="Screen Shot 2019-06-06 at 4 08 34 PM" src="https://user-images.githubusercontent.com/14644/59063112-66dfb980-8875-11e9-86e8-3088bed130b4.png">

[2019-06-07 08:33] dmsergeevN26 commented on #443
This request is extremely important for us and the lack of this functionality is preventing us from using Dependabot. We need to be able to configure the prefix from a config file.

[2019-06-07 09:15] dmsergeevN26 opened #510 "Configurable branch name, commit message"
Hello,

Are there any plans to add customization of the branch name and the commit message? Preferably from a config file on a repository basis? This is a blocker for Dependabot adoption for us.

Thank you

[2019-06-07 09:56] greysteil commented on #443
@AdamVig @dmsergeevN26 understood. We are still a tiny team and have our work cut out integrating Dependabot directly into GitHub. This feature needs proper thought and we don't want to rush it, so I can't promise it in the short term.

[2019-06-07 09:57] greysteil commented on #510
Looks like you also commented on https://github.com/dependabot/feedback/issues/443, which I've just responded to - is this a duplicate of that?

[2019-06-07 10:02] dmsergeevN26 commented on #510
Yes, created for better visibility :) Thank you.

[2019-06-07 11:05] bobvanderlinden opened #511 "Changelog support for private packages on Gemfury"
We're currently using Dependabot for private Ruby gems that are hosted on Gemfury. This works great, however we were not able to get a changelog to show up in the Dependabot PRs.

We have set the `changelog_uri` in the gemspec file. It indeed shows up when I have the gem installed and query its specification:

[code]

I also made sure Dependabot has rights to the private repository so it should be

[2019-06-07 14:47] greysteil commented on #497
@HendrikPetertje quick chase on the above.

[2019-06-07 15:05] greysteil commented on #511
Hmmm. They are supported, but Dependabot has to work a little harder to get their changelogs because gemfury doesn't expose an API with package metadata. Let me see what we're getting back here and how we could do better.

Can you @-mention Dependabot in a PR that doesn't have a changelog?

[2019-06-07 15:22] bobvanderlinden commented on #511
I mentioned Dependabot with the message `this PR did not show the changelog`.

[2019-06-07 16:55] cvitan opened #512 "Feature: Configurable approval count for merge on approval"
Currently Dependabot attempts to merge a PR when one approval is done, if the account setting `Treat PR approval as a request to merge` is set. If a repo is set to require two approvals, Dependabot will make an attempt after the first approval, and fail with the message `At least 2 approving reviews are required by reviewers with write access.` and not make another attempt when another approval is

[2019-06-07 21:27] TylerCarberry opened #513 "Branch.io is referred to as 'library' in PR title"
Dependabot made a PR with the title "Bump library from 2.17.1 to 3.2.0"

It's not that big of an issue and it's branch's fault for naming their dependency 'library'. Just wondering if there's an easy fix.

Changed lines:
`implementation 'io.branch.sdk.android:library:2.17.1'` was changed to `implementation 'io.branch.sdk.android:library:3.2.0'`

[2019-06-07 21:33] RohanNagar commented on #513
I have a similar issue with the AWS Java SDK (for Maven). I use the bom in order to pull in version information for all of the AWS SDK packages, so it's a little confusing when the PR title says `Bump bom from 2.5.51 to 2.5.54`

Example PR: https://github.com/RohanNagar/thunder/pull/480
Dependency reference: https://github.com/RohanNagar/thunder/blob/master/pom.xml#L378-L384

I actually prefer jus

[2019-06-08 09:03] greysteil commented on #513
I think the only option here is to special case, so let's do that. I'll create a PR :-)

[2019-06-08 10:38] greysteil commented on #513
Proposed fix over at https://github.com/dependabot/dependabot-core/pull/1203.

[2019-06-08 11:28] greysteil commented on #512
Good shout - we can definitely do better there. I'm implemented (4), which I think is the most robust option. Thanks for the heads up!

[2019-06-08 11:28] #512 closed

[2019-06-08 11:49] #513 closed

[2019-06-08 13:58] glennawatson commented on #497
Also encountering this on our repo https://github.com/reactiveui/Pharmacist/commits/master

[2019-06-08 13:59] greysteil commented on #497
@glennawatson looks like you're also using squash and merge. Is that showing up as verified for *any* pull requests you merge through the GitHub UI in that way?

[2019-06-08 14:03] glennawatson commented on #497
Yes, good examples are in https://github.com/reactiveui/splat/commits/master -- where the last 3 commits are squash and commit and marked as verified.

[2019-06-08 14:07] greysteil commented on #497
OK, thanks. I'm going to pass this on to @laserlemon who knows more about GitHub's automated bot commit signing than I do.

[2019-06-08 14:08] glennawatson commented on #497
Thanks for looking into it :)

[2019-06-10 07:54] umanghome opened #514 "JavaScript: Don't update major version"
Is there a way in the config that I can ask Dependabot not to update major versions? If we're using 1.x.x and Dependabot wants to upgrade to 2.x.x, it's not really feasible since there might be a lot of breaking changes.

Not sure if I'm supposed to be looking at [these docs](https://dependabot.com/docs/config-file/#version_requirement_updates). If I am, they are extremely unclear.

[2019-06-10 07:58] umanghome commented on #514
I can do this with by commenting `@dependabot ignore this major version` on the PR, but that is manual and I'd have to do it for multiple packages. I'd really appreciate if there was a config to specify this behavior with.

[2019-06-10 10:25] feelepxyz commented on #514
@umanghome sorry for not being clearer in the docs! We don't have a straight forward way to ignore all major versions atm. I would recommend using config files and [explicitly ignoring](https://dependabot.com/docs/config-file/#ignored_updates) new major versions of the packages you know will be painful to upgrade to.

If you would rather ignore all major versions you can achieve something close to

[2019-06-10 12:24] RDIL opened #515 "Python bug"
Hello dependabot,
in the https://github.com/cakebotpro/cakebot repository, I have dependabot installed.
It isn't bumping dependencies however, and I think I know why.

As you can see, my `requirements.txt` looks like:
[code]
at the time of writing this.
We need the cloudrepo prioritized, and so we have this specified.

I believe that because of this, dependabot is not able to accurately read the c

[2019-06-10 12:47] feelepxyz commented on #429
@yss14 any success? Just found out that you can also solve this issue by running `lerna link convert` -this will convert all unpublished packages to use `file:` imports instead which work with Dependabot.

The command is mentioned here: https://github.com/lerna/lerna#common-devdependencies

[2019-06-10 14:52] feelepxyz commented on #509
@Daenyth hm not getting any clues from that output :( Could you try logging in a new incognito window and see if this works? Could be an extension which is blocking some request.

If this doesn't work try re-installing `Dependabot Preview`: first [revoke authorisation](https://github.com/settings/apps/authorizations) and [uninstall app](https://github.com/settings/installations). If you then visit

[2019-06-10 16:57] RohanNagar commented on #513
The fix looks great 😄

https://github.com/RohanNagar/thunder/pull/485

[2019-06-10 22:20] dannyshaw commented on #72
Is there no way at all of viewing what's been ignored?

Can you enable a flat file download or something as an MVP? No need for pretty UI!

[2019-06-10 23:59] greysteil commented on #514
Closing this as answered

[2019-06-10 23:59] #514 closed

[2019-06-11 00:49] greysteil commented on #72
Not at the moment. We'll integrate this into the GitHub Dependency Graph screen as we do the full integration with GitHub, though :-)

[2019-06-11 09:03] hazcod opened #516 "Support for cloudbuild.yaml"
Google Cloud Build is a widely used CI/CD pipeline that integrates with Github.
One can define build steps:
[code]

where name will be a docker image, residing on a public and/or private registry.

[2019-06-11 09:22] j0k3r commented on #498
@greysteil thanks, looks like it's fixed :+1:

[2019-06-11 09:22] #498 closed

[2019-06-11 12:50] a-h opened #517 "See what packages were discovered"
When I logged into the dashboard and view my project, I expected to see a list of all of the dependencies for that project which were scanned, and their versions.

Without it, I'm not 100% sure that Dependabot has done anything or not, or if it's seen all of the dependencies.

[2019-06-11 13:28] greysteil commented on #517
Thanks for the feedback. Since we're integrating Dependabot directly into GitHub the dashboard is going to go away in the not too distant future, so this is a "won't fix" for now. We'll integrate Dependabot with GitHub's dependency graph as we move across, which should be a good long-term solution.

[2019-06-11 13:28] #517 closed

[2019-06-11 14:09] Tapchicoma commented on #404
@greysteil this happened again, see https://github.com/freeletics/CoRedux/pull/74

[2019-06-11 14:42] greysteil commented on #404
This is a weird one - that version *has* been released, it's [here](https://jcenter.bintray.com/org/jetbrains/kotlinx/kotlinx-coroutines-core/). Any idea what's going on with that version numbering?

[2019-06-11 14:53] a-h commented on #517
Unfortunately, the Github dependency graph doesn't support Go at the moment. Does that mean that there's a plan to get it to support Go module files (`go.mod`)?

[2019-06-11 14:54] greysteil commented on #517
You bet!

[2019-06-11 15:13] pacarvalho commented on #135
Is this setting is still possible now that Dependabot is part of Github?

[2019-06-11 15:14] greysteil commented on #135
Sure is, but currently only for Dependabot Preview. We'll add support for it to the GitHub-integrated bot soon, too.

[2019-06-11 15:16] pacarvalho commented on #135
That is awesome! We currently use Dependabot through Github (https://help.github.com/en/articles/configuring-automated-security-fixes).

Thank you for the quick reply.

[2019-06-11 15:27] Daenyth commented on #509
The same thing happened.

I signed in with my github account, added the app to the organization, gave
permission for one repository, and then it directed me to the dashboard,
which was again blank.

On Mon, Jun 10, 2019 at 10:52 AM Philip Harrison <notifications@github.com>
wrote:

[2019-06-11 16:05] JacobEvelyn opened #518 "PR should close when Gemfile is deleted"
I deleted a subdirectory `Gemfile` in a project, and Dependabot [appears to be stuck trying to rebase its PR for that `Gemfile`](https://github.com/panorama-ed/henchman/pull/96).

[2019-06-11 16:23] Tapchicoma commented on #404
I think, app should ignore any versions that has "eap" in name.

[2019-06-11 20:25] antross opened #519 "Dependabot merged a PR after CI failed"
Not sure if this has happened before, but this one caught my attention because it broke our builds. The PR in question was https://github.com/webhintio/hint/pull/2581

Our CI runs on Azure Pipelines and it specifically looks like we failed the "Checkout" phase for this particular PR so we never got far enough to fail the actual tests. That part was likely an Azure Pipelines issue, but I still woul

[2019-06-11 22:34] feelepxyz commented on #509
Hmm could you send a screenshot of the networks tab after a reload in the browser devtools? Does it also not work in chrome ingnito mode or a different browser? Sorry for the crude and slow debugging on this!

[2019-06-11 23:10] ChrisMaddock opened #520 ".NET: dependabot fails to locate project files with multi-line definition in sln file"
When a project has a multi-line definition in a solution file, dependabot skips the project file. This caused problems with adding dependabot to the [NUnit Console](https://github.com/nunit/nunit-console) as we then then hit inconsistent dependencies problems, as not all project files were updated in sync.

I tracked down the cause of the issue - this is noted as a TODO in the source, although I c

[2019-06-12 13:31] greysteil commented on #518
Is this for Dependabot (the GitHub integrated version) rather than Dependabot Preview?

[2019-06-12 13:54] greysteil commented on #404
Interesting. Can you point me to anything about what it means, and whether it's specific to this package? (Apologies not to do the research myself - have a lot of right now!)

[2019-06-12 14:00] greysteil commented on #519
Ooh, that's not good. I'll dig into exactly what happened here, but I'm guessing it's todo with the check runs not being created immediately. It's surprisingly hard for Dependabot to know whether checks are expected to be created or not, which is something I'd like to work with GitHub to improve.

[2019-06-12 14:01] Tapchicoma commented on #404
Generally "eap" stands for "early access program".

Related news for all Kotlin core libraries: https://blog.jetbrains.com/kotlin/2017/06/early-access-program-for-kotlin-1-2-has-been-started/

I would say it is not really specific to this package, but I also it is not used widely.

[2019-06-12 14:05] greysteil commented on #520
Thanks for this! I'm travelling and am currently Dependabot's only .NET person, but I'll try to get this fixed when I have a monent.

[2019-06-12 14:32] ChrisMaddock commented on #520
Awesome - thank you! No urgency for us, I think we can get around it by modifying out sln file. 😄

[2019-06-12 14:39] greysteil commented on #404
Awesome, thanks! Fixed in https://github.com/dependabot/dependabot-core/commit/58b529e1b7d632b56e5caa7939778e25ae4f4676.

[2019-06-12 15:31] JacobEvelyn commented on #518
Yes, I think so.

[2019-06-12 16:31] lorengordon commented on #356
Super interested in this also! Exactly the same use case. We sometimes use a submodule to vendor/wrap a project for build purposes, but we only want to update the submodule on tags/releases.

[2019-06-12 16:50] jwalton opened #521 "Feature request: Auto-merging of devDependencies for javascript"
Most of my javascript packages are heavy on dev dependencies (babel and it's assorted plugins, lint-staged for linting on commit, husky for running lint-staged, the typescript compiler, etc...) and every time one of these gets updated, I get a huge list of PRs from dependabot.

But for dev dependencies especially, if the tests pass, it's probably good to merge without any further interaction from

[2019-06-12 17:27] feelepxyz commented on #521
@jwalton this is possible!

From the dashboard you can do it if you click on the cog for the repo you want:
<img width="1332" alt="Screenshot 2019-06-12 at 18 22 05" src="https://user-images.githubusercontent.com/20165/59372448-6f396800-8d3f-11e9-9f1d-38ebe068e9f3.png">

Or using config files: https://dependabot.com/docs/config-file/#automerged_updates

[code]

[2019-06-12 17:27] #521 closed

[2019-06-12 17:29] jwalton commented on #521
Wow!  Thanks so much!

![We're not worthy](https://nevillesremembrall.files.wordpress.com/2013/09/notworthygif.gif)

[2019-06-12 17:31] jwalton commented on #521
Oh... wait... I don't have that option in any of my repos:

<img width="832" alt="Screen Shot 2019-06-12 at 1 31 03 PM" src="https://user-images.githubusercontent.com/1771003/59372849-5f595e00-8d16-11e9-8bb9-6cbe4c8cccdf.png">

[2019-06-12 17:34] feelepxyz commented on #521
Ops forgot to enable it for you! Should be there now!

[2019-06-12 17:35] jwalton commented on #521
Sweeet!  Thanks!  Could you turn this on for "benbria" account, too?  (Or can I use this from the config file even if it's not there in the settings page?)

[2019-06-12 17:39] feelepxyz commented on #521
@jwalton yes, enabled for `benbria` 🔛

[2019-06-12 17:40] jwalton commented on #521
Thanks again!

[2019-06-12 18:57] jwalton opened #522 "Feature request: Force conventional commit syntax"
On some of my projects, dependabot commits with conventional commit (e.g. https://github.com/jwalton/passport-strategy-runner/commit/ed1b559dc74015bab14adbfb9483f8cc2f20bc09) but on some of my projects it does not (e.g. https://github.com/jwalton/node-promise-breaker/commit/eb3ad8478420178f9de17cc0c0cd3c60e558532e).

Is there a configuration setting somewhere to force it to use conventional commit

[2019-06-12 22:26] greysteil commented on #522
There's no configuration setting at the moment, but Dependabot will match the style of the most recent Dependabot commit when creating new PRs, so if you use the "squash and merge" option when merging a PR, and edit the commit title to be your preferred style then Dependabot will use that.

[2019-06-12 22:26] #522 closed

[2019-06-13 00:10] craigds opened #523 "Docs needed for pip-compile support"
I'd love some more documentation about just exactly _how_ dependabot handles pip-compile workflows, as I haven't really found any so far. Some questions I have:

 * what python version does it use? How does it detect that? Is there any way we can specify it?

 * what OS does it run on? (this matters quite a lot; e.g. pip-compile builds on OSX produce quite different results than builds on linux) I

[2019-06-13 00:40] peterennis opened #524 "dependa-spin"
here:

![dependa-spin](https://user-images.githubusercontent.com/140737/59395508-2a123780-8d39-11e9-83fe-3dc72d9b24cc.gif)

[2019-06-13 02:13] greysteil commented on #524
This looks like it is a general GitHub issue, related to a large diff, rather than a Dependabot one. Closing, but let me know if I'm missing something.

[2019-06-13 02:13] #524 closed

[2019-06-13 02:17] greysteil commented on #523
We generally just try to do the right thing, and treat it as a bug if we don't, but on those questions:
- We try to match your Python version. The relevant logic is [here](https://github.com/dependabot/dependabot-core/blob/master/python/lib/dependabot/python/update_checker/pip_compile_version_resolver.rb#L442-L449).
- Dependabot runs on linux. There's no way to specify that at the moment, but we'd

[2019-06-13 02:17] #523 closed

[2019-06-13 02:29] pwim opened #525 "Reporting missing Changelog"
I noticed the `money` Gem is missing a Changelog. Is this something that's automatically flagged for you, or should I report it? If I should report, how should I do so?

[2019-06-13 02:32] greysteil commented on #525
It's not automatically flagged. Looking at our open source PRs it looks like Dependabot is able to find the changelog most of the time (like [here](https://github.com/kyoshidajp/ec2spec/pull/43)). Not sure what must have happened here as a result - perhaps GitHub timed out during the request. Is the PR open source?

[2019-06-13 02:40] pwim commented on #525
No, it's not open source. The PR was created on 2019-06-13T02:29:32Z, so before that open source one.

Perhaps always including a changelog section, and being explicit if you can't find anything would help. As it is, it took me a minute to confirm that there was in fact no changelog being listed. Such a section could also provide instructions for reporting the missing changelog.

Anyways, it looks

[2019-06-13 02:40] #525 closed

[2019-06-13 03:05] peterennis commented on #524
OK. Do I let it spin for hours and hope for a resolution ???
If it is expected to do something then a message would be helpful.
If it is stuck in a loop how are users expected to know ???

[2019-06-13 03:17] greysteil commented on #524
To be honest I’ve never even seen the /conflicts URL in that image, and it 404s when I attempt to view it. I really have no idea on this one - support@github.com would know better, but I’m pretty sure it’s not Dependabot related.

[2019-06-13 03:18] greysteil commented on #524
Oh, I guess you’re in a GitHub code editor to resolve the conflicts? This is going to be a bug in that!

Happily, Dependabot can resolve conflicts for you automatically if you comment `@dependabot rebase`.

[2019-06-13 03:28] peterennis commented on #524
Here: https://github.com/peterennis/aeicons-react/pull/4
👍
I will check how the process went with the test app after completing the other merges.

[2019-06-13 04:12] peterennis commented on #524
Upgrade went smooth. Thanks for the help 😄

[2019-06-13 11:41] feelepxyz commented on #483
@lusoalex sorry for the slow reply on this! Which repo is this happening for? There shouldn't be a problem with multiple folder settings.

[2019-06-13 11:47] feelepxyz commented on #414
@mueller-ma sorry for the slow response on this! `/mobile` is included automatically because it's referenced from https://github.com/openhab/openhab-android/blob/master/settings.gradle

What exactly are you expecting with `auto-value` updates?

[2019-06-13 12:25] mueller-ma commented on #414
Yes, but in this case it shouldn't be possible to explicitly add it.

Dependabot did bump `implementation 'com.google.auto.value:auto-value-annotations:1.6.3'` (#1133) before, but not `annotationProcessor 'com.google.auto.value:auto-value:1.6.3'` (#1272). It was bumped after I added `/mobile` as an additional directory.

[2019-06-13 12:55] schoenwaldnils commented on #79
Where can I find this option?

[2019-06-13 13:08] anym0us opened #526 "PRs to update to Rails 4.2.11.1 get closed automatically"
The following thing happens with Rails 4.2.11.1 PR:
<img width="778" alt="Screen Shot 2019-06-13 at 4 02 26 PM" src="https://user-images.githubusercontent.com/5333431/59434948-3a87e800-8df5-11e9-9478-678af5f17665.png">

However, Gemfile has an outdated version. Here're some of the changes from the closed PR:
<img width="197" alt="Screen Shot 2019-06-13 at 4 05 20 PM" src="https://user-images.githu

[2019-06-13 13:37] feelepxyz commented on #79
@schoenwaldnils it's currently in private beta but happy to add your account! Which github account do you want it enabled for?

[2019-06-13 13:40] feelepxyz commented on #414
Ahh ok seems there's something funky going on then. Should be updating mobile if that's monitored. Will take a look.

[2019-06-13 13:59] feelepxyz commented on #526
@anym0us oh don't think this is a general problem. On which which repo/pull request did this happen? If it's a private repo please send the link to support@dependabot.com

[2019-06-14 09:18] greysteil commented on #452
This *should* be fixed now. It was caused by an issue with Dependabot listening for check suite statuses, rather than check run statuses. I'm going to close this, but if Dependabot fails to automerge when it should do for you please don't hesitate to get in touch.

We also have a daily catchup job that loops through unmerged PRs that should be automergable in order to catch any that are missed (du

[2019-06-14 09:18] #452 closed

[2019-06-14 13:27] kojiromike opened #527 "Should not overwrite symlinked requirements.txt with dereferenced file"
We have a requirements.txt that is a symlink to python/requirements.txt in the same repository. Dependabot opened a PR to (correctly) update a dependency in python/requirements.txt, but it also updated requirements.txt, overwriting the symlink with another copy of the file, and breaking our workflow.

[2019-06-14 14:04] jwalton commented on #507
I actually want almost exactly the opposite of this; I want Dependabot to not create a PR or an issue at all unless there's something for me to do.

Greenkeeper takes almost the opposite approach to this, and while I find dependabot overall a lot more polished, this is the one thing I really like about Greenkeeper.  (I mostly work in node.js, so I'll use JS as an example); when a new patch version

[2019-06-14 14:40] greysteil commented on #507
This is a really interesting one - basically I think you want a very different approach for libraries (where you want the Greenkeeper style approach) to applications (where you want the Dependabot approach).

We love what the folks at Greenkeeper built, so never wanted to tread on their toes for the library use case, but now we're part of GitHub it probably makes sense for us to allow Dependabot t

[2019-06-14 14:50] fcalderon opened #528 "Attempts to add a new repo result in 404 error"
Greetings dependabot team, and congratulations on being acquired by GitHub. That news made me really happy.

## The issue

When I try to add a repo from my organization using the dependabot dashboard (/accounts/<org_name>/add), the "Add Selected (x)" button loads for a bit and then nothing happens. This issue seems similar to #496 but the error message is different and I'm only adding a single rep

[2019-06-14 14:55] feelepxyz commented on #528
@fcalderon oh taking a look. Which org name is this happening for? If you want you can also send any further info by email to support@dependabot.com to help debug this account ✌️

[2019-06-14 15:34] greysteil commented on #515
Sorry it's taken me so long to get to this. Those single quotes are confusing Dependabot - I'll get that fixed right now.

[2019-06-14 15:47] greysteil commented on #515
Fixed in https://github.com/dependabot/dependabot-core/commit/bfb6798127b30c10bf2d1fb224f2499f04dea741, which will be deployed in the next 15 minutes. Thanks for reporting this!

[2019-06-14 15:47] #515 closed

[2019-06-14 15:49] RDIL commented on #515
Thank you for fixing it 😀!

[2019-06-14 15:49] jwalton commented on #507
Thanks for the insight.  :)  I think it goes a little deeper than application vs. library though.  A PR generates email notifications, so a PR should be something actionable - "Hey, you have something you need to do/a decision to make".  If Dependabot is going to auto-merge the PR for me as soon as it passes, though, there's nothing for me to do, so the PR should probably never have been raised in

[2019-06-14 18:24] feelepxyz commented on #528
@fcalderon hm not sure but the installation might be out of sync here, want to try the brute force option and re-install the app for both your personal and org account?

- Uninstall for user: https://github.com/settings/installations
- Uninstall for org: `https://github.com/organizations/<ORG NAME>/settings/installations`

Then try installing it again: https://app.dependabot.com/ 🤞

[2019-06-14 18:59] fcalderon commented on #528
Hi @feelepxyz, sorry it took so long for me to reply. The organization name is ScholarJet. I'll try the brute force approach like you suggested and will report back :crossed_fingers: !

[2019-06-14 19:08] Nargonath commented on #91
@Hypnosphi which settings are you referring to? I can't find it.

[2019-06-14 19:09] fcalderon commented on #528
@feelepxyz - I followed your instructions and re-installed dependabot on both accounts (organization and personal) and it's nice working like a charm. Thanks so much for your help!

[2019-06-14 19:21] peterennis opened #529 "How do I add an organization repo - I am the owner"
I looked at #42 and #59

No help. Info is as clear as mud.

How do I add an organization repo to dependabot?

[2019-06-14 19:39] feelepxyz commented on #528
Great news! 🎉🤠

[2019-06-14 19:39] #528 closed

[2019-06-15 07:36] greysteil commented on #91
It's in the dropdown under "Update strategy for package.json":

![image](https://user-images.githubusercontent.com/1144873/59548531-9e6ef580-8f48-11e9-9207-f896f72eaa8a.png)

[2019-06-15 15:51] Nargonath commented on #91
Hum I don't have that interface you are showing (or at least I can't find it) as I used `.dependabot/config.yml` to configure my project. In case you're wondering here is the link to the aforementioned project: https://github.com/Nargonath/ngt-scripts.

[2019-06-16 10:34] greysteil commented on #529
Did you figure this out?

You need to install Dependabot on that organisation. You can get a link to the install page from the drop down in the top right of your account, or on [this page](https://github.com/apps/dependabot-preview/installations/new). You'll then need to switch view to that organisation (from the same drop down) and add the repo to Dependabot as you normally would.

![image](https

[2019-06-16 10:34] #529 closed

[2019-06-16 11:20] greysteil commented on #91
Ah, for config files you can configure the same using then [version_requirement_updates](https://dependabot.com/docs/config-file/#version_requirement_updates) attribute.

[2019-06-16 16:18] peterennis commented on #529
The link you provided was exactly the answer I was looking for 👍

[2019-06-17 07:14] Nargonath commented on #91
Oh cool thanks @greysteil. Didn't read the documentation as thorough as I thought.

[2019-06-17 08:23] chriseyre2000 opened #530 "One of our projects is not automerging"
https://github.com/mergermarket/debtwire-company-subscriber

This has PR's that have passed tests but has not been merged.

Do we have snyk checks that we are not using?

[2019-06-17 08:36] greysteil commented on #530
Looking now, thanks for reporting!

[2019-06-17 08:39] chriseyre2000 commented on #530
I manually merged the branch

[2019-06-17 08:40] greysteil commented on #530
OK, can you leave an `@dependabot` comment if this happens on another PR and let me investigate before merging?

[2019-06-17 08:40] #530 closed

[2019-06-17 08:47] chriseyre2000 commented on #530
ok

[2019-06-17 12:08] Nargonath opened #531 "Allow commit message change with @dependabot command"
I'm using `semantic-release` to manage my packages hence my commit follows the conventional commit message. The commits from dependabot are created as `chore(dep):` but in some of my packages I want the dependencies changes to trigger a release. For that I have to amend the commit myself every time and it's cumbersome. Would it be possible to add a command to dependabot that we could use to update

[2019-06-17 14:06] rdunlop opened #532 "Dependabot is not running daily updates on expected schedule"
My organization is set to Update run day and time  "monday 02:00 CDT".

This morning, at 08:00 CDT, dependabot opened PRs for some "daily update" projects.

This behavior seems to have changed between May 22nd (where I can see PRs which are opened near 2am), and June 3rd (where I see PRs opened near 5am).

I can't really tell whether it's project-specific or org-wide. Strange though....seems to be

[2019-06-17 16:26] antross commented on #519
Any luck figuring out what happened? I just had two other PRs get merged this morning which failed CI. I'm going to disable the automerge feature in our project for now and revisit once we think there's a fix.

[2019-06-17 18:02] antross commented on #519
Though I do suspect your original guess is correct. I've seen GitHub list a PR as green for 15-30s before registering we have additional checks to be performed - and I'm sure it easily take significantly longer than that.

[2019-06-17 18:09] antross commented on #519
@greysteil If these delays continue to be a problem, what would you think about adding an option to the `config.yml` to specify how many checks to wait for? This is typically a consistent number for all of our dependabot PRs. That of course assumes you have access to the number of checks from GitHub.

[2019-06-17 23:27] greysteil commented on #532
This is one for @hmarr as I’m pretty sure it’s because the additional volume has increased our queue lengths.

[2019-06-18 00:54] bjeanes commented on #233
Can the config file also be stored in `.github` as is conventional for many apps to do (including Renovate). This feels particularly suitable now that Dependabot is part of GitHub...

[2019-06-18 01:48] hmarr commented on #532
Yeah it's that our growth since the acquisition has meant the batch jobs are taking longer and longer to run. I'm currently waiting on AWS to approve a limit increase, which will allow us to increase the size of the pool of workers (and pay AWS lots more money 😄).

[2019-06-18 02:08] hmarr commented on #532
In case it's of interest, here's how the size of the queue has increased over the past few weeks. The first week is pre-acquisition, the rest is post-acquisition. 📈

![image](https://user-images.githubusercontent.com/110275/59648227-f1f96300-9143-11e9-92d4-4c5e6d9b79be.png)

[2019-06-18 02:09] hmarr commented on #532
(And to be clear, that's Dependabot Preview - not the GitHub-integration version, which runs on different infrastructure)

[2019-06-18 09:26] TimonGaebelein opened #533 "Feature Request: Enable Squash and Merge for Automatic Merging"
The whole auto merging feature is just awesome and proofs to be working very nicely! One thing, that bugs me however, is, that the PR is merged, rather than squashed and merged. I, personally, like it better, if there is only a single commit in the master commit history for a dependency update.

Because you've already added the functionality as a command, I was thinking, whether it would be possib

[2019-06-18 12:23] greysteil commented on #533
It's possible! It's configured at the account level, rather than the repo level, at the moment, but if you got to your Dependabot account settings you'll see the following options:

![image](https://user-images.githubusercontent.com/1144873/59681626-34915e80-9189-11e9-9683-3034032b6bcc.png)

We'll move this down to the repo level soon.

[2019-06-18 12:23] #533 closed

[2019-06-18 12:37] TimonGaebelein commented on #533
Totally forgot to look at the account level! Thanks!

[2019-06-18 13:00] greysteil commented on #233
Not at the moment, but once we're fully integrated with GitHub it will be. 🙂

[2019-06-18 13:42] rdunlop commented on #532
Thank you @greysteil @hmarr for the great feedback. congrats on all your success.

I've moved my scheduled time back 3 hours, so that we are more likely to have the dependabot tasks run during our off hours.

Thanks again.

[2019-06-18 17:10] frafra opened #534 "Unable to detect correct Python version"
My `setup.py` contains this line:

[code]
-- https://github.com/GeoNode/geonode/blob/4b7dbff0ea884c9aa5f9ce45ad1eab9dc7ccb083/setup.py#L42

It seems that this is not sufficient to let dependabot detect that the project is using Python 2. I did not find any documentation about how it is able to detect that, so it is hard to understand what to setup in my project to avoid having pull request of depe

[2019-06-18 18:28] richardson-trevor commented on #531
We've got a thread running on this here: https://github.com/dependabot/feedback/issues/443

[2019-06-18 20:02] greysteil commented on #531
Let's close this and focus the discussion there.

Also, for the case you've described above I would recommend using the GitHub UI for "squash and merge" to amend the commit message when merging.

[2019-06-18 20:02] #531 closed

[2019-06-19 10:07] Nargonath commented on #531
Yeah indeed could just squash it using GH UI. I've looked at the issue you mentioned but felt it was a bit different of my use case hence I opened a new issue. Thanks for your input.

[2019-06-19 12:57] RDIL opened #535 "Webhook not received for completed check suite?"
Hello Dependabot,
Earlier, I used `@dependabot squash and merge` on a pull request the bot made to save myself some time, however it looks like it did not work.

I ran the command, and the PR body was updated to say it would automatically be squashed and merged once the CI passed on it.

The only problem is that it didn't get merged.

The CI passed 3 minutes after the PR was opened, and yet 19 min

[2019-06-19 13:16] greysteil commented on #534
Ah, interesting. We could do better here, but it's not trivial.

Currently, Dependabot uses simple indexes to the get a list of all available versions. We don't currently look at the Python version when doing so, but I've just added [this logic](https://github.com/dependabot/dependabot-core/commit/48848b9f1fda86b78755520cead6eff47dc2d8b8) that will make it easier for us to. The next thing we need

[2019-06-19 13:18] greysteil commented on #535
Can you let me know if this happens again and *not* merge the PR in the meantime? It's tricky to debug what has happened if you do. In this case my hunch is that Dependabot hadn't yet received a webhook from GitHub about the check runs, but I'm not certain.

[2019-06-19 13:22] RDIL commented on #535
Okay, I'll do that for the next bump which will likely be tomorrow.

[2019-06-19 13:23] RDIL commented on #535
By the way, congrats on staff badge :)

[2019-06-19 14:27] jglick opened #536 "Unable to find documentation link from home page"
Finding https://dependabot.com/docs/config-file/ starting from either https://dependabot.com/ or https://app.dependabot.com/ seems impossible; have to [Google it](https://google.com/search?q=dependabot+docs)!

[2019-06-19 14:29] greysteil commented on #536
It's right here, on the add repos screen:

![image](https://user-images.githubusercontent.com/1144873/59774166-dab19700-9263-11e9-8444-95a3bd914261.png)

We should add a link from https://dependabot.com, tough - @feelepxyz can you take that?

[2019-06-19 14:32] greysteil commented on #511
@bobvanderlinden I debugged this and left a comment on that issue - can you take a look?

[2019-06-19 14:38] jglick commented on #500
I suppose https://github.com/dependabot/dependabot-core/tree/master/maven/lib/dependabot would need to be patched as follows: when recursively traversing `pom.xml` files by `<module>`, if there is one which has `<packaging>maven-archetype</packaging>`, then also look for `src/main/resources/archetype-resources/pom.xml` and recursively traverse that as well.

[2019-06-19 14:48] bobvanderlinden commented on #511
@greysteil Thanks a lot for the information! The package itself does have the changelog_url when we download it, but the metadata from Gemfury doesn't. This makes a lot more sense. We will investigate why the metadata doesn't include the changelog url.

[2019-06-19 15:04] jglick opened #537 "@dependabot merge does not work from PR review summary comment"
It seems that if you say `@dependabot merge` as the main comment of a PR review is ignored. The bot only listens to regular comments, which are a different GH event type. See https://github.com/jenkinsci/archetypes/pull/49#pullrequestreview-251760870 for an example.

[2019-06-19 15:10] yongtang opened #538 "Detect and automatically update `replace` field as well"
When dependabot updates the go.mod, it didn't capture the replace. For example, in go.sum we have
[code]
When updates `github.com/miekg/dns v1.1.12` to `v1.14` (See PR https://github.com/coredns/coredns/pull/2899), it could easily find out that:

[code]
should be changed to
[code]
as well. But it is not working this way so there is a duplication of libraries.

[2019-06-19 16:21] AndrewLeedham commented on #6
@greysteil Any updates on this?

[2019-06-19 18:08] feelepxyz commented on #536
Yup adding a link to the website footer!

[2019-06-19 18:08] #536 closed

[2019-06-19 19:39] wtanaka opened #539 "Does not find multiple python requirements file in the same directory"
We have a directory in a repository with more than one requirements file in it.  Some of the filenames do not end in .txt, like "pip-requirements".  Others do.  Dependabot is only checking one of the multiple requirements files.  Is there a possibility of making it check all of them instead?

[2019-06-19 19:53] StevenWan-minted commented on #539
Similarly, there is a directory that only has a requirements file that is not ended by .txt, dependabot is not picking it up either

[2019-06-19 19:55] greysteil commented on #539
Oh man, that makes things way harder for Dependabot. What's the reason for not using a `.txt` suffix for them?

[2019-06-19 20:18] wtanaka commented on #539
No particular reason.  If we renamed the "xxx-xxx-requirements.txt" to "xxx-xxx-requirements" would that cause the rest of the "*requirements*" files in the directory to be picked up?

[2019-06-19 21:01] greysteil commented on #539
Afraid not - Dependabot pulls down files one-by-one (we never clone your repo) so we use heuristics to discover which files to pull down. The logic is [here](https://github.com/dependabot/dependabot-core/blob/master/python/lib/dependabot/python/file_fetcher.rb) (written in Ruby).

I've not heard of anyone else not using a `.txt` suffix (or `.in` for pip-compile files), either when working in Pytho

[2019-06-20 02:02] greysteil commented on #6
None, and I have too many things on my plate to promise anything. 😞

There is some good news, though - Dependabot returns JSON from its badge endpoints if requested, so it should be possible to add the code directly to badgen...

[2019-06-20 06:03] JeanMertz commented on #353
I've also been looking into this. We have over 300 repositories and want to apply some rules to auto-merge some of our most common non-production dependencies as long as the CI reports green.

We can do this by going through each repository by hand, but that's cumbersome, and requires us to do it again for any future changes we want to make, and any new repositories we add.

[2019-06-20 10:43] AndrewLeedham commented on #6
Oooh that is good news. Can you point me in the right direction of that endpoint, is it documented anywhere?

[2019-06-20 11:47] greysteil commented on #6
Sure can - it's exactly the same API as the badges themselves come from, just with the accept header set to `application/json`.

So [![Dependabot Status](https://api.dependabot.com/badges/status?host=github&repo=yss14/musicshare)](https://dependabot.com) would be https://api.dependabot.com/badges/status?host=github&repo=yss14/musicshare. For private repos you have to add `&identifer=<the github re

[2019-06-20 14:25] greysteil commented on #500
Thanks for the additional info @jglick! The code that will need changing is [here](https://github.com/dependabot/dependabot-core/blob/master/maven/lib/dependabot/maven/file_fetcher.rb#L47-L76). I'd happily accept a (well-tested) PR that addressed this. Am a little swamped to take it myself, though.

[2019-06-20 14:26] greysteil commented on #537
From memory I *think* this is an issue with the GitHub API not making it possible to add a reaction to the main comment of a PR review. I work for GitHub now, so hopefully can do something about that...

[2019-06-20 15:18] greysteil commented on #537
I've chased this up internally. FYI, Dependabot *does* listen and respond to overall review comments - it just can't add a reaction to them at the moment.

[2019-06-20 15:23] laserlemon commented on #497
👋 I've reproduced the issue and found that the squash/merge commit lacks verification whenever the _merging user_ of a pull request is different than the _opening user_ for that pull request. Of course, this is always the case for Dependabot pull requests that are merged by a human.

I'll dig into the reasoning behind this behavior. Thank you for raising the issue!

[2019-06-20 16:02] laserlemon commented on #497
Here's what I've learned… GitHub's ✨ _magic_ ✨ commit signing takes advantage of Git's distinction between a commit's "author" and its "committer." When somebody uses the "squash and merge" button, there are a couple of possibilities for how those two bits of information are set:

| Condition | Author | Committer |
|:--- |:--- |:--- |
| The pull request opener is also the merger | The pull request

[2019-06-20 17:55] wtanaka commented on #539
You'd probably have a much better sense of what's common for sure!  I did find a few other examples in the wild:

https://github.com/gregoryely/condapysit/blob/master/dockerfile#L32
https://extensions.ckan.org/extension/stromnetzberlin/
https://www.noisebridge.net/wiki/Phong#Requirements
https://hub.docker.com/r/trustcode/odoo/dockerfile
https://blog.e0ne.info/post/virtualenv-and-pip-instead-of-bu

[2019-06-20 18:21] laserlemon commented on #497
I just thought, another possibility is to set the pull request opener as the author and the pull request merger as a [co-author](https://help.github.com/en/articles/creating-a-commit-with-multiple-authors), leaving the committer spot available for the verification user.

[2019-06-20 18:42] greysteil commented on #497
Ooh, that sounds like it would make a tonne of sense! Thanks for your work digging into this @laserlemon!

[2019-06-20 19:24] greysteil commented on #539
Thanks for the additional context. I'm going to put this as a "won't fix" since the official documentation puts `.txt` at the end of each suggested requirement file name, and it would be painful to deviate from that (we have to distinguish requirement files from pip-compile files, etc.). If you rename your requirement files to end with `.txt` Dependabot will work on them.

[2019-06-20 19:24] #539 closed

[2019-06-20 20:30] hmarr commented on #532
This should be in a much better state now - we've been using many more machines to process the update jobs for the last couple of days.

Here's the graph showing the backlog each day (the spikes for the past two days are much smaller):
![image](https://user-images.githubusercontent.com/110275/59879363-22bde000-9370-11e9-9617-5cc40e2dbeef.png)

And here's our throughput (updates performed per minut

[2019-06-20 20:30] #532 closed

[2019-06-20 20:31] wtanaka opened #540 "Support "apply from:" in Gradle"
It's possible to use "apply from" in gradle to include other .gradle files:

https://github.com/wtanaka/ciconfiggen/blob/cc8bfc43f7e9e4109310c9fb48af6ad83cdacf13/build.gradle#L2-L4

Based on what's shown in the web dashboard, it looks like dependabot might not be scanning dependencies in these included files:

https://app.dependabot.com/accounts/wtanaka/repos/178891901

[2019-06-21 08:33] nicolasrouanne commented on #86
Any workaround **_without_ GitHub Actions** (I'm not yet into the beta 😢)?

[2019-06-21 11:51] egoist opened #541 "Respect custom registry in .npmrc"
In my project I have `.npmrc`:

<img width="391" alt="屏幕快照 2019-06-21 下午7 49 48" src="https://user-images.githubusercontent.com/8784712/59920681-e10b6300-945d-11e9-96c9-79a8c9f4966d.png">

But Dependabot still installs dependencies with yarn's default registry:

<img width="1561" alt="屏幕快照 2019-06-21 下午7 50 35" src="https://user-images.githubusercontent.com/8784712/59920708-f7192380-945d-11e9-8971

[2019-06-21 12:23] michaelmior commented on #5
I think it would be preferable to be able to tell dependabot via a config file dependencies which should be updated together. Then if there's an outstanding PR for one of them, that PR would be updated if one of the other dependencies in the same group also has an update.

[2019-06-21 12:46] AndrewLeedham commented on #6
@greysteil Thanks for this, I'll work on implementing it into badgen. What are the possible values for `host`?

[2019-06-21 14:58] greysteil commented on #6
Just “github”, and now that they own Dependabot that’s unlikely to change!

[2019-06-21 17:41] hmarr commented on #538
I just want to clarify your use of the `replace` directive. Are you using it to pin that library to `v1.1.12`? If so, I wouldn't expect a version (`v1.1.3`) to be specified on the left hand side of the `=>` operator.

Assuming that's what you're trying to achieve - you're right that we don't support that properly right now. I'll have a look into fixing it. Thanks for reporting!

[2019-06-21 18:02] jglick commented on #500
Ack. Too low priority for me at the moment to spend time on.

[2019-06-21 18:03] yongtang commented on #538
Thanks @hmarr. In our case, we have dependencies of `github.com/miekg/dns` from our repo (coredns) and we need `v1.1.12`. However, we also depends on `caddy` which currently have a go mod dependency of `github.com/miekg/dns v1.1.3`.

What we want to achieve, is to rewrite caddy's dependency to point to `v1.1.12`, so `replace` is used.

When we do update in our repo (coredns), we expect the bump  `

[2019-06-21 18:12] hmarr commented on #538
Hmm, that doesn't fit with my understanding of how Go modules works. You should only get one version per (major version of a) module. Go modules uses the [Minimum Version Selection](https://research.swtch.com/vgo-mvs) algorithm to decide which version to use. Each version specified in a `go.mod` is the minimum usable version, and MVS effectively picks the maximum of each of these specified version

[2019-06-21 18:50] jglick commented on #5
Note that this feature is typically unnecessary for Maven users, as you can simply introduce a POM property specifying the version of a set of dependencies from a common source, and the bot will correctly offer updates to this property. (More rarely, some projects offer a [BOM](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Importing_Dependencies) for the co

[2019-06-21 18:52] oliikit opened #542 "Provide option to not rebase"
Looks like there's a master ticket of rebasing options over in https://github.com/dependabot/feedback/issues/316 - but I wanted to open an issue here to not detrack that conversation.

Would it be possible to have the option to completely turn off rebasing? It throws some CI checks out of balance for certain repos, and it take a bit of manual work to get all checks passing.

[2019-06-21 19:33] hmarr commented on #538
Closing for now, but please let me know if I've misunderstood @yongtang!

[2019-06-21 19:33] #538 closed

[2019-06-21 20:21] michaelmior commented on #5
In my case, one specific example is for Storybook on node.js. There are several packages (@storybook/react, @storybook-addon-actions, etc.) which commonly have new releases issued together. Right now I have to merge each one, wait for dependabot to rebase, and so on. It would be great if all these could be issued as a single PR since I know the changes are related.

[2019-06-21 20:54] greysteil commented on #5
That’s a really common use case @michaelmior - we have the same with gatsby on Dependabot’s own website, so I’m acutely aware of this one

[2019-06-22 03:24] wolfy1339 opened #543 "Ability to define update groups (monorepos)"
With Greenkeeper, one cool feature is that I can have it update a dependency across multiple packages in the same repo in a single PR.

In the config you would create these groups and they would be (example for JavaScript) an array containing paths to the package root relative to the repository's root

[2019-06-22 10:55] greysteil commented on #542
Would just disabling rebasing from you account settings work for you here? We'll probably move the option down to the repo level in time.

![image](https://user-images.githubusercontent.com/1144873/59962971-a1d42500-94e4-11e9-9975-f1d27d3e7a0c.png)

[2019-06-22 10:55] #542 closed

[2019-06-22 15:26] AndrewLeedham commented on #6
:rocket: I implemented the dependabot badge in badgen and it has been merged https://github.com/badgen/badgen.net/pull/288 use https://flat.badgen.net/dependabot/user/repo?icon=dependabot :smiley:

[2019-06-22 18:06] greysteil commented on #6
BNice one @AndrewLeedham! Thanks 😄

[2019-06-22 19:36] greysteil commented on #86
We're working on a general fix for this in GitHub right now (i.e., allowing you to specify bots as actors that are allowed to push to protected branches).

[2019-06-22 19:44] greysteil commented on #541
Oh interesting. I bet we've got some logic that is ignoring the default registry, but of course for Yarn it makes a difference. Will dig into this and get it fixed for you.

[2019-06-22 22:36] greysteil commented on #541
Hmmm, I can't find what's causing this. We're still writing the `.npmrc` when we attempt to do the update, so it should be working.

@feelepxyz can you take a look? Could have something to do with Lerna being in the mix, too? A relevant PR with the registry change is [this one](https://github.com/saberland/saber/pull/272/files).

[2019-06-24 09:21] nicolasrouanne commented on #86
For those who don't have GitHub Actions yet the **`autoapproval` bot** is working great. You can _self host it_ ([source code](https://github.com/dkhmelenko/autoapproval)) or _add the [GitHub app](https://github.com/apps/autoapproval)_ (that's what I did).

Here is my `.github/autoapproval.yml` settings file:
[code]

<img width="663" alt="Screenshot 2019-06-24 at 11 15 16" src="https://user-images

[2019-06-24 13:38] oliikit commented on #542
Ah - I didn't realize that was an option. Repo level would be a great addition - but this should suffice.

[2019-06-24 13:43] greysteil commented on #542
Awesome. Repo level is definitely coming!

[2019-06-24 16:23] greysteil commented on #537
Got this fixed within GitHub, so Dependabot can now give overall PR review comments a reaction. 🎉

[2019-06-24 16:23] #537 closed

[2019-06-24 17:28] feelepxyz commented on #541
Oh yeah will take a look! Assuming this works as expected when doing yarn
install locally?

On Sun, 23 Jun 2019 at 00:36, Grey Baker <notifications@github.com> wrote:

[2019-06-24 17:34] Mcat12 commented on #86
@nicolasrouanne that kind of fix is unrelated to this issue, as I previously mentioned:

https://github.com/dependabot/feedback/issues/86#issuecomment-495785587

[2019-06-25 05:03] addstone opened #544 "The github username has been changed, causing the service to be unable to use the dependabot"
![image](https://user-images.githubusercontent.com/6231419/60070506-8cac0000-9749-11e9-9e2d-33b21bf817b2.png)
![image](https://user-images.githubusercontent.com/6231419/60070655-00e6a380-974a-11e9-8457-e9157650a299.png)

[2019-06-25 05:04] addstone commented on #544
dependabot.com  找不到地方改变用户名

[2019-06-25 05:18] addstone commented on #544
github 用户名改变后在 dependabot 未同步，导致不能使用相应的服务

[2019-06-25 06:26] feelepxyz commented on #544
@addstone updated your username ✌️ It's usually synced every time we do an update on your account.

[2019-06-25 06:26] #544 closed

[2019-06-25 09:19] greysteil commented on #86
@Mcat12 we'll have a fix for that direct in GitHub (and usable for other apps, not just Dependabot) in the next few days. @feelepxyz is working on it right now 🙂

[2019-06-25 12:29] greysteil commented on #510
I'm going to close this as a duplicate and continue the conversation in #443.

[2019-06-25 12:29] #510 closed

[2019-06-25 12:30] greysteil commented on #443
Everyone on this thread: I'd love your eyes on https://github.com/dependabot/dependabot-core/pull/1227. Will it give you what you need?

[2019-06-25 12:31] greysteil commented on #186
Everyone on this thread: I'd love your feedback on https://github.com/dependabot/dependabot-core/pull/1227, which will make the PR (and commit) prefix configurable. Will it give you what you need?

[2019-06-25 13:00] dmsergeevN26 commented on #443
Thanks. It would give us a way to configure the commit message prefix, but not the branch name

[2019-06-25 13:11] greysteil commented on #443
Configuring branch names sounds like a separate issue to me - do you want to open a new issue to discus that?

[2019-06-25 13:53] dmsergeevN26 commented on #443
Sure

[2019-06-25 13:58] addstone commented on #544
Thank you very much

[2019-06-25 14:48] simlu commented on #443
It would make the semantic-release use case mentioned several times before possible and resilient. However it will still require a custom releaserc config. Allowing for different prefixes would remove that: ie if we could say dev deps are a chore and deps are a fix

But much, much better than what is currently there! So definitely a good pr! Thank you!

[2019-06-25 14:55] AdamVig commented on #443
I second the use case mentioned in the previous comment: at my company, development dependency updates should always be `chore` and regular dependency updates should be `fix`.

With that said, the proposed configuration file change is a step in the right direction. Thanks!

[2019-06-25 15:07] dmsergeevN26 opened #545 "Configurable branch name"
We'd like to be able to configure the branch prefix and format. It is required for regulatory purposes.

[2019-06-25 16:04] jodastephen commented on #324
Was there any progress on this one? (ignoring the "live" setting when using the API, as a minimum) We're about to start creating the workaround (logging on to the web page to simulate pushing the button) but I don't want to do that if there is progress!

[2019-06-26 00:31] idm-ryou opened #546 "Allow teams to be set as default reviewers"
It seems like it is not possible for now.
(Sorry if I am wrong!)

It is nessesary for Pull Panda [Pull Assigner](https://pullpanda.com/assigner) to automate review assignment.

[2019-06-26 07:56] greysteil commented on #546
That’s correct, and it’s an old GitHub bug that we’re working to fix

[2019-06-26 07:58] hueneburg opened #547 "Self hosting dependabot"
Hi, I was wondering if there is a way to self host dependabot. This would allow bigger organizations who want to keep their code on their own servers to use it as well.

Or am I just too stupid to find the documentation for that?

[2019-06-26 10:09] greysteil commented on #547
Definitely not too stupid! We don't support GHE (or self-hosting) yet, but are planning to - there's an issue tracking it [here](https://github.com/dependabot/feedback/issues/485). In the meantime, there's also [Dependabot Script](https://github.com/dependabot/dependabot-script) which you can use to run locally, but lacks some of Dependabot's functionality.

Finally, if you'd like to help us prior

[2019-06-26 10:09] #547 closed

[2019-06-26 12:18] leastprivilege opened #548 "Directory.Build.Targets with variables"
We use this file

https://github.com/IdentityServer/IdentityServer4/blob/master/Directory.Build.targets

It makes use of variables. Dependabot does not seem to pick this file up.

Do I need to do anything special - or is this not supported yet?

[2019-06-26 18:36] AraHaan commented on #285
Hmm So you cant just create a card in the 'void' and have github automatically places it for you in 'Todo', etc?

[2019-06-26 21:01] greysteil commented on #285
@AraHaan - sadly not!

@Hsn723 - yes, I think that might be the best approach here, but want to follow up with some GitHub folks first.

[2019-06-27 08:13] #128 closed

[2019-06-27 09:55] feelepxyz commented on #541
Hey, not sure we can do much about this atm as this is happening inside
yarn. Yarn always seems to rewrite registry.npmjs.org to
registry.yarnpkg.com in yarn.lock as soon as you do any type of update
(e.g. yarn add) ignoring what's in your .npmrc.

Did you recently move from npm to yarn? Any reason you are keen to keep it
as registry.npmjs.org?

On Mon, 24 Jun 2019 at 18:28, Philip Harrison <phili

[2019-06-27 10:09] greysteil commented on #186
Fixed by https://github.com/dependabot/dependabot-core/pull/1227.

[2019-06-27 10:09] #186 closed

[2019-06-27 10:10] greysteil commented on #443
Fixed by https://github.com/dependabot/dependabot-core/pull/1227. For anyone who wants to customise the prefix based on whether it's a production / development dependency, can you open a separate issue, please? :-)

[2019-06-27 10:10] #443 closed

[2019-06-27 10:26] dmsergeevN26 commented on #443
@greysteil Opened https://github.com/dependabot/feedback/issues/545 for the branch name issue

[2019-06-27 10:36] greysteil commented on #545
Thanks @dmsergeevN26. Can you give a bit more detail about what your requirements are on branch names? I actually used to run the compliance team at a FinTech company (GoCardless) so feel free to go into the minutiae!

[2019-06-27 11:10] frafra commented on #534
Hi! Any news about that?

[2019-06-27 14:27] LemonAndroid opened #549 "Delete account"

[2019-06-27 14:27] LemonAndroid opened #550 "Delete account"

[2019-06-27 15:17] feelepxyz commented on #550
@LemonAndroid you can uninstall Dependabot from your GiHub account here: https://github.com/settings/installations

[2019-06-27 15:17] #550 closed

[2019-06-27 15:17] feelepxyz commented on #549
@LemonAndroid you can uninstall Dependabot from your GiHub account here: https://github.com/settings/installations

[2019-06-27 15:17] #549 closed

[2019-06-27 17:04] richardson-trevor opened #551 "Allow unique commit message style for prod & dev deps"
As requested in https://github.com/dependabot/feedback/issues/443#issuecomment-506284543, opening a ticket to track for folks using conventional commits with semantic-release.

### Summary
We are using [conventional commits](https://www.conventionalcommits.org/en/v1.0.0-beta.4/) in combination with [semantic-release](https://semantic-release.gitbook.io/semantic-release/) to automate cutting new ve

[2019-06-27 17:06] richardson-trevor commented on #443
The new issue for configuring unique commit messages per dev/prod deps can be found in https://github.com/dependabot/feedback/issues/551.

[2019-06-27 20:38] rafaelszt opened #552 "Error with 403 Forbidden"
Hello,

Getting the following errors when accessing the website.
[code]

And when I try to access the a config page for a given repository it crashes with the same error.

Any help?

[2019-06-27 22:35] jrjohnson commented on #108
Would love to prevent automerging anything with a new NPM release user. Those are called out in the UI and I'd love for dependabot to force me to check those PRs manually.

[2019-06-28 08:39] feelepxyz commented on #552
@rafaelszt oh will take a look! Possibly something is out of sync with GitHub. Could you send the update config id to [support@dependabot.com](mailto:support@dependabot.com)?

[2019-06-28 12:18] rafaelszt commented on #552
@feelepxyz seems like it's back on sync again, since it's working now. If you still wanna take a look at what was happening I can send you the id, otherwise we can close this.

[2019-06-28 12:35] feelepxyz commented on #552
Nice one! Lets close for now, we sync a bunch of resources on each update so if you have any issues manually bumping could help fix things up.

[2019-06-28 12:35] #552 closed

[2019-06-28 14:06] DaveOps83 commented on #5
+1

[2019-06-28 17:55] greysteil commented on #551
Thanks for this. I've added a `prefix_development` option that will let you specify a different prefix for development dependencies to production ones. It's documented [here](https://dependabot.com/docs/config-file/#commit_message).

[2019-06-28 17:55] #551 closed

[2019-06-28 19:28] oliikit opened #553 "Total number of open PRs on app homepage"
It would be great to have the total number of open PRs on the app UI homepage so teams can see how much is on their plate when dealing with multiple repos.

Right now, you can kind of get away with a simple global search with your organization and the labels you use for Dependabot, but it still isn't the greatest.
https://github.com/search?utf8=%E2%9C%93&q=label%3Adependencies+state%3Aopen&type=Is

[2019-06-28 22:09] greysteil commented on #108
@jrjohnson that makes sense to me. We have a lot on our plate right now, but I'd like to increase the options for specifying automerge conditions in future.

[2019-06-28 23:01] greysteil commented on #553
Thanks for the kind words. We'd love to integrate this into some kind of organization insights page within GitHub. Will likely be part of the GitHub integration once complete :-)

[2019-06-30 21:24] oliikit commented on #553
Awesome, thanks for the update! 😃 I can go ahead and close this since it's on your roadmap. Can't wait!

[2019-06-30 21:24] #553 closed

[2019-07-01 10:09] bobvanderlinden commented on #190
Is there already a way to configure this for dependabot? I'd like to enable this for a whole repo (so that the whole team is included). Is that a possibility?

[2019-07-01 10:10] greysteil commented on #190
Yes - you can configure this in your account settings from your [dashboard](https://app.dependabot.com).

[2019-07-01 18:24] greysteil commented on #548
This wasn't supported but should be now!

[2019-07-01 18:24] #548 closed

[2019-07-01 18:25] greysteil commented on #545
@dmsergeevN26 gentle reminder on the above.

[2019-07-01 18:25] #526 closed

[2019-07-01 18:27] greysteil commented on #520
Fixed this on 18th June and forgot to close out this issue!

[2019-07-01 18:27] #520 closed

[2019-07-01 18:41] jpinkster opened #554 "Bulk Update Repo Settings"
We love this app and have it running for about 30 different active repos. Currently we have to open each repo settings if we want to change the default Reviewer and Update Schedule. I would be awesome if we could bulk edit some shared settings that would exist across all project types

[2019-07-01 18:49] greysteil commented on #554
Thanks for the kind words! The plan on this one is to allow a global config file (or something similar), the same way you can have a `.github` repository with global GitHub settings. I'm not exactly sure how the details will work yet, but it will be part of the full integration with GitHub.

[2019-07-01 18:51] jpinkster commented on #554
ok cool that would be nice to consolidate those settings into the repos `.github` folder!

[2019-07-01 18:51] #554 closed

[2019-07-01 20:41] aaajanp opened #555 "Overlapping text on the repos page"
On the repos page, if your config name is too long, it can overlap the "last checked" label. Adding some margin between the two would look better.

<img width="671" alt="Screenshot 2019-07-01 at 21 36 54" src="https://user-images.githubusercontent.com/20663698/60465441-ff851180-9c48-11e9-9ea3-3ec2c60e68a1.png">

[2019-07-01 20:42] greysteil commented on #555
Thanks for the heads up. @feelepxyz can you take a look?

[2019-07-01 21:08] jglick opened #556 "Create backlinks from upstream PRs to dependency bump PRs"
Consider https://github.com/jenkinsci/jenkins-test-harness/pull/144 which was integrated in https://github.com/jenkinsci/plugin-pom/pull/214. The POM PR links to the library PR in its **Release notes** section. However, there is no backlink from the library PR to the POM PR. This means that someone who stumbled across the library PR (say, while debugging the issue it purported to fix) would not ha

[2019-07-01 21:16] greysteil commented on #556
Thanks for opening this. In this case the reference removal is by design - we do a lot of extra work to remove those backlinks!

Most libraries didn't like all of the "reference spam" Dependabot PRs initially created in situations like the above. Users were even less happy - in the above example `@Vlatombe` would  get hundreds / thousands of emails from all the PRs mentioning him, and we had a num

[2019-07-01 23:47] jglick commented on #556
I see. Could this become an option in the downstream repository’s Dependabot config? In the case I mentioned, and many others like it in our organization, there is *one* place where a `jenkinsci/jenkins-test-harness` release is normally going to get consumed—that is, `jenkinsci/plugin-pom`—so we definitely want the backlinks. Could `plugin-pom/.dependabot/config.yml` therefore say something like

[2019-07-02 00:17] ChrisMaddock commented on #520
Yay - thanks!

[2019-07-02 06:24] leastprivilege commented on #548
Would the next run pick that up automatically?

[2019-07-02 07:26] leastprivilege commented on #548
Actually I just tried it. It doesn't find the targets file automatically.

Even removing and re-adding the repo always defaults to the 1st csproj file (but this is a mono repo with several projects + the targets file at the root).

<img width="692" alt="Screenshot 2019-07-02 09 24 37" src="https://user-images.githubusercontent.com/1454075/60492502-6a673480-9cab-11e9-8729-5e8001284587.png">

[2019-07-02 07:40] dmsergeevN26 commented on #545
in our case the branch names need to be prefixed with the jira ticket name.

[2019-07-02 07:47] greysteil commented on #556
I don't think we can let the downstream repo decide this - it would have to be the upstream repo that did. I don't see why we couldn't do that, but I think a solution within GitHub (i.e., bundling up references from bots) would be a lot nicer.

[2019-07-02 07:55] greysteil commented on #545
Interesting - so would you want to have a new ticket for each Dependabot PR? Do you have an idea for how the process would work?

[2019-07-02 08:13] dmsergeevN26 commented on #545
Tthere would probably be an ongoing jira ticket for each team owning a service, and they would configure the branch name prefix in the dependabot config file along with the commit message

[2019-07-02 08:29] feelepxyz commented on #555
@aaajanp nice catch! Deploying a fix now ✌️

[2019-07-02 08:29] #555 closed

[2019-07-02 10:39] PetterSa commented on #533
Nice! I was looking for this as well. So I have to uncheck `Create a merge commit if a PR is merged by Dependabot` in order for it to do an automatic squash and merge?

[2019-07-02 10:39] greysteil commented on #533
Yep!

[2019-07-02 10:47] greysteil commented on #548
If you hover over the `...` in that screen you'll see the other files Dependabot is monitoring. They are:

[code]

[2019-07-02 11:20] twalsh92 commented on #259
Is there any update on this, as I'm currently hitting issues with this?

[2019-07-02 11:34] greysteil commented on #259
Not yet. If you link to some PRs that are incorrect from here it will help us build fixtures when we fix, though.

[2019-07-02 11:59] glennawatson opened #557 "Dependabot is failing to find the .csproj file"
I am getting a issue generated by dependabot that it can't find the csproj https://github.com/glennawatson/GitSMimeSign/issues/2

There is one at https://github.com/glennawatson/GitSMimeSign/blob/master/src/GITSMimeSign/GitSMimeSign.csproj

I am wondering why it's generating the following issue?

[code]

I added one originally for the `/` root folder then tried `/src` after the failure, hence the

[2019-07-02 12:06] glennawatson commented on #557
https://github.com/glennawatson/GitSMimeSign/issues/1 and https://github.com/glennawatson/GitSMimeSign/issues/2

[2019-07-02 13:33] greysteil commented on #534
Not yet. I've just done a big refactor of our Python version detection code, though (it's [here](https://github.com/dependabot/dependabot-core/pull/1241)), which will make this possible. Next step is to parse the `python_requires` version in `PythonRequirementParser`, and final step (after that) will be to use the detector class when dealing with `requirement.txt` files.

[2019-07-02 13:42] leastprivilege commented on #548
You are right! There is some room for improvement in this UI ;)

[2019-07-02 14:45] greysteil commented on #557
It looks like the difficulty here is that your `.sln` file specifies the paths as being in the `GitSMimeSign` and `GitSMimeSign.Tests` directories, but the casing on the actual directories differs (it's `GITSMimeSign` and `GitSMimeSign.Tests`). Filenames on GitHub are case sensitive - if you update the casing to match then Dependabot should work as expected.

[2019-07-02 14:52] glennawatson commented on #557
Ah thanks for that. One suggestion would be maybe to update that issue message? It's suggesting it can't find csproj without mention of the sln.

[2019-07-02 15:02] greysteil commented on #557
Good shout - implemented in [this commit](https://github.com/dependabot/dependabot-core/commit/18b65b014e77feebce8bc08862b85e6f9ae5f600).

Thanks for giving Dependabot a try!

[2019-07-02 15:02] #557 closed

[2019-07-03 15:35] 3F commented on #259
Same here :(

DllExport project:

* https://github.com/3F/DllExport/pull/97

vsSolutionBuildEvent project:

* https://github.com/3F/vsSolutionBuildEvent/pull/48
* https://github.com/3F/vsSolutionBuildEvent/pull/49
* https://github.com/3F/vsSolutionBuildEvent/pull/50
* https://github.com/3F/vsSolutionBuildEvent/pull/51
* https://github.com/3F/vsSolutionBuildEvent/pull/52

[2019-07-03 15:48] justalemon commented on #259
All of the PRs that have caused problems on my repos:

* justalemon/ServerManager#8
* justalemon/ServerManager#9
* justalemon/ControllerReload#1 (manually fixed by me)
* justalemon/GGOV#16 (also manually fixed)
* justalemon/GGOV#17

[2019-07-03 20:25] 3F commented on #259
**Notable:** Some updates may add **new** references in project files if we're talking about nuget manager.

For example, for projects below, the following direct reference are not needed. But **NuGet dependency policy** will add this anyway:

* Cecil 0.10.3 to 0.10.4 (same case as for my link to PR above):

[code]

* Microsoft.VisualStudio.Shell.15.0.15.9.28307 to 16.1.28917.181
[code]

### Choos

[2019-07-03 22:19] althonos opened #558 "Add support for Python dependencies in `setup.cfg`"
Hi !

Ever since `setuptools` started supporting setup configuration files, I've been using them instead of hardcoding configuration values in the `setup.py` script. However, it does not seem like these files are supported by Dependabot right now.

Adding support would be fairly simple: check for `setup.cfg`, parse it as an INI configuration file, and check the value in `setup_requires`, `tests_re

[2019-07-03 22:20] greysteil commented on #558
Oh good point. We have a kind of partial support for them, where we can handle libraries that use them alongside a `requirement.txt`, but don't parse them or update them. We should.

[2019-07-03 22:50] greysteil commented on #534
Shipped in https://github.com/dependabot/dependabot-core/commit/3011eab55d1b620d4ffbe4a9466a97e9a96de8df. 🎉

[2019-07-03 22:50] #534 closed

[2019-07-03 22:50] greysteil commented on #534
Thanks for suggesting this, and for the encouragement to get it done.

[2019-07-04 08:37] chriseyre2000 opened #559 "Need to be able to specify checks required for merge."
It would be useful if we could specify the minimum required checks before a merge happens.

We use Jenkins for unit test and our platform team have been experimenting with snyk.
The problem is if snyk responds first then a build can be merged that has failing tests.

We either need to be able to do this in the UI or in the config file.
All I really need to to be able to see that the unit tests hav

[2019-07-04 09:01] greysteil commented on #559
Hmmm, is it possible to do this on GitHub already? I've seen PRs with statuses that say "required" on them. Perhaps Dependabot could piggy back off of that UI...

[2019-07-04 11:05] chriseyre2000 commented on #559
Jenkins reports success in a different way. What I would like at a minimum is to have snyk is not enough to merge on it's own. (ie. Snyk can fail a build but it is not enough to pass on it's own).

[2019-07-04 13:44] chriseyre2000 commented on #559
We now know more about this.

There is a race condition between Jenkins reporting that testing has started and Snyk running checks. If Snyk wins it will merge the change even if the tests fail.

[2019-07-04 14:24] tmcnicholls opened #560 "PHP: Dependabot updating lock file with other packages"
Dependabot opened 2 PRs on a repository today. One was to update PHPStan, the other for PHPUnit.

The composer.lock in both PRs also included package updates for packages not named in the title. The PHPStan PR also included the PHPUnit update, along with `beberlei/doctrineextensions` and `symfony/finder`. The PHPUnit PR also included the PHPStan update.

They also included an internal composer pac

[2019-07-04 15:15] merwok commented on #424
This came back!

This PR updated django 2.1 in lock file: https://github.com/caravancoop/rest-framework-auth-toolkit/pull/95

Then another PR tried to update to django 2.2: https://github.com/caravancoop/rest-framework-auth-toolkit/pull/96
I closed that one, reopened the first one, but after the rebase it’s also an update to 2.2

[2019-07-04 23:08] greysteil commented on #424
Sorry about that - Dependabot's PRs wont' respect constraints unless you ask Dependbaot to only update the lockfile (when you  can specify in your dashboard on the repo settings or through a config file).

[2019-07-05 09:41] chriseyre2000 commented on #559
I heard that dependabot keeps a history of known checks and will wait for them.
It would be useful for us to be able to specify these checks ourselves.

[2019-07-05 09:45] greysteil commented on #559
Sadly we don't do that anymore - it was a nightmare to keep up-to-date, and caused a lot of "why didn't this merge?" inquiries. We switched to listening for  check runs which broadly fixed things.

So in this case it sounds like the trouble is that the Snyk check can finish so fast that the Jenkins one hasn't even told GitHub that it's processing? I think just adding a delay on the Dependabot side

[2019-07-05 10:11] WyriHaximus opened #561 "Automatically assign milestone"
Hey would it be possible to automatically assign a milestone to a PR Dependabot opens?

[2019-07-05 10:18] chriseyre2000 commented on #559
That might help, but it would be better if we had an (optional) list of checks that (if present) we expect to run.

[2019-07-05 10:19] greysteil commented on #559
Yeah, trouble is that sounds like it should definitely be a GitHub feature, rather than something that lives in Dependabot (especially since we're working to integrate Dependabot into GitHub), and figuring out how a UI for that would work is a bunch harder...

[2019-07-05 10:49] greysteil commented on #558
@althonos can you link to a repo that uses this setup? Would help a lot with adding support.

[2019-07-05 10:58] greysteil commented on #560
@tmcnicholls can you @-mention dependabot in the bad PRs, so I can find them in our backend?

We shell out to Composer for the updated lockfile generation, and try to lock things down before doing so, but it sounds like we didn't do enough on that here.

[2019-07-05 11:05] tmcnicholls commented on #560
@greysteil I've just mentioned you in both PRs.

Thanks

[2019-07-05 12:30] merwok commented on #424
I supposed that for this project, only lockfile + not only security updates will give the result I want :slightly_smiling_face:

For the preview version integrated with github security settings, we only have config file, not dependabot dashboard, do we?

[2019-07-05 12:38] greysteil commented on #424
Not even config file yet, I'm afraid - we're working on it!

[2019-07-05 12:57] bjorn3 commented on #75
I want to opt-out, because 99% of all build failures on my project are because my project itself doesn't compile anymore on the latest rustc nightly, instead of a broken dependency.

[2019-07-05 12:59] greysteil commented on #561
Yes! You can already comment `@dependabot use this milestone` if you're not using config files. Not sure why they're not supported in config file - @feelepxyz any ideas? Would look something like:

[code]

[2019-07-05 13:17] WyriHaximus commented on #561
Neat! We also discussed this in the team, and what we are thinking of is picking the latest open milestone. (Which would be dynamic where the config file is static.) But we came to the conclusion such option would be rather complex to meet most of the desires patterns out there and that such thing wouldn't be something to burden an external service with.

[2019-07-05 13:20] feelepxyz commented on #561
Ah yeah never added this because I was unsure how it would fit with other SCM APIs but we're probably not going to support another SCM any time soon so happy with `default_milestone: id` 🤠

[2019-07-05 13:22] greysteil commented on #561
Ah cool, that makes sense. All coded up at https://github.com/dependabot/dependabot-backend/pull/1172 if you want to do the honours there @feelepxyz.

@WyriHaximus - makes sense. We won't support that, at least for now, but it's the perfect candidate for a GitHub Action.

[2019-07-05 13:30] #561 closed

[2019-07-05 13:53] greysteil commented on #179
FYI, I've just had the 👍 from the relevant team at GitHub to fix this. Fix should be implemented in the next couple of weeks.

[2019-07-05 13:54] #483 closed

[2019-07-05 13:54] greysteil commented on #483
Closing as stale.

[2019-07-05 13:56] greysteil commented on #546
Update: just got the 👍 from the Ecosystem Apps team, which means this should be resolved soon. (The tricky part of this one was thinking through permissioning, which is now done - only implementation remains.) It will fix this for all GitHub apps that interact with PRs.

[2019-07-05 15:12] greysteil commented on #559
OK, I've implemented a minimum wait before Dependabot merges a PR. It's set to 60 seconds, which hopefully should be long enough for your check runs to report that they've started.

[2019-07-05 15:21] chriseyre2000 commented on #559
Thanks

On Fri, 5 Jul 2019 at 16:12, Grey Baker <notifications@github.com> wrote:

[2019-07-05 15:22] greysteil commented on #559
No worries - thanks for the feedback! It's how we get better :-)

[2019-07-05 15:30] merwok commented on #424
Ah so one shouldn’t have both dependabot app + «security PRs: on» at the same time I suppose!

[2019-07-05 15:31] greysteil commented on #424
Yeah - if you've got Dependabot Preview on then that should be all you need! :-)

[2019-07-05 15:38] WyriHaximus commented on #561
@greysteil thinking the same time if we would have access to actions ;). But might actually write one on my own account first :)

[2019-07-05 15:39] greysteil commented on #561
You'll have them pretty soon, I promise ;-)

[2019-07-05 15:58] greysteil commented on #560
Awesome, got the tags and will dig into it!

[2019-07-05 16:21] rdohms commented on #179
@greysteil can we re-open this and point it to the PR so we can keep track?

[2019-07-05 16:24] greysteil commented on #179
I think following https://github.com/dependabot/dependabot-core/issues/1198 is the best option - I'll add updates there when I have more.

[2019-07-05 17:16] WyriHaximus commented on #561
Cool!

[2019-07-05 17:49] mwarkentin commented on #543
We have some repos using Renovate and it seems to have similar capabilities - our devs would like to have the ability to group minor and major upgrades separately:

[2019-07-05 18:26] althonos commented on #558
@greysteil : sure ! [althonos/InstaLooter](https://github.com/althonos/InstaLooter) has that kind of structure, with every dependency listed in `setup.cfg`.

[2019-07-06 07:28] hlascelles opened #562 "Dependabot comments are using incorrect github links"
The issue links in dependabot comments are links to the local repo, not the original dependency repo. See https://github.com/hlascelles/que-scheduler/pull/80 for an example.

This would just be annoying, but it is actually now somewhat dangerous, as merging that PR will automatically close the repository's unrelated (but same numbered) PRs. This has happened with the example above. When that PR wa

[2019-07-06 07:28] hlascelles commented on #562
Essentially, I think this is a regression of this bug: https://github.com/dependabot/feedback/issues/144

[2019-07-07 17:06] greysteil commented on #562
Thanks for the bug report - fixed in https://github.com/dependabot/dependabot-core/commit/4c6485529379a5a5a52238bdfe7e732299b0f52c. (Looks like we'd never been sanitizing lowercase `gh-` references.)

[2019-07-07 17:06] #562 closed

[2019-07-08 10:16] greysteil commented on #519
FYI, I've added a 1 minute delay before Dependabot merges PRs. That should fix this as long as check runs are kicked off in a relatively timely manner - thanks for reporting it!

[2019-07-08 10:16] #519 closed

[2019-07-08 10:46] dpursehouse opened #563 ""Dependabot commands and options" section uses outdated @ username"
For example:

[code]

but the username is now `dependabot-bot`

[2019-07-08 10:51] greysteil commented on #563
Hmm, that shouldn't be the username - `dependabot-bot` has been retired. You should be seeing either `dependabot[bot]` or `dependabot[preview]`, our comment handling listens for all variants (but the preferred name is just `dependabot`).

[2019-07-08 10:55] dpursehouse commented on #563
OK, I just checked again.  The actual username I'm seeing on the PR is `dependabot-preview`, but if I start typing a comment the one I see in the autocomplete list is `dependabot-bot`.

<img width="379" alt="Screen Shot 2019-07-08 at 19 54 41" src="https://user-images.githubusercontent.com/836426/60805145-4085a480-a1ba-11e9-8ec0-7e43f12d669c.png">

[2019-07-08 10:55] #563 closed

[2019-07-08 10:56] greysteil commented on #563
Ah, that's a different issue, and a wider GitHub one. GitHub doesn't currently suggest autocompletes for app names. @feelepxyz is working to fix that now, so no need to re-open this :-)

[2019-07-08 23:13] greysteil commented on #527
Fixed by https://github.com/dependabot/dependabot-core/commit/19a3c4b7f60d873ef644d338bbf63e9734ec4747, which I'll get deployed now. Thanks for the feedback, and sorry it took a little while to address!

[2019-07-08 23:13] #527 closed

[2019-07-09 02:49] kevinhughes27 opened #564 "Remind users about notification settings"
I added Dependabot to a few of my personal projects that it turns out I wasn't actually watching on GitHub so I didn't catch the opened PRs for a bit. I might have missed it but it could be a good opportunity after configuring a repo to remind users to check their notification settings for that repo.

[2019-07-09 04:27] mxschmitt opened #565 "Sometimes sqash and merge does not work"
Example PRs:
- https://github.com/react-bootstrap/react-bootstrap/pull/4008
- https://github.com/react-bootstrap/react-bootstrap/pull/4006

You then have to try it multiple times. Sometimes it's then working but sometimes also not.

I think, that this is due the GitHub merge technology, that they have to check the status again if it's mergeable. Maybe some kind of round robin implementation could

[2019-07-09 05:46] idm-ryou opened #566 "Support default projects"
As well as labels or milestone. It should be very useful for us.
"projects" here means [GitHub project boards](https://help.github.com/en/articles/about-project-boards).

[2019-07-09 13:42] feelepxyz commented on #564
@kevinhughes27 good point! I think we'll hold off on adding more features like this to the existing Dependabot Preview dashboard and instead focus on integrating Dependabot with GitHub where everything would be happening in the same interface so less chance of missing updates. We could also tailor the messaging based on the users actual settings.

[2019-07-09 14:17] kevinhughes27 commented on #564
Makes sense!

[2019-07-09 14:49] markwallsgrove opened #567 "Wiped Configurations"
We somehow managed to wipe all our of applications when using the ui with multiple users within a organisation.

[2019-07-09 15:12] feelepxyz commented on #567
@markwallsgrove oh you mean all projects where removed from the Dependabot dashboard? Which organisation did this happen for?

[2019-07-09 15:12] #564 closed

[2019-07-09 18:27] Mcat12 commented on #86
@greysteil Can you update this issue when the feature has been released?

[2019-07-09 18:31] greysteil commented on #86
For sure. The whole of GitHub is at a big offsite this week so it won't happen in the next 7 days, but the code is almost ready and should be deployed next week.

[2019-07-09 19:58] patrick-webs commented on #211
+1 for making this possible in the future if possible. I'm seeing the same issue when investigating using Dependabot for my organization; our maven and npm repositories are currently hosted on internal-only networks for security reasons and if I open it up to the Internet, being able to use an IP whitelist to increase security beyond just using the registry's password feature would be ideal.

[2019-07-09 21:43] greysteil commented on #211
@patrick-webs understood - thanks for the feedback. The infrastructure we're using to host is changing a bunch as part of the GitHub integration so we can't focus on this right now, but it's something we'd like to work on in future.

[2019-07-10 08:52] feelepxyz commented on #566
@idm-ryou thanks for the suggestion! We're currently tracking this issue over here so will close this one https://github.com/dependabot/feedback/issues/285

[2019-07-10 08:52] #566 closed

[2019-07-10 13:48] markwallsgrove commented on #567
@feelepxyz yes. The organisation was [Talis](https://github.com/talis).

[2019-07-10 15:50] feelepxyz commented on #565
@mxschmitt hopefully fixed now, we where drowning in webhooks for a while which was causing commands to queue up for ages. Let us know if this keeps happening!

[2019-07-10 15:50] #565 closed

[2019-07-10 16:39] feelepxyz commented on #567
@markwallsgrove looks like you have three active repositories configured, one using config files so won't be configurable via the dashboard anymore.

Could you email [support@dependabot.com](mailto:support@dependabot.com) with the repository names you lost configuration for? I would like to confirm which private repos where affected. Will close this to continue via email.

[2019-07-10 16:39] #567 closed

[2019-07-11 03:49] Richienb opened #568 "How to tell Dependabot to make semantic pull requests"
I've got Dependabot set up on most of my repositories along with Probot's Semantic Pull Requests bot.

How do I tell Dependabot to globally create semantic pull requests?

[2019-07-11 08:00] acraven opened #569 "Please clarify license for commercial use"
I would like to set-up dependabot for a client I'm working for, but I'm certain as to the license terms and cost of such use. The web-site and repo seem inconsistent.

**From https://dependabot.com/** Dependabot has been acquired by GitHub and is now free of charge
**From https://github.com/dependabot/dependabot-core/blob/master/LICENSE** You must limit use of this software in any manner primarily

[2019-07-11 08:40] feelepxyz commented on #568
@Richienb you can specify the commit message prefix and scope using config files: https://dependabot.com/docs/config-file/#commit_message

By default, Dependabot will attempt to detect your commit message preferences (including semantic commits) and use those based on the last commits from master.

[2019-07-11 08:40] #568 closed

[2019-07-11 08:43] feelepxyz commented on #569
@acraven @greysteil is currently looking into our licenses with GitHub so best placed to answer but he's away this week at an offsite.

[2019-07-11 11:44] greysteil commented on #569
@acraven the license on Dependabot Core is for using that library to self-host a dependency updating tool - it doesn't apply to using the hosted Dependabot service.

[2019-07-11 11:44] #569 closed

[2019-07-11 12:37] WaldoJeffers commented on #316
I think this is a quite clever idea :)

[2019-07-11 15:38] samselikoff opened #570 "Stop Dependabot from rebasing failed PRs"
Thank you for this amazing tool!

We ran into an interesting situation where a Dependabot PR of ours got stuck in a rebase cycle.

The build failed, and we knew nothing would fix it until we gave it attention, but Dependabot kept rebasing it as other merges were happening.

I'm wondering if there's a way to tell Dependabot that if a PR fails, keep it open but don't keep rebasing it? Basically, mar

[2019-07-11 15:41] samselikoff opened #571 "Only open PRs for releases that have been stable for X days/a week"
I was wondering if there's a way to tell Dependabot to only open PRs for new releases that have been "stable" for a week.

By a stable release, I mean one that has been out for a week (or X days), _with no subsequent releases since_.

The problem this addresses is that sometimes OSS maintainers release a few versions quickly due to bugs, or a new release of a lib will get several patch versions in

[2019-07-11 18:11] RohanNagar commented on #571
Possible duplicate of

https://github.com/dependabot/feedback/issues/108

https://github.com/dependabot/feedback/issues/295

[2019-07-11 18:56] samselikoff commented on #571
Yep, missed those! Thanks

[2019-07-11 18:56] #571 closed

[2019-07-11 22:07] phallguy opened #572 "Alert if dependencies are published without TFA"
Was just reading about how the [strong_password gem was hijacked](https://withatwist.dev/strong-password-rubygem-hijacked.html) and thought it would be great if dependabot could alert if we depend on any gems/node modules/etc that are published by owners that _do not_ have TFA enabled on their account. Not sure if the package repos provide insight required to alert on this but I think it could be

[2019-07-12 02:03] aiham opened #573 "Many lines deleted from yarn.lock file"
This might be related to #213 and #243

Dependabot is creating a yarn.lock file which is different to what yarn client creates on dependabot's PR branch. It's deleting thousands of lines from yarn.lock just for bumping the patch version of a single dependency.

I hit this in a private repo so I've moved just the package.json files to demonstrate the issue. It's a yarn workspace project with multip

[2019-07-12 04:15] aiham commented on #573
I think I've found the issue. It's only seeing the root package.json file, not the other packages. Maybe because they're nested 2 levels down?

![Screen Shot 2019-07-12 at 2 13 41 pm](https://user-images.githubusercontent.com/609164/61101964-47106680-a4af-11e9-8899-cff400fa2c7f.png)

[2019-07-12 09:38] feelepxyz commented on #573
@aiham ah yeah we currently only fetch one level deep on globs so don't find the nested packages (would result in too many requests if we did).

Think this would work if you expanded the packages glob for each nested folder:

[code]

Although, not sure about `patch-package` - does this rewrite your lockfile after install?

[2019-07-12 10:48] mxschmitt commented on #283
@greysteil could you enable it on our @react-bootstrap organization too? Best regards

[2019-07-12 10:56] andreas-venturini opened #574 "Not able to add GitHub Package Registry as Rubygems server (via GUI)"
Expected: I can add gemsource credentials for my org's GitHub Rubygems server
Actual: Shows error *Config variables may not specify GitHub as the host*

![image](https://user-images.githubusercontent.com/4801917/61123142-e92a5180-a4a3-11e9-9886-53d42554cf58.png)

[2019-07-12 11:12] feelepxyz commented on #283
@mxschmitt done! It's now configurable in the dashboard account settings: https://app.dependabot.com/

[2019-07-12 11:13] feelepxyz commented on #574
@andreas-venturini ops that looks like a bug! Taking a look now.

[2019-07-12 12:00] feelepxyz commented on #574
@andreas-venturini should be fixed now, want to give it another go?

[2019-07-12 12:09] andreas-venturini commented on #574
Works now :+1:

Thanks for the quick fix :)

[2019-07-12 12:09] #574 closed

[2019-07-12 15:18] lloydpick commented on #422
We also have a similar issue where we have multiple gemfiles, the standard in `Gemfile` and another one in `Gemfile.deploy`. It would be great if dependabot could check both.

[2019-07-12 21:36] MrJoy commented on #215
I'm also going to chime in on vendoring support.  Ideally, I'd prefer it if both go modules and `dep` were supported, since my org has a couple repos where we rely on tools that aren't module-friendly yet, and thus won't be migrating those repos over for a while.

[2019-07-13 13:43] Richienb opened #575 "Default config.yml"
At the moment, to configure dependabot I have to create a `config.yml` file for each of my repositories. Is there a way to specify a default fallback if one doesn't exist?

[2019-07-13 18:33] hmarr commented on #572
💯

We've been thinking a lot about this. In general, we want to verify that the artefact in the package registry comes from a legitimate maintainer, and none of the steps along the way have been compromised (GitHub / SCM, CI/CD, package registry).

Unfortunately it doesn't look like many (if any) registries make it easy for us to figure out if an account uses 2FA, but we've got some other thoughts

[2019-07-13 21:46] phallguy commented on #572
Awesome. Love the work y'all are doing. thanks for the update! Feel fee to close.

[2019-07-14 08:25] #572 closed

[2019-07-15 00:28] #573 closed

[2019-07-15 00:48] aiham commented on #573
Thanks.

[2019-07-15 09:10] karltaylor commented on #86
@greysteil enjoy your offsite

[2019-07-15 11:17] greysteil commented on #575
Not at the moment, but we're thinking of adding support for having a `.dependabot.yml` in your `.github` repo, which would achieve the above.

[2019-07-15 12:44] StephanBijzitter commented on #86
Perhaps it should be an issue of its own, but for several of our repositories we do not trust our test coverage enough to go full automatic.

One of our repositories now uses autoapprove + dependabot and that's working nicely, but for two other repositories we'd prefer to manually approve pull requests from dependabot and have dependabot merge them as soon as all other status checks have come back

[2019-07-15 12:46] greysteil commented on #86
@StephanBijzitter in your account settings there's an option called "Treat PR approval as a request to merge". If you switch that on then you'll get the flow you described above.

[2019-07-15 12:50] StephanBijzitter commented on #86
You guys are the best

[2019-07-15 15:04] tdukart opened #576 "No help link on config.yml errors"
If there's an error in a config.yml file, there's no easy way to find the documentation. It would be useful if the GitHub issues and Dependabot UI would link to the help documentation so that users can easily recheck.

[2019-07-15 15:30] greysteil commented on #576
I... have no idea why we're not linking to the docs in the error message. Sorry! Fixing now - thanks for reporting!

[2019-07-15 15:30] #576 closed

[2019-07-15 15:37] greysteil commented on #576
New error message has the following text at the bottom:

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2019-07-15 16:04] ferrarimarco opened #577 "Add support for OS package manager like apt and apk in Dockerfiles"
While your docker support is great to keep the `FROM` directive updated, it could be enhanced by including support for the OS package managers (like APT for Debian and derivatives, APK for Alpine...).

With this addition we could completely rely on dependabot to keep our Docker images updated, instead of having to keep that manually updated.

Example 1 (APT on Ubuntu):

[code]

Example 2 (APK on A

[2019-07-15 19:15] amclin opened #578 "dependabot stuck trying to create automated security fix"
Dependabot has been attempting to create an automated fix for a lodash security issue for 3 days with no resolution and no way to cancel or restart the process. There is no resulting PR in my project

![Screen Shot 2019-07-15 at 12 04 39 PM](https://user-images.githubusercontent.com/105728/61242269-20923b80-a6fa-11e9-806b-c5237e67e06f.png)

[2019-07-15 20:14] hmarr commented on #577
I'm really keen to support this too - we've got several cases internally that'd benefit from this so we've wanted it for a while, too!

It wouldn't be super hard to implement, but it's not a tiny project either. We'd need to parse shell expressions so we could handle things like `RUN apt-get update && apt-get install -y foo=1.0.0` (far more complicated examples exist too...!), and we'd need to int

[2019-07-16 08:49] feelepxyz commented on #578
@amclin oh yeah looks like it's stuck! Could you email the account/repo name to [support@dependabot.com](mailto:support@dependabot.com) so we can find the alert and debug?

[2019-07-16 20:40] greysteil commented on #570
Thanks for the kind words, and for the feedback.

There's no option for that at the moment (except at the account level), but it's a good idea. I think a label, rather than a comment, would probably be the best way to tell Dependabot to do this (so that we don't have to add another "start rebasing again" command), but I'm not totally sure. I'll keep thinking on it.

[2019-07-16 20:54] samselikoff commented on #570
Label makes a lot of sense, I think 👍 Would definitely have solved our use case!

[2019-07-17 08:19] tristanbes opened #579 "Auto-merge bypassing the reviews"
Hello,

I'd like to propose the idea of a feature enabling dependabot to bypass the "Require pull request reviews before merging"

The only way to get dependabot to merge with this settings activated consumes a lot of human time accross 300 repositories full of JS dependencies.

[2019-07-17 08:30] greysteil commented on #579
The solution we're currently proposing for this one is to have an "auto-approve" bot that marks Dependabot PRs as approved immediately. We built a GitHub action for it [here](https://github.com/marketplace/actions/auto-approve).

We're also working with the branch protection team to allow you to specify apps that are allowed to push to branches (the same way you can specify users that are). There'

[2019-07-17 08:33] tristanbes commented on #579
Good to know you're on it :) Thanks

[2019-07-17 08:44] tristanbes commented on #579
@greysteil is that possible that your approve "Yproximite" organization to join the beta for Github Actions please ? I need this github action :D

[2019-07-17 09:08] greysteil commented on #579
Sure thing - you *should* be on the beta now :octocat:

[2019-07-17 10:36] tristanbes commented on #579
Thanks :). I'll close this issue since your Github Action should solve this ;)

[2019-07-17 10:36] #579 closed

[2019-07-17 14:22] ffflorian commented on #541
@greysteil
I am using both a [`.npmrc`](https://github.com/ffflorian/gh-open/blob/e8d8fcff1c475641285a88bc15dc742cdfa3c399/.npmrc) and a [`.yarnrc`](https://github.com/ffflorian/gh-open/blob/e8d8fcff1c475641285a88bc15dc742cdfa3c399/.yarnrc) file and still, dependabot somehow [doesn't respect the registry](https://github.com/ffflorian/gh-open/commit/e8d8fcff1c475641285a88bc15dc742cdfa3c399).

[2019-07-17 15:05] amclin commented on #578
I resolved it by manually updating dependencies shortly after noticing it. Since github doesn't preserve the notification history for security alerts and since I was updating several repos at the same time, I can't confidently identify which repo I encountered this in.

It was one of the following:
https://github.com/amclin/aem-packager
https://github.com/amclin/aem-packager-example
https://github

[2019-07-17 17:34] ferrarimarco commented on #577
The repo is this one, right? https://github.com/dependabot/dependabot-core

[2019-07-17 17:34] greysteil commented on #577
Yep!

[2019-07-18 11:05] greysteil commented on #287
Not for now - we're busy working on the integration with GitHub and scaling Dependabot to be able to create automated security fixes on everyone's repos.

I'd recommend going with Phil's actions suggestion, though - this feels like a great use case for an action / bot that's focussed on the above task specifically.

[2019-07-18 11:54] staabm commented on #287
We are not part of the GithubActions beta, therefore this is not an option for us.

thx for the reply though.

[2019-07-18 12:39] JacobEvelyn commented on #287
Same, we've been on the waiting list but no luck.

[2019-07-18 13:30] greysteil commented on #578
OK, I'm going to close but please let us know if/when you see this again!

[2019-07-18 13:30] #578 closed

[2019-07-18 14:23] ElvenSpellmaker opened #580 "PHP: Dependabot suggests incompatible packages"
Hey there,

Dependabot seems to be ignoring my PHP version constraint in my `composer.json` file and suggesting packages which are PHP 7+ when I say my package is compatible with `>=5.6.0`: https://github.com/ElvenSpellmaker/PipeSys/blob/master/composer.json#L19

As you can see the PR here suggests 4.3.1: https://github.com/ElvenSpellmaker/PipeSys/pull/18

And in their `composer.json` it shows it

[2019-07-18 14:51] trivikr commented on #256
Is this feature being worked on?
I tested dependabot in one of my personal repos, and too many PRs created was the only concern. Details in https://github.com/aws/aws-sdk-js-v3/issues/280#issuecomment-512848106

[2019-07-18 15:24] domininik commented on #511
Hi, @greysteil
So now gemspec file which is exposed by Gemfury includes proper metadata, see:
[code]
However, pull request created by Dependabot is still missing the changelog, see:
<img width="311" alt="Screenshot 2019-07-18 at 10 11 30" src="https://user-images.githubusercontent.com/103665/61469988-d9988600-a945-11e9-8701-89b408e372f3.png">
There is a link to the repo and to all the commits, so

[2019-07-18 15:27] greysteil commented on #511
Ah cool, if we're getting to the repo then we should be 90% of the way there. Is the private repo on the same org as the update PR?

[2019-07-18 16:05] greysteil commented on #256
Not at the moment. We're a tiny team and are prioritizing getting Automated Security Fixes working for all GitHub repos and fully integrating Dependabot into GitHub.

[2019-07-18 16:32] trivikr commented on #256
Thanks @greysteil for the response

Is there an issue marked with `good-first-issue` or `help-wanted` for this request which contributors can look at (probably in [dependabot-core](https://github.com/dependabot/dependabot-core))?
If not, can you create one with links to which code contributors can look at to provide this support?

[2019-07-18 22:14] domininik commented on #511
Yes. So in this example `dependabot` created pull request in https://github.com/nedap/grip about changes in https://github.com/nedap/healthcare_sidekiq

[2019-07-19 04:54] greysteil commented on #256
Frustratingly this one would need changes to our backend codebase, which isn't open source, rather than Dependabot Core.

[2019-07-19 09:37] chyzwar commented on #429
I am facing a similar issue. My private packages are not resolved. Additionally, dependabot does not correctly update packake-lock.json. I think dependabot need to run lerna bootstrap for both correct resolutions of local packages and updating lockfile correctly in lerna monorepo.

I will try with yarn v2 (berry) maybe this would be a better long term solution.

[2019-07-19 09:41] greysteil commented on #429
I'm pretty sure Dependabot won't work with Yarn v2 yet (we haven't tested it or done any work on it).

[2019-07-19 11:16] greysteil commented on #580
Good shout. Fixed by https://github.com/dependabot/dependabot-core/commit/0577301987e1ef6b6f370d714f8cc5596652b935, which I'll get deployed today.

[2019-07-19 11:16] #580 closed

[2019-07-19 11:21] ElvenSpellmaker commented on #580
Thanks! I'll check it out, will I need to close the current PR from the bot?

[2019-07-19 11:23] greysteil commented on #580
It should close it automatically :-)

[2019-07-19 11:24] ElvenSpellmaker commented on #580
Excellent, thanks!

[2019-07-19 11:40] ffflorian commented on #541
I tried solving this in the dependabot settings, but I can't set the registry with an auth token :slightly_frowning_face:

![Screenshot from 2019-07-19 13-39-37](https://user-images.githubusercontent.com/5497598/61532647-c4e1ee00-aa2a-11e9-8a22-bb58833e6219.png)

[2019-07-19 13:24] kojiromike opened #581 "Dependabot offers updates incompatible with deptree"
We use Python/Pipfile. One of our dependencies is signxml. Its dependency graph looks like this right now:

[code]

Every time we do update our dependencies, dependabot creates a new PR to update to future==0.17.1. But that is not a valid resolution of the dependency graph.

[2019-07-19 15:32] existentialism commented on #429
I've been noticing that Dependabot used on a repo that has lerna with `file:` imports (via `lerna link convert`) seems to remove all `file:` items from the `requires` block:

[code]

[2019-07-20 13:37] ElvenSpellmaker commented on #580
@greysteil Did you manage to get the deploy done in the end? The PR is still open. =)

[2019-07-20 19:26] mxandeco commented on #174
Hi,

Is there any progress on this feature? Is helm support still in the plans?

[2019-07-21 05:45] simlu commented on #443
@greysteil Thank you very much! Terrific addition!

[2019-07-21 09:21] greysteil commented on #174
Not yet - we have our work cut out with the GitHub integration and the associated increase in scale for Dependabot, but we'd like to get to this (and it's something the community can add, as the relevant addition would be in Dependabot Core.

[2019-07-21 10:37] robstoll opened #582 "1.0.0.RC9.2 newer than 1.0.0-RC14"
the problem is due to the changed version schema. See https://github.com/robstoll/kbox/pull/2

[2019-07-21 12:17] greysteil commented on #582
This one is tough - there's a very clear specification of how version ordering works [here](https://maven.apache.org/pom.html#Version_Order_Specification) which is what Dependabot uses for Maven and Gradle. I can see how that's confusing here, but I don't think we can move away from it - the problem here is with the library author I think.

[2019-07-21 12:33] robstoll commented on #582
Good to know, I think you implemented the specification wrong though:
Splitting and replacing results in:
1.0.0.RC-9.2
1.0.0-RC-14

if the prefix is the same, then compare the token [...] => means above it can compare 1.0.0 which is equal for both. Then...
else ".qualifier" < "-qualifier" < "-number" < ".number"  => `.RC` < `-RC` which means 1.0.0-RC.. should still be considered to be newer than 1

[2019-07-21 15:06] greysteil commented on #582
Not quite - before prefix comparison comes the trimming of null values. In that step `1.0.0.RC-9.2` -> `1.0.0.RC-9.2` but `1.0.0-RC-14` becomes `1-RC-14`.

[2019-07-21 15:13] robstoll commented on #582
I see, thanks for clearing that up and I agree that it is mainly a problem of the library author.

[2019-07-21 15:13] #582 closed

[2019-07-21 20:35] greysteil commented on #581
Thanks for the bug report @kojiromike. It's very hard to debug this one, however - Dependabot shells out to Pipenv so it's likely that the bug originates there, but without a repo that we can reproduce on it will be hard to report to them. I presume the repo in question is private?

[2019-07-22 10:41] greysteil commented on #541
@ffflorian ah, interesting. I've just pushed https://github.com/dependabot/dependabot-core/commit/b1d75e35334f44307b71edec509bc085b311069f, which I'll deploy today, which will fix this in the case that you've got a `.yarnrc` file.

[2019-07-22 11:10] greysteil commented on #541
OK, I think as part of fixing the above I now fully understand this.
- Yarn ignores it when an `.npmrc` sets the registry to `https://registry.npmjs.org`
- Yarn doesn't ignore it when a `.yarnrc` does the same

As a result, Dependabot will now write a `.yarnrc` for those cases.

@egoist - the one thing I'm unsure of is when you're getting those `https://registry.npmjs.org` entries on https://githu

[2019-07-22 11:30] atomatt opened #583 "Unexpected auto merge after `cancel merge`"
(We only enabled dependabot last week so apologies if we've misunderstood how it should be used.)

dependabot created a PR that failed CI and required code changes, as well as a couple of rebases due to other merged PRs.

Our test coverage is good but it was Friday afternoon and I was not 100% confident with the changes so I decided to manually merge after the weekend. I posted a `cancel merge` co

[2019-07-22 11:41] greysteil commented on #583
Just looked this one up in our database. Somehow that PR has got `merge_requested: true` against it, which should only happen when someone comments `@dependabot merge`. Is there any chance someone did that *after* that `cancel merge` request was made (or at about the same time - could be the result of a race)? That's the reason Dependabot ended up performing the merge - it also had `automerge_bloc

[2019-07-22 13:17] kojiromike commented on #581
Yes. We are paying GitHub customers, though, so I can try to find out if we are covered under some kind of NDA.

[2019-07-22 13:48] jglick opened #584 "Include branch name in PR title"
https://github.com/jenkinsci/bom/blob/9aee8bba05403d45f4098765b707b57257b37cf7/.dependabot/config.yml#L3-L25 requests dependency updates for several different branches. This works, but the PRs get named for example **Bump groovy-maven-plugin from 2.0 to 2.1** (https://github.com/jenkinsci/bom/pull/12) with no indication in the title that this is targeted to the `2.138.x` branch. That makes it diff

[2019-07-22 15:10] abkfenris opened #585 "Dependabot removing dependencies specified with Poetry extras"
When Dependabot bumps a dependency on a project using Poetry and a dependency specifies an extra set of dependencies, the extra dependencies are removed.

I made a demonstration [repo](https://github.com/abkfenris/dependabot-poetry-extras) where Celery has an extra dependency of Redis.

When the unrelated IPython is [bumped](https://github.com/abkfenris/dependabot-poetry-extras/pull/1), Redis gets

[2019-07-22 15:14] domininik commented on #511
OK, I can see new pull requests coming today which include beautiful changelog details and a list of commits. So we have it resolved I think 👍

[2019-07-22 15:26] greysteil commented on #511
Awesome!

[2019-07-22 17:01] greysteil commented on #584
Interesting. I just took a look at the https://github.com/jenkinsci/bom/pulls and can see that the current setup is super confusing!

My hunch is that this is something that's better solved with a GitHub Action, rather than being native in Dependabot, because:
1) It's rare for Dependabot to be run on more than one branch (and we probably only want to include the branch name in the PR title if that

[2019-07-22 17:05] atomatt commented on #583
afaict, no-one said `@dependabot merge` at any time. The sequence events is basically:

1. I said `@dependabot cancel merge`.
2. dependabot added a :+1: to the `cancel merge` comment.
3. I pushed an additional commit (I think I also rebased).
4. My colleague approved the PR
5. I resolved a new merge conflict and pushed again
6. CI passed
7 dependabot auto merged the branch.

[2019-07-22 17:06] greysteil commented on #583
Ooooh, I bet it came from the approval. Let me dig into that.

[2019-07-22 17:33] greysteil commented on #585
Fixed in https://github.com/dependabot/dependabot-core/commit/5e0990b4060d580dfdc8823cb522303b2487fc3d. Thanks masses for the reproduction!

[2019-07-22 17:33] #585 closed

[2019-07-22 17:47] greysteil commented on #583
OK, it's definitely that. You have `Treat PR approval as a request to merge` set on the Bitnami account, so when your colleague approved the PR that was treated as a new request to merge, and superseded the previous `cancel merge` comment.

I think that's a little too subtle, and only an explicit `@dependabot merge` command should now have caused it to merge - I'll update our logic accordingly.

[2019-07-22 18:09] greysteil commented on #583
Implemented. Thanks for flagging this!

[2019-07-22 18:09] #583 closed

[2019-07-22 18:47] abkfenris commented on #585
Awesome, thank you!

[2019-07-22 21:28] sethfowler commented on #429
I'm seeing the same issue; `file:` items are being removed from `requires` blocks. You'd see this situation when your repo contains lerna-managed private packages that depend on each other. @greysteil, should we open a new issue for that?

[2019-07-23 01:27] jglick commented on #584
Yes.

I suppose so.

I am not currently subscribed. (Normally such things would be done via the @jenkinsci org.) How would you see Actions being used for this? Adding a label to the PR or something?

Arguably this is just something that should be done directly in GitHub: if a PR is targeting something other than the repository’s default branch, note that fact in the PR list.

[2019-07-23 08:57] ffflorian opened #586 "GET error for https://api.dependabot.com/active_repos"
[code]

![Screenshot from 2019-07-23 10-56-35](https://user-images.githubusercontent.com/5497598/61698037-b94b3b80-ad38-11e9-88bc-524ee393f08a.png)

[2019-07-23 08:58] greysteil commented on #586
We're seeing very slow responses from our DB right now. I'm looking into it.

[2019-07-23 09:18] ffflorian commented on #586
It's back on track!

[2019-07-23 09:18] #586 closed

[2019-07-23 09:19] greysteil commented on #586
🙏

[2019-07-23 13:12] greysteil commented on #584
Agree the best experience here would be having this native to GitHub. Hopefully Actions can be the next best thing - I'll ping the team.

[2019-07-23 17:08] carusogabriel opened #587 "[PHP] Major and Minor updates constraints in composer.json"
Hello there 👋

Is there an away to configure Dependabot to create the following changes in `composer.json`:

[code]

instead of:

[code]
? I think the techinical term is `replace range` instead of `increase range`.

I think it is something related to https://dependabot.com/docs/config-file/#version_requirement_updates, right? If it is nos implemented yet and nobody is working on, can you guide me

[2019-07-23 17:17] greysteil commented on #587
Using `increase_versions` should fix that - I've just updated the docs :-)

[2019-07-23 17:17] #587 closed

[2019-07-23 18:46] prolic opened #588 "Thank You"
This is an absolute awesome tool, that's why I want to thank you very much for providing this.

[2019-07-23 18:47] greysteil commented on #588
Thanks @prolic, that's really kind! 😄

[2019-07-23 18:47] #588 closed

[2019-07-23 18:56] hmarr commented on #588
Thank you @prolic, that’s so nice to hear ☺️

[2019-07-24 10:01] bennyn commented on #322
@iwata I recorded what is being sent to https://api.dependabot.com/update_configs/ when clicking the "Update settings" button in the Dependabot dashboard:

[code]

With the information above it would be possible to generate a JSON to YML generator which respects the [Dependabot config files format](https://dependabot.com/docs/config-file/#automerged_updates).

[2019-07-24 15:43] kojiromike commented on #581
I sent an email to support@dependabot.com with further details.

[2019-07-24 16:52] David-Guillot opened #589 "pip-tools and "lockfiles updates only""
Hi there,

`pip-tools` user here.

Requirements files structure:

* Multiple "source" requirements files named `src-requirements-something.in`
* Multiple "lock" requirements files names `requirements-something.txt`

Our workflow:

* In our `src-requirements-something.in` files, we use:
  * `==X.Y.*` for big/critical dependencies like Django that follow SemVer and handle LTS versions
  * `==X.*` fo

[2019-07-24 16:55] oliikit commented on #134
👋 resurfacing this conversation... from a visualization standpoint, this feature would still be helpful for us. We had some PRs not properly tested from going to a major version, didn't look closely enough at the changes, and we had some things break. So this visual cue will hopefully aid in that.

If we were to do any automation, we'd probably have patch (possibly minor) versions automatically me

[2019-07-24 17:20] greysteil commented on #134
Are you using the feature? It’s still in the product as described above

[2019-07-24 17:51] philipbjorge commented on #86
@greysteil -- Is there an update on this?
Mostly wondering if there is some flag/checkbox I need to mark somewhere because this still isn't working for us. Thanks 😄!

[2019-07-24 18:03] nsorner opened #590 "Issue connecting to Dependabot with Enterprise Acct"
Issue connecting to Dependabot with Enterprise Acct. We have personal and enterprise accounts. Dependabot asked me which acct I wanted to use, I selected the enterprise acct. Then when I tried to install it wanted to connect to my personal account and then I got an error.

[2019-07-24 18:07] fallion commented on #215
Hi,
Any update on this?

[2019-07-24 18:22] greysteil commented on #86
Not yet but there should be soon - we’re waiting for review internally but this is a complicated change to permissioning

[2019-07-24 18:23] greysteil commented on #215
Afraid not - the Dependabot team is still tiny and working to get to 100% rollout for automated security fixes before tackling additional feature work.

[2019-07-24 18:37] fallion commented on #215
Is there a way to help?

[2019-07-24 20:24] hipstersmoothie commented on #134
Is there any option to configure the patch, minor, and major labels? i use those labels for calculating semver bumps on my projects

[2019-07-24 20:28] RohanNagar commented on #134
From above:

[2019-07-24 20:33] hipstersmoothie commented on #134
I understand that. I have want to be able to configure them.

I use [auto](https://github.com/intuit/auto) to release my projects. It uses the semver labels to calculate a version bump. I'm trying to set auto up with dependabot for all it's dep management, but need to be able to configure this.

It's also a problem for people who use auto:

1. security vuln reported GitHub wide
2. dependabot makes

[2019-07-24 20:48] caiofbpa commented on #134
@greysteil I'm using this feature for months now and it's very useful for us. Being able to filter which bumps are `patch` and `minor` is very useful in figuring out an update plan when there are lots of bumps.

[2019-07-24 21:15] oliikit commented on #134
@greysteil - I was going to open up an issue about how dependabot could make major versions more prominent to avoid an accidental major version merged without proper testing. But I found this issue and noticed you had some concerns about additional complexity, so I just wanted to know I'm going to implement it at my organization. I can report back if you'd like further user feedback.