[2019-01-10 17:50] tielur commented on #321
I wasn't sure if dependabot had a better workflow for such things though

[2019-01-10 17:54] greysteil commented on #321
Ah, OK, I see what you mean now.

I guess one option would be to run Dependabot on all three branches?

[2019-01-10 21:20] tielur commented on #321
Yea I think that may turn into a mess though. I think for now I'll leave the PR's open on master, and manually merge the dependabot branches into our QA environments for testing.

Then once everything is good just merge the dependabot PR

[2019-01-10 21:54] greysteil commented on #321
Sounds sensible!

[2019-01-10 21:54] #321 closed

[2019-01-11 00:54] iwata commented on #65
@greysteil
Now, I cannot access https://dependabot.com/blog/atom.xml.
I wanna subscribe it via Slack.

[2019-01-11 01:10] iwata opened #322 "Dump config.yml"
I'm exciting about this announcement!
https://dependabot.com/blog/introducing-config-files/

On the other hand, I want a means to easily switch to `config.yml`. So I want the feature to dump the current configuration as it.

[2019-01-11 08:55] Micuk opened #323 "З якою програмою найкраще працювати при створені бота!"

[2019-01-11 09:21] #323 closed

[2019-01-11 10:13] feelepxyz commented on #65
@iwata it's now at [https://dependabot.com/blog/rss.xml](https://dependabot.com/blog/rss.xml)

[2019-01-11 10:14] feelepxyz commented on #322
@iwata yes agreed, we're planning on adding this feature soon!

[2019-01-11 12:15] jodastephen opened #324 "Bump now via API"
My desire is to have something I can add to a CI build script that tells dependabot a release has occurred in that repo. This would then cause dependabot to examine the repo, and raise PRs immediately on all the dependent projects in my organization. Effectively an API version of the "Bump now" button. Note that the trigger can't be a commit or tag on GitHub, because the release happens on CI afte

[2019-01-11 14:21] greysteil commented on #324
Thanks for the feedback @jodastephen.

The `live` problem is frustrating here. My hunch is that Dependabot should just trigger updates even for update config not set to `live` if you hit the private releases API - would that make sense to you?

The version number is needed because in practice Dependabot doesn't just initiate a full update scan on your repos when it receives this webhook - it scans

[2019-01-11 16:13] sigmyers opened #325 "Python override index"
Hi there,

I have an index-url and extra-index-url supplied in my requirements.txt files.

The index-url is behind our VPN and we want to monitor/bump that dependency manually -- we have no way to expose our internal artifactory instance even with an auth token on our end (security, etc.).

My question is this -- I've added a config variable to override and only look at the default pypi package ma

[2019-01-11 16:15] greysteil commented on #325
Hmmm, can you ping me the repo name (support@dependabot.com or here is fine too) and I'll look into what's happening on the backend?

[2019-01-11 16:17] sigmyers commented on #325
thanks! sent via e-mail !

[2019-01-11 16:52] greysteil commented on #325
Ack, just took a look into this.

Because you're using `pip-compile`, Dependabot needs access to all of your dependencies. Under the hood it actually runs `pip-compile`, which will error out if it can't find a version of the problematic dependency on any indices.

One option here would be to push a placeholder version of the dependency in question to PyPI, perhaps with just its setup file (so that

[2019-01-11 16:53] sigmyers commented on #325
Thanks for looking into it!

Appreciate the super-quick analysis rundown!!

-Sig

On Fri, Jan 11, 2019 at 11:52 AM Grey Baker <notifications@github.com>
wrote:

[2019-01-11 16:54] #325 closed

[2019-01-11 17:43] jodastephen commented on #324
Thanks, and yes, immediate updates seems to be what that API is for, so that sounds good.

Unfortunately, even with that change the API will be painful because every repo I have is maven multi-module, so I would have to make anywhere from 5 to 20 API endpoint hits to ensure the update happens (which isn't good for you either). So I would separately request a means to indicate via API that all depe

[2019-01-11 22:00] Pr0methean opened #326 "Pull from base rather than rebase"
When Dependabot rebases a PR, Travis-CI and AppVeyor don't always seem to detect that it needs to be checked again. For example, https://github.com/Pr0methean/BetterRandom/pull/100 was merged without testing even though both were enabled and had run on the first push.

A workaround for this might be to provide the option to pull changes from the base branch to an open PR, rather than rebasing.

[2019-01-12 18:28] dav-is opened #327 "Commits Wrong Author"
The author of commits is set to `dependabot[bot]` which does not exist. If you go to commits and click on the dependabot logo next to one of it's commits, it links to https://github.com/dependabot%5Bbot%5D which is a 404. Shouldn't the author be listed as `dependabot-bot`?

[2019-01-13 10:07] greysteil commented on #327
It looks like this only applies to the merge commits when Dependabot auto-merges a PR. The commits in the PR are already authored by dependabot-bot.

Unfortunately there's no way we can change the account that merges the PRs - when you grant Dependabot permission over your repo you're granting the `dependabot[bot]` account permission to take action, *not* the `dependabot-bot` account. The later on

[2019-01-13 10:07] #327 closed

[2019-01-14 21:22] greysteil commented on #326
Ack, sorry about that one (and for the slow reply here).

TL;DR - this shouldn't happen again. Let me know if it does.

Long version: GitHub's checks API makes it difficult to know whether a `queued` check will ever return. If the app that GitHub has requested run the check never responds (because it's not configured on that app) then the check remains as `queued` in the API indefinitely. To stop

[2019-01-14 21:22] #326 closed

[2019-01-15 02:40] Pr0methean commented on #326
When you don't have data on a particular check one way or the other, might
it be better to use a timeout of, say, 48 hours?

On Mon, Jan 14, 2019 at 1:22 PM Grey Baker <notifications@github.com> wrote:

[2019-01-15 16:50] cowwoc opened #328 "Support repositories other than Git"
The implementation is currently coupled with Git. Not everyone wants to use Git. Are you able to isolate the source-code portion of the code so we can provide different implementations?

I'm personally angling for Mercurial support, possibly via BitBucket.

[2019-01-15 16:52] greysteil commented on #328
Yes, although I imagine this is likely to be a big project! The core of Dependabot is source accessible over at https://github.com/dependabot/dependabot-core - contributions welcome, and feel free to hack it into whatever shape you need to run it locally via a script (reference implementation at https://github.com/dependabot/dependabot-script).

[2019-01-15 16:52] #328 closed

[2019-01-16 09:02] broder opened #329 "Config directory for Maven Project"
We've defined a maven project using a [config file](https://github.com/UKGovernmentBEIS/beis-mspsds/blob/master/.dependabot/config.yml#L9). We're seeing an error on the dependabot dashboard  though:
[code]

Is the double slash at the start of the path the issue or is it a red herring?

Let me know if you need anymore information!

[2019-01-16 09:16] greysteil commented on #329
Hmmm, that does look suspicious. Let me dig into it.

[2019-01-16 09:29] #329 closed, assigned to nobody

[2019-01-16 09:50] greysteil commented on #329
Elected not to bad as technically a zero-width character is legal in a directory name. Have put a PR in to your repo to clean them out of your config file, though 🙂

[2019-01-16 10:36] broder commented on #329
Ah, that's irritating - thanks for looking into it!

[2019-01-16 11:00] eddiej commented on #256
+1 for this feature request, the ability to ignore patch version updates would be great.

[2019-01-17 02:57] ybiquitous opened #330 "Better diff for DefinitelyTyped packges"
Could you please make the diff of [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) NPM packages (e.g., `@types/react`) better?

For example, the "compare diff" link in the following PR description points to <https://github.com/DefinitelyTyped/DefinitelyTyped/commits>.
This URL can tell us nothing about what the update changed. 🤷‍♂️

![image](https://user-images.githubuserconte

[2019-01-17 06:44] FranklinYu opened #331 "Support for Carthage"
[Carthage](https://github.com/Carthage/Carthage) is another dependency manager for Cocoa system. Should be easier than #221 because we don’t need to clone a giant Git repository.

[2019-01-17 09:35] ybiquitous commented on #330
Thanks for the quick response. Yes, I understand well the DefinitelyTyped repo is pretty tricky. 😅

I'm looking forward to shipping the feature!

[2019-01-17 15:27] jonathan-irvin opened #332 "[Feature Request] remove old branches not tied to a PR"
Sometimes as CI cycles and time goes on, there are some dependency branches that get left behind by dependabot.

These are leftover branches without a PR tied to them.
![screen shot 2019-01-17 at 9 24 20 am](https://user-images.githubusercontent.com/2481437/51328756-b09c4480-1a39-11e9-96d8-851242b9da30.png)

Here are some ideas
1. Run a job to remove any straggling branches
2. Scan for branches an

[2019-01-17 15:40] lorengordon opened #333 "[feature] dependabot command to bumpversion?"
Had an idea... Sometimes when updating a dependency version, I find I also want to bump the version of my project to generate a release immediately. I like to use [`bumpversion`](https://github.com/c4urself/bump2version) to update the version in a config file `.bumpversion.cfg`, which a build system monitors for changes and then will handle release actions (tag the repo, etc).

I'm thinking it wou

[2019-01-17 15:50] elife-projects-builder opened #334 "Cannot add any repository"
I have signed up with this Github account (`elife-project-builder`) and I have write permissions over the https://github.com/elifesciences/sciencebeam-judge repository.

At https://app.dependabot.com/accounts/elife-projects-builder/add I see no repositories listed, and clicking `Select repos to add` immediately sends me to a `You've added all your repos 🎉` message.

[2019-01-17 15:55] greysteil commented on #334
From the link you've shared, it looks like you're looking at Dependabot scoped to the `elife-projects-builder` account ([this one](https://github.com/elife-projects-builder)), rather than scoped to `elifesciences`. That account doesn't have any repos, hence the strange situation.

Instead, you probably want to install Dependabot on `elifesciences`. You can do that most straightforwardly from [here

[2019-01-17 15:55] #334 closed

[2019-01-17 16:13] feelepxyz commented on #333
@lorengordon don't think Dependabot should be running language specific scripts to release new versions. Looks like `bumpversion` is only for Python.

Also the current command interface wouldn't be ideal for this use case. You can only issue @dependabot commands from existing dependabot PRs that update some dependency so would have to wait for one of these PRs to release a new version of your libr

[2019-01-17 16:13] #333 closed

[2019-01-17 16:15] greysteil commented on #333
Agree with @feelepxyz on this one - it would be rad, but we'd really be turning Dependabot into a more general CI if we did it, which would be a *lot* of work on our side.

Thanks for the suggestion, though!

[2019-01-17 16:16] lorengordon commented on #333
Sorry, I meant that only as an example... `bumpversion` is written in python, but it just supports a syntax for matching a pattern in a file (or files), and incrementing that semantic version. _That's_ what I thought would be pretty cool to implement in dependabot...

[2019-01-17 16:19] lorengordon commented on #333
Yes, this is exactly what I was envisioning. Dependabot opens a PR to update a dependency. User reviews the PR and the updated dependency, and decides that it is worth releasing immediately as a new version and so comments `@dependabot <pick your syntax for incrementing the version>`

[2019-01-17 16:52] feelepxyz commented on #333
@lorengordon thanks for clarifying! I like the idea but unfortunately not something we want to start supporting with Dependabot 😢

Have you looked into ways of automating new release from CI? This way you could use whichever tool does the job best for your language and set up a workflow that makes sense for your use case.

[2019-01-17 21:06] lorengordon commented on #333
Of course, we _already_ have CI actually create the release. The sticking point is the logic to codify _when_ to release and _what_ token to bump (major/minor/patch) in the version. There are usually pretty subjective elements to those considerations, and so marking the version is often a manual step. Generally, I've seen folks use labels on a PR, or a file, either of which are actually set manual

[2019-01-17 21:12] lorengordon commented on #333
@feelepxyz Here is an example PR from dependabot where I bumped the version myself:

* https://github.com/plus3it/terraform-aws-codecommit-flow-ci/pull/24

This of course involves checking out the dependabot branch, modifying the file, creating the commit, and pushing it to the remote. That's the part I was hoping to make easier with dependabot.

On the merge to master, we have travis-ci check the

[2019-01-18 13:30] greysteil commented on #330
We have progress! The RFC has been accepted, and now I just need to persuade the TypeScript folks to add the directory to each of their packages when they publish. Shouldn't be too tricky...

Final step will be getting the details included in the registry, and therefore making it possible for Dependabot to use them. We'll get there on this, though!

[2019-01-18 16:52] greysteil commented on #267
Just added support for wildcards! If you're using config files, using a `*` anywhere in a dependency name will match an unlimited (or zero) arbitrary characters.

Thanks for the feedback!

[2019-01-18 16:52] #267 closed

[2019-01-18 17:01] ghostslayer989 opened #335 "Sign up error"
I get a "something went wrong" error when trying to sign up.

[2019-01-18 17:02] greysteil commented on #335
That's definitely not good! Are you seeing the error on Dependabot's side or on GitHub's?

[2019-01-18 17:04] ghostslayer989 commented on #335
Dependabots. Now I get "GET https://api.dependabot.com/repos"

[2019-01-18 17:12] greysteil commented on #335
Hmmm, I'm not seeing any errors on our backend except a rate-limiting issue for a different account. Is it the `ghostslayer989` account you're trying to install on / access?

[2019-01-18 17:13] ghostslayer989 commented on #335
Going to the api gives` {"errors":[{"status":403,"title":"Forbidden","detail":"No access token provided in 'Authorization' header"}]}` and I'm doing a fresh install. I did it through the github Marketplace.

[2019-01-18 17:17] greysteil commented on #335
That explains the lack of backend errors - for some reason it sounds like the Dependabot frontend isn't including your GitHub OAuth token when it makes requests to the backend.

Can you try clearing your cookies and revoking the Dependabot authorization at https://github.com/settings/apps/authorizations (assuming it's there)?

[2019-01-18 17:19] ghostslayer989 commented on #335
@greysteil It doesn't have an "Authorized github app" showing.

[2019-01-18 17:19] greysteil commented on #335
I guess that's why it's not passing down a token! Can you try visiting https://app.dependabot.com/auth/sign-in?

[2019-01-18 17:34] ghostslayer989 commented on #335
Thx. It works!

[2019-01-18 17:34] #335 closed

[2019-01-18 17:39] greysteil commented on #201
Basic pattern matching is now supported! If you use a `*` character in the `dependency_name` field for `automerged_updates`, `allowed_updates` or `ignored_updates` then it will match an unlimited number of arbitrary characters (or none). So specifying `@megacorp/*` is now possible. I've updated the config file docs accordingly.

Thanks for the feedback, and for your patience on this one.

[2019-01-18 17:39] #201 closed

[2019-01-18 18:16] feelepxyz commented on #333
Amazing, thanks for your detailed explanation!

We have been planning a bunch of improvements to the product for library
maintainers so this could actually fit well around this.

Definitely up for exploring this more and might have some relevant news to
share in the next month or two on how we could make this possible 😎

On Thu, 17 Jan 2019 at 21:12, Loren Gordon <notifications@github.com> wrote:

[2019-01-18 21:51] ybiquitous commented on #330
It's a good news! 🎉

[2019-01-21 01:56] LeoColomb opened #336 ".dependabot/config.yml and forks"
[`.dependabot/config.yml`](https://dependabot.com/blog/introducing-config-files/) is a great feature, thanks!

That said, I faced an unwanted behavior.
Considering two accounts with Dependabot enabled, if an account forks a repo of the other one containing a `.dependabot/config.yml` file and with outdated dependencies, Dependabot will open pull requests on the forked repo.

As a real example, I fo

[2019-01-21 23:33] szpak opened #337 "Close (update?) old PRs after target_branch change"
Due to some initial issues with `.dependabot/config.yml` (Dependabot didn't find that file when I was adding a new repository and applied the default configuration) I've got 5 PRs against the master branch. After I convinced Depndabot to read the configuration file it created another 5 PRs against the devel branch (10 in total).

Target branch is not changed very often, so it's a minor enhancement

[2019-01-21 23:57] greysteil commented on #337
Thanks for the feedback! I've updated the blog post and changed the config file processing logic so it will update the existing update config for a change in the target branch (if there's only one existing update config for that package manager and directory).

[2019-01-21 23:57] #337 closed

[2019-01-22 13:09] GiancarloFusiello opened #338 "Dependabot updating dependencies not related to package when using python poetry"
Dependabot has created a pull request on one of our Python projects that is using Poetry for package management. The [PR](https://github.com/elifesciences/python-project-poc/pull/10/) updates dev dependency `mypy` from version `0.650` to `0.660`.

`mypy` has two dependencies: `mypy_extensions` and `typed-ast`, however, the diff shows other dependencies being updated. I would expect only the packag

[2019-01-22 13:12] greysteil commented on #338
Ah, there should be a better way - in fact I'm the one that added it to Poetry! Let me take a look - https://github.com/sdispater/poetry/pull/389 should mean we can do better.

[2019-01-22 13:37] feelepxyz commented on #197
This should now be fixed in `npm@6.6.0` 🎉

You'll need to install the new version of npm to get consistent results from running npm install: `npm install -g npm@6.6.0`

The fix in npm: https://github.com/npm/cli/commit/134207174652e1eb6d7b0f44fd9858a0b6a0cd6c

[2019-01-22 13:37] #197 closed

[2019-01-22 13:50] feelepxyz commented on #336
@LeoColomb agreed on not auto-adding forks!

We also want to allow running on forks so won't be a super quick fix on our side. The current plan is to not auto-add forks with config files but show these in the Dependabot dashboard where you can click to enable the fork.

I'm currently working on a repo details page in the dashboard where we can do this so going to get back to this after getting tha

[2019-01-23 00:36] greysteil commented on #338
Good news - switching to the new method looks like it's sorted things out on that PR. 🎉

[2019-01-23 00:36] #338 closed

[2019-01-23 04:46] shimbaco commented on #104
I wish Dependabot will run `bundle update bootstrap --conservative` not `bundle update bootstrap`.
https://bundler.io/man/bundle-update.1.html

Thanks!

[2019-01-23 09:45] GiancarloFusiello commented on #338
Looks great! Thank you @greysteil for the quick turn around on this. Much appreciated.

[2019-01-23 14:01] cihati commented on #72
@greysteil any updates on this?

[2019-01-23 14:32] greysteil commented on #72
Not yet - we ended up prioritising config files over the update config show view, but this is next on our list.

[2019-01-23 14:59] cihati commented on #86
Any progress on this one @greysteil ?

[2019-01-23 15:19] greysteil commented on #86
This one's still with GitHub support. I chased them about it last week and just got another "it's on our roadmap" email. I know they're very busy, but hope this will become a priority eventually. In the meantime, the best way to help is probably emailing support@github.com.

[2019-01-23 17:01] connorshea commented on #336
Maybe have dependabot open an issue that lets the user opt in to running on the fork?

[2019-01-23 17:45] greysteil commented on #336
Yeah, I *think* surfacing in the dashboard first is the way to go - don't want to create issues unless we have to. What was your experience at GitLab of folks forking repos with a config file?

[2019-01-23 17:58] connorshea commented on #336
Generally it didn’t matter much since the only config file that really mattered for GitLab was the CI YAML, and CI didn’t typically open merge requests on the project or modify the project state at all (or if it did, it’d need a private token anyway, so it would just fail unless someone went through the trouble of setting it up).

CI would run for the latest commit on master and any newly-pushed c

[2019-01-23 17:59] LeoColomb commented on #336
Forked repositories have issues disabled by default on GitHub. So opening an initial issue is not possible. 🤔 😉

You mean with `.gitlab-ci.yml`? Well it auto enable GitLab-CI, but:
* GitLab CI do not run anything before the first push
* There is a option to disable it at any time

[2019-01-23 18:01] connorshea commented on #336
The only other thing I can think of that’d be relevant would be things like CI Variables and other project settings. I’m fairly certain none of the project settings are carried over on a fork, and CI Variables are supposed to be used for API Keys, etc, so they definitely weren’t carried over.

[2019-01-23 18:06] connorshea commented on #336
`.gitlab-ci.yml` files do actually have the ability to run certain jobs only on specified repositories, I forgot about this feature:

[code]

https://docs.gitlab.com/ce/ci/yaml/#only-and-except-simplified

[2019-01-23 21:35] shepmaster opened #339 "React-Redux 6.0.0 not suggested as an update"
The [React Redux package](https://www.npmjs.com/package/react-redux) version [6.0.0](https://www.npmjs.com/package/react-redux/v/6.0.0) was released "two months ago", but the repo at https://github.com/jetpackworkflow/checklistpro has not received a notification for that package since 5.1.1.

See also a previous interaction in #294; perhaps something similar is at play?

It would be nice to have t

[2019-01-24 10:41] nijikon commented on #126
@greysteil this would be very cool, are you thinking about adding that option?

[2019-01-24 12:03] feelepxyz commented on #339
@shepmaster hey this is due to `redux-little-router` having a peer dependency requirement on react-redux which only allows versions: `^4.0.0 || ^5.0.0"`

Seems like this router is deprecated and probably wont get any updates to fix this: https://github.com/FormidableLabs/redux-little-router

We're planning on building a page in the dashboard that will give you visibility on installed versions and

[2019-01-24 12:03] #339 closed

[2019-01-24 12:03] feelepxyz commented on #339
@shepmaster thanks for getting in touch!

[2019-01-24 12:05] feelepxyz commented on #72
Yes keen to start working on this soon!

For context we should also show which dependencies can't be updated due to version constraints, e.g. peer dependencies in npm.

Raised here: https://github.com/dependabot/feedback/issues/339

[2019-01-24 15:54] shepmaster commented on #339
Yeah, we have an item in our tech debt backlog to replace it. Didn’t realize it was blocking anything else!

Sounds wonderful; thanks so much!

[2019-01-24 16:43] greysteil commented on #126
We have a blocker on it that we'd need read-only access to Organization members. I'm planning to request that permission next month (we have some big things on our plate right now), and then implement. I'm still keen on the idea!

[2019-01-25 11:13] cihati opened #340 "update_type improvements"
Per https://github.com/dependabot/dependabot-core/issues/956 , I learned that `update_type` can have only `security` and `all` values in `allowed_updates`. But for `automerged_updates`, it can have other values such as `security:patch`, `semver:minor`, `semver:patch`. I think `update_type` should behave predictably to allow for more intuitive use and extra features (e.g. only allowing non-major ve

[2019-01-25 11:13] greysteil commented on #340
Thanks for porting this across @cihati!

[2019-01-26 11:46] stepio opened #342 ""stepio/jgforms" project is not updated"
Hello,

First of all, thanks for this project, it's really cool!
I have a bunch or repositories with similar structure.

Recently I got PRs for the new jacoco version for these 2 projects:
https://github.com/stepio/lambda-lite/pull/22
https://github.com/stepio/spring-actuator-kafka/pull/14

But not for these 2:
https://github.com/stepio/coffee-boots
https://github.com/stepio/jgforms

Could you ple

[2019-01-26 14:46] greysteil commented on #342
And thanks for getting in touch, and for the kind words!

[2019-01-26 15:17] stepio commented on #342
Sorry, @greysteil , my bad. I was confused by the fact that both repositories were added to dependabot in GitHub. But I completely forgot to configure them on your side as well.

[2019-01-28 15:12] gkohen opened #343 "Branch name generated are breaking SonarCloud scans"
NPM updates such as the one below are breaking NPM scans because of "illegal" branch names.
We need a way to have these dots replaces with another character:

ERROR: 'dependabot/npm_and_yarn/@babel/runtime-7.3.1' is not a valid branch name. It can only contain 'A-Z', 'a-z', '0-9', '-', '_', '.', and '/')

[2019-01-28 15:18] greysteil commented on #343
Hmmm, looks like it’s the @ that’s an invalid character.

Is there any way for you to take this up with SonarCloud, since it looks like it’s their validation that’s the problem? I’d rather not introduce a transformation on the Dependabot side to work around that error if it can be fixed at the source (but appreciate that’s not always possible).

[2019-01-28 15:58] gkohen commented on #343
Crossed referred: https://community.sonarsource.com/t/pr-analysis-branch-name-whitelisting/4048

[2019-01-28 16:01] greysteil commented on #343
Awesome, 🤞.

If you ping me in a week's time and this hasn't been resolved by SonarCloud then I'll add a temporary workaround to Dependabot for it.

[2019-01-28 16:13] timja commented on #343
I reported it 2 months ago, not terribly likely to be fixed soon unless someone sends a PR.
This is their JIRA issue:
https://jira.sonarsource.com/browse/SONAR-11561

[2019-01-28 19:57] SethDavenport opened #344 "PR title, release notes for github URLs with semver tags"
Hi there,

I'm trying to understand a difference in the way dependabot creates PRs for our internal, github-tag based packages, and external npm packages.

Specifically, when we get a 3rd party update, the PR looks like this (which is great):

![image](https://user-images.githubusercontent.com/4614141/51862129-eb408f80-230b-11e9-9a41-742ee95237a9.png)

- the title contains the old and new versions

[2019-01-28 23:46] greysteil commented on #344
Hey Seth,

It's slightly tricky to debug this one without details of the PR - if you ping a link to it to support@dependabot.com that will be enough for me to find it in our backend.

More generally, Dependabot's metadata lookup logic for JS is [here](https://github.com/dependabot/dependabot-core/blob/master/npm_and_yarn/lib/dependabot/npm_and_yarn/metadata_finder.rb#L37-L47) - in this case it loo

[2019-01-28 23:56] szpak opened #345 "More version patters for Gradle"
In [Mockito](https://github.com/mockito/mockito) we keep common dependencies in one [place](https://github.com/mockito/mockito/blob/release/2.x/gradle/dependencies.gradle) to share them across the (sub)modules. They doesn't seem to be fully supported. It would be useful to extend the property value finder to find unambitious patterns and we would try to adjust the rest to something more generic.

[2019-01-29 03:48] SethDavenport commented on #344
Link sent to support@dependabot.com as requested. The weird thing is that we are using tags. The commit hashes correspond to the two tagged releases that match the package.json diff generated by dependabot.

[2019-01-29 04:02] njsmith opened #346 "Support for bumping docker containers inside azure-pipelines.yml?"
Azure Pipelines has an interesting feature where the azure-pipelines.yml file can name a container to use for running tests: https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azdevops&tabs=yaml

It would be neat if dependabot could bump these container tags, like it can `FROM` lines.

From the doc above, there seem to be a few different variants:

[code]

[2019-01-29 17:11] #344 closed

[2019-01-30 14:30] lewisblackwood commented on #14
Another reason this would be nice to have is so that PR comments aren't lost when a new PR is opened. Sometimes I find myself leaving a PR comment to the effect of:

When the PR gets superseded by a minor version bump, the comment gets left behind. It would be handy if you could mark comments that should be carried over, but I guess maintaining a single PR is even better!

[2019-01-31 13:47] bwplotka opened #347 "Golang [deps]: .toml file constraint not updated."
Hi :wave:

We use `deps` and `toml`  `constraint` entries for a reason: To have my dependencies pinned for CI and reproducible builds. I do not vendor deps in a repo (and I don't want to).

For example:
[code]

I got a nice PR from dependabot that updates it to `6.0.15` which is legit. The only problem is that `.toml` constrant is not updated: https://github.com/improbable-eng/thanos/pull/787

Thi

[2019-01-31 13:53] bwplotka commented on #347
Maybe it is similar to https://github.com/dependabot/feedback/issues/177 ?

Trying `Increase Versions` for toml file option on dashboard

[2019-01-31 14:09] bwplotka commented on #347
That worked! https://github.com/improbable-eng/thanos/pull/792/files

So.... can we remove `Auto` option as it clearly does not work to stop confusion? (: Or fix it? Is there any pending issue on Dependabot-core?

[2019-01-31 14:09] #347 closed

[2019-01-31 14:20] greysteil commented on #347
That's awesome. I pride myself on being quick to reply to issues, but you fixed this one before I could help out!

[2019-01-31 14:21] bwplotka commented on #347
Yea, sorry for using your board as a rubber duck... whatever works I guess  (:

Any action item for this?

[2019-01-31 18:18] noneissome commented on #6
What's the status on this issue?

[2019-01-31 18:19] greysteil commented on #6
Still the same as the above, I'm afraid.

[2019-02-01 10:21] jeromegamez opened #348 "PHP Version configured in composer.json is not respected"
Dependabot suggests updates that are not compatible to the configured PHP version.

### Example

https://github.com/jeromegamez/duration-php/pull/4

- The configured PHP-Version in the `composer.json` file is `"php": "^7.1"`
- The suggested bump is `"phpunit/phpunit"` from `^7.0` to `^8.0`
- PHPUnit 8.0 requires `"php": "^7.2"` (https://github.com/sebastianbergmann/phpunit/blob/8.0.0/composer.json

[2019-02-01 10:23] greysteil commented on #348
Sadly, the way Composer works is limiting us here. If you specify your PHP version in the `platform` section of your `composer.json` Dependabot will do the right thing, though.

c/r: https://github.com/dependabot/dependabot-core/issues/394

[2019-02-01 10:23] #348 closed

[2019-02-01 14:04] cchawn opened #349 "registry.npmjs.org authentication issue when we only use npm for public packages"
This morning Dependabot opened several issues on different repositories within our organization. The issue was:

This is misleading for a few reasons:
1. we only use the npm registry for public packages (so we don't require authentication nor is it set up)
2. we've also had Dependabot successfully open and update PRs while this "issue" was open

I believe that what is happening is that Dependabot

[2019-02-01 14:53] greysteil commented on #349
Thanks for the heads up! This should be fixed by https://github.com/dependabot/dependabot-core/commit/ed5de2d9971dbeb74803a24348eda9559205d72c, which is deploying now. Will help us detect npm blips better.

[2019-02-01 14:53] #349 closed

[2019-02-01 16:05] Aedius commented on #315
i got the same issue with php, it take a while on my computer, so i assume it's the same issue.
any notification about error would be great

[2019-02-01 18:57] feelepxyz commented on #315
Hey, sorry for the super slow progress on this! Been a busy couple of weeks. Did a bunch of work to speed up our JS jobs which didn't end up fixing the issue for https://github.com/AxaGuilDEv/react-toolkit, hoping to get some time to work on this next week.

@Aedius we have a bunch of issues with php jobs timing out as the php package manager is quite slow and resource intensive. Do you have an ex

[2019-02-03 10:17] open-source-explorer opened #350 "dependabot not detecting package.json in the case of full stack JS web apps"
Currently, `depedabot` just checks whether the corresponding dependency configuration file is being listed within the root directory of the repo which is not always the case.

Dependabot fails to address those repositories as mentioned above which is a good feature to have :thinking:

[2019-02-03 10:20] greysteil commented on #350
Thanks for the feedback. You can specify a directory for each Dependabot update config, which allows you to update nested `package.json` files. Dependabot will also automatically find all of them if you're using Lerna or Yarn workspaces.

We're working on adding automatic detection of all projects within a repo, even when it's not using Lerna or Yarn workspaces, but it's obviously something we hav

[2019-02-03 15:47] #350 closed

[2019-02-04 05:56] funivan opened #351 "Update major dependencies for PHP"
Thanks for the great tool. Is there any way to update a major version of the package?.

[2019-02-04 08:21] guillaumechervetaxa commented on #315
Thank you very much for your attention :)

I think that dependabot is awesome :p

[2019-02-04 10:06] greysteil commented on #351
Thanks @funivan!

Dependabot will create PRs to update between major versions, too, as long as that update can be resolved (so as long as no other dependency in your `composer.json` is blocking the update).

[2019-02-04 10:06] #351 closed

[2019-02-04 11:32] Aedius commented on #315
@feelepxyz as example i have : https://github.com/Aedius/crowfall-royaumes-eternel
my point is that it ok to fail, but it is far less to not mention it on the dashboard

[2019-02-04 13:05] coder9604 opened #352 "How to provide multiple directories in the case of full stack JS web apps"
Currently there is a provision to provide a single directory where `Dependabot` is required to search for package config files relative to the root path. Consider the case of a Full Stack JS web app where the project structure includes `client` and `server` directories which ensures sufficient abstraction between the UI components and business logic.

Also, what I'm having a `package.json` file in

[2019-02-04 13:55] greysteil commented on #352
Hmmm, sounds like we're doing a bad job of communicating this, but you can add multiple directories to Dependabot - you just have to add them one-by-one as separate update configs for that repo. I'll have a think about how we can improve the UI, but Dependabot already supports multiple directories 🙂

[2019-02-04 13:55] #352 closed

[2019-02-04 14:20] greysteil commented on #352
FYI, I've just changed the button text to "add a language / directory", which should make things clearer!

[2019-02-04 18:11] gitfool commented on #108
@greysteil re auto merge config, it would be nice to have option to avoid merge commits.

[2019-02-04 18:12] greysteil commented on #108
Ah, interesting. That's already an option in your dashboard (under account settings), but perhaps we should add it to config files and make it configurable at a per-repo level...

[2019-02-04 18:15] gitfool commented on #108
Oh. I completely missed the account settings. Per repo override would be nice too though. 😉

[2019-02-04 19:31] ocxo opened #353 "Default org-wide repo settings"
I'd like to be able to set a default "security only" setting for Dependabot. We turned it on for a lot repos this morning and it opened a flood of non-security PRs that we had to go back and close. Caused noise for our teams, put pressure on our build server, and as a side-effect caused us to exceed our GitHub API rate limit.

[2019-02-04 19:34] greysteil commented on #353
Thanks for the feedback @ocxo. You can change Dependabot to security only for a repo by clicking "advanced options" when adding the repo, or by clicking "only security updates" when editing an update config:

![image](https://user-images.githubusercontent.com/1144873/52232198-c4f29500-28b3-11e9-9a69-35bf7dcfc968.png)

If you're using [config files](https://dependabot.com/blog/introducing-config-fi

[2019-02-04 19:36] ocxo commented on #353
@greysteil can that be applied at the org level or is it at the repo level only? I understand the repo level config options but what I'm really looking for is a way to apply this to my GitHub org and all repos within it.

[2019-02-04 19:41] greysteil commented on #353
Ah, sorry, I didn't realise that's what you meant.

At the moment we don't have any settings that are configurable at *both* the account and repo level. I can totally see the use case, but introducing that would also add a little complexity for users, and require a proper UI (if you're using config files I presume this wouldn't really be an issue). Let me have a think. We have some account-level s

[2019-02-04 19:50] ocxo commented on #353
I could see the sync issue being complex but in my mind a setting that enforces X default configuration for all newly added repos would be a really helpful middle ground.

[2019-02-04 20:06] ocxo commented on #353
In the meantime can this issue please be re-opened as it's currently not solved for?

[2019-02-04 20:06] greysteil commented on #353
Sure thing.

[2019-02-05 06:32] ndabAP commented on #92
Found this issue and also wanted to say that this is really annoying when you have a lot of repositories.

[2019-02-05 08:34] kirkkala opened #354 "Removing a project"
We recently archived a project in Github hence I was looking to delete that project from Dependabot and found deleting happens by removing all languages one by one. It did work but felt a bit quirky - maybe add a "delete from dependabot" option to project settings at `https://app.dependabot.com/accounts/[ACCOUNT]/repos/[ID]`.

[2019-02-05 08:45] davidgoate opened #355 "Ability to manually replace a version org wide"
# Issue Encountered
We've recently come up against an issue with a dependency that doesn't get suggested to be bumped in a Dockerfile (`adoptopenjdk/openjdk11:jdk-11.28-alpine-slim` -nov 9th 2018)

There is a seemingly newer version `adoptopenjdk/openjdk11:jdk-11.0.2.9-alpine-slim` (published feb 4th 2019). I appreciate that this appears to be poorly versioned on their side (`11.0.2.9` apparently

[2019-02-05 09:14] greysteil commented on #354
Good shout - one for you @feelepxyz.

I'll also see if we can automatically disable Dependabot when a repo is archived.

[2019-02-05 10:03] feelepxyz commented on #92
@ndabAP no worries! I've semi-successfully used this search in Gmail: `from:(dependabot[bot]<notifications@github.com>) Merged into master` to archive automerged updates. Doesn't always seem to match on this though, not sure why.

If you need more advanced filtering maybe a google app script could do the trick? (Only just came across this so haven't had a chance to try it myself)
https://developer

[2019-02-05 10:11] feelepxyz commented on #332
@jonathan-irvin are you seeing these branches on GitHub or locally?

[2019-02-05 10:20] feelepxyz commented on #331
@FranklinYu thanks for the suggestion! We've been holding off on adding new languages for a while to get all existing languages into a stable state. Still got a way to go so will hold of on this until we get some breathing room ✌️🤠

[2019-02-05 10:37] feelepxyz commented on #346
@njsmith thanks for the suggestion! Wondering if it makes sense to do this once we've added support for Azure DevOps Repos, got a few people also asking for it here: https://github.com/dependabot/feedback/issues/128

We've also been holding off on adding new languages for a while to get all existing languages into a stable state. Still got a way to go here so keeping this open ✌️

[2019-02-05 10:42] njsmith commented on #346
I'm pretty sure this is entirely unrelated to #128. Azure pipelines supports github, so there are lots of projects that use github for hosting and have `azure-pipelines.yml` files in their repos that could use bumping.

[2019-02-05 10:44] feelepxyz commented on #346
@njsmith ah yes of course! Thanks for clarifying! Sorry for not getting back to your earlier. We've been pretty swamped 🤠

[2019-02-05 10:50] feelepxyz commented on #315
@Aedius agreed! We really need to fix up these time out issues and figure out what actionable info we can give to fix it. Unfortunately PHP needs some serious speedup work so will continue to not perform very well until we get this fixed.

We are hoping to get some more people involved soon so should be able to tackle these issues.

[2019-02-05 11:06] feelepxyz commented on #355
@davidgoate thanks for getting in touch! Where are you seeing this version published? Having some issues googling for this so might be looking in the wrong places.

[2019-02-05 11:08] greysteil commented on #355
@feelepxyz - it's https://hub.docker.com/r/adoptopenjdk/openjdk11

[2019-02-05 11:40] feelepxyz commented on #345
@szpak thanks for getting in touch! Dependabot's Gradle support is still in beta as the file parsing is pretty tricky and we currently don't have much Java knowledge. Looks like we should be evaluating the build file to support your use case, which is a pretty big piece of work so will take some time to get to.

Have you considered removing your version variables and just inlining the versions? De

[2019-02-05 11:43] greysteil commented on #345
Thanks @feelepxyz. I'd like to take a quick look at the property value finder to see why it's messing up here, too, though. Will try to get to that this afternoon, and if it's easy I'll get it updated.

(We're going to have a a bunch more resource working on Dependabot's Java support soon, btw, so expect lots of improvements!)

[2019-02-05 12:09] feelepxyz commented on #355
Oh yeah annoying! Looks like they've changed the versioning scheme from that first release.

@davidgoate could you email support@dependabot.com with an example repo I could test this against? Just want to make sure we're not doing the wrong thing here.

[2019-02-05 12:32] feelepxyz commented on #259
@pascalberger hey sorry for the incredibly slow response on this! Is this still an issue for you? Looks like you've removed your packages file?

[2019-02-05 12:37] pascalberger commented on #259
@feelepxyz The error still occurs from time to time on projects with `packages.config`

[2019-02-05 12:50] justalemon commented on #259
I can also confirm this on justalemon/GGOV#16. Had to fix the `csproj` [manually](https://github.com/justalemon/GGOV/pull/16/commits/01da4e20c21eb689788639c07583cd6c090c4515).

You can see how bad this is by taking a look at the respective [AppVeyor build](https://ci.appveyor.com/project/justalemon/ggov/builds/21998450#L51).

[2019-02-05 14:38] greysteil commented on #355
Just took a dig into this. On the way Dependabot should be handling this as part of its normal business:
1) Previously, Dependabot wouldn't have been able to update this dependency, because its versions include both a prefix and suffix around the version number. I've just fixed that in [this commit](https://github.com/dependabot/dependabot-core/commit/1271efcfd4c43ff27e8b72a5ed340a687d56c9b3). I'm

[2019-02-05 14:38] #355 closed

[2019-02-05 18:32] szpak commented on #345
Thanks @greysteil .

Gradle allows to apply plugins and configuration from other files - both local (most of the cases) and remote. A laconic [explanation](https://docs.gradle.org/5.1/userguide/plugins.html#sec:script_plugins) from the official documentation.

Btw, there is also an example for Kotlin files, however, Kotlin has been added quite recently as a language to configure Gradle and most of

[2019-02-05 18:34] szpak commented on #345
Btw2, you might be also interested in the way how variables can be [created](https://docs.gradle.org/5.1/userguide/writing_build_scripts.html#sec:declaring_variables) (both local and those in the `ext` context) in Gradle configuration (again, Groovy is currently much more popular and I propose to support it at the first place).

[2019-02-06 08:01] SkypLabs opened #356 "[Git submodules] Bump to the latest release"
Hi,

First of all, thank you for this great tool and for providing it freely for open-source projects :heart:

I'm opening this feature request because the Git submodules updater always bumps to the latest commit in a specific branch. It works perfectly well but, not all projects use a dedicated branch for stable code. This is why I would like to be able to dump to the latest release (git tag) pre

[2019-02-06 11:06] greysteil commented on #356
Thanks for the feedback @SkypLabs.

Hmm, this is an interesting one. I can see the use case, but I can't see an obvious way for Dependabot to detect that that's what you want, since the `.gitmodules` file doesn't support specifying tags. (Checking whether the existing commit coincides with a tag won't work, either, because that would happen for folks tracking a branch if/when Dependabot updated th

[2019-02-06 13:23] cabello opened #357 "Show config file errors in dashboard if issues are disabled on a repo"
Hi 👋

Hope you are doing great!

I just noticed that a project we set up for weekly updates is doing daily updates, here's what I find:

While visiting dependabot website:

![screen shot 2019-02-06 at 8 22 01 am](https://user-images.githubusercontent.com/60936/52344266-4ea37f00-29e8-11e9-9d5e-4a04b2506b11.png)

While visiting github latest master:

![screen shot 2019-02-06 at 8 22 41 am](https://u

[2019-02-06 13:48] greysteil commented on #357
Just took a look at this. It looks like you have issues disabled on that repo, so Dependabot has been unable to tell you that the above config file isn't valid (because of the indentation on line 7). As a result, Dependabot is still using the original setup for that repo.

There's definitely an improvement we can make on our side for cases like this: we should be showing you details of the problem

[2019-02-06 15:24] cabello commented on #357
Thank you, that fixed it! 🙏

[2019-02-06 15:24] cabello commented on #357
Sorry, did not mean to close it given the new title.

[2019-02-06 15:24] greysteil commented on #357
No worries - working on the fix now 🙂

[2019-02-06 16:33] greysteil commented on #357
Fix deploying now. Thanks again!

[2019-02-06 16:33] #357 closed

[2019-02-06 18:02] gitfool commented on #108
@greysteil I enabled the account setting but the dependabot commit still doesn't look clean as there seem to be two bot accounts: `dependabot-bot authored and dependabot[bot] committed`; is that right?

See [BoardGameGeek.Dungeon/commits/master](https://github.com/gitfool/BoardGameGeek.Dungeon/commits/master) commit [e8ecd3e](https://github.com/gitfool/BoardGameGeek.Dungeon/commit/e8ecd3e00d038794

[2019-02-06 18:23] greysteil commented on #108
@gitfool - that's the best we can do whilst GitHub don't allow app accounts (i.e., `dependabot[bot]`) to sign commits.

For future reference, if anyone reads this and has a question about automerging, please create a separate issue or email support@dependabot.com to avoid spamming those waiting for an update on automerging with delay.

[2019-02-07 14:11] edmorley opened #358 ""Grant access to additional repos" links to page non-owners cannot access"
Hi

When on this page:
https://app.dependabot.com/accounts/mozilla/add

...there is a "Grant access to additional repos" link, that targets the GitHub organization settings page here:
https://github.com/organizations/mozilla/settings/installations/200844

However that GitHub settings page is only accessible to org owners, not users who only have admin access to a subset of the org's repositories.

[2019-02-07 16:24] edmorley opened #359 "ignored_updates not working for Python repository"
Hi!

I just activated Dependabot on our repository (replacing pyup), with a number of Python packages listed under `ignored_updates`. When I first added the config file, I used the same version specifier as I had for pyup, eg `<2` to mean "please limit PRs to versions that are less than 2".

However after merging the config to `master` a number of unwanted PRs were opened - at which point I realis

[2019-02-07 16:34] edmorley opened #360 "Dependabot downgrading Python package to an older version due to post-release suffix"
Hi!

Dependabot has opened this PR, which changes the version of `djangorestframework-filters` from `0.10.2.post0` to `0.10.2`:
https://github.com/mozilla/treeherder/pull/4580

This change is actually downgrading the package version, since `0.10.2.post0` is the most recent:
https://pypi.org/project/djangorestframework-filters/#history

The "post version" identifiers are listed in the Python versio

[2019-02-08 00:18] greysteil commented on #360
Thanks for the extremely clear issue @edmorley. Fixed in https://github.com/dependabot/dependabot-core/commit/87bbbcf21d02b7e2f0dea833e5a442f3b8813576.

[2019-02-08 00:18] #360 closed

[2019-02-08 00:21] greysteil commented on #359
Let me take a look into this one. That `django` match could be to do with capitalisation, but I'm not sure and want to dig in properly (and it's a bug either way).

[2019-02-08 01:19] greysteil commented on #358
Hugely helpful, as always @edmorley! I'll get this fixed tomorrow morning. Thanks!

[2019-02-08 07:48] kiview commented on #178
I tried this command in this PR and it didn't seem to work:
https://github.com/testcontainers/testcontainers-java/pull/1227

Has this feature been rolled back?

[2019-02-08 08:15] Rsl1122 commented on #178
You did a merge command right after @kiview

It only needs the single command `@dependabot squash and merge` to work.

[2019-02-08 08:48] kiview commented on #178
I just did the other command, because it seemed I didn't get feedback, but
maybe I was just impatient, thanks :)

Am Fr., 8. Feb. 2019 um 09:15 Uhr schrieb Risto Lahtela <
notifications@github.com>:

[2019-02-08 09:04] edmorley commented on #360
Many thanks for the quick fix!

Will Dependabot close the PR once this is deployed, or will I need do so manually? :-)

[2019-02-08 10:39] feelepxyz commented on #358
@edmorley just deploying a fix for this!

Many thanks for your feedback 💯(also helped me find some docs on how to suggest a specific repository id, which improves another auth flow we just added).

[2019-02-08 11:59] greysteil commented on #360
It should close it next time it tries to rebase it (and I've just triggered a rebase of it manually from my side).

[2019-02-08 12:08] greysteil commented on #359
Digging in to this, it's definitely a bug caused by capitalisation. I'll get that fixed.

[2019-02-08 12:29] greysteil commented on #359
Fixed. Sorry about that one!

[2019-02-08 12:29] #359 closed

[2019-02-08 13:05] greysteil commented on #359
Also, we didn't have logic to automatically close PRs when an ignore condition was added for them in a config file. We have that now. (Config files are new so little oversights like that might exist - it's the same reason the capitalisation bug was present.) Thanks again.

[2019-02-08 17:40] NilsJPWerner commented on #256
+1 for ignoring patch updates

[2019-02-09 15:49] styfle commented on #121
@greysteil  The RFC has been accepted! Great job! 🎉 🎉 🎉

Are you able to move forward with implementing this feature in Dependabot?

[2019-02-10 17:25] SkypLabs commented on #356
It's exactly what I had in mind actually, hence the link to the "Get the latest release" API call I put in my initial message.

Great, thanks!

[2019-02-11 14:18] greysteil commented on #345
That's really useful, thanks @szpak.

I've just shipped [this commit](https://github.com/dependabot/dependabot-core/commit/e571c5c6f3a812c0c51973ca063438d3cad71238) which means dependabot will now update dependencies in a plugin file which has `dependencies` in its name. Assuming that doesn't cause any trouble I'll expand out the plugin files that Dependabot fetches and updates.

[2019-02-11 14:18] #345 closed

[2019-02-11 16:44] rdunlop opened #361 "Recent released versions of gems did not trigger new PR when using "Live Updates""
For some reason, when rubocop 0.64.0 was released yesterday, it did not trigger a new PR on my project.

https://app.dependabot.com/accounts/tablexi/projects/562

I have my project set for "Live Updates".

It looks like this may have been happening for some time..as my project only has `autoprefixer-rails 9.4.5`, though `9.4.6` (Jan 21) and `9.4.7` (jan 28) have been released., and `bundler-audit

[2019-02-11 20:46] edmorley commented on #359
Hi :-)

I was wondering if the fix for the ignore logic might now be preventing the latest Django update from being picked up?

The ignore entry is here:
https://github.com/mozilla/treeherder/blob/7060eef00763e1690879461e9929886375988497/.dependabot/config.yml#L27-L30

This in-range version was released today:
https://pypi.org/project/Django/1.11.20/

[2019-02-11 21:01] aaronjensen commented on #108
I don't know if it's better, but another option would be to have a setting that only actually opens the PRs if the release is more than X days old.

I think the somewhat tricky thing about all of this is the scenario where a release, say 2.0 comes out, with a major bug. Then 2.0.1 is released 2 days later. If your delay was set to 3 days, what would be the behavior you'd expect? It'd be bad to mer

[2019-02-11 21:59] simlu commented on #108
@aaronjensen Not necessarily a problem if you run [npm audit](https://docs.npmjs.com/cli/audit) and write tests for your use-cases. This is really a delay to allow for major security flaws in heavily used packages to be uncovered.

[2019-02-11 22:08] aaronjensen commented on #108
@simlu Not sure I follow. My example/concern is something that would need to be dealt with in some way regardless of why the delay was happening.

[2019-02-11 22:20] simlu commented on #108
@aaronjensen If you run your ci and only allow merge after pass this is not a problem if the major bug is (1) logged in npm audit if its a security flaw (2) or fails your tests

So your point isn't really a concern. That release would just be skipped

[2019-02-11 22:27] aaronjensen commented on #108
@simlu so you're saying that if your CI runs `npm audit`, and you assume that within those X days the issue would have been reported there, then that build would fail once that version got merged in. I see what you're saying. In that case, you'd still end up with a bad version merged in, it would just not pass your CI on master. That is, unless it was a delay in actually opening the PR rather than

[2019-02-11 22:36] simlu commented on #108
@aaronjensen Correct, that's what I'm saying.

I guess it depends on your flow/setup. We merge into dev -> stage -> master and on a lot of repos we also run tests against PRs from external forks.

So your bad pr might not make it in at all. Npm audit should always be run when you run tests imo. But it depends on how fast you can react to it and how worried you are about security.

[2019-02-12 00:01] ybiquitous commented on #178
`squash and merge` is a very nice feature! I have wanted a long time! 😊

So, would you please add this `squash and merge` command to the `Dependabot commands and options` section? 🙏 🙏 🙏
I have been assumed it as unsupported until I noticed this issue. 😅

The following is an example screenshot on my repository: https://github.com/ybiquitous/eslint-config-ybiquitous/pull/343

![image](https://user-i

[2019-02-12 00:56] greysteil commented on #361
Just dug into this. It looks like you have three open PRs on that repo, and have the maximum number of open PRs per language/repo combination configured to three in your account settings. As a result, Dependabot is only creating new PRs when you merge an old one. You can update that limit [here](https://app.dependabot.com/accounts/tablexi/settings).

In this case, however, I think Dependabot could

[2019-02-12 00:56] #361 closed

[2019-02-12 01:50] greysteil commented on #359
You're totally right - I applied the fix to our main backend, which meant ignores were working, but not to our update script. As a result, the update script wasn't adapting to find the latest version *given the ignored versions*. I've just shipped a fix for that, and will re-run now.

[2019-02-12 02:13] greysteil commented on #361
(Code updated and you should have a PR for the latest version of Rubocop now. Thanks for the feedback!)

[2019-02-12 06:40] aaronjensen opened #362 "Support for CircleCI Orbs"
CircleCI orbs are versioned and published to a public repository. It'd be great if dependabot could offer automatic upgrades for them as well.

[2019-02-12 08:16] edmorley commented on #359
Many thanks :-)

[2019-02-12 13:21] rdunlop commented on #361
@greysteil thank you very much for the detailed explanation. I guess someone else at the company applied that limit. This repo used to be unlimited PRs. Is there any way to configure the number of open dependabot PRs on a per-repo basis?

[2019-02-12 13:22] greysteil commented on #361
Not yet, but it's something we'd like to move to be configurable at the repo level now we've got config files. Give us a couple of weeks on it.

[2019-02-12 13:32] vbshift opened #363 "Support Paket for dotnet project"
Do you plan to support Paket for dotnet project ?

Thank

[2019-02-12 16:32] greysteil commented on #363
Yes! It's not on our immediate roadmap, but we definitely want to add support in future. I'm going to keep this open so others can watch it for updates, and add their voice to adding support.

[2019-02-12 22:05] greysteil commented on #178
Documented! 🎉

[2019-02-12 22:33] greysteil commented on #362
I'm 👍 on this! We're polishing our existing languages first, but will get to it 🙂

[2019-02-13 10:47] ybiquitous commented on #178
Thank you very very much!!! 🎉 🎉 🎉

[2019-02-13 13:34] edmorley opened #364 "github-redirect.dependabot.com URLs not clickable in PR comment"
Hi

In mozilla/treeherder/pull/4635 the changelog section in the description looks like:

It would be good to adjust the URL replacement such that the `#2895` was a markdown link using the redirector URL, rather than both being a code comment.

Many thanks :-)

[2019-02-13 13:42] edmorley commented on #364
Similarly with mozilla/treeherder/pull/4634

[2019-02-13 14:43] greysteil commented on #364
Thanks Ed. These ones are a real case of whack-a-mole - we need to sanitize the content so that we don't accidentally spam GitHub PRs with links / contributors with emails, but it's complicated! I'll have a look at fixing those, though.

[2019-02-13 16:42] greysteil commented on #364
OK, this should be fixed. Before inserting the text in the PR description Dependabot will now run any changelogs that have a `.rst` suffix through Pandoc to covert them to markdown.

Relevant commit is [here](https://github.com/dependabot/dependabot-core/commit/92f474c26248ca6c3a7d65382f9d4a66a7a672f2). I think it's quite a clean solution, so 🤞.

[2019-02-13 16:42] #364 closed

[2019-02-13 19:31] greysteil commented on #364
Just verified that it's fixed: https://github.com/greysteil/treeherder/pull/4.

Thanks again for the heads up on this one! 🙂

[2019-02-13 20:15] edmorley commented on #364
The test PR looks great - elegant fix! Many thanks :-)

[2019-02-14 03:34] thomaseizinger opened #365 "Will the command @dependabot merge rebase the PR is necessary?"
Assuming you have

1. auto-rebase disabled
2. 3 open dependabot PRs
3. GitHub branch protection that needs up-to-date branches

If I issue `@dependabot merge` on all three PRs, will dependabot go ahead and rebase all three of them in some order so they are merged one after the other?

The idea would be to, at the end of a working day, look at some dependabot PRs and choose which ones to merge and

[2019-02-14 18:25] arthurio opened #366 "Add setting to define custom command to use for generating the requirements file"
Here I'm going to give a python usage example but I think it could be a generic feature for other languages as well. We use `pip-tools` to generate our requirements. However, we split our dependencies in `dev-requirements.in` + `requirements.in` and we use a handmade script to generate both `dev-requirements.txt` (from `dev-requirements.in` + `requirements.in`) and `requirements.txt` (only from `r

[2019-02-14 20:30] osman commented on #283
This sounds like a great feature, could we get this enabled too?

[2019-02-14 20:55] osman opened #367 "Rate Limiting Auto-Rebases"
We often see an issue where merging a branch, causes all pending Dependabot PRs to automatically get rebased. For us, this causes swarms of running jobs in CircleCI. It would be nice if those rebases were sent sequentially.

For example, given 5 pending dependabot PRs, the current implementation results in 5+4+3+2+1 = 15 builds. If they are sent sequentially (and auto-merge is turned on) then it w

[2019-02-14 20:58] osman opened #368 "Add option to only auto-rebase approved PRs"
Similar to (#367), this should help prevent swarms of CircleCI builds and I am not sure which technique makes more sense.

[2019-02-14 21:29] szpak commented on #5
I had been thinking about bumping different components of the same project (assuming the same version `from` and `to` - https://github.com/szpak/mockito-java8/pull/23 and https://github.com/szpak/mockito-java8/pull/24), but after I found this issue an ability to do manual bathing seems to be much easier to implement.

[2019-02-14 21:32] szpak commented on #345
Thanks @greysteil and sorry for delay. I had problem reach the repository owner to add Dependabot. In the end I tested it using my fork.

It seems to work in general. However, I have two remarks/suggestions:
1. For some reason Dependabot created 2 the same PRs - https://github.com/szpak/mockito/pull/4/files and https://github.com/szpak/mockito/pull/5/files
2. What do you think about changing a fil

[2019-02-14 22:19] greysteil commented on #366
Thanks for the feedback.

Dependabot has some logic to try to figure out the order of compilation automatically ([here](https://github.com/dependabot/dependabot-core/blob/master/python/lib/dependabot/python/update_checker/pip_compile_version_resolver.rb#L334-L368)). Have you already tried it and found that's not working?

My general principle with Dependabot has been to have it try to work out the

[2019-02-14 22:25] greysteil commented on #365
Not quite. It will do that for the first one (realise it can't merge, trigger a rebase, and then merge after the rebase. However, the other two won't be automatically rebased after they get out-of-date a second time. I think it would be good if they did, though, so I'm going to implement that now.

[2019-02-14 22:36] greysteil commented on #365
Implemented. Thanks for the feedback!

[2019-02-14 22:36] #365 closed

[2019-02-14 23:45] thomaseizinger commented on #365
Wow that was quick! :open_mouth:

You are amazing man! Thank you!

[2019-02-14 23:54] RohanNagar commented on #5
Just chiming in on this - I would love to be able to group all dependency updates into one PR each week and be able to merge that. I realize this is a big feature but I'm looking forward to it!

[2019-02-15 02:54] robertcoltheart commented on #175
@greysteil Is it possible to opt-in to updates from stable to non-stable (eg `4.2.3` to `4.3.0-beta.1`)? I'd like to be able to use this as a canary for upcoming package updates (.net) that we can use to develop against before a stable release drops.

[2019-02-15 11:09] greysteil commented on #175
Not currently, but we're thinking about adding an option to opt-in to exactly that. Let me have a think and get back to you.

Related to https://github.com/dependabot/feedback/issues/356.

[2019-02-16 14:20] ybiquitous commented on #330
@greysteil Incredible! 👏 👏 👏 👏 👏

npm@6.8.0 got the `repository.directory` field in `package.json`!
- https://github.com/npm/cli/releases/tag/v6.8.0
- https://docs.npmjs.com/files/package.json#repository

Additionally, React has already it!
- https://github.com/facebook/react/blob/v16.8.2/packages/react/package.json#L23

[2019-02-16 22:55] gitfool commented on #70
@greysteil I just found out about Dependabot config file support. Good stuff!

I don’t intend to use submodules though, so I would prefer not to have to add a subdirectory for a single file. Any chance of also adding support for a clean and simple `.dependabot.yml` file in the repo root directory? 😛

[2019-02-17 15:53] Eddi2015 opened #369 "Authentication failure"
I can't log in to my DependaBot Dashboard. It just randomly says this: Authentication failure

Sadly there's not much more information that I can give you.

[2019-02-17 16:05] greysteil commented on #369
Hmmm, that’s weird. Have you tried clearing your cookies and removing the Dependabot OAuth permission in GitHub? Then make sure you’re hitting https://app.dependabot.com

[2019-02-17 16:11] greysteil commented on #369
The link to death Dependabot in GitHub is https://github.com/settings/apps/authorizations

[2019-02-17 16:57] simlu commented on #70
@greysteil Thank you very much for implementing this. Makes my life so much easier <3

[2019-02-17 17:08] connorshea commented on #70
and @feelepxyz ❤️

[2019-02-17 18:50] greysteil commented on #70
Thanks folks!

Fetching from `.dependabot.yml` would be pretty straightforward for us - I've just put a PR into our main backend to do just that. I need @feelepxyz to approve it, though - he's the boss on anything config-file related for us.

Phil - what do you reckon?

[2019-02-17 19:11] greysteil commented on #369
@Eddi2015 did you get to the bottom of this?

[2019-02-17 19:11] #369 closed

[2019-02-17 19:26] greysteil commented on #330
Thanks @ybiquitous - we're getting there! Still some work to be done to make it fully supported:
- Update the `npm repo` command to use the directory (code is [here](https://github.com/npm/cli/blob/latest/lib/repo.js#L24-L35) if you want to put in a PR to npm?)
- Update the npm website to use the directory details on pages like [this one](https://www.npmjs.com/package/react-dom) (code is closed so

[2019-02-17 19:33] Eddi2015 commented on #369
Gonna try it again tomorrow. If the problem persists I'll reopen the issue.

[2019-02-17 22:52] greysteil commented on #121
Yes! Just implemented in [this commit](https://github.com/dependabot/dependabot-core/commit/a22235d399ae95c67903ce294576c95a2928b582). Will need to get each monorepo to convert to the new format, but that should be doable. 🎉

[2019-02-17 22:52] #121 closed

[2019-02-17 23:31] ybiquitous commented on #330
Thanks for your kindfull suggestion! I will start right away for `npm repo` and Yarn website! 💪

[2019-02-18 02:55] simlu commented on #86
We'd be very interested in a proper solution as well... Basically we want human prs to be reviewed before merging into our dev branch. However dependabot prs should be ok to auto merge. We could solve this independently from dependabot, however ideally it's solved by dependabot (if possible).

@greysteil What would be a appropriate request for the email you provided? If you post a template here mo

[2019-02-18 09:17] JayH5 opened #370 "[python]: Missed update"
Hi there 👋

I'm seeing an update that is failing to be detected for a Python package, about 8 hours after release on PyPI, and after pressing the `Bump now` button. The requirement is [here](https://github.com/praekeltfoundation/debian-wheel-mirror/blob/d65af2813d64d9750afe91223036604ca3dbfdcb/requirements.txt#L10). The pinned version is `regex==2019.02.07` when the latest version is `2019.02.18`.

[2019-02-18 09:26] greysteil commented on #370
Thanks for the feedback - I'll take a look.

[2019-02-18 09:30] JayH5 commented on #370
Just had 3 Dependabot PRs come through so I'm guessing you fixed something 😄

[2019-02-18 09:32] greysteil commented on #370
Yes - boosted the number of workers on our queues. Lots of PRs going out this morning and we'd got backed up! 😄

[2019-02-18 09:32] #370 closed

[2019-02-18 09:37] JayH5 commented on #370
Thanks a lot!

[2019-02-18 11:12] greysteil commented on #86
I'd go for something like this:

To support@github.com:

[2019-02-18 11:30] bennyn commented on #86
@greysteil According to [this post](https://github.community/t5/How-to-use-Git-and-GitHub/Where-do-I-post-feature-requests-for-Github/m-p/15027#M4671) we can bring up feature requests on https://github.community. How about creating a ticket there? We can then upvote and support it. 😃

[2019-02-18 11:53] feelepxyz commented on #70
@gitfool hey thanks for the kind words! On supporting `.dependabot.yml` in the root directory - I'm not sure we want to do this as it adds some overhead in documenting the config file that I don't think out-weights the added value. Having one location keeps the documentation consistent which helps with googling for the docs or finding other examples on GitHub. Does that make sense?

[2019-02-18 11:55] bsideup opened #371 "Individual Contributor License agreements"
Hi!

Some orgs require signing iCLAs before accepting the PRs. Spring projects is a good example of such.

Would it be possible to manually request signing the iCLA by Dependabot to keep the check happy?
Example:
https://github.com/bsideup/liiklus/pull/94#issuecomment-464639640

[2019-02-18 11:58] greysteil commented on #371
This one's a real pain. Dependabot acts as a GitHub app, so there's no user to be logged in as (it's not possible to log in as `dependabot[bot]`. As a result, Dependabot needs to be whitelisted in the CLA checker.

We've worked with the folks at [cla-assistant](https://github.com/cla-assistant/cla-assistant) to make that easy there, but it looks like you're using a different provider. Let me dig i

[2019-02-18 12:01] bsideup commented on #371
Hi @greysteil! Thanks for a fast answer. Ask me if you need to know anything about the Pivotal's CLA check.

[2019-02-18 12:01] greysteil commented on #371
Will do! Just looking through the code [here](https://github.com/pivotalsoftware/pivotal-cla) for a way to whitelist.

[2019-02-18 12:03] bsideup commented on #371
Maybe you can share how "cla-assistant" did it in their implementation (from the GitHub's API point of view). I will forward it to the Pivotal's CLA check team for diiscussion

[2019-02-18 12:08] greysteil commented on #371
They ended up adding a general whitelist category, with its own UI: https://github.com/cla-assistant/cla-assistant/issues/173.

Having scanned the Pivotal CLA repo I can't find anything to allow whitelisting there. I think this is definitely going to require some work from the CLA check team as a result. 😢

Can I leave this one with you? Basically what is needed is some kind of whitelisting that a

[2019-02-18 12:09] dsyer commented on #371
It's not clear that a whitelist is acceptable on legal grounds. We might have to insist that the PR is sent by an identifiable user account or something.

[2019-02-18 12:10] bsideup commented on #371
I will check with the CLA check team whether it's okay from the legal side and get back to you as soon as I have some information about it.
Thanks for reacting so incredibly fast👍 ...as always 😅

[2019-02-18 12:11] greysteil commented on #371
No worries.

@dsyer - I could put something in the Dependabot T&Cs saying Dependabot gifts its commits if your lawyers provide guidance on what they'd need. Would want it to be general and apply to everyone.

[2019-02-18 12:31] greysteil commented on #330
Great! In the meantime, [this PR](https://github.com/Microsoft/types-publisher/pull/578) will get DefinitelyTyped specifying the directory for each of its packages. We're getting there!

[2019-02-18 13:38] simlu commented on #5
Would love to see this as well! PRs are getting kind of noisy when you have a lot of fast changing deps.

[2019-02-18 15:06] feelepxyz commented on #315
@guillaumechervetaxa 👋 just deployed a change in how we process sub-dependency updates that  fixed the issue of no updates for your repo: https://github.com/AxaGuilDEv/react-toolkit/pulls

Looks like a few of your scoped packages are now being resolved from the npm registry instead of your private npm feed (afa-nrepo.azure-paas.intraxa) - should we be making this change?

Sorry it took so long to

[2019-02-18 15:06] #315 closed

[2019-02-18 15:53] ybiquitous commented on #330
I opened this PR npm/cli#163, but yet draft because I don't know how to test... 😓

[2019-02-18 18:17] gitfool commented on #70
@feelepxyz love your work, but your reasoning here surprises me and does not make sense, sorry. 😜

I would argue that given the target audience there's very little documentation overhead. It's standard to configure things from multiple places or via a hierarchy; both with simple precedence rules. It's common to use a single dotfile, so this would sit alongside all my other dotfiles. Conversely, it

[2019-02-18 18:27] simlu commented on #70
@gitfool I've made the identical request to circleci a while ago and they denied it for a similar reason. Config folders seems to be the way new tools are going.

The reason here is that if dependabot want to support more complex configs (e.g. reuse etc), it'll be very hard to support. There are just lots of unnecessary edge cases.

I was in the same boat as you were, but now I support the folder

[2019-02-18 18:42] gitfool commented on #70
@simlu I'm not going to belabor the point, just respectfully agree to disagree about the complexity of supporting both options.

@greysteil wow and thanks! (Presumably to be reflected in the [docs](https://dependabot.com/docs/config-file/) soon?)

[2019-02-18 21:29] ThomasLemaire commented on #5
This is what we need too ! Thanks guys !

[2019-02-18 23:18] arthurio commented on #366
The default behavior didn't work, but looks like using `-r requirements.in` in `dev-requirements.in` will work for us since we pin exact versions (see also: https://github.com/jazzband/pip-tools/issues/398#issuecomment-261252209). I'll give that a spin, thanks for the follow up!

[2019-02-18 23:18] #366 closed

[2019-02-19 00:51] ybiquitous commented on #330
When I researched the public source code of Yarn website, I found the place to render a repository's URL ➡️ [here](https://github.com/yarnpkg/website/blob/c864b2da2e0af2ea10db18e284ec5650867a6547/js/src/lib/Details/Links.js#L26-L44)

Perhaps the repository's data source seems to be fetched from Algolia server. 🤔

Here are network captures: ⬇️
![image](https://user-images.githubusercontent.com/4735

[2019-02-19 02:06] simlu commented on #86
@greysteil Thanks!

We've solved this now in circleci using gally and a bot github user. Not as clean as I'd like it to be (oh circle why do you make our life so hard), but works great.

Excerpt (job):

[code]

If you don't need approval you can skip that step in the job.

[2019-02-19 07:48] edmorley opened #372 "PR to update Python package 'slugid' linking to wrong repository"
Hi

Dependabot opened a PR to update the `slugid` Python package here:
https://github.com/mozilla/treeherder/pull/4658

However the repo and compare view links within the PR description link to the Javascript version of the library (https://github.com/taskcluster/slugid) rather than the Python port (https://github.com/taskcluster/slugid.py).

The PyPI page for the package is here:
https://pypi.org

[2019-02-19 08:15] feelepxyz commented on #21
@ianwremmel we launched config files recently - https://dependabot.com/blog/introducing-config-files/

[2019-02-19 08:31] feelepxyz commented on #70
@gitfool good points! One of the reasons we chose to put it in a folder was to support sub-modules but this is definitely a niche use case. For me, the stronger case is about supporting more complex configuration setups in the future. For example define PR templates as separate files, compile templated jsonnet files for reuse, or have separate configs for different types of tasks, e.g. release man

[2019-02-19 08:37] RohanNagar commented on #70
Are we still thinking of allowing the config file to live in the `.github/` folder... ?

Would be nice to keep the top level directory less cluttered..

[2019-02-19 09:32] guillaumechervetaxa commented on #315
Thank you very much, it is awesome ! Very nice work !

Thank for the feedback, I have fixed the package.lock, it was an old one :
https://github.com/AxaGuilDEv/react-toolkit/pull/84

[2019-02-19 10:43] greysteil commented on #330
Thanks for the research! Let's get that fixed: https://github.com/algolia/npm-search/pull/320. 🤞

[2019-02-19 12:33] ybiquitous commented on #330
Great! 👏👏👏

[2019-02-19 13:36] feelepxyz commented on #70
@RohanNagar yeah still considering this but want to hold off on adding more config file locations until we're clearer on the different features we want to support in future.

[2019-02-19 14:38] simlu commented on #70
@feelepxyz very nicely put!

@RohanNagar Well, that's why they are dot files and folders. On Linux these are hidden by default. We just use a tampermonkey script to hide them on Github (with a toggle button). Your ide likely has an option to toggle hide then as well.

Honestly, I'd rather see this supported natively by GH and ides than having tools deal with yet another config location. I really l

[2019-02-19 15:00] samselikoff opened #373 "Simple list for ignored_updates entry in config file"
Just dipping my toes into dependabot, great work on this awesome project!

I'm wondering if there's a simpler way to list out deps in `ignored_updates`. Right now my config file looks like this:

[code]

Perhaps `ignored_updates` could take a simple list of package names? Something like

[code]

[2019-02-19 15:38] greysteil commented on #373
Thanks for the kind words @samselikoff.

Hmmm, my first thoughts on this are:
- would specifying allowed updates, rather than ignores, be a better pattern for you here?
- would using a wildcard matcher (e.g., `ember-*`) be easier?

Config files are still pretty new, so we're really open to feedback on them and are still seeing new use cases.

[2019-02-19 17:14] samselikoff commented on #373
The reason to specify ignores is because we want to update this group of packages together. They are the default packages that come from creating a new Ember addon, and when Ember CLI goes through a version change there's often associated blueprint/files that need to change with them. So, we have this tool [Ember CLI Update](https://github.com/ember-cli/ember-cli-update) that does that.

The idea

[2019-02-19 17:46] ianwremmel commented on #21
🙌

[2019-02-19 18:17] greysteil commented on #372
Ah nuts. Yes, that's exactly the issue - the Dependabot logic for finding git sources for Python packages is [here](https://github.com/dependabot/dependabot-core/blob/master/python/lib/dependabot/python/metadata_finder.rb). Let me take a look into what we ned from `slugid` to get the correct URL.

[2019-02-19 18:21] jodastephen commented on #86
I've played with [this bot](https://github.com/dkhmelenko/autoapproval), and with some hacking managed to get it to auto-approve dependabot PRs so they then can be merged.

@greysteil, Ideally, this would be a new config option in dependabot, but I'm not sure if it is as simple as that. You can't normally approve your own PR, but maybe you can through the API? Otherwise, how about a new bot - appr

[2019-02-19 18:23] greysteil commented on #86
We can't approve our own PRs, but a GitHub action to automatically approve them ought to work. I think @hmarr had something basic thrown together.

[2019-02-19 18:56] greysteil commented on #372
PR to address in `slugid` is [here](https://github.com/taskcluster/slugid.py/pull/9).

This is a furstrating but pretty unlikely case - Dependabot does quite a lot to check that the source it's linking to is correct (including checking that the name of the package appears in the README for the source. Getting fooled by a port like this seems quite unlikely, and hard to work around, but I'll have a

[2019-02-19 19:47] hmarr commented on #86
I've just fixed up the auto-approval action I threw together a while ago and made the repo open source.

If you have access to GitHub Actions (and are using a private repo, as I gather they're not yet enabled for open source repos), this should do the trick for you.

https://github.com/hmarr/actions/#auto-approve

[2019-02-20 09:53] bzf opened #374 "sidekiq-ent missing changelog"
Could you add the changelog for the `sidekiq-ent` gem? It's available [here](https://github.com/mperham/sidekiq/blob/master/Ent-Changes.md).

Thanks!

[2019-02-20 11:48] greysteil commented on #374
Hmmm, that's going to be slightly trickier than it sounds. Dependabot's changelog lookup is all programmatic. Let me take a look...

[2019-02-20 11:56] chriseyre2000 opened #375 "UI is very slow on a large collection of repos"
We have over a thousand git repos which makes the user interface rather slow.
This also makes editing fields unreliable - it can take several attempts to allow an item to be updated.

[2019-02-20 12:00] greysteil commented on #375
Thanks for the feedback. Can you let us know exactly which screens are slow (even better if you tell us exactly which endpoints)?

There are some things we can change here, if it's our backend that's slow, and others that are trickier (if it's GitHub responding slowly).

[2019-02-20 12:18] greysteil commented on #373
Got you. That makes perfect sense.

Hmmmm. I'm worried about supporting a list of dependency names as the value for `ignored_updates`, mainly for consistency with the `allowed_updates` and `automerged_updates` settings, and with other settings. I do think the config file looks pretty ugly with all those `match` objects, though!

What are your thoughts @feelepxyz? Aside from adding complexity to ou

[2019-02-20 12:25] feelepxyz commented on #373
Oh definitely does look a bit ugly with a huge list of ignores! I would rather err on the side of consistency on this one to make it easier to move between the different settings and keep documentation clear.

[2019-02-20 12:28] greysteil commented on #373
OK, in that case I'm going to close this. Thanks for the feedback all the same @samselikoff, and apologies you have to put up with a slightly ugly config file!

[2019-02-20 12:28] #373 closed

[2019-02-20 13:30] samselikoff commented on #373
Not a problem and thx for being responsive! I actually have started letting several of these through so it's not as bad 👍

[2019-02-20 15:16] bzf commented on #374
Cool, I understand that it might be complicated to have some external changelog URL for some packages. Can't think of any other package where this could be applicable either 😄

Thanks for having a look though! 👍

[2019-02-21 08:16] bzf commented on #374
Noticed today that it's the same for the `sidekiq-pro` gem 😄

https://github.com/mperham/sidekiq/blob/master/Pro-Changes.md

[2019-02-21 08:34] waghanza commented on #70
@greysteil I think to things will be helpful

+ splitting configuration file (if only one, it will be very huge and unmaintainable in https://github.com/the-benchmarker/web-frameworks)
+ using `directories`, I mean specify multiple places for a **manifest** file

[2019-02-21 08:59] feelepxyz commented on #70
@waghanza thanks for the feedback. I can see that repo config getting quite long indeed!

We've been thinking about supporting multiple file configs by ingesting `config.json` as well as `config.yml`, and then letting you use something like [jsonnet](https://jsonnet.org/) to template the config file on your end.
Would you be up for writing  [jsonnet](https://jsonnet.org/) templates and compiling t

[2019-02-21 10:32] greysteil commented on #374
Yeah, I noticed that too. It's a really important gem, so I'd like to get this working 🙂

[2019-02-21 12:42] greysteil commented on #374
Been working on this this morning. I think [this change](https://github.com/dependabot/dependabot-core/compare/da3fb24..04c06f) should fix this. Will deploy this afternoon.

[2019-02-21 14:06] simlu commented on #70
@RohanNagar On another node, github.com now also uses the .github folder to store configuration. So changing this for dependabot might be possible, but you are fighting an uphill battle.

@greysteil @feelepxyz We already need to deal with large config files for various tools (e.g. circleci and serverless framework). Our solution is to use yaml-boost (disclaimer im the author), which is a similar i

[2019-02-21 14:36] greysteil commented on #374
Change is now deployed, so this should be fixed. 🎉

[2019-02-21 14:36] #374 closed

[2019-02-21 14:45] bzf commented on #374
Awesome! Thank for putting time into fixing this 😄

[2019-02-21 14:46] greysteil commented on #374
No worries - Dependabot is really just a collection of hundreds of small bits of polish, so it's almost always worth our time to make things a little bit better 🙂

[2019-02-21 22:40] richardson-trevor opened #376 "Dev/Prod dependency decision wrong when using both setup.py & Pipfile"
In our libraries we tend to use a setup.py file to specify the library and it's dependencies and a Pipfile for other potential environment-pinning declaration (tests, etc). Using this, it seems deps in the setup.py file are always considered dev deps in PRs from Dependabot, even when they are declared in the `install_requires` block. Is this expected? I am not familiar with the code here and had s

[2019-02-21 22:51] greysteil commented on #376
Oh good catch! Fixed in https://github.com/dependabot/dependabot-core/commit/d65f08d7244e3c97b003fe2bb6f18e7c1d08a54f, which I'm releasing now - thanks for flagging.

[2019-02-21 22:51] #376 closed

[2019-02-22 18:52] dimitarnestorov opened #377 "Doesn't update package.json when using tabs"
https://github.com/dimitarnestorov/use-hooks/commit/4c31123eaa4aa11bc2dd64e03cd1be4d271cb6bd

It only updates `yarn.lock`. The only thing strange in my repo would be that my `package.json` uses tabs instead of spaces (yarn supports it). Not 100% sure if that's the case though.

[2019-02-22 19:33] greysteil commented on #377
It looks like Dependabot has (correctly) identified your repo as a library, so it assumes you don't want it to update the `package.json` unless required. You can change that setting in your dashboard though - just click the cog by the update config and you'll get a screen which has this option:

![image](https://user-images.githubusercontent.com/1144873/53266487-c821b980-36d8-11e9-8a2e-69abb393bab

[2019-02-22 19:33] #377 closed

[2019-02-22 21:12] dimitarnestorov commented on #377
@greysteil Is there an option to bump the versions only for development dependencies?

[2019-02-22 21:14] greysteil commented on #377
Yep! For that you'll need to do the configuration using a [config file](https://dependabot.com/docs/config-file), and to specify `dependency_type: development` under `allowed_updates`.

[2019-02-22 22:35] elashpear opened #378 "Unable to access dependabot dashboard on new account"
Hello, I recently replaced my GitHub account with a new one tied to my company email address. Now, when I try to use the Dependabot dashboard, it tells me I need to install the dependabot app, but when I do I get an error:
<img width="640" alt="screen shot 2019-02-22 at 2 30 37 pm" src="https://user-images.githubusercontent.com/47397266/53275051-7401df80-36ae-11e9-813c-3dfa7af8406f.png">

The Netw

[2019-02-22 22:44] hmarr commented on #378
That's no good - sorry about this! And thanks for the detailed bug report.

It could be that your credentials have been cached too aggressively in localstorage.

If you try running `curl -H "Authorization: Bearer {TOKEN}" https://api.github.com/user` with the token you removed from the request, you should be able to see which user the token belongs to.

If the token does belong to your other user,

[2019-02-24 12:40] thomaseizinger commented on #190
@greysteil Did you ever get around to adding this setting to the frontend? I can't seem to find it ...

I would really like to activate this feature to avoid some redundancy in my workflow.

At the moment, I have to approve (so that GitHub allows dependabot to merge) and write `@dependabot-bot merge` into the feedback.

[2019-02-24 12:50] chriseyre2000 commented on #375
Most of the management screens are slow. Specific project setting updates are unreliable for example moving to live update.

[2019-02-24 13:53] greysteil commented on #190
We didn't, but happy to enable it for you on my side. Why accounts do you want it on?

[2019-02-24 13:57] thomaseizinger commented on #190
`nobt-io/frontend` would be great, thank you! :)

Are you still evaluating to make this a first-class feature?
I'd hate to bother you with further requests in the future :)

[2019-02-24 13:59] greysteil commented on #190
Yep! We're planning to move all of the account-level features (this is one of them) down to the repo level and expose them in config files, but before we do so I don't want to add anything else to the UI.

[2019-02-24 14:04] greysteil commented on #375
Hmmm, I can't see any reason why that endpoint would be slow - changing the update schedule doesn't make any requests to GitHub (except for auth), and it's a show view so I can't see how we could have many DB queries.

I guess it's possible that a large number of other requests could be being made at the same time and slow things down, but I'm not see any errors in our backend related to this what

[2019-02-24 14:06] greysteil commented on #375
@chriseyre2000 can you let me know the name of the GitHub account you're seeing this on?

[2019-02-24 19:02] connorshea commented on #145
@greysteil this'd be nice to have documented somewhere :) I almost opened an issue about how to go about setting multiple Dockerfiles in the `config.yml` (I have two Dockerfiles, called `Dockerfile` and `Dockerfile.ci`).

[2019-02-24 19:52] greysteil commented on #145
Agreed. I'll have think on where we can put it.

[2019-02-25 00:35] Harmon758 opened #379 "Live updates not triggering"
I have a repository's update schedule set to "Live updates", but it was last checked 3 days ago and there's at least two dependencies with updates:

![image](https://user-images.githubusercontent.com/9403740/53307927-ac4a1f00-3862-11e9-9e76-25b7970540ed.png)

[2019-02-25 01:58] thomaseizinger commented on #190
Awesome, thank you! :)

[2019-02-25 08:39] feelepxyz commented on #375
@chriseyre2000 do you have an example project id that you're finding slow? For the live updates, are they not triggering updates where you think they should?

[2019-02-25 09:54] greysteil commented on #379
Hmm, I can see that Dependabot only picked up the `jsonschema` and `configparser` updates this morning, when it did its daily update job. Let me take a look into why...

[2019-02-25 10:09] greysteil commented on #379
OK, I think there's some funky caching going on in warehouse that means Dependabot isn't getting the updates from the [updates feed](https://pypi.org/rss/updates.xml) that it should be getting. I'm going to work around that on our side.

Thanks for flagging this - would have been very hard to track down without the heads up.

[2019-02-25 10:37] greysteil commented on #379
OK, this should be fixed now. We're now hitting the updates feed once a minute, rather than once every 10 minutes, and are caching the updates we've previously seen, rather than relying on them being less than 10 minutes old at the point we check.

[2019-02-25 10:37] #379 closed

[2019-02-25 11:24] MatMoore commented on #375
Hi @feelepxyz,

This might be a slightly different problem, but my organisation also has > 1000 repos and if I go to

https://app.dependabot.com/accounts/ministryofjustice/add

Then I can't actually get to the repo I want to add because I have to keep clicking "show more repos". This makes it hard to set up dependabot in the first place (I've been using the [config file](https://dependabot.com/doc

[2019-02-25 11:41] feelepxyz commented on #375
@MatMoore oh yeah the dashboard really isn't built to manage that many repos. Sorry if this is causing any inconvenience!

We're currently focusing on improving config files and will be adding account level settings in near future, hopefully reducing the need for the dashboard.

How are you finding the setup with config files? Anything missing or making it hard to manage your scale?

[2019-02-25 13:44] MatMoore commented on #375
@feelepxyz I'm only working with a few of the repos myself so I didn't really have problems with it, it's just I had to read the documentation instead of just clicking a button so it took a little bit longer than it otherwise would have.

I don't know if its feasible but it would be nice as well if there was an example for every language that I could just copy into new repos, a bit like how github

[2019-02-25 14:56] php-coder opened #380 "Could it create an issue instead of PR?"
I have opted out from dependabot some time ago but I'm still need some kind of notifications :) Is it possible to configure dependabot to create issues about available updates instead of pull requests?

Thanks!

[2019-02-25 15:14] greysteil commented on #380
I'm not against this, but it would be quite a lot of work on our side and it's not a priority for the next 3-6 months.

In the meantime, hacking something together to do this using https://github.com/dependabot/dependabot-core, following the pattern in https://github.com/dependabot/dependabot-script, shouldn't be too tricky.

[2019-02-25 16:26] feelepxyz commented on #375
@MatMoore thanks! We've been thinking of creating a PR with the config file for the first language you add from the dashboard. Is this what you had in mind?

[2019-02-25 21:21] stefanahman commented on #179
The link is now broken?

[2019-02-25 21:23] greysteil commented on #179
Ah, looks like GitHub deprecated the entire platform discussion forum. I guess now my advice would be emailing support@github.com, or trying to find a relevant issue on https://github.community/ (but it's less geared to feedback).

[2019-02-26 10:42] MatMoore commented on #375
I'm not sure - what do you mean by the first language added from the dashboard? In our case we use a mix of languages so the config would still need to be different for different repos.

[2019-02-26 13:10] waghanza commented on #70
Hi @feelepxyz ,

My config file is https://github.com/waghanza/http-benchmark/blob/dependabot_config/.dependabot/config.yml. As you can see, it's quite long.

My first thought was to use `YAML` **alias** as `dependabot-core` is made in `ruby`. Even if this solution is not very standard, using
[code]
could be very helpful

[2019-02-26 13:19] simonpasquier opened #381 "Dependabot couldn't parse the go.mod found at /go.mod"
I've tried dependabot on https://github.com/prometheus/prometheus/ but it can't parse the `go.mod` file. It might because of the `replace` directive.

[2019-02-26 13:52] hmarr commented on #381
Sorry about this - I'll have a look and get back to you shortly!

[2019-02-26 14:15] simonpasquier commented on #381
No problem. Many thanks for the tool!

[2019-02-26 15:07] misund commented on #5
Since I haven't seen it mentioned yet: Greenkeeper groups some popular monorepo dependencies. Here is [their monorepo definition file](https://github.com/greenkeeperio/monorepo-definitions/blob/master/index.js), in case it could help you define a default grouping in javascript projects.

[2019-02-26 15:32] hmarr commented on #381
I've found the issue - we didn't have bzr installed, and `labix.org/v2/mgo` requires bzr to be installed (it's fetched from https://launchpad.net/mgo/v2).

I'll have a fix deployed soon, and let you know as soon as it's out.

[2019-02-26 15:50] greysteil commented on #5
Hey team,

Sorry for the slow progress on this one. I hear you all, and have seen all the 👍 reactions on the top-level issue!

Config files is shipped now, and in a state that we're happy with, so I've been picking up small robustness improvements throughout the codebase. I'm really keen to get to this soon, but want to make sure we do it right when we get to it.

The place we hear the most need f

[2019-02-26 15:57] feelepxyz commented on #70
@waghanza thanks for putting it together!

Unfortunately we don't currently support yaml aliases (because it can be used create recursive structures and cause memory leaks in the library we use). We might enable this in future but want to test it properly and make sure it doesn't cause any problems.

Right now, I think the best way to manage a really big config files is use some templating languag

[2019-02-26 16:09] feelepxyz commented on #375
@MatMoore one idea we've been toying with is allowing you to add repos from the UI but have it create the config file for you based on the settings/language defined in the dashboard. Nothing immediate planned on this but we're keen to improve the experience of getting started with config files over the next few months.

[2019-02-26 17:57] szpak commented on #345
@greysteil What do you think about my point from the previous comment?

[2019-02-26 19:11] hmarr commented on #381
The fix is out, and I tested it on a fork of https://github.com/prometheus/prometheus, and it all seems to be working now.

Sorry for the initial trouble you faced, and please let me know if you spot anything else not working as expected!

[2019-02-26 19:11] #381 closed

[2019-02-27 08:19] waghanza opened #382 "How live updates are done ?"
Hi,

I have configured `live` updates for **php:composer** in https://github.com/the-benchmarker/web-frameworks/blob/master/.dependabot/config.yml#L153

As the doc says this will create a `PR` inside the repository on https://packagist.org upload

However, I can see that https://packagist.org/packages/laravel/framework has been updated ~16 hours ago.

When updates are made on @dependabot-bot side

[2019-02-27 08:20] waghanza commented on #382
@greysteil Maybe related to https://github.com/dependabot/feedback/issues/379

[2019-02-27 08:24] ErikSchierboom commented on #5
I also would really like this feature, as I have a C# project with many different projects, each of which has their own dependencies: https://github.com/exercism/csharp/

[2019-02-27 08:43] simonpasquier commented on #381
Thank you very much for the very fast answer! I'll be definitely poking with dependabot in the coming weeks.

[2019-02-27 11:52] greysteil commented on #382
Huh, I'm not sure how we can have missed that, unless there was a mass of other dependency releases that happened at the same time.

Dependabot uses [this endpoint](https://packagist.org/feeds/releases.rss) to poll for recent PHP releases. It hits it once a minute, and triggers updates for all users who have `live` updating enabled immediately.

I've looked in our DB, and we didn't trigger any upd

[2019-02-27 11:52] #382 closed

[2019-02-27 12:54] waghanza opened #383 "Default reviewers / labels"
Hi,

Actually **default_reviewers** and **default_labels** stay on each package levels, I mean not globally (but for each dependency).

I think this could be a great addition to have the same features, but in a global scope, I mean having
[code]
so as the `PR` create by @dependabot-bot is labeled and reviewer is picked by default (if no one is specified at dependency level).

Regards,

[2019-02-27 14:56] etiennebarrie opened #384 "Limit of open pull requests per repo/language"
Follow-up to #3, it would be nice if the limit could be set for the repo/language directly, not at the account level.

[2019-02-27 14:57] greysteil commented on #384
We're actually planning exactly that. CC @feelepxyz for your config files work.

Thanks for the feedback!

[2019-02-27 15:37] hmarr commented on #381
Great! Any questions - just ask.

[2019-02-27 22:22] waghanza opened #385 "Splitting config files"
Hi,

As you know https://github.com/the-benchmarker/web-frameworks/blob/master/.dependabot/config.yml is a very huge config files.

It could be helpful to split configuration into multiple files.

If I may, I think of a solution : having a service plugged as a `github ` or `gitlab` **hook** that store the configuration found in repository (so as an issue could be created if configuration is not va

[2019-02-28 11:59] guillaumecostanza opened #386 "For JS dependencies that specify a git source and a SemVer requirement, use the version number (from the tag) instead of the commit SHA"
Hi,

Is it possible to use package.json version instead of commits for private repositories
Acutal PRs name looks like : Bump <my-private-repo> from `f9db710` to `0567f71`

[2019-02-28 12:02] greysteil commented on #386
Yeah, I'm working on this today. The trouble is that the version in the lockfile is the git SHA, not the tag, so it's a little tricky.

[2019-02-28 13:38] greysteil commented on #386
Fixed in https://github.com/dependabot/dependabot-core/commit/fe61112d23eebc123a5717704a9cfaf9ae3e75a1.

[2019-02-28 13:38] #386 closed

[2019-02-28 13:49] guillaumecostanza commented on #386
@greysteil great ! what will be the behavior ? will it be by default ? when will it be released (so I can test it)

[2019-02-28 14:17] greysteil commented on #386
Behaviour is what you'd expect - the PRs will include version numbers, like other PRs do. Deploying now. 🤷‍♂️

[2019-02-28 15:01] greysteil commented on #385
Interesting. We definitely buy the "massive file" problem, and are keen to solve it. We've mooted supporting JSON so that jsonnet could be used to generate the file, but that wouldn't solve the problem of it becoming out-of-date when new directories you want to track are added. Fixing that likely needs support for globs.

Can you say a bit more about what you were thinking about with a hook?

[2019-02-28 15:05] greysteil commented on #345
1. That... is really weird. Digging into it now.
2. Trouble is that that would cause Dependabot to pull down a *lot* of additional files, which could cause problems with rate limits. I think it's safest to keep it as it is, until we see situations where a dependency update in some other file is being missed.

[2019-02-28 15:29] waghanza commented on #385
sure, the idea behind is that on  **push** (I mean the default branch on a repository track by @dependabot-bot is updated), a `middleware` is called that
+ aggregate / validate configuration files
+ store configuration for this reposiory on **your** side (so as it can be shared by any task)

[2019-02-28 15:31] greysteil commented on #385
So basically using an API to create update configs, rather than config files? The API docs [here](https://github.com/dependabot/api-docs) ought to be enough to do that already (I'll add documentation for a DELETE endpoint now.)

[2019-02-28 15:31] waghanza commented on #385
what I mean by hook is a **github** webhook trig on each **push**
https://github.com/the-benchmarker/web-frameworks/settings/hooks/new

[2019-02-28 15:32] greysteil commented on #385
Or maybe I'm misunderstanding. Dependabot already updates its setup every time a new config file is pushed. What am I missing here?

[2019-02-28 15:32] waghanza commented on #385
yeah an API, as you said in https://github.com/dependabot/feedback/issues/385#issuecomment-468316471, but called by github

[2019-02-28 15:36] waghanza commented on #385
what I imagine is that `.dependabot/config.yml` should be aggregated/validated/update on each push + stored at **your** side

I mean, having a `.dependabot/config.yml` splitted, with aliases ..., and read on each push to avoid memory leaks, as said https://github.com/dependabot/feedback/issues/70#issuecomment-467495685

[2019-02-28 15:41] greysteil commented on #345
FYI, (1) is now fixed (it was a race). Thanks again for the heads up on that one!

[2019-02-28 15:42] szpak commented on #345
Ad. 1. :+1:

Ad. 2. Ok, it should be a big problem.

[2019-02-28 16:19] greysteil commented on #385
Ah, OK. What do you mean by splitted? Sorry for all the questions!

[2019-02-28 16:22] waghanza commented on #385
Np for all questions, it's a pleasure to help :heart:

I mean in separated files. In fact, for me a repository **SHOULD** contains sources files (in `.dependabot/config.d/*` for example), and @dependabot-bot **SHOULD** read a aggregated version of this/those file(s)

[2019-02-28 16:24] greysteil commented on #385
Got you. OK, we'll think on it - thanks for the feedback.

[2019-02-28 16:28] waghanza commented on #385
@greysteil if you need help, I'll be glad to contribute (and why not use `crystal` :stuck_out_tongue:)

[2019-02-28 20:55] peterbe opened #387 "Location of requirements file"
We don't have a `/requirements.txt` file but rather it's [`/app/requirements/default.txt`](https://github.com/mozilla/experimenter/blob/master/app/requirements/default.txt)

How do I set that up on...
<img width="909" alt="screen shot 2019-02-28 at 3 55 08 pm" src="https://user-images.githubusercontent.com/26739/53597868-423abe00-3b71-11e9-8122-63bb5dc1f9e7.png">

[2019-02-28 20:56] greysteil commented on #387
If you specify the `app` directory Dependabot will figure it out from there :-)

[2019-02-28 20:57] peterbe commented on #387
That worked!

[2019-02-28 20:57] #387 closed

[2019-03-03 17:58] waghanza commented on #14
This could also avoid unnecessary `CI` **builds**

I mean generaly `CI` run on each `PR`, and having 2 `PR`s make the work twice on `CI` side

[2019-03-03 19:03] olbrich opened #388 "Add support for Appraisals file"
The `appraisal`(https://rubygems.org/gems/appraisal) gem is useful for testing against sets of gemfiles (often for testing a gem against a range of different rails versions).  These files are usually generated into a subdirectory by `appraisal generate`, and the `Appraisals` file in the repo usually defines overrides that need to be done against specific versions.

It would be useful if dependabot

[2019-03-03 19:05] olbrich opened #389 "Add support for Berkshelf"
Please add support for `Berksfile` and `Berksfile.lock` files used by `berkshelf` as used with chef.

[2019-03-03 19:21] chriseyre2000 commented on #375
The projects are all private (mergermarket).
The main problem I have is the UI being incredibly slow/imprecise when editing particular project settings. I am trying to get as much as I can set to immediate updates and auto merge once tests pass.

[2019-03-03 19:24] chriseyre2000 opened #390 "Collect feedback on changes needed to resolve a PR"
A centralised pool of feedback on how to resolve problem upgrades would make everyone's life easier if only 1% of users contributed.

[2019-03-04 07:10] greysteil commented on #388
Thanks for this. We've got another issue tracking it at https://github.com/dependabot/dependabot-core/issues/978, so I'm going to close, but I agree appraisals support would be nice.

[2019-03-04 07:10] #388 closed

[2019-03-04 07:13] greysteil commented on #389
Thanks for this. This *should* be relatively straightforward, since the resolver berkshelf uses is Molinillo, the same one as used in Bundler. I'm crunching on a couple of other things but will try to get to this.

[2019-03-04 08:36] feelepxyz commented on #375
@chriseyre2000 sorry for the crappy experience! When you say imprecise, do you have a specific example in mind? Also, what browser are you using? Have you tried logging in an incognito/private tab with the same slowness? Would be helpful to get as much detail as possible to figure out what's going on here.

Also, if you're setting up lots of projects with the same settings, config files might make

[2019-03-04 13:20] rdunlop commented on #244
@greysteil looks like they want more changes on your PR.

[2019-03-04 21:47] gkohen commented on #343
@greysteil, unfortunately sonar cloud did not respond and now builds break on dependabot submitting React.js core upgrade. Any chance for a stopgap?
Thanks

[2019-03-05 10:27] feelepxyz commented on #375
@chriseyre2000 FYI I've seen quite a few errors for your account so digging into these to see what's going wrong

[2019-03-06 08:01] chriseyre2000 commented on #375
The main errors are when using the dropdown clicking on an item has no effect, using the keyboard sometimes worked.

I have been using chrome on mac, not yet tried incognito mode

[2019-03-06 10:36] feelepxyz commented on #390
@chriseyre2000 yes good shout, definitely keen to help with breaking changes on updates. Are you thinking of a stack exchange type thread for each dependency version where people could contribute?

We've also been thinking of ways to standardise around "codemods" that could be run automatically by Dependabot. Some library maintainer already bundle scripts that will refactor your code to work with

[2019-03-06 10:39] feelepxyz commented on #383
@waghanza thanks for the suggestion and sorry for the slow response on this one! We're currently planning a bunch of work to add account level settings to the config file so want to figure this out before sharing general settings that might make it less intuitive.

[2019-03-06 13:46] MatMoore opened #391 "Dashboard error after adding a private repo"
I added a dependabot config file to a private repo, and when I went back to my organisation dashboard I got this error:

<img width="575" alt="screen shot 2019-03-06 at 13 41 34" src="https://user-images.githubusercontent.com/87579/53885566-fd51d400-4015-11e9-8d04-2fdc1945b943.png">

In developer console I see this error for `https://api.dependabot.com/active_repos?account-id=2203574&account-type=

[2019-03-06 14:09] feelepxyz commented on #391
@MatMoore oh looks like a bug on our side caused by the limit of private repos being hit.

You'll need to upgrade the organisation plan from the marketplace, you can access the link on your plan page: https://app.dependabot.com/accounts/ministryofjustice/plan

Sorting out the bug.

[2019-03-06 15:30] feelepxyz commented on #375
@chriseyre2000 looks like we're doing too many requests causing GitHub to rate limit some requests, which in turn causes flaky responses on the front end.

I've made a change reducing the number of requests on the dashboard which should improve things for you. Could you see if this has improved things for your account?

[2019-03-06 15:42] feelepxyz commented on #391
@MatMoore deployed a fix for the error message

[2019-03-06 15:42] #391 closed

[2019-03-06 17:04] MatMoore commented on #391
Ah ok, that makes sense. Thanks.

[2019-03-07 07:47] quittle commented on #20
Hi, just checking in as another interested party.  Do you think this might be doable soon?

[2019-03-07 08:21] Tapchicoma opened #392 "Gradle: failed to update dependencies that has referenced versions"
When [dependencies.gradle](https://github.com/freeletics/CoRedux/blob/master/dependencies.gradle) has separated versions variables from dependency declaration depenabot fails to update:
[code]

[2019-03-07 09:08] chriseyre2000 commented on #375
Thanks that's much better.

[2019-03-07 09:20] feelepxyz commented on #375
@chriseyre2000 great! Thanks for reporting this and sorry for the slow turnaround!

[2019-03-07 09:20] #375 closed

[2019-03-07 10:48] feelepxyz commented on #378
@elashpear did you manage to get it working?

[2019-03-07 10:52] feelepxyz commented on #367
@osman great suggestion! We've been thinking of something similar but haven't managed to get to it yet due to a bunch of ongoing robustness work. We're keen so will get to to in due course! Sorry to keep you waiting.

[2019-03-07 10:55] feelepxyz commented on #332
Going to close this - let us know if you're still seeing this issue!

[2019-03-07 10:55] #332 closed

[2019-03-07 10:57] feelepxyz commented on #316
Feedback from https://github.com/dependabot/feedback/issues/367

[2019-03-07 10:57] feelepxyz commented on #367
@osman added your suggestion to this existing issue: https://github.com/dependabot/feedback/issues/316

[2019-03-07 10:57] #367 closed

[2019-03-07 10:58] feelepxyz commented on #316
Feedback from https://github.com/dependabot/feedback/issues/368

[2019-03-07 10:59] feelepxyz commented on #368
@osman added your feedback this https://github.com/dependabot/feedback/issues/316

[2019-03-07 10:59] #368 closed

[2019-03-07 11:03] feelepxyz commented on #117
Feedback from https://github.com/dependabot/feedback/issues/380

[2019-03-07 11:03] feelepxyz commented on #380
@php-coder added your comment to this existing issue: https://github.com/dependabot/feedback/issues/117

[2019-03-07 11:03] #380 closed

[2019-03-07 11:07] feelepxyz commented on #353
Feedback from https://github.com/dependabot/feedback/issues/383

[2019-03-07 11:07] feelepxyz commented on #383
@waghanza added your suggestion to this existing issue: https://github.com/dependabot/feedback/issues/353

[2019-03-07 11:07] #383 closed

[2019-03-07 12:00] hlascelles opened #393 "Dependabot may be excluding files in checkout"
We have some external code that configures our Gemfile, and one is a dotfile. eg (simplified example):

Gemfile
[code]

`helpers/gem_helper.rb`
[code]

`helpers/other_file.rb`
[code]

Currently Dependabot fails, saying:
[code]

It looks like Dependabot *is* correctly pulling in *some* external ruby files. In this case, it correctly pulls in the first external ruby file `helpers/gem_helper.rb`. But

[2019-03-07 16:42] yss14 commented on #6
This is now working. Just comment on a dependabot PR with `@dependabot badge me` and you will receive markdown for a personalized badge.

[2019-03-07 16:44] greysteil commented on #6
We're going to have a really big update on the show view for update configs soon (likely in May), but I don't want to spill the beans on it yet. 🙂

[2019-03-07 22:39] greysteil commented on #393
Thanks for the feedback @hlascelles.

The code for Dependabot's file fetching logic is [here](https://github.com/dependabot/dependabot-core/blob/master/bundler/lib/dependabot/bundler/file_fetcher.rb) and you're quite right - it fetches `require_relative` files, but only one level of them.

This is the first time I've seen a setup where you've got nested `require_relative` calls in a Gemfile. Would

[2019-03-08 02:48] simlu commented on #6
@yss14 Can you clarify what is exactly working? Are dependency status pages available now?

[2019-03-08 07:26] edmorley commented on #372
Ah I didn't know it did that - I agree this is likely something that's not going to come up often and therefore not worth trying to fix. Thank you for the metadata PR against slugid :-)

[2019-03-08 07:26] #372 closed

[2019-03-08 08:17] yss14 commented on #6
@simlu Sorry, I must have overseen a comment above where this was already mentioned. I related to the plain [![Dependabot Status](https://api.dependabot.com/badges/status?host=github&repo=yss14/musicshare)](https://dependabot.com) badge.

[2019-03-08 18:08] elashpear commented on #378
@hmarr you're right! My old token was cached - clearing site storage allowed me to go through new account setup successfully.

I didn't notice until just now but there was a hint on the logout menu - my old username was displayed next to the `Log out` button even though my new user was shown at the top of the drop-down!

[2019-03-08 18:12] #378 closed

[2019-03-09 14:31] arnavb opened #394 "Dependabot doesn't run `cargo update`"
I recently added dependabot to my [Rust project](https://github.com/arnavb/bef93) and I got a [PR](https://github.com/arnavb/bef93/pull/3) from the bot which updates `rand` from 0.6.1 to 0.6.5. However, when `rand` was updated, none of its subdependencies (AFAICT) were updated. As a result, the build broke ([see here](https://travis-ci.org/arnavb/bef93/builds/504008636)). To fix this, I fetched th

[2019-03-09 14:36] greysteil commented on #394
That’s really surprising - under the hood Dependabot does run `cargo update`. Let me take a look.

[2019-03-09 14:55] greysteil commented on #394
OK, digging into this.

On the update:
- Dependabot does indeed run `cargo update`. The code is [here](https://github.com/dependabot/dependabot-core/blob/master/cargo/lib/dependabot/cargo/file_updater/lockfile_updater.rb#L26-L31). We specify the dependency that's being updated, so that unrelated dependencies aren't updated however
- In this case, it looks like the latest version of `rand` relies o

[2019-03-09 15:36] arnavb commented on #394
Well, it's probably just that I don't know how to checkout a branch with slashes locally because whatever I try doesn't work.

Also, then how did `cargo update` on my computer resolve the dependencies?

[2019-03-09 15:40] greysteil commented on #394
Running `cargo update` means "update all of my dependencies", which in this case just happened to fix things. Dependabot runs `cargo update -p rand` which means "update only rand and its sub-dependencies".

For checking out branches with slashes locally you can just use `git checkout dependabot/cargo/rand-0.6.5` (for this example). I do it all the time - let me know if you have any trouble!

[2019-03-09 15:40] #394 closed

[2019-03-09 15:41] greysteil commented on #394
(Thanks for the feedback btw - it's always really useful to hear from users, and whilst in this case it looks like Dependabot was doing the right thing and the problem was with `rand` it could easily have been a problem on our side. Always keen to hear if you ever run into problems.)

[2019-03-09 16:06] arnavb commented on #394
Thanks for the clarification and quick response!

[2019-03-09 20:44] connorshea opened #395 "How to configure dependabot to only update packages within a certain range?"
So [in my project I have a config.yml](https://github.com/connorshea/ContinueFromCheckpoint/blob/26946e8021d4937e718ea42ad98ccfb458350c55/.dependabot/config.yml) for my yarn packages that looks like this:

[code]

My goal here is this:

- `webpack-dev-server` can be upgraded from its current version (3.1.14) to any version within the 3.x  series (3.2.0, 3.3.0, 3.3.1, etc.)
- `webpack-dev-server` c

[2019-03-09 21:45] greysteil commented on #395
It looks like this is a mismatch in expectations. Given the setup above, Dependabot thinks you're telling it "ignore webpack 4.x". If you chance the `version_requirement` there to be `5.x` that should fix things. Similarly for `webpack-dev-server` - you want the `version_requirement` there to be `4.x`.

[2019-03-10 18:21] connorshea commented on #395
I'm not sure `version_requirement` really makes sense as the key name in that case, though maybe that's just me not reading things right.

It might be good to have an example in the docs to clarify how this specific property works regardless :)

I've fixed it in my config, so you can close this issue whenever.

[2019-03-10 19:45] chriseyre2000 commented on #390
It's exactly that. It would also allow maintainers to see upgrade pain in the wild.

[2019-03-11 09:38] ream88 opened #396 "Dependencies in monorepo"
Hey 👋

I have a monorepo GitHub repository and one of my elixir projects in this monorepo loads a dependency from another elixir project in my monorepo. However this fails as @dependabot fails to find the path. Does @dependabot has access to the whole repo, or only the configured directory?

[2019-03-11 12:06] kennethlarsen opened #397 "Dependabot checks but doesn't create a PR"
We have a private repository with Dependabot setup. At first, it created an issue in the repo saying it couldn't authenticate with our registry. Then I added the credentials and it started checking our dependencies but it just doesn't create any PRs.

I know that a lot of the dependencies are out of date so it should find something to upgrade.

Am I missing something here?

[2019-03-11 14:30] kennethlarsen commented on #397
@greysteil Absolutely - couldn't find that email in the dashboard. Will send a mail.

[2019-03-11 14:31] greysteil commented on #397
Oh good point - we should add an issue template to this repo, and include it there.

@feelepxyz if you have a moment could you handle that?

[2019-03-11 16:00] nesl247 opened #398 "Add support for symfony.lock (and potentially other dep manager plugins)"
symfony/flex is a composer plugin that is used for the Symfony framework. It uses it's own `symfony.lock` file in order to determine if certain `recipes` need to be run. These create example configs and such for installing bundles (integrations) into the framework.

It would be great if Dependabot would either include that in it's commits, or have a configurable way for it to happen.

[2019-03-11 17:26] hlascelles commented on #393
Thanks for the steer @greysteil. Yes, it would be a relatively easy change. Cheers!

[2019-03-11 17:26] #393 closed

[2019-03-11 18:15] kapso opened #399 "How do I update my credit card?"
Dont see a way to update cc.

[2019-03-11 18:25] hmarr commented on #399
We use the [GitHub Marketplace](https://github.com/marketplace/dependabot) for billing, so you'll need to [update your GitHub billing details](https://github.com/settings/billing).

[2019-03-11 18:25] #399 closed

[2019-03-12 04:20] Harmon758 commented on #379
I think there's still updates being missed.
The ones I've noticed that haven't triggered yet:
- matplotlib 3.0.3
- attrs 19.1.0
- certifi 2019.3.9
- psutil 5.6.0 (and 5.6.1)

[2019-03-12 05:00] greysteil commented on #379
I looks like Dependabot did trigger update runs for all of the above, but because you had 10 PRs open at the time it didn't create new PRs for you (Dependabot limits itself to 10 open PRs at any given time).

Now that you've closed those PRs you'll receive the additional updates.

[2019-03-12 05:01] greysteil commented on #396
Hey, sorry for the slow reply.

Dependabot has access to the whole repo, so this shouldn't be failing. If you email me the full name of the repo I'll dig into it.

[2019-03-12 05:08] Harmon758 commented on #379
Ah, I didn't know that. Thanks!

[2019-03-12 16:53] andymckay opened #400 "Upgrade notice contains escaped URL"
I got this notice, which is 🆒 but I thought it would be easier if the URL in the message was not escaped and the link was clickable:

![Screen Shot 2019-03-12 at 9 50 18 AM](https://user-images.githubusercontent.com/74699/54219394-a84a0e00-44ac-11e9-97b8-b849c0c5213d.png)

[2019-03-12 21:02] greysteil commented on #400
Totally agree! @feelepxyz - can you take a look?

[2019-03-12 21:56] feelepxyz commented on #400
Nice catch! Deploying a fix for this now ✌️

[2019-03-12 21:56] #400 closed

[2019-03-13 09:03] tobybellwood opened #401 "how to target multiple composer.json in the same folder"
Hi - we've got two composer.json files in the same folder (named differently obvs)

I know you can target multiple folders per project, but can you specify individual files to target (given that one of them is called composer-somethingelse.json)?

[2019-03-13 12:40] greysteil commented on #401
Ah, interesting. We can't do that at the moment! I'm going to leave this open as it would be good to support it - can you say a little more about the use case?

[2019-03-14 09:12] waghanza opened #402 "Access to some logs"
Hi,

I've a strange behaviour here, https://github.com/the-benchmarker/web-frameworks/issues/1080

I think @dependabot-bot missed something.

Is there any way we have access to some logs, to be able to investigate / be more pro-active ?

Regards,

[2019-03-14 09:36] ream88 commented on #396
Done 😊

[2019-03-14 09:36] #396 closed

[2019-03-14 13:41] zachmccormick commented on #190
Oh this feature is awesome - I would love this too for @ColossusInnovation !!

[2019-03-14 13:43] greysteil commented on #190
@zachmccormick no problem - I've enabled it on your account. 🎉

[2019-03-15 01:55] greysteil commented on #402
Just commented on that issue - looks like the PR was created but then closed.

I'd love to add more detailed logs, but as you can imagine it's non-trivial keeping credentials safe etc.. I'll keep this open and we'll get to it!

[2019-03-15 06:31] #395 closed

[2019-03-15 06:32] greysteil commented on #395
Definitely agree on the docs example - I'll add one now 🙂

[2019-03-15 06:37] greysteil commented on #397
Following up over email.

[2019-03-15 06:37] #397 closed

[2019-03-15 08:07] waghanza commented on #402
Sure thing, but you can imagine a `cli` tool for that

[2019-03-16 01:23] greysteil commented on #398
Thanks for the feedback @nesl247.

This one has history! There's an issue [here](https://github.com/dependabot/dependabot-core/issues/625) which I think is still up-to-date. Since Dependabot doesn't clone your repo there's no way for it to install the bundles etc. for you.

Perhaps a good candidate for a GitHub Action? I'm going to close because it can't live within main Dependabot.

[2019-03-16 01:23] #398 closed

[2019-03-16 02:55] nesl247 commented on #398
Thanks for the info.

[2019-03-17 03:13] greysteil commented on #392
Good catch! It looks like Dependabot wasn't handling that format at all - I've just shipped [this commit](https://github.com/dependabot/dependabot-core/commit/094d5c3f33b72acc7a9f288071a5ff2248c0c254) which will help, but I think there's more work to do when there's an additional layer of indirection. Let me look into that...

[2019-03-17 03:15] greysteil commented on #392
Actually, I think that commit fixes things here. 🎉

[2019-03-17 03:15] #392 closed

[2019-03-17 04:04] greysteil commented on #283
@osman so sorry for not getting back to you on the above! Not sure how that got stuck in my inbox. Do you still want this enabled?

[2019-03-17 14:32] GKFX opened #403 "Unclear why Dependabot is now failing on our repository"
Hi all! Since https://github.com/camdram/camdram/commit/a9e76c405dcaca6886d3fd857cba4d527e6b563c, Dependabot has been giving error messages and as they're quite uninformative I've got no real idea why. See https://github.com/camdram/camdram/pull/608.

The commands I executed on my machine were
* `composer update twig/twig` to generate https://github.com/camdram/camdram/commit/a9e76c405dcaca6886d3f

[2019-03-17 17:11] greysteil commented on #403
Just dug into this - it looks like those errors are occurring because Dependabot is timing out when trying to regenerate the PR. That's pretty sad, since we're running it on a box for 8GB of ram, and it has 40 minutes to complete.

I'm going to try running locally and see if there's an underlying error that's causing the slowness.

[2019-03-17 17:31] greysteil commented on #403
Found the bug - it's [this commit](https://github.com/dependabot/dependabot-core/commit/d99a97a5292e75ff3406c8a5ef38f1200a91bbb8). I'll get that fixed asap.

[2019-03-17 22:41] greysteil commented on #403
Fixed by https://github.com/dependabot/dependabot-core/commit/54392668f9eb436cfd59533cc2d31ae0e3b5c4d5.

[2019-03-17 23:37] greysteil commented on #403
I was really hoping that had fixed this, but it doesn't look like it has. I'll keep digging.

[2019-03-18 09:20] nijikon commented on #126
@greysteil any update on this?

[2019-03-18 17:05] Tapchicoma opened #404 "Gradle: dependency was updated to non-released version"
Please check following PR from dependabot:
https://github.com/freeletics/CoRedux/pull/24/files

In this PR bot tries to update [kotlinx.coroutines](https://github.com/Kotlin/kotlinx.coroutines) to the version that I can't find in release notes.

Also version name is suspicious - `'1.1.1-eap13-2-eap13-2'` - two times `eap13-2`.

[2019-03-18 17:09] Tapchicoma opened #405 "Gradle: add support for dependencies in buildSrc"
Gradle has a concept of `buildSrc` (https://docs.gradle.org/current/userguide/organizing_gradle_projects.html#sec:build_sources) that provides logic for the project build files.

Also it is possible to define there a dependencies (even using common Kotlin files): https://github.com/JLLeitschuh/ktlint-gradle/blob/master/plugin/buildSrc/src/main/kotlin/PluginDependencies.kt

Please add support to up

[2019-03-18 17:12] greysteil commented on #404
That's definitely a bug, to do with the way pre-release strings get recorded. I'll dig into it now.

[2019-03-18 17:35] greysteil commented on #404
Fixed in https://github.com/dependabot/dependabot-core/commit/acb75bf96e5be02641e0a3712f7846978255a7bc. Thanks for reporting!

[2019-03-18 17:35] #404 closed

[2019-03-19 00:23] iwata commented on #322
@feelepxyz
Have you made any progress?

[2019-03-19 02:23] connorshea opened #406 "Dockerfile base image changed from Debian to Alpine by dependabot"
In [this PR](https://github.com/connorshea/ContinueFromCheckpoint/pull/251), Dependabot updates two separate Dockerfiles that use Alpine and Debian base images respectively, but it changes the distro of one of them from Debian to Alpine. (All are from [the official Ruby images](https://hub.docker.com/_/ruby))

`Dockerfile`:

[code]

`Dockerfile.ci`:
[code]

Now, `Dockerfile.ci` intentionally uses

[2019-03-19 09:56] greysteil commented on #406
Oh, that is definitely a bug - it will be because we're using regexes to do the replace and not insisting that the string isn't just a substring. Let me take a look.

[2019-03-19 10:11] greysteil commented on #406
Ah, drat, actually I'm going to have to take that back.

Currently, Dependabot expects you to have a single version of a dependency, and will update you to that state if you don't. Unfortunately that's baked into the way it works quite deeply (including the branch names it uses, for example). Hence it can't deal with the different setup you want here for CI.

It's not easy for me to change the abo

[2019-03-19 11:15] amureki opened #407 "[python] having pyproject.toml‎ breaks the bot"
Hi dependabot fellows,

we did add `pyproject.toml‎` to configure Black formatter in one of our repositories.
File looks like this:

[code]

And is not related to our dependencies management at all (we are not using poetry there).

I believe, this should be handled and such files without defined requirements should be skipped there.

Could you, please, take a look?

Thank you,
Best,
Rustem

[2019-03-19 11:17] greysteil commented on #407
Hey @amureki,

Can you link to the problem (or drop me an email on support with a link to it? Much easier to debug straight from there - having a `pyproject.toml` shouldn't be breaking things, and I'll get this fixed for you asap.

Thanks!

Grey

[2019-03-19 11:18] amureki commented on #407
@greysteil Hey Grey,

I will drop you an email (since it is a private repository) in a moment.
Thanks for blazing fast reply! 🖤

[2019-03-19 12:05] greysteil commented on #407
OK, looks like this is related to [this issue](https://github.com/jazzband/pip-tools/issues/721) in pip-tools. I’ve just pushed this commit that fixes things in Dependabot, and will deploy in the next 15 minutes. You should be aware that you may see the issue locally when using pip-tools, however.

[2019-03-19 12:05] #407 closed

[2019-03-19 12:05] greysteil commented on #407
(And thanks masses for reporting this one!)

[2019-03-19 13:33] feelepxyz commented on #322
@iwata sorry haven't managed to get to this yet, we've been busy working on making our existing languages more robust and have a few other big projects planned before I'll get to this unfortunately.

[2019-03-19 13:53] connorshea commented on #406
Thanks for investigating :) For now I guess I’ll disable Docker updates, eventually I’ll probably want to switch to Alpine for my CI container anyway.

[2019-03-19 14:41] osis commented on #272
A hard +1 on this. We're adding our orgs with 100s (soon to be 1000s) and finding repos, vie pagination, is going to be a massive pain. This wouldn't be an issue if there weren't permissions issues around an org subscription and adding repo integrations directly in the Github UI, but we've been in talks with support and this doesn't seem possible.

P.S. Loving the tool thus far. Thanks for all the

[2019-03-19 15:06] feelepxyz commented on #272
@osis sorry for the pain on this one! We've ended up focusing on config files over the last few months so haven't had much time to improve the dashboard unfortunately. Maybe this would also work better for your use case?

With config files you wouldn't really need to log on to the dashboard, just make sure the repo is authorised to Dependabot and then add the config file to `.dependabot/config.yml

[2019-03-20 22:48] greysteil commented on #126
Not yet. We're going to do a permissions request in May that will allow this, though 🙂

[2019-03-22 04:11] PatMyron commented on #68
[These dependabot builds](https://github.com/PatMyron/advent-of-code/pulls?q=label%3Adependencies) frequently need to be restarted later for the Travis CI environment to find the latest dependency version

This could hurt the signal/noise ratio of compatibility scores

[2019-03-22 11:30] greysteil commented on #68
Hmmm, that's frustrating.

I've just added a 10 minute delay to Dependabot PR creation for Python repos using Dependabot in "live" mode. Hopefully that's enough to fix this. 🤞

[2019-03-22 11:30] #68 closed

[2019-03-22 13:50] PatMyron commented on #68
@greysteil Was thinking about the same solution. Are security vulnerabilities exempt from being delayed?

[2019-03-22 13:59] greysteil commented on #68
Yep - security updates will still process immediately.

[2019-03-22 18:15] blakemorgan opened #408 "Wildcards in directory"
Our repo doesn't have a `pom.xml` file at `/` but it does in multiple subdirectories (so `/*/`). Dependabot didn't recognize the wildcard in the directory name when I put that in the config file. Is it possible to get wildcards recognized in the directory value of the config file?

[2019-03-22 18:31] blakemorgan opened #409 "Recursively Check for poms"
It would help a lot if Dependabot would recursively search for `pom.xml` files in Java Maven projects so we don't have to add them all manually. Is that already possible?

[2019-03-22 18:34] greysteil commented on #409
Hey @blakemorgan,

Thanks for giving Dependabot a try. This is on our list, but we don't have it yet. With monorepo setups we generally recommend putting a `pom.xml` at the room that references all of the child poms - with that there, Dependabot will fetch all of them and create PRs that update a dependency across all of them at once. The alternative of adding lots of update configs manually is ki

[2019-03-22 18:35] greysteil commented on #409
(By the way, the full file fetching logic that Dependabot uses for Maven is [here](https://github.com/dependabot/dependabot-core/blob/master/maven/lib/dependabot/maven/file_fetcher.rb).)

[2019-03-22 18:36] greysteil commented on #408
Frustratingly, this is a bit more difficult on our backend than it sounds. The answer here is pretty similar to https://github.com/dependabot/feedback/issues/409 - we'd like to support this, and it's on our roadmap (together with grouping projects), but it's a way off.

[2019-03-25 04:52] techalchemy commented on #407
@greysteil 	-- if you want to have a smooth resolution process going forward which leverages `pep517` aggressively with a hard fallback to the old setuptools approach on failure, that's what I'm using in pipenv (not yet released but stable on master)

For resolving local and editable packages, requirementslib has a module handling this which is very thorough and handles substantially more than pip

[2019-03-25 10:55] greysteil commented on #407
Awesome, thanks for the heads up @techalchemy!

[2019-03-26 00:29] jeffparsons opened #410 "Command to combine two version bumps"
Sometimes Dependabot doesn't understand interdependencies between my project's dependencies. Ideally Dependabot would understand all the detail of all kinds of package managers, but that's a pretty big ask.

I'd be really happy with a workaround whereby I can ask Dependabot to combine two of its open PRs into one, if I know that they can only be applied together.

My example in this case is the `r

[2019-03-26 01:59] merwok commented on #117
This would be a great setting.  For some of our project, we really only want the core value of dependabot that is knowing that updates exist, with changelog and links, in order to request support budget from clients.  The pull requests provide this but also eat our CI quota for small benefit, as we may wait a few weeks before being able to properly review and test the updates.

[2019-03-26 02:02] merwok commented on #410
I think this is the same request as #5

[2019-03-26 02:07] merwok commented on #5
Both ideas would be really useful:
- config file or org settings to define upgrade groups (to reduce the volume of PRs and CI builds)
- a PR command to group two PRs in a one-off way (to fix an update problem or a difficult update)

[2019-03-26 02:16] merwok commented on #219
Please also consider whether multi-branch setup should be integrated in this new multi-directory UI :)

(I’m experimenting with weekly updates for all dependencies for the develop branch, but immediate security updates for master/staging)

[2019-03-26 03:48] merwok opened #411 "Issue with Python requirements update"
Hello!  A PR was opened on a private repo to `Bump flake8 from 3.6.0 to 3.7.7`.  The new version has some dependency changes (warning for huge diff page):
https://gitlab.com/pycqa/flake8/compare/3.6.0...3.7.7#02a4515ab9c2c9b0da68e82954a299af48837e35
https://gitlab.com/pycqa/flake8/compare/3.6.0...3.7.7#8e2edce0d507e1297474f25c00cae94258db38d8

PR diff only changed flake8 (in `deps/tests.txt`, crea

[2019-03-26 04:36] merwok opened #412 "Support heroku runtime updates"
Projects deployed to heroku define the Python version wanted in a pure text file called `runtime.txt`, with values like `python-3.7.2` (https://devcenter.heroku.com/articles/python-support#supported-runtimes)

It would be great if dependabot sent me PRs when 3.7.3 becomes available :package: :robot: :sparkles:

Development happens here: https://github.com/heroku/heroku-buildpack-python , with rele

[2019-03-26 09:14] greysteil commented on #411
Hmmm, that's odd. We have [this logic](https://github.com/dependabot/dependabot-core/blob/master/python/lib/dependabot/python/file_parser.rb#L130-L136) to determine whether a `.txt` file is a compiled file from pip-tools. Without looking at your full setup it's hard for me to know why that didn't pick things up here - can you give more detail?

[2019-03-26 09:15] greysteil commented on #410
I think so too. It's still valid feedback, though - thanks @jeffparsons.

[2019-03-26 09:15] #410 closed

[2019-03-26 09:31] greysteil commented on #412
Interesting!

This one would be tricky but I'd like to get to it. I think scraping https://devcenter.heroku.com/articles/python-support#supported-runtimes would be the way to get the supported versions, and that this should be bundled into Python updates from a UI perspective (rather than being separately configurable).

[2019-03-26 14:22] merwok commented on #412
That would work for me!

[2019-03-26 14:25] merwok commented on #411
dependabot is configured to update `runtime.txt`, `tests.txt`, `deploy.txt` and `ci.txt` in a sub-directory `deps`; they all have the matching `.in` file.

(BTW I was very pleasantly surprised on another project after I activated hashes for pip-compile and dependabot picked that up! :slightly_smiling_face:)

What kind of details do you need?
Should I try setting up a new, public project with `flak

[2019-03-26 14:36] greysteil commented on #411
If you're happy to put the requirements files from your setup in a public project then we can debug it together there. Otherwise, if you're happy for me to step through a Dependabot update run on your repo locally (Dependabot will pull down the dependency files onto my machine whilst I do so, but nothing else) and email me with the URL of the dodgy PR I should be able to figure out what's going on

[2019-03-26 14:37] greysteil commented on #412
Awesome. I can't work on this straight away but will keep it open and try to get to it soon!

[2019-03-26 15:03] merwok commented on #411
Not much time this week so sent you an email.

BTW I haven’t been to the dependabot dashboard in a while, a new thing is a warning about «expected to find one at the path: /deps/requirements.txt» but I don’t have one file with that name, and PRs are happily coming for other txt files in `deps`.  Is this a known issue?

[2019-03-26 19:13] jcjones1515 opened #413 "unable to configure gemfury PyPi URLs"
After a recent release I am unable to get our private pypi repos from Gemfury to be usable by Dependabot.  Their docs recommend this as the URL to use:

https://${FURY_AUTH}@pypi.fury.io/gain-bot/

Can you advise on how my Pipfile and config variables should be configured to make this work?  I've tried several variations and none seem to allow us to connect.  I've tried the URL without the environ

[2019-03-26 19:15] greysteil commented on #413
I made a change to the way Dependabot deals with config variables for Python last week - let me take a look into this.

[2019-03-26 19:49] greysteil commented on #413
This should be fixed in https://github.com/dependabot/dependabot-core/commit/790c6714365433f900c7db9880355515ca8b79c5, which I'm deploying now.

[2019-03-26 20:04] #413 closed

[2019-03-26 20:05] greysteil commented on #413
OK, this should be fixed now. Thanks for reporting it!

[2019-03-27 06:30] jeffparsons commented on #410
Oops, sorry, missed that! Thanks!

On Tue., 26 Mar. 2019, 8:15 pm Grey Baker, <notifications@github.com> wrote:

[2019-03-27 10:25] JayH5 commented on #68
Still saw this happen yesterday with `lxml==4.3.3` 😢. Still not sure much can be done about it, though. Don't know why it takes the authors so long to upload the different types of packages, but I guess there's no _requirement_ for when individual package files are uploaded.

[2019-03-27 10:37] JayH5 commented on #68
OTOH, this is going to be less of an issue for us specifically as we're building on fewer different platforms in the future.

[2019-03-27 12:44] greysteil commented on #68
That's really annoying. All I can recommend is asking for an `@dependabot recreate` if/when that happens.

[2019-03-27 23:50] greysteil commented on #411
Ack, this one is embarrassing. Turns out, both issues (the dashboard error and the bad upgrade) are because Dependabot was being too picky about what txt files it thought were requirement files. I've fixed that in [this commit](https://github.com/dependabot/dependabot-core/commit/f92588191e9f5cb90b4b3d535c9a8e4bb0b8ca1b) and validating that it correctly updates your repo now. Sorry about that, and

[2019-03-27 23:50] #411 closed

[2019-03-28 00:02] merwok commented on #411
OK I’m waiting for the rebase!

(Web UI still has the issue but I guess you haven’t deployed that yet)

[2019-03-28 00:02] greysteil commented on #411
Indeed - deploy going out in the next 5 mins!

[2019-03-28 00:14] merwok commented on #411
Fix confirmed!

[2019-03-29 18:19] mueller-ma opened #414 "Gradle: Possible to add a folder twice"
Looking at the dashboard, I saw that /mobile (https://github.com/openhab/openhab-android) isn't added:
![grafik](https://user-images.githubusercontent.com/22525368/55253861-bd69bf80-5256-11e9-90d0-81eb49ac0189.png)
So I added Java/Gradle with the directory /mobile, but then I realized, that /mobile is covered by the already existing entry:
![grafik](https://user-images.githubusercontent.com/225253

[2019-03-30 00:54] justalemon commented on #259
Hi, there has been any progress on this?

cc @feelepxyz

[2019-03-30 08:03] tobybellwood commented on #401
sorry - slow on the response there!

the repo is https://github.com/govcms/govcms8

we're using the same repo to act as a normal composer project to push to packagist and drupal.org, but also be consumable with docker-compose, and we create a secondary composer (composer-lagoon.json) to act as a drupal "create-project" repo - it's a bit unorthadox...

[2019-03-30 11:18] greysteil commented on #401
Got you - thanks for the link, will use that as the reference case when I look into implementing.

[2019-03-30 11:34] greysteil commented on #259
Sorry for the wait on this one - we're doing some infrastructure work that has taken up all of my time.

The change required here isn't trivial, as Phil says, so it's not something I can promise we'll get to immediately, but I'd really like to have it fixed. I'm hoping we'll have some .NET expertise on the team in the relatively near future, which will mean we can power through this and a couple o

[2019-03-31 12:00] sobolevn opened #415 "Bug: Dependabot replaces package's name"
I have a project template that I use for all our frontend projects. I am using dependabot for more that a year now.

And several days ago it started to replace `{{ name }}` variable in my template file with `"something"`: https://github.com/wemake-services/wemake-vue-template/pull/1044/files#diff-27505a311bee9f516daedae1ce932387R2

I am not sure why, and it breaks my CI build. That's should not ha

[2019-03-31 13:21] greysteil commented on #415
Huh. I can't see why that wasn't happening before, but it's fixed in [this commit](https://github.com/dependabot/dependabot-core/commit/6aa0307c9ec80cee5d6f38ab4a1f815355cb5943). Will be deployed in the next 10 mins or so.

[2019-03-31 13:21] #415 closed

[2019-03-31 13:34] sobolevn commented on #415
@greysteil awesome, thank you! 🎉

[2019-03-31 13:35] sobolevn commented on #415
I guess this was not happening before, because I forgot about this unit test until last week 😆

[2019-03-31 13:37] greysteil commented on #415
Ha! Yep, I think this might be the only repo that Dependabot is actually doing this sanitization on!

[2019-04-01 14:17] simlu commented on #6
@greysteil I'm counting the days :)

[2019-04-01 21:21] serhalp opened #416 "Feature request: label PRs that will be auto-merged"
Every PR opened by Dependabot currently gets a `dependabot` label, and every security PR additionally gets a `security` label.

PRs that will be auto-merged currently have this copy in their description:

This is requesting that such PRs also get some kind of label (e.g. `automerge` or `dependabot:automerge`).

The flow I'm trying to solve for is searching for open Dependabot PRs that require huma

[2019-04-01 21:37] greysteil commented on #416
Sounds legit to me, and pretty straightforward to implement. Give me an hour or so...

[2019-04-01 22:30] greysteil commented on #416
Done! If you have an `automerge` label on the repo then Dependabot will label automerge candidate PRs with that. (It won't create the label if you don't have it, though.) Commit is [here](https://github.com/dependabot/dependabot-core/commit/88e88d3c3f9017868beed4c59f66d7ac27ce4cf2).

Thanks for the feature request!

[2019-04-01 22:30] #416 closed

[2019-04-01 22:54] D4nte opened #417 "Dependabot to run a "full" `cargo update`"
Hi,

Because our builds are quite lengthy, we are planning to do regular manual `cargo update` for the full lock file and let dependabot handle the `Cargo.toml` updates.

Thinking about it, it would be great if dependabot could do that for us: open 1 PR that does a full `cargo update` (not specific to one dependency). In other words, do all dependencies at once for cargo lock file updates only.

T

[2019-04-02 04:15] ianwremmel commented on #292
@greysteil it happened again. all of the [dbot PRs](https://github.com/ianwremmel/browser-ruler/pulls) got capitalized. I *think* it's because dbot saw [this GitHub merge commit](https://github.com/ianwremmel/browser-ruler/commit/9fe56205818fd2d01f76531a8d3c3aa1cebb6ac4).

[2019-04-02 10:07] roketworks opened #418 "App - Config Variables UI truncating repository URLs"
In the Config Variables UI, the repository/feed URLs are truncated. This seems to be an issue across multiple feed types. It makes it difficult to see which feeds are configured. A tooltip here would be nice & a wider span for the display of the url.

![image](https://user-images.githubusercontent.com/3728054/55394381-1c6d5400-5537-11e9-9ab8-0d67e584d09a.png)

[2019-04-02 10:54] greysteil commented on #292
Just looking through those PRs - as far as I can tell this still dates from 7th December and [this pull request](https://github.com/ianwremmel/browser-ruler/pull/96) that was merged. Am I missing something?

[2019-04-02 11:20] feelepxyz commented on #418
@roketworks thanks for letting us know! I've made the url/feed fill the space available so less likely to be truncated (also shown on hover if super long).

[2019-04-02 11:20] #418 closed

[2019-04-02 14:20] osman opened #419 "Need a better method to validate config variables"
We have had an issue where dependabot is unable to connect to our private ruby gem server.

<img width="507" alt="Screen Shot 2019-04-02 at 10 18 09 AM" src="https://user-images.githubusercontent.com/122702/55409889-db724100-5530-11e9-9aa8-b464d455e4e5.png">

It would be nice to have a validate button on the config variables page to tell us what is wrong with the setting, if anything.

[2019-04-02 14:31] feelepxyz commented on #419
@osman great suggestion! Would love to add this but we're currently swamped on a big infrastructure change so won't be able to get to this just yet.

[2019-04-02 15:00] ianwremmel commented on #292
Oh, interesting. I hadn't realized that project had run into the issue before. I think I added commitlint recently. so, dbot only looks at its own commits for capitalization now? There are a lot of recent lowercase commits that got opened before that page of PRs

[2019-04-02 15:04] greysteil commented on #292
Has been looking for the past 4 months (since this issue, and the comments on it). Fix is still the same - if you amend the commit message on a Dependabot PR to use lowercase when merging it - Dependabot will use the latest commit message when determining what to use for future PRs.

[2019-04-02 15:04] ianwremmel commented on #292
Got it, thanks!

[2019-04-02 15:53] RandomByte opened #420 "npm lockfile: tabs become spaces"
We have the case that after manually regenerating (that is removing and re-creating) our lockfiles (`npm-shrinkwrap.json` or `package-lock.json`) using npm version `6.9.0` they finally respect the indentation used in our project (tabs). This changed our lockfiles from using spaces to using tabs.

Before, our lockfiles where always generated with space-character indentation. I suspect that this cha

[2019-04-02 16:02] merwok opened #421 "Support for Docker image references in CircleCI config"
Similar to #346 but for CircleCI.  CI pipelines are named workflows and made of jobs + rules (run on branch, run on tag, etc).  A job is a series of commands run within a docker container with a checkout of the code.  People use images provided by CircleCI, regular images or company-specific images (to preinstall tools etc).  When I push new docker tags for my company’s builder images, I would lov

[2019-04-02 16:30] tjwallace opened #422 "Support custom named Gemfiles"
Our overcommit setup uses a separate gemfile (`.overcommit_gemfile.rb`). It would be great if dependabot allowed the name of the gemfile to be configured. You can use the `BUNDLE_GEMFILE` environment variable.

[2019-04-02 22:21] greysteil commented on #417
Thanks for the feedback @D4nte. We'd love to support this in future, but it would require quite a lot of rearchitecting of [dependabot-core](http://github.com/dependabot/dependabot-core), which is set up around the concept of doing a single (top-level) dependency update in each PR.

I'll keep this open, as it's an option we'd like to consider in future, but I can't promise anything imminent on it.

[2019-04-02 23:00] thomaseizinger opened #423 "Add an option to only do Cargo.toml updates"
Unfortunately, #417 is unlikely to be implemented soon.

Could we, in the meantime, have an option to have dependabot only do `Cargo.toml` updates and ignore updates that only touch the lockfile (since those are "easily" done in one go with a manual `cargo update`).

Put differently, it would be helpful to have an option here:

![image](https://user-images.githubusercontent.com/5486389/55441609-1c

[2019-04-03 09:36] feelepxyz commented on #420
@RandomByte thanks for the suggestion! This makes sense and we should definitely do what npm does here. It shouldn't be too hard to support. Will hopefully have it done this week.

[2019-04-03 14:47] sudara commented on #417
I love this idea, though I understand how it throws a wrench into dependabot's paradigm. As a part time maintainer, 1 PR a week for `package.json` updates as well as 1 PR for `Gemfile.lock` updates is exactly what I would want.

I like dependabot a lot. I kept up with daily updates for a few weeks, but it's unfortunately been too much "paperwork" to have my projects regularly peppered with individ

[2019-04-03 15:36] JacobEvelyn commented on #14
@greysteil are you still working on this? I have the exact same problem as @lewisblackwood—if I have extra context on a gem I'll leave a comment in the PR, but if the PR is superseded that comment gets lost forever.

[2019-04-03 15:38] JacobEvelyn commented on #268
Hey @greysteil—any updates on this?

[2019-04-03 18:09] merwok opened #424 "Python requirements update did not respect constraint"
I have `django == 1.11.*` in `deps/runtime.in` which is locked to `django == 1.11.16` in `deps/runtime.txt`.

A security PR updated it to version `2.2`, which is incorrect (does not respect specified range + requires updates to the project).

Config: `accounts/caravancoop/projects/24409` (PR 199 which is the most recently updated)

[2019-04-03 19:00] greysteil commented on #424
Thanks for the feedback. I’m just about to make security updates move you to the minimal fixed version 🙂

[2019-04-04 00:23] connorshea opened #425 "How to avoid security vulnerabilities introduced in packages from compromised accounts"
Given the bootstrap-sass Ruby gem backdoor that was introduced a week ago, I figure it'd be good to talk about ways this kind of attack can be mitigated: https://snyk.io/blog/malicious-remote-code-execution-backdoor-discovered-in-the-popular-bootstrap-sass-ruby-gem/

I'd like to propose a few possible things that would have prevented dependabot from updating anyone to this version:

- The version

[2019-04-04 00:28] D4nte commented on #417
@sudara I think the only way to identify batchable is major vs minor version update. Otherwise, try and error would be the only option.

[2019-04-04 07:16] waghanza commented on #117
@greysteil any news ?

[2019-04-04 09:10] greysteil commented on #425
Thanks for the discussion point @connorshea.

I'm going to come back to this, but I want to note immediately that no accounts using Dependabot were exposed to this vulnerability.

We wrote a post about the `event-stream` hijack issue a couple of months back [here](https://dependabot.com/blog/stopping-dependencies-getting-hijacked/). I'm going to revisit that with some more thoughts.

[2019-04-04 10:50] feelepxyz commented on #423
@thomaseizinger I'm not sure I follow exactly, would you like to only do updates that require both Cargo.toml and lockfile updates? If so, you should be able to do this with the option you have selected, "only top-level dependencies".

You could also disable security updates that only touch the lockfile if you use the config file and specify allowed updates that only match direct dependencies:

[c

[2019-04-04 11:43] greysteil commented on #417
Yeah, at the very least I think we want the option to let you group dependencies (there's another open issue following that), which would provide one option for the fix here (choose to group everything that's an indirect dependency).

We've had to spend quite a lot of time in the last few months focussing on scaling (Dependabot is twice the size it was at Christmas already) and it's been frustrati

[2019-04-04 14:28] jglick commented on #185
I think this is more the responsibility of the CI system. For example, [Prow/Tide](https://github.com/kubernetes/test-infra/blob/714202b8d802853d8ddecf0b077abd387c781bd2/prow/cmd/tide/README.md#features) runs an algorithm similar to this.

[2019-04-04 14:41] jglick opened #426 "Dependabot fails to notice that a dependency was independently updated to the same value"
Not sure if this is considered a bug or not, but consider the situation in https://github.com/jenkinsci/pipeline-cloudwatch-logs-plugin/pull/52#issuecomment-479886277 where Dependabot created (and then updated) a dependencies PR, while I manually created and then merged a more complex PR that included that dependency update as a part of other changes. Surprisingly to me, after merging the manual P

[2019-04-04 14:49] feelepxyz commented on #426
@jglick you're right on our rebasing, we try to not do any rebases unnecessarily so wouldn't have triggered one in your case when there are no conflicts. However, Dependabot should figure out that the update isn't necessary once it's done another update check, it's just not immediate 🤖(depends on your schedule)

[2019-04-04 14:49] #426 closed

[2019-04-04 14:53] cabello opened #427 "Consuming our countinous integration quota"
Hi 👋

Dependabot is a hard worker! :)

We are having the following issue, we have several repos in our organization and many of them are configured to use Dependabot, we have adjusted org settings like:

![Screen Shot 2019-04-04 at 10 41 09 AM](https://user-images.githubusercontent.com/60936/55564621-4c972d00-56c6-11e9-8021-c162d944d050.png)

And:

![Screen Shot 2019-04-04 at 10 44 02 AM](https://

[2019-04-04 15:37] ianwremmel commented on #185
While that’s a reasonable assertion in theory, I strongly disagree in practice. I’d bet the plurality, if not the majority of dependable users use circleci, Travis, or something similar; they’re relying on a third party with tooling that doesn’t and likely will never support batching. These services typically have monthly execution time limits. Dependabot’s current behavior can induce a one to two

[2019-04-04 16:31] cabello opened #428 "Restrict changing settings, config variables, plan to Github admins"
Hi 👋

We just had an incident where someone or something removed the default rate limit from a value to unlimited, in the last 3 days we got 1000+ PRs from dependabot. We don't know what or who did it. Can we at least for the moment, restrict access to these pages: settings, config variables, plan to Organization admins only please?

Thanks 💜

[2019-04-04 16:35] greysteil commented on #428
Oh man, that sounds traumatic, sorry about that!

We're planning to make those pages admin only, but need a change from GitHub's side to do so (they don't currently expose to us whether a user is an org admin or not). We're working with them to get that done, and hope to do so in the next few weeks, but until then I can't make the change.

I'm going to keep this open until we can make the update.

[2019-04-04 22:09] thomaseizinger commented on #423
Yes that is what I was looking for, thank you :)

[2019-04-04 22:09] #423 closed

[2019-04-04 22:47] greysteil commented on #426
Just to clarify what Phil said, Dependabot *should* be automatically rebasing if a change is made to a dependency file by someone else. I'm not entirely sure why that didn't happen here - it may be that Dependabot somehow missed a webhook, but if it recurs I want to look into it. Please let us know if you see that!

[2019-04-05 09:16] yss14 opened #429 "Monorepo ignore dependency not working"
I'm currently running dependabot on a lerne-managed monorepo. This week, I added a new package `cassandra-schema-builder` to the monorepo which is required by the `projects/backend` package. Since none of the packages are released to npm yet, I received a message from dependabot

[code]

Now, I'm trying to tell dependabot to ignore this package, since lerna is managing the linking and later the up

[2019-04-05 09:44] greysteil commented on #429
Thanks for the heads up. Dependabot should be able to understand Lerna monorepo interdependencies - let me take a look.

[2019-04-05 09:49] greysteil commented on #429
Ooh, actually, I might have spoken to soon here. It looks like Dependabot would need to run `lerna bootstrap` to make the symlinking here work, which we don't currently do. I'm going to pass this one over to @feelepxyz who knows more.

[2019-04-05 09:52] yss14 commented on #429
@greysteil Thanks for the fast clarification.
Shouldn't dependabot ignore the `cassandra-schema-builder` due to the config file, even if it's an interdependency?

[2019-04-05 09:55] greysteil commented on #429
Sadly ignores don’t work like that - Dependabot has to run npm to generate an updated lockfile, and if it does so without the correct symlinking it gets that error

[2019-04-05 10:53] feelepxyz commented on #429
@yss14 👋 I've been looking into this and we should be able to support this by running `lerna link` before trying to do any updates. `link` symlinks all local/unpublished packages into the node_modules folder so we don't get any resolvability errors.

[2019-04-05 11:06] greysteil commented on #425
Spent a bit more time thinking about this. I think building the gem and comparing the SHA of the built gem with the one published on Rubygems is the way to go. It's a major project on our side, but could be a meaningful contribution to security in the Ruby ecosystem.

**Motivation**
Having a canonical link between a release and its source code makes it *much* easier for users to check that the cod

[2019-04-05 12:32] hmarr commented on #425
Yeah I’ve wanted to do this for a while, and built a proof of concept a couple months ago (which is where this is coming from) but we haven’t had time to get it finished yet. Fingers crossed we’ll be able to dedicate some time to it soon, though!

Fully reproducible build are tricky currently due to the way gems are built, particularly as the behaviour has changed in different RubyGems versions an

[2019-04-05 13:01] feelepxyz commented on #429
@yss14 looks like this is actually a lot harder than I initially thought. TL;DR: you fix this by removing the `package-lock.json` from your backend project.

The issue is that the `package-lock.json` in your backend project doesn't include the unpublished package `cassandra-schema-builder`. This magically works when using lerna bootstrap because lerna removes the unbpublished packages from the `pa

[2019-04-05 13:13] yss14 commented on #429
@feelepxyz Thanks for the detailed problem description! I will evaluate the options let you know what works.

[2019-04-05 14:04] greysteil commented on #427
This is a tricky one - I don't have an easy answer on it. What we generally suggest is:
- if you find rebases are overwhelming your CI you might want to turn off automatic rebasing (you can do so in your account settings). You can then ask for rebases as/when you need them with `@dependabot rebase`
- We try to run Dependabot early in the morning, so initial runs shouldn't ever interrupt you. Looks

[2019-04-05 16:20] osis commented on #272
@feelepxyz I think config files are great, but the majority of our teams are a bit warn out from adding lots of random config files and will end up going into the dashboard to evaluated status/state.

[2019-04-05 20:20] caiofbpa commented on #259
I'm having this issue too, and I don't understand why this isn't a trivial change.

In projects that have only the `.csproj` files, mostly .NET Standard projects, dependabot updates the version number accordingly.

In projects with `package.config` files, dependabot updates the version number too, it just needs to do the same on the `.csproj` too. I'm assuming the logic is already there, it just n

[2019-04-06 08:51] justalemon commented on #259
`.csproj` is just XML, so there is not a lot to do other than search for an ItemGroup that contains a Reference where Include starts with the package name(ish).

[2019-04-07 19:36] privettoli opened #430 "Support for Dart language"
I'm developing Flutter Dart app https://flutter.dev/
Are there any plans to support those?
As an example https://github.com/privettoli/socia-reto

Thanks in advance!

[2019-04-08 09:51] hisuwh opened #431 "Dependabot not monitoring .NET projects in second solution"
I have two solutions in repository and dependabot does not seem to be bumping versions for projects in the second solution and there does not seem to be any way for me to configure this.

[2019-04-08 14:04] feelepxyz commented on #430
@privettoli thanks for the suggestion! Up for supporting this but we'll have to hold off until we get some more capacity on the team. Hopefully happening in the next few months 🙌

[2019-04-08 14:06] feelepxyz commented on #272
@osis oh yeah can understand that! We're currently a bit snowed under doing a bunch of infrastructure changes to support our growth so won't be able to get to do any larger pieces on the dashboard for a while. Hopefully changing in the next few months.

[2019-04-08 14:07] feelepxyz commented on #431
@hisuwh 👋could you send over the repo name and I'll take a look at it? If it's private please email to support@dependabot.com

[2019-04-08 14:08] hisuwh opened #432 "Duplicate PRs created for "Bump Mediatr from 3.0.1 to 6.0.0"
Dependabot has created a PR for Mediatr 6.0.0 as well as for a number of internal packages of ours that depend on Mediatr.

We have merged the latter into the Mediatr branch as neither will build without the other.  This PR is still open as their are a number of changes that still need to be made to get this to build.

We have now received another PR for Mediatr

[2019-04-08 14:09] feelepxyz commented on #432
@hisuwh what repo is this happening on?

[2019-04-08 14:17] hisuwh commented on #431
@feelepxyz done

[2019-04-08 14:17] hisuwh commented on #432
@feelepxyz sent you an email regarding this and #431

[2019-04-08 14:19] hisuwh commented on #432
Looking again at this one looks like one of them is `Mediatr` and the other is `MediatR` in the .csproj
.NET package names aren't case sensitive but looks like Dependabot is treating them as if they are and raising PRs for different spellings separately (I did see this before)

[2019-04-08 14:23] osis commented on #272
@feelepxyz no worries. Not a massive pain atm since we haven't merged accounts yet.

[2019-04-08 14:36] feelepxyz commented on #431
@hisuwh thanks will take this through email

[2019-04-08 14:36] #431 closed

[2019-04-08 14:37] feelepxyz commented on #432
@hisuwh oh yeah looks like that will trip up the updater. Thanks for spotting it!

[2019-04-08 17:36] pcreux commented on #1
Can't agree more than that. I'd love to see a chart to get a sense of how the number of dependencies, up to date, out of date (by patch, minor, major) is changing overtime.

[2019-04-08 18:56] RohanNagar opened #433 "Per dependency bump schedule"
I'm not sure if there is already an open issue/backlog item for this, but it would be nice to be able to set bump schedules on a per-dependency basis.

For example, I typically want daily updates to my repositories so I can get the latest packages asap, except there are a few dependencies that release daily that I don't want to have to review and merge every day. For these few dependencies (usuall

[2019-04-09 05:50] e4basil opened #434 "Dependabot couldn't find a build.gradle for this project"
Dependabot couldn't find a **`build.gradle`** when i upgrade to **`build.gradle.kts`**

Issue [link ](https://github.com/e4basil/PercentageProgressBar/issues/30)

[2019-04-09 08:44] feelepxyz commented on #434
@e4basil hey sorry about this, we currently don't support Kotlin build files. There's an open issue for this: https://github.com/dependabot/feedback/issues/172

[2019-04-09 08:44] #434 closed

[2019-04-09 17:31] greysteil commented on #268
Sadly not (and sorry for the slow reply here). We're doubling down on robustness work for the next month, since Dependabot has more than doubled in size over the last 3 months and I want to get our error rate back down to zero, but I'm still keen to work on this once that's done.

[2019-04-09 17:48] greysteil commented on #259
Just digging into this now - looks like the issues described here are quite separate.

@justalemon - it looks like in justalemon/GGOV#16 Dependabot missed your `...csproj` declaration because you use `Reference`, rather than `PackageReference`, as the tag name. I couldn't find any docs on that - could you point me to some? As you can see, that isn't included in Dependabot's [selector](https://gith

[2019-04-09 18:00] RohanNagar opened #435 "Question about Python requirements.txt"
I currently have a python setup in my repository that I have enabled dependabot on. I use both `Pipfile` and a `requirements.txt` file due to different requirements on development machines vs. build machines.

My question is, will dependabot update both files at the same time when a new version of a dependency is out? I did receive a PR updating the version of a package in the `Pipfile`, but there

[2019-04-09 18:33] caiofbpa commented on #259
@greysteil thanks for taking the time to look into this.

We only use dependabot in private projects, but assuming you can look into dependabot's logs for a specific PR, here it is: https://github.com/mercos/offline/pull/1965

Dependabot should have also edited the `.csproj` file replacing `1.3.4` to `2.1.0` in the line where `Refractored.FloatingActionButton` is present. Currently I have to do th

[2019-04-09 18:56] pascalberger commented on #259
@greysteil Here's a newer one: https://github.com/cake-contrib/Cake.Issues.Reporting.Generic/pull/148. For this project and package everytime only `packages.config` is updated and `csproj` not.

[2019-04-09 20:33] justalemon commented on #259
@greysteil This is not documented for some reason. All of my .NET Framework projects have Reference instead of PackageReference. The same applies for @pascalberger [Cake.Issues.Reporting.Generic](https://github.com/cake-contrib/Cake.Issues.Reporting.Generic/blob/develop/src/Cake.Issues.Reporting.Generic/Cake.Issues.Reporting.Generic.csproj#L45).

[2019-04-09 21:00] RohanNagar commented on #259
I believe `Reference` is used for assembly references. In your case @justalemon, your `packages.confg` is the "PackageReference" equivalent, and the binaries are downloaded from the Nuget feed into your local machine. Then, in the `csproj` since you already have the assemblies on the machine, it uses `Reference` to reference the assembly directly.

I'm not sure why I can't find good documentation

[2019-04-10 14:19] greysteil commented on #432
Thanks for this @hisuwh and @feelepxyz. Should be fixed by https://github.com/dependabot/dependabot-core/commit/68ea682feeb0ea9db5e620caa0268ccc33c8eee6, which is deploying now. :octocat:

[2019-04-10 14:19] #432 closed

[2019-04-10 14:36] greysteil commented on #433
Interesting, thanks for the feedback. Sounds like it would be nice to have a middle ground that stops short of asking Dependabot to completely ignore a dependency.

I'll have a think on this - we could possibly add a `custom_schedules` section to the the config file to support it. It's not likely to be something we add before June (we have our work cut out) but I'll keep this open and revisit next

[2019-04-10 15:15] hisuwh commented on #432
Awesome thanks guys

[2019-04-11 07:40] artfwo commented on #190
Very nice feature. @greysteil can you please enable it for @freight-hub as well?

[2019-04-11 10:54] greysteil commented on #190
Sure thing - done!

[2019-04-15 13:50] greysteil commented on #435
This is a bit of a tricky one. Dependabot will try to do both, but it's not perfect at it yet. If you generate your requirements file with `pipenv lock -r` or `pipenv lock -r -d` then Dependabot should realise that it needs to update those, too. If you don't and are using Pipenv then it will skip them. We could definitely do better there.

[2019-04-15 14:12] greysteil commented on #259
Got you. @caiofbpa, in your case it looks like it's a `HintPath` that's part of a reference that hasn't been updated, so all of these are connected.

I *think* Dependabot should be able to successfully update these references whilst continuing to use its current regex-based approach for .NET. We'll need new logic for finding and updating them as they're structured differently, but I *think* this i

[2019-04-15 14:16] caiofbpa commented on #259
@greysteil Makes total sense, it should simply be a find and replace indeed.

Sometimes one dependency triggers updates on others, but that is an exception that only happens on old projects (which is my case) and shouldn't be a concern because with .NET Core this has changed and is no longer an issue. I can treat those cases manually here, the find and replace is enough for most cases.

[2019-04-15 16:04] RohanNagar commented on #435
Ah I see. I'll try generating the requirements file with `piping lock`, thanks!

[2019-04-15 18:39] merwok opened #436 "Funky update removes django"
Hello!  tl;dr: upgrading a django extension removed way too many things from requirements file

In one project based on django-cms, I have removed `django` from `requirements.in` to let django-cms control the accepted django version (and hopefully let us update from django 1.11 this year).

Extracts from requirement files before the problem:

[code]

[code]

dependabot opened a PR: `Bumps django-n

[2019-04-15 18:45] merwok opened #437 "Issue with determination of top-level dependencies or security patch for Python requirements"
Hello!  I get many PRs for dependencies of dependencies that I would prefer not to care about.

Example: https://app.dependabot.com/accounts/caravancoop/projects/20105

- [ ] Only security updates
- [ ] Only lockfile updates (ignore updates that require Pipfile changes)
- [x] Only top-level dependencies (and security patches for subdependencies)

First option: I am interested in all updates of my

[2019-04-15 18:50] merwok commented on #417
+1 from a Python developer.  I like to group updates, and validate the result, so my workflow ends up being:

- read release notes and changelog in dependabot PRs
- merge security PRs very quick
- keep other PRs open for a week or more, until I have time to check them
- run a full update of my requirements files locally, to get one PR to deploy and check
- see PRs auto-closed

[2019-04-15 18:58] merwok commented on #412
FTR netlify also uses that filename: https://www.netlify.com/docs/build-settings/#python

(Heroku hosts dynamic sites, Netlify static sites; the runtime and requirements define the environment in which the site build command is run)

[2019-04-15 20:30] repi commented on #256
We at Embark would love to be able to have Dependabot skip patch versions as well for our Rust projects. They create to much noise as multiple per day are updated and it is too much overhead to get a PR for each update, even if it is just weekly.

So for patch version updates we handle that manually ourselves through frequent `cargo update` rolled together updates multiple times per week. But want

[2019-04-15 20:46] TravisEz13 opened #438 "Add detection of when `RuntimeFrameworkVersion` needs to be update"
In our project this is defined in a common file this in included in (almost every file):
https://github.com/PowerShell/PowerShell/blob/23451ac32f789a93d0575413700dbdf3861059e6/PowerShell.Common.props#L96-L97

Line 96, defines what package we use, in this version it means we are using a `2.1` version of:
- https://www.nuget.org/packages/Microsoft.NETCore.App/2.1.8

Line 97, defines the version.

He

[2019-04-16 15:59] richardson-trevor commented on #256
Per what @Floppy mentioned, would auto-merging patch updates take care of the noise problem for folks, or is that not an option in your organization? We've found that auto-merging minor and patch after tests pass forces good testing practices primarily in that it forces you to rely on your tests.

[2019-04-18 00:21] jdesulme opened #439 "Support for Bitbucket Cloud"
I notice you have native support for Github and Gitlab. Is there anything for Bitbucket cloud (https://bitbucket.org) on the horizon?

[2019-04-18 10:23] greysteil commented on #439
It's on our list, but not imminent - we won't have it before June (unless, of course, you want to put together a PR!)

[2019-04-20 22:23] simlu opened #440 "Bug: Live Update broken"
**Setup:**

Using a configuration file with live updates <details> <summary>`/.dependabot/config.yml`</summary>

[code]

</details>

**Problem:**

Everything worked fine until I clicked "Bump now" in the dependabot GUI. Live updates now no longer appear to be working.

Please let me know if you need further details!

[2019-04-21 01:18] RDIL opened #441 "Gradle JitPack integration"
Please make it so that dependabot can update modules in build.gradle when published on https://jitpack.io !  Thanks :D

[2019-04-21 09:14] greysteil commented on #440
Clicking "Bump now" shouldn't make any difference to your standard setup at all. What's the reason you think live updates aren't working? I can dig into the repo if needed.

[2019-04-21 09:15] greysteil commented on #441
This should work automatically if you've got jitpack listed in your repositories. Is there a repo you can point me to where you don't think it's picking it up?

[2019-04-21 11:16] RDIL commented on #441
https://github.com/hyperiumjailbreak/client - I've had to manually bump `com.github.hyperiumjailbreak.Installer:COMMIT_ID`.

[2019-04-21 14:13] simlu commented on #440
Here is one repo where it doesn't work: https://github.com/blackflux/object-scan
But I have the same configuration under all blackflux organization repos.

Something definitely changed. Most of the repos are interdependent. So when I release a new version dependabot used to almost instantly create PRs. I have waited several hours, but this now no longer happens and I need to click the bump now but

[2019-04-21 15:37] greysteil commented on #440
Hmmm, this looks related to npm's issues on Friday / Saturday - https://status.npmjs.org/#week.

Dependabot has a follower that uses `replicate.npmjs.com` to listen for new pushes. It looks like we're just seeing error responses from npm from that now - I'll see if there's anything we can do on our side.

[2019-04-21 22:09] simlu commented on #440
Possibly related to this [black magic](https://github.com/dependabot/feedback/issues/255#issuecomment-436574414)? A magically changing setting? Sorry, but what a terrible decision...

[2019-04-21 23:26] simlu opened #442 "Bug: Auto switch from "build" to "chore" commit message"
For some arbitrary reason dependabot changed the commit syntax by itself. See here https://github.com/blackflux/lambda-serverless-api/commits/master?before=335f2365005b9c099e033eda92085b7dfbf816a0+140

According to this [comment](https://github.com/dependabot/feedback/issues/255#issuecomment-436574414) it should stick to one type?

I've originally reported this issue [here](https://github.com/depe

[2019-04-22 01:08] simlu commented on #440
For now I just added a "Bump all" button. Not great but at least workable :)

![bumpAll](https://user-images.githubusercontent.com/1539747/56477996-4a6ff500-6460-11e9-94f3-ed82fcf1b492.png)

[2019-04-22 02:41] simlu commented on #442
Also what is up with this commit message?!

https://github.com/blackflux/object-scan/pull/292/commits

[2019-04-22 11:03] greysteil commented on #440
@simlu if you would like my help please behave respectfully. Unconstructive comments like this are unhelpful and demotivating.

[2019-04-22 12:25] greysteil commented on #442
Fixed in https://github.com/dependabot/dependabot-core/commit/1f1923f81964fb47c4e3d2c35df39eb70138794c. Issue here is that you have 30 commits in a row that didn't match any commit setup known to Dependabot (since `amend` isn't an Angular prefix). I've adjust the logic to prefix you with `build` in that case.

[2019-04-22 12:25] #442 closed

[2019-04-22 12:38] simlu commented on #440
I'm Sorry. This was not meant to be disrespectful or demotivating. I was a bit frustrated and I'm sorry that showed 😕 Thanks for calling me out. Let's discuss a constructive solution to that problem in the other issue I opened

[2019-04-22 12:42] simlu commented on #442
@greysteil Great and thank you. Does that also change/fix the "bump" style commit messages (the 6th pr in the screenshot)?

[2019-04-22 12:53] simlu commented on #442
Also would you mind explaining how the commit message style is determined? Does it just look at all past commits? From the comment I linked it sounded like you had to force push to a dependabot branch with a different commit message?

[2019-04-22 13:00] greysteil commented on #442
For sure - on my phone as am out for the next few hours (it’s a bank holiday here in the U.K.) but will get back properly when I’m back 🙂

[2019-04-22 13:09] simlu commented on #442
@greysteil No worries and enjoy your holiday! I might open a separate issue later to discuss possible improvements since this is a resolved bug report now.

[2019-04-22 17:51] simlu opened #443 "Improve Commit Messages"
Currently dependabot uses multiple different commit message syntaxes. Since the most recent commits are used to determine which style to use, the style can change over time and it is not always intuitive when and why it does.

This is obviously not ideal when e.g. setting up tooling that relies on commit message style. This issue aims to find a more general solution that satisfies more requirement

[2019-04-22 17:54] simlu commented on #440
Do you have a link to the API documentation that you're using?

[2019-04-22 22:00] #403 closed

[2019-04-22 22:00] greysteil commented on #403
Finally fixed by removing xdebug from the Dockerfile 🎉

[2019-04-22 22:09] greysteil commented on #443
Related to https://github.com/dependabot/feedback/issues/186.

The full logic for building Dependabot's commit messages is [here](https://github.com/dependabot/dependabot-core/blob/master/common/lib/dependabot/pull_request_creator/message_builder.rb).

I agree we should make this configurable from Dependabot's config files. My hunch is that a menu of options (angular, ESLint, gitmoji, perhaps anot

[2019-04-22 22:15] greysteil commented on #440
Yep - basically following the setup described [here](https://github.com/npm/registry-follower-tutorial).

It *seams* like npm have resolved the issues in the last few hours, so I'm going to tentatively close this. There have been no changes on our sides to our follower setup in the last 10 months, so I'm pretty confident the break wasn't on our side, but if you continue to see Dependabot missing l

[2019-04-22 22:15] #440 closed

[2019-04-23 04:49] D4nte commented on #423
@feelepxyz we added the following dependabot configuration: https://github.com/comit-network/comit-rs/pull/867

But yet, dependabot opened this PR that updates the Cargo.lock only: https://github.com/comit-network/comit-rs/pull/884

I thought that the `dependency_type: direct` would prevent that.

[2019-04-23 08:47] greysteil commented on #441
Slightly confused, as I don't think I changed anything here, but https://github.com/hyperiumjailbreak/client/pull/44 suggests this is now fixed...

[2019-04-23 09:47] thedotedge opened #444 "Bi-weekly schedule"
Hi!
Would it be possible to add bi-weekly as bumping schedule?
![image](https://user-images.githubusercontent.com/227241/56571568-82407f00-65bd-11e9-828c-65e4e29a6a2d.png)

[2019-04-23 09:57] spmason opened #445 "Remove unused dependencies"
It'd be awesome if, instead of just blindly bumping dependencies, dependabot could perform some analysis and try and find out whether a dependency is unused first - then raise a PR to remove that dependency instead!

We've got some older repos that dependabot is working through, and I've noticed on a few bumps that the dependency in question has been refactored out and the person doing this has fo

[2019-04-23 11:28] #441 closed

[2019-04-23 11:32] vaibhavhrt opened #446 "Depandapot trying to update js package to version ^0.0.0"
It's trying to update the package `eslint-config-react-app` from ^3.0.7 to ^0.0.0 which doesn't looks right to me. I think the latest version is 4.0.0
Here is the details of PR depandabot created (can't link the PR as it's a private repo):
<hr />

**Title:** Update eslint-config-react-app requirement from ^3.0.7 to ^0.0.0 in /frontend
**Comment:**
Updates the requirements on [eslint-config-react-a

[2019-04-23 11:33] greysteil commented on #446
Hi @vaibhavhrt, can you email me the URL of the PR? That was I can dig into it.

[2019-04-23 11:33] greysteil commented on #446
Alternatively, if you comment on the PR mentioning Dependabot I'll get a notification that way

[2019-04-23 11:35] vaibhavhrt commented on #446
You won't be able to access the PR as it's a private repo. I will mention Dependabot in a comment on the PR.

[2019-04-23 11:38] vaibhavhrt commented on #446
I have added a comment on my repo's PR with a link to this PR. My travis tests are still running, I will let you know if they fail.

[2019-04-23 11:50] vaibhavhrt commented on #446
@greysteil Yup tests are failing.

    Error: Cannot find module 'eslint-config-react-app'

If you want complete log I can send you travis log.

[2019-04-23 15:14] feelepxyz commented on #423
@D4nte oh yeah looks like we might not be filtering out indirect dependencies for Rust. Will see if this is something we've missed.

[2019-04-23 17:17] simlu commented on #440
Thanks for posting the link! I wasn't aware that was a thing. Great to know

So far live updates seem to be working again

[2019-04-23 17:18] feelepxyz commented on #423
@D4nte hey sorry for the delay on this, the PR you linked to only updated the lockfile because the requirement in your manifest allows any  `0.9.x` version: https://github.com/comit-network/comit-rs/blob/master/application/comit_node/Cargo.toml#L31

You could fix this by specifying a full version for all your dependencies in your `Cargo.toml` so both files always have to be updated.

[2019-04-23 17:54] simlu commented on #443
A long time ago I've started with automation by setting up travis for a big java project that I was maintaining. Releases were few and far between. So everytime I went to "magically" do a release via travis it was broken and I had to fix it. I got frustrated, since it didn't actually save any time.

So I'm looking at this from the perspective of someone who embraces automation in every part of the

[2019-04-23 18:00] simlu commented on #443
After writing this I realised that there is another point here: From the perspective of doing dependabot configuration through the GUI an options menu might be preferred. When you set up a configuration file, you want full control, because you're already going into the lowest level.

Possibly solution: Since dependbot is already doing prs, I would love if the gui was just a way of editing the conf

[2019-04-23 18:06] simlu opened #447 "Rate Limit Improvements"
I'm looking at the organization settings. I have set the pr limit per repository to one (see screenshot).

![rate_limit](https://user-images.githubusercontent.com/1539747/56604641-4efaf180-65b7-11e9-8b73-12812dfe9dd5.png)

When enabling live updates I would expect the next pr to be opened automatically directly after an existing one is merged (if there are further ones pending). However that is un

[2019-04-23 18:11] simlu commented on #445
The problem is that dependabot would need to understand the code. This is not a trivial task. We are doing this as part of our generic test suite (using [js-gardener](https://github.com/blackflux/js-gardener/blob/master/src/subtasks/depused.js)) and I would recommend you go down a similar route. The underlying dependency powering this is [npm-check](https://www.npmjs.com/package/npm-check) (it's n

[2019-04-23 19:36] greysteil commented on #446
Sorry about that! https://github.com/dependabot/dependabot-core/commit/365966a24d64befc2bcd61aa76406b318d2b32c8 is a short-term fix. Looks like we need to get smarter about the logic here longer term.

[2019-04-23 19:36] #446 closed

[2019-04-23 19:44] greysteil commented on #444
Definitely possible, but I'd rather not expand the list unless there's a compelling reason. (Let me know if so and I'll re-open!)

[2019-04-23 19:44] #444 closed

[2019-04-23 19:52] simlu commented on #443
Let's try to answer some questions: If you were to go with a defined list of options, what would those be in more details? How would you handle the two angular styles? How would you handle different PR titles? A dropdown list as well?

[2019-04-23 20:21] greysteil commented on #447
This would be quite a bit of work on our side - Dependabot doesn't currently queue up updates for you, so it doesn't know what else it needs to update you on when you clear your queue. We could change that, but have some other big priorities to work on right now.

[2019-04-23 20:23] greysteil commented on #445
Yeah, this would be really awesome, but Dependabot isn't positioned to do it yet.

Critically, Dependabot never clones your repo, so currently it can't know whether a dependency is used or not. We may change that at some point, but for now I think this would have to be a separate service.

Thanks for the feedback all the same (and thanks @simlu for the pointer to `npm-check`).

[2019-04-23 20:23] #445 closed

[2019-04-23 20:25] spmason commented on #445
Like I said, I understand it’s a lot of work, but I think it’d be a great feature for dependabot to have that sets it apart from the competition.

I’m aware there are other packages out there to do it for me (the Maven dependency plugin has a similar feature), but they aren’t easily automated, at least to the extent that dependabot makes life easy for me. I’m not sure i’d pay for a separate servic

[2019-04-23 20:29] greysteil commented on #445
Yeah, agree with the fit. The repo cloning is just such a pain - having your entire repo checked out when we're considering dependency updates would be a big security risk. We have some interesting stuff up our sleeve that could make this more straightforward in future, though 🙂

[2019-04-23 20:36] spmason commented on #445
Thanks - it’s great that you don’t clone the entire repo, I can see how hard this feature might be without the code!

[2019-04-23 21:15] simlu commented on #447
@greysteil I was afraid that would be the case. Might be more desirable to have batch updating then (as this is just a workaround for that use case). Do you have a high level roadmap you could share?

[2019-04-23 22:21] greysteil commented on #447
Nothing super detailed. Doing minimal updates for security fixes has been top of our list, but is nearly finished now (just Composer to add it for). After than I want to think about verifying the version diffs Dependabot includes in its PRs (as detailed [here](https://dependabot.com/blog/stopping-dependencies-getting-hijacked-2/)), and then work on grouping updates.

A lot of time also goes into f

[2019-04-23 22:25] greysteil commented on #437
Thanks for creating this, and apologies for the delay getting back to you.

I'm a little confused - can you describe the setup that you want here?

(For Python, Dependabot will treat `requirement.txt` files that are generated by `pip-tools` as lockfiles for a `requirement.in` manifest file.)

[2019-04-23 22:26] greysteil commented on #49
We do this now! Sorry it took a while.

(Still rolling out across languages, but done for everything except PHP.)

[2019-04-23 22:26] #49 closed

[2019-04-23 22:35] merwok commented on #437
Thanks for the info about non-pipfile lockfiles, I will use that option to ensure big dependencies (django 1.11 → 2.0) are always handled manually!

Ideal setup: only update lock file; upgrade direct dependencies; security upgrades for sub-dependencies.

The PR I linked is a non-security update to a sub-dependency.

[2019-04-24 00:46] D4nte commented on #423
@feelepxyz thanks for the prompt response.

I don't think your proposal matches our requirement.

1. We are keeping "0.9" (patch version not specified) in the manifest on purpose because as we are happy with getting the latest non-breaking change patch.
2. We want to handle cargo.lock only update ourselves so we can batch then with a local `cargo update`. Whether a cargo.lock only update is a due

[2019-04-24 02:44] sunjay opened #448 "Support Rust Conditional Dependencies"
1. I had this issue open for a while to update `piston_window`: https://github.com/sunjay/turtle/pull/119
2. I then updated my `Cargo.toml` file here:
https://github.com/sunjay/turtle/blob/64380076c9dba368e622edb10298c48022619d42/Cargo.toml
3. The dependencies section now looks like:
[code]
4. I got a message from dependabot saying:

I think it's because the dependency is now conditional with `cfg

[2019-04-24 05:28] vaibhavhrt commented on #446
The bot closed the PR. Will it open a PR later to update it to 4.0.0 from 3.0.7?

[2019-04-24 07:40] greysteil commented on #446
It won't, because in this case upgrading to 4.0.0 breaks a bunch of peer dependencies. It will try and create a PR that does that upgrade and takes the necessary peer dependencies with it, but in this case it's not smart enough.

[2019-04-24 07:43] vaibhavhrt commented on #446
ok, thanks

[2019-04-24 08:35] greysteil commented on #437
Ah, OK, I've just taken a look at what's happening here. It looks like you're specifying custom names for the files that pip-compile compiles too (for example, from just looking at the files it's not clear how `runtime.txt` is put together).

Dependabot's detection of how pip-compile files are linked is based on their filenames. It can match a `<name>.in` file to a `<name>.txt` file, but if you us

[2019-04-24 08:35] #437 closed

[2019-04-24 08:37] greysteil commented on #437
I'm closing because I don't *think* Dependabot can easily handle this `pip-compile` case. `pip-compile` is a very flexible tool, and whilst we try to support as many setups as possible, looking at your files I can't imagine any way that Dependabot could figure out how to build your `runtime.txt` without downloading arbitrary binary files, which it can't do.

If you can switch to a setup where you

[2019-04-24 09:25] feelepxyz commented on #423
@D4nte ah sorry yeah that combination won't work with Dependabot unfortunately! Is this mainly to reduce the number of builds you run on CI? We've got quite a lot of feedback on this and are planning on doing work to allow you to group PRs but will be a while until we get to it.

[2019-04-24 09:56] greysteil commented on #448
Agreed - working on it now. Will tag you in the PR - is there anything I need to know about how Cargo treats target-specific dependencies?

[2019-04-24 13:46] greysteil commented on #448
This is done! 🎉

[2019-04-24 13:46] #448 closed

[2019-04-24 13:49] greysteil commented on #436
Ack, sorry about this! Can you tag `@dependabot` in the offending PR? That way I can find it in our system and see what's happened.

[2019-04-24 14:09] sunjay commented on #448
Thanks for being so responsive! The only thing to be aware of is that because the dependencies are conditionally included, it's possible for the same dependency (and even multiple versions of the same dependency) to be included in several mutually exclusive `[target.'...'.dependencies]` sections. You may have to be conscious of that or else you might end up not detecting everything/accidentally ch

[2019-04-24 14:14] merwok commented on #436
It’s a private repo, I suppose I should give you the dependabot project ID and time of the PR?

[2019-04-24 14:15] richardson-trevor commented on #443
Chiming in here with a use-case. We also use semantic-release, and we like to let it go all the way to production if tests pass.

If we have a dev dependency (primarily test libs, etc.), we prefer that they are `chore`, whereas we want production dependencies to become `fix` . This way we cut a new release and get it deployed automatically for things like security updates in a production dep.

So

[2019-04-24 14:16] merwok commented on #437
But that is the setup!  In a `deps` sub-directory, I have `runtime.in`, `tests.in` and `ci.in` that are pip-compiled to their matching `.txt` versions.

[2019-04-24 14:28] simlu commented on #443
That's exactly our use case. We handle it similarly and enforce the `.releaserc.json` file as defined [here](https://github.com/blackflux/robo-config-plugin/blob/master/src/plugin/tasks/semantic-release/commit-conventions.json) through [robo-config](https://github.com/blackflux/robo-config).

Which then results in [this](https://github.com/blackflux/robo-config-plugin/blob/master/.releaserc.json).

[2019-04-24 14:28] greysteil commented on #437
It looks like you also have `develop.txt` and another file (can't remember the name), though?

[2019-04-24 14:33] simlu commented on #442
So how can we differentiate between dep and dev deps? It seems its just set to bump now?

[2019-04-24 14:45] greysteil commented on #442
Want to put in a PR to add the scope if it's being used?

[2019-04-24 15:23] merwok commented on #437
`devel.txt` is the only file without a `.in` counterpart (it contains httpie, pdbpp, etc. without version constraints)

[2019-04-24 15:26] merwok commented on #436
django-nested-admin released a new version; the PR was closed in favour of a new one, which does not show the problem I reported!

[2019-04-24 15:50] #436 closed

[2019-04-24 16:43] simlu commented on #442
Sure

[2019-04-24 17:00] simlu commented on #442
Done [here](https://github.com/dependabot/dependabot-core/pull/1121).

[2019-04-24 17:09] simlu commented on #443
@richardson-trevor I've looked at the dependabot code again. There more branching going on ([Reference](https://github.com/dependabot/dependabot-core/blob/master/common/lib/dependabot/pull_request_creator/message_builder.rb#L217)).

Hence our setups are actually pretty fragile when the commit conventions for the projects change. So solidification is much needed here on dependabots side.

[2019-04-24 17:33] simlu commented on #442
On second thought no. I don't have ruby or an IDE set up for it :)

Makes it very time intensive to debug

[2019-04-25 10:55] bustikiller commented on #256
@richardson-trevor I understand the benefits of doing that, but this would only work if all dependencies followed semantic versioning. We have experienced patch version upgrades that broke production environments. For this reason, we prefer to test every dependency upgrade before going live. But it is not feasible for us to test every dependency upgrade if we have dozens every month.

I would pref

[2019-04-25 14:23] jonasbb opened #449 "Dependabot creates security pull requests, which do not fix the security problem"
I created a dummy repo to show the problem at [dependabot-test](https://github.com/jonasbb/dependabot-test/pulls).

Github warns about three vulnerabilities in SQLAlchemy, Jinja2, and pyyaml. Dependabot creates pull requests for only two, Jinja2 and pyyaml.
Neither of those two pull requests fixes any of the vulnerable versions, they do not even update the mentioned dependencies. They only happen