[2017-05-31 09:41] Floppy opened #1 "< version specifiers"
(I've filed this via email but I thought I'd christen the new issue tracker too)

I’ve got a few old repos where we were locking `foreman` at `< 0.64`. As it turns out, this isn’t necessary any more but dependabot is changing that to the current version, but still with the `<` specifier. So the update says `0.84`, but the Gemfile now says `< 0.84` (i.e. `0.83`). Not sure what the right solution is

[2017-05-31 09:44] greysteil commented on #1
Thanks @Floppy. We'll have a think about this one - not totally obvious to me when we'd want to keep the matcher and when we'd want to remove it, but it's definitely a bit weird in the case you've outlined!

[2017-05-31 09:46] Floppy commented on #1
There will be similar issues with rake actually, which will probably hit more people - rake 12 doesn't work with rails < 5 (or 4, I forget), but bundler doesn't work that out, so we'll have to pin a few repos using `<` until we can update the major rails version.

[2017-05-31 09:48] Floppy commented on #1
I *think* that `<` is the sort of very definite version specifier that means it shouldn't be automatically changed, but I'm not 100% sure. It's the sort of thing people would only use for good reason.

[2017-05-31 09:50] pezholio opened #2 "Allow weekly updates"
For some, a daily update might be a bit too noisy and distracting. It might be nice to offer a weekly update frequency, then users can schedule a time every week to check over and merge dependency updates.

[2017-05-31 09:52] Floppy opened #3 "Update Ruby versions"
Some repos will have ruby version specified in the `Gemfile`, `travis.yml`, or `.ruby-version` (and there are probably others). It would be dead handy to have dependabot update these at least with patch or minor versions, so we don't miss a new release :)

[2017-05-31 09:54] hmarr commented on #1
Yeah - that's a good example. While we're clear that leaving the `<` in is definitely a bad idea, we'll need to have a think about what the right solution is. Silently ignoring dependencies that use `<` could also be confusing for new users.

One possibility we're considering is changing it to `~>`, and adding the ability to pin dependencies to a max version within Dependabot.

[2017-05-31 09:58] Floppy opened #4 "Git submodules"
Probably a low priority niche use case, but a new "language" for updating git submodule versions would be incredibly useful (at least for me).

I have a number of Jekyll sites that include content from other repositories via submodules: https://github.com/SomethingNewUK/somethingnewuk.github.io/ is probably the most complex of those, with about 4 submodules in various subdirectories.

User story a

[2017-05-31 10:00] greysteil opened #5 "Handle upgrades that require upgrading multiple dependencies at once"
On a lot of old repos, we see Gemfiles with something like the below:

[code]

To upgrade either of the dependencies in the above Gemfile, we need to update both, because `sass-rails` version 5 depends on the `rails` version being 5.

The right way to handle the above is to put in a PR upgrading both of the above, with clear details of both updates.

[2017-05-31 10:00] hmarr commented on #2
Agreed - we'll get this implemented and update this ticket once it's shipped!

[2017-05-31 10:02] Floppy commented on #1
Yeah, that might work. It's handy to be reminded that those bad smells are there, certainly. I've thrown a load of them away already that aren't necessary any more because of @dependabot, so that's good :)

[2017-05-31 10:13] hmarr commented on #4
In theory, I'm 👍 - it'd be a nice feature to support, and the implementation shouldn't be too tricky.

We'll update this when we have a more concrete plan.

[2017-05-31 16:54] hmarr commented on #2
Done. You can now select daily or weekly bumping. Weekly bumping occurs on Monday mornings (and no, that is not configurable 😉).

[2017-05-31 16:54] #2 closed

[2017-06-01 10:29] Floppy opened #6 "Conflict resolution updates can be a bit noisy"
I'm updating a lot of stuff in one go, so this might be irrelevant for most users, but I find the conflict resolution comment to be unnecessarily noisy. Github already warns me that there are conflicts and won't let me merge, and dependabot is usually only a couple of minutes behind, so I'm not sure I really need a comment (lovely and polite though it is). I'm not in a "normal use" mode yet though

[2017-06-01 10:31] greysteil commented on #6
I think we could probably get away without that comment - we mention it in the PR description anyway. I'll disable it and keep track of whether people are doing the rebases manually when they could just be waiting for Dependabot.

[2017-06-01 10:35] Floppy opened #7 "21-hour old conflict resolution not happened yet"
Just found a dependabot notification comment from 21 hours ago which hasn't yet resolved the conflict.

Not sure if it's because I linked it to another issue (#1 here), so perhaps dependabot thinks I've changed it and has stopped updating it?

https://github.com/theodi/static/pull/237

[2017-06-01 10:36] greysteil commented on #7
Ack, that one's almost certainly because of the downtime GitHub had yesterday - we saw a lot of 500s from them. Need to implement a backoff strategy there - I'll get on it.

[2017-06-01 10:37] Floppy commented on #7
Ah, yes, of course, forgot about that!

[2017-06-01 10:43] greysteil commented on #6
Resolved! We'll now only comment in for the case where you re-open an old Dependabot pull request that's fallen behind master (which is unlikely to happen in bulk, so shouldn't be noisy).

If we see a lot of people doing rebases themselves manually I'll have another look. One option would be for us to edit the PR description during updating, which avoids sending an email.

[2017-06-01 10:43] #6 closed

[2017-06-01 14:39] greysteil commented on #7
OK, I've moved as many of our interactions with GitHub into async processes, which means we can retry them automatically and this shouldn't happen again. I've also cleaned up all of the bad data from GitHub's outage yesterday, so theodi/static#237 is fixed up, along with a few other PRs that had got into that state.

Thanks for the bug report!

[2017-06-01 14:39] #7 closed

[2017-06-02 13:01] Floppy opened #8 "Include old version in PR titles"
It would be handy, when looking at a big list of PRs, to get a quick flavour of which updates are small and simple, and which are potentially complex. Including the old version number as well as the new one in the title would help with that. Pretty much exactly the text in the first line of the PR, in fact, would be great.

[2017-06-03 16:19] greysteil commented on #8
Good idea - done!

[2017-06-03 16:19] #8 closed

[2017-06-06 15:34] nblackburn opened #9 "Allow JavaScript projects without a lockfile"
As it stands, Yarn is required but i feel it should be optional just as yarn is.

[2017-06-07 14:27] greysteil commented on #9
Hey @nblackburn, we'd love to build out JS support further. Next on the list there is supporting npm5 - are you suggesting also supporting projects without a shrinkwrap / lockfile?

[2017-06-07 14:33] nblackburn commented on #9
@greysteil yes, while i agree with the purposes of lockfiles i still consider flexibility to be important enough to allow for both.

[2017-06-20 13:30] olimart opened #10 "Add 'monthly' option to scheduler"
Some projects are less active than others. In this case, 'monthly refresh' is enough.

[2017-06-20 13:54] greysteil commented on #10
Is there are downside to these projects using `weekly` instead?

[2017-06-20 13:58] olimart commented on #10
Not really, just too much noise, especially for gems defined in non-production groups

[2017-06-20 18:37] zach-taylor opened #11 "Option for single pull request per update"
We use deppbot (https://www.deppbot.com) at the moment and we like the idea of a single pull request for each update rather than a pull request for each gem update. The main reason we like this is we have a lot of dependencies, and it can get noisy and slow to perform a build for each one and the way our branch protections are set up.

Thanks for the consideration!

[2017-06-21 10:21] greysteil commented on #11
Thanks Zach. We might add a setting for this at some point, but it's not on our roadmap right now - we prefer the multiple PRs approach as it makes them easier to test and merge. That said, we can see a world where we open a single PR for several dependency updates we know are backwards compatible.

In the meantime, Deppbot are the guys to use if you want a single PR with many updates in it.

[2017-06-21 14:33] Floppy opened #12 "Ruby versions not being taken into account correctly?"
I've just had a few updates opened up that introduce a dependency on `public_suffix` as part of the update. This is in old Ruby 1.9.3 projects, but this gem requires Ruby 2. This should be blocking the update, but it seems not.

See https://github.com/theodi/panopticon/pull/261 for an example. If I run `bundle update capybara` on the command line, it says:

[code]

That's not exactly a great error

[2017-06-21 14:37] greysteil commented on #12
Interesting, thanks. This one requires a bit of thought on our side, but shouldn't be too tough, and it's definitely a bug.

[2017-06-21 18:55] zach-taylor commented on #11
Sounds good 👍 I figured I would put it out there and explain our reasoning.

[2017-06-28 10:06] greysteil commented on #12
Quick update: we're working on this, but there's an underlying bug in Bundler. We should have it patched in the next day or so.

[2017-07-01 00:58] greysteil commented on #12
This should be fixed now - [this PR](https://github.com/theodi/panopticon/pull/266) is proof (the buggy old version generated [this one](https://github.com/theodi/panopticon/pull/249)).

🎉

[2017-07-01 00:58] #12 closed

[2017-07-01 14:47] Floppy commented on #12
Brilliant, thanks :)

[2017-07-02 08:59] greysteil commented on #1
I've updated Dependabot to replace `<` matchers with a `~>` which, at the very least, is better behaviour than before.

Interested to hear more feedback on pinning Dependencies within Dependabot, especially if Rake or other gems are missing a `required_ruby_version`specification which makes using the `<` matcher necessary. Optimistically closing for now, though...!

[2017-07-02 08:59] #1 closed

[2017-07-31 09:20] Shuunen commented on #10
Yep please add monthly :)

[2017-07-31 09:26] Shuunen opened #13 "Add option for minor/major updates"
It could be nice to have less notifications like "hey update xyz from 1.12.1 to 1.12.2" and another one after with "ok I closed  1.12.1 to 1.12.2 but now you can 1.12.1 to 1.12.3" ... etc and this for each dependancy...

It would be nice to set what kind of update we want.

According to http://semver.org/ we could specify to update on MAJOR, MINOR or PATCH

[2017-07-31 09:44] greysteil commented on #10
Done!

[2017-07-31 09:44] #10 closed

[2017-07-31 10:07] Shuunen commented on #10
Great thx ! :+1:

[2017-07-31 10:44] greysteil commented on #13
Would the approach in https://github.com/dependabot/feedback/issues/11#issuecomment-310036053 work for you?

[2017-07-31 11:44] Shuunen commented on #13
Yes totally :)

[2017-07-31 12:02] greysteil commented on #13
Perfect - I'm going to close this as a duplicate. I'm really keen to get #11 working at some point.

[2017-07-31 12:02] #13 closed

[2017-08-03 17:44] NullVoxPopuli opened #14 "Allow ruby projects without a Gemfile.lock"
I'd like to use this on a couple of my gems:

https://github.com/NullVoxPopuli/drawers
https://github.com/NullVoxPopuli/skinny_controllers/

and it's recommended? to not use a Gemfile.lock on gems?
So, I'm not sure how'd you'd know what to upgrade to / from.
I guess maybe if we could set up some sort of auto-building? idk, maybe that's another kind of service or something

[2017-08-03 17:48] greysteil commented on #14
Hey @NullVoxPopuli.

Hmmm, this is a tricky one. What's the effect would you want Dependabot to have when running on your gems?

We've steered clear of supporting Ruby libraries because, generally speaking, you want to keep the requirements in the `gemspec` as relaxed as possible, rather than updating them all the time. (I can see that on both of your gems they're fully relaxed already.) That's ve

[2017-08-03 17:54] NullVoxPopuli commented on #14
I'm not 100% sure, but I've been caught a few times by dependencies updating past a major version or whatever, and then _that_ breaks the build.

The only thing I can think of would be to have some sort of metadata file that has a list of dependencies that are tested against.

But that may be outside the scope of dependabot? idk. maybe feature request?

[2017-08-04 15:26] greysteil commented on #14
Cool, I'll have a think about that - can see it would be a useful service for maintainers to know if a new version is released that breaks compatibility. Might need to be a separate app to Dependabot.

In the meantime, I've updated the error that Dependabot will serve if you attempt to use it on a gem to be:

Resolving this in the hope that the above is clear enough, but let me know if you think w

[2017-08-04 15:26] #14 closed

[2017-08-10 18:21] tf commented on #14
Just to add another point of view, even though the issue has already been closed: Open ended gem dependency requirements are at least controversial. In fact, `gem build` even prints a warning:

In his [great article on the topic](https://blog.codeship.com/optimists-guide-pessimistic-library-versioning/), Richard Schneemann points out:

We therefore try to use pessimistic versioning in our gems, ma

[2017-08-10 18:45] NullVoxPopuli commented on #14
Interesting, I'd be a fan of that. Dependabot could even suggest those additions to the gemspec, by looking up the recent gem version and add in a pr `, ['~> X.0']`
And then dependabot would only need to check the major versions (if ~> is used)

[2017-08-11 08:47] biow0lf opened #15 "Support vendoring for Ruby"
Hello,

I am using vendored gems in vendor/cache/. So, dependabot update gem in Gemfile.lock, but leave old gem file in vendor/cache/. Plus, not put new gem to vendor/cache/.

So, I think, run `bundle pack` and add changed files will enough.

[2017-08-12 12:28] greysteil commented on #15
Hmmm, at the moment Dependabot doesn't support vendoring. It would be nice to add it, but I think it's going to be hard to do so performantly - downloading all those dependencies using `bundle package` would take a lot of time on our end. We currently avoid actually doing any installs for Ruby, which keeps things fast (take a look at [dependabot/dependabot-core](https://github.com/dependabot/depen

[2017-08-12 12:35] greysteil commented on #14
I'd be totally up for supporting that flow @tf. I think we'd need to add it as an entirely new flow (called `bundler-lib` or something like that) in much the same way as adding support for a new language works (see [this PR](https://github.com/dependabot/dependabot-core/pull/24) for example).

[2017-08-13 21:25] greysteil commented on #14
OK, I've got something working. I haven't put it in the front-end yet because it's still a little raw, and because I'm not 100% sure how it should interact with bumping for applications (there's the unusual case where a repo has a Gemfile.lock, and Gemfile, AND a gemspec).

@NullVoxPopuli would you be up for trialling it on [drawers](https://github.com/NullVoxPopuli/drawers) / [skinny_controllers]

[2017-08-13 22:23] NullVoxPopuli commented on #14
Of course! Sounds awesome!

On Sun, Aug 13, 2017, 5:25 PM Grey Baker <notifications@github.com> wrote:

[2017-08-13 22:59] greysteil commented on #14
OK, you're set up. Unfortunately the specifications in your gemspecs for those gems are totally open-ended, and since I haven't added an ability for Dependabot to automatically update you to pessimistic versioning there's no work for it to do on them! 🤦‍♂️

[2017-08-13 23:00] greysteil commented on #14
@tf - could I persuade you to give it a whirl, too? No front-end, but I can add any repos you want from console (and you can disable / edit them from the frontend once they're in).

[2017-08-14 08:09] tf commented on #14
@greysteil wow, you people are fast! I've granted Dependabot permissions for two test repositories:

https://github.com/tf/pageflow-dependabot-test
https://github.com/tf/pageflow-panorama-dependabot-test

The first one contains a bunch of outdated dependencies:

* Major version updates (i.e. `cancancan ~> 1.10` where `2.0` is available)
* Minor version updates (i.e. `device-async ~> 0.9.0` where `

[2017-08-14 08:29] greysteil commented on #14
Awesome - I've run it on both (and found a bug, which I've fixed). Let me know if the results are what you'd expect / want.

[2017-08-14 09:25] tf commented on #14
The results look really promising. Some first thoughts:

It's great that Dependabot knows how to extend ranges: Going from `~> 2.3`, to `>= 2.3, < 4` it's important to stay compatible with `2.3`. Will it also work if the original gemspec already contained a range (i.e. going from `>= 2.3, < 4` to `>= 2.3, < 5`)? I tried looking at the PR but could not really pin it down.

Looking at the generated

[2017-08-14 11:24] NullVoxPopuli commented on #14
@greysteil I've updated both my gems to have version ranges on both drawers and skinny_controllers. Thanks!

[2017-08-14 16:24] greysteil commented on #14
It'll handle cases where you've already got a range - the relevant code is [here](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/update_checkers/ruby/gemspec.rb#L19-L32) and it basically just loops through each of your requirements, looking for ones it needs to update.

I'm still not 100% sure of the value proposition here. I think it can be useful, but it needs to be pos

[2017-08-14 16:24] greysteil commented on #14
And thanks for trying it, guys!

[2017-08-14 17:47] tf commented on #14
I think the main thing to avoid is noise. If I just don't have the time to update to Rails 5, being reminded each time a new Rails patch level version is released might be annoying.

[2017-08-14 17:51] greysteil commented on #14
Agreed. For libraries, that's already sorted as long as the specified you use isn't `==` (seems unlikely) - Dependabot will only update you when a *different* change in the requirements would be necessary to permit the latest version.

For apps it's a bit trickier - we've had other people say that they *want* to be updated for the next patch release, because they're waiting for a bug fix in it.

W

[2017-08-15 08:46] tf commented on #14
Maybe there could be a way to tell Dependabot that we are not planning to support a new version by closing the PR and adding a `wontfix` label. Or even better, allow to reply to Dependabot in the PR with something like "Planned for v4.0", which would make Dependabot wait until there is a v4.0 milestone or something like that.

One further tiny nitpick that might be worth considering: If we are usi

[2017-08-16 17:51] greysteil commented on #14
`wontfix` label is a nice idea. Definitely a separate issue though 😉 .

For libraries, however, I've just got everything working how I want it, and it's live in the main app - you can add a library in the same way you would any other Ruby project, and Dependabot will just do the right thing. 🔥

[2017-08-16 18:11] NullVoxPopuli commented on #14
woo!!! great work!

[2017-09-04 01:47] eitoball opened #16 "Specify day of week for "Bump weekly" option"
Hi

It would be nice to specify day of week for "Bump weekly" option because you would get lots of PRs when you setup multiple languages on a project.

Thank you for considering.

[2017-09-04 07:27] mkody opened #17 "Option to choose branch"
Hi and thanks for your work.

Currently, Dependabot makes PRs to the master branch. Would it be possible to make it work with other branches?
Like we might want to use a develop, dev, testing (etc.) branch instead.

And thanks again!

[2017-09-04 08:07] greysteil commented on #17
Hey, thanks for the feedback!

We've had this request once before - currently Dependabot opens PRs against whatever your default branch is, but in some (rare) cases that's not the branch people want.

Given the above, I think it makes sense for us to add it. I'll do it sometime this week.

Cc-ing @NicolasCARPi as he's the one who asked for this last time, and @hmarr as I'll need his help on the fr

[2017-09-04 08:08] greysteil commented on #16
Thanks for the feedback! I'll have a think about how we can fit this into the UI - I don't want it to end up too busy.

[2017-09-07 22:07] greysteil opened #18 "Support eval_gemfile for Ruby"
Follow-up from https://github.com/roschaefer/rundfunk-mitbestimmen/issues/252. Quite a bit of work required to `dependabot-core`, but not insurmountable.

[2017-09-08 10:31] greysteil commented on #11
Quick update: we'd still love to do this (group non-breaking updates), but it's going to need us to have lots of data to do it well (we need to know which changes are breaking). One for the future - don't worry, it won't fall off our roadmap.

[2017-09-08 23:23] greysteil commented on #4
Just added support for these. @Floppy - if you run it on the repo you mentioned you'll get a resolution error, because the branch you specify for `_data/popolo-data` has been deleted. We could do better on the error message, but it'll do for now :)

🎉

[2017-09-08 23:23] #4 closed

[2017-09-09 08:42] Floppy commented on #4
holy crap - I'm gonna try this *right now*. :D

[2017-09-10 19:46] rdunlop opened #19 "Unclear link to compatibility score makes me think that all versions are 100% compatible"
I received an e-mail which read:
[code]

I would click on the Changelog, to see the changelog, and if that wasn't sufficiently convincing I'd click on the Commits....and as a last resort, if I wanted to see what the Dependabot users thought of this upgrade, I'd click on "Dependabot compatibility score"....and see "100% compatible"

Only now, after having done this a few times to I realize that thi

[2017-09-10 19:51] greysteil commented on #19
Interesting. I made it a link because I figured people wouldn't understand how it was calculated, but the flow above certainly sounds more confusing that helpful.

Long term, I'd like the link to go to a collection of test results for public repos, but that's a way off. In the meantime, it would be pretty straightforward for me to make the value on the compatibility score page linked to the depend

[2017-09-10 20:25] greysteil commented on #19
I've just deployed the "make the link got to a page reflecting the same value" change, and I'll have a think about how we can change the design / copy of the page further to make it clearer what's going on. Will affect all new PRs.

[2017-09-10 20:25] #19 closed

[2017-09-10 20:26] greysteil commented on #19
Thanks for the feedback!

[2017-09-11 09:06] Floppy commented on #4
Not sure it's working, unless there's still something wrong on my repo. I've fixed the missing branch (thanks for spotting that!) so I think it should work now on https://github.com/SomethingNewUK/somethingnewuk.github.io.

However, while there are two submodules that need updating (`data/finances` and `data/popolo_data`) there, no PRs are appearing, whether on an automatic or manual bump.

Any th

[2017-09-11 09:08] Floppy commented on #4
Ignore me! I just realised I need to add it as another language! I'll report back with results.

[2017-09-11 09:08] Floppy commented on #4
BOOM 💥

It works - I love you guys :D

[2017-09-11 09:56] greysteil commented on #4
🎉

@deivid-rodriguez - I saw you got an error bumping submodules. At the moment it can't handle anything other than GitHub ones, but I'll hook it into the git internal transfer protocols this evening and get that fixed.

[2017-09-13 18:04] dalberto opened #20 "Support for Docker images"
Knowing when new Docker images are published would be helpful.

One issue I can see arising is that repositories may have multiple Dockerfiles.

[2017-09-20 08:38] biow0lf opened #21 "Bumping one gem bumps another"
Example: https://github.com/biow0lf/evemonk/pull/201

[2017-09-20 09:38] greysteil commented on #21
Hey @biow0lf, thanks for the feedback!

Do you have a strong view on what Dependabot should do here?

At the moment, Dependabot is following normal `bundle update lograge` behaviour, which is to update the dependency's sub-dependencies (and the sub-dependencies of its sub-dependencies, etc.) to the latest version. Since none of those sub-dependencies are listed in your `Gemfile` we assume you don'

[2017-09-20 10:18] doismellburning commented on #20
This would be excellent please! I want to use [digests](https://medium.com/@RemindEng/docker-image-digests-be8b6b348efb) so our builds are more [reproducible](https://reproducible-builds.org/) but I like hand-updating hashes even less than hand-updating version numbers...

[2017-09-21 15:54] rdunlop opened #22 "Does not propose updates for dependent gems?"
In my project, I have `capybara` in my Gemfile, which depends upon `nokogiri >= 1.3.3`.

Currently, I have `nokogiri (1.8.0)` installed.

Why hasn't dependabot prompted me to install nokogiri 1.8.1?

Doing `bundle update nokogiri` locally does succeed in creating a new Gemfile.lock` with an updated version of `nokogiri` and `mini_portile2`

[2017-09-21 21:12] greysteil commented on #22
Hey @rdunlop,

I've been wondering when this was going to come up! At the moment, Dependabot doesn't bump sub-dependencies, except when bumping the parent dependency (which means #21 is the other side of this issue).

We decided to start out with the above approach because we were worried about the sheer number of PRs we'd be creating when bumping sub-dependencies. By their nature, they're things

[2017-09-22 10:45] deivid-rodriguez opened #23 "Detect higher released versions when pointing to master"
Sometimes one has to specify things like

[code]

You normally do this when you need to pick up not yet released bug fixes or features.

It'd be nice if dependabot could create a PR when a released version higher than the commit sha1 the gem is pointing to is made available.

[2017-09-22 10:47] greysteil commented on #23
I've actually got a branch working on this right now. Working assumption is that you always want the latest commit sha (for the specified branch). Should be working in the next few days.

[2017-09-22 10:54] deivid-rodriguez commented on #23
What do you mean? That dependabot will also send updates when newer commit sha1's are released? I'm not sure people will like that? Normally master branches are considered unstable...

What I mean is that dependabot could update my Gemfile along the lines of:

[code]

[2017-09-22 10:58] greysteil commented on #23
Ah, interesting.

I'm thinking if you pin to `master` without specifying a commit SHA you probably want the latest commit - if you specify a reference we'd leave it be.

I like the latest version idea, though - I'll have a think how we could implement that.

[2017-09-22 11:08] deivid-rodriguez commented on #23
After a second thought, that'd be the perfect behavior for me indeed! :heart:

When I want a specific fix or feature, I lock the ref

[code]

and I would only expect dependabot to update it when there's a released version containing the ref.

When instead I want to be a beta tester of the gem, I don't specify a `ref` and I would expect dependabot to always update the locked commit sha1.

[2017-09-22 12:07] rdunlop commented on #22
Hi @greysteil,

I do like the idea of having ALL of my gems updated to the latest version, all the time. If I installed a gem fresh, all of its sub-dependencies would be "latest"...which is my goal for my projects...so I think that this is a good feature.

I currently really like the fact that each PR only contains a single gem in it. If you're proposing that the "sub-dependencies" PR would combin

[2017-09-25 08:46] greysteil commented on #22
Makes sense. I want to keep thinking on this one, so I'm not going to ship anything immediately, but it's really high up my list of problems to solve.

FWIW, we've tried to avoid having a configuration page because we quite like the interface for Dependabot to be entirely pull request based. That won't necessarily last forever, but I don't want to add a configuration page / file before thinking th

[2017-09-25 10:49] rdunlop commented on #22
@greysteil Please take your time to think through this one. We have other means to track sub-dependencies right now, so this is not pressing...just would be really nice to have.

I can understand your desire to avoid a configuration page. I'll keep thinking about it too.

[2017-09-25 17:51] rdunlop opened #24 "Unable to scroll immediately after adding a new project"
on `https://app.dependabot.com/accounts/<account>/repos`

I used "Add project" to add a project.
I then wanted to scroll to the "Add Project" button again...but I could not scroll until the alert message disappeared.

Expected behavior:
- Scroll should be possible even while the alert message was visible.

note: this only became a problem once I had added > 6 projects... and I was trying to add 3

[2017-09-28 13:04] rdunlop opened #25 "Update shown on wrong account page"
I have multiple accounts set up.
One for my OpenSource stuff, one for my work stuff.

I was on my OpenSource one (rdunlop), and I did a "Bump Now". I then opened another browser tab...and was doing other stuff on github (unrelated).

When I returned to the dependabot page (https://app.dependabot.com/accounts/rdunlop/repos) it showed me a repo which is in a different account.

It showed me "Hang on

[2017-09-28 13:10] rdunlop commented on #22
Hi @greysteil I may be seeing a related (or unrelated) issue. I would like your opinion on whether it's the same issue, or a new bug.

Basically, it was my understanding that dependabot was doing the equivalent to `bundle update <gem>` for each of the gems specified in my Gemfile...and if it succeeded in resolving a gem update, it would open a PR. Is that a fairly accurate summary of the intended

[2017-09-28 13:50] greysteil commented on #22
@rdunlop that's definitely related. You're right that Dependabot does the equivalent of `bundle update <gem>`, but it also has some logic to check whether the version of the dependency it's updating changes. If it doesn't (e.g., in this case), it doesn't generate a pull request, so you'll never get a "Bump sub-dependency of carrierwave-aws" pull request.

Having a general strategy for dealing with

[2017-09-28 13:56] greysteil commented on #25
Thanks @rdunlop.

@hmarr - looks like a redux issue?

[2017-09-28 14:01] rdunlop commented on #22
@greysteil I knew you'd have an explanation for it.

I'm looking at the `Gemfile.lock` changes that I posted above....and I'm now seeing that it doesn't say what I thought it said. Oops.

You're right, this is totally explainable by #21.

I've seen people put `gem "rails", "~> 4"` recently.... 🤷‍♂️

[2017-09-29 14:34] #23 closed

[2017-09-29 15:25] greysteil commented on #23
Just deployed this - check out https://github.com/greysteil/dependabot-test/pull/1 for an example. 🎉

Thanks masses for the suggestion - I think this is a really great new feature.

[2017-09-29 16:09] deivid-rodriguez commented on #23
It's so great @greysteil, fantastic job!

[2017-10-01 11:58] greysteil commented on #24
@hmarr - can you take a look at this one?

[2017-10-01 12:19] ad-m commented on #11
In my opinion it is not a problem that many changes will be under one pull request. Many CIs test each commit separately, so you can continue to accurately identify the defective dependency.

[2017-10-04 13:00] #18 closed

[2017-10-04 16:47] greysteil commented on #20
I've made a start on this over at https://github.com/dependabot/dependabot-core/pull/95. I don't speak Docker, so can I get your review on it when it's ready @doismellburning? Should be pretty straightforward, and I'll flag the areas that need thinking about.

[2017-10-05 22:38] doismellburning commented on #20
The more I look at this the more it feels like actually identifying the update could be a nightmare. My internal repos all use the convention "tags follow semver, variants are a different repo" which made this easier, but that's not the general / Hub convention cf. `python:3.6.2-onbuild` and `python:3.6.3-slim` (heck I don't even know why they're both not 3.6.3...)

It feels like at the moment, th

[2017-10-06 13:59] greysteil commented on #20
Yeah, I think "looks like a version number" is going to be the way to go here, but that's fine. Dependabot is already going to need to handle that for git tag updating (which I'm going to release for Ruby this evening / early next week), so I'm comfortable with it trying to handle the 💩  for you...

[2017-10-08 18:24] #20 closed

[2017-10-08 19:05] greysteil commented on #20
Dockers support is live! Quite a few caveats for the first version, as detailed in https://github.com/dependabot/dependabot-core/pull/95, but we'll keep improving it from here.

[2017-10-09 10:29] greysteil commented on #24
FYI, @hmarr dug into this and it's a bug in blueprint. We've put in a [PR](https://github.com/palantir/blueprint/pull/1684) to fix it, and will have scrolling fixed as soon as it's released.

Thanks for the feedback!

[2017-10-09 19:48] dalberto commented on #20
Awesome! Thanks, @greysteil. Will be sure to try it out soon.

[2017-10-12 14:29] BRMatt opened #26 "Configuration of private gemservers without hardcoding credentials"
We use a private gemserver hosted by packagecloud.io. We configure our development/CI environments to pass the packagecloud credentials to bundler using environment variables or `bundle config`.

We don't really want to hardcode the credentials for this server in our Gemfile. Would it be possible to configure the API key within dependabot's UI (preferably at the organization level), or at the very

[2017-10-12 14:38] greysteil commented on #26
Hey @BRMatt,

Sounds sensible. We're running into the same issue for Dockerfile updates, too, so I'm keen to look at it over the next few days.

In the meantime, unfortunately we can't disable checking of private servers - Dependabot needs to be able to resolve your Gemfile to figure out what versions to update you to (we update you to the latest resolvable version, *not* the latest version, altho

[2017-10-12 15:02] BRMatt commented on #26
No worries, thanks for the prompt reply! 😃

[2017-10-13 11:40] greysteil commented on #26
OK, I've got a solution for this on the backend. It's too beta to put into the frontend just yet (we need to lock down the security on exactly what people can pass us, because Bundler handles it very liberally), but if you encrypt your packagecloud credentials and ping them over to support@dependabot.com then I'll get you set up manually. I'm `greysteil` on keybase.

[2017-10-13 14:50] BRMatt commented on #26
Thanks @greysteil! I'm happy to wait until this is in the frontend, no rush!

[2017-10-17 07:47] greysteil commented on #24
Fixed! Thanks again for the feedback @rdunlop.

[2017-10-17 07:47] #24 closed

[2017-10-17 21:29] joelbcastillo opened #27 "Custom Requirements File for Python Dependencies"
We use multiple requirements files stored in a `/requirements` folder in our projects to manage dependencies for specific environments (such as debug packages for our development environment).

Pip allows us to install these dependencies as needed by just specifying the filename e.g. `pip install -r requirements/dev.txt`.

Is it possible to allow us to specify the Python requirements file if it th

[2017-10-17 21:33] greysteil commented on #27
Interesting. Would be nice to support specifying a specific file, and I think we're going to need that for other languages anyway (I'm thinking of Dockerfiles in particular). I'll have a think and see what we can do.

In the meantime, if you were to place a `requirements.txt` file in the requirements folder of https://github.com/CityOfNewYork/NYCOpenRecords, which required in all of the other requ

[2017-10-17 21:40] aensley opened #28 "PHP Library support"
I just setup a free Dependabot account to check my PHP projects on GitHub.

I've tried both:

* https://github.com/aensley/file
* https://github.com/aensley/media-organizer

Both projects have `composer.json` and `composer.lock` files in the root directory.

I get this error message when trying to add them:

I don't understand either what this means or why it is that way. Could you clarify this er

[2017-10-17 21:58] joelbcastillo commented on #27
That makes a lot of sense. We'll try out the hack for now.

Thanks!

[2017-10-17 22:20] greysteil commented on #28
Hi @aensley,

Sorry about this one. The thinking is that the kind of dependency bumps you want for a library are different to the kind you want for an application. Specifically, for a library you want your `composer.json` to admit as large a range of dependency versions as possible, to help avoid conflicts with other libraries when your users install. You want Dependabot to check whether the lates

[2017-10-18 13:27] aensley commented on #28
Thank you for the explanation. That makes perfect sense!

[2017-10-19 16:48] greysteil commented on #26
Backend is done, and the frontend will be shipped tomorrow, as soon as @hmarr gets a chance to finish it. 😄

[2017-10-19 16:52] shaneog commented on #26
Thank you both!! _(I need it for Ruby right now, and for Yarn later)_

[2017-10-23 23:45] gerrywastaken opened #29 "What is the requirement before an update pr will be launched."
I've noticed that many of our dependencies are not showing up with a PR when there is an update for the gem available. I can see new versions of rpsec-rails for instance: https://rubygems.org/gems/rspec-rails/versions/3.4.2

However there is no associated PR, while there are PRs for other gems.

[2017-10-24 00:45] bfirsh opened #30 "Personal account + org account doesn't seem to work"
I had dependabot installed for my personal repos. In quite a roundabout way, which I forgot, I managed to install it for the arxiv-vanity organisation too. I think it was by adding the application again on GitHub, then selecting arxiv-vanity as the org to install it on.

Anyway - your web UI now seems very confused. The URL is https://app.dependabot.com/accounts/arxiv-vanity/repos but it is showin

[2017-10-24 00:47] greysteil commented on #30
Ack, sorry about that. If you need a brute-force reset you can clear your local storage (the redux key is the one that needs deleting). We'll also have a look into what caused this.

[2017-10-24 08:11] hmarr commented on #30
Hey Ben, thanks for reporting this! It actually looks like a backend glitch, so don't worry about resetting your localstorage. I think I've fixed up the bad data, so this should be resolved now, but let us know if you spot any other peculiar behaviour.

[2017-10-24 08:11] #30 closed

[2017-10-24 08:35] greysteil commented on #29
Hi @gerrywastaken,

This is almost certainly related to https://github.com/dependabot/feedback/issues/5. In a nutshell, the problem here is that you Gemfile (probably) has both `rspec` and `rspec-rails` in it, both of which are tightly linked to `rspec-core`. Since Dependabot only ever updates one top-level dependency at a time, updating either of the above is blocked by the other, and no update r

[2017-10-24 08:36] hmarr commented on #26
@shaneog @BRMatt - config variables are now live. From within your Dependabot account click the account dropdown (top right) and select "Config variables". From there you can enter Ruby config variables, which are passed to Bundler. The flow should be self-explanatory, but if it isn't, let me know!

[2017-10-24 08:36] #26 closed

[2017-10-24 08:38] hmarr commented on #25
Sorry for the delay, @rdunlop, and thanks for reporting this! I think I've figured out what caused this, and I'll have it fixed in the next day or so.

[2017-10-24 09:09] bfirsh commented on #30
Nice thanks!

Still seems a bit confused, though. I can view the arxiv-vanity org now:

<img width="1280" alt="screenshot 2017-10-24 12 07 33" src="https://user-images.githubusercontent.com/40906/31934148-023ce7f6-b8b4-11e7-8427-ee279188c3e1.png">

But when I try to add a repo I get this error:

<img width="574" alt="screenshot 2017-10-24 12 07 15" src="https://user-images.githubusercontent.com/40

[2017-10-24 09:16] greysteil commented on #30
Ah-ha! It's the move that's messed things up - we weren't handling that quite right, which is what messed up the data on the backend.

I've manually moved that repo across, so it should be showing up now. Did you move any others? I'll update our backend so it handles this properly now, too.

[2017-10-24 09:27] bfirsh commented on #30
bfirsh/ass (a sillier time) -> arxiv-vanity/arxiv-vanity
bfirsh/engrafo -> arxiv-vanity/engrafo

Thank you! :)

[2017-10-24 09:30] greysteil commented on #30
Great, those should both be fixed up. Sorry about that one!

[2017-10-24 09:32] bfirsh commented on #30
No sweat! It's a brilliant service, so thank you!

[2017-10-24 09:36] bfirsh commented on #30
Okay nearly!

<img width="750" alt="screenshot 2017-10-24 12 35 06" src="https://user-images.githubusercontent.com/40906/31935557-d816f0f8-b8b7-11e7-9eb0-46077d7b4dc9.png">

<img width="565" alt="screenshot 2017-10-24 12 35 10" src="https://user-images.githubusercontent.com/40906/31935576-e2bdc6da-b8b7-11e7-9931-21996cad4597.png">

I fixed engrafo by removing it and recreating, but that doesn't se

[2017-10-24 09:41] greysteil commented on #30
That's actually a separate error, and one that I was looking into last night. The cause is that the [`requirements.txt`](https://github.com/arxiv-vanity/arxiv-vanity/blob/master/requirements.txt) for arxiv-vanity specifies the version of `django-basicauth` at minor precision (rather than patch). That's causing Dependabot to:
1. think there's an update available (0.4.1)
2. generate a requirements f

[2017-10-24 09:45] bfirsh commented on #30
Ah, that's interesting, I don't think it's possible to specify fuzzy versions like that with requirements.txt is it? I am actually specifying the exact version "0.4".

I think this is the package author's fault. They released 0.4.0 without a patch version:

https://pypi.python.org/pypi/django-basicauth/0.4
https://pypi.python.org/pypi/django-basicauth/0.4.0

So I think 0.4 is installed, not 0.4.1.

[2017-10-24 09:57] greysteil commented on #30
👍 I’ll update the Python logic to do that.

[2017-10-24 10:49] BRMatt commented on #26
Thanks, that was pretty straightforward!

[2017-10-24 11:07] greysteil commented on #26
You're welcome! Now, if you fancied updating Geckoboard's account to a paid plan we'd be forever grateful 😉 . (You signed up just before we went live in the [marketplace](https://github.com/marketplace/dependabot), so are currently getting everything for free.)

[2017-10-24 11:36] BRMatt commented on #26
Sure! FYI clicking "manage plan" in dependabot really freaked me out because it linked to an order page on my personal account, setup to pay $180/year. It'd be great if it could include `?account={org name}` so that it links to the plan my org has.

[2017-10-24 11:42] greysteil commented on #26
Interesting - looks like that's a bug on the GitHub side, since we tell them the target organisation when we send people across to upgrade. I'll get in touch with them and hopefully they can fix it quickly (the marketplace stuff is so new that they're still working out a bunch of issues with it).

[2017-10-24 13:01] shaneog commented on #26
Thank you @hmarr and @greysteil!

[2017-10-25 07:47] czj opened #31 "PR should reliably link to readme and/or to version diff on github"
We where using Deppbot for about a year and switched to Dependabot because it is more complete & polished, but we miss a single key feature from Deppbot: direct link to the Ruby gem's README file and/or a diff of commits between the two versions on Github. It allows us to accept an upgrade and see what's changed.

Dependabot seemed to have this feature. For rake It worked, for instance:

![image](

[2017-10-25 07:55] greysteil commented on #31
We're always trying to improve how good Dependabot is at finding the source code for dependencies it updates. If you comment below with the name of a dependency that we miss I'll dig into it each time and try to fix it.

(Sometimes this requires getting a PR accepted by the dependency author to add links to the source code in their registry listing. I've only ever had a good experience doing that,

[2017-10-25 08:13] isc commented on #31
Hi,

There is a miss on `mocha`, they do have a RELEASE.md file on the repository (https://github.com/freerange/mocha) which is linked on rubygems (although it is not in the gemspec).

[2017-10-25 08:14] greysteil commented on #31
Hmm, we shouldn't be missing that. What's the name of the repo we missed it on? I want to take a quick look at the Gemfile to see if Dependabot is mistaking your source for a private one.

[2017-10-25 08:46] isc commented on #31
It's a private repository ; isc/adminium.

[2017-10-25 09:22] greysteil commented on #31
@czj @isc thanks for the above. Looks like there were two separate issues, both now fixed:
1) Dependabot thought all Gemfile declarations that were wrapped in a `source` block were from private repos, so wasn't looking on Rubygems for details of them. That explains why it won't have been linking to changelogs etc. for your repos, @czj. You should now see the same kind of links you saw on `rake` th

[2017-10-25 09:22] #31 closed

[2017-10-26 16:52] Floppy opened #32 "github-pages gem not being bumped"
I've got a couple of repositories that aren't being updated for some reason. They're shown as recently bumped, but the dependencies are still way out of date and no PRs are being sent. The same gems are being updated in other similar repositories.

Two examples:

* https://github.com/Floppy/cv
* https://github.com/Floppy/floppy.github.io

Can anyone shed any light on why this might be?

[2017-10-26 16:56] Floppy commented on #32
Ah, this isn't quite true, I was mistaken. It seems to be just the `github-pages` gem that's not being bumped. I'll update the title.

[2017-10-26 16:57] Floppy commented on #32
I'm wondering if this is related to #5. I'll see if I can bump one gem at a time manually.

[2017-10-26 16:59] Floppy commented on #32
Hm, no, a manual `bundle update github-pages` has worked OK.

[2017-10-26 17:12] greysteil commented on #32
Hmmm, that's strange. I'm not at my computer right now, but will take a look this evening / tomorrow morning.

[2017-10-26 22:46] greysteil commented on #32
Just dug into this. It looks like there's a conflict here between the latest version of `rake` and the latest version of `github-pages`, which is what's blocking this update. `github-pages` relies on `liquid`, which specifies an outdated version of `rake` in it's latest version. That's a pity - I'll put in a PR to liquid now.

[2017-10-26 23:30] greysteil commented on #32
So it turns out this is a resolution problem in Bundler. I'll have a PR to fix it in tonight / tomorrow, and it should be released as part of Bundler 1.16.0. Thanks for raising it @Floppy! I'll keep this open until the PR is accepted.

[2017-10-27 00:22] greysteil commented on #32
FYI, the issue to fix this in Bundler is [here](https://github.com/bundler/bundler/pull/6128).

[2017-10-27 09:30] Floppy commented on #32
❤️ @greysteil you guys are awesome!

[2017-10-27 12:23] isc commented on #31
Thanks a lot for the quick update.
I have a new dependency without any link ; unicorn on isc/dbinsights.
It clearly isn't standard compared to other gems. The right info can be found at https://bogomips.org/unicorn/NEWS.html, I don't know if you have some kind of hardcoded links dictionary. Maybe if a standard Changelog cannot be found, you could still link to the homepage specified in the gemspec

[2017-10-27 13:46] greysteil commented on #31
That’s a really good idea on linking to the homepage - I’ll make it so.

On hard coded change log links - we don’t have a setup for those, and I think encouraging authors to put it in their gem metadata is a better solution, but we could make that clearer. I’ll see what I can do there.

[2017-10-27 17:39] hmarr commented on #25
This should now be fixed - please let us know if you spot any other funky behaviour!

Thanks again for reporting this.

[2017-10-27 17:39] #25 closed

[2017-10-28 15:26] evenh opened #33 "Add support for C#"
This seems like a great product for the company I work at, but almost all our projects are written in Java (Maven) or C#/.NET. Is there any plans to support this? :-)

[2017-10-28 20:31] andreroggeri opened #34 "Website is broken ?"
Currently I'm unable to add any project after creadting my account.

Clicking on "Add project" does nothing (And throws an error in the console)

I'm on Chrome 61 btw.

[code]

[2017-10-28 20:33] andreroggeri commented on #34
Nevermid, it worked after a few refreshes..

[2017-10-28 20:33] #34 closed

[2017-10-28 20:35] hmarr commented on #34
Sorry about this! We found the root cause of this and deployed a fix, so it shouldn't happen again.

[2017-10-28 23:10] gerrywastaken commented on #5
For now I'd just be happy with just the addition of a separate PR explaining the issue and listing the gems that are currently blocked from being updated. You can also point out that you hope to address this in the future. However currently this issue is just hidden from most users and they may think they are up to to date when they are actually not.

[2017-10-28 23:14] gerrywastaken commented on #29
We don't have `rspec` or anything else which depends on `rspec-core`, it could be one of the other dependencies though. Any way to figure this out?

[2017-10-28 23:16] gerrywastaken commented on #29
Oh, this might be promising: https://github.com/dependabot/feedback/issues/32

[2017-10-28 23:26] gerrywastaken commented on #32
@greysteil wow, that's quite a find. Do you know if the problem was only only recent?

[2017-10-29 00:02] greysteil commented on #32
OK, https://github.com/bundler/bundler/pull/6128 has been merged and I've pulled in the update into Dependabot. I just triggered an update on https://github.com/Floppy/cv and the relevant update PR is https://github.com/Floppy/cv/pull/8. Given all of that, I'm closing this.

@gerrywastaken - this will have been surfaced by the work we did to improve Bundler's resolution logic. There's a blog post

[2017-10-29 00:02] #32 closed

[2017-10-29 00:48] gerrywastaken commented on #32
@greysteil Wow, thank you so much for all your work on Bundler and Molinillo! That was a fantastic read.

[2017-10-29 10:44] greysteil commented on #29
Hmmm, just tailed our logs whilst doing an update run for your repo (which I assume is the one we have for https://github.com/marketplacer). Turns out the bug is an infrastructure problem on our side: our boxes are running out of memory during the update, swapping, and then taking too long to finish.

Two solutions:
1) I'm going to jump on https://github.com/bundler/bundler/issues/6114, which I th

[2017-10-29 11:25] greysteil commented on #29
FYI, https://github.com/CocoaPods/Molinillo/pull/90 will go some way towards fixing this. I'll pull it in as soon as it's merged.

[2017-10-29 23:04] gerrywastaken commented on #29
@greysteil Wow, thanks for looking into this in great detail, I really appreciate that. I'll run it by the team and see what they think.

[2017-10-30 08:23] isc commented on #31
Hi,
Another unlinked dependency ; rack-mini-profiler for isc/adminium. There is a `CHANGELOG.md` file in the Gem repository, but I guess the problem is the github repo is not referenced in the gemspec file.

[2017-10-30 08:48] greysteil commented on #31
Will be fixed by https://github.com/MiniProfiler/rack-mini-profiler/pull/318.

[2017-10-30 14:00] evenh commented on #33
I just realized that [dependabot/dependabot-core](https://github.com/dependabot/dependabot-core) is a thing. I'm not a Rubyist, but I might try to add some Java + Maven support.

[2017-10-30 14:04] greysteil commented on #33
That would be amazing! Happy to help guide you through it. There is a readme for each of the different helper classes that should help, too.

(And yes, we'd absolutely love to have support for Java and C#/.NET, but I don't know enough of either to add it myself and there's some polish we want to add to Python and PHP before I can spend my time digging into a new language.)

Cc @hmarr, who knows en

[2017-10-30 14:33] greysteil commented on #33
Added a starter PR for you: https://github.com/dependabot/dependabot-core/pull/116

[2017-10-30 17:56] greysteil commented on #29
OK, I've pulled in that update, and also randomised the order that Dependabot processes dependencies, so even if our update runs are timing out it won't preclude you from ever getting an update. I'd like to do more on this, but the optimisations required are non-trivial (and ultimately need us to switch hosting provider).

[2017-10-30 23:58] gerrywastaken commented on #29
@greysteil That's a great idea, thanks for adding it and yet again improving Molinillo. I haven't seen any new different PRs come though yet, but I'll update here as soon as I do.

No worries, this solution sounds good. As for the server, I hear you are not yet charging for the Dependabot. Maybe that should change so that you can possibly hire others as it seems like you are currently flooded with

[2017-10-31 00:22] greysteil commented on #29
Thanks @gerrywastaken. We've just got into the GitHub marketplace and started charging for the service, but early adopters like yourselves still get it for free. If you'd like to pay, you can set your organisation's plan [here](https://github.com/marketplace/dependabot).

Psyched to be powering through those tickets and have more and more people using Dependabot!

[2017-10-31 00:22] #29 closed

[2017-10-31 14:50] greysteil commented on #9
We've just announced [support for npm](https://dependabot.com/blog/dependabot-now-supports-npm), so I'm renaming this to focus on supporting JS projects without a lockfile.

[2017-11-05 02:32] elamperti commented on #11
+1 to this request. Having a weekly/monthly update of all my npm packages would allow me to check quickly if they break something. If that's the case, I can analyze it and fix it manually, but otherwise it's faster than the time and resource consuming alternative of bumping versions for each package. I want to focus on the code, not on updates, and one PR per package creates a lot of noise -at lea

[2017-11-09 22:18] sobolevn opened #35 "Add support for Elixir"
Thanks for the awesome project!

I know, that `elixir` is not as popular as `python`, `php`, or `js`. But I really use it a lot.
Maybe there are other developers who are interested in supporting `elixir`?

[2017-11-09 22:20] sobolevn opened #36 "Pipfile support"
Right now almost every `python` package uses `requirements.txt`. But, recently created `pipenv` with `Pipfile` is way better than using raw `requirements.txt`.

Do you plan to support `Pipfile` and `Pipfile.lock`? Here's a sample repo: https://github.com/wemake-services/wemake-django-template

[2017-11-09 22:20] greysteil commented on #35
You're going to really like https://github.com/dependabot/dependabot-core/pull/10...

@stevedomin is working on some driverless cars stuff for the next couple of weeks, but is planning to pick it up and finish it after the 20th. 🎉

[2017-11-09 22:22] greysteil commented on #36
Check out https://github.com/dependabot/dependabot-core/pull/15!

I want to get Python support out of beta with `requirements.txt` first (there are still a few tweaks to library support to be made, but it should be done in the next week), but after that I'm super keen for Pipfile support.

[2017-11-10 05:17] sobolevn commented on #35
@greysteil you are truly awesome!

[2017-11-10 05:49] sobolevn opened #37 "Lerna support"
Seems like right now all files inside `packages` are ignored.

Each folder inside `packages` could contain its own `package.json`.
It would be really nice to have it updated.

For the reference: https://github.com/wemake-services/remark-lint-are-links-valid

[2017-11-10 06:17] stevedomin commented on #35
@sobolevn it's coming, stay tuned :)

[2017-11-12 20:36] styfle opened #38 "Dependabot vs Greenkeeper"
How does [Dependabot](https://dependabot.com/) compare with [Greenkeeper](https://greenkeeper.io/)?

They both require *"Write access to code"* which seems unnecessary to open a pull request.

Are there any differing features?

[2017-11-12 20:57] greysteil commented on #38
We're obviously biased, which is why we haven't published a comparison, but here are some things I know we're different on:
- Dependabot brings you up-to-date one dependency at a time, as opposed to Greenkeeper's initial bump-all-the-packages pull request
- Dependabot updates your lockfile (yarn on npm5) as part of the normal update process. Greenkeeper requires that you add a script to your CI se

[2017-11-13 00:04] styfle commented on #38
Thanks for the detailed response!
I'll give dependabot a go and see how I like it 👍

[2017-11-13 00:04] #38 closed

[2017-11-13 00:27] styfle opened #39 "Add icon for dependabot commits"
There is an icon for dependabot on the PR but not in the commit.

Compare the following:

### Icon
https://github.com/styfle/geoslack/pull/11

### No icon
https://github.com/styfle/geoslack/commits/master

[2017-11-13 00:33] greysteil commented on #39
@bkeepers / @sbarnekow - any plans to get this one fixed? I put it in the [platform forum](https://platform.github.community/t/commit-avatars-for-bots/2332) a few months ago and you mentioned it was on the backlog - I'm hoping it's a really easy change on your side?

[2017-11-13 11:41] BRMatt opened #40 "Link to search for dependabot PRs"
We have several repos, and it can sometimes be hard to know which projects have updates. It'd be helpful if there were links in the dependabot UI to the global github search for the org's dependabot updates.

For example, the link for Geckoboard would be: https://github.com/pulls?q=is%3Aopen+is%3Apr+user%3Ageckoboard+label%3Adependencies

[2017-11-13 11:41] bennyn commented on #37
It would be great if **dependabot** would support a mono-repository structure! Basically, all you would have to do is to evaluate package.json files recursively.

[2017-11-13 12:01] greysteil commented on #37
We should definitely be supporting mono-repos - in the backend we actually have support for adding multiple directories for the same project/language, but never added it to the frontend because we couldn't figure out the design. I'll have a think.

@sobolevn - I'll look at Lerna, but it might have to wait a while.

[2017-11-13 12:31] greysteil commented on #40
Interesting - thanks for the suggestion.

Are you imagining a link from the other PRs we create, or from https://app.dependabot.com?

[2017-11-13 12:39] BRMatt commented on #40
I was originally meaning app.dependabot.com as it's currently a bit awkward to get an overview of what buildabot has been doing from within the app, but a link in other PRs could be helpful too.

[2017-11-13 13:03] StephanBijzitter opened #41 "Wrong version numbers in pull request title and body"
We just enabled Dependabot for a few of our repositories, and while the updating is working just fine, the pull requests do contain some wrong information.

It's not shown in the screenshot, but the `yarn.lock` file also indicates the version changed from 21.0.0 to 21.3.2, while Dependabot states (in the title of the pull request and the body of the pull request) that it went from 21.2.0 to 21.3.2

[2017-11-13 13:23] greysteil commented on #41
Ooh, sorry about that - looking into it now.

[2017-11-13 13:27] greysteil commented on #41
Hmm, we've got a couple of similar updates in the system and I can't find yours - can you ping me the `yarn.lock` change? You can use `support@dependabot.com` if you'd rather not paste into this issue.

[2017-11-13 13:31] StephanBijzitter commented on #41
The `yarn.lock` change:
[code]
I'll send a link to the support e-mail and refer to this issue.

[2017-11-13 13:32] greysteil commented on #41
Ah, I think that's what's causing us to pick up `21.2.0`, then - the second line of the diff you just pasted says that that's the version yarn was previously locking to...

[2017-11-13 13:38] StephanBijzitter commented on #41
We dun goofed. Should've read better.
That indeed makes perfect sense.

Let's hope this "issue" can at least help other people remember to read more carefully... :-)

Thanks for the rapid responses, though.

[2017-11-13 13:38] #41 closed

[2017-11-13 13:41] greysteil commented on #41
You're welcome - thanks for reporting it all the same!

[2017-11-13 13:55] greysteil commented on #37
In the meantime, if anyone has a monorepo that they want to try Dependabot on, let me know and I can add the directories in the repo manually in the backend.

[2017-11-13 22:18] greysteil commented on #17
Done and deployed - it's in the `Advanced options` section when you add a new language / repo.

Thanks for bearing with us on this one!

🎉

[2017-11-13 22:18] #17 closed

[2017-11-14 20:46] sobolevn opened #42 "Create issues if something is broken"
Right now I am facing a strange situation. I have configured `dependabot` to update my dependencies here: https://github.com/wemake-services/wemake-vue-template/blob/master/template/package.json `package.json` is not at the root dir, so I have set this setting:

<img width="501" alt="2017-11-14 23 42 01" src="https://user-images.githubusercontent.com/4660275/32803698-73d2f04e-c995-11e7-9abd-020cac

[2017-11-14 20:48] sobolevn opened #43 "Add opportunity to reconfigure a language"
While creating #42 I had to edit a configuration for a language inside a project.
I could not do that for some reason. Do you consider adding this feature?

Thanks!

[2017-11-14 21:58] greysteil commented on #39
GitHub have said they’re going to fix this [here](https://platform.github.community/t/commit-avatars-for-bots/2332/5) 🎉. Closing this issue for now.

[2017-11-14 21:58] #39 closed

[2017-11-14 22:06] greysteil commented on #42
Ah, this is because an unknown error occurred. We do create issues for other errors, but when it's our bad we just show a notification in https://app.dependabot.com saying an unknown error occurred and we're working on it. I'll take a look into what's going on here now.

[2017-11-14 22:06] #42 closed

[2017-11-14 22:14] gerrywastaken commented on #29
Plan changed now apparently. :) Thanks again Grey.

[2017-11-14 22:28] greysteil commented on #42
FYI, in this case it looks like the `{{ .. }}` format in your `package.json` is what's causing issues for Dependabot. I'm trying to fix, but our normal JS expert is @hmarr and he's on holiday...

[2017-11-15 08:32] sobolevn opened #44 "Add a feature to star the repo"
Some similar services also has a little feature (that I really enjoy) to star the repo which they are working with.

It is totally not required (but nice).

[2017-11-15 08:46] sobolevn opened #45 "Vue update failed"
While updating `vue` to version `2.5.3` dependabot breaks the build, since it is required to have the same version of`vue-template-compiler`.

[code]

Here's a link to the build: https://travis-ci.org/wemake-services/wemake-vue-template/builds/302366527?utm_source=github_status&utm_medium=notification

And for some reason `vue-template-compiler` bump is not listed in the pull requests.

[2017-11-15 08:50] greysteil commented on #45
Ah, interesting. Is there any way Dependabot could have known that in advance (short of hardcoding info like this about vue)? In future I'd like Dependabot to support yarn's `resolutions`, but it doesn't yet.

For that repo, the `vue-template-compiler` PR will not have been created as Dependabot will have reached its maximum number of PRs (5) for a new repo. If you click to run another update job,

[2017-11-15 08:56] sobolevn commented on #45
@greysteil wow, that interesting. I did not know about that limit.
In this case, how does dependabot sorts these pull request? Because there are minor bug fixes, security updates, new major version, etc.

[2017-11-15 08:59] sobolevn opened #46 "Run security checks"
I don't know if that already implemented, by I want to be sure that dependencies provided by `dependabot` are secure.

What is possible to do about it?
1. Check existing dependencies with static analyzer
2. Check suggested dependecies to be secure
3. Create issues even if there is unsafe dependency with no possible upgrade

There are tools for that in all languages:
- `safety` for `python`
- `nsp`

[2017-11-15 09:00] sobolevn commented on #45
@greysteil sorry for some many issues!

[2017-11-15 09:26] greysteil commented on #45
They're sorted randomly, since it's just meant to be a temporary measure while people get a repo up-to-date. Once Dependabot has made an update run that needed fewer than 5 dependencies updating it moves into ongoing-maintenance mode, where it will create as many PRs as it needs each time it runs (normally fewer than 5 anyway).

I'll reply to the security question on the separate issue you created

[2017-11-15 09:26] #45 closed

[2017-11-15 09:32] greysteil commented on #46
This would be quite a nice feature, but we haven't added it yet for a couple of reasons:
- Being on the latest dependency is basically always the most secure strategy. We did some research on it [here](https://dependabot.com/blog/the-latest-dependency-version-is-probably-the-most-secure). As a result, it's extremely unlikely you'd ever want to skip an update
- We don't like doing things badly, and

[2017-11-15 09:32] #46 closed

[2017-11-15 10:09] greysteil commented on #44
Thanks for the suggestion! I've added a link to our GitHub to the footer of the webpage, and pinned the relevant repos, which is a start at least! 😄

[2017-11-15 10:09] #44 closed

[2017-11-15 10:15] sobolevn commented on #44
Oh, I meant user's repo. But you also deserve a star!

[2017-11-15 10:15] greysteil commented on #43
The UI for the Dependabot dashboard is probably overdue a more comprehensive refresh, but right now the best way to handle this is to delete and then re-create an update config. There's no reason the new UI shouldn't support editing, so I'll keep this in mind when we put it together :octocat:.

[2017-11-15 10:15] #43 closed

[2017-11-15 10:17] greysteil commented on #44
Haha, ah, interesting, I though you meant one of those "this thing has <X> stars on GitHub" badges. Starring user repos is a really nice idea - I'll have a look into whether it's even possible with bots (we use an app-user, not an OAuth user).

[2017-11-15 10:19] greysteil commented on #44
Sadly not enabled for apps yet ([docs here](https://developer.github.com/v3/activity/starring/#star-a-repository)). I'll ping GitHub with the use case you suggested to see if they're up for enabling it :)

[2017-11-15 10:59] bennyn opened #47 "Support Yarn Workspaces"
I wanted to install Dependabot for a JavaScript project but it doesn't work because it requires a `package.json` and a `package-lock.json`. My repository is using Yarn, so it only has a `package.json` and a `yarn.lock` file (similar to `package-lock.json`).

Can you please make Dependabot work with Yarn lockfiles?

[2017-11-15 11:01] greysteil commented on #47
Hi @bennyn, did you try selecting the yarn option in the language drop down? Dependabot does support Yarn - apologies for any confusion!

[2017-11-15 11:03] bennyn commented on #47
Uh, damn! I didn't see that there is another "JavaScript" in the dropdown. 🙈 It works now. Thanks for the hint! And a **BIG PLUS** for your fast response time!

[2017-11-15 11:04] bennyn commented on #47
P.S. I enabled it now with Yarn but I am seeing an unknown error:

![Screenshot](https://user-images.githubusercontent.com/469989/32832810-17b440e8-c9fd-11e7-8b13-22f90bbf6564.PNG)

[2017-11-15 11:06] bennyn commented on #37
@greysteil We are using a Lerna monorepository at: https://github.com/wireapp/wire-web-packages - Can you enable monorepo support for us (we already installed Dependabot for this repository)?

[2017-11-15 11:29] greysteil commented on #47
Hmmm, that means I'll have an exception report on my side - I'll take a look into it now.

[2017-11-15 12:00] greysteil commented on #37
Uh oh, it looks like I've over-reached a little here. I didn't fully understand how Lerna works with Yarn, but can see now that there's more work here to be done on the Dependabot side.

@bennyn - since your repo uses Yarn workspaces I can't get it up-and-running manually (since workspaces mean you've got a single `yarn.lock` shared across many `package.json` files). I'll have a look at adding sup

[2017-11-15 12:01] greysteil commented on #47
Ack, that error is because you're using `yarn workspaces`, which I didn't even know were a thing. I'll  look into a fix over the next few days, but it's not trivial 😞 .

[2017-11-15 13:56] bennyn commented on #37
@greysteil Can you do the following?
1. Update all dependencies in the `package.json` files of every package inside the [packages](https://github.com/wireapp/wire-web-packages/tree/master/packages) folder (and forget about their `yarn.lock` files)
2. Go to the root folder (containing the "packages" folder) and update dependencies in the [package.json](https://github.com/wireapp/wire-web-packages/b

[2017-11-15 13:59] bennyn commented on #47
@greysteil Ok! So I will reopen this issue and rename it. Thanks for taking a look into it!

There is a great introduction on Yarn workspaces here:
- https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/

The Yarn Workspaces feature has been published with Yarn 1.0:
- https://code.facebook.com/posts/274518539716230

[2017-11-15 23:45] greysteil commented on #37
Sadly not - Dependabot hacks around with the internals or Yarn (and Bundler, Composer and Pip) in order to avoid actually performing installs for each update. As a result, in situations like this there's normally quite a bit of work to get everything up and running. We also don't clone your repos, instead preferring to fetch only the files we need.

I've made a start on this in https://github.com/

[2017-11-16 18:29] Floppy opened #48 "Remove branches after merge"
Dependabot gets my update process down to two clicks. This is obviously incredible. BUT it could be one click if Dependabot had an option to automatically remove its branch after it was merged in. Not everyone would want this (maybe?), so it should be an option rather than always-on behaviour, but it could probably be on by default.

[2017-11-16 18:33] greysteil commented on #48
We actually already do this, it's just that we wait 10 seconds before deleting the branch (so as not to cause annoying UI conflicts on GitHub. 🎉

No-one's complained yet...

[2017-11-16 18:33] #48 closed

[2017-11-16 20:20] sobolevn commented on #46
https://github.com/blog/2470-introducing-security-alerts-on-github

[2017-11-17 09:16] sobolevn opened #49 "Add badges"
I want to inform my users, that dependencies are up-to-date.

The easiest way to do it, as for me, is a badge. Something similar to:

![dependencies](https://img.shields.io/david/expressjs/express.svg)
![dev](https://img.shields.io/david/dev/expressjs/express.svg)

Do you have any plans to support this feature?

[2017-11-17 10:01] Floppy commented on #48
Oh! I can stop clicking the button then! I never even realised :D

[2017-11-17 10:45] simondel commented on #37
This would be awesome for us as well! We don't use yarn or the package.lock.json or anything. Our use case would be:

- Update `**/package.json`
- Create a PR to run the CI

I tried using Greenkeeper earlier today but unfortunately they don't seem to support this setup yet.

Our repo for reference: https://github.com/stryker-mutator/stryker

[2017-11-17 10:52] greysteil commented on #37
OK, quick update on this:
- We're *nearly* there on Yarn workspaces support. There's a bug in it right now, but I'm hoping to have that cleaned up today. If you're using Yarn and Lerna, that's probably what you want. ([More detail.](https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/))
- Once that's done, I'll look into Lerna support more broadly. This may take a little while.
- If you're

[2017-11-17 13:50] greysteil commented on #47
Yarn workspaces are now working! 🎉

[2017-11-17 13:50] #47 closed

[2017-11-17 15:32] greysteil commented on #49
Yes, we'd be really keen to support that. I want to wait a month to see how GitHub's dependency graph support shakes out (it might well make more sense to power a badge with that), but if there's a role for Dependabot to play here we'll do it. Would be free publicity for us, after all!

[2017-11-17 16:05] bennyn opened #50 "Semantic Commit Messages"
It would be nice if the **Dependabot** creates [semantic commit messages](https://seesparkbox.com/foundry/semantic_commit_messages) (like Greenkeeper 😋 ).

So instead of:

It could create a PR with the following commit message:

[2017-11-17 20:30] greysteil commented on #50
Sounds like a good idea - done!

[2017-11-17 20:30] #50 closed

[2017-11-19 18:44] deivid-rodriguez opened #51 "Support multiple gemfiles"
Some projects use multiple gemfiles. The main use case I know for this is to be able to test libraries against different major versions of dependencies.

Does dependabot support this kind of setups?

[2017-11-20 05:59] shusson commented on #11
@greysteil any news on this? I would like to be able to bump with one PR, if it breaks, bump with multiple PRs. The hope being that the original PR doesn't break often and thus we get the best of both flows.

[2017-11-20 12:19] StephanBijzitter opened #52 "Support grouping of pull requests"
Currently Dependabot creates one pull request per updated dependency, and while this is generally awesome, it is not always preferred.

For example, I would like to update React and React-DOM at the same time, but right now that means I have to merge Dependabot's pull request into another pull request by Dependabot.

I'd like to propose a mechanic similar to `@dependabot rebase`, where this is han

[2017-11-20 12:39] greysteil commented on #52
That's a really nice idea - I'm totally behind that as a UI solution for this.

It'll need quite a bit of work on our backend (which currently assumes PR are for one dependency only) but we need to do that work anyway. Once it's done, I'll look at implementing this.

Thanks masses for the suggestion!

[2017-11-20 12:58] StephanBijzitter commented on #49
Don't forget to throw in a badge that is used only to advertise :-)
https://img.shields.io/badge/Dependabot-active-brightgreen.svg

[2017-11-20 13:03] StephanBijzitter commented on #52
Going to link a few issues together here:

This would resolve #5: Handle upgrades that require upgrading multiple dependencies at once
And would very likely lay the groundwork for #11: Option for single pull request per update (or that request lays the groundwork for this request, whichever you do first I guess)

[2017-11-20 22:40] greysteil commented on #11
We're still a way off, but should get closer in the next few weeks. Basically, I need to do a lot of refactoring because the update process currently expects to be given a single dependency everywhere. That should happen pretty soon, since this isn't the only thing waiting on it. Once that's done, the changes to make this possible are a *lot* more straightforward.

In the meantime, I continue to r

[2017-11-20 22:42] johnnagro opened #53 "Create PRs for sub-dependencies when there is a security vulnerability"
github recently alerted us to a downstream dep (in the gemfile.lock brought in from some other dep higher up) security issue, and suggested we make a change to the gemfile to force a newer version of the downstream dep. your bot didn't suggest such a change, but it would be sweet if it did.

happy to provide more context

![selection_191](https://user-images.githubusercontent.com/31442/33045247-30

[2017-11-20 22:44] greysteil commented on #51
Slightly absurdly, the answer is "yes on the backend, no on the frontend". We've never figured out a good way to display information about which directory (or files) within a project an update setup is targeting, so while the backend supports have multiple update setups of the same language for the same project, there's no way to add them in the frontend.

If you've got a particular repo in mind,

[2017-11-20 22:46] greysteil commented on #53
Love that new feature from GitHub!

I'll have a think about what we could do here - agree it would be good for Dependabot to create PRs for changes like these.

[2017-11-21 00:05] deivid-rodriguez commented on #51
I think mentioning the specific gemfile being updated in the description & body of PR's could be enough? Like "Bump <gem_name> from <old_version> to <new_version> in <path_to_gemfile>"?

Yes, this one: https://github.com/activeadmin/activeadmin!

Dependabot would need to open PR's to keep the `gemfiles/rails_{42,50,21}.gemfile` up to date automatically. We're not currently committing the lock file

[2017-11-21 00:13] greysteil commented on #51
OK, that links in with the work I'm doing on https://github.com/dependabot/feedback/issues/27 and https://github.com/dependabot/dependabot-core/pull/135 - will take a few days but I'll have something for you relatively soon.

[2017-11-21 00:17] deivid-rodriguez commented on #51
Thanks @greysteil, let me know if you need anything from our side! :heart:

[2017-11-21 10:27] StephanBijzitter commented on #38
@greysteil

Our repository (can't name it here, don't want it on Google's index) does not actually rebase automatically.

If there is no conflict, asking Dependabot to rebase does work correctly.
If there is a conflict, we have to manually rebase.

I first thought it was a bit of a timing issue (maybe it checks every hour?), but at the end of the work day (like 7 hours later), it still didn't auto

[2017-11-21 10:30] greysteil commented on #38
Hmmm, you shouldn't have to do that - ping me an email on support@dependabot.com and I'll look into what's going on with your repo.

[2017-11-21 10:35] StephanBijzitter commented on #53
Currently there's three ways to resolve these, as far as I know:

1) Update the dependency if possible and hope that the subdependency's version range is wide enough to have that updated too. Definitely the easiest.
2) Update the yarn.lock (`yarn upgrade`), updating all dependencies (and their subs) to their latest versions within the version ranges. Doesn't work most of the times, but if it does

[2017-11-21 10:37] greysteil commented on #53
Dependabot can't handle yarn resolutions yet 😢 . They're definitely the way forward, though - we'll be adding them once @hmarr is back from holiday!

[2017-11-21 12:35] markijbema opened #54 "Add Freeform text to pullrequests"
We would be very helped with the option to define some text in dependabot to always add to a pullrequest. Specifically, our jenkins checks the description of the PR for extra hints for which tests to run.

So in our case we would like to add "extratests:: cat == Documents", but I could imagine this also to be useful to include links to corporate upgrade policies or something like that so developer

[2017-11-21 13:47] greysteil commented on #54
Interesting. I can't think of a way to do this cleanly in the app UI, and since it's the first time I've heard it suggested my default is not to add potential complexity for others. Is there any way you can change your jenkins setup to instead special-case Dependabot's user?

[2017-11-21 14:25] markijbema commented on #54
I wouldn't want to special case on the user though; I do want to run this for my git-submodules, but not for my yarn-updates. A label would be fine as well, but this seems simpler: a text-box in the advanced settings still seems quite clean?

[2017-11-21 19:57] johnnagro commented on #53
I recognize that this could be tricky and maybe impossible to resolve automatically. For example, this specific issue is hard for us to resolve because an upstream package is forcing the bad downstream dependency version. No newer version of the upstream is available as of yet - although alternatives do exist.

So, maybe a PR isn't possible, but maybe at least a github issue is possible?

[2017-11-24 00:15] greysteil commented on #5
This is really close now - should have a working implementation of multi-dependency PRs tomorrow. Will only be for cases where multiple dependencies need to be updated at the same time, at least at first.

[2017-11-24 01:10] gerrywastaken commented on #5
Impressive work! I can't wait.

Does that still mean some cases would be hidden?

[2017-11-24 09:08] greysteil commented on #5
The only case that would be hidden is where an update to the latest version isn't possible at all given your dependencies (e.g., where a new release is required from one of your dependencies to make it compatible with some of your other ones). Creating issues is probably the only way for us to address that case, but I want to see how common it is before committing to that solution.

[2017-11-24 12:30] StephanBijzitter opened #55 "Feedback after our two-week trial"
Hello!

We've been using Dependabot for almost two weeks now, and it has become time (because it will run out during the weekend) to decide whether we want to continue or not. Whatever our choice will be, it's always good to leave feedback. Here we go!

## Greenkeeper
We started using Greenkeeper many months ago and it suited our needs at the time perfectly. It was easy to set up and it simply wor

[2017-11-24 14:21] greysteil commented on #55
This is really helpful feedback - thanks @StephanBijzitter.

FYI, I've spent the last week working on #5, which will fix the "grouping of pull requests" issue for Ruby (where the resolution logic tells us when dependencies need to be updated together), which should lay the groundwork for #52 and potentially #11.

I'm also committed to adding Lerna support, once I've had a chance to look into how i

[2017-11-24 17:03] greysteil commented on #55
Also, on those non-rebasing PRs, can you let me know next time you see one, and *don't* fix it up yourself? I want to dig into what's causing it, but haven't been able to replicate.

[2017-11-24 20:08] StephanBijzitter commented on #55
Will pass it on to my team, I'm going on vacation today. I have a theory in my head, but as I've not been able to test it yet, I didn't want to mention it. Often when I merge a pull request by Dependabot, I hit the delete branch out of habit. Perhaps this can provide an edge case where Dependabot fails to rebase. But again, I have not been able to test this theory to say it with confidence.

[2017-11-26 06:39] gerrywastaken commented on #5
That's awesome. Yeah creating issues would be something that I would certainly like over not having any awareness that certain gems are stuck because another gem is blocking it. This way I can completely depend on dependabot. :)

[2017-11-27 12:30] greysteil commented on #5
This is shipped! Example PR [here](https://github.com/greysteil/ruby-test/pull/3).

It needed a *lot* of changes to our architecture, so I'm going to be on standby looking for bugs over the next few days - if you see any, let me know!

[2017-11-27 12:30] #5 closed

[2017-11-27 12:33] greysteil commented on #54
Sorry for the delay getting back to you on this one. For now, I don't want to add this to Dependabot - sorry! I'm generally erring on the side of being really cautious about introducing any settings because Dependabot is a tiny team (me and one other person) and already deals with a lot of complicated logic. I totally appreciate that this particular change wouldn't be large on our side, but it's a

[2017-11-27 12:33] #54 closed

[2017-11-27 12:43] markijbema commented on #54
Sure, I totaly respect your decision :)

[2017-11-27 16:44] rdunlop opened #56 "Please don't open dependabot PRs during working hours"
Usually, dependabot opens PRs for my projects between 2-3am, which is great, because no one is working. My CI system has enough capacity/time to work through the PRs at its leisure.

A few times (today being one of them), the PRs were opened starting around 10:30am. This is very problematic because there are now developers doing development work, and they want the CI system's capacity for themselv

[2017-11-27 16:45] rdunlop commented on #56
Was there a dependabot issue this morning? (or is another developer in my organization clicking "run now" on all my repos?)

[2017-11-28 10:26] greysteil commented on #55
FYI, I think I might have found the cause of the rebasing problem. For repos with a large number of open Dependabot PRs, merging one of the PRs can trigger all of the others to rebase at the same time. That meant Dependabot suddenly made a lot of calls to GitHub, and would sometimes hit an abuse detection threshold. If/when that happened, Dependabot would fail to rebase the PRs, and sometimes leav

[2017-11-28 10:27] greysteil commented on #21
Closing as this is the standard `bundle update` behaviour. Other suggestions always welcome, though - no reason we shouldn't strive to improve Bundler!

[2017-11-28 10:27] #21 closed

[2017-11-28 11:52] StephanBijzitter commented on #55
That makes sense. I merged one pull request a few hours ago and Dependabot deleted the branch.  Out of the six that are still open, one has been rebased. I'll merge another one and see what happens with the remaining four.

[2017-11-28 11:55] greysteil commented on #55
Awesome. Ping me the PR number and repo name, either here or on support@dependabot.com, and I'll take a look at it from my side if anything's wrong.

[2017-11-28 16:29] lipis opened #57 ""Manage plan" takes me to 404 page"
https://github.com/marketplace/dependabot/upgrade/null/5231014

[2017-11-28 16:29] greysteil commented on #57
Hmmm, that `null` looks deeply suspicious, doesn't it?! I'll get on it.

[2017-11-28 16:40] greysteil commented on #57
Fixed! Sorry about that.

[2017-11-28 16:40] #57 closed

[2017-11-28 16:41] lipis commented on #57
No problemas.. :) That was fast.. 🍻 🍺

[2017-11-30 14:45] greysteil commented on #51
@deivid-rodriguez - I've been thinking about this one for a bit:
- I **don't** yet have a good solution for Dependabot updating each of the `gemfiles/rails_{42,50,21}.gemfile` files. Fundamentally, the problem is that Dependabot doesn't have a way of saying "only update the dependency within this range", which is what you'd want for those. I feel like a good solution is tantalisingly close, but I'

[2017-11-30 14:54] deivid-rodriguez commented on #51
:wave: @greysteil!

So if I'm understanding this right, connecting @dependabot at this point would mean getting automatic updates for `Gemfile` and `activeadmin.gemspec`, but not yet for `gemfiles/rails_{42,50,51}`, right? If so, sounds like a start! :)

[2017-11-30 14:55] greysteil commented on #51
Yep, that's exactly right 🙂

[2017-11-30 15:01] deivid-rodriguez commented on #51
Nice! I'll propose it to the team then. Definitely a :+1: from me! :)

[2017-11-30 16:19] greysteil commented on #55
Another update on this: Dependabot now support mono-repo structures. If you've got a mono-repo with many directories, each of which have their own `package.json` and `package-lock.json` (or `yarn.lock`) you can now add the same language multiple times, specifying a different directory each time. Dependabot will treat the updates completely independently, so you don't have to merge an update to all

[2017-11-30 16:23] greysteil commented on #37
Another update: Dependabot can now support mono-repo structures. If you've got a mono-repo with many directories, each of which have their own `package.json` and `package-lock.json` (or `yarn.lock`) you can now add the same language multiple times in the Dependabot dashboard, specifying a different directory each time. Dependabot will treat the updates completely independently, so you don't have t

[2017-11-30 16:45] greysteil commented on #40
Closing this for now - I'll keep thinking on it as we refactor the dashboard, though :)

[2017-11-30 16:45] #40 closed

[2017-11-30 21:48] StephanBijzitter commented on #55
Nice! That's definitely a very good step already! We can use that already since it's basically the exact same as we do manually right now.

As for the rebasing issue (for anyone else reading this), this was largely based on a misunderstanding/miscommunication. We thought Dependabot would always rebase automatically when the branch falls behind master, but Dependabot only automatically rebased when

[2017-12-01 14:04] lipis opened #58 "What about combining updates into one?"
So we have this case: https://github.com/wireapp/wire-desktop/pulls?q=is%3Apr+is%3Aopen+label%3Adependencies

<img width="629" alt="screen shot 2017-12-01 at 15 02 01" src="https://user-images.githubusercontent.com/125676/33485988-b7fa0684-d6a8-11e7-9a67-543564e41a2c.png">

But because travis takes a lot of time to build after each merge.. what about asking the bot the following?

and it would clo

[2017-12-01 14:09] gregor commented on #58
@lipis Not a big fan of a solution like this. With our semantic commit messages we can clearly see which dependecies we have updates with each sqaush merge and can detect faulty ones at ease. Combining them into a single PR would no longer allow us to do this.

[2017-12-02 12:27] greysteil commented on #58
I'm going to close this as a dup of #52, but I'm thinking about how we solve two problems here:
1) Too many CI runs for Dependabot pull requests. This may mean I need to revert the recent change to keep Dependabot PRs fully up-to-date for repos that have a protected branch.
2) How to handle PRs that need to be merged at the same time (e.g., React and React Dom)

[2017-12-02 12:27] #58 closed

[2017-12-02 13:22] greysteil commented on #9
This is now live, although slightly in stealth mode. If you try adding a repo without a `package-lock.json` when specifying the language `JavaScript (npm)` then everything should just work. 🎉

I'm going to tidy up Yarn support so it does the same and then blog about it.

[2017-12-02 13:22] #9 closed

[2017-12-02 23:28] styfle commented on #9
@greysteil I'm curious, what are the pros/cons of using dependabot with a lockfile? I'm a little surprised that it was only working with lockfiles up until now.

[2017-12-03 09:44] simondel commented on #9
@greysteil Awesome! It works 🥇
![image](https://user-images.githubusercontent.com/4221997/33524102-836fa152-d816-11e7-8fed-b12b02afb3a1.png)

Is there a way to increase the maximum amount of languages (or in my case packages) in a single project?

[2017-12-03 13:00] greysteil commented on #9
🎉

@simondel - I don't think there's a limit to the number of packages you can add to a single project, but the above does look a bit impractical! I'll have a look at adding proper Lerna support soon.

@styfle - Dependabot was originally built to work with applications, rather than libraries, where the benefits of having a lockfile are pretty well written about (basically a full deterministic envi

[2017-12-03 13:06] simondel commented on #9
@greysteil well, the 'add language' button goes away when I specify 7 languages (you can see this on the screenshot as well)

[2017-12-03 13:10] greysteil commented on #9
@simondel - oops! Deploying a fix for that now.

[2017-12-03 13:53] simondel commented on #9
@greysteil Works like a charm, thanks!!
![image](https://user-images.githubusercontent.com/4221997/33525976-a720cb94-d839-11e7-910a-13adbaedb586.png)

[2017-12-05 21:05] Chronyms opened #59 "Bower support"
I would like tho have bower support.
This should have some similliarity to npm and yarn, just with different file-names.

Tank you

[2017-12-05 21:41] greysteil commented on #59
Thanks for the feedback!

We've held back on adding Bower support since [Adam  himself is recommending users switch to Yarn](https://bower.io/blog/2017/how-to-migrate-away-from-bower/). Whilst we could do it, realistically it's not likely to be a high priority in the near future, unless I'm missing something?

[2017-12-06 09:19] nblackburn commented on #9
@greysteil Fantastic work, thanks for tackling this issue.

[2017-12-07 13:57] greysteil commented on #55
@StephanBijzitter - I've done a bunch of work on PHP support over the last couple of days and it looks like Dependabot is now producing PRs on your main PHP repo. 🎉

Please do let me know if there's anything amiss with those PRs - PHP support in Dependabot is very new, so may well need some fine-tuning!

[2017-12-07 14:19] StephanBijzitter commented on #55
We noticed the pull requests coming in indeed! We expect none of them to be merged within the next few days, because we have some required status checks that currently cannot pass because of the branch names, leaving the tests pending indefinitely. It's an old repository and we're going to have to be very careful changing the flow, but we'll work on it!

[2017-12-08 13:38] rdunlop opened #60 "Why didn't a project get a gem update last night?"
Hi folks,

Yesterday, the `eye-patch` gem released a new 0.4.2 version of the gem.
Most of our projects depend on this gem.

I got dependabot PRs for many projects, but not for all. Why not?

For example https://github.com/tablexi/women-on-call only received a single PR https://github.com/tablexi/women-on-call/pull/789 (which is for the `Faker` gem).

I was expecting to get a PR for `eye-patch` on

[2017-12-08 13:42] greysteil commented on #60
Interesting - I'll look into this. Are you OK for me to manually re-trigger the request on women-on-call?

[2017-12-08 13:43] rdunlop commented on #60
Yes.

[2017-12-08 13:48] rdunlop commented on #60
I'm seeing this missing on other projects too. Like:
https://github.com/rdunlop/unicycling-registration
https://github.com/tablexi/idc-application

In case that's helpful. You can trigger against unicycling-registration as much as you want too.

[2017-12-08 13:53] greysteil commented on #60
Awesome. I'm talking the logs on our side now, and can see that this is todo with the speed Dependabot can resolve your Gemfile. For women-on-call each update check (which has to do a full resolution) is taking a long time, which is going to lead to the job timing out before all dependencies have been checked. We randomise the order that dependencies are checked to ensure you'll get the update eve

[2017-12-08 13:57] rdunlop commented on #60
Thanks @greysteil . I appreciate you looking into it. If your "random" choice tries to un-pin the rails version, I can definitely see the task timing out.

[2017-12-08 16:06] greysteil commented on #60
This was a bug on our side which was causing *very* slow resolutions. It's fixed in https://github.com/dependabot/dependabot-core/commit/bb92e1d9582c9c9cb76d885fdc5fd96cf5065129 (which basically makes Dependabot smarter about when it should give up on trying to unlock dependencies in a Gemfile in order to update to the latest version.

[2017-12-08 16:06] #60 closed

[2017-12-09 17:01] styfle commented on #11
This was pretty painful for my Electron project to build the PR and then build the build `master` after merging. https://github.com/styfle/magnemite

I think the big problem is that after accepting 1 PR, all the other PRs need to be rebased and rebuilt again. So for 6 deps that need to be updated, you have to wait for 21 builds to complete. At 5 minutes per build, thats almost 2 hours. And you are

[2017-12-11 20:04] holvonixAdvay opened #61 "More sophisticated detection of whether a codebase is a library or an app"
We've been testing out dependabot and greenkeeper simultaneously on some simple open-source repos.  Dependabot's compat scores and full integration with yarn lockfiles, without needing a secondary run of a script, means we can use --frozen-lockfile, so we'd like to switch to dependabot alone, but its handling of semver is confusing me.

We have a dev dependency to `eslint-plugin-flowtype` which wa

[2017-12-11 21:42] greysteil commented on #61
Thanks for trying Dependabot!

Hmmm, that behaviour is intentional, and what people expect in other languages (I'm thinking Ruby in particular), but perhaps it's not what you'd expect in JavaScript. Basically, our thinking is  that whilst this is covered by your existing range, we're doing an update anyway and having the version in your lockfile match the version that's written in your `package.js

[2017-12-11 23:08] holvonixAdvay commented on #61
Something to consider:  transitive dependencies (in yarn.lock) get updated all the time (i.e. within the semver range of one's direct dependencies).     At least for yarn users it would be consistent  to always propose a full `yarn upgrade-interactive` OR `yarn upgrade-interactive --latest`. It seems dependabot prefers the latter (which updates package.json), but right now I'm getting an in-betwee

[2017-12-11 23:49] greysteil commented on #61
Ah, interesting, thanks for clarifying.

I hadn't realised we were talking about updates to a library here (rather than an application). Given that, my thoughts are very different!

For a library, I agree completely with the flow you described, at least as far as updates to your `package.json` go - you want to be keeping the requirements there loose so that anyone using `--flat` has the widest ran

[2017-12-12 00:01] holvonixAdvay commented on #61
Ah got it - I wasn't considering the application case!  I guess there's no standard way of saying 'I'm a leaf' or no one may depend on me.  Given that, what you said makes sense.  Right now I'm using a combination of dependabot, greenkeeper, and snyk to see when to update things, as each does an important but distinct thing.  We'll see what happens when snyk and the other bots start fighting :)

[2017-12-12 00:05] greysteil commented on #61
One of the great things about working on Dependabot has been seeing how different languages do it. PHP libraries explicitly declare that they're libraries in their `package.json` equivalent, and Ruby libraries are the only ones to have a `*.gemspec` file. Looks like with JS we need to be a bit cleverer, but that's entirely do-able.

[2017-12-12 00:32] greysteil commented on #27
Fixed by https://github.com/dependabot/dependabot-core/pull/166 (which detects a much broader group of requirement.txt files). 🎉

[2017-12-12 00:32] #27 closed

[2017-12-13 08:11] ChristophWurst commented on #59
FYI bower has been deprecated for a while now: https://bower.io/blog/2017/how-to-migrate-away-from-bower/

[2017-12-13 08:12] #59 closed

[2017-12-13 11:47] ChristophWurst opened #62 "Support vendoring for PHP"
Hi there,

I just wanted to give dependabot a test run for [Nextcloud's 3rdparty libs](https://github.com/nextcloud/3rdparty/issues/36#issuecomment-351308076) and I've encountered a problem. Instead of pulling dependencies every time, we do commit them in our git repo. However, dependabot seems to only update the `composer.json` and `composer.lock` file. The actual source files of the updated depe

[2017-12-13 11:56] greysteil commented on #62
Ah, interesting. Dependabot doesn't support vendoring for any of the languages it updates at the moment, but it's on the list of things I'd like to support. I'm going to extend the title of #15 to include PHP, since the work to do so will essentially be the same.

This is quite a big project (probably a couple of days work on [Dependabot Core](https://github.com/dependabot/dependabot-core)) so I c

[2017-12-13 12:02] ChristophWurst commented on #62
Thanks a lot, @greysteil!

[2017-12-13 22:57] greysteil commented on #36
OK, I've got a very first version of this working, and the initial PRs are [here](https://github.com/greysteil/wemake-django-template/pulls).

Would love some feedback. For starters I'm guessing we shouldn't be updating the `host-environment-markers`?

[2017-12-13 23:26] greysteil commented on #36
OK, I'm relatively happy with how this is working, so am going to announce the beta. Would love to hear your feedback if you give it a try!

[2017-12-13 23:26] #36 closed

[2017-12-14 06:09] sobolevn commented on #36
@greysteil this is awesome.

Activated https://github.com/wemake-services/wemake-django-template

[2017-12-14 13:27] greysteil commented on #28
FYI, I'm working on this now over at https://github.com/dependabot/dependabot-core/pull/174.

[2017-12-14 15:12] sobolevn opened #63 "Multiple requirements files"
I have two `Pipfile`s in the same project. Because it is a template. https://github.com/wemake-services/wemake-django-template

But I can not enable both files to be updated. Is it possible?

The same goes for `package.json` as well (I have not tried any other tools).

[2017-12-14 15:13] greysteil commented on #63
This should be fine - you just need to click `add language` a second time, and then select the directory of the second Pipfile in the `advanced options` section. Is that not working for you? Same should go for `package.json`.

[2017-12-14 15:16] sobolevn commented on #63
Sorry, it was just not clear to me.

[2017-12-14 15:16] #63 closed

[2017-12-14 15:17] greysteil commented on #63
🎉

(Also yeah, we could definitely make this clearer - frontend needs some design love!)

[2017-12-14 15:52] #28 closed

[2017-12-18 23:43] StephanBijzitter commented on #55
@greysteil All dependencies in our PHP project have been updated, although using different pull requests to accommodate for the changes we needed to make (so that may skew your metrics a bit).

However in another project I did notice something strange, which I have reported here:
https://github.com/dependabot/dependabot-core/issues/180

[2017-12-19 16:35] greysteil commented on #55
Awesome! I've fixed up that issue, too (thanks for reporting).

[2017-12-20 10:29] DeepDiver1975 opened #64 "Run on multiple branches"
Hi,

we have multiple release branches within our repo and I'd like to run dependencybot on all our release branches.

This is the error I'm getting - or am I miss understanding this .... THX a lot

![bildschirmfoto von 2017-12-20 11-29-03](https://user-images.githubusercontent.com/1005065/34202756-011c6a94-e579-11e7-8991-5f88b437fef6.png)

[2017-12-20 10:32] greysteil commented on #64
Interesting - not a use case I’d thought of but easy for us to support. I’ll make the change later today and close this when it’s done.

[2017-12-20 10:33] DeepDiver1975 commented on #64
Thanks for your fast feedback - much appreciated!

[2017-12-21 10:42] greysteil commented on #64
Fix is deploying now. 🎉

[2017-12-21 10:42] #64 closed

[2017-12-22 13:56] khornberg opened #65 "Private pypi servers"
Are there plans to enable private pypi servers?

[2017-12-22 14:15] greysteil commented on #65
Yes! I need to do a bit of work to enable it first, but should be able to ship something today or on Sunday.

[2017-12-23 09:21] armin-joellenbeck opened #66 "Support for Docker compose files"
Knowing when new Docker images are published would be helpful when the are used in a Docker compose file too.

Just like #20, with the file `docker-compose.yml` instead of `Dockerfile`.

[2017-12-23 19:38] greysteil commented on #65
Private PyPI servers should be working now! Dependabot will read your `pip.conf` and/or your `requirements.txt` to find them.

Let me know if you have any trouble - it's a brand new features so may not be perfect, but I've tested internally.

🍸

[2017-12-23 19:38] #65 closed

[2017-12-23 20:22] greysteil commented on #66
👍  for this, and should be relatively straightforward. A couple of things I want to get to first, but I'm definitely game for adding this to Dependabot at some point!

[2017-12-23 23:15] felixfbecker opened #67 "Use conventional commits when updating apps"
_From @felixfbecker on December 23, 2017 22:46_

I couldn't find this on the docs page.
I.e. when the update was a semver-patch update, prefix the commit message with `fix: `, if it was a semver-minor update, prefix the commit message with `feat: `, if it was a semver-major update use `chore: `. That allows automatic semantic releases of the depending module

https://conventionalcommits.org/

_Cop

[2017-12-23 23:15] felixfbecker commented on #67
_From @greysteil on December 23, 2017 22:50_

Interesting. We create [semantic commit messages](https://seesparkbox.com/foundry/semantic_commit_messages) for those who use them, which means all dependency updates go in a `chore(dependencies)` (see https://github.com/wireapp/wire-web-packages/pull/142 for an example). Would that work?

If not, I could update Dependabot to detect the above style and

[2017-12-23 23:15] felixfbecker commented on #67
`chore` unfortunately doesn't trigger a new release with [semantic-release](https://github.com/semantic-release/semantic-release).
Taking my example from #191:

- editor extension depends on language service

The editor extension needs to get a new feature release with all the dependencies zipped if the language server gets a new feature. If the language server gets a bug fix, the editor extension

[2017-12-23 23:15] felixfbecker commented on #67
_From @greysteil on December 23, 2017 23:10_

Interesting. Looks like there's some non-trivial thinking to be done on this one - Angular themselves use `chore` for all their [package updates](https://github.com/angular/angular.js/commits/master/package.json), for example...

My hunch is that Dependabot is best off staying neutral on this, but do you want to port the issue over to https://github.co

[2017-12-23 23:15] felixfbecker commented on #67
Yeah, a library like Angular doesn't need to (and shouldn't) do this, because when I `npm install angular` npm will install the latest version of transitive dependencies. But at some point you always have to bundle your dependencies, for application deployments, building installers, building a Docker image, bundling+minification, or in my example for the VS Code marketplace.

[2017-12-24 08:58] sobolevn opened #68 "Possible bug in dockerfile support"
I have an outdated `3.6.3` `patch` version of `python` in my `Dockerfile`, while the most recent one is `3.6.4`.

So, my question is: why does `dependabot` ignore this update?

Here are some links to investigate this issue:
- My `Dockerfile`: https://github.com/wemake-services/wemake-django-template/blob/master/%7B%7Bcookiecutter.project_name%7D%7D/docker/django/Dockerfile#L1
- `python`'s DockerHu

[2017-12-24 09:07] greysteil commented on #68
Dependabot should be able to handle the `3.6.3-alpine3.6` -> `3.6.4-alpine3.6` update just fine. I'll have a dig.

[2017-12-24 10:10] sobolevn commented on #68
Thanks! And what about `python:3.6.4-alpine3.6 -> python:3.6.4-alpine3.7`?

[2017-12-24 11:40] greysteil commented on #68
I don't think it will do that, and that *might* be what's confusing it. Will take a look when I'm not with family.

[2017-12-24 20:54] greysteil commented on #68
Fixed - that was indeed what was causing the problem. In cases like this, where there's a version in the suffix, Dependabot will only suggest updates to the first version. I think doing anything else might get too complicated...

[2017-12-24 20:54] #68 closed

[2017-12-24 21:25] sobolevn commented on #68
Yeap, that's working now: https://github.com/wemake-services/wemake-django-template/pull/96

[2017-12-27 00:23] skylerbunny opened #69 "Support private pip server+index as a Config Variable"
In the same way that 'Manage config variables' allows a user to add a private gem server or private docker registry, you'll probably want to allow the use of private PyPI libraries. For instance, one can be created with the https://github.com/devpi/devpi Devpi project.

If setting this up, the functional use of this variable would be to provide up to three additional options to the ```pip install`

[2017-12-27 10:01] greysteil commented on #69
Awesome - been waiting for someone to ask for this, and the above is really clear. I'll get something implemented in the next couple of days.

Thanks masses for the feedback, and for describing what's needed so thoroughly.

[2017-12-27 17:06] greysteil commented on #69
Just shipped a first version of this - take a look and let me know what you think! I want to put a bunch more validations in there to help people out, but it *should* be working as-is. 🎉

[2017-12-27 17:06] #69 closed

[2017-12-27 18:37] skylerbunny commented on #69
(Sorry, I'm realizing I don't have a lot of time to explain this Right Now because I'm discovering that finding the perfect answers isn't in easy reach for the moment):

You may wish to do trivial checks at submit time of the Config Variable as to the validity of an index, even if the index is empty (which it can be). That being said, what defines a valid index is available at https://www.python.o

[2018-01-03 15:54] greysteil commented on #53
Update: GitHub have told me that they *are* planning to launch an API for their [security alerts](https://github.com/blog/2470-introducing-security-alerts-on-github). I'll do my best to make Dependabot a beta tester for it, and get this implemented as soon as possible. Watch this space! 🕵️

[2018-01-06 15:48] evenh commented on #33
@asbjornu Are you up for trying to add C#/.NET support? :)

[2018-01-08 08:03] DeepDiver1975 commented on #64
Thanks a lot! Setting it up now!

[2018-01-08 08:40] ChristophWurst opened #70 "PHP platform requirements ignored"
Hi,

dependabot created a PR to update one of our composer libraries in https://github.com/nextcloud/twofactor_totp/pull/218. This, however, does not work on our supported platforms (php5.6 to 7.2) as the newest version pulled is only compatible with php => 7.1.

To prevent composer from installing incompatible versions on my dev instance (I'm on php7.2 and thus `composer update` would install sof

[2018-01-08 13:25] greysteil commented on #70
Thanks for the detailed bug report @ChristophWurst. I'll see what I can do.

[2018-01-08 14:26] greysteil commented on #70
Digging into this, I think things are a little more complicated:
- Specifying a `platform` in your `composer.json` tricks composer into thinking you have the specified version of PHP installed on your machine
- It *doesn't*, however affect resolution. There's not much in the way of documentation out there ([here](https://getcomposer.org/doc/06-config.md#platform))

You can replicate the above usin

[2018-01-08 16:47] greysteil commented on #70
OK, after a bunch of digging I've got a failing spec for this and a couple of leads on how to fix it. I need to work on some other stuff now, but will come back to this when I can. I'd also welcome any help from anyone who knows PHP better than I do.

[2018-01-09 13:32] DeepDiver1975 opened #71 "JS: Handle versions specified as GitHub URLs"
see https://github.com/owncloud/dep-graph-issue/blob/db6098e260f7d5c6413fca808b060df3c99baba1/package.json#L13-L15

[code]
tapmodo/Jcrop and jashkenas/backbone have higher versions available but none of them are updated.

THX a lot

[2018-01-09 14:08] greysteil commented on #71
Thanks for the feedback. I'll take a look into it.

[2018-01-09 14:09] greysteil commented on #55
I'm going to close this as it's tracked in other issues. Thanks again for the detailed feedback @StephanBijzitter!

[2018-01-09 14:09] #55 closed

[2018-01-09 15:40] edkellena opened #72 "Provide option to configure format of branch name"
Hey,
It would be super awesome if we could specify some format for the branch name created.

Use-case:
Our CI system sees a PR raised and will run through a build process that generates a Docker image and tags it with the branch name.  Unfortunately Docker tags have more limited scope than Git branches...
`A tag name must be valid ASCII and may contain lowercase and uppercase letters, digits, unde

[2018-01-09 15:41] asbjornu commented on #33
@evenh: Sure! I just don't know where to start. If @greysteil could kickstart the process with a template of some sort (as he did for Maven), that would be awesome!

[2018-01-09 17:06] greysteil commented on #33
Very, very initial starter kit [here](https://github.com/dependabot/dependabot-core/pull/212). I can do a bit more on it, but the first decision is already clear: what package manager should we be supporting here...

(Let's move the discussion over to that PR.)

[2018-01-09 19:51] greysteil commented on #72
Thanks for the feedback @edkellena.

It's a totally legit request, but I'm not keen on changing things on Dependabot's side for a couple of reasons:
- branch name generation is already [quite complicated](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/branch_namer.rb) and I don't want to add more considerations to it
- there's no obvious place to put

[2018-01-09 19:52] greysteil commented on #16
This has been open for a while and hasn't got a lot of traction, so I'm going to close. I'll keep it in mind, though.

[2018-01-09 19:52] #16 closed

[2018-01-09 22:12] edkellena commented on #72
Fair enough 👍 I did wonder whether it would be a fruitless ask!   Would be happy to attempt a PR for the generation, but without the UI setting available, that would be a bit pointless.

I do have some very hacky workaround at the moment, which I'll try to unhack soon.  Cheers though!

[2018-01-09 23:24] greysteil commented on #72
Always worth asking! Thanks for understanding 🙂 .

[2018-01-09 23:24] #72 closed

[2018-01-11 15:10] olivierbuffon opened #73 "PR assignment + Reviewers"
It would be very nice to be able to automatically assign one or many people on the created PR.
In our case, a part of our team is responsible of the dependencies maintenance and it would be nice to automatically assign those people to the created PR.
IMO this should be a setting available per language (e.g: our frontend team manages the javascript dependencies when the backend team takes care of t

[2018-01-11 15:15] olivierbuffon opened #74 "Label per language"
You already create new PRs with the `dependencies` label, which is nice! But in addition I would suggest to add another label that would match the language behind those dependencies (e.g: ruby, javascript).
This would really help us to differentiate every PR (for now we're doing this operation manually which is a bit painful)

[2018-01-11 15:15] greysteil commented on #73
👍 . I'm thinking of adding this in a similar way to how PR labelling works (i.e., have Dependabot learn from your choices). How many people you'd want to assign (is it one person per PR, or many)?

[2018-01-11 15:51] olivierbuffon commented on #73
<img width="1014" alt="screen shot 2018-01-11 at 10 46 00 am" src="https://user-images.githubusercontent.com/112219/34833136-b704255a-f6bc-11e7-8074-93786522cb67.png">

Here is the perfect example on how we're currently using your system. For now here is the operation I do manually:
- Assign the three people of my team in charge of the backend dependencies maintenance
- Assign a reviewer on for th

[2018-01-11 15:53] greysteil commented on #73
Super helpful. I'll have a think about making that flow perfect. I'm bogged down with getting Elixir working for the next day or so, but will get to this. :octocat:

[2018-01-11 16:35] greysteil commented on #71
Just started digging into this - looks like the underlying issue is that Dependabot doesn't bump JS dependencies that specify a GitHub URL as their version (spec described [here](https://docs.npmjs.com/files/package.json#github-urls)).

We actually already handle git dependencies for Ruby, so handling them for JS shouldn't be too tricky. I'll take a look, but this is a medium-sized issue and might

[2018-01-12 11:12] greysteil commented on #71
FYI, I've started work on this over at https://github.com/dependabot/dependabot-core/pull/221.

[2018-01-14 09:56] sobolevn opened #75 "Gitlab support"
This is a big feature. Right now you only support GitHub, which is the biggest open-source community out there. But a lot of developers are using GitLab for private projects.

## Motivation

We ([wemake.services](https://github.com/wemake-services)) host all our open-source project on GitHub. But, most of our software projects are private and hosted on GitLab (both self-hosted and SaaS versions).

[2018-01-14 15:01] #71 closed

[2018-01-14 16:00] greysteil commented on #71
This is all working now - the repo you linked to doesn't have a `package-json.lock`, and the new versions for `tapmodo/Jcrop` and `jashkenas/backbone` are within the permitted range in your `package.json`, so Dependabot hasn't generated PRs for you, but the update logic is running fine.

Thanks for the feature request!

[2018-01-15 07:32] DeepDiver1975 commented on #71
Thanks a lot @greysteil

[2018-01-15 09:46] jalada commented on #22
Ruby 2.5.0 introduced some bugs in our code that required sub-dependent gems to be updated (specifically around `haml` and `ruby_parser`) but because `haml-rails` is the dependency, dependabot didn't notify us of them.

Just an extra datapoint for this feature; I think it would definitely be valuable.

[2018-01-15 09:57] DeepDiver1975 commented on #71
is package-lock required or should this work with yarn.lock as well?
I just added yarn.lock with one dep being outdated and I see no PR being created.

But maybe I'm just doing it wrong ;-)

[2018-01-15 10:26] greysteil commented on #71
A `yarn.lock` won't work with dependencies that specify a `semver` commit-ish, I don't think, since in my testing on Yarn 1.3.2 it seemed like Yarn didn't support that syntax. Otherwise you should be getting PR - let me know which repo and I'll take a look.

I have one or two exceptions from this morning I need to look into, too, which might be the culprit here...

[2018-01-15 10:31] DeepDiver1975 commented on #71
the yarn guys are working on this - the next version should support semver on the git url
https://github.com/yarnpkg/yarn/pull/5140

[2018-01-15 14:57] greysteil commented on #75
Thanks for the request. This is, indeed, a big one!

I'd love Dependabot to support GitLab (and Bitbucket). Doing so would require:
- Changes to `dependabot-core` to make all classes host-provider agnostic. This should be relatively straightforward - I estimate ~ 1 day's work
- Changes to `dependabot-frontend` to handle auth for GitLab (and Bitbucket), which is ~ 1 day's work
- Changes to `dependa

[2018-01-16 12:23] greysteil commented on #74
@olivierbuffon - apologies for the slow reply on this one. Have you already tried removing the `dependencies` label that Dependabot places on PRs and replacing it with your own (e.g., `dependendencies:ruby`)? If you do that then Dependabot will ask you if it should always use that label for the associated language (for the given repo).

We don't currently support doing the above for handling addit

[2018-01-16 12:44] olivierbuffon commented on #74
@greysteil that's smart but unfortunately not covering my case here since we're using multiple languages in the same repo (monolithic app ruby + javascript) so this mean I'll need multiple labels. Am I wrong?

[2018-01-17 10:49] greysteil commented on #35
This is live! Would love your feedback if you give it a try @sobolevn

[2018-01-17 10:49] #35 closed

[2018-01-17 13:51] sobolevn commented on #35
Right now I can say just one thing: it works!

<img width="755" alt="2018-01-17 16 50 26" src="https://user-images.githubusercontent.com/4660275/35045963-9e62ae06-fba6-11e7-9266-e1d64294588c.png">

[2018-01-20 17:21] greysteil commented on #74
Just updated the logic so Dependabot can handle creating multiple labels for you by default. If you say `@dependabot use these labels` on a PR with multiple labels then it will start using them in future for PRs to that repo, for that language.

Thanks for the feedback!

[2018-01-20 17:21] #74 closed

[2018-01-21 04:06] Kristinita opened #76 "[Feature request] Support vendoring for Python"
### 1. Request

It would be nice, if would be possible upgrade dependencies, not only version numbers in requirements file.

For example, it would be nice add an option, that bot will run command after each version changing in requirements file.

### 2. Steps to reproduce

I develop plugins for Sublime Text, written on Python. By technical reasons I need add dependencies to my repository.

In my [

[2018-01-21 10:22] greysteil commented on #76
Thanks for the feedback @Kristinita. This one will require quite a bit of work on our side, given the way we currently update Python files (it's using regexes, not shelling out to Python). I'd like to do it in future, though, so will keep it here as a reminder.

[2018-01-24 19:47] RohanNagar opened #77 "Github Commit Profile Image Missing"
I know this is a small thing, but I was wondering if this was a bug. If you see [here](https://github.com/RohanNagar/thunder/commits/master) the profile image of dependabot is the default Github image, and not the bot image.

Perhaps this is a side effect of doing the "Squash and Merge"?

[2018-01-24 20:02] greysteil commented on #77
Thanks for the feedback @RohanNagar.

@sbarnekow - one for someone from GitHub?

[2018-01-25 01:02] deivid-rodriguez commented on #51
@greysteil Sorry I never updated this. The other activeadmin collaborators (who are more actively collaborating than me) had no interest on adding this, so that's why we didn't add it.

Hopefully the changes you added will be useful to other projects, and I'll be able to convince AA folks one day :)

[2018-01-25 07:22] greysteil commented on #51
No worries - it was useful feedback regardless!

[2018-01-25 16:06] deivid-rodriguez opened #78 "Add custom commits to dependabot PRs"
Not sure if this is feasible, or whether it belongs in dependabot's scope, but I've missed something like this a few times so I thought I might propose it.

Many times I want to manually edit dependabot PR's. For example:

* If dependabot managed our `yarn.lock` file in [decidim](https://github.com/decidim/decidim), we would need to edit every PR to run `yarn run build:prod` and commit the result,

[2018-01-30 01:02] sbarnekow commented on #77
Thanks for the ping @greysteil 😄  Could you pass that on to support@github.com so it can get routed to people working on it?

[2018-01-30 08:31] greysteil commented on #77
Thanks @sbarnekow. Looks like this might be fixed now, though! 🎉

[2018-01-30 08:31] #77 closed

[2018-01-30 11:49] greysteil commented on #78
Sorry for the slow reply on this one - I've been mulling it over.

I think doing the above as a pipeline of commands to be run is definitely the way forward, but the way Dependabot is currently set up means it can't support them. In particular, because we pull down only the dependency files, rather than cloning repos, running any scripts and committing the results is likely to cause problems. It's

[2018-01-31 09:44] swelham opened #79 "Missing PR for deps updating from 0.x to 1.x"
We just added dependabot to an Elixir project that hasn't had an update for a while and we didn't get PR's for some of the outdated deps.

It looks like it only effect deps updating from 0.x to a 1.x. So for example we have `{:guardian, "~> 0.14.4"}` specified and we were expecting a PR to guardian 1.0

[2018-01-31 09:48] greysteil commented on #79
Thanks for the feedback. Can you let me know which repo? support@dependabot.com if you don't want to put the name in here.

(This could be due to Dependabot starting you out with only 5 PRs per update run, or it could be because other dependencies are blocking the update of `guardian`.)

[2018-01-31 09:55] swelham commented on #79
Ok, I will email the details over to you.

I didn't realise there was a PR limit per run. That would explain why we were a bit confused that after a couple of days use we were still getting PR's for deps that were update several days before.

Is this a temporary limit?

[2018-01-31 09:58] greysteil commented on #79
Ah, OK.

Lots of people found it overwhelming to get 20 PRs when they first added Dependabot, so we started limiting them to 5 per run initially. Once an update run has occurred that updated fewer than 5 dependencies (i.e., once you're in steady state) the limit is lifted (so if there's a crazy day when 10 of your dependencies get updated, you'll get 10 PRs).

Clearly we could make the above a bit

[2018-01-31 10:04] swelham commented on #79
Cool, that makes sense and I totally missed that info when looking at the website.

It would definitely be good to indicate when the PRs are being rate limited 👍

I have emailed you the repo details, would you like me to try bumping the via the dashboard and see if the dep comes through?

[2018-01-31 10:08] greysteil commented on #79
Go for it! I'm going to close this, but I just dropped you an email with details of a future Elixir improvement that *might* be the issue here (basically, Dependabot can't create PRs like [this one](https://github.com/alphagov/static/pull/1277) for Elixir yet).

[2018-01-31 10:08] #79 closed

[2018-01-31 10:10] swelham commented on #79
That's great, thanks for the quick response!

[2018-01-31 11:12] greysteil commented on #79
No worries. Have added that comment to rate-limited PRs now, so you'll see it if any of your repos are in that state :octocat:

[2018-01-31 12:04] swelham commented on #79
Awesome, thanks again 👍

[2018-01-31 15:41] deivid-rodriguez commented on #78
Thanks!

[2018-01-31 18:16] regentgal commented on #22
I would expect sub-dependent gems to be updated with the parent. The strict 1 gem per PR rule is nice for isolating changes but updating a gem without updating **_its_** explicitly stated dependencies (and theirs), you end up with the issues listed here by @rdunlop and @jalada. I think moving to a 1 parent gem and its sub-dependencies per PR rule would be a nice way to limit the number of PRs and

[2018-01-31 18:23] regentgal opened #80 "Ignore behavior question"
If dependabot submits a PR to move a gem from 1.1.1 to 2.0.0 and we decide to ignore that major version, will we still get another PR if the maintainers issue 1.2.0 or 1.1.2?

We're looking into using and have a number of older gem versions that we won't be able to update straight away for various reasons. But we still usually want the minor or patch updates.

[2018-01-31 18:30] greysteil commented on #80
Hey @regentgal.

At the moment the Dependabot always tries to update you to the latest resolvable version for your `Gemfile`/`mix.exs`/`composer.json`/etc.. Most of the time that will do what you want (most Rails 4.1 Gemfiles are blocked from updating to 5.2 by other dependencies, so will get 4.1.1 -> 4.1.2 PRs if/when they're released) but it's not perfect in the case where you've explicitly aske

[2018-01-31 18:33] greysteil commented on #22
Hey @regentgal, Dependabot *does* update sub-dependencies when it's updating a top-level dependency 🎉 . The issues above are because Dependabot never creates PRs for sub-dependencies on their own - in @jalada's case, for example, Dependabot would have included a `ruby_parser` update if it was updating `haml-rails`, it's just that `haml-rails` didn't need an update.

Hope that helps clarify!

[2018-01-31 19:45] rdunlop commented on #22
@greysteil If `haml-rails` doesn't need an update, but its dependent gem `ruby_parser` does need an update, I think that it would be great if we had a PR opened which was something like:
[code]

Which is the result when you run `bundle update haml-rails`. Even though `haml-rails` itself doesn't end up being changed, some other gems in my `Gemfile.lock` are updated.

I like this idea because it als

[2018-01-31 20:56] greysteil commented on #22
Interesting, thanks @rdunlop. Might see some movement on this one in the next couple of weeks as I’m hoping for some progress on #53 (meeting GutHub about it next week)

[2018-02-01 09:21] edkellena opened #81 "Support for AWS ECR"
Dependabot is complaining that it can't authenticate to our ECR docker registry and we should add the login details to the dashboard.  However AWS works differently and you need to run their CLI to generate your login creds (which are time-limited).
Something like `${aws ecr get-login --no-include-email --region $REGION}`

An interesting problem for you to solve.  We could add IAM credentials into

[2018-02-01 09:58] StephanBijzitter opened #82 "Please allow us to modify the commit message format"
After this pull request: https://github.com/dependabot/dependabot-core/pull/244

Our commitlint started to fail, since we do have it set up to expect `chore(dependencies): `. It's nice that you cater to the Angular project, but this is a breaking change for us. Now we can modify the commit message when squash merging, but that still leaves every pull request with a red cross.

To take a piece of c

[2018-02-01 11:20] StephanBijzitter commented on #82
I think the following config to `package.json` would be good:
[code]
This way the config can differ on a per-branch basis, which makes sure that changes to commit(lint) settings and the config will be kept in sync.

[2018-02-01 12:19] greysteil commented on #82
Totally agree this is a wanted feature. I’m on holiday with limited time for the next two weeks, but would love a PR.

I think the right approach here would be to edit [this file](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/message_builder.rb) to detect if “chore(dep...” was previously being used, and use that instead of build if so.

[2018-02-01 12:20] greysteil commented on #82
(Adding a confit file would need a lot more work, and I’m not convinced it’s a better approach.)

[2018-02-01 12:21] greysteil commented on #81
Sounds sensible. I’m on holiday but will take a proper look when I’m back.

[2018-02-01 14:19] rdunlop opened #83 "How can we schedule when the daily runs will be started?"
Recently (in the past ~2 weeks?) it appears that most of my repos are now being checked for new updates around 7am local time.

They used to be checked around 2am local time.

This is affecting my workflow because when I start work around 8am, my CI system is sometimes still busy working through all of the PRs (this was especially true today, because some of my "Monthly check" projects landed...an

[2018-02-01 15:48] greysteil commented on #83
I made a change recently that made Dependabot timezone aware, so it now creates PRs at 7am in whatever location your account has set (or the UK if it can’t figure it out).

I agree doing the update run a bit earlier would be a good thing, so I’m going to change it to 5am for everyone when I get some internet (I’m on holiday).

[2018-02-01 15:53] rdunlop commented on #83
Thanks @greysteil . Enjoy your holiday.

[2018-02-04 16:13] deivid-rodriguez commented on #82
I know this would be definitely more work but projects use lots of different commit message conventions, it'd be nice if dependabot played nice with everyone via configuration.

Ideally I'd like to be able to tell dependabot specifically the template for the commit message I want, like:

[code]

[2018-02-05 00:13] StephanBijzitter commented on #82
A template would also suit our needs. Haven't had time to look much into this yet, running into a bit of a deadline myself... :-)

[2018-02-06 18:37] RohanNagar opened #84 "User 0897726477 showing up as making commits"
I noticed today that all of dependabot's commits have changed to be from this user: https://github.com/0897726477.

This includes pull requests that have already been merged.

See for example https://github.com/RohanNagar/thunder/pull/59.

Thanks for all your work!

[2018-02-06 18:47] greysteil commented on #84
Thanks for the heads up. This is a GitHub issue - that account registered the support@dependabot.com email address with GitHub this morning, and even the email address wasn't verified (I forwarded the verification email to GitHub's support immediately), it is therefore being linked to from Dependabot commits.

I'm working with GitHub to get that fixed immediately (should be done in the next 10 min

[2018-02-06 19:17] RohanNagar commented on #84
Great thanks, it looks resolved!

[2018-02-06 19:17] #84 closed

[2018-02-09 19:25] RohanNagar opened #85 "Multiple PRs for same version"
Hi, I wanted to first say thank you for being so responsive to issues and for your active development. I work mainly with Java (Maven) and dependabot is the only dependency management that I have found that works with Java, which is awesome.

The way my project is set up is I have properties for each of my dependency versions. For example, I pull in a few dependencies from the AWS SDK that will al

[2018-02-09 20:27] greysteil commented on #85
Thanks for the feedback! I think that’s a super legitimate point, and I’m especially grateful for Java feedback while it’s in early testing.

Implementing this is likely to be a little tricky (because the other languages Dependabot supports generally don’t use properties) but should be totally doable. I’m on holiday for the next week, but will have a look at this when I next get a moment.

[2018-02-12 08:08] godban opened #86 "Peer dependecies"
Hey guys,
we are using dependabot for some time, thx for nice service. But we are missing one feature. Dependabot doesn't updates peer dependencies and we need to do it manually each time.

<img width="400" src="https://user-images.githubusercontent.com/2461970/36086802-a65409ac-0fce-11e8-9e31-3329b5ac5f6e.png"/>

Original issue https://github.com/dependabot/dependabot-core/issues/257#issuecomment

[2018-02-13 07:19] davidwessman opened #87 "Ruby: error when using a gem from a branch."
I first got a PR which bumped [Rails from 226406 to b2dbea](https://github.com/pensionsupplysning/web/pull/116) and when I merged this there was a new PR, bumping [Rails from 226406 to f763b2 ](https://github.com/pensionsupplysning/web/pull/118).

After merging the first PR I got conflicts in the second. When asking Dependabot to rebase it said that it was already up-to-date with master.

---

Btw

[2018-02-13 12:07] greysteil commented on #87
Thanks for the feedback. This definitely sounds like a bug - I’ll look into it as soon as I’m back from holiday (Friday). In the meantime, really glad to hear you’re enjoying Dependabot!

[2018-02-13 16:03] AronM28 commented on #37
Hi all.

We have a [monorepo](https://github.com/wmfs/tymly) and looking for something to keep everything up to date that supports Lerna, so we're very happy to see you're working on support for it! 😄

I had a little test of Dependabot and in the dashboard when I've added a couple of directories located in the 'packages' directory of our repo it is showing as 'Error bumping dependencies' yet PRs h

[2018-02-13 16:09] bennyn commented on #37
@AronM28: At [Wire](https://wire.com/) we are using **Dependabot** with a mono-repository managed by **Lerna**:
- https://github.com/wireapp/wire-web-packages

As you can see in our merged PRs, it works really well 🌞:
- https://github.com/wireapp/wire-web-packages/pulls?q=is%3Apr+is%3Aclosed+author%3Aapp%2Fdependabot

[2018-02-13 16:30] greysteil commented on #37
If there’s an error bumping any of your dependencies you’ll see that status (and I’ll get an error report on my side). I’ve been away for the last week (I’ll be back from holiday on Friday), so am a little behind on digging into those errors - sorry!

[2018-02-13 17:14] greysteil commented on #37
And thanks @bennyn!

[2018-02-14 09:16] toshimaru commented on #83
@greysteil I've understood Dependabot is timezone aware based on profile location timezone, but how about the repositories associated with organization?

Today, I added some organization repositories, but I'm not sure what the timezone is and when the update begins.

ref. https://twitter.com/dependabot/status/954057401468116993

[2018-02-14 17:29] greysteil commented on #83
If you don’t have a location set for the organisation then Dependabot will default to assuming you live in London (like me) and do the update at 5am GMT. If you have something weird like “The World” as your location then you’ll get whatever timezone the lat/lng returned by google for that location is in 🤷‍♂️.

I could probably make the above clearer / configurable if lots of people want it...!

[2018-02-15 00:02] toshimaru opened #88 "Update time support"
Following https://github.com/dependabot/feedback/issues/83#issuecomment-365683003

We can’t know when the update job will be started on the UI. It’d be great if we could see update time and the time is configurable.

I’m using dependabot for update and CircleCI for CI. The repos are private, so the CI container is limited. However, dependabot creates many pull requests and occupies my CI container

[2018-02-15 08:22] AronM28 commented on #37
After overloading Travis initially, I redone everything in a more patient manner and it looks good!   😄

Great work @greysteil !

[2018-02-15 18:00] greysteil commented on #37
@AronM28 - FYI, I got back from holiday today and hunted down that bug. It was caused by `hl-pg-client` being listed in the dependencies for [address-matcher](https://github.com/wmfs/tymly/blob/master/packages/address-matcher/package.json#L14) but not published on the [registry](http://registry.npmjs.org/hl-pg-client). The fix (in https://github.com/dependabot/dependabot-core/commit/eb414d0172d2b5

[2018-02-15 20:20] AronM28 commented on #37
@greysteil  Brilliant thanks a lot for the help! 👍   I had a feeling it was probably down to an unpublished package.   There's a few more which probably came about for that same reason.

It is something that has been noted on some other things, another pro for publishing all the things.

[2018-02-16 10:49] greysteil commented on #82
Just coming back to this.

@deivid-rodriguez - I've updated the logic in Dependabot core so it won't get confused about whether or not you're using semantic commit prefixes anymore (commit [here](https://github.com/dependabot/dependabot-core/commit/d969cf91429567e578896ed885fc62ba6318aeca)). That should mean that you get the commit message you want (which looks like it's the format Dependabot was

[2018-02-16 10:55] StephanBijzitter commented on #82
It's not important, `build` will pass our linter just fine. It's just the semantics of the word that's a bit iffy for me.

[2018-02-16 10:57] deivid-rodriguez commented on #82
@greysteil That's great. If dependabot is smart enough to figure out the style I use, that's of course good enough! :+1:.

[2018-02-16 11:15] greysteil commented on #82
Cool, thanks guys. In that case I'm going to close this for now, but I'm happy to revisit later.

@StephanBijzitter - I know what you mean about the semantics, but `build` is what Angular are [using themselves](https://github.com/angular/angular/commits/master/package.json), so think it's the one to go for. (AngularJS is still using `chore`, but I'm going to put in a PR to see whether that's delib

[2018-02-16 11:15] #82 closed

[2018-02-16 16:49] greysteil commented on #86
Thanks for porting this across @godban. I'm totally up for this - I need to dig into the specifics, and have a bunch on my plate, but am 100% 👍 in principle.

[2018-02-16 18:08] greysteil commented on #87
Just dug into this and discovered a subtle race condition in Dependabot (and possibly a bug in GitHub). It's fixed now (on the Dependabot side), but FYI, here's what happened:
- **2018-02-13 02:14:35** Dependabot created [PR 1](https://github.com/pensionsupplysning/web/pull/116) to update Rails
- **2018-02-13 06:45:42** Dependabot started a new update run, basing PRs off the latest commit at this

[2018-02-16 18:08] #87 closed

[2018-02-16 23:44] greysteil commented on #85
Spent a few hours working on this today, and it's done! 🎉

It was quite a big change, so there might be some teething issues, but the flow is much better now: Dependabot will create a single PR when it's updating a property.

[2018-02-16 23:44] #85 closed

[2018-02-17 07:12] RohanNagar commented on #85
Wow thanks for the quick turnaround @greysteil! Just tested it and it worked perfectly in RohanNagar/thunder#86!

[2018-02-17 09:49] greysteil commented on #85
Awesome! Just updated Dependabot's Java support to beta off the back of this - https://dependabot.com/blog/java-support-is-getting-better. 🎉

[2018-02-19 08:02] mtsmfm opened #89 "Throttle PR submission"
Hi dependabot team,

We're using premium plan and we really love dependabot ❤️
It really helps us a lot!

However, we're facing CI queue congestion problem because dependabot sends a lot of PR at once.
Could you throttle PR submission?

[2018-02-19 11:07] greysteil commented on #89
Great to hear! We don't have a way to throttle PRs, but I can set what time they're created for you. Is there a time that your CI would otherwise be low volume?

[2018-02-20 08:08] mtsmfm commented on #89
@greysteil Can you set 0 AM UTC on every Sunday?

[2018-02-20 11:46] greysteil commented on #89
Frustratingly, weekly updates currently have to happen on a Monday (UTC-time), so I can set you any time between 9 AM JST Monday to 9AM JST Tuesday.

(I'm not happy with that constraint, and want to make some changes so I can at least offer you 0AM JST to 23:59PM JST, but it will require some code changes and I'd rather get a temporary fix for you deployed in the meantime.)

[2018-02-20 12:19] greysteil commented on #89
Done. Closing, but I'll keep working on making Dependabot better on this.

:octocat:

[2018-02-20 12:19] #89 closed

[2018-02-20 13:59] DeepDiver1975 opened #90 "Multi branch support not properly working"
THX a lot for adding https://github.com/dependabot/feedback/issues/64

After some weeks of working with it I have the feeling that some updates are only applied to one branch and not to all.

Example:
This PR properly bumped the version of on dependency on the branch stable10 - https://github.com/owncloud/core/pull/30212

We never did see this change on the master branch.

Can you please have a lo

[2018-02-20 14:01] greysteil commented on #90
This is definitely bust - it's a problem with the way Dependabot creates PRs (it exits early if the branch name already exists, which it will if you're doing the same update for two different branches). I'm going to take a look at getting it fixed up today.

[2018-02-20 15:01] greysteil commented on #90
OK, this should all be working now, courtesy of https://github.com/dependabot/dependabot-core/commit/422822b6dfcfea02123f184273ad09ae67bdda25. Let me know if you run into any issues - it's well tested, but you're the only folks using it and I can imagine other areas it might interact with (I just fixed up Dependabot's branch-deleting logic to take it into account, for example).

[2018-02-20 15:01] #90 closed

[2018-02-20 15:17] greysteil commented on #80
A quick update on this one: I just shipped the option to only receive lockfile updates (blog post [here](https://dependabot.com/blog/lockfile-only-updates)). If you've got a Gemfile that only locks the major version on a few things then that *could* be a good option for you to solve the above - it means Dependabot will always honour the requirements specified in your Gemfile, so if you've got `< 2

[2018-02-20 21:59] WyriHaximus opened #91 "An API"
An API to add/list/delete repositories. I have a ton of open source packages I like to bulk add them though an API instead of doing 100+ packages through the webUI :zipper_mouth_face: .

[2018-02-20 22:09] RohanNagar opened #92 "Swift (CocoaPods) support"
Hi there! I know the Dependabot team is pretty swamped with existing issues, but I was wondering if Swift support (using CocoaPods) is something that you would like to eventually support.

I would love to try to help implement this if there is interest.

Thanks!

[2018-02-20 23:37] greysteil commented on #92
Well, there's this ancient PR I wrote which pretty much works, but has a few teething issues: https://github.com/dependabot/dependabot-core/pull/24.

I'd want [this line](https://github.com/CocoaPods/CocoaPods/blob/master/cocoapods.gemspec#L44) removed from CocoaPods before resurrecting that PR (which will happen eventually - once few enough users are using old Ruby version). I also have some conc

[2018-02-20 23:39] greysteil commented on #91
Thanks for the request! Adding an API is a bit heavy duty for this, given that it's the first time I've received the request, but if you email the full repo names (account/name format) and the setup you'd like for each one then I'll read whatever pseudo-code you send over and convert it to something I can run in a console on our side 😄.

[2018-02-21 11:36] greysteil commented on #61
Just figured out a robust way to do this for JS and pushed it in https://github.com/dependabot/dependabot-core/commit/127f3409a1ae5e83a4cc3b9d6c54cb784c521b25. Dependabot will now reliably identify whether a JS repo is an application or a library, and adjust its requirements accordingly (i.e., keep them loose for libraries and tight for applications).

🎉

[2018-02-21 11:36] #61 closed

[2018-02-21 11:58] #80 closed

[2018-02-21 21:15] WyriHaximus commented on #91
I'll compile and list and email it to the support email address later today 👍 .

[2018-02-22 01:48] #91 closed

[2018-02-22 11:09] toshimaru commented on #88
Is it planning to be released??

I currently configure the update monthly to prevent it from bumping up automatically.

[2018-02-23 00:58] greysteil commented on #88
I haven't had a chance to make the general changes yet (adding a UI), but if you'd like me to update the time Dependabot runs on your account manually I can do that for you - what time would be best?

[2018-02-23 07:43] toshimaru commented on #88
@greysteil
Thanks :)
I've sent time change request to the support email address( support@dependabot.com ).

[2018-02-23 11:24] greysteil commented on #88
Great - I've manually updated your account.

[2018-02-26 03:02] toshimaru opened #93 "Make auto-rebasing a setting, set at account level (to reduce CI load)"
Once a Dependabot Pull-Request is merged, another Dependabot PRs are automatically rebased.
Can I disable the auto-rebase feature?

[2018-02-26 07:45] sobolevn opened #94 "Wrong "Changelog" link"
Today I have received this PR from dependabot: https://github.com/wemake-services/wemake-django-template/pull/220

Everything is fine except the `Changelog` link. It links to the https://github.com/zheller/flake8-quotes/blob/master/release.sh for some reason.

[2018-02-26 08:52] greysteil commented on #94
Oops! Thanks for the heads up - fixed in https://github.com/dependabot/dependabot-core/commit/ab193cf7211d1cd0c1fb25b2a787245bddce68c0. 🎉

[2018-02-26 08:52] #94 closed

[2018-02-26 11:53] olleolleolle opened #95 "sign-up: How do I choose GitHub Organization?"
I'm a GitHub user connected to several GitHub Organizations.

When I clicked "Join" I got placed in one of the orgs without any interstitial choice step.

Now, the org picked for me was not the one I need to use.

- Can I change it?
- Can I get to choose which one to connect my account to?
- Can I have more than one?

[2018-02-26 12:00] greysteil commented on #95
Prefix: this is a bit painful, and it's on the GitHub side so not something we can change.

Possible solution:
- Log into your [Dependabot dashboard](https://app.dependabot.com), click on the drop-down in the top right, and then click "Add account" then you'll be taken to a GitHub screen
- From there, scroll to the bottom, select the setup you want, and click "Try free..." / "Install it for free".

[2018-02-26 12:05] olleolleolle commented on #95
@greysteil Let's see if I am lucky as I go try this _again_. Thanks for responding.

[2018-02-26 12:06] greysteil commented on #95
🤞, and sorry it's such a pain. Working with GitHub to try and improve it.

[2018-02-26 12:07] greysteil commented on #95
Hmmm, I've just seen that access bug again, and am wondering if it's specific to this case...

[2018-02-26 12:09] olleolleolle commented on #95
(I now located the relevant place to pick Org, and have come into it, instead of coming into that other FOSS org. Currently learning to pick Open Source projects - non-private, for learning to use this thing.)

[2018-02-26 12:22] olleolleolle commented on #95
@greysteil My question has been answered, and I need to further assistance on this.

I will close this issue, and wish you good luck!

[2018-02-26 12:22] #95 closed

[2018-02-26 16:54] greysteil commented on #93
We don't have an option to disable auto-rebases at the moment. I'm guessing you'd like to turn them off because they're placing extra load on your CI?

[2018-02-26 18:06] plata opened #96 "exclude alpha/beta (Maven?)"
Is it possible to configure dependabot such that only updates to stable versions are show? If not, would be great to have that option.

We have a suggested update to beta here: PhoenicisOrg/POL-POM-5#1178

[2018-02-26 18:10] greysteil commented on #96
Ooh, that's no good. For other languages Dependabot will only suggest you update to a beta if you're already on an alpha. I'll get that functionality implemented for Java tonight / tomorrow.

[2018-02-26 18:27] greysteil commented on #96
Fixed in https://github.com/dependabot/dependabot-core/commit/6430fc1c13bb42c011675cf998f2a8f09f301976, which is deploying now. Thanks for the feedback!

[2018-02-26 18:27] #96 closed

[2018-02-26 18:45] plata commented on #96
Wow, that was fast!

[2018-02-27 02:07] toshimaru commented on #93
@greysteil Yes, that's right. 💡  We have some PRs created by Dependabot, but if all PRs update at the same time, CI queues will be clogged.

[2018-02-27 10:46] greysteil commented on #93
Interesting. We try to be as careful as possible to only do the rebases when they're needed, but it's not perfect and I can definitely see the case for making this a setting. I'll have a think about where it can fit into our UI and add it this week.

[2018-02-27 11:15] DeividasK commented on #93
@greysteil we are having this issue as well. To give you more context, I've had 14 PRs opened for dep upgrades in 2 days. If I merge a single PR, almost all of the PRs get rebased and I get 13 extra builds. This is annoying everyone on the team to the point where they are saying that they don't want dependabot 💔

Hoewever, I'm really ❤️ this project, so looking forward to your fix.

[2018-02-27 13:41] greysteil commented on #93
OK, give me a couple of days and I'll get a setting for that. I think an option to auto-merge patch releases that the specs pass on might be a solution for some people, too, so will work on that next.

[2018-02-28 09:40] greysteil commented on #93
OK, backend for this is deployed, and I've updated both of your accounts to have automatic rebases switched off (you'll still be able to trigger them manually, of course). Frontend should go live today, but is waiting on review.

I'm going to close this, but if anyone sees it before the frontend is deployed and wants rebases switched off on their account just comment.

Thanks again for the feedbac

[2018-02-28 09:40] #93 closed

[2018-02-28 09:44] DeividasK commented on #93
@greysteil thanks for the quick update!

[2018-02-28 11:12] toshimaru commented on #93
Great. Thanks!

[2018-03-01 13:23] vmarkovtsev opened #97 "Sign off commits"
Would be nice to have the submitted Git commits to be [signed off](https://stackoverflow.com/questions/1962094/what-is-the-sign-off-feature-in-git-for). Some projects require PRs to be signed off and this feature would allow Dependabot's commits to pass that check.

[2018-03-01 14:58] greysteil commented on #97
Good idea - [done](https://github.com/dependabot/dependabot-core/commit/2f837809e431437e161c3cb86ae7ac3374fd0c85)!

[2018-03-01 14:58] #97 closed

[2018-03-01 22:14] shaneog opened #98 "Sign commits with GPG"
I want to enforce GitHub's new [Require signed commits](https://help.github.com/articles/enabling-required-commit-signing/) but Dependabot does not sign its commits.

It would be great to implement this feature!

[2018-03-01 22:16] greysteil commented on #98
We actually just started signing our commits! If you've had any PRs this week then they should have been signed 🎉

[2018-03-01 23:27] shaneog commented on #98
Wow, that was fast! 👍
Thank you, that's excellent news!

[2018-03-01 23:27] #98 closed

[2018-03-03 19:54] rdunlop opened #99 "Sometimes - Does not resolve conflict on Gemfile.lock"
I have a PR which has been open for a few months, and recently I merged a big change, which caused conflicts with this PR.

Now, this PR is not updating successfully.

https://github.com/tablexi/pechakucha-website/pull/277

I have said `"@dependabot rebase"` multiple times, I see it update the PR description to say it's doing so, but when it's done, it still conflicts with `develop`.

[2018-03-03 19:56] greysteil commented on #99
Thanks for the heads up - I’ll take a look.

[2018-03-03 21:32] greysteil commented on #99
It looks like Dependabot is getting in a muddle because there is now a new version of capybara available (2.18.0). When you ask for a rebase of this PR it notices that new version and tries to create a new PR for it, which would cause this PR to be closed. However, for some reason, it’s not creating that new PR. I’ll keep digging...

[2018-03-03 21:34] rdunlop commented on #99
I do like your support @greysteil .

[2018-03-03 21:57] greysteil commented on #99
Found the bug! Looks like Dependabot tried to create a PR for 2.18.0 on your repo at some point, but errored out during the process. As a result, you have a `dependabot/bundler/capybara-2.18.0` branch, but no Dependabot PR for that version.

I'm going to update [this logic](https://github.com/dependabot/dependabot-core/blob/master/lib/dependabot/pull_request_creator/github.rb#L35-L36) to fix that

[2018-03-03 22:37] greysteil commented on #99
Fixed. 🎉

[2018-03-03 22:37] #99 closed

[2018-03-05 15:00] tristanbes opened #101 "Batch add project"
Hello,

I got 200 private repository, and 180 of them has the same pattern (= they are js project).

I don't want to spend 2 days manually enable dependabot for each repositories. Would you please provide an UI option to batch enable dependabot for multiple repositories please ?

[2018-03-05 15:03] greysteil commented on #101
Super up for this, but it'll take me a while. In the meantime, if you email me the repo names I’ll add them from a console on my side.

[2018-03-06 21:28] greysteil commented on #73
Apologies for the long silence on this one. I spent a bit of time thinking about it but didn't come up with anything great.

Then, today, I saw [this](https://blog.github.com/2017-07-06-introducing-code-owners/?utm_content=buffer3e3ed&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer). Does using the GitHub code owners feature fix this problem even better?

[2018-03-11 15:49] greysteil commented on #88
You can now set the time Dependabot runs on your account in your settings 🎉.

![image](https://user-images.githubusercontent.com/1144873/37255393-c0887328-2543-11e8-9798-36eb348a28ca.png)

[2018-03-11 15:49] #88 closed

[2018-03-13 00:27] toshimaru commented on #88
@greysteil Great feature. Thanks a lot! 🎉 💯

[2018-03-13 02:31] geonu opened #102 "Custom label"
We want adding our custom label by rule. like [this](https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63)

[2018-03-13 06:38] banyan opened #103 "Dependabot doesn't create correct diff of yarn.lock"
We've been using dependabot in one of a project and it doesn't create a correct diff for yarn.lock.
This is the PR from dependabot. It creates huge diff.

![image](https://user-images.githubusercontent.com/19625/37321733-02410224-26bd-11e8-904a-4d059fdc5bb1.png)

Using `yarn upgrade @types/enzyme` or `yarn add @types/enzyme` in local works as below. (expected diff) Although it seems like there is

[2018-03-13 08:33] greysteil commented on #102
No problem! If you comment `@dependabot use this label` or `@dependabot use these labels` on a Dependabot PR that's labeled the way you want it, Dependabot will start using those labels for PRs of that type. Will that do what you need?

[2018-03-13 08:35] greysteil commented on #103
Thanks for the feedback - I was wondering if anyone would get in touch about this.

Dependabot is doing an additional de-duping run on your `yarn.lock`, to compensate for Yarn itself not doing it. That will be speeding up your `yarn install` and meaning your packages take up less space, but it's slightly unexpected.

I'll update the behaviour on our side so it only de-dupes the individual dependen

[2018-03-13 08:42] greysteil commented on #102
Or are you saying you'd like Dependabot to automatically label the status of it's PRs? I'm not sure we've got enough information to do that, but if you can give me some examples I'll have a think about it.

[2018-03-13 08:58] greysteil commented on #103
Fix is deploying now. Thanks again.

[2018-03-13 08:58] #103 closed

[2018-03-13 09:03] banyan commented on #103
Thanks for the quick fix and also explanation of the background!

[2018-03-13 09:22] novemberborn opened #104 "Escape @-mentions in release notes and commit summaries"
Many projects mention contributors in their release notes, some even in commit summaries. Since they're included in the pull requests this means these contributors are notified by GitHub, which is rather annoying. Could you escape these so they do link to the GitHub profile, but GitHub won't send notifications?

Example: https://github.com/y1ngyang/bigfive-web/pull/10

It doesn't look like `bot` u

[2018-03-13 09:25] geonu commented on #102
@greysteil oh.. thank you ! :) 👍

[2018-03-13 09:25] #102 closed

[2018-03-13 09:27] greysteil commented on #104
Good shout - will do!

[2018-03-13 10:22] greysteil commented on #104
Just pushed [this fix](https://github.com/dependabot/dependabot-core/commit/875f481c41086634d93b7585ca383ed4c58b1182). Sorry about that!

[2018-03-13 10:22] #104 closed

[2018-03-13 10:41] novemberborn commented on #104
Wow, thanks for the rapid turnaround @greysteil!

[2018-03-15 18:33] bsedat opened #105 "Support for non-standard Dockerfile names"
We build a few flavors of a docker image from a single repository using multiple Dockerfiles, so it would be nice to be able to customize the name of the Dockerfile that should be updated.

[2018-03-15 18:35] greysteil commented on #105
Definitely :+1: on this - I’ll have a look at adding an option to specify the filename in the next couple of days.

[2018-03-16 06:43] Incognito opened #106 "Auto-merge minor and Patch"
For some know stable and commonly used projects we merge once it's green in ci.

For example, typescript types, lodash, awssdk, etc...

However I run dependant on nearly 20 repos and my day usually includes a stage where I just merge all of these things because they updated so often

Can I whitelist deps that can auto-merge? Not sure what to do with regards to the approval process but at least tha

[2018-03-16 08:26] fertapric opened #107 "Support for Hex.pm private packages"
Dependabot seems to not work when the `mix.exs` file of an Elixir project contains private packages (i.e. `{:my_private_package, "~> 1.0", organization: "acme"}`). [Private packages have been officially released quite recently (after some months of beta)](https://hex.pm/blog/organizations-going-live). It would be nice if an organization key could be configured in the "Config variables" settings.

[2018-03-16 09:03] greysteil commented on #106
Thanks for the feedback! Have you seen the auto-merge options I added last week? There's a blog post [here](https://dependabot.com/blog/automatic-pull-request-merging).

In future I'd like to expand this to allow you to specify particular dependencies for automerging, but perhaps not for a little while.

[2018-03-16 09:25] greysteil commented on #107
Totally 👍 on adding this, and it looks pretty straightforward. I'll have a go now and get back to you.

[2018-03-16 10:05] greysteil commented on #107
@stevedomin can I get your help with this one? It looks to me like the hex method we want to piggy-back off of is [here](https://github.com/hexpm/hex/blob/f778cf542135bad733b9a964c67f1fd0cabb7216/lib/mix/tasks/hex.ex#L142-L155) and I've created a starter branch [here](https://github.com/dependabot/dependabot-core/pull/311).

[2018-03-16 10:06] Incognito commented on #106
Thanks @greysteil great feature, I didn't see it but I'm going to turn it on.

Thanks from me and my team!

[2018-03-16 10:06] #106 closed

[2018-03-16 11:15] greysteil commented on #107
I've added a backend and frontend to the Dependabot app, so it's just the PR mentioned above that needs finishing for this to all work. Let me know if/when you have a chance to look at it @stevedomin.

Thanks for the feedback @fertapric.

[2018-03-19 17:44] greysteil commented on #16
This is now an option! You can choose the day of the week that weekly updates happen on from the setting tab in your Dependabot dashboard. Use the menu in the top right to get there.

Thanks for your patience on this one!

[2018-03-21 03:42] mydearxym commented on #49
+1

[2018-03-21 15:36] IvanGoncharov opened #108 "PRs and issues are getting polluted with long list of references."
Every PR or issue which was mentioned under `Commits` or `Release notes` is getting polluted with a long list of references. For example here is my PR to `graphql-js`:
https://github.com/graphql/graphql-js/pull/1267
![image](https://user-images.githubusercontent.com/8336157/37719460-b96c7c14-2d2d-11e8-86c4-7127c8c7e90b.png)
-------------------
**And this list will become longer with every new repo

[2018-03-21 16:31] greysteil commented on #108
Ah man, sorry about that!

I'll have a look at whether Dependabot can continue to include the PR links without GitHub creating those references. If not, I'll drop the references from the PR links.

[2018-03-21 16:44] greysteil opened #109 "Testing cross-referencing"
<a href="#">Testing</a>

[2018-03-21 16:45] greysteil commented on #109
<a href="https://github.com/dependabot/dependabot-core/pull/314">Testing more</a>

[2018-03-21 16:45] #109 closed

[2018-03-21 16:46] greysteil opened #110 "Testing cross-referencing again"
<a href="https://github.com/dependabot/dependabot-core/pull/314#no-ref">Hello</a>

[2018-03-21 16:46] #110 closed

[2018-03-21 16:47] greysteil opened #111 "Even more testing"
<a href="https://github.com/dependabot/dependabot-core/pull/314" rel="nofollow">Testing</a>

[2018-03-21 16:48] #111 closed

[2018-03-21 16:49] greysteil opened #112 "Testing some more"
<a href="https://github.com/dependabot/dependabot-core/pull/314#1231">More testing</a>

[2018-03-21 16:49] #112 closed

[2018-03-22 09:26] greysteil commented on #108
Bad news from GitHub: there's no way to suppress references (although they think it's a good idea and are adding it to their feature request tracker).

In the meantime, I'm going to remove the links from Dependabot PRs. That's sad, but better than polluting library issues / PRs with long lists of references.

Cc @bkeepers - I don't suppose this will affect anything you're doing with Probot Brandon

[2018-03-22 11:10] IvanGoncharov commented on #108
@greysteil Just as an idea you can set up `github-ref.dependabot.com` to redirect to `github.com` and use this proxy inside you changelog, like this:
https://github-ref.dependabot.com/graphql/graphql-js/pull/1267

I didn't try it so I'm not 100% sure that GitHub doesn't track redirects from references.

[2018-03-22 11:11] greysteil commented on #108
Exactly what I'm working on right now!

[2018-03-22 13:35] greysteil commented on #108
FYI, I've just deployed a fix for this ([here](https://github.com/dependabot/dependabot-core/commit/2bd343b0ef8638ff15914af155c96db0b6bd231a)). Apologies again, and thanks for the feedback.

Unfortunately there's no way to go back and remove the old cross-references (they stay there even if the link is deleted from the original PR), so they'll just have to remain as a reminder of our mistake. 😳

[2018-03-26 15:38] olivierbuffon commented on #73
Sorry for the delay! Yeah you're absolutely right, it works perfectly in my case! Thanks :)

[2018-03-27 14:09] rdunlop commented on #22
@greysteil #53 appears to be focusing on updating sub-gems which have security alerts from github.

I agree that that's valuable work, but I still would like to have other sub-gems updated through automatic means if possible.

If we were to concentrate on security warnings as the goal for doing gem updates, here's some thoughts:
- Keeping gems updated, means that when a security-warning comes up,

[2018-03-27 14:17] greysteil commented on #22
👍. At this point it would be really straightforward for me to add a setting for this, so I'll do that this week.

[2018-03-29 07:49] ybiquitous opened #113 "Auto maintainance of package-lock.json"
Hi.

Running the `npm install` command after merging several pull requests may cause `package-lock.json` to be updated.

For example , this is a diff in pull request to bump `@types/react` package.

`package-lock.json`:

[code]

Then, `npm install` run:

[code]

Can you such `package-lock.json` updates automatically by dependabot?

For example, run `npm install` after merging always, then open a p

[2018-03-29 07:50] greysteil commented on #113
Thanks for the heads up - I'll take a look. Which version of npm are you running?

[2018-03-29 07:52] ybiquitous commented on #113
Versions:

- `npm`: `5.8.0`
- `node`: `9.10.0`

Thanks a quick response!

[2018-03-29 08:00] greysteil commented on #113
👍, and don't thank me until I've fixed it! 😉

[2018-03-29 23:13] greysteil commented on #113
I think this should now be fixed 🎉. Please let me know if you see it again, though.

[2018-03-29 23:13] #113 closed

[2018-03-30 02:08] ybiquitous commented on #113
Thank you very much! 😄 👍

[2018-03-30 20:39] greysteil commented on #22
@rdunlop - I've just shipped the backend for this. If you ping me an email on support@dependabot.com with the repos you'd like it set up on I'll do that now (same goes for anyone else who would like to receive individual PRs for sub-dependencies.

Assuming all goes well I'll add a front-end for this available to everyone in the next couple of weeks.

[2018-03-31 10:24] SuperSandro2000 opened #114 "Fail with install_if in Gemfile"
Dependabot fails with ``install_if`` in your Gemfile.
Example:
[code]
It would be quite convenient if Dependabot would understand that basic bundler code or just ignore it instead of failing.

[2018-03-31 10:35] greysteil commented on #114
Thanks for the feedback, I’ll take a look.

[2018-03-31 15:15] greysteil commented on #114
This was caused by Dependabot's sanitizing of `require_relative` (fixed [here](https://github.com/dependabot/dependabot-core/commit/fb1726e87226c32e0786f417bd2241199f252a3f)) and of `Canuby::Version` (fixed [here](https://github.com/dependabot/dependabot-core/commit/bbe8df4bb481e34664986e0ceae0b5f28091df5c)).

@SuperSandro2000 - in future please reconsidered your phrasing of lines like "basic bund

[2018-03-31 15:15] #114 closed

[2018-03-31 15:41] SuperSandro2000 commented on #114
Thanks for the fast fix!
This is my first gem so I am still learning. Switched to standard bundler code style a couple hours ago. I followed the basic rubygems.org guide and it didn't mention anything about that.
And thanks for the kind words. I have still a lot of work todo. It is planned that Canuby replaces this rather ugly project https://github.com/modorganizer2/modorganizer-umbrella

[2018-03-31 15:52] SuperSandro2000 commented on #114
Sorry for the spam but I just found this on your profile https://github.com/CocoaPods/Molinillo. The connections in life. Crazy. The old project was build with networkx and really over engineered. And I need to say this: great support!

[2018-03-31 16:05] greysteil commented on #114
You're welcome! And yep, Molinillo is a great project. The algorithm is a little tricky to wrap your head around at first, but the `ARCHITECTURE.md` file in there does a good job of explaining what's going on.

[2018-03-31 19:57] cafferata commented on #75
Hi @greysteil, I think the concept of Dependabot is very good. I have not come across it before and I wanted to get started right away. Until I came to the conclusion that there is no Gitlab integration. The consequence? I can not actually test it properly.

I've read your above reaction (and the Indie Hackers blog post), and asked myself: _what would @greysteil need to spend more time on Dependab

[2018-04-02 12:23] bustikiller opened #115 "Limit the amount of open PRs"
It would be great if I could configure a maximum number of open PRs by Dependabot in a project. For example, if I have configured weekly updates and I have still 5 PRs to review, I would like to say "wait until I have reviewed (merged / closed) these PRs before opening new ones".

[2018-04-02 12:25] greysteil commented on #115
Thanks for the feedback - that sounds pretty sensible to me. I'll have a think about exactly we should implement it, but I totally buy that we can make Dependabot better for repos where review-time is the limiting factor.

[2018-04-02 17:09] RohanNagar opened #116 "PR closed when it shouldn't have been?"
Hello,

I was going through Dependabot's PRs this morning and something weird happened. The first PR I merged was RohanNagar/thunder#114, which updated a bunch of dependencies that share the same version number.

Once I merged that, I looked at RohanNagar/thunder#116 and found that Dependabot closed this without rebasing, saying "Looks like these dependencies are updatable in another way, so this

[2018-04-02 17:12] greysteil commented on #116
Hmmm, this does look like a bug. I'll look into it - thanks for reporting.

[2018-04-03 10:34] greysteil commented on #53
This is done! 🎉 https://dependabot.com/blog/automatically-respond-to-security-advisories

[2018-04-03 10:34] #53 closed

[2018-04-03 22:54] greysteil commented on #75
Thanks for these extremely motivating words @cafferata, and apologies for the delay getting back to you.

I've been spending a bit more time on Dependabot over the last few weeks, and adding GitLab support is rising up my priority list. There are a couple of things ahead of it (getting Java support out of beta and fleshing out our security advisory sources), but I should be able to prioritise this

[2018-04-04 03:01] gsmendoza opened #117 "Customize merge method"
Hi Dependabot!

It would be nice if we can customize the merge method when automatically merging PRs. GitHub offers three merge methods:

1. Create a merge commit
2. Squash and merge
3. Rebase and merge

For our team, we prefer to use "Rebase and merge" since it makes commits easy to follow.

Thanks for the great app!

[2018-04-04 06:30] greysteil commented on #117
Hey George,

Great suggestion, and you can do this from you account settings! If you select "settings" from the menu in the top right of your [dashboard](https://dependabot.com) then there's an option to have Dependabot not create merge commits.

I *think* squash and merge and rebase and merge are basically the same for Dependabot PRs, given that they're always a single commit, hence the two optio

[2018-04-04 06:30] #117 closed

[2018-04-04 06:37] gsmendoza commented on #117
Thanks for the quick response @greysteil. I didn't expect to find the configuration there :)

Anyway, I've unchecked the option on our account. Will let you know if we have any more questions.

[2018-04-04 06:37] greysteil commented on #117
Yeah, I really need to document where everything is / give the frontend and overhaul!

[2018-04-04 12:52] kirushik opened #118 "Support for Cargo Workspaces for Rust"
We at Parity use [Cargo Workspaces](https://doc.rust-lang.org/book/second-edition/ch14-03-cargo-workspaces.html) a lot.

So when we've added Dependabot to our [paritytech/jsonrpc](https://github.com/paritytech/jsonrpc/) repo, it turned out almost useless for us — since we can only select one of subprojects to check for dependencies update, and we want to have all of them covered.

I hope it would

[2018-04-04 12:53] greysteil commented on #118
Dependabot should already be doing that - did you try this today? I added support a couple of days after the initial Rust release.

[2018-04-04 13:15] greysteil commented on #118
These are the PRs I get on my fork, with Rust added at the root level.

I think we should add an error at repo-adding time if you try to add a leaf of a workspace (rather than the root) - would help avoid confusion like this, which is clearly my fault!

[2018-04-04 14:35] Turbo87 opened #119 "Unintended merge after rebase"
I am a little confused right now. We have setup dependabot for https://github.com/ember-template-lint/ember-cli-template-lint/ and it created a bunch of PRs. I've then told the bot to `@dependabot rebase` after fixing our broken CI, and after the rebase passed it started merging PRs automatically (e.g. https://github.com/ember-template-lint/ember-cli-template-lint/pull/304), even though the config

[2018-04-04 14:51] kirushik commented on #118
Oh, sorry, looks like I underestimate the gap between me clicking on the "Bump now" button in the Dependabot and the PRs appearing in the [paritytech/jsonrpc](https://github.com/paritytech/jsonrpc/pulls).

Everything works fine then, I'm closing this.

Thanks a ton!

[2018-04-04 14:51] #118 closed

[2018-04-04 14:59] Turbo87 commented on #119
looks like it might be related to moving the repo to another GitHub org. the timeline was roughly like this:

- install dependabot on repo (with automerge)
- dependabot opens PRs
- move repo to new GitHub org
- fix CI
- reinstall dependabot for new GitHub org (without automerge)
- `@dependabot rebase` on the existing PRs
- dependabot automerges PRs after rebase

[2018-04-04 17:05] greysteil commented on #119
Hmmm, that doesn't sound good. Let me take a look into this from my side.

[2018-04-05 11:27] tobybellwood opened #120 "Adding new dependencies to PR for Major version bump [PHP]"
Hi - thanks for the work on Dependabot, we've been putting it through it's paces over the last couple of weeks.

One behaviour I'm keen to understand is how a new Major version that introduces a brand new dependency would get PR'd

in https://github.com/tobybellwood/govcms-composer-test/blob/master/composer.json I currently have

The 3.0 release of this library introduced a brand-new dependency on

[2018-04-05 11:30] greysteil commented on #120
Thanks for getting in touch.

Dependabot will update the sub-dependencies of a dependency when it makes updates - it's only top-level dependencies that it creates separate PRs for. As such, the behaviour is (a), which I think is what you'd want?

[2018-04-05 11:32] tobybellwood opened #121 "Why does dependabot remove patches from composer.lock [php]"
Our project applies a number of patches (using cweagans/composer-patches)

When dependabot submits the PR, the composer.lock file has been stripped of the patches applied - is this a known behaviour?

e.g. can be observed in https://github.com/tobybellwood/govcms-composer-test/pull/2/files

[2018-04-05 11:33] greysteil commented on #121
That doesn't sound good - I'll take a look into it.

[2018-04-05 11:37] tobybellwood commented on #120
Wow - quick on the reply! I've tried bumping the repo (sorry!!), but can't get it to generate a PR for that module to demo.  This could be because b) is happening, or because I used ignore major on another version of the repo in my account - and the ignore has persisted for my username, not the repo? (https://github.com/tobybellwood/govcms-composer/pull/5)

[2018-04-05 11:38] greysteil commented on #120
It won't be the other ignore condition, but it could be that the new version won't resolve for some reason. Does the update work locally? If so I'll need to take a look at Dependabot's PHP resolution logic and check if it's missing something...

[2018-04-05 11:53] tobybellwood commented on #120
Thanks, it looks like the PRs have started flowing again. I'll keep an eye out, and try a dry-run in the morning.

[2018-04-05 11:56] greysteil commented on #120
👍

FYI, Dependbot is a bit slow at generating PHP pull requests (from clicking bump now to first PR) because resolution requires that it clones down all the dependencies. (Other package managers do the resolution based solely on metadata from the registry, but Composer doesn't work that way.)

[2018-04-05 11:56] #120 closed

[2018-04-05 12:38] greysteil commented on #121
OK, I think I know what's going on here:
- `composer-patches` works by subscribing to some `composer` install events.
- it can only do this after it's been installed. As a result, most people place it high up in their `composer.json`
- Dependabot doesn't actually do the install locally, so never runs `composer-patches`

Fix on my side is simple: I'll just add `composer-patches` as a Dependabot dep

[2018-04-05 18:59] cafferata commented on #75
@JCID will start with the first 5 projects and I expect that this is soon too small for our organization, after which we will go to the unlimited account. So, who is next? 👍

[2018-04-05 21:30] tsufeki opened #122 "PHP composer: dependabot wrongly proposed a downgrade"
Hi, I've got this PR: https://github.com/tsufeki/kayo-json-mapper/pull/1/files where dependabot suggests I should *downgrade* a requirement `^4.3 -> ^2.0`. I don't think this should happen.

Thank you.

[2018-04-05 21:48] greysteil commented on #122
It definitely shouldn't be doing that!

Dependabot finds things a bit harder when you don't have a lockfile committed, as it's trickier for it to figure out what versions you're using. It can definitely do better than this, though - I'll take a look

[2018-04-05 23:02] greysteil commented on #122
Thanks for this feedback. I've just pushed [this fix](https://github.com/dependabot/dependabot-core/commit/f4f217023f07177b3f28c3c902c3a201b4701c37), which uses your `composer.json` as a test fixture. I'll run it against your repo to ensure it works as soon as it's deployed, but I'm feeling confident enough to mark this is resolved.

Thanks again for the feedback!

[2018-04-05 23:02] #122 closed

[2018-04-06 08:14] christos opened #123 "Use Github Releases to infer Changelog"
I am testing dependabot and it just created a bump for `chartmogul-ruby` and the Changelog details came from the (rather outdated)`changelog.md` file.

The `chartmogul-ruby` gem actually has proper Github Releases with changes: https://github.com/chartmogul/chartmogul-ruby/releases

Releases should probably have priority over Changelog, or at least the bit should be intelligent enough to choose th

[2018-04-06 09:02] greysteil commented on #123
Thanks for the feedback. We actually do pull in the release notes, too, into a separate tab, but in this case it looks like there were no notes for the latest version. I’ll have a dig and see if we could have done better.

[2018-04-06 09:36] greysteil commented on #123
Digging into this a bit deeper, it looks like a slightly unfortunate situation. Dependabot was updating you from 1.1.5. to 1.1.7, but unfortunately there are no release notes for 1.1.7, no changelog entry for it, and 1.1.6 was yanked (and also has no details).

I don't think Dependabot could have done much better on that PR, but it could do better in general - if you'd been updating from 1.1.4, fo

[2018-04-06 18:48] tsufeki commented on #122
Thank you.

[2018-04-07 00:10] tobybellwood commented on #121
Cool - I'll work something out!

[2018-04-07 00:41] tobybellwood commented on #121
I've knocked one up at https://github.com/tobybellwood/patch-test (it's got an old release, and a couple of patches to apply).

Confirmed that Dependabot sees the 1.0.5 update and scrubs patches from the PR https://github.com/tobybellwood/patch-test/pull/1/files

[2018-04-08 07:04] tobybellwood opened #124 "Use of composer outdated to shortlist packages for update?"
I've been double checking how good dependabot has been at identifying our dependencies over at https://github.com/tobybellwood/govcms-composer-test and tracking it against what I was expecting on my local install using `composer outdated -D`(https://getcomposer.org/doc/03-cli.md#outdated).

For the record:

module|installed|latest|description
-----|-----|-----|-----
drupal/accessible\_forms|1.0.0-

[2018-04-08 12:14] jbreitbart opened #125 "golang support?"
Do you have any plans to support golang with dependabot? I know it is probably not the ideal time with dep / vgo thing going around, but maybe once this is sorted out?

[2018-04-08 12:34] greysteil commented on #125
Short answer: we're really keen to support golang and will definitely get to it in the next few months.

Long answer: we've been waiting for dependency management to settle in Go for a while. Until a few weeks ago we were getting excited about dep, and planning to add support for it imminently. Then the vgo thing happened, and we decided to hold off for a little longer. In the meantime we kicked o

[2018-04-09 14:36] greysteil commented on #121
OK, this should be fixed in [this commit](https://github.com/dependabot/dependabot-core/commit/cd57947dc3916cc7346f20ae4c2cf0e1d1ab8204). It's a little ugly (when I dug into it `composer-patches` was running scripts, which I can't allow on the Dependabot backend) but should do the job.

Can you look out for any accidental formatting changes to your `composer.lock` files in the next few PRs? I thin

[2018-04-09 14:36] #121 closed

[2018-04-09 14:58] greysteil commented on #124
OK, I've just had a dig into this and I think Dependabot is doing the right thing here:
- By default, Dependabot doesn't try to update subdependencies (I can turn that on for you if you'd like, though)
- The other dependencies on that list don't appear to be resolvable at their latest version. Try running `composer update drupal/date`, for example, and you'll find that composer can't install the 2

[2018-04-09 14:58] #124 closed

[2018-04-09 16:54] RohanNagar commented on #116
Bug was reproduced this morning: I just merged RohanNagar/thunder#125, and dependabot closed RohanNagar/thunder#124 with the same message, though those dependencies have not been updated on the master branch yet.

[2018-04-09 22:55] jbreitbart commented on #125
I am afraid I don't speak Ruby :smile:, but if you need someone to help you test it feel free to get in touch.

[2018-04-09 23:09] greysteil commented on #75
There are certainly some open questions on how GitLab will work, but high level I'm thinking:
- Ask for an API key, rather than using OAuth2
   - It doesn't cause problems if individuals leave a team
   - As far as I know it's how other applications do this
- Handle billing from within Dependabot
   - I've asked GitLab previously whether they have any intention to build a marketplace and they've s

[2018-04-10 09:59] tobybellwood commented on #124
FYI - I tracked down the problem with drupal/date - it requires drupal/date_api (one of the modules that it packages as a submodule, so updates automatically)...
https://cgit.drupalcode.org/date/tree/date.info?id=7.x-2.10#n3
[code]
Which means they both need to be updated separately at the same time, despite being packaged together 🤦‍♂️

[2018-04-10 10:03] greysteil commented on #124
Ack, that's a pain. It's the one thing Dependabot find really tough - situations where two dependencies have to be updated at the same time are fortunately quite rare, but when they do occur Dependabot gets stuck.

We've solved the above problem for Ruby by listening for resolution conflict errors and using them to guide what other dependencies to unlock, but it's *very* involved. I'm not up to do

[2018-04-10 17:54] greysteil commented on #116
Thanks Rohan. I've just figured out what this is - it's a backend change we made a couple of weeks ago that is causing some randomness on our side (the source of the problem is the ordering of dependencies in multi-dependency PRs).

The fix is a little complex and I'm pressed for time this evening, but I'll have a fix shipped tomorrow at the latest.

Thanks masses for reporting!

[2018-04-11 09:43] greysteil commented on #116
This should be fixed now - let me know if you see it again. 🎉

[2018-04-11 09:43] #116 closed

[2018-04-11 11:30] JacobEvelyn opened #126 "dependabot trying to downgrade gemspec dependency"
Hi there. Looks like I've got a similar issue to #122 but for a Ruby gem—see [this dependabot PR](https://github.com/JacobEvelyn/friends/pull/195/files). Let me know what I can do to help!

[2018-04-11 11:31] greysteil commented on #126
Uh oh, I'll take a look. Since the repo's open source it should be really easy for me to replicate, but I'll let you know if I have any trouble.

Thanks for reporting, and for giving Dependabot a try.

[2018-04-11 12:03] JacobEvelyn commented on #126
Thanks!

[2018-04-11 13:00] greysteil commented on #126
Should be fixed by https://github.com/dependabot/dependabot-core/commit/8ee9aae4e9dd03d8216899846030d7494ee7e752, which is deploying now.

[2018-04-11 13:11] greysteil commented on #126
Fix confirmed. Sorry about that, and thanks for adding Dependabot to friends. I remember reading about it on HackerNews month ago - great project!

[2018-04-11 13:11] #126 closed

[2018-04-11 14:09] RohanNagar commented on #116
Thanks @greysteil!

[2018-04-11 16:45] JacobEvelyn commented on #126
Thanks, I appreciate it @greysteil!

[2018-04-11 17:26] dschep opened #127 "Dependabot recommends updates to incompatible packages"
I have `flake8` and `pycodestyle` in my `requirements.txt` (generated from a `requirements.in` containing `flake8` but not `pycodestyle` using `pip-compile`)

Dependabot creates a PR (dschep/dependabot-test#1) for `pycodestyle==2.4.0` but flake8 depends on `pycodestyle >= 2.3.0, < 2.4.0`, so flake8 doesn't work after installing the new requirements.

Is there anyway for dependabot to guarantee the

[2018-04-12 11:15] haphut opened #128 "Compare Docker image digests before bumping"
Currently Dependabot seems to assume that e.g. [`node-9.11.1-alpine` is more recent than `node-9-alpine`](https://github.com/haphut/bessersmith/pull/18). I think it would be more useful if Dependabot would compare the Docker image digests of both the current and the suggested Docker tag before opening a pull request. If the digests are equal, the pull request should not be made.

[2018-04-12 12:03] greysteil commented on #128
That's a great shout. I'll take a look

[2018-04-13 09:45] bustikiller opened #129 "Display the number of outdated dependencies"
When a user has configured Dependabot to bump dependencies on a timely basis, there is no way to know how many dependency updates are left. I think it would be useful to know this number so that you can estimate when you will have everything up to date.

[2018-04-13 10:09] greysteil commented on #129
Good shout - I'll take a look at implementing. Shouldn't be too tricky.

[2018-04-16 05:28] davidwessman opened #130 "Markdown formatting breaking"
Hello, thank you for a great project!

When Bulma was update to 0.7.0 the release notes broke Dependabots own text.
Might be because Bulma did some bad things with their table and perhaps there is no way for Dependabot to handle that.

https://github.com/pensionsupplysning/web/pull/213

<img width="810" alt="screen shot 2018-04-16 at 07 28 11" src="https://user-images.githubusercontent.com/6763624

[2018-04-16 08:46] exactlyaron commented on #115
Similar to the above, the ability to configure the time at which dependabot bumps would be a nice feature.   😃

[2018-04-16 08:47] greysteil commented on #115
@exactlyaron - that ones already available 😄. If you got to "settings" from the menu in the top right of your Dependabot dashboard you can edit it from there.

[2018-04-16 08:50] exactlyaron commented on #37
Probably a long term nice to have but the ability to update package.json settings en masse would be nice.

For example, so with our monorepo I think there is 28 packages, so you'd need to manually change every setting for each individual one.  It would be nice to be able select all in the repo to set bump frequency or auto merge setting.   👍

[2018-04-16 08:52] exactlyaron commented on #115
That'll teach for me not clicking around enough!   Thanks @greysteil

[2018-04-16 09:45] greysteil commented on #130
Fixed in https://github.com/dependabot/dependabot-core/commit/571ed0152813af8f7241409ee47b5655276222b7, which is deploying now. Thanks again - this one's a big like whack-a-mole, so if you see anything similar again please do let me know!

[2018-04-16 09:45] #130 closed

[2018-04-16 18:02] davidwessman commented on #130
Amazing response time :+1:
I'll definitely get back to you if I find anything else :)

[2018-04-17 09:00] greysteil commented on #107
FYI, this will ship today. Sorry for the delay!

[2018-04-17 10:09] drewpterry opened #131 "Dependabot automerge doesn't work for some updates"
I enabled auto-merge functionality on all of my repos with the "all patches" or "minor updates" option selected.

Currently, it works some updates are merged automatically but some that I think should be merged automatically are not.

For example Dependabot threw a PR for:
`Bumps pry-doc from 0.13.3 to 0.13.4.`
with 100% compatibility and all tests passing.

Given my settings I would expect this t

[2018-04-17 10:15] greysteil commented on #107
Shipped! :shipit:

[2018-04-17 10:15] #107 closed

[2018-04-17 10:26] drewpterry opened #132 "Auto-merge feature does not work on all repos"
Thank you for this feature by the way I think it will be really useful.

Anyways, I have auto-merge functionality set on all my repos some with "all patches", some with "minor updates". However, only some of my repos actually have the proper dependencies PR's merged. For the remaining of them, auto-merge functionality doesn't seem to have any effect.

Maybe there is some github config error or som

[2018-04-17 10:26] greysteil commented on #131
FYI, I've just shipped an update to the frontend so that it reads `PRs to merge automatically (post 1.0.0)` when you enable automerging. I'll look at adding a note to the PR description, too.

Thanks for reporting this, and for using Dependabot!

[2018-04-17 10:26] #131 closed

[2018-04-17 10:27] greysteil commented on #132
Thanks for the feedback @drewpterry. I think this is a dup of #131?

[2018-04-17 10:34] drewpterry commented on #131
Got it! Thanks for the super quick response. I actually think I remember reading that note and I just forgot about it. Thanks for the clarification.

However, since we are generally using passing tests as the criteria for merging, it seems like that would extend to pre 1.0.0 versions as well (as long as your tests pass, it should be assumed safe to merge). You could probably make the same argument

[2018-04-17 10:36] greysteil commented on #131
Agreed, and I'm going to add a lot more options around automerging in the near future. A couple of people have suggested they'd only like the automerges to happen during working hours, for example.

Watch this space!

[2018-04-17 10:40] drewpterry commented on #132
This isn't actually a duplicate. We actually have over 10 repos and for the majority of them auto-merge doesn't seem to be working.

For example in one repo `Bumps dotenv-rails from 2.2.1 to 2.2.2.` was successfully auto-merged. However, in the majority of our repos that exact same update is not auto-merged. In those repos no dependencies are ever auto-merged.

[2018-04-17 10:41] greysteil commented on #132
Ah, OK, let me take a look into that!

[2018-04-17 10:48] fertapric commented on #107
Awesome! Thanks @greysteil!

[2018-04-17 11:03] greysteil commented on #107
You're welcome - keen to see Dependabot's Elixir support continue to improve. 🙂

[2018-04-17 11:52] greysteil commented on #132
What's the account I should be looking at? Feel free to email it over to support@dependabot.com.

[2018-04-19 16:42] christopherthielen opened #133 "[question] ignore package names or wildcards"
Some packages I want to keep at a specific version. I'd rather not receive PRs for these packages. Is it currently possible?

[2018-04-19 16:43] greysteil commented on #133
Absolutely - if you comment @dependabot ignore this dependency then Dependabot will close the PR and not bother you about that dependency again (unless you update it yourself). Will that work for you?

[2018-04-19 16:43] christopherthielen commented on #133
Answered: https://github.com/dependabot/dependabot-core/issues/353#issuecomment-382803114

[2018-04-19 16:43] #133 closed

[2018-04-20 09:19] wajeeha-khalid opened #134 "API error on signup"
I faced API error after i signed up via my github account.

<img width="1159" alt="screen shot 2018-04-20 at 2 18 20 pm" src="https://user-images.githubusercontent.com/6745069/39043042-cec43d10-44a5-11e8-9d85-dece0d80f360.png">

[2018-04-20 09:26] wajeeha-khalid commented on #134
Hey Greysteil, I did nothing but sign up via github account and this is the first screen that i saw.
I am using an account which has EdX organization public repo access so may be it picked that up by default.

[2018-04-20 09:30] greysteil commented on #134
Ah, that's interesting. On the Dependabot backend I've got a record of the EdX account, but not of your personal one. Did you click through from the GitHub marketplace to sign up, or from the Dependabot website?

(I'm determined to get to the bottom of this - it's been haunting me by very occasionally rearing its head!)

[2018-04-20 09:32] wajeeha-khalid commented on #134
Via Dependabot website

<img width="1126" alt="screen shot 2018-04-20 at 2 30 59 pm" src="https://user-images.githubusercontent.com/6745069/39043706-8a660e44-44a7-11e8-946d-00b4f17b24ce.png">

[2018-04-20 09:33] greysteil commented on #134
So I'm guessing you saw this screen:

![image](https://user-images.githubusercontent.com/1144873/39043800-3ec5c4c8-4486-11e8-84e2-3fd87038572e.png)

[2018-04-20 09:36] greysteil commented on #134
And then this one?

![image](https://user-images.githubusercontent.com/1144873/39043967-b6fe69b8-4486-11e8-88de-59c1576f39e2.png)

[2018-04-20 09:37] greysteil commented on #134
And then after that got dumped onto the page that served you an API error?

[2018-04-20 09:40] greysteil commented on #134
I can't replicate from my side, which is extremely frustrating.

Can you try visiting https://github.com/apps/dependabot and installing onto your account from there? I think that might fix things.

[2018-04-20 10:08] wajeeha-khalid commented on #134
Yes, that was the sequence of steps.
Sure; let me try this URL.

[2018-04-20 10:12] wajeeha-khalid commented on #134
yep installing via that app view worked and i am in.
Thanks @greysteil for quickly looking into it and unblocking me.

If you need any help from me for resolving the initial issue; feel free to contact.

[2018-04-20 10:14] greysteil commented on #134
Fab, thanks @wajeeha-khalid. I think I just saw an error on our side form one of your Python update runs, so I'll take a look into that 😭! Closing this for now.

[2018-04-20 10:14] #134 closed

[2018-04-24 06:51] wajeeha-khalid opened #135 "Python: unrecognised options in requirements.txt cause unknown error"
Bumping on dependabot does not create Pull Request for my repo.
How to i check status and also reason for why it is happening?

[2018-04-24 07:30] wajeeha-khalid commented on #134
@greysteil  did you get a chance to look into error for Python update?
I have logged it as a new issue here https://github.com/dependabot/feedback/issues/135

[2018-04-24 07:51] greysteil commented on #135
I'm taking a look now. We massively expanded our Java support yesterday, so that kept me a little busy!

[2018-04-24 07:54] wajeeha-khalid commented on #135
Sure; no problem :)
I will be waiting.

[2018-04-24 08:09] greysteil commented on #135
Could you let me know which version of `pip` are you using locally with this `requirements.txt` file? It looks like `--allow-external` might no longer a valid option in pip 10.

[2018-04-24 08:34] greysteil commented on #135
FYI, my code to improve the error is [here](https://github.com/dependabot/dependabot-core/commit/cdd7706e6092b5f3885dadc65a6cee071e0901f1) and is deploying now. It will mean Dependabot creates an issue on your repo when this happens, rather than internally erroring.

Can you let me know whether removing those lines is possible? Don't want to close this until I know it's resolved!

[2018-04-24 08:54] wajeeha-khalid commented on #135
Thanks @greysteil  for looking into it.
I have to see thoroughly to confirm if we can remove those lines.
I will have a look and then confirm.
Meanwhile, i have updated my repo with latest code (many new commits) since my last run was on older code.

I am going to run bump again with latest code and meanwhile i will be looking into Pillow library to resolve this run issue.

Will your fix for error

[2018-04-24 08:56] greysteil commented on #135
Should be, but the error message won't be hugely inspiring - we don't give details of the exact error that happened on the Dependabot side at the moment. (Although for Python we should - in other languages there are potential credential-sanitization issues, but not Python.)

[2018-04-24 09:00] wajeeha-khalid commented on #135
ah! ok and do you know if detailed error reporting for python is in your plan?

FYI i am using `pip 9.0.1`

[2018-04-24 09:04] greysteil commented on #135
It certainly is - just a case of when we can get to it. I'll take a quick scan of all errors of this type (requirement file parsing or evaluation) and see if there's any reason we can't start putting the detail in for that category now, at least.

[2018-04-24 09:09] wajeeha-khalid commented on #135
That would be great! thanks @greysteil
FYI, i am looking into if we can update `pip` to `version 10` and then remove those lines for `pillow`.
Will keep you posted too.

[2018-04-24 09:26] greysteil commented on #135
Took a look through and discovered there was nothing stopping us adding error details when it's resolvability that Dependabot struggled with. That change is deploying now and will be live in ~ 5 minutes.

Thanks for the push on this one!

[2018-04-25 13:04] Strikerrr opened #136 "General Feedback"
This is absolutely brilliant, and I will definitely keep using it on my projects. It works quickly, and when dependencies are updated I know about it straight away.

[2018-04-25 20:31] JeanMertz commented on #125
One more vote for Golang 👍 Honestly, looking at the number of projects out there already supporting Dep, I would go for that. It's the closest "production ready" package manager with a _somewhat_ official stamp of approval.

I suspect it'll be a while before all current Dep projects are migrated to the new vgo way-of-working anyway.

[2018-04-25 20:36] greysteil commented on #125
Thanks @JeanMertz, and that's my hunch, too.

[2018-04-27 05:53] ybiquitous opened #137 "Support npm@6 ?"
The other day [npm@6 was released](https://medium.com/npm-inc/announcing-npm-6-5d0b1799a905), is it already supported?

[2018-04-27 06:31] greysteil commented on #137
You bet - we added support same day 😎

[2018-04-27 06:31] #137 closed

[2018-04-27 06:32] ybiquitous commented on #137
Great! 🎉

[2018-04-27 10:38] greysteil commented on #135
Error details should be coming through now, so I'm going to close this. Were you able to upgrade to pip 10?

[2018-04-27 10:38] #135 closed

[2018-04-27 10:38] greysteil commented on #136
Thanks @Strikerrr, that's very kind! ❤️

[2018-04-27 10:38] #136 closed

[2018-04-27 15:41] greysteil commented on #1
This issue was moved to dependabot/dependabot-core#360

[2018-04-27 15:41] greysteil commented on #2
This issue was moved to dependabot/dependabot-core#361

[2018-04-27 15:41] greysteil commented on #3
This issue was moved to dependabot/dependabot-core#362